---
import Base from "../../../../layouts/Base.astro";
const title = "Debugging SQL query logic | Metabase Learn";
const description = "What to do when your query returns data that looks wrong.";
const seo = {
  title: "Debugging SQL query logic | Metabase Learn",
  description: "What to do when your query returns data that looks wrong.",
  canonical: "/learn/sql/debugging-sql/sql-logic",
  og: {
    title: "Debugging SQL query logic | Metabase Learn",
    description: "What to do when your query returns data that looks wrong.",
    image:
      "https://www.metabase.com/learn/images/debugging-sql/debugging-sql-query-logic-social.png",
    url: "https://www.metabase.com/learn/sql/debugging-sql/sql-logic",
    type: "article",
    site_name:
      "Metabase | Business Intelligence, Dashboards, and Data Visualization",
  },
  twitter: {
    site: "@metabase",
    title: "Debugging SQL query logic | Metabase Learn",
    description: "What to do when your query returns data that looks wrong.",
    card: "summary_large_image",
    image:
      "https://www.metabase.com/learn/images/debugging-sql/debugging-sql-query-logic-social.png",
    creator: "The Metabase Team",
  },
};
---

<Base {title} {description} {seo}>
  <div>
    <div class="bootstrap">
      <div class="learn blog-post MB-Page">
        <div id="main-navigation-content" class="learn-left-sidebar scrollable">
          <div class="docs-learn-toggler">
            <div class="hover-highlight"></div>
            <a href="/docs/latest/">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19.25 5.75C19.25 5.19772 18.8023 4.75 18.25 4.75H14C12.8954 4.75 12 5.64543 12 6.75V19.25L12.8284 18.4216C13.5786 17.6714 14.596 17.25 15.6569 17.25H18.25C18.8023 17.25 19.25 16.8023 19.25 16.25V5.75Z"
                  stroke="#8D93A5"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M4.75 5.75C4.75 5.19772 5.19772 4.75 5.75 4.75H10C11.1046 4.75 12 5.64543 12 6.75V19.25L11.1716 18.4216C10.4214 17.6714 9.40401 17.25 8.34315 17.25H5.75C5.19772 17.25 4.75 16.8023 4.75 16.25V5.75Z"
                  stroke="#8D93A5"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>

              <span>Docs</span>
            </a>

            <a href="/learn/" class="active">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 14.0929L20 9.42144L12 4.75L4 9.42144L12 14.0929ZM12 14.0929L17.4756 10.8957C18.196 12.8186 18.4005 14.4134 18.0667 16.45C15.8121 16.68 13.6864 17.6604 12 19.25C10.3138 17.6606 8.18852 16.6802 5.93422 16.45C5.60018 14.4134 5.80465 12.8185 6.52533 10.8957L12 14.0929Z"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M12.5 9.5C12.5 9.7761 12.2761 10 12 10C11.7239 10 11.5 9.7761 11.5 9.5C11.5 9.2239 11.7239 9 12 9C12.2761 9 12.5 9.2239 12.5 9.5Z"
                  stroke="#509EE3"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>

              <span>Learn</span>
            </a>
          </div>

          <h5>Courses</h5>

          <ul>
            <li class="">
              <a href="/learn/metabase-basics/getting-started/index-2" class="">
                Getting started

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/learn/metabase-basics/overview/concepts" class="">
                    Metabase concepts
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/find-data"
                    class=""
                  >
                    Find data
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/ask-a-question"
                    class=""
                  >
                    Ask a question
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/create-dashboards"
                    class=""
                  >
                    Create a dashboard
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/explore-data"
                    class=""
                  >
                    Explore dashboards
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/filter"
                    class=""
                  >
                    Filter and limit data
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/summarize"
                    class=""
                  >
                    Summarize data
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/custom-columns"
                    class=""
                  >
                    Add custom columns
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/dashboard-filters"
                    class=""
                  >
                    Use dashboard filters
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/models"
                    class=""
                  >
                    Build models
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <h5>Metabase Basics</h5>

          <ul>
            <li class="">
              <a href="/learn/metabase-basics/overview/" class="">
                Metabase overview

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/metabase-basics/overview/tour-of-metabase"
                    class=""
                  >
                    A tour of Metabase
                  </a>
                </li>

                <li class="">
                  <a href="/learn/metabase-basics/overview/next-steps" class="">
                    Advanced Metabase features for data analysts
                  </a>
                </li>

                <li class="">
                  <a href="/learn/metabase-basics/overview/beyond-bi" class="">
                    Beyond BI: other problems you can solve with Metabase
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a
                href="/learn/metabase-basics/querying-and-dashboards/"
                class=""
              >
                Querying and dashboards

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/questions"
                    class=""
                  >
                    Asking questions

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/drill-through"
                        class=""
                      >
                        Create interactive charts
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/custom-expressions"
                        class=""
                      >
                        Custom expressions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/joins-in-metabase"
                        class=""
                      >
                        Joins in Metabase
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/cross-db-joins"
                        class=""
                      >
                        Combining data from different databases
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/multi-aggregation"
                        class=""
                      >
                        Multi-level aggregation
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/searching-tables"
                        class=""
                      >
                        Searching in tables
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/formatting"
                        class=""
                      >
                        Cleaning and formatting text
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/visualization"
                    class=""
                  >
                    Visualizing data

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/visualization/chart-guide"
                        class=""
                      >
                        Which chart should you use?
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/visualization/line-charts"
                        class=""
                      >
                        Guide to line charts
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/visualization/bar-charts"
                        class=""
                      >
                        Master the bar chart
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/visualization/histograms"
                        class=""
                      >
                        Histograms
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/dashboards"
                    class=""
                  >
                    Building dashboards

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/bi-dashboard-best-practices"
                        class=""
                      >
                        BI dashboard best practices
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/linking-filters"
                        class=""
                      >
                        Linking filters in dashboards
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/custom-destinations"
                        class=""
                      >
                        Custom click destinations on dashboards
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/cross-filtering"
                        class=""
                      >
                        Cross-filtering: using a chart to update a dashboard
                        filter
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/markdown"
                        class=""
                      >
                        Markdown in dashboards
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/build-a-record-lookup-tool"
                        class=""
                      >
                        Build a record lookup tool with Metabase
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/"
                    class=""
                  >
                    SQL in Metabase

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/sql-variables"
                        class=""
                      >
                        Create filters using SQL variables
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/field-filters"
                        class=""
                      >
                        Field filters for SQL questions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/snippets"
                        class=""
                      >
                        Snippets: reuse and share code
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/organizing-sql"
                        class=""
                      >
                        Snippets vs. Saved Questions vs. Views
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/filters"
                        class=""
                      >
                        Adding filters to dashboards with SQL questions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/sql-tricks-ordering-charts"
                        class=""
                      >
                        SQL trick: ordering bars in a chart
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/time-series"
                    class=""
                  >
                    Time series analysis

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/time-series/start"
                        class=""
                      >
                        Overview of time series analysis
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/time-series/time-series-comparisons"
                        class=""
                      >
                        Period-over-period comparisons for time series
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/time-series/compare-times"
                        class=""
                      >
                        Best practices for visualizing time series
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/data-browser"
                    class=""
                  >
                    Data reference
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/actions-crud"
                    class=""
                  >
                    Build a basic CRUD app with actions
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/mongodb"
                    class=""
                  >
                    Using Metabase with MongoDB
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/learn/metabase-basics/administration/" class="">
                Administration

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/metabase-basics/administration/administration-and-operation/"
                    class=""
                  >
                    Administration and operation

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/guide"
                        class=""
                      >
                        Admin overview
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/metabase-and-your-db"
                        class=""
                      >
                        How Metabase works with your database
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/metabase-in-production"
                        class=""
                      >
                        How to run Metabase in production
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/managing-people"
                        class=""
                      >
                        Managing people in Metabase
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/guide-to-sharing-data"
                        class=""
                      >
                        Guide to sharing data
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/same-page"
                        class=""
                      >
                        Keeping your analytics organized
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/multi-env"
                        class=""
                      >
                        Multiple environments
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/serialization"
                        class=""
                      >
                        Serialization: preloading dashboards in a new Metabase
                        instance
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/git-based-workflow"
                        class=""
                      >
                        Setting up a git-based workflow
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/making-dashboards-faster"
                        class=""
                      >
                        Making dashboards faster
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/metabase-at-scale"
                        class=""
                      >
                        Metabase at scale
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/data-engineering"
                        class=""
                      >
                        Metabase for data engineers
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/metabase-api"
                        class=""
                      >
                        Working with the Metabase API
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/administration/permissions/"
                    class=""
                  >
                    Permissions

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/strategy"
                        class=""
                      >
                        Permissions strategies
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/data-permissions"
                        class=""
                      >
                        Guide to data permissions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/collection-permissions"
                        class=""
                      >
                        Working with collection permissions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/row-permissions"
                        class=""
                      >
                        Row-level permissions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/column-permissions"
                        class=""
                      >
                        Column-level permissions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/row-and-column-security-use-cases"
                        class=""
                      >
                        Restricting the data that people can see in Metabase
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/keep-tabs-on-your-data"
                        class=""
                      >
                        How to keep tabs on your data
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/ldap-auth-access-control"
                        class=""
                      >
                        Using LDAP for authentication and access control
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/learn/metabase-basics/embedding" class="">
                Embedding

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/learn/metabase-basics/embedding/overview" class="">
                    Strategies for delivering customer-facing analytics
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/embedding/charts-and-dashboards"
                    class=""
                  >
                    Publishing data visualizations to the web
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/embedding/external-sharing"
                    class=""
                  >
                    A Metabase mystery
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/embedding/multi-tenant-self-service-analytics"
                    class=""
                  >
                    Multi-tenant self-service analytics
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <h5>Grow your data skills</h5>

          <ul>
            <li class="expanded">
              <a href="/learn/sql/" class="">
                Learn SQL

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/learn/sql/getting-started/" class="">
                    Get started with SQL

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/sql/getting-started/introduction"
                        class=""
                      >
                        Introduction
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/getting-started/querying-tables"
                        class=""
                      >
                        SQL querying tables
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a href="/learn/sql/filtering/" class="">
                    SQL filtering

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a href="/learn/sql/filtering/by-text" class="">
                        SQL filtering by text
                      </a>
                    </li>

                    <li>
                      <a href="/learn/sql/filtering/by-date" class="">
                        SQL filtering by date
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a href="/learn/sql/combining-tables/" class="">
                    Combining tables with SQL

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a href="/learn/sql/working-with-sql/sql-joins" class="">
                        Combining tables with joins
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/working-with-sql/sql-join-types"
                        class=""
                      >
                        SQL join types
                      </a>
                    </li>

                    <li>
                      <a href="/learn/sql/combining-tables/sql-union" class="">
                        Combining tables with SQL UNION
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a href="/learn/sql/working-with-sql/" class="">
                    Working with SQL

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/sql/working-with-sql/sql-best-practices"
                        class=""
                      >
                        Best practices for writing SQL queries
                      </a>
                    </li>

                    <li>
                      <a href="/learn/sql/working-with-sql/sql-cte" class="">
                        Common Table Expressions (CTEs) in SQL
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/working-with-sql/dates-in-sql"
                        class=""
                      >
                        Working with dates in SQL
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/working-with-sql/ltv-with-metabase"
                        class=""
                      >
                        How to calculate customer lifetime value (LTV) with SQL
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/working-with-sql/syntax-reference"
                        class=""
                      >
                        SQL syntax reference
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="expanded">
                  <a href="/learn/sql/debugging-sql/" class="">
                    Debugging SQL

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a href="/learn/sql/debugging-sql/sql-syntax" class="">
                        Debugging SQL syntax errors
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/debugging-sql/sql-logic"
                        class="selected"
                      >
                        Debugging SQL query logic
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/debugging-sql/sql-logic-duplicated-data"
                        class=""
                      >
                        Debugging duplicated data in SQL query results
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/debugging-sql/sql-logic-missing-data"
                        class=""
                      >
                        Debugging missing data in SQL query results
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="">
              <a
                href="/learn/grow-your-data-skills/data-fundamentals/"
                class=""
              >
                Database fundamentals

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/database-basics"
                    class=""
                  >
                    A short overview of databases
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/data-types-overview"
                    class=""
                  >
                    Data types and metadata
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/table-relationships"
                    class=""
                  >
                    Database table relationships
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/dimensions-and-measures"
                    class=""
                  >
                    Measures and dimensions
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/fact-table"
                    class=""
                  >
                    Fact and dimension tables
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/normalization"
                    class=""
                  >
                    Data normalization
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/view"
                    class=""
                  >
                    What is a database view?
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/sql-performance-tuning"
                    class=""
                  >
                    Query performance tuning
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/data-cube"
                    class=""
                  >
                    Data cubes
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/learn/grow-your-data-skills/data-landscape/" class="">
                Data landscape

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/data-landscape"
                    class=""
                  >
                    A guide to the data landscape
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/types-of-databases"
                    class=""
                  >
                    Types of databases
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/data-mart-data-warehouse-data-lake"
                    class=""
                  >
                    Data warehouse vs data lake vs data mart
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/which-data-warehouse"
                    class=""
                  >
                    Which data warehouse should you use?
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/etl-landscape"
                    class=""
                  >
                    ETLs, ELTs, and Reverse ETLs
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/learn/grow-your-data-skills/analytics/" class="">
                Strategies for analytics

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/editing-dashboards"
                    class=""
                  >
                    Why you should regularly edit your dashboards
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/information-budget"
                    class=""
                  >
                    Managing your information budget
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/avoiding-data-jargon"
                    class=""
                  >
                    Don't use "data" as a crutch for lazy thinking
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/data-model-mistakes"
                    class=""
                  >
                    Common data model mistakes made by startups
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/analytics-mistakes"
                    class=""
                  >
                    Ten common analytics mistakes startups make
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/embedding-mistakes"
                    class=""
                  >
                    The five stages of embedding grief
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/push-and-pull"
                    class=""
                  >
                    The push and pull of analytics
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a
                href="/learn/grow-your-data-skills/data-visualization/"
                class=""
              >
                Data visualization

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-visualization/cumulative-charts"
                    class=""
                  >
                    Cumulative charts to track values over time
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a
                href="/learn/grow-your-data-skills/business-analysis-methods/"
                class=""
              >
                Business analysis methods

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/business-analysis-methods/how-to-do-funnel-analysis"
                    class=""
                  >
                    How to do funnel analysis
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <h5>Cheat sheets</h5>

          <ul>
            <li class="">
              <a href="/learn/cheat-sheets/which-chart-to-use" class="">
                Which chart to use?
              </a>
            </li>

            <li class="">
              <a
                href="/learn/cheat-sheets/how-to-choose-the-right-map-visualization"
                class=""
              >
                Which map to use?
              </a>
            </li>

            <li class="">
              <a href="/learn/cheat-sheets/sql-cheat-sheet" class="">
                SQL cheat sheet
              </a>
            </li>

            <li class="">
              <a href="/learn/cheat-sheets/transition-guides/" class="">
                Transition from other BI tools

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/cheat-sheets/transition-guides/powerbi-to-metabase"
                    class=""
                  >
                    Power BI to Metabase
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/cheat-sheets/transition-guides/tableau-to-metabase"
                    class=""
                  >
                    Tableau to Metabase
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/cheat-sheets/transition-guides/looker-to-metabase"
                    class=""
                  >
                    Looker to Metabase
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <article class="learn__post learn__article">
          <div class="top-bar">
            <div>
              <div class="learn-breadcrumb-trail"></div>
            </div>

            <div></div>
          </div>

          <div class="learn__post__content">
            <p>
              Combining data can get complicated very quickly (thats probably
              why youre patiently writing SQL instead of using the friendly <a
                href="/learn/metabase-basics/querying-and-dashboards/questions/multi-aggregation"
                >query builder</a
              >). This debugging guide explains what you can do when your query
              returns unexpected results.
            </p>

            <h2 id="debugging-steps">Debugging steps</h2>

            <ol>
              <li>
                Get the schemas for the data sources used in your query.
                <ul>
                  <li>
                    If youre using tables from your database, get the schemas
                    from the <a
                      href="/docs/latest/exploration-and-organization/data-model-reference"
                      >data reference</a
                    >.
                  </li>
                  <li>
                    If youre using nested queries such as subqueries, CTEs,
                    saved questions, or models, youll need to run each nested
                    query individually and <a
                      href="#how-to-get-the-schema-for-a-nested-query"
                      >manually inspect the results</a
                    >.
                  </li>
                  <li>
                    <a href="#how-to-identify-a-nested-query"
                      >I dont know if Im using a nested query</a
                    >.
                  </li>
                </ul>
              </li>
              <li>
                Review the foreign keys of your tables or nested queries.
                <ul>
                  <li>Is there more than one possible foreign key?</li>
                  <li>
                    Have the foreign keys been renamed or moved to another
                    schema?
                  </li>
                  <li>
                    If youre not sure, ask the person who maintains the schema.
                  </li>
                </ul>
              </li>
              <li>
                Check for <a href="#common-sql-logic-problems"
                  >common SQL logic problems</a
                >.
              </li>
            </ol>

            <h2 id="common-reasons-for-unexpected-query-results">
              Common reasons for unexpected query results
            </h2>

            <p>
              SQL logic describes the way that your query combines data from
              different tables or data sources (including temporary tables, such
              as the results of other queries). The most common ways of
              combining data are joins and <a
                href="#how-to-identify-a-nested-query">nested queries</a
              >.
            </p>

            <p>
              Even if your SQL logic <em>used</em> to work, it can break when:
            </p>

            <ul>
              <li>The tables or data sources have changed.</li>
              <li>
                The nested queries have changed (if youre building on top of a <a
                  href="/docs/latest/questions/native-editor/referencing-saved-questions-in-queries"
                  >saved question or model</a
                >).
              </li>
              <li>
                Your nested queries arent being computed as you expect (if
                youve written them from scratch).
              </li>
              <li>
                Your data includes edge cases, such as empty or <code
                  class="language-plaintext highlighter-rouge">NULL</code
                > values.
              </li>
            </ul>

            <p>
              Most of the time, these changes are introduced upstream by the
              systems that collect your data, or the lovely people who manage
              your databases and BI tools.
            </p>

            <p>
              Its extremely tricky for teams to anticipate ripple effects from
              such changes. Fixing SQL logic is not only about responding to
              change, but updating your approach to better guard against future
              updates.
            </p>

            <p>
              If youre getting a red error message that mentions SQL clauses or
              table and column names, you most likely have a SQL syntax problem.
              Go to <a href="/learn/sql/debugging-sql/sql-syntax"
                >Debugging SQL syntax</a
              > instead.
            </p>

            <h2 id="common-sql-logic-problems">Common SQL logic problems</h2>

            <ul>
              <li>
                <a href="/learn/sql/debugging-sql/sql-logic-duplicated-data"
                  >My result has duplicated data</a
                >.
              </li>
              <li>
                <a href="/learn/sql/debugging-sql/sql-logic-missing-data"
                  >My result has missing data</a
                >.
              </li>
              <li>
                <a href="#aggregated-results-counts-sums-etc-are-wrong"
                  >My aggregations (counts, sums, etc.) are wrong</a
                >.
              </li>
            </ul>

            <h3 id="aggregated-results-counts-sums-etc-are-wrong">
              Aggregated results (counts, sums, etc.) are wrong
            </h3>

            <ol>
              <li>
                If your aggregations are:
                <ul>
                  <li>
                    too high, check if your source tables or queries have <a
                      href="/learn/sql/debugging-sql/sql-logic-duplicated-data"
                      >duplicated rows</a
                    >.
                  </li>
                  <li>
                    too low, check if your source tables or queries have <a
                      href="/learn/sql/debugging-sql/sql-logic-missing-data"
                      >missing rows</a
                    >.
                  </li>
                </ul>
              </li>
              <li>
                Check your source tables or queries for filters.
                <ul>
                  <li>
                    How are you handling empty or <code
                      class="language-plaintext highlighter-rouge">NULL</code
                    > rows in your aggregations?
                  </li>
                  <li>
                    How are you handling invalid, cancelled, or expired records?
                    Ask your Metabase admin or data team about business logic
                    that you might not know about.
                  </li>
                </ul>
              </li>
              <li>
                If youre working with <code
                  class="language-plaintext highlighter-rouge"
                  >COUNT_DISTINCT</code
                >, check if its interacting with other aggregate functions.
                <ul>
                  <li>
                    For example, applying <code
                      class="language-plaintext highlighter-rouge">SUM</code
                    > on top of <code
                      class="language-plaintext highlighter-rouge"
                      >COUNT_DISTINCT</code
                    > may double-count unique values.
                  </li>
                </ul>
              </li>
              <li>
                If youre working with time series data, <a
                  href="/docs/latest/troubleshooting-guide/timezones"
                  >check your time zones</a
                >.
              </li>
              <li>
                If your data gets updated on a schedule, ask your Metabase admin <a
                  href="/docs/latest/troubleshooting-guide/sync-fingerprint-scan"
                  >if your tables are up to date</a
                >.
              </li>
            </ol>

            <p><strong>Explanation</strong></p>

            <p>
              Aggregations are often the first place where youll detect a
              problem caused by one of the <a
                href="#common-reasons-for-unexpected-query-results"
                >common reasons for unexpected query results</a
              >. The steps above will help you catch any data edge cases that
              may be skewing your results. If you find lots of edge cases, and
              you anticipate handling the same cases over and over again, you
              may want to bundle all of that logic into a <a
                href="/learn/metabase-basics/getting-started/models">model</a
              > so it can be easily re-used.
            </p>

            <p>
              Sometimes, you might just need a pair of fresh eyes. If you cant
              locate the root cause using the steps above, ask a teammate to
              help you check your math!
            </p>

            <p><strong>Further reading</strong></p>

            <ul>
              <li>
                <a
                  href="/docs/latest/questions/native-editor/writing-sql#how-metabase-executes-sql-queries"
                  >How Metabase executes SQL queries</a>
              </li>
            </ul>

            <h2 id="how-to-identify-a-nested-query">
              How to identify a nested query
            </h2>

            <p>If your SQL contains:</p>

            <ul>
              <li>
                <p>
                  <strong
                    >More than one <code
                      class="language-plaintext highlighter-rouge">SELECT</code
                    > statement</strong
                  >, youre using subqueries.
                </p>
              </li>
              <li>
                <p>
                  <strong
                    >A <code class="language-plaintext highlighter-rouge"
                      >WITH</code
                    > clause</strong
                  >, youre using CTEs (Common Table Expressions).
                </p>
              </li>
              <li>
                <p>
                  <strong
                    >Notation that looks like <code
                      class="language-plaintext highlighter-rouge"
                      >{{ variable }}</code
                    > in your <code class="language-plaintext highlighter-rouge"
                      >FROM</code
                    > or <code class="language-plaintext highlighter-rouge"
                      >WITH</code
                    > clause</strong
                  >, you have a <a
                    href="/glossary/variable#example-variable-in-metabase"
                    >SQL variable</a
                  > that references a <a
                    href="/docs/latest/questions/native-editor/referencing-saved-questions-in-queries"
                    >saved question or model</a
                  >.
                </p>
              </li>
            </ul>

            <h2 id="how-to-get-the-schema-for-a-nested-query">
              How to get the schema for a nested query
            </h2>

            <ol>
              <li>
                Get a sample of data from your nested query.
                <ul>
                  <li>
                    For <strong>subqueries</strong> or <strong>CTEs</strong>, <a
                      href="/docs/latest/questions/native-editor/writing-sql#running-query-selections"
                      >run each <code
                        class="language-plaintext highlighter-rouge"
                        >SELECT</code
                      > block separately</a
                    > and use the<code
                      class="language-plaintext highlighter-rouge">LIMIT</code
                    > clause.
                  </li>
                  <li>
                    For <strong>saved questions or models</strong>, go to the
                    underlying Metabase question from the variables panel or by
                    pasting the ID number into the search bar. Add a row limit
                    using the query builder, or add a <code
                      class="language-plaintext highlighter-rouge">LIMIT</code
                    > clause in the SQL editor.
                  </li>
                </ul>
              </li>
              <li>
                Compare the column names and values between your samples to
                check for foreign keys. For example:
                <ul>
                  <li>
                    In the <a href="/glossary/sample-database"
                      >Metabase Sample Database</a
                    >, the <code class="language-plaintext highlighter-rouge"
                      >Products</code
                    > table has an <code
                      class="language-plaintext highlighter-rouge">ID</code
                    > column, and the <code
                      class="language-plaintext highlighter-rouge">Orders</code
                    > table has a <code
                      class="language-plaintext highlighter-rouge"
                      >Product ID</code
                    > column.
                  </li>
                  <li>
                    <code class="language-plaintext highlighter-rouge">ID</code>
                    and <code class="language-plaintext highlighter-rouge"
                      >Product ID</code
                    > both contain integer values, and many of those values show
                    up in both columns.
                  </li>
                </ul>
              </li>
              <li>
                Compare the rows between your samples to check for <a
                  href="/learn/grow-your-data-skills/data-fundamentals/table-relationships"
                  >table relationships</a
                >. For example:
                <ul>
                  <li>
                    The <code class="language-plaintext highlighter-rouge"
                      >Products</code
                    > table has unique values in the <code
                      class="language-plaintext highlighter-rouge">ID</code
                    > column.
                  </li>
                  <li>
                    The <code class="language-plaintext highlighter-rouge"
                      >Orders</code
                    > table has multiple rows with the same <code
                      class="language-plaintext highlighter-rouge"
                      >Product ID</code
                    >.
                  </li>
                  <li>
                    The table relationship from <code
                      class="language-plaintext highlighter-rouge"
                      >Products</code
                    > to <code class="language-plaintext highlighter-rouge"
                      >Orders</code
                    > is <a
                      href="/learn/grow-your-data-skills/data-fundamentals/table-relationships#one-to-many-relationship"
                      >one-to-many</a
                    > (assuming that the foreign key relationship is valid).
                  </li>
                </ul>
              </li>
              <li>
                If youre using a <a
                  href="/docs/latest/data-modeling/models#database-column-this-maps-to"
                  >model</a
                >, you can look for explicitly defined metadata by hovering over
                the column name.
              </li>
              <li>
                If youre building off of someone elses work, ask the original
                creator of the query, saved question, or model.
              </li>
            </ol>

            <p><strong>Explanation</strong></p>

            <p>
              A schema describes the columns in a table, the data types of those
              columns, and the relationships between columns across different
              tables. This metadata is usually explicitly defined for tables
              stored in your database by the people who manage your data.
            </p>

            <p>
              Since the results of nested queries are only stored temporarily,
              the metadata about the results isnt defined or stored anywhere.
              The steps above will help you manually inspect the query results
              instead.
            </p>

            <p>
              Once you have the schemas for your nested queries, you can follow
              the <a href="#debugging-steps">debugging steps</a>.
            </p>

            <p><strong>Further reading</strong></p>

            <ul>
              <li>
                <a href="#how-to-identify-a-nested-query"
                  >How to identify a nested query</a>
              </li>
              <li><a href="/glossary/schema">What is a schema?</a></li>
              <li>
                <a
                  href="/learn/grow-your-data-skills/data-fundamentals/table-relationships"
                  >Database table relationships</a>
              </li>
              <li>
                <a
                  href="/docs/latest/questions/native-editor/writing-sql#how-metabase-executes-sql-queries"
                  >How Metabase executes SQL queries</a>
              </li>
            </ul>

            <h2 id="do-you-have-a-different-problem">
              Do you have a different problem?
            </h2>

            <ul>
              <li>
                <a href="/docs/latest/troubleshooting-guide/timezones"
                  >My dates and times are wrong</a
                >.
              </li>
              <li>
                <a
                  href="/docs/latest/troubleshooting-guide/sync-fingerprint-scan"
                  >My data isnt up to date</a
                >.
              </li>
              <li>
                <a href="/learn/sql/debugging-sql/sql-syntax"
                  >I have a SQL syntax error</a
                >.
              </li>
              <li>
                <a href="/docs/latest/troubleshooting-guide/error-message"
                  >I have an error message that isnt specific to my SQL query
                  or syntax</a
                >.
              </li>
            </ul>

            <h2 id="are-you-still-stuck">Are you still stuck?</h2>

            <p>
              Search or ask the <a href="https://discourse.metabase.com/"
                >Metabase community</a
              >.
            </p>

            <div id="was-this-helpful-widget">
              <div id="page-feedback">
                <h6>Was this helpful?</h6>
                <button id="page-feedback-vote-up" class="vote-button Button">
                  <svg
                    id=""
                    class="me-1"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.6667 7.33333H14.6367C14.9207 7.33334 15.2001 7.40595 15.4482 7.54427C15.6963 7.68259 15.9049 7.88202 16.0543 8.12364C16.2036 8.36525 16.2888 8.64104 16.3016 8.9248C16.3144 9.20857 16.2545 9.4909 16.1275 9.745L13.2108 15.5783C13.0724 15.8554 12.8595 16.0884 12.596 16.2512C12.3325 16.414 12.0289 16.5001 11.7192 16.5H8.37167C8.23583 16.5 8.1 16.4833 7.9675 16.45L4.83333 15.6667M10.6667 7.33333V3.16667C10.6667 2.72464 10.4911 2.30072 10.1785 1.98816C9.86595 1.67559 9.44203 1.5 9 1.5H8.92083C8.50417 1.5 8.16667 1.8375 8.16667 2.25417C8.16667 2.84917 7.99083 3.43083 7.66 3.92583L4.83333 8.16667V15.6667M10.6667 7.33333H9M4.83333 15.6667H3.16667C2.72464 15.6667 2.30072 15.4911 1.98816 15.1785C1.67559 14.866 1.5 14.442 1.5 14V9C1.5 8.55797 1.67559 8.13405 1.98816 7.82149C2.30072 7.50893 2.72464 7.33333 3.16667 7.33333H5.25"
                      stroke="#509ee3"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>

                  Yes
                </button>
                <button id="page-feedback-vote-down" class="vote-button Button">
                  <svg
                    id=""
                    class="rotate-180 me-1"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.6667 7.33333H14.6367C14.9207 7.33334 15.2001 7.40595 15.4482 7.54427C15.6963 7.68259 15.9049 7.88202 16.0543 8.12364C16.2036 8.36525 16.2888 8.64104 16.3016 8.9248C16.3144 9.20857 16.2545 9.4909 16.1275 9.745L13.2108 15.5783C13.0724 15.8554 12.8595 16.0884 12.596 16.2512C12.3325 16.414 12.0289 16.5001 11.7192 16.5H8.37167C8.23583 16.5 8.1 16.4833 7.9675 16.45L4.83333 15.6667M10.6667 7.33333V3.16667C10.6667 2.72464 10.4911 2.30072 10.1785 1.98816C9.86595 1.67559 9.44203 1.5 9 1.5H8.92083C8.50417 1.5 8.16667 1.8375 8.16667 2.25417C8.16667 2.84917 7.99083 3.43083 7.66 3.92583L4.83333 8.16667V15.6667M10.6667 7.33333H9M4.83333 15.6667H3.16667C2.72464 15.6667 2.30072 15.4911 1.98816 15.1785C1.67559 14.866 1.5 14.442 1.5 14V9C1.5 8.55797 1.67559 8.13405 1.98816 7.82149C2.30072 7.50893 2.72464 7.33333 3.16667 7.33333H5.25"
                      stroke="#509ee3"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>

                  No
                </button>
              </div>

              <div id="page-comment" class="flex flex-wrap full hide">
                <p id="page-feedback-question"></p>

                <form id="page-comment-form" class="flex full">
                  <textarea
                    id="feedback-comment-text"
                    name="comment"
                    placeholder="Type here"></textarea>

                  <button
                    id="page-comment-submit"
                    class="Button flex align-center"
                  >
                    Send
                  </button>
                </form>
              </div>

              <div id="page-feedback-message" class="fs-18 hide">
                <h6 class="page-feedback-title">Thanks for your feedback!</h6>
              </div>
            </div>

            <iframe
              src="../../../subscribe-to-ai-newsletter-bottom-of-article.html"
              id="subscribe-to-ai-newsletter-bottom-of-article"
              class="newsletter-subscribe"
              onload="javascript:(function(o){
          o.style.height=o.contentWindow.document.getElementById('newsletter-ajax-form-container-below-article').offsetHeight+'px';

          const resizeObserver = new ResizeObserver(function(entries) {
              const $firstEntry = entries[0];
              if ($firstEntry && $firstEntry.borderBoxSize && $firstEntry.borderBoxSize[0]) {
                  const $form = $firstEntry.borderBoxSize[0];
                  if ($form) {
                      o.style.height = $form.blockSize + 'px';
                  }
              }
          });
          resizeObserver.observe(o.contentWindow.document.getElementById('newsletter-ajax-form-container-below-article'));
      }(this));"
            ></iframe>

            <div class="learn__article__nav__container">
              <a
                href="/learn/sql/debugging-sql/sql-syntax"
                class="learn__article__nav previous"
              >
                <div class="learn__article__nav__icon">
                  <svg
                    width="12"
                    height="10"
                    viewBox="0 0 12 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M11.334 5.19544C11.334 5.66052 10.957 6.03754 10.4919 6.03754L3.68762 6.03754L6.37184 8.47774C6.71597 8.79059 6.74134 9.32318 6.42849 9.66731C6.11564 10.0114 5.58305 10.0368 5.23892 9.72396L0.942961 5.81854C0.77256 5.66363 0.673035 5.44569 0.667557 5.21547C0.662078 4.98524 0.751125 4.76282 0.913965 4.59998L5.20992 0.30402C5.53878 -0.0248429 6.07198 -0.0248428 6.40084 0.30402C6.7297 0.632882 6.7297 1.16607 6.40084 1.49494L3.54244 4.35333L10.4919 4.35333C10.957 4.35333 11.334 4.73035 11.334 5.19544Z"
                      fill="#5A6072"></path>
                  </svg>
                </div>
                <div>
                  <h5>Previous</h5>
                  <h4>Debugging SQL syntax errors</h4>
                </div>
              </a>

              <a
                href="/learn/sql/debugging-sql/sql-logic-duplicated-data"
                class="learn__article__nav next"
              >
                <div>
                  <h5>Next</h5>
                  <h4>Debugging duplicated data in SQL query results</h4>
                </div>
                <div class="learn__article__nav__icon">
                  <svg
                    width="12"
                    height="10"
                    viewBox="0 0 12 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M0.666992 4.80871C0.666992 4.34363 1.04402 3.96661 1.5091 3.96661L8.31336 3.96661L5.62913 1.52641C5.285 1.21356 5.25964 0.680971 5.57249 0.336838C5.88534 -0.00729488 6.41792 -0.032656 6.76206 0.280192L11.058 4.18561C11.2284 4.34052 11.3279 4.55846 11.3334 4.78868C11.3389 5.01891 11.2499 5.24133 11.087 5.40417L6.79105 9.70013C6.46219 10.029 5.929 10.029 5.60014 9.70013C5.27128 9.37127 5.27128 8.83808 5.60014 8.50921L8.45853 5.65082L1.5091 5.65082C1.04402 5.65082 0.666992 5.2738 0.666992 4.80871Z"
                      fill="#5A6072"></path>
                  </svg>
                </div>
              </a>
            </div>
          </div>

          <div class="learn__right-sidebar">
            <div id="sub-navigation-content"></div>
            <div id="right-hand-newsletter-subscribe-widget" class="">
              <div class="right-hand-newsletter-subscribe-form-container">
                <h6>Weekly tips for analysts</h6>
                <h5>
                  Get actionable insights<br />on AI and data directly to your
                  inbox
                </h5>

                <iframe
                  src="../../../subscribe-to-ai-newsletter-righthandside.html"
                  id="subscribe-to-ai-newsletter-righthandside"
                  onload="javascript:(function(o){
          o.style.height=o.contentWindow.document.getElementById('feedback-widget-newsletter-ajax-form-container').offsetHeight+'px';

          const resizeObserver = new ResizeObserver(function(entries) {
            const $firstEntry = entries[0];
            if ($firstEntry && $firstEntry.borderBoxSize && $firstEntry.borderBoxSize[0]) {
              const $form = $firstEntry.borderBoxSize[0];
              if ($form) {
                o.style.height = $form.blockSize + 'px';
              }
            }

            if (window.resizeLearnRightSidebar) {
              window.resizeLearnRightSidebar();
            }
          });
          resizeObserver.observe(o.contentWindow.document.getElementById('feedback-widget-newsletter-ajax-form-container'));
        }(this));"
                ></iframe>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
