---
import Base from "../../../../layouts/Base.astro";
const title = "Ten common analytics mistakes startups make | Metabase Learn";
const description =
  "You're going to make mistakes when bootstrapping your analytics. Here's how to make fewer mistakes.";
const seo = {
  title: "Ten common analytics mistakes startups make | Metabase Learn",
  description:
    "You're going to make mistakes when bootstrapping your analytics. Here's how to make fewer mistakes.",
  canonical: "/learn/grow-your-data-skills/analytics/analytics-mistakes",
  og: {
    title: "Ten common analytics mistakes startups make | Metabase Learn",
    description:
      "You're going to make mistakes when bootstrapping your analytics. Here's how to make fewer mistakes.",
    image: "https://www.metabase.com/images/learn/default-learn-og.png",
    url: "https://www.metabase.com/learn/grow-your-data-skills/analytics/analytics-mistakes",
    type: "article",
    site_name:
      "Metabase | Business Intelligence, Dashboards, and Data Visualization",
  },
  twitter: {
    site: "@metabase",
    title: "Ten common analytics mistakes startups make | Metabase Learn",
    description:
      "You're going to make mistakes when bootstrapping your analytics. Here's how to make fewer mistakes.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/learn/default-learn-og.png",
    creator: "Sameer Al-Sakran",
  },
};
---

<Base {title} {description} {seo}>
  <div>
    <div class="bootstrap">
      <div class="learn blog-post MB-Page">
        <div id="main-navigation-content" class="learn-left-sidebar scrollable">
          <div class="docs-learn-toggler">
            <div class="hover-highlight"></div>
            <a href="/docs/latest/">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19.25 5.75C19.25 5.19772 18.8023 4.75 18.25 4.75H14C12.8954 4.75 12 5.64543 12 6.75V19.25L12.8284 18.4216C13.5786 17.6714 14.596 17.25 15.6569 17.25H18.25C18.8023 17.25 19.25 16.8023 19.25 16.25V5.75Z"
                  stroke="#8D93A5"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M4.75 5.75C4.75 5.19772 5.19772 4.75 5.75 4.75H10C11.1046 4.75 12 5.64543 12 6.75V19.25L11.1716 18.4216C10.4214 17.6714 9.40401 17.25 8.34315 17.25H5.75C5.19772 17.25 4.75 16.8023 4.75 16.25V5.75Z"
                  stroke="#8D93A5"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>

              <span>Docs</span>
            </a>

            <a href="/learn/" class="active">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 14.0929L20 9.42144L12 4.75L4 9.42144L12 14.0929ZM12 14.0929L17.4756 10.8957C18.196 12.8186 18.4005 14.4134 18.0667 16.45C15.8121 16.68 13.6864 17.6604 12 19.25C10.3138 17.6606 8.18852 16.6802 5.93422 16.45C5.60018 14.4134 5.80465 12.8185 6.52533 10.8957L12 14.0929Z"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M12.5 9.5C12.5 9.7761 12.2761 10 12 10C11.7239 10 11.5 9.7761 11.5 9.5C11.5 9.2239 11.7239 9 12 9C12.2761 9 12.5 9.2239 12.5 9.5Z"
                  stroke="#509EE3"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>

              <span>Learn</span>
            </a>
          </div>

          <h5>Courses</h5>

          <ul>
            <li class="">
              <a href="/learn/metabase-basics/getting-started/index-2" class="">
                Getting started

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/learn/metabase-basics/overview/concepts" class="">
                    Metabase concepts
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/find-data"
                    class=""
                  >
                    Find data
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/ask-a-question"
                    class=""
                  >
                    Ask a question
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/create-dashboards"
                    class=""
                  >
                    Create a dashboard
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/explore-data"
                    class=""
                  >
                    Explore dashboards
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/filter"
                    class=""
                  >
                    Filter and limit data
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/summarize"
                    class=""
                  >
                    Summarize data
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/custom-columns"
                    class=""
                  >
                    Add custom columns
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/dashboard-filters"
                    class=""
                  >
                    Use dashboard filters
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/models"
                    class=""
                  >
                    Build models
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <h5>Metabase Basics</h5>

          <ul>
            <li class="">
              <a href="/learn/metabase-basics/overview/" class="">
                Metabase overview

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/metabase-basics/overview/tour-of-metabase"
                    class=""
                  >
                    A tour of Metabase
                  </a>
                </li>

                <li class="">
                  <a href="/learn/metabase-basics/overview/next-steps" class="">
                    Advanced Metabase features for data analysts
                  </a>
                </li>

                <li class="">
                  <a href="/learn/metabase-basics/overview/beyond-bi" class="">
                    Beyond BI: other problems you can solve with Metabase
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a
                href="/learn/metabase-basics/querying-and-dashboards/"
                class=""
              >
                Querying and dashboards

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/questions"
                    class=""
                  >
                    Asking questions

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/drill-through"
                        class=""
                      >
                        Create interactive charts
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/custom-expressions"
                        class=""
                      >
                        Custom expressions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/joins-in-metabase"
                        class=""
                      >
                        Joins in Metabase
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/cross-db-joins"
                        class=""
                      >
                        Combining data from different databases
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/multi-aggregation"
                        class=""
                      >
                        Multi-level aggregation
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/searching-tables"
                        class=""
                      >
                        Searching in tables
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/formatting"
                        class=""
                      >
                        Cleaning and formatting text
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/visualization"
                    class=""
                  >
                    Visualizing data

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/visualization/chart-guide"
                        class=""
                      >
                        Which chart should you use?
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/visualization/line-charts"
                        class=""
                      >
                        Guide to line charts
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/visualization/bar-charts"
                        class=""
                      >
                        Master the bar chart
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/visualization/histograms"
                        class=""
                      >
                        Histograms
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/dashboards"
                    class=""
                  >
                    Building dashboards

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/bi-dashboard-best-practices"
                        class=""
                      >
                        BI dashboard best practices
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/linking-filters"
                        class=""
                      >
                        Linking filters in dashboards
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/custom-destinations"
                        class=""
                      >
                        Custom click destinations on dashboards
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/cross-filtering"
                        class=""
                      >
                        Cross-filtering: using a chart to update a dashboard
                        filter
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/markdown"
                        class=""
                      >
                        Markdown in dashboards
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/build-a-record-lookup-tool"
                        class=""
                      >
                        Build a record lookup tool with Metabase
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/"
                    class=""
                  >
                    SQL in Metabase

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/sql-variables"
                        class=""
                      >
                        Create filters using SQL variables
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/field-filters"
                        class=""
                      >
                        Field filters for SQL questions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/snippets"
                        class=""
                      >
                        Snippets: reuse and share code
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/organizing-sql"
                        class=""
                      >
                        Snippets vs. Saved Questions vs. Views
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/filters"
                        class=""
                      >
                        Adding filters to dashboards with SQL questions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/sql-tricks-ordering-charts"
                        class=""
                      >
                        SQL trick: ordering bars in a chart
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/time-series"
                    class=""
                  >
                    Time series analysis

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/time-series/start"
                        class=""
                      >
                        Overview of time series analysis
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/time-series/time-series-comparisons"
                        class=""
                      >
                        Period-over-period comparisons for time series
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/time-series/compare-times"
                        class=""
                      >
                        Best practices for visualizing time series
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/data-browser"
                    class=""
                  >
                    Data reference
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/actions-crud"
                    class=""
                  >
                    Build a basic CRUD app with actions
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/mongodb"
                    class=""
                  >
                    Using Metabase with MongoDB
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/learn/metabase-basics/administration/" class="">
                Administration

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/metabase-basics/administration/administration-and-operation/"
                    class=""
                  >
                    Administration and operation

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/guide"
                        class=""
                      >
                        Admin overview
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/metabase-and-your-db"
                        class=""
                      >
                        How Metabase works with your database
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/metabase-in-production"
                        class=""
                      >
                        How to run Metabase in production
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/managing-people"
                        class=""
                      >
                        Managing people in Metabase
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/guide-to-sharing-data"
                        class=""
                      >
                        Guide to sharing data
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/same-page"
                        class=""
                      >
                        Keeping your analytics organized
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/multi-env"
                        class=""
                      >
                        Multiple environments
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/serialization"
                        class=""
                      >
                        Serialization: preloading dashboards in a new Metabase
                        instance
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/git-based-workflow"
                        class=""
                      >
                        Setting up a git-based workflow
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/making-dashboards-faster"
                        class=""
                      >
                        Making dashboards faster
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/metabase-at-scale"
                        class=""
                      >
                        Metabase at scale
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/data-engineering"
                        class=""
                      >
                        Metabase for data engineers
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/metabase-api"
                        class=""
                      >
                        Working with the Metabase API
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/administration/permissions/"
                    class=""
                  >
                    Permissions

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/strategy"
                        class=""
                      >
                        Permissions strategies
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/data-permissions"
                        class=""
                      >
                        Guide to data permissions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/collection-permissions"
                        class=""
                      >
                        Working with collection permissions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/row-permissions"
                        class=""
                      >
                        Row-level permissions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/column-permissions"
                        class=""
                      >
                        Column-level permissions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/row-and-column-security-use-cases"
                        class=""
                      >
                        Restricting the data that people can see in Metabase
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/keep-tabs-on-your-data"
                        class=""
                      >
                        How to keep tabs on your data
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/ldap-auth-access-control"
                        class=""
                      >
                        Using LDAP for authentication and access control
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/learn/metabase-basics/embedding" class="">
                Embedding

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/learn/metabase-basics/embedding/overview" class="">
                    Strategies for delivering customer-facing analytics
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/embedding/charts-and-dashboards"
                    class=""
                  >
                    Publishing data visualizations to the web
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/embedding/external-sharing"
                    class=""
                  >
                    A Metabase mystery
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/embedding/multi-tenant-self-service-analytics"
                    class=""
                  >
                    Multi-tenant self-service analytics
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <h5>Grow your data skills</h5>

          <ul>
            <li class="">
              <a href="/learn/sql/" class="">
                Learn SQL

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/learn/sql/getting-started/" class="">
                    Get started with SQL

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/sql/getting-started/introduction"
                        class=""
                      >
                        Introduction
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/getting-started/querying-tables"
                        class=""
                      >
                        SQL querying tables
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a href="/learn/sql/filtering/" class="">
                    SQL filtering

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a href="/learn/sql/filtering/by-text" class="">
                        SQL filtering by text
                      </a>
                    </li>

                    <li>
                      <a href="/learn/sql/filtering/by-date" class="">
                        SQL filtering by date
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a href="/learn/sql/combining-tables/" class="">
                    Combining tables with SQL

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a href="/learn/sql/working-with-sql/sql-joins" class="">
                        Combining tables with joins
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/working-with-sql/sql-join-types"
                        class=""
                      >
                        SQL join types
                      </a>
                    </li>

                    <li>
                      <a href="/learn/sql/combining-tables/sql-union" class="">
                        Combining tables with SQL UNION
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a href="/learn/sql/working-with-sql/" class="">
                    Working with SQL

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/sql/working-with-sql/sql-best-practices"
                        class=""
                      >
                        Best practices for writing SQL queries
                      </a>
                    </li>

                    <li>
                      <a href="/learn/sql/working-with-sql/sql-cte" class="">
                        Common Table Expressions (CTEs) in SQL
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/working-with-sql/dates-in-sql"
                        class=""
                      >
                        Working with dates in SQL
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/working-with-sql/ltv-with-metabase"
                        class=""
                      >
                        How to calculate customer lifetime value (LTV) with SQL
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/working-with-sql/syntax-reference"
                        class=""
                      >
                        SQL syntax reference
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a href="/learn/sql/debugging-sql/" class="">
                    Debugging SQL

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a href="/learn/sql/debugging-sql/sql-syntax" class="">
                        Debugging SQL syntax errors
                      </a>
                    </li>

                    <li>
                      <a href="/learn/sql/debugging-sql/sql-logic" class="">
                        Debugging SQL query logic
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/debugging-sql/sql-logic-duplicated-data"
                        class=""
                      >
                        Debugging duplicated data in SQL query results
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/debugging-sql/sql-logic-missing-data"
                        class=""
                      >
                        Debugging missing data in SQL query results
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="">
              <a
                href="/learn/grow-your-data-skills/data-fundamentals/"
                class=""
              >
                Database fundamentals

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/database-basics"
                    class=""
                  >
                    A short overview of databases
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/data-types-overview"
                    class=""
                  >
                    Data types and metadata
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/table-relationships"
                    class=""
                  >
                    Database table relationships
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/dimensions-and-measures"
                    class=""
                  >
                    Measures and dimensions
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/fact-table"
                    class=""
                  >
                    Fact and dimension tables
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/normalization"
                    class=""
                  >
                    Data normalization
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/view"
                    class=""
                  >
                    What is a database view?
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/sql-performance-tuning"
                    class=""
                  >
                    Query performance tuning
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/data-cube"
                    class=""
                  >
                    Data cubes
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/learn/grow-your-data-skills/data-landscape/" class="">
                Data landscape

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/data-landscape"
                    class=""
                  >
                    A guide to the data landscape
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/types-of-databases"
                    class=""
                  >
                    Types of databases
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/data-mart-data-warehouse-data-lake"
                    class=""
                  >
                    Data warehouse vs data lake vs data mart
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/which-data-warehouse"
                    class=""
                  >
                    Which data warehouse should you use?
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/etl-landscape"
                    class=""
                  >
                    ETLs, ELTs, and Reverse ETLs
                  </a>
                </li>
              </ul>
            </li>

            <li class="expanded">
              <a href="/learn/grow-your-data-skills/analytics/" class="">
                Strategies for analytics

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/editing-dashboards"
                    class=""
                  >
                    Why you should regularly edit your dashboards
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/information-budget"
                    class=""
                  >
                    Managing your information budget
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/avoiding-data-jargon"
                    class=""
                  >
                    Don't use "data" as a crutch for lazy thinking
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/data-model-mistakes"
                    class=""
                  >
                    Common data model mistakes made by startups
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/analytics-mistakes"
                    class="selected"
                  >
                    Ten common analytics mistakes startups make
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/embedding-mistakes"
                    class=""
                  >
                    The five stages of embedding grief
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/push-and-pull"
                    class=""
                  >
                    The push and pull of analytics
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a
                href="/learn/grow-your-data-skills/data-visualization/"
                class=""
              >
                Data visualization

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-visualization/cumulative-charts"
                    class=""
                  >
                    Cumulative charts to track values over time
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a
                href="/learn/grow-your-data-skills/business-analysis-methods/"
                class=""
              >
                Business analysis methods

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/business-analysis-methods/how-to-do-funnel-analysis"
                    class=""
                  >
                    How to do funnel analysis
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <h5>Cheat sheets</h5>

          <ul>
            <li class="">
              <a href="/learn/cheat-sheets/which-chart-to-use" class="">
                Which chart to use?
              </a>
            </li>

            <li class="">
              <a
                href="/learn/cheat-sheets/how-to-choose-the-right-map-visualization"
                class=""
              >
                Which map to use?
              </a>
            </li>

            <li class="">
              <a href="/learn/cheat-sheets/sql-cheat-sheet" class="">
                SQL cheat sheet
              </a>
            </li>

            <li class="">
              <a href="/learn/cheat-sheets/transition-guides/" class="">
                Transition from other BI tools

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/cheat-sheets/transition-guides/powerbi-to-metabase"
                    class=""
                  >
                    Power BI to Metabase
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/cheat-sheets/transition-guides/tableau-to-metabase"
                    class=""
                  >
                    Tableau to Metabase
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/cheat-sheets/transition-guides/looker-to-metabase"
                    class=""
                  >
                    Looker to Metabase
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <article class="learn__post learn__article">
          <div class="top-bar">
            <div>
              <div class="learn-breadcrumb-trail"></div>
            </div>

            <div></div>
          </div>

          <div class="learn__post__content">
            <p>
              This article covers ten common mistakes startups make when
              applying data to decision making. These are situations that many
              well-intentioned people will find themselves in, and the goal in
              going over these is not to get down on yourself but to reinforce
              the need to be self aware in your (and your organizations)
              decision making processes, and constantly work on improving. We
              cover more on decision-making in <a
                href="/learn/grow-your-data-skills/analytics/information-budget"
                >Managing your information budget</a
              >.
            </p>

            <h2 id="1-mixing-up-correlation-and-causation">
              1. Mixing up correlation and causation
            </h2>

            <p>
              Yes, you already know about it, but its still really easy to fall
              for. Mixing up correlation and causation is especially dangerous
              when <a
                href="/learn/metabase-basics/querying-and-dashboards/time-series/start"
                >exploring historical data</a
              >, or otherwise not having a clear hypothesis to falsify. Its
              best to treat any common patterns that happened in the past as <em
                >suggestive</em
              > of causation, rather than as a cause until proven otherwise.
            </p>

            <h2
              id="2-expecting-data-to-give-you-answers-to-questions-you-cant-formulate"
            >
              2. Expecting data to give you answers to questions you cant
              formulate
            </h2>

            <p>
              Too many companies think they can just collect data, use the
              latest trendy technologies, and hire expensive data
              scientists/analysts/MBAs to figure out their business. The reality
              is that the quality of your business intelligence is directly
              proportional to how well your organization can articulate the
              questions it needs to answer. More data and talented data analysts
              can supercharge an organization that has a clear decision and
              product process, but doubling down on big data wont be the
              miracle that saves an organization that lacks focus.
            </p>

            <h2 id="3-looking-for-data-to-support-a-decision-you-already-made">
              3. Looking for data to support a decision you already made
            </h2>

            <p>
              Its common to go through the motions of collecting data,
              analyzing it, and coming to a decision when you (or others on the
              team) have already made up your mind. Instead, you should
              formulate hypothesis, see if you can falsify them, and update your
              perspective when the data goes the other way.
            </p>

            <h2 id="4-fishing-for-the-positive">4. Fishing for the positive</h2>

            <p>
              A subset of looking for data to support a decision: looking for
              data to support a rosy picture. Theres always something that is
              trending upwards, even in terminally ill companies. If all the
              metrics you think are important are going south, avoid the
              temptation to seek out metrics that tell a sunnier story.
            </p>

            <h2 id="5-expecting-too-much-clarity-in-results">
              5. Expecting too much clarity in results
            </h2>

            <p>
              Even if youve seen plenty of action movies, when you watch an <em
                >actual</em
              > boxing match, you might not be able to make much sense of it. If
              youre used to seeing choreographed fight sequences, shot from perfect
              angles with perfect lighting and editing, the chaos and speed of real-life
              fighting can be bewildering.
            </p>

            <p>
              The same goes for people accustomed to MBA coursework or highly
              idealized blog posts when they encounter quantitative
              decision-making in real life. In the real world, effects can be
              small, messy, and multimodal (well talk about pitfalls of
              averages below). Youll need to work with the data you have, not
              the perfect data you imagine.
            </p>

            <h2 id="6-expecting-to-ab-test-your-way-to-success">
              6. Expecting to A/B test your way to success
            </h2>

            <p>
              While carefully planned, well-run A/B tests can be transformative
              to a company, they also often lead to chasing ones tail. Make
              sure you know what a significant result is <em>before</em> you start
              an A/B test. Dont stop the test the instant one of the options seems
              to be performing better, and always include a control group. And the
              smaller the effect, the larger the number of users youll need. If
              you only have 10k monthly active users, you would be better off simply
              delaying any kind of A/B testing until you have more people you can
              test against.
            </p>

            <p>
              Furthermore, A/B testing wont determine the best product features
              or advertising copy for you. The results are only as good as the
              options that you test, and the results are very sensitive to how
              good the initial design is. Dont let well A/B test that become
              a mantra that shuts down the process of deciding what your product
              actually is. A/B tests are best used to add that last bit of
              polish.
            </p>

            <h2 id="7-using-the-wrong-time-period">
              7. Using the wrong time period
            </h2>

            <p>
              If your customers purchase on a multi-month time frame, and your
              product cycle moves in two-week sprints, you dont need real-time
              analytics. Likewise, if youre trying to diagnose errors in
              network operations where the cost of being down is measured in
              tens of millions a minute, you better not be looking at hourly
              charts. Its important to tie the reporting time period with the
              natural time period of your decision-making. If youre looking at
              your data at too fine a time period, youll end up being twitchy
              and thrashing between decisions. If youre using too large a time
              period, youll forever be three moves behind.
            </p>

            <h2 id="8-only-looking-at-averages">8. Only looking at averages</h2>

            <p>
              Averages are a great place to hide uncomfortable truths. If you
              only use blended averages across organic and paid channels, you
              might end up ignoring the fact that your paid acquisition channels
              are becoming unsustainably expensive. If you look at average
              latency across all your web pages, you might not notice that your
              most important pages are getting slower over time. As a rule, when
              averages tell you something is getting worse, its time to worry.
              When averages tell you things are looking good, its time to dig
              deeper.
            </p>

            <p>
              Most average-inspired delusions go away when you break the data
              out into a <a
                href="/learn/metabase-basics/querying-and-dashboards/visualization/histograms"
                >histogram</a
              >. For example, rosy projections regarding the average cost of
              customer acquisition can disappear when you break the costs out by
              channel.
            </p>

            <h2 id="9-focusing-on-totals-instead-of-the-rate-of-change">
              9. Focusing on totals instead of the rate of change
            </h2>

            <p>
              Everyone loves charts that go up and to the right. Total number
              of signups, Cumulative revenue, and Total value of goods sold
              can make for good press, but for most situations, you should be
              looking at the <a
                href="/learn/metabase-basics/querying-and-dashboards/time-series/time-series-comparisons"
                >rate of change</a
              >, and possibly even the growth in that rate. If 95% of the
              information a metric carries relates to events that happened
              months or years ago, does that help you evaluate how youre doing
              today? Or how things will look tomorrow?
            </p>

            <h2 id="10-not-evaluating-the-results-of-a-decision">
              10. Not evaluating the results of a decision
            </h2>

            <p>
              Its common to want to collect lots of information before making a
              big decision. However, once you make the decision, and the results
              start to trickle in, its common to just assume things are going
              well. Bad decisions are inevitable, but its the bad decisions you
              dont accept and correct that end up hurting you the most. Its
              better to understand that you made the wrong call right away than
              it is find out youve been wrong for months.
            </p>

            <div id="was-this-helpful-widget">
              <div id="page-feedback">
                <h6>Was this helpful?</h6>
                <button id="page-feedback-vote-up" class="vote-button Button">
                  <svg
                    id=""
                    class="me-1"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.6667 7.33333H14.6367C14.9207 7.33334 15.2001 7.40595 15.4482 7.54427C15.6963 7.68259 15.9049 7.88202 16.0543 8.12364C16.2036 8.36525 16.2888 8.64104 16.3016 8.9248C16.3144 9.20857 16.2545 9.4909 16.1275 9.745L13.2108 15.5783C13.0724 15.8554 12.8595 16.0884 12.596 16.2512C12.3325 16.414 12.0289 16.5001 11.7192 16.5H8.37167C8.23583 16.5 8.1 16.4833 7.9675 16.45L4.83333 15.6667M10.6667 7.33333V3.16667C10.6667 2.72464 10.4911 2.30072 10.1785 1.98816C9.86595 1.67559 9.44203 1.5 9 1.5H8.92083C8.50417 1.5 8.16667 1.8375 8.16667 2.25417C8.16667 2.84917 7.99083 3.43083 7.66 3.92583L4.83333 8.16667V15.6667M10.6667 7.33333H9M4.83333 15.6667H3.16667C2.72464 15.6667 2.30072 15.4911 1.98816 15.1785C1.67559 14.866 1.5 14.442 1.5 14V9C1.5 8.55797 1.67559 8.13405 1.98816 7.82149C2.30072 7.50893 2.72464 7.33333 3.16667 7.33333H5.25"
                      stroke="#509ee3"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>

                  Yes
                </button>
                <button id="page-feedback-vote-down" class="vote-button Button">
                  <svg
                    id=""
                    class="rotate-180 me-1"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.6667 7.33333H14.6367C14.9207 7.33334 15.2001 7.40595 15.4482 7.54427C15.6963 7.68259 15.9049 7.88202 16.0543 8.12364C16.2036 8.36525 16.2888 8.64104 16.3016 8.9248C16.3144 9.20857 16.2545 9.4909 16.1275 9.745L13.2108 15.5783C13.0724 15.8554 12.8595 16.0884 12.596 16.2512C12.3325 16.414 12.0289 16.5001 11.7192 16.5H8.37167C8.23583 16.5 8.1 16.4833 7.9675 16.45L4.83333 15.6667M10.6667 7.33333V3.16667C10.6667 2.72464 10.4911 2.30072 10.1785 1.98816C9.86595 1.67559 9.44203 1.5 9 1.5H8.92083C8.50417 1.5 8.16667 1.8375 8.16667 2.25417C8.16667 2.84917 7.99083 3.43083 7.66 3.92583L4.83333 8.16667V15.6667M10.6667 7.33333H9M4.83333 15.6667H3.16667C2.72464 15.6667 2.30072 15.4911 1.98816 15.1785C1.67559 14.866 1.5 14.442 1.5 14V9C1.5 8.55797 1.67559 8.13405 1.98816 7.82149C2.30072 7.50893 2.72464 7.33333 3.16667 7.33333H5.25"
                      stroke="#509ee3"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>

                  No
                </button>
              </div>

              <div id="page-comment" class="flex flex-wrap full hide">
                <p id="page-feedback-question"></p>

                <form id="page-comment-form" class="flex full">
                  <textarea
                    id="feedback-comment-text"
                    name="comment"
                    placeholder="Type here"></textarea>

                  <button
                    id="page-comment-submit"
                    class="Button flex align-center"
                  >
                    Send
                  </button>
                </form>
              </div>

              <div id="page-feedback-message" class="fs-18 hide">
                <h6 class="page-feedback-title">Thanks for your feedback!</h6>
              </div>
            </div>

            <iframe
              src="../../../subscribe-to-ai-newsletter-bottom-of-article.html"
              id="subscribe-to-ai-newsletter-bottom-of-article"
              class="newsletter-subscribe"
              onload="javascript:(function(o){
          o.style.height=o.contentWindow.document.getElementById('newsletter-ajax-form-container-below-article').offsetHeight+'px';

          const resizeObserver = new ResizeObserver(function(entries) {
              const $firstEntry = entries[0];
              if ($firstEntry && $firstEntry.borderBoxSize && $firstEntry.borderBoxSize[0]) {
                  const $form = $firstEntry.borderBoxSize[0];
                  if ($form) {
                      o.style.height = $form.blockSize + 'px';
                  }
              }
          });
          resizeObserver.observe(o.contentWindow.document.getElementById('newsletter-ajax-form-container-below-article'));
      }(this));"
            ></iframe>

            <div class="learn__article__nav__container">
              <a
                href="/learn/grow-your-data-skills/analytics/data-model-mistakes"
                class="learn__article__nav previous"
              >
                <div class="learn__article__nav__icon">
                  <svg
                    width="12"
                    height="10"
                    viewBox="0 0 12 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M11.334 5.19544C11.334 5.66052 10.957 6.03754 10.4919 6.03754L3.68762 6.03754L6.37184 8.47774C6.71597 8.79059 6.74134 9.32318 6.42849 9.66731C6.11564 10.0114 5.58305 10.0368 5.23892 9.72396L0.942961 5.81854C0.77256 5.66363 0.673035 5.44569 0.667557 5.21547C0.662078 4.98524 0.751125 4.76282 0.913965 4.59998L5.20992 0.30402C5.53878 -0.0248429 6.07198 -0.0248428 6.40084 0.30402C6.7297 0.632882 6.7297 1.16607 6.40084 1.49494L3.54244 4.35333L10.4919 4.35333C10.957 4.35333 11.334 4.73035 11.334 5.19544Z"
                      fill="#5A6072"></path>
                  </svg>
                </div>
                <div>
                  <h5>Previous</h5>
                  <h4>Common data model mistakes made by startups</h4>
                </div>
              </a>

              <a
                href="/learn/grow-your-data-skills/analytics/embedding-mistakes"
                class="learn__article__nav next"
              >
                <div>
                  <h5>Next</h5>
                  <h4>The five stages of embedding grief</h4>
                </div>
                <div class="learn__article__nav__icon">
                  <svg
                    width="12"
                    height="10"
                    viewBox="0 0 12 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M0.666992 4.80871C0.666992 4.34363 1.04402 3.96661 1.5091 3.96661L8.31336 3.96661L5.62913 1.52641C5.285 1.21356 5.25964 0.680971 5.57249 0.336838C5.88534 -0.00729488 6.41792 -0.032656 6.76206 0.280192L11.058 4.18561C11.2284 4.34052 11.3279 4.55846 11.3334 4.78868C11.3389 5.01891 11.2499 5.24133 11.087 5.40417L6.79105 9.70013C6.46219 10.029 5.929 10.029 5.60014 9.70013C5.27128 9.37127 5.27128 8.83808 5.60014 8.50921L8.45853 5.65082L1.5091 5.65082C1.04402 5.65082 0.666992 5.2738 0.666992 4.80871Z"
                      fill="#5A6072"></path>
                  </svg>
                </div>
              </a>
            </div>
          </div>

          <div class="learn__right-sidebar">
            <div id="sub-navigation-content"></div>
            <div id="right-hand-newsletter-subscribe-widget" class="">
              <div class="right-hand-newsletter-subscribe-form-container">
                <h6>Weekly tips for analysts</h6>
                <h5>
                  Get actionable insights<br />on AI and data directly to your
                  inbox
                </h5>

                <iframe
                  src="../../../subscribe-to-ai-newsletter-righthandside.html"
                  id="subscribe-to-ai-newsletter-righthandside"
                  onload="javascript:(function(o){
          o.style.height=o.contentWindow.document.getElementById('feedback-widget-newsletter-ajax-form-container').offsetHeight+'px';

          const resizeObserver = new ResizeObserver(function(entries) {
            const $firstEntry = entries[0];
            if ($firstEntry && $firstEntry.borderBoxSize && $firstEntry.borderBoxSize[0]) {
              const $form = $firstEntry.borderBoxSize[0];
              if ($form) {
                o.style.height = $form.blockSize + 'px';
              }
            }

            if (window.resizeLearnRightSidebar) {
              window.resizeLearnRightSidebar();
            }
          });
          resizeObserver.observe(o.contentWindow.document.getElementById('feedback-widget-newsletter-ajax-form-container'));
        }(this));"
                ></iframe>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
