---
import Base from "../../layouts/Base.astro";
const title = "The 6 most common types of bias when working with data";
const description =
  "When working with data your prejudices and prior beliefs can skew the way you reach to conclusion in several unexpected and elegant ways. Learn how to defend your reasoning.";
const seo = {
  title: "The 6 most common types of bias when working with data",
  description:
    "When working with data your prejudices and prior beliefs can skew the way you reach to conclusion in several unexpected and elegant ways. Learn how to defend your reasoning.",
  canonical: "/blog/6-most-common-type-of-data-bias-in-data-analysis",
  og: {
    title: "The 6 most common types of bias when working with data",
    description:
      "When working with data your prejudices and prior beliefs can skew the way you reach to conclusion in several unexpected and elegant ways. Learn how to defend your reasoning.",
    image:
      "https://www.metabase.com/images/posts/the-6-most-common-types-of-bias-when-working-with-data.jpg",
    url: "https://www.metabase.com/blog/6-most-common-type-of-data-bias-in-data-analysis",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "The 6 most common types of bias when working with data",
    description:
      "When working with data your prejudices and prior beliefs can skew the way you reach to conclusion in several unexpected and elegant ways. Learn how to defend your reasoning.",
    card: "summary_large_image",
    image:
      "https://www.metabase.com/images/posts/the-6-most-common-types-of-bias-when-working-with-data.jpg",
    creator: "The Metabase Team",
  },
};
---

<Base {title} {description} {seo}>
  <div class="MB-Page page-content">
    <div class="progress-bar z1" id="progress-bar"></div>

    <div class="bootstrap">
      <div id="post" class="bg-neutral-98-gradient">
        <div class="container pt-4">
          <section>
            <div
              class="row d-flex flex-column flex-lg-row align-items-start mb-11 mb-lg-13"
            >
              <div class="col-xs-12 col-lg-3">
                <a
                  class="chevron blue-small-left mb-8 mb-lg-0 fw-bold"
                  href="/blog">All posts</a
                >
              </div>
              <div class="col-xs-12 col-lg-9">
                <div class="d-lg-none mb-4 d-flex flex-column flex-sm-row">
                  <span class="paragraph-5 neutral-60 me-2"
                    >Oct 08, 2021 in <b class="category-name"
                      >Analytics and BI</b
                    ></span
                  >

                  <p class="paragraph-5 neutral-60 mb-0 d-none d-sm-block me-2">
                    ‧
                  </p>
                  <p class="paragraph-5 neutral-60 mb-0">9 min read</p>
                </div>
                <h1 class="h2 mb-6 mb-lg-8">
                  The 6 most common types of bias when working with data
                </h1>
                <div class="d-flex flex-row align-items-center">
                  <img
                    class="circle me-2"
                    src="/images/posts/blog-authors/the-metabase-team.svg"
                    alt="The Metabase Team Portrait"
                    width="36"
                    height="36"
                  />
                  <h5 class="neutral-40 mb-0 me-2">The Metabase Team</h5>
                  <div class="d-none d-lg-flex flex-row">
                    <span class="paragraph-5 neutral-60 me-2">
                      ‧ Oct 08, 2021 in <b class="category-name"
                        >Analytics and BI</b
                      ></span
                    >

                    <p class="paragraph-5 neutral-60 mb-0">‧ 9 min read</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="row d-flex">
            <div class="col-xs-12 col-lg-3 order-1 order-lg-0 mt-11 mt-lg-0">
              <div
                style="position: sticky; top: 136px;"
                class="d-flex flex-column"
              >
                <h5 class="mb-3 neutral-40">Share this article</h5>
                <div class="d-flex align-items-center gap-3">
                  <a
                    href="https://twitter.com/intent/tweet?url=https://metabase.com/blog/6-most-common-type-of-data-bias-in-data-analysis"
                    target="popup"
                    onclick="window.open('https://twitter.com/intent/tweet?url=https://metabase.com/blog/6-most-common-type-of-data-bias-in-data-analysis','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"
                  >
                    <svg
                      id=""
                      class="share-button"
                      width="22"
                      height="22"
                      viewBox="0 0 26 22"
                      fill="#C6C9D2"
                    >
                      <path
                        d="M24.9465693,3.43255605 C24.0654891,3.83264574 23.1186277,4.10304933 22.1248175,4.22466368 C23.1392117,3.60206278 23.9181606,2.61623318 24.2849927,1.44161435 C23.3357664,2.01802691 22.2843212,2.43668161 21.1652555,2.66233184 C20.2690219,1.68466368 18.9922044,1.07372197 17.5791825,1.07372197 C14.8658686,1.07372197 12.6661022,3.32600897 12.6661022,6.10403587 C12.6661022,6.49829596 12.709635,6.88224215 12.7933723,7.25040359 C8.71021898,7.0406278 5.09016058,5.03793722 2.6670365,1.99452915 C2.24414599,2.73748879 2.00186861,3.60161435 2.00186861,4.52349776 C2.00186861,6.26869955 2.86928467,7.80843049 4.18753285,8.71049327 C3.38213139,8.68439462 2.62464234,8.45811659 1.96218978,8.08134529 C1.96183942,8.10233184 1.96183942,8.12340807 1.96183942,8.14457399 C1.96183942,10.5818834 3.65532847,12.6150673 5.90283212,13.07713 C5.49054015,13.1921076 5.05652555,13.2535426 4.60840876,13.2535426 C4.29185401,13.2535426 3.98405839,13.2220628 3.68414599,13.1633184 C4.30928467,15.1618834 6.12364964,16.6162332 8.27348905,16.656861 C6.59208759,18.006009 4.47369343,18.8102242 2.1719708,18.8102242 C1.77544526,18.8102242 1.38435036,18.7864574 1,18.74 C3.17418978,20.1672646 5.75664234,21 8.53109489,21 C17.567708,21 22.5092555,13.3347982 22.5092555,6.68735426 C22.5092555,6.46923767 22.5045255,6.252287 22.4950657,6.03659193 C23.4548905,5.32735426 24.2878832,4.44134529 24.9465693,3.43255605"
                      >
                      </path>
                    </svg>
                  </a>
                  <a
                    href="https://www.linkedin.com/sharing/share-offsite/?url=https://metabase.com/blog/6-most-common-type-of-data-bias-in-data-analysis"
                    target="popup"
                    onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url=https://metabase.com/blog/6-most-common-type-of-data-bias-in-data-analysis','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"
                  >
                    <svg
                      id=""
                      class="share-button"
                      fill="#C6C9D2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 30 30"
                      width="30"
                      height="30"
                    >
                      <path
                        d="M24,4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18c1.105,0,2-0.895,2-2V6C26,4.895,25.105,4,24,4z M10.954,22h-2.95 v-9.492h2.95V22z M9.449,11.151c-0.951,0-1.72-0.771-1.72-1.72c0-0.949,0.77-1.719,1.72-1.719c0.948,0,1.719,0.771,1.719,1.719 C11.168,10.38,10.397,11.151,9.449,11.151z M22.004,22h-2.948v-4.616c0-1.101-0.02-2.517-1.533-2.517 c-1.535,0-1.771,1.199-1.771,2.437V22h-2.948v-9.492h2.83v1.297h0.04c0.394-0.746,1.356-1.533,2.791-1.533 c2.987,0,3.539,1.966,3.539,4.522V22z"
                      ></path>
                    </svg>
                  </a>
                  <a
                    class="copy-clip position-relative d-flex justify-content-center"
                    title="Copy to clipboard"
                  >
                    <svg
                      id=""
                      class="share-button"
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="#C6C9D2"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M19.2939 9.17106C19.5246 8.93228 19.8004 8.74183 20.1054 8.61081C20.4104 8.47978 20.7385 8.41082 21.0704 8.40793C21.4024 8.40505 21.7316 8.4683 22.0388 8.59401C22.3461 8.71971 22.6252 8.90534 22.8599 9.14007C23.0947 9.3748 23.2803 9.65393 23.406 9.96117C23.5317 10.2684 23.595 10.5976 23.5921 10.9296C23.5892 11.2615 23.5202 11.5896 23.3892 11.8946C23.2582 12.1996 23.0677 12.4754 22.8289 12.7061L19.0789 16.4561C18.6101 16.9247 17.9744 17.188 17.3114 17.188C16.6485 17.188 16.0128 16.9247 15.5439 16.4561C15.3082 16.2284 14.9924 16.1024 14.6647 16.1052C14.3369 16.1081 14.0234 16.2395 13.7917 16.4713C13.5599 16.703 13.4284 17.0166 13.4256 17.3443C13.4228 17.6721 13.5487 17.9878 13.7764 18.2236C14.7141 19.1609 15.9856 19.6875 17.3114 19.6875C18.6373 19.6875 19.9088 19.1609 20.8464 18.2236L24.5964 14.4736C25.5072 13.5305 26.0112 12.2675 25.9998 10.9566C25.9884 9.64557 25.4626 8.39151 24.5355 7.46447C23.6085 6.53743 22.3544 6.01158 21.0434 6.00019C19.7325 5.9888 18.4695 6.49277 17.5264 7.40356L15.6514 9.27856C15.5321 9.39387 15.4368 9.5318 15.3713 9.6843C15.3058 9.83681 15.2713 10.0008 15.2699 10.1668C15.2684 10.3328 15.3001 10.4974 15.3629 10.651C15.4258 10.8046 15.5186 10.9442 15.6359 11.0616C15.7533 11.1789 15.8929 11.2717 16.0465 11.3346C16.2001 11.3974 16.3647 11.4291 16.5307 11.4276C16.6967 11.4262 16.8607 11.3917 17.0132 11.3262C17.1657 11.2607 17.3036 11.1654 17.4189 11.0461L19.2939 9.17106ZM13.0439 15.4211C13.5128 14.9524 14.1485 14.6891 14.8114 14.6891C15.4744 14.6891 16.1101 14.9524 16.5789 15.4211C16.6942 15.5404 16.8322 15.6357 16.9847 15.7012C17.1372 15.7667 17.3012 15.8012 17.4672 15.8026C17.6332 15.8041 17.7978 15.7724 17.9514 15.7096C18.105 15.6467 18.2446 15.5539 18.3619 15.4366C18.4793 15.3192 18.5721 15.1796 18.635 15.026C18.6978 14.8724 18.7294 14.7078 18.728 14.5418C18.7266 14.3758 18.6921 14.2118 18.6266 14.0593C18.5611 13.9068 18.4658 13.7689 18.3464 13.6536C17.4088 12.7162 16.1373 12.1896 14.8114 12.1896C13.4856 12.1896 12.2141 12.7162 11.2764 13.6536L7.52644 17.4036C7.04889 17.8648 6.66798 18.4165 6.40593 19.0265C6.14389 19.6366 6.00596 20.2927 6.00019 20.9566C5.99442 21.6205 6.12093 22.2788 6.37233 22.8933C6.62374 23.5078 6.995 24.0661 7.46447 24.5355C7.93393 25.005 8.49219 25.3763 9.10667 25.6277C9.72115 25.8791 10.3796 26.0056 11.0434 25.9998C11.7073 25.994 12.3634 25.8561 12.9735 25.5941C13.5835 25.332 14.1352 24.9511 14.5964 24.4736L16.4714 22.5986C16.5908 22.4833 16.6861 22.3453 16.7516 22.1928C16.8171 22.0403 16.8516 21.8763 16.853 21.7103C16.8544 21.5443 16.8228 21.3797 16.76 21.2261C16.6971 21.0725 16.6043 20.9329 16.4869 20.8156C16.3696 20.6982 16.23 20.6054 16.0764 20.5425C15.9228 20.4797 15.7582 20.4481 15.5922 20.4495C15.4262 20.4509 15.2622 20.4854 15.1097 20.5509C14.9572 20.6164 14.8192 20.7117 14.7039 20.8311L12.8289 22.7061C12.5983 22.9448 12.3225 23.1353 12.0175 23.2663C11.7124 23.3973 11.3844 23.4663 11.0524 23.4692C10.7205 23.4721 10.3913 23.4088 10.0841 23.2831C9.77682 23.1574 9.49769 22.9718 9.26295 22.737C9.02822 22.5023 8.84259 22.2232 8.71689 21.9159C8.59118 21.6087 8.52793 21.2795 8.53082 20.9476C8.5337 20.6156 8.60267 20.2876 8.73369 19.9825C8.86471 19.6775 9.05517 19.4017 9.29394 19.1711L13.0439 15.4211Z"
                      ></path>
                    </svg>

                    <div class="copied-to-clipboard-wrapper visible invisible">
                      <div class="caret"></div>
                      <div class="copied-to-clipboard">Copied to clipboard</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div
              class="content-container col-xs-12 col-lg-6 order-0 order-lg-1"
            >
              <div id="post-content">
                <p>
                  You’re trying to make a good decision, and decide to take a
                  look at your data to help you make your call. You’ve got
                  everything you need to feel confident, and move forward
                  feeling invincible—after all, your data backs you up. But
                  then, things don’t turn out the way you expect. Suddenly
                  you’re scrambling, and trying to figure out what went wrong.
                </p>

                <p>
                  If that sounds familiar, you might be dealing with cognitive
                  biases which are influencing and distorting how you perceive
                  the world around you. These biases are universal —inherently a
                  part of how everyone processes information—but they take on
                  additional complexity when working with and learning from
                  data.
                </p>

                <h2
                  id="wait-i-thought-data-was-supposed-to-help-me-be-objective"
                >
                  Wait, I thought data was supposed to help me be objective?
                </h2>

                <p>
                  It’s true, working with data helps you to make better
                  decisions, anchored in reality rather than opinion. But just
                  because you’re working with data, doesn’t mean that your
                  biases can’t distort how you’re seeing the world.
                </p>

                <p>
                  Cognitive biases are systematic errors in thinking, usually
                  inherited by cultural and personal experiences, that lead to
                  distortions of perceptions when making decisions. And while
                  data might seem objective, data is collected and analyzed by
                  humans, and thus can be biased.
                </p>

                <p>
                  And these effects only grow when people are used to training
                  machine learning models. The models inherit the bias of the
                  people building them, and produce unexpected and harmful
                  outcomes like these:
                </p>

                <ul>
                  <li>
                    <a
                      href="https://www.reuters.com/article/us-amazon-com-jobs-automation-insight-idUSKCN1MK08G"
                      >Amazon’s recruiting machine learning system was biased
                      against women</a>
                  </li>
                  <li>
                    <a
                      href="https://www.nbcnews.com/tech/tech-news/self-driving-uber-car-hit-killed-woman-did-not-recognize-n1079281"
                      >Self-driving Uber car that hit and killed woman did not
                      recognize that pedestrians jaywalk</a>
                  </li>
                  <li>
                    <a
                      href="https://sitn.hms.harvard.edu/flash/2020/racial-discrimination-in-face-recognition-technology/"
                      >Racial Discrimination in Face Recognition Technology</a>
                  </li>
                </ul>

                <h2 id="so-what-can-i-do-about-data-bias">
                  So what can I do about data bias?
                </h2>

                <p>
                  The first step to overcome bias in your decision-making is to
                  familiarize yourself with the most common types of data bias.
                  To get you started, we’ve collected the six most common types
                  of data bias, along with some recommended mitigation
                  strategies.
                </p>

                <h2 id="1-confirmation-bias">1. Confirmation bias</h2>

                <p>
                  You’ve probably encountered this underlying bias every day of
                  your life. We all love being right, so our brains are
                  constantly on the hunt for evidence that supports our prior
                  beliefs. Even if we’re trying our best to be open to
                  alternative ideas, our minds are pushing back towards the
                  safety and comfort of our own first thoughts. This can happen
                  subconsciously through biases in how we search for, interpret,
                  or recall information, or consciously, when we decide to
                  cherry pick, by focusing on information that supports our
                  arguments.
                </p>

                <h3
                  id="confirmation-bias-example-the-social-media-echo-chamber"
                >
                  Confirmation bias example: the social media echo chamber
                </h3>

                <p>
                  “I saw it on Facebook, it was shared by John” — sound
                  familiar? Social media algorithms take advantage of people’s
                  natural confirmation biases. By promoting and amplifying
                  content that confirms what visitors already believe, social
                  media platforms reinforce visitors’ prior beliefs, keeping
                  them engaged with the platform. Users see what they already
                  believe, and leave feeling more convinced that their views are
                  supported in reality.
                </p>

                <h3 id="how-to-avoid-confirmation-bias">
                  How to avoid confirmation bias
                </h3>

                <ul>
                  <li>
                    Record your beliefs and assumptions before starting your
                    analysis. This will help you proactively recognize your
                    biases as you review your results.
                  </li>
                  <li>
                    Go through all the presented data and evidence, but don’t
                    immediately jump to conclusions. Resist the temptation to
                    generate hypotheses or gather additional information to
                    confirm your beliefs.
                  </li>
                  <li>
                    Revisit your recorded beliefs and assumptions at the
                    conclusion of your analysis, and evaluate if they’ve
                    influenced your findings.
                  </li>
                </ul>

                <h2 id="2-selection-bias">2. Selection bias</h2>

                <p>
                  Selection biases occur when looking at samples that are not
                  representative of the population. This can happen organically
                  when working with small sets of data, or when the sampling
                  methodology is not truly randomized.
                </p>

                <h3 id="selection-bias-example-ab-test-pricing">
                  Selection bias example: A/B test pricing
                </h3>

                <p>
                  A startup wants to know whether reducing the price of their
                  product would result in higher overall revenues. They decide
                  to test their new pricing for a week, but only test with
                  visitors from the US. When they roll-out the pricing to the
                  rest of the world, they’re surprised to find that the broader
                  audience behaves differently than their sample.
                </p>

                <h3 id="how-to-avoid-selection-bias">
                  How to avoid selection bias
                </h3>

                <ul>
                  <li>
                    Use randomization to ensure you have a representative sample
                    rather than a convenient one.
                  </li>
                  <li>
                    Make sure the samples are representative of the population
                    in the variables you want to control (eg. Geos are evenly
                    distributed)
                  </li>
                </ul>

                <h2 id="3-historical-bias">3. Historical Bias</h2>

                <p>
                  Historical data bias occurs when socio-cultural prejudices and
                  beliefs are mirrored into systematic processes. This becomes
                  particularly challenging when data from historically-biased
                  sources are used to train machine learning models—for example,
                  if manual systems give certain groups of people poor credit
                  ratings, and you’re using that data to train the automatic
                  system, the automatic system will replicate and may amplify
                  the original system’s biases.
                </p>

                <h3 id="historical-bias-example-word-embeddings">
                  Historical bias example: word embeddings
                </h3>

                <p>
                  In 2013, neural network models transformed the way machines
                  understand written words. This technology allows computers to
                  encode the semantic meaning of words, by learning from giant
                  sets of written text, like Wikipedia, Google News, or Reddit.
                  However, we’ve seen several examples where text sourced from
                  existing datasets has produced models that mirror and amplify
                  the existing biases contained in those datasets. For example,
                  a machine learning model trained on Wikipedia produced
                  gender-biased analogies like: man : doctor :: woman : nurse,
                  or man : commander :: woman : school teacher. The model
                  inherited the historical biases of society by learning from
                  the huge corpora of text, and produced work further
                  reinforcing those biases.
                </p>

                <h3 id="how-to-avoid-historical-bias">
                  How to avoid historical bias
                </h3>

                <ul>
                  <li>
                    Acknowledge and identify biases in historic and contemporary
                    data sources.
                  </li>
                  <li>
                    Establish and foster inclusivity frameworks for
                    underrepresented groups.
                  </li>
                </ul>

                <h2 id="4-survivorship-bias">4. Survivorship Bias</h2>

                <p>
                  It’s easier to focus on the winners rather than the
                  runners-up. If you think back to your favorite competition
                  from the 2016 Olympics, it’s probably pretty tough to recall
                  who got the silver and bronze. Survivorship bias influences us
                  to focus on the characteristic of winners, due to a lack of
                  visibility of other samples—confusing our ability to discern <a
                    href="/learn/grow-your-data-skills/analytics/analytics-mistakes#1-mixing-up-correlation-and-causation"
                    >correlation and causation</a
                  >.
                </p>

                <h3
                  id="survivorship-bias-example-over-indexing-on-the-advice-of-successful-entrepreneurs"
                >
                  Survivorship bias example: Over-indexing on the advice of
                  successful entrepreneurs
                </h3>

                <p>
                  After hearing business stories from people like successful
                  entrepreneurs, it’s tempting to try to follow their advice
                  without any question. Why? They succeeded. You may even think
                  that the key to being a successful entrepreneur is to never
                  finish college.
                </p>

                <p>
                  It’s true that they achieved impressive results, but how many
                  other people have followed the same path and failed? We pay
                  much less attention to the silent number of entrepreneurs who
                  failed, but there are far more of them. It doesn’t mean that
                  we shouldn’t study the strategies of successful leaders, but
                  we need to remember there are many more variables at play that
                  determine which organizations succeed.
                </p>

                <h3 id="how-to-avoid-survivorship-bias">
                  How to avoid survivorship bias
                </h3>

                <ul>
                  <li>
                    Don’t overindex on what survived. Take a step back and
                    consider the paths taken by both successful and unsuccessful
                    participants.
                  </li>
                  <li>Find more data for the other side of the story.</li>
                </ul>

                <h2 id="5-availability-bias">5. Availability Bias</h2>

                <p>
                  Availability of data has a big influence on how we view the
                  world—but not all data is investigated and weighed equally.
                  Have you ever found yourself wondering if crime has increased
                  in your neighborhood because you’ve seen a broken car window?
                  You’ve seen a vivid clue that something might be going on, but
                  since you probably didn’t go on to investigate crime
                  statistics, it’s likely that your perception shifted based on
                  the immediately available information.
                </p>

                <h3 id="availability-bias-example-innovation-mania">
                  Availability bias example: Innovation mania
                </h3>

                <p>
                  A breakthrough new technology is taking the world by storm.
                  You’re seeing it on every billboard, news article, and hearing
                  about it from your colleagues nonstop. When you encounter a
                  problem that this technology could help you with, it’s the
                  first thing on your mind, and you jump right into implementing
                  it on your new project. After a few weeks, your project isn’t
                  going as well as you’d hoped, and you realized that an older,
                  more proven technology might have been a better solution. But
                  because the breakthrough was easily available in your memory,
                  you didn’t fully investigate, and ended up needing to rethink
                  your work.
                </p>

                <h3 id="how-to-avoid-availability-bias">
                  How to avoid availability bias
                </h3>

                <ul>
                  <li>
                    Focus on larger trends and patterns, rather than vivid
                    anecdotal outliers. It’s possible that the vivid memories
                    you have, are the exception rather than the rule, and you
                    can only be sure by investigating further.
                  </li>
                  <li>
                    Look for different perspectives! News, media, but also your
                    team, family, and friends play a huge role in shaping this
                    natural shortcut, because they expose you more frequently to
                    what they think is important for you to remember and pay
                    attention to. You can counteract availability bias by
                    exercising curiosity and proactively digging into available
                    information, (even if it’s harder to get) to understand a
                    given situation.
                  </li>
                </ul>

                <h2 id="6-outlier-bias">6. Outlier Bias</h2>

                <p>
                  <a
                    href="/learn/grow-your-data-skills/analytics/analytics-mistakes#8-only-looking-at-averages"
                    >Averages are a great place to hide uncomfortable truths</a
                  >. Some data is convenient to visualize as an average, but
                  this simple operation hides the effect of outliers and
                  anomalies, and skews our observations.
                </p>

                <h3 id="outlier-bias-example-looking-at-the-average-of-kpi">
                  Outlier Bias example: looking at the average of KPI
                </h3>

                <p>
                  A start-up wants to be sure that their marketing site feels
                  quick and responsive. They decide to track their average
                  latency time to make sure that their site continues to load
                  quickly. After a few months of roughly consistent average
                  latency values, they start to see a decline in engagement on
                  some of their most important pages. When they investigate
                  further, they realize that the latency on those pages has
                  skyrocketed. Their average latency time site-wide continued to
                  paint a rosy image, because those pages were an outlier
                  amongst many other otherwise well-performing pages.
                </p>

                <h3 id="how-to-avoid-outlier-bias">
                  How to avoid outlier bias
                </h3>

                <ul>
                  <li>
                    When averages tell you things are looking good, it’s time to
                    dig deeper.
                  </li>
                  <li>Look at the entire range of distribution</li>
                  <li>Use median instead of average</li>
                  <li>Find and investigate outliers</li>
                </ul>

                <h2 id="final-thoughts-data-bias">Final thoughts: Data bias</h2>

                <p>
                  Working through our cognitive biases is an important part of
                  working with and learning from data. Although data helps us
                  see the world like never before—becoming aware of, and taking
                  preventative measures against data biases is an important step
                  to making better decisions with data.
                </p>

                <p>Cheers,</p>

                <p>The Metabase Team</p>
              </div>
              <div class="mt-15">
                <iframe
                  src="../subscribe-to-ai-newsletter-bottom-of-article.html"
                  id="subscribe-to-ai-newsletter-bottom-of-article"
                  class="newsletter-subscribe"
                  onload="javascript:(function(o){
          o.style.height=o.contentWindow.document.getElementById('newsletter-ajax-form-container-below-article').offsetHeight+'px';

          const resizeObserver = new ResizeObserver(function(entries) {
              const $firstEntry = entries[0];
              if ($firstEntry && $firstEntry.borderBoxSize && $firstEntry.borderBoxSize[0]) {
                  const $form = $firstEntry.borderBoxSize[0];
                  if ($form) {
                      o.style.height = $form.blockSize + 'px';
                  }
              }
          });
          resizeObserver.observe(o.contentWindow.document.getElementById('newsletter-ajax-form-container-below-article'));
      }(this));"
                ></iframe>
              </div>
            </div>
          </section>

          <section class="mt-8">
            <div class="d-flex flex-row justify-content-between">
              <h3 class="mb-0">You might also enjoy</h3>
              <a
                class="chevron blue-small-right fw-bold d-none d-lg-flex"
                href="/blog">All posts</a
              >
            </div>
            <div class="row mt-10 mt-lg-13">
              <div class="hover-raise-sm col-xs-12 col-lg-6 mb-8 mb-lg-0">
                <div
                  class="card hover-shadow hover-pointer bg-neutral-white border-0 rounded-3 p-6"
                >
                  <img
                    class="w-100 rounded-2 mb-8"
                    src="/images/posts/sales-dashboards/sales-dashboard-og.jpg"
                    alt="How to build sales dashboards that sales teams actually use Image"
                    loading="lazy"
                  />
                  <span class="paragraph-5 neutral-60 mb-3"
                    >Jul 09, 2025 in <b class="category-name"
                      >Analytics and BI</b
                    ></span
                  >
                  <h4 class="blog-title mb-4">
                    How to build sales dashboards that sales teams actually use
                  </h4>
                  <p class="paragraph-5 mb-6 neutral-40">
                    Build a sales dashboard your team will actually use. See 10
                    key metrics, tips, and a live example in Metabase.
                  </p>
                  <div class="d-flex flex-row align-items-center">
                    <img
                      class="circle me-2"
                      src="/images/posts/blog-authors/margaret-rimek.jpg"
                      alt="Margaret Rimek Portrait"
                      width="36"
                      height="36"
                      loading="lazy"
                    />
                    <div class="d-flex flex-column flex-sm-row">
                      <h5 class="neutral-40 mb-0 me-2">Margaret Rimek</h5>

                      <p
                        class="paragraph-5 neutral-60 mb-0 d-none d-sm-block me-2"
                      >
                        ‧
                      </p>
                      <p class="paragraph-5 neutral-60 mb-0">4 min read</p>
                    </div>
                  </div>
                  <a
                    href="/blog/how-to-build-sales-dashboards"
                    class="stretched-link h-0"></a>
                </div>
              </div>

              <div class="hover-raise-sm col-xs-12 col-lg-6 mb-8 mb-lg-0">
                <div
                  class="card hover-shadow hover-pointer bg-neutral-white border-0 rounded-3 p-6"
                >
                  <img
                    class="w-100 rounded-2 mb-8"
                    src="/images/posts/what-is-embedded-analytics/what-is-embedded-analytics.png"
                    alt="What is embedded analytics? Image"
                    loading="lazy"
                  />
                  <span class="paragraph-5 neutral-60 mb-3"
                    >May 15, 2025 in <b class="category-name"
                      >Analytics and BI</b
                    ></span
                  >
                  <h4 class="blog-title mb-4">What is embedded analytics?</h4>
                  <p class="paragraph-5 mb-6 neutral-40">
                    Embedded analytics means giving your users access to charts,
                    metrics, and reports directly inside your product, so they
                    can explore and act on their data without needing to leave
                    your app or rely on someone else for answers.
                  </p>
                  <div class="d-flex flex-row align-items-center">
                    <img
                      class="circle me-2"
                      src="/images/posts/blog-authors/alex-yarosh.jpg"
                      alt="Alex Yarosh Portrait"
                      width="36"
                      height="36"
                      loading="lazy"
                    />
                    <div class="d-flex flex-column flex-sm-row">
                      <h5 class="neutral-40 mb-0 me-2">Alex Yarosh</h5>

                      <p
                        class="paragraph-5 neutral-60 mb-0 d-none d-sm-block me-2"
                      >
                        ‧
                      </p>
                      <p class="paragraph-5 neutral-60 mb-0">13 min read</p>
                    </div>
                  </div>
                  <a
                    href="/blog/what-is-embedded-analytics"
                    class="stretched-link h-0"></a>
                </div>
              </div>
            </div>
            <a
              class="chevron blue-small-right fw-bold d-flex d-lg-none"
              href="/blog">All posts</a
            >
          </section>

          <div id="right-hand-newsletter-subscribe-widget" class="bleed-right">
            <div class="right-hand-newsletter-subscribe-form-container">
              <h6>Weekly tips for analysts</h6>
              <h5>
                Get actionable insights<br />on AI and data directly to your
                inbox
              </h5>

              <iframe
                src="../subscribe-to-ai-newsletter-righthandside.html"
                id="subscribe-to-ai-newsletter-righthandside"
                onload="javascript:(function(o){
          o.style.height=o.contentWindow.document.getElementById('feedback-widget-newsletter-ajax-form-container').offsetHeight+'px';

          const resizeObserver = new ResizeObserver(function(entries) {
            const $firstEntry = entries[0];
            if ($firstEntry && $firstEntry.borderBoxSize && $firstEntry.borderBoxSize[0]) {
              const $form = $firstEntry.borderBoxSize[0];
              if ($form) {
                o.style.height = $form.blockSize + 'px';
              }
            }

            if (window.resizeLearnRightSidebar) {
              window.resizeLearnRightSidebar();
            }
          });
          resizeObserver.observe(o.contentWindow.document.getElementById('feedback-widget-newsletter-ajax-form-container'));
        }(this));"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
