---
import Base from "../../layouts/Base.astro";
const title = "The story behind our AI Dataset Generator";
const description =
  "Explore the design choices, challenges, and achievements behind our open source AI Dataset Generator.";
const seo = {
  title: "The story behind our AI Dataset Generator",
  description:
    "Explore the design choices, challenges, and achievements behind our open source AI Dataset Generator.",
  canonical: "/blog/story-behind-ai-dataset-generator",
  og: {
    title: "The story behind our AI Dataset Generator",
    description:
      "Explore the design choices, challenges, and achievements behind our open source AI Dataset Generator.",
    image: "https://www.metabase.com/images/posts/ai-dataset-generator.png",
    url: "https://www.metabase.com/blog/story-behind-ai-dataset-generator",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "The story behind our AI Dataset Generator",
    description:
      "Explore the design choices, challenges, and achievements behind our open source AI Dataset Generator.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/posts/ai-dataset-generator.png",
    creator: "Matthew Hefferon",
  },
};
---

<Base {title} {description} {seo}>
  <div class="MB-Page page-content">
    <div class="progress-bar z1" id="progress-bar"></div>

    <div class="bootstrap">
      <div id="post" class="bg-neutral-98-gradient">
        <div class="container pt-4">
          <section>
            <div
              class="row d-flex flex-column flex-lg-row align-items-start mb-11 mb-lg-13"
            >
              <div class="col-xs-12 col-lg-3">
                <a
                  class="chevron blue-small-left mb-8 mb-lg-0 fw-bold"
                  href="/blog">All posts</a
                >
              </div>
              <div class="col-xs-12 col-lg-9">
                <div class="d-lg-none mb-4 d-flex flex-column flex-sm-row">
                  <span class="paragraph-5 neutral-60 me-2"
                    >Jul 15, 2025 in <b class="category-name"
                      >Data explorations</b
                    ></span
                  >

                  <p class="paragraph-5 neutral-60 mb-0 d-none d-sm-block me-2">
                    ‧
                  </p>
                  <p class="paragraph-5 neutral-60 mb-0">4 min read</p>
                </div>
                <h1 class="h2 mb-6 mb-lg-8">
                  The story behind our AI Dataset Generator
                </h1>
                <div class="d-flex flex-row align-items-center">
                  <img
                    class="circle me-2"
                    src="/images/posts/blog-authors/matthew-hefferon.jpg"
                    alt="Matthew Hefferon Portrait"
                    width="36"
                    height="36"
                  />
                  <h5 class="neutral-40 mb-0 me-2">Matthew Hefferon</h5>
                  <div class="d-none d-lg-flex flex-row">
                    <span class="paragraph-5 neutral-60 me-2">
                      ‧ Jul 15, 2025 in <b class="category-name"
                        >Data explorations</b
                      ></span
                    >

                    <p class="paragraph-5 neutral-60 mb-0">‧ 4 min read</p>
                  </div>
                </div>
              </div>
            </div>

            <img
              src="/images/posts/ai-dataset-generator.png"
              alt="The story behind our AI Dataset Generator Image"
              class="w-100 rounded-4"
              loading="lazy"
            />
          </section>
          <section class="row d-flex">
            <div class="col-xs-12 col-lg-3 order-1 order-lg-0 mt-11 mt-lg-0">
              <div
                style="position: sticky; top: 136px;"
                class="d-flex flex-column"
              >
                <h5 class="mb-3 neutral-40">Share this article</h5>
                <div class="d-flex align-items-center gap-3">
                  <a
                    href="https://twitter.com/intent/tweet?url=https://metabase.com/blog/story-behind-ai-dataset-generator"
                    target="popup"
                    onclick="window.open('https://twitter.com/intent/tweet?url=https://metabase.com/blog/story-behind-ai-dataset-generator','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"
                  >
                    <svg
                      id=""
                      class="share-button"
                      width="22"
                      height="22"
                      viewBox="0 0 26 22"
                      fill="#C6C9D2"
                    >
                      <path
                        d="M24.9465693,3.43255605 C24.0654891,3.83264574 23.1186277,4.10304933 22.1248175,4.22466368 C23.1392117,3.60206278 23.9181606,2.61623318 24.2849927,1.44161435 C23.3357664,2.01802691 22.2843212,2.43668161 21.1652555,2.66233184 C20.2690219,1.68466368 18.9922044,1.07372197 17.5791825,1.07372197 C14.8658686,1.07372197 12.6661022,3.32600897 12.6661022,6.10403587 C12.6661022,6.49829596 12.709635,6.88224215 12.7933723,7.25040359 C8.71021898,7.0406278 5.09016058,5.03793722 2.6670365,1.99452915 C2.24414599,2.73748879 2.00186861,3.60161435 2.00186861,4.52349776 C2.00186861,6.26869955 2.86928467,7.80843049 4.18753285,8.71049327 C3.38213139,8.68439462 2.62464234,8.45811659 1.96218978,8.08134529 C1.96183942,8.10233184 1.96183942,8.12340807 1.96183942,8.14457399 C1.96183942,10.5818834 3.65532847,12.6150673 5.90283212,13.07713 C5.49054015,13.1921076 5.05652555,13.2535426 4.60840876,13.2535426 C4.29185401,13.2535426 3.98405839,13.2220628 3.68414599,13.1633184 C4.30928467,15.1618834 6.12364964,16.6162332 8.27348905,16.656861 C6.59208759,18.006009 4.47369343,18.8102242 2.1719708,18.8102242 C1.77544526,18.8102242 1.38435036,18.7864574 1,18.74 C3.17418978,20.1672646 5.75664234,21 8.53109489,21 C17.567708,21 22.5092555,13.3347982 22.5092555,6.68735426 C22.5092555,6.46923767 22.5045255,6.252287 22.4950657,6.03659193 C23.4548905,5.32735426 24.2878832,4.44134529 24.9465693,3.43255605"
                      >
                      </path>
                    </svg>
                  </a>
                  <a
                    href="https://www.linkedin.com/sharing/share-offsite/?url=https://metabase.com/blog/story-behind-ai-dataset-generator"
                    target="popup"
                    onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url=https://metabase.com/blog/story-behind-ai-dataset-generator','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"
                  >
                    <svg
                      id=""
                      class="share-button"
                      fill="#C6C9D2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 30 30"
                      width="30"
                      height="30"
                    >
                      <path
                        d="M24,4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18c1.105,0,2-0.895,2-2V6C26,4.895,25.105,4,24,4z M10.954,22h-2.95 v-9.492h2.95V22z M9.449,11.151c-0.951,0-1.72-0.771-1.72-1.72c0-0.949,0.77-1.719,1.72-1.719c0.948,0,1.719,0.771,1.719,1.719 C11.168,10.38,10.397,11.151,9.449,11.151z M22.004,22h-2.948v-4.616c0-1.101-0.02-2.517-1.533-2.517 c-1.535,0-1.771,1.199-1.771,2.437V22h-2.948v-9.492h2.83v1.297h0.04c0.394-0.746,1.356-1.533,2.791-1.533 c2.987,0,3.539,1.966,3.539,4.522V22z"
                      ></path>
                    </svg>
                  </a>
                  <a
                    class="copy-clip position-relative d-flex justify-content-center"
                    title="Copy to clipboard"
                  >
                    <svg
                      id=""
                      class="share-button"
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="#C6C9D2"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M19.2939 9.17106C19.5246 8.93228 19.8004 8.74183 20.1054 8.61081C20.4104 8.47978 20.7385 8.41082 21.0704 8.40793C21.4024 8.40505 21.7316 8.4683 22.0388 8.59401C22.3461 8.71971 22.6252 8.90534 22.8599 9.14007C23.0947 9.3748 23.2803 9.65393 23.406 9.96117C23.5317 10.2684 23.595 10.5976 23.5921 10.9296C23.5892 11.2615 23.5202 11.5896 23.3892 11.8946C23.2582 12.1996 23.0677 12.4754 22.8289 12.7061L19.0789 16.4561C18.6101 16.9247 17.9744 17.188 17.3114 17.188C16.6485 17.188 16.0128 16.9247 15.5439 16.4561C15.3082 16.2284 14.9924 16.1024 14.6647 16.1052C14.3369 16.1081 14.0234 16.2395 13.7917 16.4713C13.5599 16.703 13.4284 17.0166 13.4256 17.3443C13.4228 17.6721 13.5487 17.9878 13.7764 18.2236C14.7141 19.1609 15.9856 19.6875 17.3114 19.6875C18.6373 19.6875 19.9088 19.1609 20.8464 18.2236L24.5964 14.4736C25.5072 13.5305 26.0112 12.2675 25.9998 10.9566C25.9884 9.64557 25.4626 8.39151 24.5355 7.46447C23.6085 6.53743 22.3544 6.01158 21.0434 6.00019C19.7325 5.9888 18.4695 6.49277 17.5264 7.40356L15.6514 9.27856C15.5321 9.39387 15.4368 9.5318 15.3713 9.6843C15.3058 9.83681 15.2713 10.0008 15.2699 10.1668C15.2684 10.3328 15.3001 10.4974 15.3629 10.651C15.4258 10.8046 15.5186 10.9442 15.6359 11.0616C15.7533 11.1789 15.8929 11.2717 16.0465 11.3346C16.2001 11.3974 16.3647 11.4291 16.5307 11.4276C16.6967 11.4262 16.8607 11.3917 17.0132 11.3262C17.1657 11.2607 17.3036 11.1654 17.4189 11.0461L19.2939 9.17106ZM13.0439 15.4211C13.5128 14.9524 14.1485 14.6891 14.8114 14.6891C15.4744 14.6891 16.1101 14.9524 16.5789 15.4211C16.6942 15.5404 16.8322 15.6357 16.9847 15.7012C17.1372 15.7667 17.3012 15.8012 17.4672 15.8026C17.6332 15.8041 17.7978 15.7724 17.9514 15.7096C18.105 15.6467 18.2446 15.5539 18.3619 15.4366C18.4793 15.3192 18.5721 15.1796 18.635 15.026C18.6978 14.8724 18.7294 14.7078 18.728 14.5418C18.7266 14.3758 18.6921 14.2118 18.6266 14.0593C18.5611 13.9068 18.4658 13.7689 18.3464 13.6536C17.4088 12.7162 16.1373 12.1896 14.8114 12.1896C13.4856 12.1896 12.2141 12.7162 11.2764 13.6536L7.52644 17.4036C7.04889 17.8648 6.66798 18.4165 6.40593 19.0265C6.14389 19.6366 6.00596 20.2927 6.00019 20.9566C5.99442 21.6205 6.12093 22.2788 6.37233 22.8933C6.62374 23.5078 6.995 24.0661 7.46447 24.5355C7.93393 25.005 8.49219 25.3763 9.10667 25.6277C9.72115 25.8791 10.3796 26.0056 11.0434 25.9998C11.7073 25.994 12.3634 25.8561 12.9735 25.5941C13.5835 25.332 14.1352 24.9511 14.5964 24.4736L16.4714 22.5986C16.5908 22.4833 16.6861 22.3453 16.7516 22.1928C16.8171 22.0403 16.8516 21.8763 16.853 21.7103C16.8544 21.5443 16.8228 21.3797 16.76 21.2261C16.6971 21.0725 16.6043 20.9329 16.4869 20.8156C16.3696 20.6982 16.23 20.6054 16.0764 20.5425C15.9228 20.4797 15.7582 20.4481 15.5922 20.4495C15.4262 20.4509 15.2622 20.4854 15.1097 20.5509C14.9572 20.6164 14.8192 20.7117 14.7039 20.8311L12.8289 22.7061C12.5983 22.9448 12.3225 23.1353 12.0175 23.2663C11.7124 23.3973 11.3844 23.4663 11.0524 23.4692C10.7205 23.4721 10.3913 23.4088 10.0841 23.2831C9.77682 23.1574 9.49769 22.9718 9.26295 22.737C9.02822 22.5023 8.84259 22.2232 8.71689 21.9159C8.59118 21.6087 8.52793 21.2795 8.53082 20.9476C8.5337 20.6156 8.60267 20.2876 8.73369 19.9825C8.86471 19.6775 9.05517 19.4017 9.29394 19.1711L13.0439 15.4211Z"
                      ></path>
                    </svg>

                    <div class="copied-to-clipboard-wrapper visible invisible">
                      <div class="caret"></div>
                      <div class="copied-to-clipboard">Copied to clipboard</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div
              class="content-container col-xs-12 col-lg-6 order-0 order-lg-1"
            >
              <div id="post-content">
                <p>
                  At Metabase, I often need fake data to demo new features. I
                  found myself digging through Kaggle, but not feeling very
                  inspired, and wasting a lot of time searching. So I built a
                  little tool to help me generate datasets and decided to open
                  source it.
                </p>

                <p>
                  It ended up hitting the front page of Hacker News, <a
                    href="https://github.com/metabase/dataset-generator"
                    >got 600+ stars on GitHub</a
                  >, received contributions from a YC-backed startup, and was
                  picked up by TLDR newsletter.
                </p>

                <div class="blog-callout p2 mb4 bordered rounded">
                  We’ve brought the <a href="/ai-data-generator"
                    >AI data generator</a
                  > to the browser so the community can generate datasets instantly.
                  Open access, instant results, and free to explore.
                </div>

                <h2 id="why-not-kaggle-or-chatgpt">
                  Why not Kaggle or ChatGPT
                </h2>

                <p>
                  As mentioned above, I was feeling very uninspired by Kaggle
                  datasets and kept turning to ChatGPT to generate fake data.
                  I’d ask for something, get results back, visualize it, and
                  spot issues. Bar charts all the same height, growth trends
                  going the wrong way, not enough variation, etc. I found myself
                  repeating that cycle and thought… maybe there’s a better way.
                </p>

                <h2 id="what-i-actually-did">What I actually did</h2>

                <p>
                  Since I’d already been writing prompts and had some
                  experience, I figured, why not turn that process into a simple
                  tool? So I converted my prompt inputs into a few dropdowns:
                </p>

                <ul>
                  <li>Business type</li>
                  <li>Row count</li>
                  <li>Single or multi-table schema</li>
                  <li>Date range</li>
                  <li>Growth pattern</li>
                  <li>Variation and granularity</li>
                </ul>

                <p>
                  You hit “Preview Data” and get back a sample schema and 10
                  rows of data. If it looks good, you can export a full dataset
                  as CSV, SQL, or launch Metabase to explore it.
                </p>

                <h2 id="how-it-works">How It Works</h2>

                <h3 id="step-1-how-schema-generation-works">
                  Step 1: How schema generation works
                </h3>

                <p>
                  When you hit “Preview Data,” the app sends a prompt to your
                  selected LLM provider (OpenAI, Anthropic, or Google) via
                  LiteLLM. It’s tailored to the business type and returns a JSON
                  spec defining the tables, fields, relationships, and logic.
                  Think of it as a blueprint for a believable dataset.
                </p>

                <p>
                  Originally, I was just generating the schema with ChatGPT. But
                  after a few folks on Hacker News mentioned it’d be cool to
                  switch models, we got an awesome <a
                    href="https://github.com/metabase/dataset-generator/pull/6"
                    >PR</a
                  > that added LiteLLM support, so now you can swap between providers
                  easily. Thanks for the contribution <a
                    href="https://github.com/manueltarouca">@manueltarouca</a
                  >!
                </p>

                <h3 id="step-2-rows-are-generated-locally-by-the-datafactory">
                  <strong
                    >Step 2: Rows are generated locally by the DataFactory</strong>
                </h3>

                <p>
                  I originally had the LLM generate all the rows, but it was
                  painfully slow, even for 100 rows. I tried splitting the job
                  into batches, but that introduced new issues. For example, a
                  user ID might be <code
                    class="language-plaintext highlighter-rouge">001</code
                  >, <code class="language-plaintext highlighter-rouge"
                    >002</code
                  >, <code class="language-plaintext highlighter-rouge"
                    >003</code
                  > in the first batch and something like <code
                    class="language-plaintext highlighter-rouge">u099</code
                  >, <code class="language-plaintext highlighter-rouge"
                    >u100</code
                  > in the second.
                </p>

                <p>
                  So I took a step back and had a deep discussion with Cursor. I
                  needed something fast, more realistic, and cheaper to run.
                  After some back and forth, I decided to build the DataFactory.
                  It generates data locally using <a href="https://fakerjs.dev/"
                    >Faker.js</a
                  > and applies the schema + simulation rules from the LLM. It also
                  enforces logic like:
                </p>

                <ul>
                  <li>Realistic SaaS churn and pricing plans</li>
                  <li>
                    E-commerce subtotals, tax, and shipping that actually add up
                  </li>
                  <li>
                    Healthcare claims where payouts never exceed procedure costs
                  </li>
                </ul>

                <p>
                  <img
                    src="/images/ai-dataset-generator-example.png"
                    alt="Preview data of a B2B SaaS business"
                  />
                </p>

                <h3 id="step-3-performance-and-cost">
                  Step 3: Performance and cost
                </h3>

                <p>
                  By splitting it into two phases, the tool stays fast and
                  surprisingly cheap. Schema generation is the only part that
                  hits the LLM, and I wanted to make sure it wouldn’t lead me to
                  bankruptcy. So I added token tracking and ran the numbers
                  using a super advanced formula:
                </p>

                <blockquote>
                  <p>total_tokens × cost_per_token = ???</p>
                </blockquote>

                <p>
                  Turns out… not that bad. Most previews come in around
                  $0.03–$0.05 with GPT-4o. After that, it’s all free. No extra
                  API calls, just pure, 100%, Grade A data.
                </p>

                <h3 id="try-it-yourself--contribute">
                  Try it yourself + contribute
                </h3>

                <p>
                  It’s still early, so it’s not bulletproof. But if you need
                  quick, realistic datasets, give it a try. Everything runs
                  locally with Docker, and all you need is an API key from your
                  favorite LLM provider to get started.
                </p>

                <p>
                  If you want to contribute, there’s plenty of room to jump in:
                </p>

                <ul>
                  <li>Add new business types or tweak existing ones</li>
                  <li>Improve schema logic or simulation rules</li>
                  <li>Add your awesome feature here</li>
                </ul>

                <p>
                  The groundwork is already there. If you’ve got ideas, I’d love
                  your help taking it further. <a
                    href="https://github.com/metabase/dataset-generator"
                    >Star it, fork it, or open a PR on GitHub</a
                  >.
                </p>
              </div>
              <div class="mt-15">
                <iframe
                  src="../subscribe-to-ai-newsletter-bottom-of-article.html"
                  id="subscribe-to-ai-newsletter-bottom-of-article"
                  class="newsletter-subscribe"
                  onload="javascript:(function(o){
          o.style.height=o.contentWindow.document.getElementById('newsletter-ajax-form-container-below-article').offsetHeight+'px';

          const resizeObserver = new ResizeObserver(function(entries) {
              const $firstEntry = entries[0];
              if ($firstEntry && $firstEntry.borderBoxSize && $firstEntry.borderBoxSize[0]) {
                  const $form = $firstEntry.borderBoxSize[0];
                  if ($form) {
                      o.style.height = $form.blockSize + 'px';
                  }
              }
          });
          resizeObserver.observe(o.contentWindow.document.getElementById('newsletter-ajax-form-container-below-article'));
      }(this));"
                ></iframe>
              </div>
            </div>
          </section>

          <section class="mt-8">
            <div class="d-flex flex-row justify-content-between">
              <h3 class="mb-0">You might also enjoy</h3>
              <a
                class="chevron blue-small-right fw-bold d-none d-lg-flex"
                href="/blog">All posts</a
              >
            </div>
            <div class="row mt-10 mt-lg-13">
              <div class="hover-raise-sm col-xs-12 col-lg-6 mb-8 mb-lg-0">
                <div
                  class="card hover-shadow hover-pointer bg-neutral-white border-0 rounded-3 p-6"
                >
                  <img
                    class="w-100 rounded-2 mb-8"
                    src="/images/posts/hidden-costs-of-the-data-stack/hidden-costs.jpg"
                    alt="The hidden costs of the data stack Image"
                    loading="lazy"
                  />
                  <span class="paragraph-5 neutral-60 mb-3"
                    >May 12, 2023 in <b class="category-name"
                      >Data explorations</b
                    ></span
                  >
                  <h4 class="blog-title mb-4">
                    The hidden costs of the data stack
                  </h4>
                  <p class="paragraph-5 mb-6 neutral-40">
                    An incomplete list of the less obvious costs associated with
                    maintaining a data stack, and some things you can do to keep
                    those costs under control.
                  </p>
                  <div class="d-flex flex-row align-items-center">
                    <img
                      class="circle me-2"
                      src="/images/posts/blog-authors/the-metabase-team.svg"
                      alt="The Metabase Team Portrait"
                      width="36"
                      height="36"
                      loading="lazy"
                    />
                    <div class="d-flex flex-column flex-sm-row">
                      <h5 class="neutral-40 mb-0 me-2">The Metabase Team</h5>

                      <p
                        class="paragraph-5 neutral-60 mb-0 d-none d-sm-block me-2"
                      >
                        ‧
                      </p>
                      <p class="paragraph-5 neutral-60 mb-0">9 min read</p>
                    </div>
                  </div>
                  <a
                    href="/blog/the-hidden-cost-of-data-stacks"
                    class="stretched-link h-0"></a>
                </div>
              </div>

              <div class="hover-raise-sm col-xs-12 col-lg-6 mb-8 mb-lg-0">
                <div
                  class="card hover-shadow hover-pointer bg-neutral-white border-0 rounded-3 p-6"
                >
                  <img
                    class="w-100 rounded-2 mb-8"
                    src="/images/posts/bus-factor/bus-factor.jpg"
                    alt="Bus factor of top GitHub projects Image"
                    loading="lazy"
                  />
                  <span class="paragraph-5 neutral-60 mb-3"
                    >Nov 14, 2022 in <b class="category-name"
                      >Data explorations</b
                    ></span
                  >
                  <h4 class="blog-title mb-4">
                    Bus factor of top GitHub projects
                  </h4>
                  <p class="paragraph-5 mb-6 neutral-40">
                    What is the bus factor for the top one thousand GitHub
                    repositories with the most stars?
                  </p>
                  <div class="d-flex flex-row align-items-center">
                    <img
                      class="circle me-2"
                      src="/images/posts/blog-authors/the-metabase-team.svg"
                      alt="The Metabase Team Portrait"
                      width="36"
                      height="36"
                      loading="lazy"
                    />
                    <div class="d-flex flex-column flex-sm-row">
                      <h5 class="neutral-40 mb-0 me-2">The Metabase Team</h5>

                      <p
                        class="paragraph-5 neutral-60 mb-0 d-none d-sm-block me-2"
                      >
                        ‧
                      </p>
                      <p class="paragraph-5 neutral-60 mb-0">4 min read</p>
                    </div>
                  </div>
                  <a href="/blog/bus-factor" class="stretched-link h-0"></a>
                </div>
              </div>
            </div>
            <a
              class="chevron blue-small-right fw-bold d-flex d-lg-none"
              href="/blog">All posts</a
            >
          </section>

          <div id="right-hand-newsletter-subscribe-widget" class="bleed-right">
            <div class="right-hand-newsletter-subscribe-form-container">
              <h6>Weekly tips for analysts</h6>
              <h5>
                Get actionable insights<br />on AI and data directly to your
                inbox
              </h5>

              <iframe
                src="../subscribe-to-ai-newsletter-righthandside.html"
                id="subscribe-to-ai-newsletter-righthandside"
                onload="javascript:(function(o){
          o.style.height=o.contentWindow.document.getElementById('feedback-widget-newsletter-ajax-form-container').offsetHeight+'px';

          const resizeObserver = new ResizeObserver(function(entries) {
            const $firstEntry = entries[0];
            if ($firstEntry && $firstEntry.borderBoxSize && $firstEntry.borderBoxSize[0]) {
              const $form = $firstEntry.borderBoxSize[0];
              if ($form) {
                o.style.height = $form.blockSize + 'px';
              }
            }

            if (window.resizeLearnRightSidebar) {
              window.resizeLearnRightSidebar();
            }
          });
          resizeObserver.observe(o.contentWindow.document.getElementById('feedback-widget-newsletter-ajax-form-container'));
        }(this));"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
