.container-docs {
  margin: 20px;
  max-width: 900px;
}
@media screen and (min-width: 60em) {
  .container-docs {
    margin: auto;
    max-width: 900px;
  }
}
.docs a {
  display: inline-block;
}
.docs a:hover {
  text-decoration: underline;
}
#docs-hero a:hover > *,
#docs-hero a > *,
.MB-Documentation + .MB-Footer a:hover,
.docs a {
  color: #509ee3;
}
.MB-Documentation img {
  border: 2px solid #e8e8e8;
  border-radius: 2px;
  max-width: 100%;
  transition: border 0.3s linear;
}
.MB-Documentation img:hover {
  border-color: #509ee3;
  cursor: zoom-in;
}
.MB-DocumentationHeader {
  color: #fff;
  padding-top: 0;
}
.MB-Documentation,
.MB-DocumentationHeader {
  background-color: #509ee3;
}
.MB-Documentation li code,
.MB-Documentation p code,
.MB-Documentation pre {
  font-size: 1rem;
  padding: 4px 6px;
}
.MB-Documentation p {
  margin-bottom: 14px;
  margin-top: 8px;
  color: #4c5773;
}
li {
  color: #4c5773;
}
.docs blockquote:not(.plans-blockquote) {
  border-left: 1px solid #509ee3;
  padding-left: 20px;
}
.MB-Documentation h1,
h2,
h3 {
  margin-bottom: 16px;
  margin-top: 32px;
}
.MB-Documentation h4,
.MB-Documentation h5,
.MB-Documentation h6 {
  margin-bottom: 8px;
  margin-top: 32px;
}
.MB-Documentation li {
  font-size: 18px;
  line-height: 28px;
}
@media screen and (min-width: 60em) {
  .MB-Documentation li {
    margin-bottom: 0.5em;
  }
  .MB-Documentation li > ol,
  .MB-Documentation li > ul {
    margin-top: 0.5em;
  }
}
.MB-Documentation hr {
  border-top: 1px solid #e8e8e8;
  margin-bottom: 32px;
  margin-top: 32px;
}
.all-of-the-latest-documentation h1:first-child {
  padding: 0;
}
#docs-hero a {
  padding-bottom: 32px;
}
#docs-hero h3 {
  margin-bottom: 8px;
}
#docs-hero h5 {
  font-weight: 400;
}
@media screen and (min-width: 60em) {
  .MB-Documentation-sm-mr2 {
    margin-right: 1.728em;
  }
}
