body.delay-gdpr-banner .gdpr-cookie-notice {
  transition: all ease 1s 10s;
}

.gdpr-cookie-notice {
  background: #22242b;
  border-radius: 0.75rem;
  bottom: 0.5rem;
  box-shadow: 0 3px 24px rgb(0, 0, 0, 0.08);
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  left: 0.5rem;
  margin: 0 0.25rem;
  padding: 0 0.5rem 0.5rem;
  position: fixed;
  right: 0;
  width: 75%;
}

.gdpr-cookie-notice-description {
  color: #fff;
  font-size: 13px;
  line-height: 14px;
}

.gdpr-cookie-notice-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
}

.gdpr-cookie-notice-modal-cookies,
.gdpr-cookie-notice-modal-footer,
.gdpr-cookie-notice-modal-header {
  padding-left: 22px;
  padding-right: 22px;
}

.gdpr-cookie-notice-modal-footer .gdpr-cookie-notice-modal-cookie-state {
  text-align: left;
}

.gdpr-cookie-notice-modal-cookie-row {
  padding-left: 0;
  padding-right: 0;
}

.gdpr-cookie-notice-modal-footer-item:hover {
  color: #1c6bb0;
}

.gdpr-cookie-notice-modal-cookie-state {
  text-align: right;
}

.gdpr-cookie-notice-modal-cookie-state,
.gdpr-cookie-notice-modal-footer-item {
  color: #509ee3;
  margin: 0.25rem 0;
  width: 100%;
}

.gdpr-cookie-notice-modal-cookie-input:checked
  + .gdpr-cookie-notice-modal-cookie-input-switch,
.gdpr-cookie-notice-modal-footer-item-btn {
  background: #509ee3;
  color: #fff;
}

.gdpr-cookie-notice-modal-cookie-input:checked
  + .gdpr-cookie-notice-modal-cookie-input-switch {
  box-shadow: inset 0 0 0 1px #509ee3;
}

.gdpr-cookie-notice-modal-close:hover,
.gdpr-cookie-notice-modal-cookie-title:hover {
  cursor: pointer;
}

.gdpr-cookie-notice-modal-cookie-title {
  padding-right: 1.125rem;
}

.gdpr-cookie-notice-modal-cookie-title::after {
  right: 0;
}

.gdpr-cookie-notice-nav-item {
  border-radius: 0.375rem;
  display: block;
  font-size: 0.938rem;
  font-weight: 600;
  height: 2.5rem;
  line-height: 2.5;
  margin: 0.313rem;
  padding: 0 1rem;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

.gdpr-cookie-notice-nav-item-settings {
  background-color: #22242b;
  border: 1px solid #fff;
  color: #fff;
}

.gdpr-cookie-notice-nav-item-settings:hover {
  border: 1px solid #f1f2f4;
  color: #f1f2f4;
}

.gdpr-cookie-notice-nav-item-accept {
  background-color: #fff;
  border-color: #fff;
  color: #000;
  transition: 300ms linear;
}

.gdpr-cookie-notice-nav-item-accept:hover {
  background-color: #f1f2f4;
  border-color: #f1f2f4;
  color: #000;
}

.gdpr-cookie-notice-modal-footer-item-save {
  transition: background-color 0.3s ease !important;
}

.gdpr-cookie-notice-modal-footer-item-save:hover {
  background-color: #1c6bb0;
  color: #fff;
}

@media screen and (min-width: 696px) {
  .gdpr-cookie-notice {
    bottom: 3rem;
    left: 2.5rem;
    margin: 0;
    max-width: 800px;
    position: fixed;
    right: 0;
    width: 70%;
    z-index: 20;
  }

  .gdpr-cookie-notice-nav-item {
    margin: 0 0.625rem;
    width: auto;
  }

  .gdpr-cookie-notice-nav {
    flex-direction: row;
    justify-content: flex-start;
  }

  .gdpr-cookie-notice {
    align-items: center;
    display: flex;
  }

  .gdpr-cookie-notice-description {
    margin-bottom: 0;
    padding: 1rem;
    width: 101%;
  }
}

@media screen and (min-width: 768px) {
  .gdpr-cookie-notice {
    padding-top: 0.5rem;
  }
}

@media screen and (min-width: 960px) {
  .gdpr-cookie-notice {
    left: 0;
    margin: auto;
    width: 73%;
  }

  .gdpr-cookie-notice-nav {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .gdpr-cookie-notice-description {
    width: 148%;
  }

  .gdpr-cookie-notice {
    max-width: 1440px;
  }
}
