---
import Base from "../../layouts/Base.astro";
const title = "Help is here";
const description =
  "Metabase resources for getting unstuck: documentation, tutorials, discussion forum, and more.";
const seo = {
  title: "Help is here",
  description:
    "Metabase resources for getting unstuck: documentation, tutorials, discussion forum, and more.",
  canonical: "/help/",
  og: {
    title: "Help is here",
    description:
      "Metabase resources for getting unstuck: documentation, tutorials, discussion forum, and more.",
    url: "https://www.metabase.com/help",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Help is here",
    description:
      "Metabase resources for getting unstuck: documentation, tutorials, discussion forum, and more.",
    card: "summary",
    image: "https://www.metabase.com/images/twitter/default-share.png",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <input id="latest-version" type="hidden" value="v0.56.2" />
      <input id="latest-enterprise" type="hidden" value="v1.56.2" />
      <div
        class="py-4 text-left text-md-center"
        id="version-warning"
        style="background: #F9FBFC;"
      >
        <div class="container">
          <p class="paragraph-5 mb-0">
            You're running Metabase <span id="current-version"></span>.
            <a href="/docs/latest/">Upgrading to <span id="version"></span></a>,
            the latest, may help solve any issues.
          </p>
        </div>
      </div>
      <div class="container">
        <div class="help-page pt-4 pb-12">
          <div class="row flex-column flex-md-row">
            <div class="col-12">
              <h1 class="h3 mb-6 my-8 blue-25">Help is here</h1>
            </div>
          </div>

          <div class="row flex-column flex-md-row">
            <div class="col-12 col-md-6">
              <div class="border-card">
                <a
                  href="/docs/latest/troubleshooting-guide/"
                  class="row flex-row align-items-center"
                >
                  <div class="col-10">
                    <p class="paragraph-4 blue-60 fw-bold mb-2">
                      Troubleshooting
                    </p>
                    <p class="paragraph-5 neutral-40 mb-0 pe-5">
                      Find and fix the root cause of common issues.
                    </p>
                  </div>
                  <div class="col-2 text-right">
                    <img src="/images/arrow.svg" alt="" />
                  </div>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="border-card">
                <a href="/docs/latest/" class="row flex-row align-items-center">
                  <div class="col-10">
                    <p class="paragraph-4 blue-60 fw-bold mb-2">
                      Documentation
                    </p>
                    <p class="paragraph-5 neutral-40 mb-0 pe-5">
                      In depth articles covering setup and day to day use.
                    </p>
                  </div>
                  <div class="col-2 text-right">
                    <img src="/images/arrow.svg" alt="" />
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="row flex-column flex-md-row">
            <div class="col-12 col-md-6">
              <div class="border-card">
                <a
                  href="https://discourse.metabase.com/"
                  target="_blank"
                  class="row flex-row align-items-center"
                >
                  <div class="col-10">
                    <p class="paragraph-4 blue-60 fw-bold mb-2">
                      Discussion forum
                    </p>
                    <p class="paragraph-5 neutral-40 mb-0 pe-5">
                      Ask questions and learn from other Metabase users.
                    </p>
                  </div>
                  <div class="col-2 text-right">
                    <img src="/images/arrow.svg" alt="" />
                  </div>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="border-card">
                <a
                  href="/learn/"
                  target="_blank"
                  class="row flex-row align-items-center"
                >
                  <div class="col-10">
                    <p class="paragraph-4 blue-60 fw-bold mb-2">Learn</p>
                    <p class="paragraph-5 neutral-40 mb-0 pe-5">
                      Tutorials, guides, articles, and more.
                    </p>
                  </div>
                  <div class="col-2 text-right">
                    <img src="/images/arrow.svg" alt="" />
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="row flex-column flex-md-row mt-6">
            <div class="col-12">
              <div
                class="row align-items-center py-4 pb-8 pb-md-4"
                style="background: #F9FBFC;"
              >
                <div class="col-12 col-md-1 py-4 ps-md-8">
                  <img src="/images/noun-bulb.svg" alt="" />
                </div>
                <div class="col-12 col-md-6">
                  <p class="paragraph-4 fw-bold mb-md-0 neutral-40">
                    Looking for more hands-on support?
                  </p>
                </div>
                <div class="col-12 col-md-4 ms-md-8 text-md-end">
                  <a
                    class="Button btn btn-outline-blue fs-12 pt-4 pb-4 ps-6 pe-6"
                    href="/pricing/">Explore paid plans</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
