---
import Base from "../../../../layouts/Base.astro";
const title = "How to do funnel analysis | Metabase Learn";
const description =
  "Track how individuals progress through a multi-step process and where they exit.";
const seo = {
  title: "How to do funnel analysis | Metabase Learn",
  description:
    "Track how individuals progress through a multi-step process and where they exit.",
  canonical:
    "/learn/grow-your-data-skills/business-analysis-methods/how-to-do-funnel-analysis",
  og: {
    title: "How to do funnel analysis | Metabase Learn",
    description:
      "Track how individuals progress through a multi-step process and where they exit.",
    image:
      "https://www.metabase.com/learn/images/business-analysis-methods/funnel-analysis-og.png",
    url: "https://www.metabase.com/learn/grow-your-data-skills/business-analysis-methods/how-to-do-funnel-analysis",
    type: "article",
    site_name:
      "Metabase | Business Intelligence, Dashboards, and Data Visualization",
  },
  twitter: {
    site: "@metabase",
    title: "How to do funnel analysis | Metabase Learn",
    description:
      "Track how individuals progress through a multi-step process and where they exit.",
    card: "summary_large_image",
    image:
      "https://www.metabase.com/learn/images/business-analysis-methods/funnel-analysis-og.png",
    creator: "The Metabase Team",
  },
};
---

<Base {title} {description} {seo}>
  <div>
    <div class="bootstrap">
      <div class="learn blog-post MB-Page">
        <div id="main-navigation-content" class="learn-left-sidebar scrollable">
          <div class="docs-learn-toggler">
            <div class="hover-highlight"></div>
            <a href="/docs/latest/">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19.25 5.75C19.25 5.19772 18.8023 4.75 18.25 4.75H14C12.8954 4.75 12 5.64543 12 6.75V19.25L12.8284 18.4216C13.5786 17.6714 14.596 17.25 15.6569 17.25H18.25C18.8023 17.25 19.25 16.8023 19.25 16.25V5.75Z"
                  stroke="#8D93A5"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M4.75 5.75C4.75 5.19772 5.19772 4.75 5.75 4.75H10C11.1046 4.75 12 5.64543 12 6.75V19.25L11.1716 18.4216C10.4214 17.6714 9.40401 17.25 8.34315 17.25H5.75C5.19772 17.25 4.75 16.8023 4.75 16.25V5.75Z"
                  stroke="#8D93A5"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>

              <span>Docs</span>
            </a>

            <a href="/learn/" class="active">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 14.0929L20 9.42144L12 4.75L4 9.42144L12 14.0929ZM12 14.0929L17.4756 10.8957C18.196 12.8186 18.4005 14.4134 18.0667 16.45C15.8121 16.68 13.6864 17.6604 12 19.25C10.3138 17.6606 8.18852 16.6802 5.93422 16.45C5.60018 14.4134 5.80465 12.8185 6.52533 10.8957L12 14.0929Z"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M12.5 9.5C12.5 9.7761 12.2761 10 12 10C11.7239 10 11.5 9.7761 11.5 9.5C11.5 9.2239 11.7239 9 12 9C12.2761 9 12.5 9.2239 12.5 9.5Z"
                  stroke="#509EE3"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>

              <span>Learn</span>
            </a>
          </div>

          <h5>Courses</h5>

          <ul>
            <li class="">
              <a href="/learn/metabase-basics/getting-started/index-2" class="">
                Getting started

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/learn/metabase-basics/overview/concepts" class="">
                    Metabase concepts
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/find-data"
                    class=""
                  >
                    Find data
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/ask-a-question"
                    class=""
                  >
                    Ask a question
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/create-dashboards"
                    class=""
                  >
                    Create a dashboard
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/explore-data"
                    class=""
                  >
                    Explore dashboards
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/filter"
                    class=""
                  >
                    Filter and limit data
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/summarize"
                    class=""
                  >
                    Summarize data
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/custom-columns"
                    class=""
                  >
                    Add custom columns
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/dashboard-filters"
                    class=""
                  >
                    Use dashboard filters
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/models"
                    class=""
                  >
                    Build models
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <h5>Metabase Basics</h5>

          <ul>
            <li class="">
              <a href="/learn/metabase-basics/overview/" class="">
                Metabase overview

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/metabase-basics/overview/tour-of-metabase"
                    class=""
                  >
                    A tour of Metabase
                  </a>
                </li>

                <li class="">
                  <a href="/learn/metabase-basics/overview/next-steps" class="">
                    Advanced Metabase features for data analysts
                  </a>
                </li>

                <li class="">
                  <a href="/learn/metabase-basics/overview/beyond-bi" class="">
                    Beyond BI: other problems you can solve with Metabase
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a
                href="/learn/metabase-basics/querying-and-dashboards/"
                class=""
              >
                Querying and dashboards

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/questions"
                    class=""
                  >
                    Asking questions

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/drill-through"
                        class=""
                      >
                        Create interactive charts
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/custom-expressions"
                        class=""
                      >
                        Custom expressions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/joins-in-metabase"
                        class=""
                      >
                        Joins in Metabase
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/cross-db-joins"
                        class=""
                      >
                        Combining data from different databases
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/multi-aggregation"
                        class=""
                      >
                        Multi-level aggregation
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/searching-tables"
                        class=""
                      >
                        Searching in tables
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/formatting"
                        class=""
                      >
                        Cleaning and formatting text
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/visualization"
                    class=""
                  >
                    Visualizing data

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/visualization/chart-guide"
                        class=""
                      >
                        Which chart should you use?
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/visualization/line-charts"
                        class=""
                      >
                        Guide to line charts
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/visualization/bar-charts"
                        class=""
                      >
                        Master the bar chart
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/visualization/histograms"
                        class=""
                      >
                        Histograms
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/dashboards"
                    class=""
                  >
                    Building dashboards

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/bi-dashboard-best-practices"
                        class=""
                      >
                        BI dashboard best practices
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/linking-filters"
                        class=""
                      >
                        Linking filters in dashboards
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/custom-destinations"
                        class=""
                      >
                        Custom click destinations on dashboards
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/cross-filtering"
                        class=""
                      >
                        Cross-filtering: using a chart to update a dashboard
                        filter
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/markdown"
                        class=""
                      >
                        Markdown in dashboards
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/build-a-record-lookup-tool"
                        class=""
                      >
                        Build a record lookup tool with Metabase
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/"
                    class=""
                  >
                    SQL in Metabase

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/sql-variables"
                        class=""
                      >
                        Create filters using SQL variables
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/field-filters"
                        class=""
                      >
                        Field filters for SQL questions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/snippets"
                        class=""
                      >
                        Snippets: reuse and share code
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/organizing-sql"
                        class=""
                      >
                        Snippets vs. Saved Questions vs. Views
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/filters"
                        class=""
                      >
                        Adding filters to dashboards with SQL questions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/sql-tricks-ordering-charts"
                        class=""
                      >
                        SQL trick: ordering bars in a chart
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/time-series"
                    class=""
                  >
                    Time series analysis

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/time-series/start"
                        class=""
                      >
                        Overview of time series analysis
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/time-series/time-series-comparisons"
                        class=""
                      >
                        Period-over-period comparisons for time series
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/time-series/compare-times"
                        class=""
                      >
                        Best practices for visualizing time series
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/data-browser"
                    class=""
                  >
                    Data reference
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/actions-crud"
                    class=""
                  >
                    Build a basic CRUD app with actions
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/mongodb"
                    class=""
                  >
                    Using Metabase with MongoDB
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/learn/metabase-basics/administration/" class="">
                Administration

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/metabase-basics/administration/administration-and-operation/"
                    class=""
                  >
                    Administration and operation

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/guide"
                        class=""
                      >
                        Admin overview
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/metabase-and-your-db"
                        class=""
                      >
                        How Metabase works with your database
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/metabase-in-production"
                        class=""
                      >
                        How to run Metabase in production
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/managing-people"
                        class=""
                      >
                        Managing people in Metabase
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/guide-to-sharing-data"
                        class=""
                      >
                        Guide to sharing data
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/same-page"
                        class=""
                      >
                        Keeping your analytics organized
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/multi-env"
                        class=""
                      >
                        Multiple environments
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/serialization"
                        class=""
                      >
                        Serialization: preloading dashboards in a new Metabase
                        instance
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/git-based-workflow"
                        class=""
                      >
                        Setting up a git-based workflow
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/making-dashboards-faster"
                        class=""
                      >
                        Making dashboards faster
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/metabase-at-scale"
                        class=""
                      >
                        Metabase at scale
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/data-engineering"
                        class=""
                      >
                        Metabase for data engineers
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/metabase-api"
                        class=""
                      >
                        Working with the Metabase API
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/administration/permissions/"
                    class=""
                  >
                    Permissions

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/strategy"
                        class=""
                      >
                        Permissions strategies
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/data-permissions"
                        class=""
                      >
                        Guide to data permissions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/collection-permissions"
                        class=""
                      >
                        Working with collection permissions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/row-permissions"
                        class=""
                      >
                        Row-level permissions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/column-permissions"
                        class=""
                      >
                        Column-level permissions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/row-and-column-security-use-cases"
                        class=""
                      >
                        Restricting the data that people can see in Metabase
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/keep-tabs-on-your-data"
                        class=""
                      >
                        How to keep tabs on your data
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/ldap-auth-access-control"
                        class=""
                      >
                        Using LDAP for authentication and access control
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/learn/metabase-basics/embedding" class="">
                Embedding

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/learn/metabase-basics/embedding/overview" class="">
                    Strategies for delivering customer-facing analytics
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/embedding/charts-and-dashboards"
                    class=""
                  >
                    Publishing data visualizations to the web
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/embedding/external-sharing"
                    class=""
                  >
                    A Metabase mystery
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/embedding/multi-tenant-self-service-analytics"
                    class=""
                  >
                    Multi-tenant self-service analytics
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <h5>Grow your data skills</h5>

          <ul>
            <li class="">
              <a href="/learn/sql/" class="">
                Learn SQL

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/learn/sql/getting-started/" class="">
                    Get started with SQL

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/sql/getting-started/introduction"
                        class=""
                      >
                        Introduction
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/getting-started/querying-tables"
                        class=""
                      >
                        SQL querying tables
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a href="/learn/sql/filtering/" class="">
                    SQL filtering

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a href="/learn/sql/filtering/by-text" class="">
                        SQL filtering by text
                      </a>
                    </li>

                    <li>
                      <a href="/learn/sql/filtering/by-date" class="">
                        SQL filtering by date
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a href="/learn/sql/combining-tables/" class="">
                    Combining tables with SQL

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a href="/learn/sql/working-with-sql/sql-joins" class="">
                        Combining tables with joins
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/working-with-sql/sql-join-types"
                        class=""
                      >
                        SQL join types
                      </a>
                    </li>

                    <li>
                      <a href="/learn/sql/combining-tables/sql-union" class="">
                        Combining tables with SQL UNION
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a href="/learn/sql/working-with-sql/" class="">
                    Working with SQL

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/sql/working-with-sql/sql-best-practices"
                        class=""
                      >
                        Best practices for writing SQL queries
                      </a>
                    </li>

                    <li>
                      <a href="/learn/sql/working-with-sql/sql-cte" class="">
                        Common Table Expressions (CTEs) in SQL
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/working-with-sql/dates-in-sql"
                        class=""
                      >
                        Working with dates in SQL
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/working-with-sql/ltv-with-metabase"
                        class=""
                      >
                        How to calculate customer lifetime value (LTV) with SQL
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/working-with-sql/syntax-reference"
                        class=""
                      >
                        SQL syntax reference
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a href="/learn/sql/debugging-sql/" class="">
                    Debugging SQL

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a href="/learn/sql/debugging-sql/sql-syntax" class="">
                        Debugging SQL syntax errors
                      </a>
                    </li>

                    <li>
                      <a href="/learn/sql/debugging-sql/sql-logic" class="">
                        Debugging SQL query logic
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/debugging-sql/sql-logic-duplicated-data"
                        class=""
                      >
                        Debugging duplicated data in SQL query results
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/debugging-sql/sql-logic-missing-data"
                        class=""
                      >
                        Debugging missing data in SQL query results
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="">
              <a
                href="/learn/grow-your-data-skills/data-fundamentals/"
                class=""
              >
                Database fundamentals

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/database-basics"
                    class=""
                  >
                    A short overview of databases
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/data-types-overview"
                    class=""
                  >
                    Data types and metadata
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/table-relationships"
                    class=""
                  >
                    Database table relationships
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/dimensions-and-measures"
                    class=""
                  >
                    Measures and dimensions
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/fact-table"
                    class=""
                  >
                    Fact and dimension tables
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/normalization"
                    class=""
                  >
                    Data normalization
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/view"
                    class=""
                  >
                    What is a database view?
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/sql-performance-tuning"
                    class=""
                  >
                    Query performance tuning
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/data-cube"
                    class=""
                  >
                    Data cubes
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/learn/grow-your-data-skills/data-landscape/" class="">
                Data landscape

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/data-landscape"
                    class=""
                  >
                    A guide to the data landscape
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/types-of-databases"
                    class=""
                  >
                    Types of databases
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/data-mart-data-warehouse-data-lake"
                    class=""
                  >
                    Data warehouse vs data lake vs data mart
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/which-data-warehouse"
                    class=""
                  >
                    Which data warehouse should you use?
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/etl-landscape"
                    class=""
                  >
                    ETLs, ELTs, and Reverse ETLs
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/learn/grow-your-data-skills/analytics/" class="">
                Strategies for analytics

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/editing-dashboards"
                    class=""
                  >
                    Why you should regularly edit your dashboards
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/information-budget"
                    class=""
                  >
                    Managing your information budget
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/avoiding-data-jargon"
                    class=""
                  >
                    Don't use "data" as a crutch for lazy thinking
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/data-model-mistakes"
                    class=""
                  >
                    Common data model mistakes made by startups
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/analytics-mistakes"
                    class=""
                  >
                    Ten common analytics mistakes startups make
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/embedding-mistakes"
                    class=""
                  >
                    The five stages of embedding grief
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/push-and-pull"
                    class=""
                  >
                    The push and pull of analytics
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a
                href="/learn/grow-your-data-skills/data-visualization/"
                class=""
              >
                Data visualization

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-visualization/cumulative-charts"
                    class=""
                  >
                    Cumulative charts to track values over time
                  </a>
                </li>
              </ul>
            </li>

            <li class="expanded">
              <a
                href="/learn/grow-your-data-skills/business-analysis-methods/"
                class=""
              >
                Business analysis methods

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/business-analysis-methods/how-to-do-funnel-analysis"
                    class="selected"
                  >
                    How to do funnel analysis
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <h5>Cheat sheets</h5>

          <ul>
            <li class="">
              <a href="/learn/cheat-sheets/which-chart-to-use" class="">
                Which chart to use?
              </a>
            </li>

            <li class="">
              <a
                href="/learn/cheat-sheets/how-to-choose-the-right-map-visualization"
                class=""
              >
                Which map to use?
              </a>
            </li>

            <li class="">
              <a href="/learn/cheat-sheets/sql-cheat-sheet" class="">
                SQL cheat sheet
              </a>
            </li>

            <li class="">
              <a href="/learn/cheat-sheets/transition-guides/" class="">
                Transition from other BI tools

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/cheat-sheets/transition-guides/powerbi-to-metabase"
                    class=""
                  >
                    Power BI to Metabase
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/cheat-sheets/transition-guides/tableau-to-metabase"
                    class=""
                  >
                    Tableau to Metabase
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/cheat-sheets/transition-guides/looker-to-metabase"
                    class=""
                  >
                    Looker to Metabase
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <article class="learn__post learn__article">
          <div class="top-bar">
            <div>
              <div class="learn-breadcrumb-trail"></div>
            </div>

            <div></div>
          </div>

          <div class="learn__post__content">
            <p>
              Most people who land on your site never sign up, try your product,
              or make it to checkout. Where do they go? What made them leave?
              And how many made it to each step?
            </p>

            <p>
              In this guide, youll learn how to find those answers using funnel
              analysis, along with what data you need, how to carry out the
              analysis, and how to try it yourself with a sample dataset.
            </p>

            <h2 id="what-is-funnel-analysis">What is funnel analysis?</h2>

            <p>
              Funnel analysis shows how users move through a series of steps and
              where they drop off. Think of it like an actual funnel: wide at
              the top and narrow at the bottom. Lots of people start at the top,
              but fewer finish at the bottom. Its not just a chart, but a way
              to map your users journeys step by step.
            </p>

            <p>
              <img
                src="/learn/images/business-analysis-methods/funnel-diagram.png"
                alt="Funnel illustration"
                style="max-width: 400px; display: block; margin: 2rem auto;"
              />
            </p>

            <p><strong>A simple example:</strong></p>

            <p>
              Lets say you want to analyze your signup flow. You define four
              key steps:
            </p>

            <p><strong>Step 1:</strong> Visited the homepage</p>

            <p><strong>Step 2:</strong> Signed up</p>

            <p><strong>Step 3:</strong> Started trial</p>

            <p><strong>Step 4:</strong> Purchased plan</p>

            <p>
              Now imagine 1,000 people visited your homepage, but only 50
              purchased a plan. Your funnel might look like this:
            </p>

            <table>
              <thead>
                <tr>
                  <th><strong>Step</strong></th>
                  <th><strong>Users</strong></th>
                  <th><strong>Conversion from previous</strong></th>
                  <th><strong>Conversion from total</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-label="Step">Visited homepage</td>
                  <td data-label="Users">1,000</td>
                  <td data-label="Conversion from previous"></td>
                  <td data-label="Conversion from total"></td>
                </tr>
                <tr>
                  <td data-label="Step">Signed up</td>
                  <td data-label="Users">600</td>
                  <td data-label="Conversion from previous">60%</td>
                  <td data-label="Conversion from total">60%</td>
                </tr>
                <tr>
                  <td data-label="Step">Started trial</td>
                  <td data-label="Users">200</td>
                  <td data-label="Conversion from previous">33%</td>
                  <td data-label="Conversion from total">20%</td>
                </tr>
                <tr>
                  <td data-label="Step">Purchased plan</td>
                  <td data-label="Users">50</td>
                  <td data-label="Conversion from previous">25%</td>
                  <td data-label="Conversion from total">5%</td>
                </tr>
              </tbody>
            </table>

            <p>
              This breakdown highlights where users drop off. In this case,
              signups are strong, but the trial-to-paid conversion is where
              things fall apart.
            </p>

            <p>
              <strong>Your turn:</strong> What are the 3 to 5 key steps your users
              go through before converting? Sketch them out, even roughly. These
              will become your funnel steps.
              <img
                src="/learn/images/business-analysis-methods/funnel-steps.png"
                alt="Funnel steps"
                style="max-width: 700px; display: block; margin: 2rem auto;"
              />
            </p>

            <h2 id="the-data-you-need">The data you need</h2>

            <p>
              The table above contains aggregated data. To build your own
              funnel, you need raw data with three attributes: <strong
                >who</strong
              > did something, <strong>what</strong> they did, and <strong
                >when</strong
              > they did it.
            </p>

            <p>
              That means each row will typically include fields like these: <code
                class="language-plaintext highlighter-rouge">user_id</code
              > (<strong>Who</strong>), <code
                class="language-plaintext highlighter-rouge">event_name</code
              > (<strong>What</strong>), and <code
                class="language-plaintext highlighter-rouge">event_time</code
              > (<strong>When</strong>).
            </p>

            <p>Heres what clean data looks like:</p>

            <table>
              <thead>
                <tr>
                  <th><strong>user_id</strong></th>
                  <th><strong>event_name</strong></th>
                  <th><strong>event_time</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-label="user_id">A</td>
                  <td data-label="event_name">visited_homepage</td>
                  <td data-label="event_time">2025-07-30 09:00:36</td>
                </tr>
                <tr>
                  <td data-label="user_id">A</td>
                  <td data-label="event_name">signed_up</td>
                  <td data-label="event_time">2025-07-30 09:05:11</td>
                </tr>
                <tr>
                  <td data-label="user_id">B</td>
                  <td data-label="event_name">visited_homepage</td>
                  <td data-label="event_time">2025-07-30 10:02:07</td>
                </tr>
                <tr>
                  <td data-label="user_id">B</td>
                  <td data-label="event_name">signed_up</td>
                  <td data-label="event_time">2025-07-30 10:04:40</td>
                </tr>
                <tr>
                  <td data-label="user_id">B</td>
                  <td data-label="event_name">started_trial</td>
                  <td data-label="event_time">2025-07-30 10:06:03</td>
                </tr>
              </tbody>
            </table>

            <p>
              This kind of event log is the backbone of funnel analysis. You can
              also include extra fields like <code
                class="language-plaintext highlighter-rouge">device</code
              >, <code class="language-plaintext highlighter-rouge"
                >country</code
              >, or <code class="language-plaintext highlighter-rouge"
                >campaign_source</code
              > to slice funnels by audience segments.
            </p>

            <p>
              In many cases, youll need to <strong
                >reshape or model your data into this format</strong
              > before you can calculate a funnel.
            </p>

            <h2 id="how-to-calculate-data-for-a-funnel">
              How to calculate data for a funnel
            </h2>

            <p>
              Once your data is clean, funnel calculation is straightforward:
              count how many users reach each step, then calculate conversion
              rates between steps.
            </p>

            <p>Lets use an example:</p>

            <table>
              <thead>
                <tr>
                  <th><strong>user_id</strong></th>
                  <th><strong>event_name</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-label="user_id">A</td>
                  <td data-label="event_name">visited_homepage</td>
                </tr>
                <tr>
                  <td data-label="user_id">A</td>
                  <td data-label="event_name">signed_up</td>
                </tr>
                <tr>
                  <td data-label="user_id">A</td>
                  <td data-label="event_name">started_trial</td>
                </tr>
                <tr>
                  <td data-label="user_id">B</td>
                  <td data-label="event_name">visited_homepage</td>
                </tr>
                <tr>
                  <td data-label="user_id">B</td>
                  <td data-label="event_name">signed_up</td>
                </tr>
                <tr>
                  <td data-label="user_id">C</td>
                  <td data-label="event_name">visited_homepage</td>
                </tr>
              </tbody>
            </table>

            <p><strong>Step 1 (Visited Homepage):</strong> 3 users  A, B, C</p>

            <p><strong>Step 2 (Signed Up):</strong> 2 users  A &amp; B</p>

            <p><strong>Step 3 (Started Trial):</strong> 1 user  A</p>

            <p>Now calculate the conversion rates:</p>

            <ul>
              <li>
                Step-by-step conversion rate:
                <ul>
                  <li>Homepage  Sign Up = 2  3 = <strong>66.7%</strong></li>
                  <li>Sign Up  Trial = 1  2 = <strong>50%</strong></li>
                </ul>
              </li>
              <li>
                Conversion rate from start:
                <ul>
                  <li>Homepage  Trial = 1  3 = <strong>33.3%</strong></li>
                </ul>
              </li>
            </ul>

            <p>
              This simple math is the foundation of every funnel chart, no
              matter how complex your data gets.
            </p>

            <p>Heres how those numbers look as a funnel:</p>

            <p>
              <img
                src="/learn/images/business-analysis-methods/funnel-example.png"
                alt="Funnel Diagram"
              />
            </p>

            <h2 id="building-funnels-in-metabase">
              Building funnels in Metabase
            </h2>

            <p>
              To build a funnel chart in Metabase, you can use the query builder
              or SQL.
            </p>

            <p>
              Start by identifying the events that represent each step in your
              funnel, things like <code
                class="language-plaintext highlighter-rouge"
                >visited_homepage</code
              >, <code class="language-plaintext highlighter-rouge"
                >signed_up</code
              >, or <code class="language-plaintext highlighter-rouge"
                >started_trial</code
              >.
            </p>

            <p>Then:</p>

            <ul>
              <li>
                <strong>Summarize your events</strong> by counting <code
                  class="language-plaintext highlighter-rouge">user_id</code>
              </li>
              <li>
                <strong>Group by the funnel step,</strong> like <code
                  class="language-plaintext highlighter-rouge">event_name</code
                > to count users at each stage
              </li>
              <li><strong>Visualize as a funnel chart.</strong></li>
            </ul>

            <p>
              For more advanced setups (like combining steps from different
              tables or using SQL), check out our <a
                href="/docs/latest/questions/visualizations/funnel"
                >Funnel charts guide.</a>
            </p>

            <h2 id="try-it-yourself-sample-csv">Try it yourself: Sample CSV</h2>

            <p>Ready to put funnel analysis into practice?</p>

            <p>
              Weve prepared a sample dataset you can download and explore on
              your own.
            </p>

            <p>
              This CSV contains user event data like <code
                class="language-plaintext highlighter-rouge">user_id</code
              >, <code class="language-plaintext highlighter-rouge"
                >event_name</code
              >, and <code class="language-plaintext highlighter-rouge"
                >event_time</code
              > so you can practice building funnels in Metabase using the steps
              you learned.
            </p>

            <p>
              <a
                href="/files/business-analysis-methods/sample-funnel-dataset.zip"
                >Download the sample funnel dataset</a>
            </p>

            <p>
              Upload the CSV to Metabase and build a funnel chart to see where
              users drop off and how conversion rates change.
            </p>

            <p>
              You should end up with a funnel that looks something like this:
            </p>

            <p>
              <img
                src="/learn/images/business-analysis-methods/sample-funnel-chart.png"
                alt="Sample Funnel Chart"
              />
            </p>

            <blockquote>
              <p>
                This practice relies on the predefined sample dataset, but you
                can also generate your own practice data using the <a
                  href="/ai-data-generator">AI dataset generator</a
                >.
              </p>
            </blockquote>

            <h2 id="bonus-common-data-issues-and-what-to-do-about-them">
              Bonus: Common data issues (and what to do about them)
            </h2>

            <p>Heres what usually goes wrong and how to fix it:</p>

            <ul>
              <li>
                <strong>Missing timestamps:</strong> You need them to know step order.
                If missing, try using creation dates or approximating from user ID.
              </li>
              <li>
                <strong>Wide format:</strong> One row per user with multiple columns
                (like <code class="language-plaintext highlighter-rouge"
                  >signup_date</code
                >, <code class="language-plaintext highlighter-rouge"
                  >trial_date</code
                >, <code class="language-plaintext highlighter-rouge"
                  >purchase_date</code
                >) is harder to analyze. Youll need to reshape this into long
                format with one event per row.
              </li>
              <li>
                <strong>Events in separate tables:</strong> Your signup data is in
                one table, trial data in another, purchases in a third. Join them
                together into a single events table before starting your analysis.
              </li>
              <li>
                <strong>Inconsistent event names:</strong> Some events are called
                <code class="language-plaintext highlighter-rouge"
                  >signed_up</code
                >, others <code class="language-plaintext highlighter-rouge"
                  >signup_success</code
                >, <code class="language-plaintext highlighter-rouge"
                  >signup_done</code
                >, or <code class="language-plaintext highlighter-rouge"
                  >signup_win</code
                >. Pick one naming convention and stick with it.
              </li>
            </ul>

            <div id="was-this-helpful-widget">
              <div id="page-feedback">
                <h6>Was this helpful?</h6>
                <button id="page-feedback-vote-up" class="vote-button Button">
                  <svg
                    id=""
                    class="me-1"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.6667 7.33333H14.6367C14.9207 7.33334 15.2001 7.40595 15.4482 7.54427C15.6963 7.68259 15.9049 7.88202 16.0543 8.12364C16.2036 8.36525 16.2888 8.64104 16.3016 8.9248C16.3144 9.20857 16.2545 9.4909 16.1275 9.745L13.2108 15.5783C13.0724 15.8554 12.8595 16.0884 12.596 16.2512C12.3325 16.414 12.0289 16.5001 11.7192 16.5H8.37167C8.23583 16.5 8.1 16.4833 7.9675 16.45L4.83333 15.6667M10.6667 7.33333V3.16667C10.6667 2.72464 10.4911 2.30072 10.1785 1.98816C9.86595 1.67559 9.44203 1.5 9 1.5H8.92083C8.50417 1.5 8.16667 1.8375 8.16667 2.25417C8.16667 2.84917 7.99083 3.43083 7.66 3.92583L4.83333 8.16667V15.6667M10.6667 7.33333H9M4.83333 15.6667H3.16667C2.72464 15.6667 2.30072 15.4911 1.98816 15.1785C1.67559 14.866 1.5 14.442 1.5 14V9C1.5 8.55797 1.67559 8.13405 1.98816 7.82149C2.30072 7.50893 2.72464 7.33333 3.16667 7.33333H5.25"
                      stroke="#509ee3"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>

                  Yes
                </button>
                <button id="page-feedback-vote-down" class="vote-button Button">
                  <svg
                    id=""
                    class="rotate-180 me-1"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.6667 7.33333H14.6367C14.9207 7.33334 15.2001 7.40595 15.4482 7.54427C15.6963 7.68259 15.9049 7.88202 16.0543 8.12364C16.2036 8.36525 16.2888 8.64104 16.3016 8.9248C16.3144 9.20857 16.2545 9.4909 16.1275 9.745L13.2108 15.5783C13.0724 15.8554 12.8595 16.0884 12.596 16.2512C12.3325 16.414 12.0289 16.5001 11.7192 16.5H8.37167C8.23583 16.5 8.1 16.4833 7.9675 16.45L4.83333 15.6667M10.6667 7.33333V3.16667C10.6667 2.72464 10.4911 2.30072 10.1785 1.98816C9.86595 1.67559 9.44203 1.5 9 1.5H8.92083C8.50417 1.5 8.16667 1.8375 8.16667 2.25417C8.16667 2.84917 7.99083 3.43083 7.66 3.92583L4.83333 8.16667V15.6667M10.6667 7.33333H9M4.83333 15.6667H3.16667C2.72464 15.6667 2.30072 15.4911 1.98816 15.1785C1.67559 14.866 1.5 14.442 1.5 14V9C1.5 8.55797 1.67559 8.13405 1.98816 7.82149C2.30072 7.50893 2.72464 7.33333 3.16667 7.33333H5.25"
                      stroke="#509ee3"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>

                  No
                </button>
              </div>

              <div id="page-comment" class="flex flex-wrap full hide">
                <p id="page-feedback-question"></p>

                <form id="page-comment-form" class="flex full">
                  <textarea
                    id="feedback-comment-text"
                    name="comment"
                    placeholder="Type here"></textarea>

                  <button
                    id="page-comment-submit"
                    class="Button flex align-center"
                  >
                    Send
                  </button>
                </form>
              </div>

              <div id="page-feedback-message" class="fs-18 hide">
                <h6 class="page-feedback-title">Thanks for your feedback!</h6>
              </div>
            </div>

            <iframe
              src="../../../subscribe-to-ai-newsletter-bottom-of-article.html"
              id="subscribe-to-ai-newsletter-bottom-of-article"
              class="newsletter-subscribe"
              onload="javascript:(function(o){
          o.style.height=o.contentWindow.document.getElementById('newsletter-ajax-form-container-below-article').offsetHeight+'px';

          const resizeObserver = new ResizeObserver(function(entries) {
              const $firstEntry = entries[0];
              if ($firstEntry && $firstEntry.borderBoxSize && $firstEntry.borderBoxSize[0]) {
                  const $form = $firstEntry.borderBoxSize[0];
                  if ($form) {
                      o.style.height = $form.blockSize + 'px';
                  }
              }
          });
          resizeObserver.observe(o.contentWindow.document.getElementById('newsletter-ajax-form-container-below-article'));
      }(this));"
            ></iframe>

            <div class="learn__article__nav__container one-nav">
              <div></div>
            </div>
          </div>

          <div class="learn__right-sidebar">
            <div id="sub-navigation-content"></div>
            <div id="right-hand-newsletter-subscribe-widget" class="">
              <div class="right-hand-newsletter-subscribe-form-container">
                <h6>Weekly tips for analysts</h6>
                <h5>
                  Get actionable insights<br />on AI and data directly to your
                  inbox
                </h5>

                <iframe
                  src="../../../subscribe-to-ai-newsletter-righthandside.html"
                  id="subscribe-to-ai-newsletter-righthandside"
                  onload="javascript:(function(o){
          o.style.height=o.contentWindow.document.getElementById('feedback-widget-newsletter-ajax-form-container').offsetHeight+'px';

          const resizeObserver = new ResizeObserver(function(entries) {
            const $firstEntry = entries[0];
            if ($firstEntry && $firstEntry.borderBoxSize && $firstEntry.borderBoxSize[0]) {
              const $form = $firstEntry.borderBoxSize[0];
              if ($form) {
                o.style.height = $form.blockSize + 'px';
              }
            }

            if (window.resizeLearnRightSidebar) {
              window.resizeLearnRightSidebar();
            }
          });
          resizeObserver.observe(o.contentWindow.document.getElementById('feedback-widget-newsletter-ajax-form-container'));
        }(this));"
                ></iframe>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
