---
import Base from "../../../../../layouts/Base.astro";
const title = "How Metabase works with your database | Metabase Learn";
const description =
  "Metabase doesn't store your data. Learn how Metabase queries data in your database, uses metadata to make some magic happen, and gives you options to cache queries and persist models to speed things up.";
const seo = {
  title: "How Metabase works with your database | Metabase Learn",
  description:
    "Metabase doesn't store your data. Learn how Metabase queries data in your database, uses metadata to make some magic happen, and gives you options to cache queries and persist models to speed things up.",
  canonical:
    "/learn/metabase-basics/administration/administration-and-operation/metabase-and-your-db",
  og: {
    title: "How Metabase works with your database | Metabase Learn",
    description:
      "Metabase doesn't store your data. Learn how Metabase queries data in your database, uses metadata to make some magic happen, and gives you options to cache queries and persist models to speed things up.",
    image:
      "https://www.metabase.com/learn/images/metabase-and-your-db/metabase-and-your-db-og.png",
    url: "https://www.metabase.com/learn/metabase-basics/administration/administration-and-operation/metabase-and-your-db",
    type: "article",
    site_name:
      "Metabase | Business Intelligence, Dashboards, and Data Visualization",
  },
  twitter: {
    site: "@metabase",
    title: "How Metabase works with your database | Metabase Learn",
    description:
      "Metabase doesn't store your data. Learn how Metabase queries data in your database, uses metadata to make some magic happen, and gives you options to cache queries and persist models to speed things up.",
    card: "summary_large_image",
    image:
      "https://www.metabase.com/learn/images/metabase-and-your-db/metabase-and-your-db-og.png",
  },
};
---

<Base {title} {description} {seo}>
  <div>
    <div class="bootstrap">
      <div class="learn blog-post MB-Page">
        <div id="main-navigation-content" class="learn-left-sidebar scrollable">
          <div class="docs-learn-toggler">
            <div class="hover-highlight"></div>
            <a href="/docs/latest/">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19.25 5.75C19.25 5.19772 18.8023 4.75 18.25 4.75H14C12.8954 4.75 12 5.64543 12 6.75V19.25L12.8284 18.4216C13.5786 17.6714 14.596 17.25 15.6569 17.25H18.25C18.8023 17.25 19.25 16.8023 19.25 16.25V5.75Z"
                  stroke="#8D93A5"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M4.75 5.75C4.75 5.19772 5.19772 4.75 5.75 4.75H10C11.1046 4.75 12 5.64543 12 6.75V19.25L11.1716 18.4216C10.4214 17.6714 9.40401 17.25 8.34315 17.25H5.75C5.19772 17.25 4.75 16.8023 4.75 16.25V5.75Z"
                  stroke="#8D93A5"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>

              <span>Docs</span>
            </a>

            <a href="/learn/" class="active">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 14.0929L20 9.42144L12 4.75L4 9.42144L12 14.0929ZM12 14.0929L17.4756 10.8957C18.196 12.8186 18.4005 14.4134 18.0667 16.45C15.8121 16.68 13.6864 17.6604 12 19.25C10.3138 17.6606 8.18852 16.6802 5.93422 16.45C5.60018 14.4134 5.80465 12.8185 6.52533 10.8957L12 14.0929Z"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M12.5 9.5C12.5 9.7761 12.2761 10 12 10C11.7239 10 11.5 9.7761 11.5 9.5C11.5 9.2239 11.7239 9 12 9C12.2761 9 12.5 9.2239 12.5 9.5Z"
                  stroke="#509EE3"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>

              <span>Learn</span>
            </a>
          </div>

          <h5>Courses</h5>

          <ul>
            <li class="">
              <a href="/learn/metabase-basics/getting-started/index-2" class="">
                Getting started

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/learn/metabase-basics/overview/concepts" class="">
                    Metabase concepts
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/find-data"
                    class=""
                  >
                    Find data
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/ask-a-question"
                    class=""
                  >
                    Ask a question
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/create-dashboards"
                    class=""
                  >
                    Create a dashboard
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/explore-data"
                    class=""
                  >
                    Explore dashboards
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/filter"
                    class=""
                  >
                    Filter and limit data
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/summarize"
                    class=""
                  >
                    Summarize data
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/custom-columns"
                    class=""
                  >
                    Add custom columns
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/dashboard-filters"
                    class=""
                  >
                    Use dashboard filters
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/getting-started/models"
                    class=""
                  >
                    Build models
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <h5>Metabase Basics</h5>

          <ul>
            <li class="">
              <a href="/learn/metabase-basics/overview/" class="">
                Metabase overview

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/metabase-basics/overview/tour-of-metabase"
                    class=""
                  >
                    A tour of Metabase
                  </a>
                </li>

                <li class="">
                  <a href="/learn/metabase-basics/overview/next-steps" class="">
                    Advanced Metabase features for data analysts
                  </a>
                </li>

                <li class="">
                  <a href="/learn/metabase-basics/overview/beyond-bi" class="">
                    Beyond BI: other problems you can solve with Metabase
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a
                href="/learn/metabase-basics/querying-and-dashboards/"
                class=""
              >
                Querying and dashboards

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/questions"
                    class=""
                  >
                    Asking questions

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/drill-through"
                        class=""
                      >
                        Create interactive charts
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/custom-expressions"
                        class=""
                      >
                        Custom expressions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/joins-in-metabase"
                        class=""
                      >
                        Joins in Metabase
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/cross-db-joins"
                        class=""
                      >
                        Combining data from different databases
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/multi-aggregation"
                        class=""
                      >
                        Multi-level aggregation
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/searching-tables"
                        class=""
                      >
                        Searching in tables
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/formatting"
                        class=""
                      >
                        Cleaning and formatting text
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/visualization"
                    class=""
                  >
                    Visualizing data

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/visualization/chart-guide"
                        class=""
                      >
                        Which chart should you use?
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/visualization/line-charts"
                        class=""
                      >
                        Guide to line charts
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/visualization/bar-charts"
                        class=""
                      >
                        Master the bar chart
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/visualization/histograms"
                        class=""
                      >
                        Histograms
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/dashboards"
                    class=""
                  >
                    Building dashboards

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/bi-dashboard-best-practices"
                        class=""
                      >
                        BI dashboard best practices
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/linking-filters"
                        class=""
                      >
                        Linking filters in dashboards
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/custom-destinations"
                        class=""
                      >
                        Custom click destinations on dashboards
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/cross-filtering"
                        class=""
                      >
                        Cross-filtering: using a chart to update a dashboard
                        filter
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/markdown"
                        class=""
                      >
                        Markdown in dashboards
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/dashboards/build-a-record-lookup-tool"
                        class=""
                      >
                        Build a record lookup tool with Metabase
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/"
                    class=""
                  >
                    SQL in Metabase

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/sql-variables"
                        class=""
                      >
                        Create filters using SQL variables
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/field-filters"
                        class=""
                      >
                        Field filters for SQL questions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/snippets"
                        class=""
                      >
                        Snippets: reuse and share code
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/organizing-sql"
                        class=""
                      >
                        Snippets vs. Saved Questions vs. Views
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/filters"
                        class=""
                      >
                        Adding filters to dashboards with SQL questions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/sql-tricks-ordering-charts"
                        class=""
                      >
                        SQL trick: ordering bars in a chart
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/time-series"
                    class=""
                  >
                    Time series analysis

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/time-series/start"
                        class=""
                      >
                        Overview of time series analysis
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/time-series/time-series-comparisons"
                        class=""
                      >
                        Period-over-period comparisons for time series
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/querying-and-dashboards/time-series/compare-times"
                        class=""
                      >
                        Best practices for visualizing time series
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/data-browser"
                    class=""
                  >
                    Data reference
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/actions-crud"
                    class=""
                  >
                    Build a basic CRUD app with actions
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/querying-and-dashboards/mongodb"
                    class=""
                  >
                    Using Metabase with MongoDB
                  </a>
                </li>
              </ul>
            </li>

            <li class="expanded">
              <a href="/learn/metabase-basics/administration/" class="">
                Administration

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="expanded">
                  <a
                    href="/learn/metabase-basics/administration/administration-and-operation/"
                    class=""
                  >
                    Administration and operation

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/guide"
                        class=""
                      >
                        Admin overview
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/metabase-and-your-db"
                        class="selected"
                      >
                        How Metabase works with your database
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/metabase-in-production"
                        class=""
                      >
                        How to run Metabase in production
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/managing-people"
                        class=""
                      >
                        Managing people in Metabase
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/guide-to-sharing-data"
                        class=""
                      >
                        Guide to sharing data
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/same-page"
                        class=""
                      >
                        Keeping your analytics organized
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/multi-env"
                        class=""
                      >
                        Multiple environments
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/serialization"
                        class=""
                      >
                        Serialization: preloading dashboards in a new Metabase
                        instance
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/git-based-workflow"
                        class=""
                      >
                        Setting up a git-based workflow
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/making-dashboards-faster"
                        class=""
                      >
                        Making dashboards faster
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/metabase-at-scale"
                        class=""
                      >
                        Metabase at scale
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/data-engineering"
                        class=""
                      >
                        Metabase for data engineers
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/administration-and-operation/metabase-api"
                        class=""
                      >
                        Working with the Metabase API
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/administration/permissions/"
                    class=""
                  >
                    Permissions

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/strategy"
                        class=""
                      >
                        Permissions strategies
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/data-permissions"
                        class=""
                      >
                        Guide to data permissions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/collection-permissions"
                        class=""
                      >
                        Working with collection permissions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/row-permissions"
                        class=""
                      >
                        Row-level permissions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/column-permissions"
                        class=""
                      >
                        Column-level permissions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/row-and-column-security-use-cases"
                        class=""
                      >
                        Restricting the data that people can see in Metabase
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/keep-tabs-on-your-data"
                        class=""
                      >
                        How to keep tabs on your data
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/metabase-basics/administration/permissions/ldap-auth-access-control"
                        class=""
                      >
                        Using LDAP for authentication and access control
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/learn/metabase-basics/embedding" class="">
                Embedding

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/learn/metabase-basics/embedding/overview" class="">
                    Strategies for delivering customer-facing analytics
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/embedding/charts-and-dashboards"
                    class=""
                  >
                    Publishing data visualizations to the web
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/embedding/external-sharing"
                    class=""
                  >
                    A Metabase mystery
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/metabase-basics/embedding/multi-tenant-self-service-analytics"
                    class=""
                  >
                    Multi-tenant self-service analytics
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <h5>Grow your data skills</h5>

          <ul>
            <li class="">
              <a href="/learn/sql/" class="">
                Learn SQL

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/learn/sql/getting-started/" class="">
                    Get started with SQL

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/sql/getting-started/introduction"
                        class=""
                      >
                        Introduction
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/getting-started/querying-tables"
                        class=""
                      >
                        SQL querying tables
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a href="/learn/sql/filtering/" class="">
                    SQL filtering

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a href="/learn/sql/filtering/by-text" class="">
                        SQL filtering by text
                      </a>
                    </li>

                    <li>
                      <a href="/learn/sql/filtering/by-date" class="">
                        SQL filtering by date
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a href="/learn/sql/combining-tables/" class="">
                    Combining tables with SQL

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a href="/learn/sql/working-with-sql/sql-joins" class="">
                        Combining tables with joins
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/working-with-sql/sql-join-types"
                        class=""
                      >
                        SQL join types
                      </a>
                    </li>

                    <li>
                      <a href="/learn/sql/combining-tables/sql-union" class="">
                        Combining tables with SQL UNION
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a href="/learn/sql/working-with-sql/" class="">
                    Working with SQL

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/learn/sql/working-with-sql/sql-best-practices"
                        class=""
                      >
                        Best practices for writing SQL queries
                      </a>
                    </li>

                    <li>
                      <a href="/learn/sql/working-with-sql/sql-cte" class="">
                        Common Table Expressions (CTEs) in SQL
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/working-with-sql/dates-in-sql"
                        class=""
                      >
                        Working with dates in SQL
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/working-with-sql/ltv-with-metabase"
                        class=""
                      >
                        How to calculate customer lifetime value (LTV) with SQL
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/working-with-sql/syntax-reference"
                        class=""
                      >
                        SQL syntax reference
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a href="/learn/sql/debugging-sql/" class="">
                    Debugging SQL

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a href="/learn/sql/debugging-sql/sql-syntax" class="">
                        Debugging SQL syntax errors
                      </a>
                    </li>

                    <li>
                      <a href="/learn/sql/debugging-sql/sql-logic" class="">
                        Debugging SQL query logic
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/debugging-sql/sql-logic-duplicated-data"
                        class=""
                      >
                        Debugging duplicated data in SQL query results
                      </a>
                    </li>

                    <li>
                      <a
                        href="/learn/sql/debugging-sql/sql-logic-missing-data"
                        class=""
                      >
                        Debugging missing data in SQL query results
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="">
              <a
                href="/learn/grow-your-data-skills/data-fundamentals/"
                class=""
              >
                Database fundamentals

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/database-basics"
                    class=""
                  >
                    A short overview of databases
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/data-types-overview"
                    class=""
                  >
                    Data types and metadata
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/table-relationships"
                    class=""
                  >
                    Database table relationships
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/dimensions-and-measures"
                    class=""
                  >
                    Measures and dimensions
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/fact-table"
                    class=""
                  >
                    Fact and dimension tables
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/normalization"
                    class=""
                  >
                    Data normalization
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/view"
                    class=""
                  >
                    What is a database view?
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/sql-performance-tuning"
                    class=""
                  >
                    Query performance tuning
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-fundamentals/data-cube"
                    class=""
                  >
                    Data cubes
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/learn/grow-your-data-skills/data-landscape/" class="">
                Data landscape

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/data-landscape"
                    class=""
                  >
                    A guide to the data landscape
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/types-of-databases"
                    class=""
                  >
                    Types of databases
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/data-mart-data-warehouse-data-lake"
                    class=""
                  >
                    Data warehouse vs data lake vs data mart
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/which-data-warehouse"
                    class=""
                  >
                    Which data warehouse should you use?
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-landscape/etl-landscape"
                    class=""
                  >
                    ETLs, ELTs, and Reverse ETLs
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/learn/grow-your-data-skills/analytics/" class="">
                Strategies for analytics

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/editing-dashboards"
                    class=""
                  >
                    Why you should regularly edit your dashboards
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/information-budget"
                    class=""
                  >
                    Managing your information budget
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/avoiding-data-jargon"
                    class=""
                  >
                    Don't use "data" as a crutch for lazy thinking
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/data-model-mistakes"
                    class=""
                  >
                    Common data model mistakes made by startups
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/analytics-mistakes"
                    class=""
                  >
                    Ten common analytics mistakes startups make
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/embedding-mistakes"
                    class=""
                  >
                    The five stages of embedding grief
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/analytics/push-and-pull"
                    class=""
                  >
                    The push and pull of analytics
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a
                href="/learn/grow-your-data-skills/data-visualization/"
                class=""
              >
                Data visualization

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/data-visualization/cumulative-charts"
                    class=""
                  >
                    Cumulative charts to track values over time
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a
                href="/learn/grow-your-data-skills/business-analysis-methods/"
                class=""
              >
                Business analysis methods

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/grow-your-data-skills/business-analysis-methods/how-to-do-funnel-analysis"
                    class=""
                  >
                    How to do funnel analysis
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <h5>Cheat sheets</h5>

          <ul>
            <li class="">
              <a href="/learn/cheat-sheets/which-chart-to-use" class="">
                Which chart to use?
              </a>
            </li>

            <li class="">
              <a
                href="/learn/cheat-sheets/how-to-choose-the-right-map-visualization"
                class=""
              >
                Which map to use?
              </a>
            </li>

            <li class="">
              <a href="/learn/cheat-sheets/sql-cheat-sheet" class="">
                SQL cheat sheet
              </a>
            </li>

            <li class="">
              <a href="/learn/cheat-sheets/transition-guides/" class="">
                Transition from other BI tools

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/learn/cheat-sheets/transition-guides/powerbi-to-metabase"
                    class=""
                  >
                    Power BI to Metabase
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/cheat-sheets/transition-guides/tableau-to-metabase"
                    class=""
                  >
                    Tableau to Metabase
                  </a>
                </li>

                <li class="">
                  <a
                    href="/learn/cheat-sheets/transition-guides/looker-to-metabase"
                    class=""
                  >
                    Looker to Metabase
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <article class="learn__post learn__article">
          <div class="top-bar">
            <div>
              <div class="learn-breadcrumb-trail"></div>
            </div>

            <div></div>
          </div>

          <div class="learn__post__content">
            <div style="width: ; margin-bottom: 2em;">
              <div
                class="youtube-container"
                style="position: relative;
                    width: 100%;
                    height: 0;
                    padding-bottom: 56.25%"
              >
                <iframe
                  class="youtube-video"
                  style="position: absolute;
                         top: 0;
                         left: 0;
                         width: 100%;
                         height: 100%;
                         border: 0"
                  allowfullscreen=""
                  src="https://www.youtube.com/embed/E2oxohYITPc"
                >
                </iframe>
              </div>
            </div>

            <p>
              <img
                src="/learn/images/metabase-and-your-db/db-diagram.png"
                alt="Metabase and your database"
              />
            </p>

            <h2 id="metabase-doesnt-store-your-data">
              Metabase doesnt store your data
            </h2>

            <p>
              Metabase is a tool for querying data in a database and visualizing
              the results (Metabase is also many <a
                href="/learn/metabase-basics/overview/tour-of-metabase"
                >other things</a
              >, but thats not our focus right now). But its not like some
              other BI tools that store your data. With Metabase, the basic set
              up is:
            </p>

            <ul>
              <li>You connect Metabase to your database.</li>
              <li>
                You write a query in Metabase (either in the query builder or
                native code editor)
              </li>
              <li>Metabase sends the SQL over to the database.</li>
              <li>
                Your database processes the query, then sends the results back
                to Metabase.
              </li>
              <li>
                Metabase turns your data into pretty colors (a chart on a
                dashboard).
              </li>
            </ul>

            <p>
              Metabase itself doesnt pull your data out of your database to
              process your query - all that processing happens <em>inside</em> your
              database. All that Metabase sees is the query that you write, and the
              results that the query returns.
            </p>

            <p>
              There are a couple of nuances to this, as Metabase does do some
              lightweight querying of your databases metadata so that it knows
              how to handle the results the database returns to it. So lets go
              through it.
            </p>

            <h2 id="querying-your-database-with-metabase">
              Querying your database with Metabase
            </h2>

            <p>
              There are two ways to create queries in Metabase: using SQL (or if
              youre connecting to MongoDB, the MongoDB query language), and
              using the graphical query builder.
            </p>

            <h3 id="native-queries">Native queries</h3>

            <p>
              When you write a query in SQL (or in MongoDB query language),
              Metabase just sends that query on its merry way to your database.
            </p>

            <p>
              The code that you write in the native editor is like a black box:
              Metabase doesnt parse your SQL, so it doesnt know about whats
              actually going on in your query, like which tables youre joining,
              which columns youre selecting, or how you filter and aggregate
              your data. And because the query is a black box, Metabase cant
              know much about the results either, so it cant offer things like
              breakouts, drill-down, or automatic charts.
            </p>

            <h3 id="query-builder">Query builder</h3>

            <p>
              In the <a
                href="/learn/metabase-basics/getting-started/ask-a-question"
                >query builder</a
              >, you assemble a query from building blocks like joins, filters,
              or summaries.
            </p>

            <p>
              <img
                src="/learn/images/metabase-and-your-db/query-builder.png"
                alt="Query builder"
              />
            </p>

            <p>
              If you use the query builder, however, then Metabase knows exactly
              whats going on in your query - what tables are involved, what are
              the column types, what operations you perform and which order -
              and it can use that info to give you more functionality. For
              example, if Metabase knows that you have an aggregation in your
              query, it can give you an option to disaggregate the results - so,
              to <a
                href="/learn/metabase-basics/querying-and-dashboards/questions/drill-through"
                >drill down</a
              > to individual records; or, if Metabase sees that youre filtering
              on a date column, it can give you a calendar widget; if it notices
              that youre grouping by a categorical variable, it can automatically
              build a bar chart with those categories.
            </p>

            <p>
              <img
                src="/learn/images/metabase-and-your-db/bar-chart-and-filter.png"
                alt="Bar chart with categories, and a calendar filter widget"
              />
            </p>

            <p>
              All these button clicks in the query builder translate into SQL
              thats sent to your database (and you can <a
                href="/docs/latest/questions/query-builder/editor#viewing-the-native-query-that-powers-your-question"
                >see the SQL that it generates</a
              >) but having access to each individual query element is what
              makes much of the Metabase magic happen.
            </p>

            <p>
              But now you might ask: but if Metabase doesnt store my data, how
              does it <em>know</em> that I have a date column, or what categories
              I have?
            </p>

            <h2 id="how-metabase-knows-about-your-data">
              How Metabase knows about your data
            </h2>

            <p>
              Metabase uses <a
                href="/docs/latest/databases/sync-scan#how-database-syncs-work"
                >syncs</a
              > to learn about your database schema: stuff like what tables are in
              the db, what are their columns and types, etc. Syncs are still, down
              on the basic level, queries that Metabase sends and your database executes,
              but its a special kind of query: instead of returning the data itself,
              these queries return metadata.
            </p>

            <p>
              Metabase also runs <a
                href="/docs/latest/databases/sync-scan#how-database-scans-work"
                >scans</a
              > to take samples of values in columns. This allows Metabase to give
              you stuff like dropdown options in filters.
            </p>

            <p>
              <img
                src="/learn/images/metabase-and-your-db/filter-dropdown.png"
                alt="Filter dropdown"
              />
            </p>

            <p>
              Worth noting that Metabase only takes <em>samples</em> from columns,
              it doesnt store complete columns - they stay in your database. And
              it only scans fields that people use (e.g., the values for a field
              used in a filter on a dashboard). You can also turn these syncs off.
            </p>

            <p>
              Because Metabase needs to know information about your data <em
                >before</em
              > you send a query to your database query (so that it could give you
              a calendar widget for a date column), it needs to store this info somewhere
              and update it periodically. That place is the Metabase <em
                >application database</em
              >.
            </p>

            <h2 id="metabase-application-database">
              Metabase application database
            </h2>

            <p>
              Metabases <a
                href="/docs/latest/installation-and-operation/configuring-application-database"
                >application database</a
              > is a database (separate from the databases you connect Metabase to)
              where Metabase keeps all of its app data: peoples accounts, settings,
              saved questions, logs - as well as the metadata about your connected
              databases (like columns and their types).
            </p>

            <p>
              When you build a query the query builder, Metabase can look up the
              information about your data in the application database, use that
              information to give you filter widgets, charts types, and drill
              downs.
            </p>

            <p>
              (If youre on Metabase Cloud, you never have to think about the
              application database - Metabase Cloud handles it for you. But if
              youre self-hosting, youll need to provision a separate database
              to serve as an application database.)
            </p>

            <h2 id="caching-query-results">Caching query results</h2>

            <p>
              Maybe theres a dashboard that everyone on your team looks at
              regularly, like a dashboard with company metrics. Each time
              someone opens the dashboard, Metabase will send the queries to
              database, make the database execute them, and retrieve the
              results. But if the results dont change frequently - for example,
              maybe youre displaying quarterly metrics that only change once
              every three months - theres no need to make the database
              recompute these numbers every day.
            </p>

            <p>
              You can tell Metabase to <a
                href="/docs/latest/configuring-metabase/caching"
                >cache results</a
              > in its application database (not your connected database). This way,
              when someone goes to the cached dashboard, the dashboard will load
              faster because your database will just return the pre-computed results
              to Metabase.
            </p>

            <p>
              Metabase will cache <em>results only</em>. So for example, if you
              query computes the number of items sold last month, Metabase will
              cache only <em>that number</em>, and not data about the items.
              Your data is still in your database.
            </p>

            <h2 id="persisting-models-back-to-your-database">
              Persisting models back to your database
            </h2>

            <p>
              Metabase has <a
                href="/learn/metabase-basics/getting-started/models">models</a
              > - derived datasets that you build inside Metabase to make it easier
              for people to ask questions. To build a model, you write a query (either
              in SQL or using the query builder), and then people can use that model
              as a data source as if it were a table.
            </p>

            <p>
              Because models are built from queries, Metabase needs to do some
              additional processing whenever someone asks a question based on a
              model. For example, if someone asks for the count of orders in the
              Orders model, the query thats sent to the database is more
              complicated than just <code
                class="language-plaintext highlighter-rouge"
                >SELECT COUNT(*) FROM orders</code
              > because the Orders model is itself defined by a query.
            </p>

            <p>
              This can get expensive and time-consuming for large models, so for
              some databases, you can turn on <a
                href="/docs/latest/data-modeling/model-persistence"
                >model persistence</a
              >, which is where Metabase stores these models in your database as
              real tables. So for example, if you persist your Orders model,
              then Metabase will create an actual <code
                class="language-plaintext highlighter-rouge">orders</code
              > table in your database (well, it wont be called <code
                class="language-plaintext highlighter-rouge">orders</code
              > exactly, but you get the point) and whenever someone asks for the
              count of orders in the Orders model, your database can just return
              that pre-computed table.
            </p>

            <h2 id="next-steps">Next steps</h2>

            <ul>
              <li>
                <a href="/docs/latest/databases/connecting"
                  >Adding and managing database</a>
              </li>
              <li>
                <a href="/docs/latest/databases/sync-scan"
                  >Syncing and scanning databases</a>
              </li>
              <li>
                <a
                  href="/docs/latest/installation-and-operation/configuring-application-database"
                  >Configuring Metabase application database</a>
              </li>
              <li>
                <a href="/docs/latest/configuring-metabase/caching"
                  >Caching query results</a>
              </li>
              <li>
                <a href="/docs/latest/data-modeling/model-persistence"
                  >Model persistence</a>
              </li>
            </ul>

            <div id="was-this-helpful-widget">
              <div id="page-feedback">
                <h6>Was this helpful?</h6>
                <button id="page-feedback-vote-up" class="vote-button Button">
                  <svg
                    id=""
                    class="me-1"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.6667 7.33333H14.6367C14.9207 7.33334 15.2001 7.40595 15.4482 7.54427C15.6963 7.68259 15.9049 7.88202 16.0543 8.12364C16.2036 8.36525 16.2888 8.64104 16.3016 8.9248C16.3144 9.20857 16.2545 9.4909 16.1275 9.745L13.2108 15.5783C13.0724 15.8554 12.8595 16.0884 12.596 16.2512C12.3325 16.414 12.0289 16.5001 11.7192 16.5H8.37167C8.23583 16.5 8.1 16.4833 7.9675 16.45L4.83333 15.6667M10.6667 7.33333V3.16667C10.6667 2.72464 10.4911 2.30072 10.1785 1.98816C9.86595 1.67559 9.44203 1.5 9 1.5H8.92083C8.50417 1.5 8.16667 1.8375 8.16667 2.25417C8.16667 2.84917 7.99083 3.43083 7.66 3.92583L4.83333 8.16667V15.6667M10.6667 7.33333H9M4.83333 15.6667H3.16667C2.72464 15.6667 2.30072 15.4911 1.98816 15.1785C1.67559 14.866 1.5 14.442 1.5 14V9C1.5 8.55797 1.67559 8.13405 1.98816 7.82149C2.30072 7.50893 2.72464 7.33333 3.16667 7.33333H5.25"
                      stroke="#509ee3"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>

                  Yes
                </button>
                <button id="page-feedback-vote-down" class="vote-button Button">
                  <svg
                    id=""
                    class="rotate-180 me-1"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.6667 7.33333H14.6367C14.9207 7.33334 15.2001 7.40595 15.4482 7.54427C15.6963 7.68259 15.9049 7.88202 16.0543 8.12364C16.2036 8.36525 16.2888 8.64104 16.3016 8.9248C16.3144 9.20857 16.2545 9.4909 16.1275 9.745L13.2108 15.5783C13.0724 15.8554 12.8595 16.0884 12.596 16.2512C12.3325 16.414 12.0289 16.5001 11.7192 16.5H8.37167C8.23583 16.5 8.1 16.4833 7.9675 16.45L4.83333 15.6667M10.6667 7.33333V3.16667C10.6667 2.72464 10.4911 2.30072 10.1785 1.98816C9.86595 1.67559 9.44203 1.5 9 1.5H8.92083C8.50417 1.5 8.16667 1.8375 8.16667 2.25417C8.16667 2.84917 7.99083 3.43083 7.66 3.92583L4.83333 8.16667V15.6667M10.6667 7.33333H9M4.83333 15.6667H3.16667C2.72464 15.6667 2.30072 15.4911 1.98816 15.1785C1.67559 14.866 1.5 14.442 1.5 14V9C1.5 8.55797 1.67559 8.13405 1.98816 7.82149C2.30072 7.50893 2.72464 7.33333 3.16667 7.33333H5.25"
                      stroke="#509ee3"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>

                  No
                </button>
              </div>

              <div id="page-comment" class="flex flex-wrap full hide">
                <p id="page-feedback-question"></p>

                <form id="page-comment-form" class="flex full">
                  <textarea
                    id="feedback-comment-text"
                    name="comment"
                    placeholder="Type here"></textarea>

                  <button
                    id="page-comment-submit"
                    class="Button flex align-center"
                  >
                    Send
                  </button>
                </form>
              </div>

              <div id="page-feedback-message" class="fs-18 hide">
                <h6 class="page-feedback-title">Thanks for your feedback!</h6>
              </div>
            </div>

            <iframe
              src="../../../../subscribe-to-ai-newsletter-bottom-of-article.html"
              id="subscribe-to-ai-newsletter-bottom-of-article"
              class="newsletter-subscribe"
              onload="javascript:(function(o){
          o.style.height=o.contentWindow.document.getElementById('newsletter-ajax-form-container-below-article').offsetHeight+'px';

          const resizeObserver = new ResizeObserver(function(entries) {
              const $firstEntry = entries[0];
              if ($firstEntry && $firstEntry.borderBoxSize && $firstEntry.borderBoxSize[0]) {
                  const $form = $firstEntry.borderBoxSize[0];
                  if ($form) {
                      o.style.height = $form.blockSize + 'px';
                  }
              }
          });
          resizeObserver.observe(o.contentWindow.document.getElementById('newsletter-ajax-form-container-below-article'));
      }(this));"
            ></iframe>

            <div class="learn__article__nav__container">
              <a
                href="/learn/metabase-basics/administration/administration-and-operation/guide"
                class="learn__article__nav previous"
              >
                <div class="learn__article__nav__icon">
                  <svg
                    width="12"
                    height="10"
                    viewBox="0 0 12 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M11.334 5.19544C11.334 5.66052 10.957 6.03754 10.4919 6.03754L3.68762 6.03754L6.37184 8.47774C6.71597 8.79059 6.74134 9.32318 6.42849 9.66731C6.11564 10.0114 5.58305 10.0368 5.23892 9.72396L0.942961 5.81854C0.77256 5.66363 0.673035 5.44569 0.667557 5.21547C0.662078 4.98524 0.751125 4.76282 0.913965 4.59998L5.20992 0.30402C5.53878 -0.0248429 6.07198 -0.0248428 6.40084 0.30402C6.7297 0.632882 6.7297 1.16607 6.40084 1.49494L3.54244 4.35333L10.4919 4.35333C10.957 4.35333 11.334 4.73035 11.334 5.19544Z"
                      fill="#5A6072"></path>
                  </svg>
                </div>
                <div>
                  <h5>Previous</h5>
                  <h4>Admin overview</h4>
                </div>
              </a>

              <a
                href="/learn/metabase-basics/administration/administration-and-operation/metabase-in-production"
                class="learn__article__nav next"
              >
                <div>
                  <h5>Next</h5>
                  <h4>How to run Metabase in production</h4>
                </div>
                <div class="learn__article__nav__icon">
                  <svg
                    width="12"
                    height="10"
                    viewBox="0 0 12 10"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M0.666992 4.80871C0.666992 4.34363 1.04402 3.96661 1.5091 3.96661L8.31336 3.96661L5.62913 1.52641C5.285 1.21356 5.25964 0.680971 5.57249 0.336838C5.88534 -0.00729488 6.41792 -0.032656 6.76206 0.280192L11.058 4.18561C11.2284 4.34052 11.3279 4.55846 11.3334 4.78868C11.3389 5.01891 11.2499 5.24133 11.087 5.40417L6.79105 9.70013C6.46219 10.029 5.929 10.029 5.60014 9.70013C5.27128 9.37127 5.27128 8.83808 5.60014 8.50921L8.45853 5.65082L1.5091 5.65082C1.04402 5.65082 0.666992 5.2738 0.666992 4.80871Z"
                      fill="#5A6072"></path>
                  </svg>
                </div>
              </a>
            </div>
          </div>

          <div class="learn__right-sidebar">
            <div id="sub-navigation-content"></div>
            <div id="right-hand-newsletter-subscribe-widget" class="">
              <div class="right-hand-newsletter-subscribe-form-container">
                <h6>Weekly tips for analysts</h6>
                <h5>
                  Get actionable insights<br />on AI and data directly to your
                  inbox
                </h5>

                <iframe
                  src="../../../../subscribe-to-ai-newsletter-righthandside.html"
                  id="subscribe-to-ai-newsletter-righthandside"
                  onload="javascript:(function(o){
          o.style.height=o.contentWindow.document.getElementById('feedback-widget-newsletter-ajax-form-container').offsetHeight+'px';

          const resizeObserver = new ResizeObserver(function(entries) {
            const $firstEntry = entries[0];
            if ($firstEntry && $firstEntry.borderBoxSize && $firstEntry.borderBoxSize[0]) {
              const $form = $firstEntry.borderBoxSize[0];
              if ($form) {
                o.style.height = $form.blockSize + 'px';
              }
            }

            if (window.resizeLearnRightSidebar) {
              window.resizeLearnRightSidebar();
            }
          });
          resizeObserver.observe(o.contentWindow.document.getElementById('feedback-widget-newsletter-ajax-form-container'));
        }(this));"
                ></iframe>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
