---
import Base from "../../layouts/Base.astro";
const title = "Talk to a person";
const description =
  "Got product questions or need help deciding which plan to choose? Let us know and we’d be happy to help!";
const seo = {
  title: "Talk to a person",
  description:
    "Got product questions or need help deciding which plan to choose? Let us know and we’d be happy to help!",
  canonical: "/talk-to-a-person/",
  og: {
    title: "Talk to a person",
    description:
      "Got product questions or need help deciding which plan to choose? Let us know and we’d be happy to help!",
    url: "https://www.metabase.com/talk-to-a-person",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Talk to a person",
    description:
      "Got product questions or need help deciding which plan to choose? Let us know and we’d be happy to help!",
    card: "summary",
    image: "https://www.metabase.com/images/twitter/default-share.png",
  },
};
---

<Base {title} {description} {seo}>
  <div class="bootstrap">
    <div class="content-wrapper d-flex flex-row h-100 bg-neutral-95">
      <div
        class="col-12 bg-neutral-white col-md-6 col-lg-5 ps-11 pe-11 ps-md-16 pt-9"
        style="max-width: 650px;"
      >
        <a href="/">
          <img src="/images/logo.svg" alt="Metabase Logo" />
        </a>
        <h1 class="h3 mt-8 mb-2">Talk to a person</h1>
        <p class="paragraph-4 mb-6">
          Got product questions or need help deciding which plan to choose? Let
          us know and we’d be happy to help!
        </p>
        <div
          style="width:110%;height:500px;margin-left:-30px;"
          data-fillout-id="7kUd1AiY5ius"
          data-fillout-embed-type="standard"
          data-fillout-inherit-parameters=""
          data-fillout-dynamic-resize=""
        >
        </div>
        <div>
          <div class="customer-logos-container">
            <img
              src="/images/logos/Huggingface.svg"
              alt="huggingface logo"
              loading="lazy"
            />

            <img
              src="/images/logos/mcdonalds.svg"
              alt="mcdonalds logo"
              loading="lazy"
            />

            <img src="/images/logos/huma.svg" alt="huma logo" loading="lazy" />

            <img
              src="/images/logos/capital-one.svg"
              alt="capital-one logo"
              loading="lazy"
            />

            <img
              src="/images/logos/home/airbyte.svg"
              alt="airbyte logo"
              loading="lazy"
            />

            <img
              src="/images/logos/betterment.svg"
              alt="betterment logo"
              loading="lazy"
            />
          </div>
        </div>
      </div>

      <div
        class="d-none d-md-block col-md-6 col-lg-7 bg-neutral-98 ps-11 pe-16 pt-20"
      >
        <img
          class="mb-8"
          width="100%"
          src="/images/stats-dashboard.svg"
          alt="Dashboard"
        />
        <p class="paragraph-4 text-center mb-4 px-6 neutral-40 col-8 m-auto">
          Metabase has allowed us to make data accessible to anyone, whether
          it’s for a deep analysis or for a quick status update on an important
          initiative.
        </p>
        <div
          class="d-flex align-items-center justify-content-between flex-column px-6 mt-8"
        >
          <div class="d-flex flex-column align-items-center">
            <img
              width="84"
              src="/images/product/use-cases/avatar-dan-wolchonok.png"
              alt="Dan Wolchonok Avatar"
              loading="lazy"
            />
            <p class="paragraph-5 fw-bold neutral-40 m-0 mt-2">Dan Wolchonok</p>
            <p class="paragraph-5 neutral-60 m-0">Head of Data, Reforge</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Base>
