---
import Base from "../../layouts/Base.astro";
const title = "Analytics dashboards";
const description =
  "Metabase’s analytics dashboards bring together charts and questions for publishing and sharing live data with interactive tools to discover more.";
const seo = {
  title: "Analytics dashboards",
  description:
    "Metabase’s analytics dashboards bring together charts and questions for publishing and sharing live data with interactive tools to discover more.",
  canonical: "/features/analytics-dashboards",
  og: {
    title: "Analytics dashboards",
    description:
      "Metabase’s analytics dashboards bring together charts and questions for publishing and sharing live data with interactive tools to discover more.",
    image:
      "https://www.metabase.com/images/features/analytics-dashboard-og.jpg",
    url: "https://www.metabase.com/features/analytics-dashboards",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Analytics dashboards",
    description:
      "Metabase’s analytics dashboards bring together charts and questions for publishing and sharing live data with interactive tools to discover more.",
    card: "summary_large_image",
    image:
      "https://www.metabase.com/images/features/analytics-dashboard-og.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <div class="responsive-page feature-page">
        <div class="product-intro hero-neutral-background">
          <div class="container">
            <div class="feature-container hero">
              <div>
                <div class="feature-title">
                  <img
                    alt="Metabase - Analytics dashboards"
                    src="/images/icons/badges/dashboard.svg"
                  />
                  Analytics dashboards
                </div>
                <h1>Analytics dashboards you’ll actually<br />want to use</h1>
                <p>
                  Bring together charts and questions on live dashboards with
                  interactive tools to let everyone get the info they need.
                </p>

                <div class="d-flex">
                  <a
                    class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2"
                    href="https://store.metabase.com/checkout"
                    id="get-started-btn-home"
                    title="Metabase - Get started"
                  >
                    Get started
                  </a>

                  <a
                    class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2 btn-outline-blue"
                    href="/talk-to-a-person/"
                    id="get-started-btn-home"
                    title="Metabase - Contact us"
                  >
                    Contact us
                  </a>
                </div>
              </div>

              <div>
                <img
                  alt="Metabase - Analytics dashboards you’ll actually<br />want to use"
                  src="/images/features/dashboard-overview.gif"
                  loading="lazy"
                />
              </div>
            </div>

            <section class="m-0 mb-15 mb-lg-20 p-0 center-xs">
              <h2 class="fs-8 fw-bold mb-4 mb-lg-6 mx-auto">
                Filter, X-ray, share and more
              </h2>
              <p class="mw--sm mx-auto my-0 neutral-40">
                Make it easy and intuitive to learn more from data with a few
                clicks.
              </p>

              <div
                class="align-stretch cards d-flex flex-column flex-md-row flex-wrap gap-6 gap-lg-8 justify-content-center mt-8 mt-lg-13 cards"
              >
                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/filter.svg"
                    title="Metabase - Filters"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Filters
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Add <b
                      ><a href="/docs/latest/dashboards/filters"
                        >filter widgets</a
                      ></b
                    > to quickly tweak results on things like date ranges, categories,
                    locations, and more.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/magnifying-glass.svg"
                    title="Metabase - Drill-through"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Drill-through
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    <b
                      ><a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/drill-through#select-to-zoom"
                        >Zoom in</a
                      ></b
                    > on selected areas of a chart; <b
                      ><a
                        href="/learn/metabase-basics/querying-and-dashboards/questions/drill-through#breakouts"
                        >breakout</a
                      ></b
                    > on categories; and apply <b
                      ><a
                        href="/docs/latest/exploration-and-organization/x-rays"
                        >X-rays</a
                      ></b
                    > for auto-magic reports.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/click.svg"
                    title="Metabase - Custom-click behaviours"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Custom-click behaviours
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Show the drill-through menu, update filters, or send them to
                    another dashboard, saved question, or URL.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/share.svg"
                    title="Metabase - Sharing"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Sharing
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Link to or <b
                      ><a href="/product/embedded-analytics">embed dashboards</a
                      ></b
                    >. Set up email and Slack subscriptions, or alerts for when
                    something changes. Or export dashboards to PDF for quick and
                    easy reporting.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/speed.svg"
                    title="Metabase - Speed"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Speed
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    <b
                      ><a href="/docs/latest/configuring-metabase/caching"
                        >Cache answers</a
                      ></b
                    > to questions to keep load times low. You can even get specific
                    about which questions, dashboards, and databases to cache on
                    <b><a href="/product/pro">Metabase Pro</a></b> and <b
                      ><a href="/product/enterprise">Enterprise</a></b
                    >.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/large-play-triangle-outline-blue.svg"
                    title="Metabase - Actions"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Actions
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Write back to your database from your dashboards with
                    Actions buttons for basic CRUD actions, like logging a new
                    request, or editing a customer profile.
                  </p>
                </div>
              </div>
            </section>

            <section class="m-0 mb-15 mb-lg-20 p-0 center-xs">
              <h2 class="fs-8 fw-bold mx-auto my-0">
                Get better at building<br class="d-md-none" /><span
                  class="d-none d-md-inline">&nbsp;</span
                >analytics dashboards
              </h2>

              <a
                class="align-baseline blue-link-hover d-inline-flex flex-nowrap flex-row fs-11 justify-center mb-0 mx-auto mt-4 mt-lg-6 text-bold"
                href="/docs/latest/dashboards/start"
                title="Metabase - Read documentation"
              >
                <span class="me-2">Read documentation</span>
                <img
                  alt="Here are some migrations tips"
                  class="SidebarChevron m-0 no-zoom"
                  height="14px"
                  src="/images/chevron_blue.svg"
                  width="14px"
                />
              </a>

              <div
                class="align-stretch d-flex flex-column flex-lg-row flex-nowrap gap-6 gap-lg-8 justify-content-between mt-8 mt-lg-13 ctas__cards"
              >
                <a
                  class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
                  href="/events/building-metabase-dashboards-like-a-pro"
                  title="Webinar - Building Metabase dashboards like a pro"
                >
                  <span
                    class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase"
                    >Webinar</span
                  >
                  <h3 class="fs-10 fw-bold lh-base m-0 mt-4">
                    Building Metabase dashboards like a pro
                  </h3>
                </a>

                <a
                  class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
                  href="/demo"
                  title="Video demo - From zero to dashboard in 6 mins"
                >
                  <span
                    class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase"
                    >Video demo</span
                  >
                  <h3 class="fs-10 fw-bold lh-base m-0 mt-4">
                    From zero to dashboard in 6 mins
                  </h3>
                </a>

                <a
                  class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
                  href="/learn/metabase-basics/querying-and-dashboards/dashboards"
                  title="Learn - Dashboard fundamentals"
                >
                  <span
                    class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase"
                    >Learn</span
                  >
                  <h3 class="fs-10 fw-bold lh-base m-0 mt-4">
                    Dashboard fundamentals
                  </h3>
                </a>
              </div>
            </section>

            <div class="full-width-centered how-to-analyze-csvs">
              <h3>How to build an analytics dashboard in Metabase</h3>

              <div class="numbered-text">
                <div>
                  <div>1</div>
                  <div>
                    Create a new question or visualization in Metabase using the
                    query builder, or click into an existing question.
                  </div>
                </div>

                <div>
                  <div>2</div>
                  <div>
                    From the menu at the top-right, select <b
                      >Add to dashboard</b
                    >.
                  </div>
                </div>

                <div>
                  <div>3</div>
                  <div>
                    Select an existing dashboard to add your question to, or
                    click <b>Create a new dashboard</b>.
                  </div>
                </div>

                <div>
                  <div>4</div>
                  <div>
                    You’ll now see your question added to your dashboard. You
                    can save it as is (even a one-question-dashboard counts as a
                    dashboard), or add more questions, filters, headings, text
                    or links.
                  </div>
                </div>

                <div>
                  <div>5</div>
                  <div>
                    These steps can also be done in reverse, by clicking <b
                      >New &gt; Dashboard</b
                    > and adding saved questions or creating new ones.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="try-metabase-footer">
          <div class="full-width-centered">
            <h3>
              Try Metabase<br class="d-md-none" /><span
                class="d-none d-md-inline">&nbsp;</span
              >14 days free
            </h3>
            <p>
              The more your team uses Metabase, the more valuable it becomes.
              Usage analytics can be used for internal analytics and interactive
              embedding on <b><a href="/product/pro">Pro</a></b> and <b
                ><a href="/product/enterprise">Enterprise</a></b
              > plans.
            </p>

            <div class="d-flex justify-content-center">
              <a
                class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2"
                href="https://store.metabase.com/checkout"
                id="get-started-btn-home"
                title="Metabase - Get started"
              >
                Get started
              </a>

              <a
                class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2 btn-outline-blue"
                href="/talk-to-a-person/"
                id="get-started-btn-home"
                title="Metabase - Contact us"
              >
                Contact us
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
