---
import Base from "../../layouts/Base.astro";
const title = "Collections and verified items";
const description =
  "Keep models, questions, and dashboards easy to use and neatly structured with collections so people know where to find what they need and start exploring.";
const seo = {
  title: "Collections and verified items",
  description:
    "Keep models, questions, and dashboards easy to use and neatly structured with collections so people know where to find what they need and start exploring.",
  canonical: "/features/collections",
  og: {
    title: "Collections and verified items",
    description:
      "Keep models, questions, and dashboards easy to use and neatly structured with collections so people know where to find what they need and start exploring.",
    image: "https://www.metabase.com/images/features/collections.jpg",
    url: "https://www.metabase.com/features/collections",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Collections and verified items",
    description:
      "Keep models, questions, and dashboards easy to use and neatly structured with collections so people know where to find what they need and start exploring.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/features/collections.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <div class="responsive-page feature-page">
        <div class="product-intro hero-neutral-background">
          <div class="container">
            <div class="feature-container hero">
              <div>
                <div class="feature-title">
                  <img
                    alt="Metabase - Collections and verified items"
                    src="/images/icons/badges/collections.svg"
                  />
                  Collections and verified items
                </div>
                <h1>Keep things organized</h1>
                <p>
                  Bring structure to your Metabase by tucking relevant models,
                  questions, and dashboards together into collections, and make
                  them easier find.<br /><br />Highlight important content and
                  collections, and make them more accessible in search results.
                </p>
              </div>

              <div>
                <video
                  class="vjs-player pause-observer lazy"
                  id="collections"
                  poster="/images/features/collections.png"
                >
                  <source
                    src="/images/features/collections.mp4"
                    type="video/mp4"
                  />
                  <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider
                    upgrading to a web browser that
                    <a
                      href="https://videojs.com/html5-video-support/"
                      target="_blank">supports HTML5 video</a
                    >
                  </p>
                </video>
              </div>
            </div>

            <section class="m-0 mb-15 mb-lg-20 p-0 center-xs">
              <h2 class="fs-8 fw-bold mb-4 mb-lg-6 mx-auto">
                Everything in its right place
              </h2>
              <p class="mw--sm mx-auto my-0 neutral-40">
                As everyone explores and adds more to your Metabase, things can
                get a little noisy. Keep it neat and in check with these tools.<br
                /><br />Your mom would be proud.
              </p>

              <div
                class="align-stretch cards d-flex flex-column flex-md-row flex-wrap gap-6 gap-lg-8 justify-content-center mt-8 mt-lg-13 cards"
              >
                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/collections.svg"
                    title="Metabase - Collections"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Collections
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Give each team their own little corner of Metabase. Bundle
                    everything they need in a <b
                      ><a
                        href="/docs/latest/exploration-and-organization/collections"
                        >collection</a
                      ></b
                    > so they can keep track of what's happening and start exploring.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/eye.svg"
                    title="Metabase - Collection permissions"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Collection permissions
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Give view access, curate access, or no access. You can even
                    add sub-collections and give <b
                      ><a
                        href="/docs/latest/exploration-and-organization/collections#collection-permissions"
                        >specific permissions</a
                      ></b
                    > at each level.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/medal.svg"
                    title="Metabase - Official collections"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Official collections
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Admins can <b
                      ><a
                        href="/docs/latest/exploration-and-organization/collections#collection-types"
                        >mark collections as official</a
                      ></b
                    > so people know they're vetted. These have a yellow badge and
                    show up higher in suggestions and search results. (Available
                    on <b><a href="/product/pro">Pro</a></b> and <b
                      ><a href="/product/enterprise">Enterprise</a></b
                    >.)
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/question-blue.svg"
                    title="Metabase - Verified questions"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Verified questions
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Rubber stamp questions and models with a <b
                      ><a
                        href="/docs/latest/exploration-and-organization/content-verification"
                        >blue check mark</a
                      ></b
                    > to show they've been moderated by someone in the know. Like
                    official collections, these appear higher in suggestions and
                    search results. (Available on <b
                      ><a href="/product/pro">Pro</a></b
                    > and <b><a href="/product/enterprise">Enterprise</a></b>.)
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/pin.svg"
                    title="Metabase - Pin important items"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Pin important items
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Keep dashboards, models, and questions <b
                      ><a
                        href="/docs/latest/exploration-and-organization/collections#pinned-items"
                        >at the top of your collection</a
                      ></b
                    >, so the most important stuff is right in front of people
                    when people click in.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/person.svg"
                    title="Metabase - Personal collection"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Personal collection
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Use it as your scratch pad for explorations. This space is <b
                      ><a
                        href="/docs/latest/exploration-and-organization/collections#your-personal-collection"
                        >for your eyes only</a
                      ></b
                    > (and your admin's, but y'know, they're not judging).
                  </p>
                </div>
              </div>
            </section>

            <section class="m-0 mb-15 mb-lg-20 p-0 center-xs">
              <h2 class="fs-8 fw-bold mx-auto my-0">
                More about collections and verified items
              </h2>

              <div
                class="align-stretch d-flex flex-column flex-lg-row flex-nowrap gap-6 gap-lg-8 justify-content-between mt-8 mt-lg-13 ctas__cards"
              >
                <a
                  class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
                  href="/docs/latest/exploration-and-organization/collections"
                  title="Documentation - Exploration and organization"
                >
                  <span
                    class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase"
                    >Documentation</span
                  >
                  <h3 class="fs-10 fw-bold lh-base m-0 mt-4">
                    Exploration and organization
                  </h3>
                </a>

                <a
                  class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
                  href="/docs/latest/permissions/collections"
                  title="Documentation - Collection permissions"
                >
                  <span
                    class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase"
                    >Documentation</span
                  >
                  <h3 class="fs-10 fw-bold lh-base m-0 mt-4">
                    Collection permissions
                  </h3>
                </a>

                <a
                  class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
                  href="/learn/metabase-basics/administration/administration-and-operation/same-page"
                  title="Learn - Keeping your analytics organized"
                >
                  <span
                    class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase"
                    >Learn</span
                  >
                  <h3 class="fs-10 fw-bold lh-base m-0 mt-4">
                    Keeping your analytics organized
                  </h3>
                </a>
              </div>
            </section>

            <div class="full-width-centered how-to-analyze-csvs">
              <h3>
                How to create a collection, set permissions,<br /> and mark it as
                official
              </h3>

              <div class="numbered-text">
                <div>
                  <div>1</div>
                  <div>
                    Create a new collection from scratch by clicking <b
                      >New &gt; Collection</b
                    >. Add questions and dashboards into it.
                  </div>
                </div>

                <div>
                  <div>2</div>
                  <div>
                    OR, first create a new question. Click save, and select a
                    collection to add it to, or scroll to the bottom of the menu
                    and click <b>Create a collection</b>.
                  </div>
                </div>

                <div>
                  <div>3</div>
                  <div>
                    If you're admin, you can set and adjust permissions by user
                    group from the top right <b>…</b> menu.
                  </div>
                </div>

                <div>
                  <div>4</div>
                  <div>
                    Admins on a <b><a href="/product/pro">Pro</a></b> or <b
                      ><a href="/product/enterprise">Enterprise</a></b
                    > plan can mark the collection as Official from the <b>…</b>
                    menu.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="try-metabase-footer">
          <div class="full-width-centered">
            <h3>Try Metabase for free for 14 days</h3>
            <p>
              Mary Poppins the heck out of your Metabase with collections, <a
                class="d-inline blue-link-hover text-bold"
                href="/pricing/">available on all plans</a
              >. Make them official on Pro or Enterprise plans.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
