---
import Base from "../../layouts/Base.astro";
const title =
  "Data segregation features for managing permissions at the database-, row-, and column-level";
const description =
  "Set granular row- and column-level permissions to keep data access focused and relevant for groups, with sensitive stuff off-limits. See how it works.";
const seo = {
  title:
    "Data segregation features for managing permissions at the database-, row-, and column-level",
  description:
    "Set granular row- and column-level permissions to keep data access focused and relevant for groups, with sensitive stuff off-limits. See how it works.",
  canonical: "/features/data-segregation",
  og: {
    title:
      "Data segregation features for managing permissions at the database-, row-, and column-level",
    description:
      "Set granular row- and column-level permissions to keep data access focused and relevant for groups, with sensitive stuff off-limits. See how it works.",
    image: "https://www.metabase.com/images/features/sandbox-og.jpg",
    url: "https://www.metabase.com/features/data-segregation",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title:
      "Data segregation features for managing permissions at the database-, row-, and column-level",
    description:
      "Set granular row- and column-level permissions to keep data access focused and relevant for groups, with sensitive stuff off-limits. See how it works.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/features/sandbox-og.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <div class="responsive-page feature-page">
        <div class="product-intro hero-neutral-background">
          <div class="container">
            <div class="feature-container hero">
              <div>
                <div class="feature-title">
                  <img
                    alt="Metabase - Data segregation"
                    src="/images/icons/badges/data-sandbox.svg"
                  />
                  Data segregation
                </div>
                <h1>
                  Multi-tenant support for setting strong boundaries around your
                  data
                </h1>
                <p>
                  Separate data and enforce access at the database-, row- and
                  column-level. Data segregation features give you flexible,
                  secure ways to grant or restrict access, no matter your setup.
                </p>

                <div class="d-flex">
                  <a
                    class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2"
                    href="https://store.metabase.com/checkout"
                    id="get-started-btn-home"
                    title="Metabase - Get started"
                  >
                    Get started
                  </a>

                  <a
                    class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2 btn-outline-blue"
                    href="/talk-to-a-person/"
                    id="get-started-btn-home"
                    title="Metabase - Contact us"
                  >
                    Contact us
                  </a>
                </div>
              </div>

              <div>
                <video
                  class="vjs-player pause-observer lazy"
                  id="data-sandbox"
                  poster="/images/features/sandbox.gif"
                >
                  <source
                    src="/images/features/data-sandbox.mp4"
                    type="video/mp4"
                  />
                  <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider
                    upgrading to a web browser that
                    <a
                      href="https://videojs.com/html5-video-support/"
                      target="_blank">supports HTML5 video</a
                    >
                  </p>
                </video>
              </div>
            </div>

            <section class="m-0 mb-15 mb-lg-20 p-0 center-xs">
              <h2 class="fs-8 fw-bold mb-4 mb-lg-6 mx-auto">
                Confidence that no one sees anything they're not meant to
              </h2>
              <p class="mw--sm mx-auto my-0 neutral-40">
                Privacy and security features to fit your preferences and setup
              </p>

              <div
                class="align-stretch cards d-flex flex-column flex-md-row flex-wrap gap-6 gap-lg-8 justify-content-center mt-8 mt-lg-13 cards"
              >
                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/Sandbox.svg"
                    title="Metabase - Row- and column-level permissions"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Row- and column-level permissions
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Restrict rows and columns for groups of people based on
                    attributes you set. Create filtered views of a table, or
                    display the results of a saved SQL question instead of the
                    original table. <br /><br /><a
                      href="/docs/latest/permissions/data-sandboxes"
                      >Learn more about row-level security</a>
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/Sandbox2.svg"
                    title="Metabase - Database-managed row-level permissions"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Database-managed row-level permissions
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Give a group access to the SQL editor while restricting the
                    group's access to data based on a specific database role,
                    centralizing permissions on the DB. <br /><br /><a
                      href="/docs/latest/permissions/impersonation"
                      >Learn more about connection impersonation</a>
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/Attributes.svg"
                    title="Metabase - Support for one-db-per-tenant"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Support for one-db-per-tenant
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Ensure Customer A's queries go to Customer A's database when
                    data is separated at the DB level. Dashboards and content
                    are managed in a primary database to avoid duplication and
                    repetition. <br /><br /><a
                      href="/docs/latest/permissions/database-routing"
                      >Learn more about database routing</a>
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/columns.svg"
                    title="Metabase - Display edited columns"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Display edited columns
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Show an edited or truncated version of the data. For
                    example, instead of making email addresses available to
                    everyone, you could just show display names. <br /><br /><a
                      href="/docs/latest/permissions/row-and-column-security"
                      >Learn more about edited columns</a>
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/collections.svg"
                    title="Metabase - Lightweight data restriction for basic embedded dashboards"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Lightweight data restriction for basic embedded dashboards
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Filter data based on attributes captured by your web server,
                    without requiring provisioned access. <br /><br /><br /><a
                      href="/docs/latest/embedding/static-embedding-parameters#restricting-data-in-a-static-embed-with-locked-parameters"
                      >Learn more about locked parameters</a>
                  </p>
                </div>
              </div>
            </section>

            <section class="m-0 mb-15 mb-lg-20 p-0 center-xs">
              <h2 class="fs-8 fw-bold mx-auto my-0">
                Learn more about setting up row-level permissions
              </h2>

              <div
                class="align-stretch d-flex flex-column flex-lg-row flex-nowrap gap-6 gap-lg-8 justify-content-between mt-8 mt-lg-13 ctas__cards"
              >
                <a
                  class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
                  href="/docs/latest/permissions/row-and-column-security"
                  title="Documentation - Data segregation"
                >
                  <span
                    class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase"
                    >Documentation</span
                  >
                  <h3 class="fs-10 fw-bold lh-base m-0 mt-4">
                    Data segregation
                  </h3>
                </a>

                <a
                  class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
                  href="/docs/latest/permissions/row-and-column-security-examples"
                  title="Documentation - Data segregation examples"
                >
                  <span
                    class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase"
                    >Documentation</span
                  >
                  <h3 class="fs-10 fw-bold lh-base m-0 mt-4">
                    Data segregation examples
                  </h3>
                </a>

                <a
                  class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
                  href="/learn/metabase-basics/administration/permissions/row-and-column-security-use-cases"
                  title="Learn - Personalizing data people see"
                >
                  <span
                    class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase"
                    >Learn</span
                  >
                  <h3 class="fs-10 fw-bold lh-base m-0 mt-4">
                    Personalizing data people see
                  </h3>
                </a>
              </div>
            </section>
          </div>
        </div>

        <div class="try-metabase-footer">
          <div class="full-width-centered">
            <h3>Try Metabase for free for 14 days</h3>
            <p>
              Keep sensitive data under wraps. Multi-tenant and row-level
              permissions keep your data secure. Available with <a
                class="d-inline blue-link-hover text-bold"
                href="/pricing/">Metabase Pro and Enterprise plans</a
              >.
            </p>

            <div class="d-flex justify-content-center">
              <a
                class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2"
                href="https://store.metabase.com/checkout"
                id="get-started-btn-home"
                title="Metabase - Get started"
              >
                Get started
              </a>

              <a
                class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2 btn-outline-blue"
                href="/talk-to-a-person/"
                id="get-started-btn-home"
                title="Metabase - Contact us"
              >
                Contact us
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
