---
import Base from "../../layouts/Base.astro";
const title = "Drill-throughs";
const description =
  "Click on charts, models, and questions to interact with the drill-through menu to filter, see individual records, auto-generate reports, and more.";
const seo = {
  title: "Drill-throughs",
  description:
    "Click on charts, models, and questions to interact with the drill-through menu to filter, see individual records, auto-generate reports, and more.",
  canonical: "/features/drill-through",
  og: {
    title: "Drill-throughs",
    description:
      "Click on charts, models, and questions to interact with the drill-through menu to filter, see individual records, auto-generate reports, and more.",
    image: "https://www.metabase.com/images/features/drill-through-og.jpg",
    url: "https://www.metabase.com/features/drill-through",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Drill-throughs",
    description:
      "Click on charts, models, and questions to interact with the drill-through menu to filter, see individual records, auto-generate reports, and more.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/features/drill-through-og.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <div class="responsive-page feature-page">
        <div class="product-intro hero-neutral-background">
          <div class="container">
            <div class="feature-container hero">
              <div>
                <div class="feature-title">
                  <img
                    alt="Metabase - Drill-through"
                    src="/images/icons/badges/magnifier.svg"
                  />
                  Drill-through
                </div>
                <h1>
                  Pull threads in your data without even asking a question
                </h1>
                <p>
                  Drill-throughs give people an easy and intuitive
                  starting-point to play with data, dig into specifics, and turn
                  it into action.<br /><br />It's all in the click of a button.
                </p>

                <div class="d-flex">
                  <a
                    class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2"
                    href="https://store.metabase.com/checkout"
                    id="get-started-btn-home"
                    title="Metabase - Get started"
                  >
                    Get started
                  </a>

                  <a
                    class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2 btn-outline-blue"
                    href="/talk-to-a-person/"
                    id="get-started-btn-home"
                    title="Metabase - Contact us"
                  >
                    Contact us
                  </a>
                </div>
              </div>

              <div>
                <video
                  class="vjs-player pause-observer lazy"
                  id="breakout-filter"
                  poster="/images/features/breakout-filter.gif"
                >
                  <source
                    src="/images/features/breakout-filter.mp4"
                    type="video/mp4"
                  />
                  <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider
                    upgrading to a web browser that
                    <a
                      href="https://videojs.com/html5-video-support/"
                      target="_blank">supports HTML5 video</a
                    >
                  </p>
                </video>
              </div>
            </div>

            <section class="m-0 mb-15 mb-lg-20 p-0 center-xs">
              <h2 class="fs-8 fw-bold mb-4 mb-lg-6 mx-auto">
                Analysis on (almost) autopilot
              </h2>
              <p class="mw--sm mx-auto my-0 neutral-40">
                Click on charts, models, and questions to interact with the
                drill-through menu to filter, see individual records,
                auto-generate reports, and more.
              </p>

              <div
                class="align-stretch cards d-flex flex-column flex-md-row flex-wrap gap-6 gap-lg-8 justify-content-center mt-8 mt-lg-13 cards"
              >
                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/magnifying-glass.svg"
                    title="Metabase - Zoom in"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Zoom in
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Find out why a number or trend went up or down around a
                    certain date. Click-and-drag over a selected area on a chart
                    to zoom in for a closer look, or use auto-zoom.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/servers.svg"
                    title="Metabase - View these records"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    View these records
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Get into the specifics by clicking to see a table with the
                    individual records and values that make up the chart.
                    Generate relevant lists to act on (like customers you need
                    to call, asap.)
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/bifurcate.svg"
                    title="Metabase - Breakout"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Breakout
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Breakout the data on specific dimensions, like time,
                    location, category, and more. Different charts will have
                    different breakout options based on the content.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/filter.svg"
                    title="Metabase - Filters"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Filters
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Slice the data a different way by clicking to apply filters
                    to see what’s higher, lower, or a similar value to what
                    you’re looking at.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/click.svg"
                    title="Metabase - Custom-click behavior"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Custom-click behavior
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Determine where the next click leads, like relevant
                    dashboards, saved questions, or a URL.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/filter-plus.svg"
                    title="Metabase - Cross-filter"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Cross-filter
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Set cards to update filter widgets across a dashboard, e.g.
                    click on a US state in a map card to show info on orders
                    from that state across all cards on the dashboard.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/action-blue.svg"
                    title="Metabase - X-ray"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    X-ray
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Create an automatically generated dashboard of questions
                    about your data. Edit it as you please to keep what’s
                    interesting, hedge what’s not, add more questions, and text
                    boxes. It won’t hurt our feelings. Honest.
                  </p>
                </div>
              </div>
            </section>

            <section class="m-0 mb-15 mb-lg-20 p-0 center-xs">
              <h2 class="fs-8 fw-bold mx-auto my-0">
                More info on drill-throughs and interactivity
              </h2>

              <div
                class="align-stretch d-flex flex-column flex-lg-row flex-nowrap gap-6 gap-lg-8 justify-content-between mt-8 mt-lg-13 ctas__cards"
              >
                <a
                  class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
                  href="/docs/latest/dashboards/interactive"
                  title="Documentation - Interactive dashboards"
                >
                  <span
                    class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase"
                    >Documentation</span
                  >
                  <h3 class="fs-10 fw-bold lh-base m-0 mt-4">
                    Interactive dashboards
                  </h3>
                </a>

                <a
                  class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
                  href="/learn/metabase-basics/querying-and-dashboards/questions/drill-through"
                  title="Learn - Drill-through on charts"
                >
                  <span
                    class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase"
                    >Learn</span
                  >
                  <h3 class="fs-10 fw-bold lh-base m-0 mt-4">
                    Drill-through on charts
                  </h3>
                </a>

                <a
                  class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
                  href="/events/metabase-for-beginners"
                  title="Event - A tour of Metabase"
                >
                  <span
                    class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase"
                    >Event</span
                  >
                  <h3 class="fs-10 fw-bold lh-base m-0 mt-4">
                    A tour of Metabase
                  </h3>
                </a>
              </div>
            </section>

            <div class="full-width-centered how-to-analyze-csvs">
              <h3>How to use drill-throughs on dashboards<br />and charts</h3>

              <div class="numbered-text">
                <div>
                  <div>1</div>
                  <div>
                    Find a dashboard, chart, or model you want to learn more
                    about.
                  </div>
                </div>

                <div>
                  <div>2</div>
                  <div>
                    Click anywhere over a chart made with the query builder,
                    e.g. a state on a map, or a bar in a chart and pick an
                    option in the drill-through menu (your options may vary
                    based on the content of your question or model.)
                  </div>
                </div>

                <div>
                  <div>3</div>
                  <div>That’s kinda it, go wild.</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="try-metabase-footer">
          <div class="full-width-centered">
            <h3>
              Try Metabase <br class="d-md-none" /><span
                class="d-none d-md-inline">&nbsp;</span
              >14 days free
            </h3>
            <p>
              Make it easier to dig the gems out of your data with easy,
              clickable menus. Drill-throughs are available on <a
                class="d-inline blue-link-hover text-bold"
                href="/pricing/">all Metabase plans</a
              >.
            </p>

            <div class="d-flex justify-content-center">
              <a
                class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2"
                href="https://store.metabase.com/checkout"
                id="get-started-btn-home"
                title="Metabase - Get started"
              >
                Get started
              </a>

              <a
                class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2 btn-outline-blue"
                href="/talk-to-a-person/"
                id="get-started-btn-home"
                title="Metabase - Contact us"
              >
                Contact us
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
