---
import Base from "../../layouts/Base.astro";
const title = "Metabot AI";
const description =
  "Your AI assistant for working with data - from natural language questions, to SQL generation and editing, to AI generated summaries of charts.";
const seo = {
  title: "Metabot AI",
  description:
    "Your AI assistant for working with data - from natural language questions, to SQL generation and editing, to AI generated summaries of charts.",
  canonical: "/features/metabot-ai",
  og: {
    title: "Metabot AI",
    description:
      "Your AI assistant for working with data - from natural language questions, to SQL generation and editing, to AI generated summaries of charts.",
    image: "https://www.metabase.com/images/features/metabot-og.jpg",
    url: "https://www.metabase.com/features/metabot-ai",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Metabot AI",
    description:
      "Your AI assistant for working with data - from natural language questions, to SQL generation and editing, to AI generated summaries of charts.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/features/metabot-og.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <div class="responsive-page feature-page">
        <div class="product-intro hero-neutral-background">
          <div class="container">
            <div class="feature-container hero">
              <div>
                <div class="feature-title">
                  <img
                    alt="Metabase - Metabot AI"
                    src="/images/icons/badges/metabot.svg"
                  />
                  Metabot AI
                </div>
                <h1>
                  Metabot, your AI-powered data assistant for Metabase Cloud
                </h1>
                <p>
                  A new toolbox of LLM-backed stuff to play with in Metabase.
                  Query data in plain English. Generate and debug SQL. Automate
                  written summaries. And get fast answers from our documentation
                  directly in Metabase.
                </p>

                <div class="d-flex">
                  <a
                    class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2"
                    href="https://store.metabase.com/checkout"
                    id="get-started-btn-home"
                    title="Metabase - Get started"
                  >
                    Get started
                  </a>

                  <a
                    class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2 btn-outline-blue"
                    href="/talk-to-a-person/"
                    id="get-started-btn-home"
                    title="Metabase - Contact us"
                  >
                    Contact us
                  </a>
                </div>
              </div>

              <div class="youtube-wrapper">
                <iframe
                  id="metabot"
                  src="https://www.youtube.com/embed/bWxtBwN1KPs"
                  title="Metabot AI demo"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen=""></iframe>
              </div>
            </div>

            <section class="m-0 mb-15 mb-lg-20 p-0 center-xs">
              <h2 class="fs-8 fw-bold mb-4 mb-lg-6 mx-auto">
                Metabot, at your service
              </h2>
              <p class="mw--sm mx-auto my-0 neutral-40">
                Let Metabot help you and your team self-serve data
              </p>

              <div
                class="align-stretch cards d-flex flex-column flex-md-row flex-wrap gap-6 gap-lg-8 justify-content-center mt-8 mt-lg-13 cards"
              >
                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/Sandbox.svg"
                    title="Metabase - Ask questions in natural language"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Ask questions in natural language
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Type your question and Metabot delivers answers. Forget "no
                    SQL required" - you don't even need to click on a filter.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/Sandbox2.svg"
                    title="Metabase - Generate and debug SQL fast"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Generate and debug SQL fast
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Shortcut your way to native queries. Write a prompt in the
                    SQL editor and Metabot will generate it for you. Or write
                    your own SQL and get Metabot to fix any mistakes.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/Attributes.svg"
                    title="Metabase - One-click AI-generated summaries on charts"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    One-click AI-generated summaries on charts
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Get Metabot to tell you what's going on in your monthly
                    KPIs, or do the legwork on a writeup for you to share with
                    your team.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/columns.svg"
                    title="Metabase - Instant access to documentation"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Instant access to documentation
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Need a refresher on the difference between a left join and
                    an inner join? Ask Metabot. It'll consult the docs and get
                    back to you with a simple answer right where you're already
                    working.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/collections.svg"
                    title="Metabase - Deeper, automated insights with X-rays"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Deeper, automated insights with X-rays
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Click on a spike in a chart (or anywhere - but pointy stuff
                    is usually exciting) for an automagically generated
                    dashboard on what might be behind it.
                  </p>
                </div>
              </div>
            </section>

            <section class="m-0 mb-15 mb-lg-20 p-0 center-xs">
              <h2 class="fs-8 fw-bold mx-auto my-0">More about Metabot</h2>

              <div
                class="align-stretch d-flex flex-column flex-lg-row flex-nowrap gap-6 gap-lg-8 justify-content-between mt-8 mt-lg-13 ctas__cards"
              >
                <a
                  class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
                  href="/docs/latest/ai/metabot"
                  title="Docs - Read the docs"
                >
                  <span
                    class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase"
                    >Docs</span
                  >
                  <h3 class="fs-10 fw-bold lh-base m-0 mt-4">Read the docs</h3>
                </a>

                <a
                  class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
                  href="https://form.fillout.com/t/nVFJnMmMnLus"
                  title="Express interest - Want Metabot for self-hosted? Let us know"
                >
                  <span
                    class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase"
                    >Express interest</span
                  >
                  <h3 class="fs-10 fw-bold lh-base m-0 mt-4">
                    Want Metabot for self-hosted? Let us know
                  </h3>
                </a>

                <a
                  class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
                  href="/releases"
                  title="What's new - See our latest product updates"
                >
                  <span
                    class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase"
                    >What's new</span
                  >
                  <h3 class="fs-10 fw-bold lh-base m-0 mt-4">
                    See our latest product updates
                  </h3>
                </a>
              </div>
            </section>

            <div class="faq-container">
              <h4 class="faq-headline">Frequently asked questions</h4>

              <div class="faq">
                <div class="faq-question">
                  <div>What is Metabot AI in Metabase?</div>
                  <img
                    alt="Chevron Blue"
                    src="/images/chevron_blue.svg"
                    width="14"
                  />
                </div>
                <div class="faq-answer">
                  <div>
                    <p>
                      Metabot is Metabase's built-in AI assistant that helps you
                      work with your data using plain English. You can ask
                      questions in natural language - just like you'd ask
                      someone on your data team - and Metabot AI will run the
                      query and turn results into charts. It can also help
                      explain results, write SQL from a natural language prompt
                      and debug SQL queries, and give you quick answers from
                      Metabase docs. We've got more exciting AI-backed features
                      coming soon, <a href="/roadmap">check out our roadmap</a> for
                      a peek into the future.
                    </p>
                  </div>
                </div>

                <div class="faq-question">
                  <div>Is Metabot AI available now? What plan is it on?</div>
                  <img
                    alt="Chevron Blue"
                    src="/images/chevron_blue.svg"
                    width="14"
                  />
                </div>
                <div class="faq-answer">
                  <div>
                    <p>
                      Metabot is available now in beta! It's included with the
                      14 day free trial of <a href="/pricing/"
                        >Pro and Enterprise plans</a
                      > for a limited time. If you’re already on a Pro or Enterprise
                      plan, you can try Metabot free for one month by activating
                      it in your Admin settings.
                    </p>
                  </div>
                </div>

                <div class="faq-question">
                  <div>
                    Can I embed Metabot in my product for AI-powered
                    customer-facing analytics?
                  </div>
                  <img
                    alt="Chevron Blue"
                    src="/images/chevron_blue.svg"
                    width="14"
                  />
                </div>
                <div class="faq-answer">
                  <div>
                    <p>
                      Yep! Metabot can be embedded as a React component with the <a
                        href="/product/embedded-analytics-sdk"
                        >Embedded Analytics SDK</a
                      >.
                    </p>
                  </div>
                </div>

                <div class="faq-question">
                  <div>
                    How accurate or reliable are the SQL queries and insights
                    generated?
                  </div>
                  <img
                    alt="Chevron Blue"
                    src="/images/chevron_blue.svg"
                    width="14"
                  />
                </div>
                <div class="faq-answer">
                  <div>
                    <p>
                      We’ve put a lot of time and thought into training the
                      models and fine-tuning Metabot, but like all things AI,
                      it’s never perfect. One of the cool things about Metabot,
                      though, is that it's transparent with how it gets answers
                      and results. It'll tell you which models and metrics it's
                      referencing, and you can take a look at how it's put the
                      question together in the <a href="/features/query-builder"
                        >query builder</a
                      > or <a href="/features/sql-editor">SQL editor</a> and you
                      can tweak the query if you need to.
                    </p>
                  </div>
                </div>

                <div class="faq-question">
                  <div>
                    Can I ask my database questions in natural language?
                  </div>
                  <img
                    alt="Chevron Blue"
                    src="/images/chevron_blue.svg"
                    width="14"
                  />
                </div>
                <div class="faq-answer">
                  <div>
                    <p>
                      Yep. Metabase is a querying and visualization layer that
                      sits on top of your database, and Metabot turns your
                      question into a SQL query on the data in your database.
                      For example, you can type “Show me total sales by month
                      for the last year”, and Metabase will generate the SQL,
                      run it, and display the results without you writing a
                      single line of code or clicking a filter.
                    </p>
                  </div>
                </div>

                <div class="faq-question">
                  <div>Does Metabot AI generate or fix SQL queries?</div>
                  <img
                    alt="Chevron Blue"
                    src="/images/chevron_blue.svg"
                    width="14"
                  />
                </div>
                <div class="faq-answer">
                  <div>
                    <p>
                      Yes, both. If you prefer writing SQL yourself but hit a
                      snag, Metabot can debug errors for you. No need to
                      copy-paste between your editor and Claude or ChatGPT or
                      whatever the kids are using these days.
                    </p>
                  </div>
                </div>

                <div class="faq-question">
                  <div>Can Metabot AI create visualizations or dashboards?</div>
                  <img
                    alt="Chevron Blue"
                    src="/images/chevron_blue.svg"
                    width="14"
                  />
                </div>
                <div class="faq-answer">
                  <div>
                    <p>
                      When you ask Metabot a question, like "What were total
                      sales by month for the last year?", you can specify the
                      chart type you'd like to see your data represented as and
                      Metabot will gladly oblige. Or you can ask it to change
                      the chart type on an existing visualization. You'll still
                      need to save the visualizations to a dashboard, but that's
                      the easiest part (and who knows what Metabot will be able
                      to do in a month or two, the kid learns fast).
                    </p>
                  </div>
                </div>

                <div class="faq-question">
                  <div>
                    Is Metabot AI available in both Cloud and self-hosted
                    Metabase?
                  </div>
                  <img
                    alt="Chevron Blue"
                    src="/images/chevron_blue.svg"
                    width="14"
                  />
                </div>
                <div class="faq-answer">
                  <div>
                    <p>
                      Metabot and other AI-backed features will get their start
                      in <a href="/cloud/">Metabase Cloud</a>, with self-hosted
                      likely to follow (there's more for us to figure out with
                      self-hosted around accuracy and privacy, we're working on
                      it).
                    </p>
                  </div>
                </div>

                <div class="faq-question">
                  <div>How does Metabot AI compare to other BI tools?</div>
                  <img
                    alt="Chevron Blue"
                    src="/images/chevron_blue.svg"
                    width="14"
                  />
                </div>
                <div class="faq-answer">
                  <div>
                    <p>
                      Unlike standalone AI analytics tools, Metabot AI is built
                      into the full Metabase platform with careful consideration
                      around things like your permissions structure and metadata
                      so it only surfaces data users are authorized to see, in
                      terms they're familiar with. It works with your existing
                      databases and lets you embed AI-powered analytics directly
                      into your apps.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="try-metabase-footer">
          <div class="full-width-centered">
            <h3>Try Metabase for free for 14 days</h3>
            <p>.</p>

            <div class="d-flex justify-content-center">
              <a
                class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2"
                href="https://store.metabase.com/checkout"
                id="get-started-btn-home"
                title="Metabase - Get started"
              >
                Get started
              </a>

              <a
                class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2 btn-outline-blue"
                href="/talk-to-a-person/"
                id="get-started-btn-home"
                title="Metabase - Contact us"
              >
                Contact us
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
