---
import Base from "../../layouts/Base.astro";
const title = "Usage analytics";
const description =
  "Know who did what, when with a set of dashboards, questions, and models to analyze Metabase usage data, configuration and performance.";
const seo = {
  title: "Usage analytics",
  description:
    "Know who did what, when with a set of dashboards, questions, and models to analyze Metabase usage data, configuration and performance.",
  canonical: "/features/usage-analytics",
  og: {
    title: "Usage analytics",
    description:
      "Know who did what, when with a set of dashboards, questions, and models to analyze Metabase usage data, configuration and performance.",
    image: "https://www.metabase.com/images/features/usage-analytics-og.jpg",
    url: "https://www.metabase.com/features/usage-analytics",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Usage analytics",
    description:
      "Know who did what, when with a set of dashboards, questions, and models to analyze Metabase usage data, configuration and performance.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/features/usage-analytics-og.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <div class="responsive-page feature-page">
        <div class="product-intro hero-neutral-background">
          <div class="container">
            <div class="feature-container hero">
              <div>
                <div class="feature-title">
                  <img
                    alt="Metabase - Usage Analytics"
                    src="/images/icons/badges/usage-analytics.svg"
                  />
                  Usage Analytics
                </div>
                <h1>Total visibility into what's going on in your Metabase</h1>
                <p>
                  Metabase usage analytics is a collection of dashboards,
                  questions, and models to understand and act on how your data
                  is used in your Metabase, as well as performance, and
                  configuration changes.<br /><br />Available on <b
                    ><a href="/product/pro">Pro</a></b
                  > and <b><a href="/product/enterprise">Enterprise</a></b> plans.
                </p>

                <div class="d-flex">
                  <a
                    class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2"
                    href="https://store.metabase.com/checkout"
                    id="get-started-btn-home"
                    title="Metabase - Get started"
                  >
                    Get started
                  </a>

                  <a
                    class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2 btn-outline-blue"
                    href="/talk-to-a-person/"
                    id="get-started-btn-home"
                    title="Metabase - Contact us"
                  >
                    Contact us
                  </a>
                </div>
              </div>

              <div>
                <video
                  class="vjs-player pause-observer lazy"
                  id="collections"
                  poster="/images/features/usage-analytics.png"
                >
                  <source
                    src="/images/features/usage-analytics.mp4"
                    type="video/mp4"
                  />
                  <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider
                    upgrading to a web browser that
                    <a
                      href="https://videojs.com/html5-video-support/"
                      target="_blank">supports HTML5 video</a
                    >
                  </p>
                </video>
              </div>
            </div>

            <section class="m-0 mb-15 mb-lg-20 p-0 center-xs">
              <h2 class="fs-8 fw-bold mb-4 mb-lg-6 mx-auto">
                Know who did what, when
              </h2>
              <p class="mw--sm mx-auto my-0 neutral-40">
                Evergreen audit logs, usage stats and reports to monitor,
                investigate, and get notifications on what’s going on if and
                when you need them.
              </p>

              <div
                class="align-stretch cards d-flex flex-column flex-md-row flex-wrap gap-6 gap-lg-8 justify-content-center mt-8 mt-lg-13 cards"
              >
                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/Type%3dTrend.svg"
                    title="Metabase - Usage reports, configuration changes, and performance data"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Usage reports, configuration changes, and performance data
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Comprehensive data on how your Metabase is being used, by
                    who, and when for compliance and meta-analytics. Read-only
                    by default to protect audit logs for posterity.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/Type%3dDashboard.svg"
                    title="Metabase - Interactive pre-defined dashboards"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Interactive pre-defined dashboards
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    See overall trends on usage stats in the collection of
                    dashboards, like most viewed questions in Metabase. Home in
                    on areas of interest with filters and the action menu to
                    breakout, X-ray, or view individual records.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/model.svg"
                    title="Metabase - Models to create custom reports"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Models to create custom reports
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Your usage and audit data in a neat package, made easier to
                    analyze, answer questions, and turn into your own
                    investigations to save and share as custom reports.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/Type%3dAlert.svg"
                    title="Metabase - Set up subscriptions and alerts on user behavior"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Set up subscriptions and alerts on user behavior
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Get notified on a regular basis, or set alarms when things
                    change unexpectedly and you need to investigate, like
                    someone downloading a 10,000 row table.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/Type%3dDashboard.svg"
                    title="Metabase - Customize prebuilt dashboards"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Customize prebuilt dashboards
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Your audit logs are not-editable by default to be ironclad
                    and enduring. But if you feel inspired to dig or take it in
                    a different direction, click <b>Make a copy</b> to turn the content
                    into a template that you can change all you want.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/eye.svg"
                    title="Metabase - Manage access to usage analytics"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Manage access to usage analytics
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Give view or edit permissions as required, without making
                    everyone an admin.
                  </p>
                </div>
              </div>
            </section>

            <section class="m-0 mb-15 mb-lg-20 p-0 center-xs">
              <h2 class="fs-8 fw-bold mx-auto my-0">
                Get the most out of usage analytics
              </h2>

              <div
                class="align-stretch d-flex flex-column flex-lg-row flex-nowrap gap-6 gap-lg-8 justify-content-between mt-8 mt-lg-13 ctas__cards"
              >
                <a
                  class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
                  href="/docs/latest/usage-and-performance-tools/usage-analytics"
                  title="Documentation - Usage and Performances Tools"
                >
                  <span
                    class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase"
                    >Documentation</span
                  >
                  <h3 class="fs-10 fw-bold lh-base m-0 mt-4">
                    Usage and Performances Tools
                  </h3>
                </a>

                <a
                  class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
                  href="/releases/metabase-48"
                  title="Release announcement - Learn what's happening in your Metabase...using Metabase"
                >
                  <span
                    class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase"
                    >Release announcement</span
                  >
                  <h3 class="fs-10 fw-bold lh-base m-0 mt-4">
                    Learn what's happening in your Metabase...using Metabase
                  </h3>
                </a>

                <a
                  class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
                  href="https://www.youtube.com/watch?v=-HF_8Yf-5Lg"
                  title="Video - See usage analytics in action"
                >
                  <span
                    class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase"
                    >Video</span
                  >
                  <h3 class="fs-10 fw-bold lh-base m-0 mt-4">
                    See usage analytics in action
                  </h3>
                </a>
              </div>
            </section>

            <div class="full-width-centered how-to-analyze-csvs">
              <h3>How to use Usage analytics</h3>

              <div class="numbered-text">
                <div>
                  <div>1</div>
                  <div>
                    Go to the <b>Metabase analytics</b> collection in the left sidebar
                    (note, admins will see this collection by default, otherwise
                    you’ll need permissions enabled).
                  </div>
                </div>

                <div>
                  <div>2</div>
                  <div>
                    Open <b>Metabase metrics</b>. Select a date range, and
                    filter on your available user groups. For example, you could
                    filter down to an an “executives” user group to get an idea
                    of who’s most active and what they’re interested in.
                  </div>
                </div>

                <div>
                  <div>3</div>
                  <div>
                    Set up a dashboard subscription to get notified about what’s
                    top-of-mind in your org each week.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="try-metabase-footer">
          <div class="full-width-centered">
            <h3>
              Try Metabase<br class="d-md-none" /><span
                class="d-none d-md-inline">&nbsp;</span
              >14 days free
            </h3>
            <p>
              Optimize how your internal analytics and interactive embedding
              based on how it's used. Usage analytics is available on&nbsp;<b
                ><a href="/product/pro">Pro</a></b
              > and <b><a href="/product/enterprise">Enterprise</a></b> plans.
            </p>

            <div class="d-flex justify-content-center">
              <a
                class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2"
                href="https://store.metabase.com/checkout"
                id="get-started-btn-home"
                title="Metabase - Get started"
              >
                Get started
              </a>

              <a
                class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2 btn-outline-blue"
                href="/talk-to-a-person/"
                id="get-started-btn-home"
                title="Metabase - Contact us"
              >
                Contact us
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
