---
import Base from "../../layouts/Base.astro";
const title = "White label analytics";
const description =
  "Enhance your SaaS app with fully branded, embedded white label analytics. Customize dashboards, charts, and reports with no-code or advanced React SDK options.";
const seo = {
  title: "White label analytics",
  description:
    "Enhance your SaaS app with fully branded, embedded white label analytics. Customize dashboards, charts, and reports with no-code or advanced React SDK options.",
  canonical: "/features/white-label-analytics",
  og: {
    title: "White label analytics",
    description:
      "Enhance your SaaS app with fully branded, embedded white label analytics. Customize dashboards, charts, and reports with no-code or advanced React SDK options.",
    image: "https://www.metabase.com/images/features/white-label-og.jpg",
    url: "https://www.metabase.com/features/white-label-analytics",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "White label analytics",
    description:
      "Enhance your SaaS app with fully branded, embedded white label analytics. Customize dashboards, charts, and reports with no-code or advanced React SDK options.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/features/white-label-og.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <div class="responsive-page feature-page">
        <div class="product-intro hero-neutral-background">
          <div class="container">
            <div class="feature-container hero">
              <div>
                <div class="feature-title">
                  <img
                    alt="Metabase - White-label analytics"
                    src="/images/icons/badges/white-labeled-analytics.svg"
                  />
                  White-label analytics
                </div>
                <h1>
                  White-label analytics for a seamless, branded reporting
                  experience
                </h1>
                <p>
                  Enhance your SaaS app with fully branded, embedded white-label
                  analytics. Customize dashboards, charts, and reports with
                  no-code or advanced React SDK options.
                </p>

                <div class="d-flex">
                  <a
                    class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2"
                    href="https://store.metabase.com/checkout"
                    id="get-started-btn-home"
                    title="Metabase - Get started"
                  >
                    Get started
                  </a>

                  <a
                    class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2 btn-outline-blue"
                    href="/embedding-demo"
                    id="get-started-btn-home"
                    title="Metabase - Try the live demo"
                  >
                    Try the live demo
                  </a>
                </div>
              </div>

              <div>
                <video
                  class="vjs-player pause-observer lazy"
                  id="white-label-analytics"
                  poster="/images/features/white-label-analytics-analytics.html"
                >
                  <source
                    src="/images/features/white-label-analytics.mp4"
                    type="video/mp4"
                  />
                  <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider
                    upgrading to a web browser that
                    <a
                      href="https://videojs.com/html5-video-support/"
                      target="_blank">supports HTML5 video</a
                    >
                  </p>
                </video>
              </div>
            </div>

            <section class="m-0 mb-15 mb-lg-20 p-0 center-xs">
              <h2 class="fs-8 fw-bold mb-4 mb-lg-6 mx-auto">
                Key features of our white-labeled embedded analytics
              </h2>
              <p class="mw--sm mx-auto my-0 neutral-40">
                Customization that fits your white-labeled embedded analytics
                needs now, with developer tooling to keep up as your needs
                evolve.
              </p>

              <div
                class="align-stretch cards d-flex flex-column flex-md-row flex-wrap gap-6 gap-lg-8 justify-content-center mt-8 mt-lg-13 cards"
              >
                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/Type%3dTrend.svg"
                    title="Metabase - Branded in-app reporting"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Branded in-app reporting
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Customize the name, logo, fonts, and UI and chart colors and
                    more of your embedded analytics. <a
                      href="/docs/latest/configuring-metabase/appearance"
                      >See the full list of what you can white-label in our docs</a
                    >.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/Type%3dDashboard.svg"
                    title="Metabase - Hide all traces of Metabase"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Hide all traces of Metabase
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Add links to your own documentation, help settings, or
                    background illustrations, or just hide default Metabase
                    ones.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/model.svg"
                    title="Metabase - No-code customization"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    No-code customization
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Customize the look and feel of your white-label analytics
                    via iframe—without needing developer resources.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/Type%3dAlert.svg"
                    title="Metabase - Go beyond white-labeling"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Go beyond white-labeling
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Use the <a href="/product/embedded-analytics-sdk"
                      >embedded analytics SDK</a
                    > to embed individual React components that fit seamlessly in
                    your product, with maximum control over the look and feel.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/Type%3dDashboard.svg"
                    title="Metabase - Dynamic theming"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Dynamic theming
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Style each component with CSS variables so you can
                    dynamically switch the look per organization, team, or even
                    user with the <a href="/product/embedded-analytics-sdk"
                      >embedded analytics SDK</a
                    > for React.
                  </p>
                </div>

                <div
                  class="bg-white border--blue-95 box-shadow-xs mx-0 mt-0 p-4 p-lg-6 rounded-4 text-left w-100 cards__card"
                >
                  <img
                    alt="Worry-free upgrades, backups, and more - Upgrades"
                    class="mb-4 mb-lg-6 cards__card__icon"
                    src="/images/icons/eye.svg"
                    title="Metabase - Customized UX"
                    loading="lazy"
                  />
                  <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4 neutral-40">
                    Customized UX
                  </h3>
                  <p class="fs-12 lh-base m-0 neutral-60">
                    Override menu names, placement, and button names. Create
                    intuitive click-paths that help people find what they need
                    with the <a href="/product/embedded-analytics-sdk"
                      >embedded analytics SDK</a
                    > for React.
                  </p>
                </div>
              </div>
            </section>

            <section class="m-0 mb-15 mb-lg-20 p-0 center-xs">
              <h2 class="fs-8 fw-bold mx-auto my-0">
                Get started with white-label analytics
              </h2>

              <div
                class="align-stretch d-flex flex-column flex-lg-row flex-nowrap gap-6 gap-lg-8 justify-content-between mt-8 mt-lg-13 ctas__cards"
              >
                <a
                  class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
                  href="/product/embedded-analytics"
                  title="Embedded analytics - See more of what you can do with embedded analytics"
                >
                  <span
                    class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase"
                    >Embedded analytics</span
                  >
                  <h3 class="fs-10 fw-bold lh-base m-0 mt-4">
                    See more of what you can do with embedded analytics
                  </h3>
                </a>

                <a
                  class="bg-white border--blue-95 box-shadow-xs d-block m-0 p-4 p-lg-6 rounded-4 text-left ctas__cards__card"
                  href="/case-studies/lime-technologies"
                  title="Case study - How Lime Technologies white-labels their analytics with Metabase"
                >
                  <span
                    class="bg-blue-95 blue-60 d-inline-block fs-15 fw-bolder m-0 px-3 py-2 rounded-3 text-uppercase"
                    >Case study</span
                  >
                  <h3 class="fs-10 fw-bold lh-base m-0 mt-4">
                    How Lime Technologies white-labels their analytics with
                    Metabase
                  </h3>
                </a>
              </div>
            </section>

            <div class="full-width-centered how-to-analyze-csvs">
              <h3>How to set up white-label analytics in your app</h3>

              <div class="numbered-text">
                <div>
                  <div>1</div>
                  <div>
                    <b>Choose your white-labeling method.</b> Use iframe embedding
                    for quick implementation, or the <a
                      href="/product/embedded-analytics-sdk"
                      >Embedded Analytics SDK</a
                    > for more in-depth customization.
                  </div>
                </div>

                <div>
                  <div>2</div>
                  <div>
                    <b>Customize your branding.</b> Add your company logo, colors,
                    fonts, and custom UI elements.
                  </div>
                </div>

                <div>
                  <div>3</div>
                  <div>
                    <b>Define permissions.</b> Set up authentication to ensure only
                    the right users see analytics inside your app.
                  </div>
                </div>

                <div>
                  <div>4</div>
                  <div>
                    <b>Refine the user experience.</b> With the SDK you can override
                    menus, button placements, and tooltips to make analytics feel
                    native.
                  </div>
                </div>

                <div>
                  <div>5</div>
                  <div>
                    <b>Deploy and iterate.</b> Test with internal users, gather feedback,
                    and refine styling.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="try-metabase-footer">
          <div class="full-width-centered">
            <h3>
              Try Metabase<br class="d-md-none" /><span
                class="d-none d-md-inline">&nbsp;</span
              >14 days free
            </h3>
            <p>
              Get to proof of concept with white-labeled analytics super fast.
              White-labeling is available with&nbsp;<b
                ><a href="/product/pro">Pro</a></b
              > and <b><a href="/product/enterprise">Enterprise</a></b> plans.
            </p>

            <div class="d-flex justify-content-center">
              <a
                class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2"
                href="https://store.metabase.com/checkout"
                id="get-started-btn-home"
                title="Metabase - Get started"
              >
                Get started
              </a>

              <a
                class="btn btn-primary mt-6 px-4 px-lg-5 py-3 mr-2 btn-outline-blue"
                href="/embedding-demo"
                id="get-started-btn-home"
                title="Metabase - Try the live demo"
              >
                Try the live demo
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
