---
import Base from "../../layouts/Base.astro";
const title = "Air-gap Metabase";
const description =
  "Give your team easy-to-use, self-service analytics without exposing your infrastructure to the internet.";
const seo = {
  title: "Air-gap Metabase",
  description:
    "Give your team easy-to-use, self-service analytics without exposing your infrastructure to the internet.",
  canonical: "/product/air-gapping",
  og: {
    title: "Air-gap Metabase",
    description:
      "Give your team easy-to-use, self-service analytics without exposing your infrastructure to the internet.",
    image: "https://www.metabase.com/images/features/air-gap.png",
    url: "https://www.metabase.com/product/air-gapping",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Air-gap Metabase",
    description:
      "Give your team easy-to-use, self-service analytics without exposing your infrastructure to the internet.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/features/air-gap.png",
  },
};
---

<Base {title} {description} {seo}>
  <div class="bootstrap">
    <div class="landing-page">
      <div class="container feature-container landing-page__hero-b">
        <div>
          <div class="badge">Air-gapping</div>

          <h1>
            Air-gap your Metabase to keep your data in a totally isolated
            environment
          </h1>
          <p>
            Give your team easy-to-use, self-service analytics without exposing
            your infrastructure to the internet.
          </p>

          <div class="d-flex justify-content-start gap-4">
            <a
              class="fs-13 Button btn btn-primary rounded-3 btn-primary"
              href="/talk-to-a-person/"
            >
              Talk to sales
            </a>
          </div>
        </div>

        <div class="position-relative">
          <img
            src="/images/landing-pages/air-gapping-hero.png"
            alt="Metabase logo with a shield to signify maximum security with air-gapping"
          />
        </div>
      </div>

      <div class="hero-container landing-page__hero-c">
        <div class="hero">
          <div class="d-flex justify-content-center align-items-center gap-4">
          </div>

          <div class="cards-container">
            <div class="card">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="none"
                ><path
                  stroke="#509EE3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M8 15.25A7.25 7.25 0 1 0 8 .75a7.25 7.25 0 0 0 0 14.5Z"
                ></path><path
                  stroke="#509EE3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M10.25 4.75H7.375a1.625 1.625 0 1 0 0 3.25h1.25a1.625 1.625 0 1 1 0 3.25H5.75M8 3.75v.5M8 11.75v.5"
                ></path></svg
              >

              <h4>Set up in 5 minutes</h4>
              <p>
                No specialist or niche technical skills required. Designed to be
                the same as setting up a regular Metabase.
              </p>
            </div>

            <div class="card">
              <svg
                width="14"
                height="16"
                viewBox="0 0 14 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2.75 15.25H11.25C12.3546 15.25 13.25 14.3546 13.25 13.25V5L9 0.75H2.75C1.64543 0.75 0.75 1.64543 0.75 2.75V13.25C0.75 14.3546 1.64543 15.25 2.75 15.25Z"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M13 5.25H8.75V1"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M4.75 11.25H9.25"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M4.75 8.25H9.25"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>

              <h4>Open source</h4>
              <p>
                100% of the code can be audited by the entire world, 24/7. Plus
                you always have access to make changes as you need to.
              </p>
            </div>

            <div class="card">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.75 15.2502H5.25C5.80229 15.2502 6.25 14.8025 6.25 14.2502V1.75C6.25 1.19772 5.80229 0.75 5.25 0.75H1.75C1.19772 0.75 0.75 1.19772 0.75 1.75V14.2502C0.75 14.8025 1.19772 15.2502 1.75 15.2502Z"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M10.75 6.2502H14.25C14.8023 6.2502 15.25 5.80253 15.25 5.25025V1.75C15.25 1.19772 14.8023 0.75 14.25 0.75H10.75C10.1977 0.75 9.75 1.19772 9.75 1.75V5.25025C9.75 5.80253 10.1977 6.2502 10.75 6.2502Z"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M10.75 15.2502H14.25C14.8023 15.2502 15.25 14.8025 15.25 14.2502V10.75C15.25 10.1977 14.8023 9.75 14.25 9.75H10.75C10.1977 9.75 9.75 10.1977 9.75 10.75V14.2502C9.75 14.8025 10.1977 15.2502 10.75 15.2502Z"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>

              <h4>Works with what's in your data stack</h4>
              <p>
                Vendor approval can be long and painful. Metabase connects to
                the data tools you’re using and integrates with your ecosystem.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="customer-list">
        <div class="d-flex flex-row justify-content-center">
          <p class="paragraph-4-5 neutral-40 my-0 mb-3 py-0">
            <b>Metabase is trusted by over 80,000 companies </b>
          </p>
        </div>

        <a href="/case-studies" class="customer-logos-container">
          <img
            src="/images/logos/Huggingface.svg"
            alt="huggingface logo"
            loading="lazy"
          />

          <img
            src="/images/logos/mcdonalds.svg"
            alt="mcdonalds logo"
            loading="lazy"
          />

          <img src="/images/logos/huma.svg" alt="huma logo" loading="lazy" />

          <img
            src="/images/logos/capital-one.svg"
            alt="capital-one logo"
            loading="lazy"
          />

          <img
            src="/images/logos/home/airbyte.svg"
            alt="airbyte logo"
            loading="lazy"
          />

          <img
            src="/images/logos/betterment.svg"
            alt="betterment logo"
            loading="lazy"
          />

          <img
            src="/images/logos/deutsche-telekom.svg"
            alt="Deutsche Telekom logo"
            loading="lazy"
          />

          <img src="/images/logos/kong.svg" alt="kong logo" loading="lazy" />
        </a>
      </div>

      <div class="feature-container container two-checklists">
        <div>
          <h2>When do you need to air-gap your Metabase</h2>
          <p></p>

          <ul class="checklist-outline">
            <li>
              When you need complete isolation from the internet, often due to
              regulatory compliance or heightened security requirements. If
              you're not sure if you need an air-gapped environment, then you
              probably don't need to air-gap your Metabase.
            </li>
          </ul>
        </div>
        <div>
          <h2>
            When internet-connected deployments, either self-hosted or Cloud,
            are the better choice
          </h2>
          <p></p>

          <ul class="checklist-outline">
            <li>
              If you don't need air-gapping, this is how everyone else runs
              Metabase. Self-hosted deployments give you more control, while
              Cloud deployments save on time and effort.
            </li>
          </ul>
        </div>
      </div>

      <div class="feature-container flex-row-reverse container">
        <div>
          <h2>Checks all your compliance boxes</h2>
          <p>
            Maximum privacy, built for those of us who really need super secure,
            isolated environments (like in healthcare or banking or any work
            where security is paramount).<br />Nothing ever leaves your data
            center. Never connects to the internet. No outbound connections.
          </p>
        </div>
        <div>
          <img
            src="/images/landing-pages/compliance.png"
            alt="Illustration of the Metabase logo at the centre of a number of compliance badges"
            loading="lazy"
          />
        </div>
      </div>

      <div class="testimonial">
        <p>
          “We operate a number of private data centres for our systems, and an
          air-gapped version of Metabase allows us to reduce the attack surface
          for cyber security reasons.<br />Let alone the potential impact of a
          cyber attack on system uptime, being a heavily regulated company,
          being air-gapped further reduces the risk of data breaches and
          sensitive and private data loss.<br />It also optimizes and maximizes
          operational availability as the system is network failure resilient.”
        </p>

        <p class="author">Frédéric Tremblay</p>
        <p class="company">Head of Business Intelligence, LMAX Group</p>
      </div>

      <div class="feature-container container">
        <div>
          <h2>No specialist setup required</h2>
          <p>
            Setting up an air-gapped Metabase is pretty much the same as a
            regular Metabase in terms of difficulty and effort (which is to
            say—low).<br />The only difference is that the jar itself is
            air-gapped and we use Asymmetric (public and private key)
            Encryption.<br />Works with all the data tools you’re already using.
          </p>
        </div>

        <div>
          <img
            src="/images/landing-pages/air-gapping.png"
            alt="Illustration of the Metabase logo at the centre of a number of compliance badges"
            loading="lazy"
          />
        </div>
      </div>

      <div class="testimonial">
        <p>
          At Tamkeen Technologies, we have implemented Metabase in an air-gap
          architecture, fully isolating it from external networks. This ensures
          compliance with industry regulations, safeguards sensitive
          information, and prevents unauthorized access. By enhancing data
          security and auditing capabilities, we empower informed
          decision-making while reinforcing trust and confidentiality for all
          stakeholders.
        </p>

        <p class="author">Faris Alokeeli</p>
        <p class="company">
          Director, Database Management, Tamkeen Technologies
        </p>
      </div>

      <div class="feature-container flex-row-reverse container">
        <div>
          <h2>Plus all the best of Metabase’s security features</h2>
          <p>
            Your air-gapped Metabase comes with premium security features only
            found on Metabase Pro and Enterprise.
          </p>

          <ul class="checklist-outline">
            <li><b>Single-sign</b> on access and permission grouping</li>

            <li>
              <b>Data segregation</b> including row- and column-level permissions
            </li>

            <li>
              <b>Usage analaytics and audit logs</b> to see who did what, when
            </li>

            <li>
              <b>Connection impersonation</b> to centralize permissions on the database
            </li>

            <li>
              <b>White labeling</b> to make it look and feel like your own
            </li>
          </ul>
        </div>
        <div>
          <video
            class="vjs-player lazy w-100 pause-observer autoplay-video"
            autoplay=""
            muted=""
            playsinline=""
            id="permissions-dataperms"
            poster="/images/landing-pages/data-perms.gif"
          >
            <source
              src="/images/posts/metabase-50/data-perms.mp4"
              type="video/mp4"
            />

            <p class="vjs-no-js">
              To view this video please enable JavaScript and consider upgrading
              to a web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
              >
            </p>
          </video>
        </div>
      </div>

      <section
        class="feature-container background-color-both-sides container landing-page__feature-and-rolling-testimonial"
      >
        <div>
          <h2>Help from our world-class success team</h2>
          <p>We don't like to brag, so we'll let our customers do it for us.</p>

          <p>
            <b>With Metabase, you’ll get access to:</b>
          </p>

          <ul class="checklist-outline">
            <li>
              Support from actual technical experts. We're all avid Metabase
              users who are well versed in business analytics and business
              intelligence platforms, so we've been in your shoes.
            </li>

            <li>
              Help with whatever your problem is, be it admin troubleshooting or
              advice on best practices on everything from data analysis,
              structuring your datasets, data source connectors, data
              visualization, embedding in apps, real-time data visualization for
              KPIs and metrics, data modeling, and more.
            </li>

            <li>
              No chatbots, no hold lines, no customer service runaround. Just
              email us, we're right here.
            </li>
          </ul>
        </div>
        <div class="client-reviews">
          <div class="review-card-container">
            <div class="flex flex-column review-card-container">
              <div class="review-card-absolute-container px-8">
                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “The expertise and engagement of the Metabase team stands in
                    stark contrast to that which we've received from Looker over
                    the past 18+ months and, in previous lives, Tableau.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/dave-holmes-kinsella.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/synctera.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Dave Holmes-Kinsella</div>
                      <div class="review-title">
                        Head of Data Science, Synctera
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “10/10. Metabase support is the best in the industry and
                    serves as a shining example of what we try to achieve for
                    our own customers.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/philip-lorenzo.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/structionsite.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Philip Lorenzo</div>
                      <div class="review-title">
                        Head of Data, StructionSite
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “Johannes is a world class support engineer. I really give
                    him 5 stars for the help he provided. All responses were
                    very fast, to the point, and helpful. I couldn't ask for
                    better support. A true expert.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/chad-remesch.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/the-lobby.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Chad Remesch</div>
                      <div class="review-title">CTO, The Lobby</div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “I got excellent and timely response to my question. Thank
                    you for the level of detail you provided, you made me feel
                    that if we migrate our installation to your cloud service,
                    we will have your support.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/michael-masouras.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/motohunt.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Michael Masouras</div>
                      <div class="review-title">CEO, Motohunt</div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “Johannes is the best! He always gives thorough responses
                    and next steps that help us manage expectations with our end
                    users.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/meghan-maloy.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/datadog.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Meghan Maloy</div>
                      <div class="review-title">
                        Senior Analytics Engineer, Datadog
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “I really appreciated how fast Luis was to respond, and how
                    straightforward his recommendations are. You're awesome!”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/aimee-walker.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/revenue-io.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Aimée Walker</div>
                      <div class="review-title">
                        Technical Engineer, Revenue.io
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “The response was specific on all my raised points and it
                    came back very quickly!”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/andrea-mazza.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/breeze.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Andrea Mazza</div>
                      <div class="review-title">
                        Marine Data Analyst, Breeze
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="review-card-absolute-container secondary-animation px-8"
              >
                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “The expertise and engagement of the Metabase team stands in
                    stark contrast to that which we've received from Looker over
                    the past 18+ months and, in previous lives, Tableau.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/dave-holmes-kinsella.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/synctera.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Dave Holmes-Kinsella</div>
                      <div class="review-title">
                        Head of Data Science, Synctera
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “10/10. Metabase support is the best in the industry and
                    serves as a shining example of what we try to achieve for
                    our own customers.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/philip-lorenzo.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/structionsite.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Philip Lorenzo</div>
                      <div class="review-title">
                        Head of Data, StructionSite
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “Johannes is a world class support engineer. I really give
                    him 5 stars for the help he provided. All responses were
                    very fast, to the point, and helpful. I couldn't ask for
                    better support. A true expert.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/chad-remesch.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/the-lobby.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Chad Remesch</div>
                      <div class="review-title">CTO, The Lobby</div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “I got excellent and timely response to my question. Thank
                    you for the level of detail you provided, you made me feel
                    that if we migrate our installation to your cloud service,
                    we will have your support.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/michael-masouras.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/motohunt.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Michael Masouras</div>
                      <div class="review-title">CEO, Motohunt</div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “Johannes is the best! He always gives thorough responses
                    and next steps that help us manage expectations with our end
                    users.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/meghan-maloy.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/datadog.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Meghan Maloy</div>
                      <div class="review-title">
                        Senior Analytics Engineer, Datadog
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “I really appreciated how fast Luis was to respond, and how
                    straightforward his recommendations are. You're awesome!”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/aimee-walker.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/revenue-io.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Aimée Walker</div>
                      <div class="review-title">
                        Technical Engineer, Revenue.io
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “The response was specific on all my raised points and it
                    came back very quickly!”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/andrea-mazza.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/breeze.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Andrea Mazza</div>
                      <div class="review-title">
                        Marine Data Analyst, Breeze
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="try-metabase-footer">
        <div class="full-width-centered">
          <h3>Don't compromise on security or usability</h3>
          <p>
            Talk to our team about air-gapping Metabase to use on a isolated
            network.
          </p>
          <a
            id="get-started-btn-home"
            class="fs-13 Button btn btn-primary rounded-3 ms-lg-2"
            href="/talk-to-a-person/"
          >
            Talk to sales
          </a>
        </div>
      </div>

      <div class="light-blue-footer-container">
        <div class="bootstrap"></div>
      </div>
    </div>
  </div>
</Base>
