---
import Base from "../../layouts/Base.astro";
const title = "Self-service Business Intelligence | Metabase";
const description =
  "Self-service Business Intelligence. Empower your team to leverage data and dashboards using Metabase.";
const seo = {
  title: "Self-service Business Intelligence | Metabase",
  description:
    "Self-service Business Intelligence. Empower your team to leverage data and dashboards using Metabase.",
  canonical: "/product/business-intelligence",
  og: {
    title: "Self-service Business Intelligence | Metabase",
    description:
      "Self-service Business Intelligence. Empower your team to leverage data and dashboards using Metabase.",
    image: "https://www.metabase.com/images/product/business-analytics.jpg",
    url: "https://www.metabase.com/product/business-intelligence",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Self-service Business Intelligence | Metabase",
    description:
      "Self-service Business Intelligence. Empower your team to leverage data and dashboards using Metabase.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/product/business-analytics.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div>
    <div class="bootstrap">
      <div class="embedding-page business-intelligence">
        <div class="embedding-page__header-container">
          <div class="container"></div>
        </div>

        <div class="container">
          <div
            class="feature-container you-could-be-querying-five-minutes-from-now"
          >
            <div>
              <h2>You could be querying 5 minutes from now</h2>
              <p>Regardless of what state your DB is in.</p>
              <ul class="checklist-outline">
                <li>
                  <b>Low-lift to get started</b><br />
                  Write up your config in a single YAML or clean up things like experimental
                  column headers right in the UI.
                  <p></p>
                </li>

                <li>
                  <b>Curate what you expose</b><br />
                  Choose tables you show, edit metadata in the UI to support self-service.
                </li>
                <li>
                  <b>Start simple before your first data hire joins the team</b
                  ><br />
                  Configure modeling layers as your data grows and you bring more
                  data-focused people onboard.
                </li>
              </ul>
            </div>
            <div>
              <video
                id="query-builder-mobile-video"
                class="rounded-4 pause-observer lazy"
                width="100%"
                poster="/images/home/query-builder.png"
              >
                <source src="/images/home/query-builder.mp4" type="video/mp4" />
                <source
                  src="/images/home/query-builder.webm"
                  type="video/webm"
                />
              </video>
              <p class="feature-container__subtitle">
                Watch how quick and easy it is to go from zero to chart <svg
                  width="15"
                  height="18"
                  viewBox="0 0 15 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.4163 10.2554L7.20956 16.1204L1.5 12.6445"
                    stroke="#8D93A5"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M6.60556
  14.3929C6.60556 14.3929 5.39062 12.8742 5.39062 6.19204C5.39062 -0.49012
  13.8952 1.63598 13.8952 1.63598"
                    stroke="#8D93A5"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </p>
            </div>
          </div>

          <div class="feature-container-carousel-container">
            <div
              class="full-width-centered before-feature-container-carousel desktop"
            >
              <h3>Avoid repeated requests with reports anyone can run</h3>
              <p>
                Let people dive deeper into data on their own without the
                hand-holding.
              </p>
            </div>

            <div
              class="feature-container flex-row-reverse feature-container-carousel desktop"
            >
              <div>
                <div class="expanded">
                  <h6>
                    <svg
                      width="24"
                      height="24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      ><path
                        d="M4.75 5.75a1 1 0 0 1 1-1h12.5a1 1 0 0 1 1 1v3.5a1 1 0 0 1-1 1H5.75a1 1 0 0 1-1-1v-3.5ZM4.75 14.75a1 1 0 0 1 1-1h12.5a1 1 0 0 1 1 1v3.5a1 1 0 0 1-1 1H5.75a1 1 0 0 1-1-1v-3.5ZM16.25 5v5M16.25 14v5"
                        stroke="#509EE3"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path></svg
                    >

                    Metabot
                  </h6>
                  <h4>Ask Metabot AI</h4>
                  <div>
                    <p>
                      <a href="/features/metabot-ai">Chat with your database</a>
                      to get answers in natural language. Make it easier for your
                      less technical teammates to self-serve data.
                    </p>
                  </div>
                </div>
                <div>
                  <h6>
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M14.6667 22.9999C19.2691 22.9999 23 19.269 23 14.6666C23 10.0642 19.2691 6.33325 14.6667 6.33325C10.0643 6.33325 6.33337 10.0642 6.33337 14.6666C6.33337 19.269 10.0643 22.9999 14.6667 22.9999Z"
                        stroke="#509ee3"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                      <path
                        d="M20.6666 20.6667L25.6666 25.6667"
                        stroke="#509ee3"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                      <path
                        d="M14.6666 11.6667V17.6667"
                        stroke="#509ee3"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                      <path
                        d="M17.6666 14.6667H11.6666"
                        stroke="#509ee3"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </svg>
                    Drill-through
                  </h6>
                  <h4>Click on charts to drill into data</h4>
                  <div>
                    <p>
                      Drillthrough menus preempt questions, like “Can we see
                      this broken down by plan tier?” or “What about just the
                      users from last month?” and dive deeper without forming a
                      new query. Configured for you out of the box.
                    </p>
                  </div>
                </div>
                <div>
                  <h6>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="32"
                      height="32"
                      fill="none"
                    >
                      <path
                        stroke="#509ee3"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M7.667 25.667h16.666c.737 0
  1.334-.597 1.334-1.334V7.668c0-.737-.597-1.334-1.334-1.334H7.667c-.737
  0-1.334.597-1.334 1.334v16.667c0 .736.597 1.333 1.334 1.333ZM25.667
  12.333H7M25.667 19.667H7"
                      ></path>
                    </svg>
                    SQL editor
                  </h6>
                  <h4>Query data with or without SQL</h4>
                  <div>
                    <p>
                      Put together queries intuitively in the <a
                        href="/features/query-builder">visual query builder</a
                      > without writing SQL. Let power users do more complex analysis
                      with the <a href="/features/sql-editor">SQL editor</a>.
                    </p>
                  </div>
                </div>
                <div>
                  <h6>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="32"
                      height="32"
                    >
                      <g fill="none" fill-rule="evenodd">
                        <path
                          stroke="#509ee3"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1.5"
                          d="m16 7 9 5.276-9 5.276-9-5.276z"></path>
                        <path
                          stroke="#509EE3"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1.5"
                          d="M12.586 16 7 19.724 16 25l9-5.276L19.317 16"
                        ></path>
                        <path d="M0 0h32v32H0z"></path>
                      </g>
                    </svg>
                    Collections and verified items
                  </h6>
                  <h4>Make content trustworthy and easy to find</h4>
                  <div>
                    <p>
                      Mark dashboards, models, metrics, and questions as
                      official. Keep content organized and easy to find in
                      collections.
                    </p>
                  </div>
                </div>
                <div>
                  <h6>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="32"
                      height="32"
                    >
                      <g fill="none" fill-rule="evenodd">
                        <path
                          stroke="#509ee3"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1.5"
                          d="M23.966 16v-3.034a7.966 7.966 0 1 0-15.932 0V16L5 22.448h22L23.966 16Zm-12.518 7.207S11.448 27 16 27s4.552-3.793 4.552-3.793"
                        ></path>
                        <path d="M0 0h32v32H0z"></path>
                      </g>
                    </svg>
                    Alerts
                  </h6>
                  <h4>Put the most valuable data in front of people</h4>
                  <div>
                    <p>
                      Schedule reports to send without anyone (even outside of
                      your org) via Slack or email. Make data actionable in
                      real-time by triggering alerts in Slack, email, and HTTP.
                    </p>
                  </div>
                </div>
              </div>
              <div>
                <img
                  src="/images/product/business-intelligence/avoid-repeated-requests-1.png"
                  alt="Avoid repeated requests 1"
                  class="show"
                />
                <img
                  src="/images/product/business-intelligence/avoid-repeated-requests-2.png"
                  alt="Avoid repeated requests 2"
                />
                <img
                  src="/images/product/business-intelligence/avoid-repeated-requests-3.png"
                  alt="Avoid repeated requests 3"
                />
                <img
                  src="/images/product/business-intelligence/avoid-repeated-requests-4.png"
                  alt="Avoid repeated requests 4"
                />
                <img
                  src="/images/product/business-intelligence/avoid-repeated-requests-5.png"
                  alt="Avoid repeated requests 5"
                />
              </div>
            </div>
          </div>

          <div class="desktop spacer">
            <div
              class="full-width-centered before-feature-container-carousel mobile"
            >
              <h3>Avoid repeated requests with reports anyone can run</h3>
              <p>
                Let people dive deeper into data on their own without the
                hand-holding.
              </p>
            </div>

            <div class="feature-container flex-row-reverse mobile">
              <div>
                <h6>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M14.6667 22.9999C19.2691 22.9999 23 19.269 23 14.6666C23 10.0642 19.2691 6.33325 14.6667 6.33325C10.0643 6.33325 6.33337 10.0642 6.33337 14.6666C6.33337 19.269 10.0643 22.9999 14.6667 22.9999Z"
                      stroke="#509ee3"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M20.6666 20.6667L25.6666 25.6667"
                      stroke="#509ee3"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M14.6666 11.6667V17.6667"
                      stroke="#509ee3"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M17.6666 14.6667H11.6666"
                      stroke="#509ee3"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                  Drill-through
                </h6>
                <h4>Click to group, filter, and drill into data</h4>
                <p>
                  Clickable drillthrough menus preempt questions people might
                  have on charts like “Can we see this broken down by plan
                  tier?” or “What about just the users from last month?” and
                  dive deeper without forming a new query. And they’re made for
                  you.
                </p>
              </div>
              <div>
                <img
                  src="/images/product/business-intelligence/avoid-repeated-requests-1.png"
                  alt="Avoid repeated requests 1"
                />
              </div>
            </div>

            <div class="feature-container flex-row-reverse mobile">
              <div>
                <h6>
                  <svg
                    width="24"
                    height="24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                      d="M4.75 5.75a1 1 0 0 1 1-1h12.5a1 1 0 0 1 1 1v3.5a1 1 0 0 1-1 1H5.75a1 1 0 0 1-1-1v-3.5ZM4.75 14.75a1 1 0 0 1 1-1h12.5a1 1 0 0 1 1 1v3.5a1 1 0 0 1-1 1H5.75a1 1 0 0 1-1-1v-3.5ZM16.25 5v5M16.25 14v5"
                      stroke="#509EE3"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  >

                  Query builder
                </h6>
                <h4>Run queries and reports without SQL</h4>
                <p>
                  The visual query builder makes asking questions intuitive.
                  Template recurring questions and calculations with models and
                  metrics.
                </p>
              </div>
              <div>
                <img
                  src="/images/product/business-intelligence/avoid-repeated-requests-2.png"
                  alt="Avoid repeated requests 2"
                />
              </div>
            </div>

            <div class="feature-container flex-row-reverse mobile">
              <div>
                <h6>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    fill="none"
                  >
                    <path
                      stroke="#509ee3"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5"
                      d="M7.667 25.667h16.666c.737 0
  1.334-.597 1.334-1.334V7.668c0-.737-.597-1.334-1.334-1.334H7.667c-.737
  0-1.334.597-1.334 1.334v16.667c0 .736.597 1.333 1.334 1.333ZM25.667
  12.333H7M25.667 19.667H7"
                    ></path>
                  </svg>
                  SQL editor
                </h6>
                <h4>Do more complex stuff in SQL</h4>
                <p>
                  Let your team self-serve analytics in the query builder. You
                  can still take care of more advanced analysis with the SQL
                  editor.
                </p>
              </div>
              <div>
                <img
                  src="/images/product/business-intelligence/avoid-repeated-requests-3.png"
                  alt="Avoid repeated requests 3"
                />
              </div>
            </div>

            <div class="feature-container flex-row-reverse mobile">
              <div>
                <h6>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                  >
                    <g fill="none" fill-rule="evenodd">
                      <path
                        stroke="#509ee3"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="m16 7 9 5.276-9 5.276-9-5.276z"></path>
                      <path
                        stroke="#509EE3"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M12.586 16 7 19.724 16 25l9-5.276L19.317 16"></path>
                      <path d="M0 0h32v32H0z"></path>
                    </g>
                  </svg>
                  Collections and verified items
                </h6>
                <h4>Make content trustworthy and easy to find</h4>
                <p>
                  Mark dashboards, models, metrics, and questions as official.
                  Keep content organized and easy to find in collections.
                </p>
              </div>
              <div>
                <img
                  src="/images/product/business-intelligence/avoid-repeated-requests-4.png"
                  alt="Avoid repeated requests 4"
                />
              </div>
            </div>

            <div class="feature-container flex-row-reverse mobile">
              <div>
                <h6>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                  >
                    <g fill="none" fill-rule="evenodd">
                      <path
                        stroke="#509ee3"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        d="M23.966 16v-3.034a7.966 7.966 0 1 0-15.932 0V16L5 22.448h22L23.966 16Zm-12.518 7.207S11.448 27 16 27s4.552-3.793 4.552-3.793"
                      ></path>
                      <path d="M0 0h32v32H0z"></path>
                    </g>
                  </svg>
                  Alerts
                </h6>
                <h4>Put the most valuable data in front of people</h4>
                <p>
                  Schedule reports to send without anyone (even outside of your
                  org) via Slack or email. Make data actionable in real-time by
                  triggering alerts in Slack, email, and HTTP.
                </p>
              </div>
              <div>
                <img
                  src="/images/product/business-intelligence/avoid-repeated-requests-5.png"
                  alt="Avoid repeated requests 5"
                />
              </div>
            </div>

            <div class="testimonial peer-richelsen-testimonial">
              <p>
                Thanks to Metabase I don’t need to ask an engineer to get me
                some special data from our customer database, I can make that
                query on my own and help out the customer in minutes vs hours or
                days.
              </p>
              <img
                src="/images/product/business-intelligence/peer-richelsen.png"
                alt="Photo of Peer Richelsen"
                width="84px"
                loading="lazy"
              />
              <p class="author">Peer Richelsen</p>
              <p class="company">Co-founder, Cal.com</p>
            </div>

            <div class="feature-container">
              <div>
                <h2>Make sure people only see what they need to</h2>
                <p>
                  Granular permissions to keep people safe from accidentally
                  seeing (or breaking) something they shouldn’t, or blasting raw
                  user PII into a company all-hands deck.
                </p>
                <ul class="checklist-outline">
                  <li>
                    <b>Limit access at the table, row or column level</b><br />
                    Lock down sensitive tables, fields, and columns while lettings
                    folks use the rest of the data.
                    <p></p>
                  </li>

                  <li>
                    <b>Manage role-based permissions with SSO</b><br />
                    Set role-based visibility and permissions (e.g. marketing sees
                    X, support sees Y) with separate view and edit access.
                  </li>
                  <li>
                    <b>Keep track of who’s doing what, when</b><br />
                    You can even set alerts to monitor access and downloads on your
                    usage analytics.
                  </li>
                </ul>
              </div>
              <div>
                <video
                  class="vjs-player pause-observer lazy"
                  id="make_sure_people_only_see_what_they_need_to"
                  poster="/images/product/business-intelligence/permissions2.gif"
                >
                  <source
                    src="/images/product/business-intelligence/permissions2.mp4"
                    type="video/mp4"
                  />
                  <source
                    src="/images/product/business-intelligence/permissions2.webm"
                    type="video/webm"
                  />
                  <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider
                    upgrading to a web browser that
                    <a
                      href="https://videojs.com/html5-video-support/"
                      target="_blank">supports HTML5 video</a
                    >
                  </p>
                </video>
              </div>
            </div>

            <div class="testimonial">
              <p>
                Advanced permissions and row filtering are essential features
                for us! They enable us to effortlessly create scalable
                dashboards that display only the information that a user is
                authorized to view. Metabase has become an essential tool in our
                workflow.
              </p>
              <img
                src="/images/profiles/arthur-benhamou.png"
                srcset="/images/profiles/arthur-benhamou.png 1x"
                alt="Photo of Arthur Benhamou"
                width="84px"
                loading="lazy"
              />
              <p class="author">Arthur Benhamou</p>
              <p class="company">Chief Operations Officer, Comptoir de L’or</p>
            </div>

            <div class="full-width-centered works_with_your_stack">
              <h3>
                Works with your stack for live visualizations and reports, not
                extracts
              </h3>
              <p>
                Metabase is a visualization and querying layer that sits on top
                of your database. Your data stays in your database—Metabase
                doesn’t ingest it, store it, or do refreshes. Connects with over
                <a href="/data-sources/">20 data sources</a> and plays well with
                whatever’s in your stack.
              </p>

              <img
                src="/images/product/business-intelligence/works-with-your-stack.svg"
                alt="Works with your stack"
              />

              <a
                href="/learn/metabase-basics/administration/administration-and-operation/metabase-and-your-db"
                >Learn more about how Metabase works with your database
                <img
                  alt="Chevron Blue Right"
                  class="chevron-blue-right"
                  src="/images/chevron_blue_right.svg"
                /></a
              >
            </div>

            <div class="testimonial">
              <p>
                Metabase is an amazing tool for startups that want 90/10
                solutions to data analytics at a cost effective price. It
                continues to be the most effective way for us to build reporting
                efficiently.
              </p>
              <img
                src="/images/profiles/derrick-mar.png"
                alt="Photo of Derrick Mar"
                width="84px"
                loading="lazy"
              />
              <p class="author">Derrick Mar</p>
              <p class="company">CTO, Pathrise</p>
            </div>
          </div>
        </div>

        <div class="try-metabase-footer">
          <div class="full-width-centered">
            <h3>Ready to get started?</h3>
            <p>
              Visualize your data in minutes. Let non-technical teammates
              explore data and share interactive dashboards people love.
            </p>
            <div class="d-flex">
              <a
                id="get-started-btn-home"
                class="fs-13 Button btn btn-primary rounded-3"
                href="https://store.metabase.com/checkout"
              >
                Try Metabase Cloud free
              </a>
              <a
                id="get-started-btn-home"
                class="fs-13 Button btn btn-primary btn-outline-blue rounded-3"
                href="/start/oss/"
              >
                Deploy Metabase Open Source
              </a>
            </div>
            <div class="embedding-page__selling-points">
              <span>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.75 12C4.75 7.99594 7.99594 4.75 12 4.75C16.0041 4.75 19.25 7.99594
  19.25 12C19.25 16.0041 16.0041 19.25 12 19.25C7.99594 19.25 4.75 16.0041 4.75
  12Z"
                    stroke="#8d93a5"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M9.75 12.75L10.1837
  13.6744C10.5275 14.407 11.5536 14.4492 11.9564 13.7473L14.25 9.75"
                    stroke="#8d93a5"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
                Free 14-day trial
              </span>
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                >
                  <path
                    stroke="#8d93a5"
                    stroke-width="1.5"
                    d="M12 19.25a7.25 7.25 0 1 0 0-14.5 7.25 7.25 0 0 0 0 14.5Z"
                  ></path>
                  <path stroke="#8d93a5" stroke-width="1.5" d="M12
  8v4l2 2"
                  ></path>
                </svg>
                Super fast setup
              </span>
              <span>
                <svg
                  id=""
                  class=""
                  width="20"
                  height="20"
                  viewBox="0 0 26 26"
                  fill="#8d93a5"
                >
                  <path
                    d="M12.7888232,0 C5.72701843,0 0,5.72623326 0,12.7903935 C0,18.4412506 3.664381,23.2347038 8.74677616,24.9259565 C9.38668842,25.0437318 9.61988344,24.6487921 9.61988344,24.3095993 C9.61988344,24.0065243 9.60889108,23.2017267 9.60260973,22.1346828 C6.04501164,22.9072885 5.29439063,20.419875 5.29439063,20.419875 C4.71258083,18.942188 3.87402097,18.5488187 3.87402097,18.5488187 C2.71275688,17.7557986 3.96195983,17.7715019 3.96195983,17.7715019 C5.24571019,17.8617963 5.92095503,19.0897997 5.92095503,19.0897997 C7.06180474,21.0440839 8.9148022,20.4795478 9.64343849,20.1521326 C9.75964341,19.3261354 10.0901993,18.7623845 10.4553026,18.4428209 C7.61534847,18.1201167 4.62935298,17.0224513 4.62935298,12.12143 C4.62935298,10.7254006 5.12793493,9.58298052 5.94608042,8.68945886 C5.81417212,8.36596947 5.37526298,7.06494541 6.07170736,5.30459782 C6.07170736,5.30459782 7.14503259,4.96069405 9.5884767,6.61582907 C10.6084105,6.33159811 11.7029352,6.19026779 12.7903935,6.18477161 C13.8770666,6.19026779 14.9708062,6.33159811 15.9923103,6.61582907 C18.4341841,4.96069405 19.505939,5.30459782 19.505939,5.30459782 C20.2039537,7.06494541 19.7650445,8.36596947 19.6339214,8.68945886 C20.4536372,9.58298052 20.9482933,10.7254006 20.9482933,12.12143 C20.9482933,17.035014 17.9575868,18.1161909 15.1089958,18.4326137 C15.5675342,18.8275535 15.9766069,19.6080109 15.9766069,20.8014669 C15.9766069,22.5107785 15.9609036,23.8903194 15.9609036,24.3095993 C15.9609036,24.6519328 16.1917431,25.0500132 16.8402922,24.9251714 C21.9187615,23.2299928 25.5800018,18.4396803 25.5800018,12.7903935 C25.5800018,5.72623326 19.8529834,0 12.7888232,0"
                  >
                  </path>
                </svg>
                41k stars
              </span>
            </div>

            <img
              src="/images/product/business-intelligence/slanted-screenshot.png"
              alt="Application screenshot"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
