---
import Base from "../../layouts/Base.astro";
const title = "Work with data from your CSV files | Metabase";
const description =
  "Analyze CSV data with Metabase’s query builder. It’s simple enough for anyone on the team to use—no SQL or data expertise needed.";
const seo = {
  title: "Work with data from your CSV files | Metabase",
  description:
    "Analyze CSV data with Metabase’s query builder. It’s simple enough for anyone on the team to use—no SQL or data expertise needed.",
  canonical: "/product/csv-uploads",
  og: {
    title: "Work with data from your CSV files | Metabase",
    description:
      "Analyze CSV data with Metabase’s query builder. It’s simple enough for anyone on the team to use—no SQL or data expertise needed.",
    image: "https://www.metabase.com/images/product/csv-uploads-ogg.jpg",
    url: "https://www.metabase.com/product/csv-uploads",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Work with data from your CSV files | Metabase",
    description:
      "Analyze CSV data with Metabase’s query builder. It’s simple enough for anyone on the team to use—no SQL or data expertise needed.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/product/csv-uploads-ogg.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <div class="responsive-page">
        <div class="product-intro hero-neutral-background">
          <div class="container">
            <div class="feature-container upload-and-analyze-spreadsheets">
              <div>
                <div class="feature-title">
                  <img
                    src="/images/icons/badges/upload-promo.svg"
                    alt="Upload and analyze spreadsheets"
                  />
                  CSV Upload
                </div>
                <h1>Upload and analyze your spreadsheets in Metabase</h1>
                <p>
                  Start using Metabase - without even having a database. Analyze
                  and visualize data stored in CSVs in Metabase. Simple enough
                  for anyone in the team to use and self-serve in-depth
                  analytics, without a data expert.
                </p>
                <div class="d-flex gap-4">
                  <a
                    id="get-started-btn-home"
                    class="Button btn btn-primary rounded-3"
                    href="https://store.metabase.com/checkout?dwh=1"
                    >Get started</a
                  >
                  <a
                    class="fs-13 Button btn btn-outline-blue rounded-3"
                    href="/talk-to-a-person/">Contact us</a
                  >
                </div>
              </div>

              <div class="position-relative">
                <video
                  class="vjs-player pause-observer lazy"
                  id="manage-people-video"
                  poster="/images/product/csv-uploads/csv-uploads.gif"
                >
                  <source
                    src="/images/product/csv-uploads/csv-uploads.mp4"
                    type="video/mp4"
                  />
                  <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider
                    upgrading to a web browser that
                    <a
                      href="https://videojs.com/html5-video-support/"
                      target="_blank">supports HTML5 video</a
                    >
                  </p>
                </video>
              </div>
            </div>

            <div class="full-width-centered csv-upload-makes-it-easy">
              <h3>
                Add data into Metabase even if you don’t have a data stack yet
              </h3>
              <p>
                <img
                  alt="Curved Arrow"
                  src="/images/icons/curved-arrow.svg"
                  class="curved-arrow"
                /> Here are a few examples
              </p>
            </div>

            <div class="cards-container small-margin-top">
              <div class="card no-icon">
                <h4>For marketers</h4>
                <p>
                  Measure the impact of onboarding campaigns by uploading CSV
                  data from your email tool analyzing it in Metabase.
                </p>
              </div>

              <div class="card no-icon">
                <h4>For customer success leaders</h4>
                <p>
                  Filter and pull threads in your NPS survey data by plugging it
                  into Metabase for better insights on your customers.
                </p>
              </div>

              <div class="card no-icon">
                <h4>For product managers</h4>
                <p>
                  Bring your product analytics into Metabase, even if you don’t
                  have a proper ETL or database setup for the source yet.
                </p>
              </div>
            </div>

            <div class="full-width-centered how-to-analyze-csvs">
              <h3>How to analyze CSVs in Metabase</h3>

              <div class="numbered-text">
                <div>
                  <div>1</div>
                  <div>
                    <p>
                      Already using Metabase? Make sure CSV uploads work with
                      your connected database. <a
                        href="/docs/latest/databases/uploads#databases-that-support-uploads"
                        >Check the docs</a
                      > to see which databases are supported.
                    </p>

                    <p>
                      No database? No problem. Try Metabase with built-in
                      storage to upload and analyze CSVs without hooking up a
                      database. <a
                        href="https://store.metabase.com/checkout?dwh=1"
                        >Start a free trial</a
                      > and you’re good to go.
                    </p>
                  </div>
                </div>
                <div>
                  <div>2</div>
                  <div>
                    Have your CSV data available to upload and ready to analyze.
                    If you have a Google or Excel spreadsheet, go to File &gt;
                    Download (.csv).
                  </div>
                </div>
                <div>
                  <div>3</div>
                  <div>
                    In Metabase, navigate to the Collection you want to add your
                    CSV to.
                  </div>
                </div>
                <div>
                  <div>4</div>
                  <div>
                    Upload your CSV into the Collection by clicking <svg
                      width="34"
                      height="34"
                      viewBox="0 0 34 34"
                      fill="currentcolor"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                      <path
                        d="M17.9212 4C13.4212 4 9.58341 7.1279 8.82185 11.3473C4.52316 11.5733 1 14.9877 1 19.3056C1 22.1628 2.5575 24.6406 4.84602 26.0392C5.57726 26.4861 6.53233 26.2554 6.97923 25.5243C7.4261 24.7931 7.19558 23.8381 6.46432 23.3912C5.0201 22.5086 4.10345 20.993 4.10345 19.3056C4.10345 16.685 6.35041 14.4389 9.27586 14.4389C9.53171 14.4389 9.78236 14.4563 10.0268 14.4896C10.472 14.5505 10.9218 14.4152 11.2597 14.119C11.5976 13.8227 11.7905 13.3945 11.7885 12.9451L11.7882 12.884C11.79 9.75834 14.4664 7.10345 17.9212 7.10345C21.3772 7.10345 24.0543 9.76015 24.0543 12.8871C24.0543 13.9287 23.7634 14.9048 23.2505 15.751C22.9592 16.2317 22.9505 16.8324 23.2281 17.3213C23.5056 17.8102 24.0257 18.1108 24.5879 18.107L24.6499 18.1066C26.512 18.109 27.8966 19.533 27.8966 21.1395C27.8966 22.3898 27.0719 23.5163 25.8177 23.9694C25.0116 24.2606 24.5943 25.15 24.8854 25.9561C25.1765 26.7619 26.0659 27.1794 26.872 26.8883C29.2453 26.031 31 23.811 31 21.1395C31 18.4359 29.217 16.2073 26.7936 15.3648C27.0305 14.5784 27.1577 13.7469 27.1577 12.8871C27.1577 7.91167 22.9536 4 17.9212 4ZM22.1413 19.8573C22.8106 20.3926 22.919 21.3692 22.3836 22.0383C21.8483 22.7076 20.8718 22.816 20.2027 22.2808L17.5517 20.1599V26.2414C17.5517 27.0983 16.857 27.7931 16 27.7931C15.143 27.7931 14.4483 27.0983 14.4483 26.2414V20.1592L11.7965 22.2808C11.1273 22.816 10.1508 22.7076 9.61544 22.0383C9.08008 21.3692 9.1886 20.3926 9.85778 19.8573L15.0302 15.7193C15.5969 15.266 16.4022 15.266 16.9689 15.7193L22.1413 19.8573Z"
                      ></path>
                    </svg>
                    or dragging the file directly into the Collection you want to
                    add it to.
                  </div>
                </div>
                <div>
                  <div>5</div>
                  <div>
                    Once your upload finishes, Metabase will create a <a
                      href="/docs/latest/data-modeling/models">model</a
                    > for that CSV data, as well as a table in the schema your admin
                    has designated to store uploads. Now you’re ready to start querying,
                    applying x-rays, building dashboards, and more.
                  </div>
                </div>
                <div>
                  <div>6</div>
                  <div>
                    Keep the model up to date as the data evolves. Upload new
                    rows to the CSV-created model by clicking in the collection
                    view, and selecting ‘Append data to a model’.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="try-metabase-footer">
          <div class="full-width-centered">
            <h3>Try Metabase with an attached database for 14 days free</h3>
            <p>
              Upload your CSVs straight into Metabase. Start making sense of
              your data on your own, even if you don’t have a database or a data
              team.
            </p>
            <div class="d-flex">
              <a
                id="get-started-btn-home"
                class="fs-13 Button btn btn-primary rounded-3 ms-lg-2"
                href="https://store.metabase.com/checkout?dwh=1"
              >
                Get started
              </a>
              <a
                id="get-started-btn-home"
                class="fs-13 Button btn btn-primary rounded-3 ms-lg-2 btn-outline-blue"
                href="/talk-to-a-person/"
              >
                Contact us
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
