---
import Base from "../../layouts/Base.astro";
const title = "Embedded Analytics SDK for React | Metabase";
const description =
  "The React toolkit for building bespoke interactive analytics that blends into your app without reinventing the wheel";
const seo = {
  title: "Embedded Analytics SDK for React | Metabase",
  description:
    "The React toolkit for building bespoke interactive analytics that blends into your app without reinventing the wheel",
  canonical: "/product/embedded-analytics-sdk",
  og: {
    title: "Embedded Analytics SDK for React | Metabase",
    description:
      "The React toolkit for building bespoke interactive analytics that blends into your app without reinventing the wheel",
    image: "https://www.metabase.com/images/opengraph/sdk-react-og.png",
    url: "https://www.metabase.com/product/embedded-analytics-sdk",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Embedded Analytics SDK for React | Metabase",
    description:
      "The React toolkit for building bespoke interactive analytics that blends into your app without reinventing the wheel",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/opengraph/sdk-react-og.png",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <div class="responsive-page embedding-page embedded-analytics-sdk-page">
        <div class="hero-container">
          <div class="hero">
            <h6>Embedded analytics SDK for React</h6>
            <h1 class="fw-bold mb-5 text-center h3">
              Build custom in-app analytics, fast
            </h1>
            <p
              class="paragraph-4 responsive neutral-40 mb-6 text-center subtitle"
            >
              The React toolkit for in-app reporting that looks, acts, and
              smells like it’s part of your app. Get full control to prototype,
              style, and ship sophisticated analytics without complicated
              development.
            </p>
            <code class="one-liner"
              >&lt;pre data-event-category="sdk-script"
              data-event-action="script-copied"
              data-event-label="sdk-start-page"&gt;npx
              @metabase/embedding-sdk-react@latest start&lt;/pre&gt;</code
            >

            <a
              target="_blank"
              href="https://embedded-analytics-sdk-demo.metabase.com/admin/products/3"
              class="mobile play-with-live-demo"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
              >
                <path
                  stroke="#509EE3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M18.25 12 5.75 5.75v12.5L18.25 12Z"></path>
              </svg>
              Explore the live demo
            </a>
            <a href="/docs/latest/embedding/sdk/quickstart" class="quickstart"
              >Go to quickstart<svg
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="chevron"
              >
                <path
                  opacity="0.9"
                  d="M3 8.96338L16 21.9634L29 8.96338"
                  stroke="#509ee3"
                  stroke-width="5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </a>
            <div class="image-container">
              <img
                src="/images/product/embedded-analytics-sdk/hero-sdk.png"
                alt="Embedded analytics SDK for React"
              />
              <a
                target="_blank"
                href="https://embedded-analytics-sdk-demo.metabase.com/admin/products/3"
                class="desktop play-with-live-demo"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                >
                  <path
                    stroke="#509EE3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M18.25 12 5.75 5.75v12.5L18.25 12Z"></path>
                </svg>
                Explore the live demo
              </a>
            </div>

            <div class="cards-container">
              <div class="card">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  ><path
                    stroke="#509EE3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M12.003 4.75 4.753 8s-.75 11.25 7.25 11.25S19.253 8 19.253 8l-7.25-3.25Z"
                  ></path><path
                    stroke="#509EE3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="m9.75 12.75 1.25 1.5 3.25-4.5"></path></svg
                >

                <h4>Multi-tenant and secure</h4>
                <p>
                  Make sure customers only see what they need to. Your data
                  never leaves your server.
                </p>
              </div>
              <div class="card">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  ><path
                    stroke="#509ee3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="m8 15.86-3.25 2.39V5.75L8 8.14M19.25 12l-8.5-6.25v12.5l8.5-6.25Z"
                  ></path></svg
                >

                <h4>Get started in minutes</h4>
                <p>
                  Install the SDK and embed your first chart fast. Build out
                  advanced analytics as needs grow.
                </p>
              </div>
              <div class="card">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                >
                  <path
                    stroke="#509ee3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M19.25 12a7.25 7.25 0 1 1-14.5 0 7.25 7.25 0 0 1 14.5 0Z"
                  ></path>
                  <path
                    stroke="#509ee3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M15.25 12a3.25 3.25 0 1 1-6.5 0 3.25 3.25 0 0 1 6.5 0ZM7 17l2.5-2.5M17 17l-2.5-2.5M9.5 9.5 7 7M14.5 9.5 17 7"
                  ></path>
                </svg>

                <h4>Rich documentation and support</h4>
                <p>
                  Developer-first tools and expert support to keep the
                  integration process on your schedule.
                </p>
              </div>
            </div>

            <div class="trusted-by">
              Metabase is trusted by over 80,000 companies
            </div>

            <div class="logos customer-logos-container">
              <img
                src="/images/logos/Huggingface.svg"
                alt="huggingface logo"
                loading="lazy"
              />

              <img
                src="/images/logos/mcdonalds.svg"
                alt="mcdonalds logo"
                loading="lazy"
              />

              <img
                src="/images/logos/huma.svg"
                alt="huma logo"
                loading="lazy"
              />

              <img
                src="/images/logos/capital-one.svg"
                alt="capital-one logo"
                loading="lazy"
              />

              <img
                src="/images/logos/home/airbyte.svg"
                alt="airbyte logo"
                loading="lazy"
              />

              <img
                src="/images/logos/betterment.svg"
                alt="betterment logo"
                loading="lazy"
              />

              <img
                src="/images/logos/deutsche-telekom.svg"
                alt="Deutsche Telekom logo"
                loading="lazy"
              />

              <img
                src="/images/logos/kong.svg"
                alt="kong logo"
                loading="lazy"
              />
            </div>
          </div>
        </div>

        <div class="product-intro">
          <div class="container py4 mt4 mobile-top-48">
            <div class="feature-plus-headline-container">
              <div>
                <h2>Integrated with your UI</h2>
                <p>
                  Embed standalone components—from individual charts to the
                  query builder—that blend into your product. Pixel-perfect
                  placement with no fixed width or height for responsive
                  designs. Override menus, rearrange fields, move buttons, and
                  lay out components to fit your UI.
                </p>
              </div>
              <div class="feature-container">
                <div
                  class="integrate-with-ui-illustration bleed-image-to-right"
                >
                  <img
                    alt="Integrate With Ui 1"
                    class="no-shadow"
                    src="/images/product/embedded-analytics-sdk/integrate-with-ui-1.png"
                    style="margin: 0 -20px -60px 0"
                    loading="lazy"
                  />
                </div>
                <div class="language-javascript">
                  <div class="highlight">
                    <pre
                      class="highlight">        &lt;code class="language-javascript do-not-display-copy-button"&gt;
import &amp;#123;
  MetabaseProvider,
  InteractiveQuestion,
  defineEmbeddingSdkConfig
&amp;#125; from "@metabase/embedding-sdk-react";

const config = defineEmbeddingSdkConfig(&amp;#123;
  metabaseInstanceUrl: "https://metabase.example.com", // Required: Your Metabase instance URL
  authProviderUri: "https://app.example.com/sso/metabase", // Required: An endpoint in your app that signs the user in and returns a session
&amp;#125;);

&lt;MetabaseProvider config=&amp;#123;config&amp;#125;&gt;
  &lt;InteractiveQuestion
    questionId=&amp;#123;questionId&amp;#125;
    isSaveEnabled=&amp;#123;false&amp;#125;
    withResetButton=&amp;#123;true&amp;#125;
    customTitle="Orders over time"
  /&gt;
&lt;/MetabaseProvider&gt;
        &lt;/code&gt;
      </pre>
                  </div>
                </div>
              </div>
            </div>

            <div class="feature-plus-headline-container">
              <div>
                <h2>Dynamic theming</h2>
                <p>
                  Style each component to match your app’s look and feel.
                  Customize fonts, background colors, tooltips, shading, and
                  more. Apply different styles per organization, team, or even
                  per user.
                </p>
              </div>
              <div
                class="swiper mySwiper swiper-initialized swiper-horizontal swiper-backface-hidden"
              >
                <div
                  class="swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"
                >
                  <div
                    class="swiper-button-prev swiper-button-disabled"
                    tabindex="-1"
                    role="button"
                    aria-label="Previous slide"
                    aria-controls="swiper-wrapper-385ee147e55c1405"
                    aria-disabled="true"
                  >
                  </div>
                  <span class="swiper-pagination-bullet active"></span>
                  <span class="swiper-pagination-bullet"></span>
                  <span class="swiper-pagination-bullet"></span>
                  <div
                    class="swiper-button-next"
                    tabindex="0"
                    role="button"
                    aria-label="Next slide"
                    aria-disabled="false"
                  >
                  </div>
                </div>
              </div>

              <div class="feature-container">
                <div
                  class="integrate-with-ui-illustration bleed-image-to-right-and-bottom"
                >
                  <img
                    alt="Dynamic Theming 1"
                    class="show"
                    src="/images/product/embedded-analytics-sdk/dynamic-theming-1.png"
                    loading="lazy"
                  />
                  <img
                    alt="Dynamic Theming 2"
                    src="/images/product/embedded-analytics-sdk/dynamic-theming-2.png"
                    loading="lazy"
                  />
                  <img
                    alt="Dynamic Theming 3"
                    src="/images/product/embedded-analytics-sdk/dynamic-theming-3.png"
                    loading="lazy"
                  />
                </div>
                <div class="language-javascript">
                  <div class="highlight">
                    <pre
                      class="highlight">        &lt;code class="language-javascript do-not-display-copy-button"&gt;
const metabase: MetabaseTheme = &amp;#123;
  fontFamily: "Inter",
  fontSize: "14px",
  colors: &amp;#123;
    brand: colors.primary,
    "brand-hover": colors.darkGrey,
    "brand-hover-light": colors.darkGrey,
    filter: colors.filter,
    "text-primary": colors.lighterGrey,
    "text-secondary": colors.lighterGrey,
    "text-tertiary": colors.lighterGrey,
    border: colors.darkGrey,
    background: colors.background,
    "background-secondary": colors.darkGrey,
    "background-hover": colors.background,
    "background-disabled": colors.darkGrey,
    charts: [
      colors.primary,
      colors.filter,
      "#ED6A5A",
      "#FED18C",
      "#82A74B",
      "#FF8D69",
      "#ED6A5A",
      "#FED18C",
    ],
    positive: "#45DF4C",
    negative: "#FF3389",
  &amp;#125;,
  components: &amp;#123;
    cartesian: &amp;#123;
      padding: "6px 16px",
    &amp;#125;,
    dashboard: &amp;#123;
      card: &amp;#123;
        border: `"1px solid $&amp;#123;colors.darkGrey&amp;#125;"`,
        backgroundColor: "#212426",
      &amp;#125;,
    &amp;#125;,
    number: &amp;#123;
      value: &amp;#123;
        fontSize: "18px",
        lineHeight: "22px",
      &amp;#125;,
    &amp;#125;,
    popover: &amp;#123;
      zIndex: 201,
    &amp;#125;,
  &amp;#125;,
&amp;#125;;
        &lt;/code&gt;
      </pre>
                  </div>
                  <div class="highlight">
                    <pre
                      class="highlight">        &lt;code class="language-javascript do-not-display-copy-button"&gt;
const metabase: MetabaseTheme = &amp;#123;
  fontFamily: "Arsenal",
  fontSize: "14px",
  colors: &amp;#123;
    brand: colors.primary,
    "brand-hover": "#fff",
    "brand-hover-light": "#fff",
    filter: colors.viz1,
    summarize: "#BE54C0",
    "text-primary": colors.green3,
    "text-secondary": colors.green3,
    "text-tertiary": colors.green3,
    border: colors.green1,
    background: colors.background,
    "background-secondary": colors.background,
    "background-hover": colors.background,
    "background-disabled": colors.green2,
    charts: [
      colors.viz1,
      "#E09862",
      "#BE54C0",
      "#DDA51F",
      "#B34332",
      "#4998E3",
      "#BE54C0",
      "#DDA51F",
    ],
    positive: colors.green3,
    negative: "#B34332",
    shadow: "rgba(0, 0, 0, 0.1)",
  &amp;#125;,
  components: &amp;#123;
    cartesian: &amp;#123;
      padding: "6px 16px",
    &amp;#125;,
    dashboard: &amp;#123;
      backgroundColor: "transparent",
    &amp;#125;,
    number: &amp;#123;
      value: &amp;#123;
        fontSize: "36px",
        lineHeight: "36px",
      &amp;#125;,
    &amp;#125;,
    popover: &amp;#123;
      zIndex: 201,
    &amp;#125;,
  &amp;#125;,
&amp;#125;;
        &lt;/code&gt;
      </pre>
                  </div>
                  <div class="highlight">
                    <pre
                      class="highlight">        &lt;code class="language-javascript do-not-display-copy-button"&gt;
const metabase: MetabaseTheme = &amp;#123;
  fontFamily: "DM Mono",
  fontSize: "14px",
  colors: &amp;#123;
    brand: colors.primary,
    filter: colors.secondary,
    "text-primary": colors.darkGrey,
    "text-secondary": colors.lightGrey,
    "text-tertiary": colors.lightGrey,
    border: "#3B3F3F",
    background: colors.background,
    "background-hover": "#FCFAF1",
    "background-disabled": colors.lighterGrey,
    charts: [
      colors.primary,
      colors.negative,
      "#ECB405",
      "#BD37C9",
      colors.positive,
      "#545455",
      colors.primary,
      colors.negative,
    ],
    positive: colors.positive,
    negative: colors.negative,
  &amp;#125;,
  components: &amp;#123;
    cartesian: &amp;#123;
      padding: "6px 16px",
    &amp;#125;,
    dashboard: &amp;#123;
      card: &amp;#123;
        border: "1px solid var(--mantine-color-gray-3)",
      &amp;#125;,
    &amp;#125;,
    number: &amp;#123;
      value: &amp;#123;
        fontSize: "24px",
        lineHeight: "30px",
      &amp;#125;,
    &amp;#125;,
    popover: &amp;#123;
      zIndex: 201,
    &amp;#125;,
  &amp;#125;,
&amp;#125;;
        &lt;/code&gt;
      </pre>
                  </div>
                </div>
              </div>
            </div>

            <div class="feature-plus-headline-container">
              <div>
                <h2>Manage what people can see and do per component</h2>
                <p>
                  Define permissions and interactive tools for data discovery at
                  scale. Give some people read-only access. Some drill-through
                  on charts without saving. Others get an all access pass to
                  create, modify, and save questions, create dashboards and
                  more.
                </p>
              </div>
              <div class="feature-container">
                <div class="integrate-with-ui-illustration has-buttons">
                  <img
                    alt="Manage What People Can See 1"
                    src="/images/product/embedded-analytics-sdk/manage-what-people-can-see-1.png"
                    loading="lazy"
                  />
                  <img
                    alt="Manage What People Can See 2"
                    src="/images/product/embedded-analytics-sdk/manage-what-people-can-see-2.png"
                    loading="lazy"
                  />
                  <div class="buttons docs-learn-toggler">
                    <div class="hover-highlight"></div>
                    <a href="#" class="active">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M19.25 12C19.25 13 17.5 18.25 12 18.25C6.5 18.25 4.75 13 4.75 12C4.75 11 6.5 5.75 12 5.75C17.5 5.75 19.25 11 19.25 12Z"
                          stroke="#509EE3"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M12 14.25C13.2426 14.25 14.25 13.2426 14.25 12C14.25 10.7574 13.2426 9.75 12 9.75C10.7574 9.75 9.75 10.7574 9.75 12C9.75 13.2426 10.7574 14.25 12 14.25Z"
                          stroke="#509EE3"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>Read-only
                    </a>
                    <a href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                      >
                        <path
                          stroke="#509EE3"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1.5"
                          d="M18.25 12 5.75 5.75v12.5L18.25 12Z"></path>
                      </svg>
                      Interactive
                    </a>
                  </div>
                </div>
                <div class="language-javascript">
                  <div class="highlight">
                    <pre
                      class="highlight">        &lt;code class="language-javascript do-not-display-copy-button"&gt;
switch(currentUser.role) &amp;#123;
  case curator: &amp;#123;
    return (
      &lt;MetabaseProvider config=&amp;#123;config&amp;#125; theme=&amp;#123;theme&amp;#125;&gt;
        &lt;InteractiveQuestion questionId=&amp;#123;questionId&amp;#125; /&gt;
      &lt;/MetabaseProvider&gt;
    );
    break;
  &amp;#125;
  default: &amp;#123;
    &lt;MetabaseProvider config=&amp;#123;config&amp;#125; theme=&amp;#123;theme&amp;#125;&gt;
      &lt;StaticQuestion questionId=&amp;#123;questionId&amp;#125; /&gt;
    &lt;/MetabaseProvider&gt;
  &amp;#125;
&amp;#125;
return &lt;GuestGreeting /&gt;;
        &lt;/code&gt;
      </pre>
                  </div>
                  <div class="highlight">
                    <pre
                      class="highlight">        &lt;code class="language-javascript do-not-display-copy-button"&gt;
switch (currentUser.role) &amp;#123;
  case (curator): &amp;#123;
    return (
      &lt;MetabaseProvider config=&amp;#123;config&amp;#125; theme=&amp;#123;theme&amp;#125;&gt;
        &lt;InteractiveQuestion questionId=&amp;#123;questionId&amp;#125; /&gt;
      &lt;/MetabaseProvider&gt;
    );
  &amp;#125;
  default: &amp;#123;
    return (
      &lt;MetabaseProvider config=&amp;#123;config&amp;#125; theme=&amp;#123;theme&amp;#125;&gt;
        &lt;StaticQuestion questionId=&amp;#123;questionId&amp;#125; /&gt;
      &lt;/MetabaseProvider&gt;
    )
  &amp;#125;
&amp;#125;

return &lt;GuestGreeting /&gt;;
        &lt;/code&gt;
      </pre>
                  </div>
                </div>
              </div>
            </div>

            <div class="feature-plus-headline-container">
              <div>
                <h2>See success stories with the SDK</h2>
                <p>
                  Real life outcomes from real customers shipping custom
                  analytics fast with the SDK.
                </p>
              </div>
              <div class="two-column-cards">
                <div>
                  <img
                    alt="Marketfuel logo"
                    src="/images/case-studies/marketfuel-logo.png"
                  />
                  <h4>One dev and 30 days: from concept to production</h4>
                  <p>
                    Marketfuel needed tightly integrated analytics that
                    maintained the brand experience in their eCommerce platform.
                    Using the Embedded Analytics SDK, they got to proof of
                    concept in under a month with a solo dev.
                  </p>
                  <p class="testimonial-content">
                    “Using Metabase has been a game-changer for us. It allows us
                    to focus on what we do best without reinventing analytics,
                    saving us time and resources.”
                  </p>
                  <p class="testimonial-author">Brian Urso</p>
                  <p class="testimonial-author-role">
                    Co-founder and CTO at Marketfuel
                  </p>
                  <a href="/case-studies/marketfuel"
                    >See how Marketfuel builds reporting into their product with
                    the SDK <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="chevron"
                    >
                      <path
                        opacity="0.9"
                        d="M3 8.96338L16 21.9634L29 8.96338"
                        stroke="#509ee3"
                        stroke-width="5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </svg>
                  </a>
                </div>

                <div>
                  <img
                    alt="Owlery logo"
                    src="/images/case_studies/owlery-logo-dark.png"
                  />
                  <h4>Cutting dashboard iteration time from days to hours</h4>
                  <p>
                    Owlery, needed a solution that would let both their team and
                    customers create and manage dashboards without constant
                    engineering involvement. The SDK gave them the flexibility
                    to integrate analytics seamlessly into their product.
                  </p>
                  <p class="testimonial-content">
                    “We’re extremely happy with our decision to use the SDK.
                    It’s given us control to build the future of our product,
                    with the best analytics experience for our customers.”
                  </p>
                  <p class="testimonial-author">Travis Downs</p>
                  <p class="testimonial-author-role">Co-founder at Owlery</p>
                  <a href="/case-studies/owlery"
                    >See how Owlery is getting to market quicker with the SDK <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="chevron"
                    >
                      <path
                        opacity="0.9"
                        d="M3 8.96338L16 21.9634L29 8.96338"
                        stroke="#509ee3"
                        stroke-width="5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>

            <div class="feature-plus-headline-container ux-by-you">
              <div>
                <h2>UX by you</h2>
                <p>
                  Customize the behaviors and flows per component, like adding
                  custom actions to menu, or overhauling the layout of the query
                  builder. There are no rules.
                </p>
              </div>
              <div class="feature-container">
                <div class="integrate-with-ui-illustration">
                  <img
                    alt="Ux by You 1"
                    src="/images/product/embedded-analytics-sdk/ux-by-you-1.png"
                    loading="lazy"
                  />
                </div>
                <div class="language-javascript">
                  <div class="highlight">
                    <pre
                      class="highlight">        &lt;code class="language-javascript do-not-display-copy-button"&gt;
&lt;MetabaseProvider
  config=&amp;#123;config&amp;#125;
  theme=&amp;#123;theme&amp;#125;
  pluginsConfig=&amp;#123;&amp;#123;
    mapQuestionClickActions: (clickActions, clicked) =&gt; &amp;#123;
      const nextClickActions = [...clickActions]

      // If we are drilling down on the user id, add a custom action to view the user profile.
      if (clicked.column?.name === "user_id") &amp;#123;
        nextClickActions.push(&amp;#123;
          buttonType: "horizontal",
          name: "view-profile",
          section: "info",
          type: "custom",
          icon: "person",
          title: "View user profile",
          onClick: (&amp;#123; closePopover &amp;#125;) =&gt; &amp;#123;
            console.log(`View Profile &gt; user_id = $&amp;#123;clicked.value&amp;#125;`)
            closePopover()
          &amp;#125;,
        &amp;#125;)
      &amp;#125;

      return nextClickActions
    &amp;#125;,
  &amp;#125;&amp;#125;
/&gt;
        &lt;/code&gt;
      </pre>
                  </div>
                </div>
              </div>
            </div>

            <section class="embedding-options">
              <h3>The right implementation type for whatever you need</h3>

              <div>
                <div>
                  <div>
                    <h6>Fast</h6>
                    <h4>Iframe embedding</h4>
                    <h5>
                      For organizations that need embedded analytics really fast
                      with little engineering overhead.
                    </h5>
                    <ul>
                      <li>
                        Charts, dashboards, and reporting in your app. Available
                        as Interactive or Static.
                      </li>
                      <li>
                        Interactive embedding lets you white-label and set
                        permissions with so customers can query, visualize, and
                        drill-down on the data.
                      </li>
                      <li>
                        Static embedding lets your users see your data in a
                        simple dashboard, but not click through into it.
                      </li>
                    </ul>
                    <a href="/embedding-demo">
                      Check out the live demo <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </a>
                  </div>
                  <img
                    src="/images/embedding/iframe-embedding.png"
                    alt="Interactive Embedding"
                    loading="lazy"
                  />
                </div>

                <div>
                  <div>
                    <h6>Custom-fit</h6>
                    <h4>Embedded analytics SDK for React</h4>
                    <h5>
                      For organizations that need bespoke in-app analytics.
                      Everything you get with iframes with more control and
                      flexibility.
                    </h5>
                    <ul>
                      <li>
                        Choose which components you embed, and where they’re
                        placed for deep integration with your app.
                      </li>
                      <li>
                        Manage permissions and interactivity per component and
                        user.
                      </li>
                      <li>
                        Granular theming for analytics that looks like part of
                        your product.
                      </li>
                    </ul>
                    <a href="/product/embedded-analytics-sdk">
                      Learn more <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </a>
                  </div>
                  <img
                    src="/images/embedding/custom-fit.png"
                    alt="Interactive Embedding"
                    loading="lazy"
                  />
                </div>
              </div>
            </section>

            <div>
              <a
                href="/events/interactive-embedding-workshop"
                class="in-page-promo"
              >
                <img
                  alt="interactive-embedding-workshop"
                  class="no-zoom"
                  src="/images/events/categories/workshops.jpg"
                  loading="lazy"
                />
                <div>
                  <p>Build a working POC in just one hour.</p>
                  <p>Join our next Interactive Embedding Workshop.</p>
                  <p class="anchor-like">
                    Register now<svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="chevron"
                    >
                      <path
                        opacity="0.9"
                        d="M3 8.96338L16 21.9634L29 8.96338"
                        stroke="#509ee3"
                        stroke-width="5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </svg>
                  </p>
                </div>
              </a>
            </div>

            <div class="faq-contact-us">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  ><path
                    stroke="#509EE3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M4.75 6.75a2 2 0 0 1 2-2h10.5a2 2 0 0 1 2 2v7.5a2 2 0 0 1-2 2h-2.625l-2.625 3-2.625-3H6.75a2 2 0 0 1-2-2v-7.5Z"
                  ></path><path
                    stroke="#509EE3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9.5 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM12.5 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM15.5 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"
                  ></path></svg
                >

                Still have questions?&nbsp;We’d be happy to help
              </div>
              <a
                class="fs-13 Button btn btn-primary rounded-3 ms-lg-2"
                href="/talk-to-a-person/"
              >
                Contact us
              </a>
            </div>
            <div class="try-metabase-footer">
              <div class="full-width-centered">
                <h3>Get a workable prototype fast</h3>
                <p>
                  If you’re ready for sophisticated, bespoke customer-facing
                  analytics that’ll keep up as you grow, try the SDK.
                </p>
                <code class="one-liner"
                  >&lt;pre data-event-category="sdk-script"
                  data-event-action="script-copied"
                  data-event-label="sdk-start-page"&gt;npx
                  @metabase/embedding-sdk-react@latest start&lt;/pre&gt;</code
                >
                <a
                  href="/docs/latest/embedding/sdk/quickstart"
                  class="quickstart"
                >
                  Go to quickstart<svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="light-blue-footer-container">
    <div class="bootstrap"></div>
  </div>
</Base>
