---
import Base from "../../layouts/Base.astro";
const title = "Onboarding professional service";
const description =
  "Get customer-facing analytics really fast and easy with hands-on help from the experts.";
const seo = {
  title: "Onboarding professional service",
  description:
    "Get customer-facing analytics really fast and easy with hands-on help from the experts.",
  canonical: "/product/onboarding-professional-service",
  og: {
    title: "Onboarding professional service",
    description:
      "Get customer-facing analytics really fast and easy with hands-on help from the experts.",
    image: "https://www.metabase.com/images/features/query-builder-og.jpg",
    url: "https://www.metabase.com/product/onboarding-professional-service",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Onboarding professional service",
    description:
      "Get customer-facing analytics really fast and easy with hands-on help from the experts.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/features/query-builder-og.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="bootstrap">
    <div class="landing-page">
      <div class="hero-container landing-page__hero-c">
        <div class="hero">
          <div class="d-flex flex-column align-items-center">
            <h1 class="fw-bold mb-5 text-center h3">
              Expert help to get customer-facing analytics done well and fast
            </h1>

            <p
              class="paragraph-4 responsive neutral-40 mb-6 text-center subtitle"
            >
              Onboarding gives you hands-on help from people who know embedding
              inside-and-out. Get your embedded analytics to proof of concept
              way quicker than figuring it out as you go.
            </p>
          </div>

          <div class="d-flex justify-content-center align-items-center gap-4">
            <a
              class="fs-13 Button btn btn-primary rounded-3 btn-primary"
              href="/talk-to-a-person/">Talk to sales</a
            >
          </div>

          <div class="cards-container">
            <div class="card">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="none"
                ><path
                  stroke="#509EE3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M8 15.25A7.25 7.25 0 1 0 8 .75a7.25 7.25 0 0 0 0 14.5Z"
                ></path><path
                  stroke="#509EE3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M10.25 4.75H7.375a1.625 1.625 0 1 0 0 3.25h1.25a1.625 1.625 0 1 1 0 3.25H5.75M8 3.75v.5M8 11.75v.5"
                ></path></svg
              >

              <h4>Your very own success engineer sidekick</h4>
              <p>
                Work 1:1 (or 1:many) with a technical expert who gets you, your
                business, and your goals.
              </p>
            </div>

            <div class="card">
              <svg
                width="14"
                height="16"
                viewBox="0 0 14 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2.75 15.25H11.25C12.3546 15.25 13.25 14.3546 13.25 13.25V5L9 0.75H2.75C1.64543 0.75 0.75 1.64543 0.75 2.75V13.25C0.75 14.3546 1.64543 15.25 2.75 15.25Z"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M13 5.25H8.75V1"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M4.75 11.25H9.25"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M4.75 8.25H9.25"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>

              <h4>Specialized implementation and training</h4>
              <p>
                We'll teach your team to fish and keep your customers fat on
                data for a lifetime after you complete onboarding.
              </p>
            </div>

            <div class="card">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.75 15.2502H5.25C5.80229 15.2502 6.25 14.8025 6.25 14.2502V1.75C6.25 1.19772 5.80229 0.75 5.25 0.75H1.75C1.19772 0.75 0.75 1.19772 0.75 1.75V14.2502C0.75 14.8025 1.19772 15.2502 1.75 15.2502Z"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M10.75 6.2502H14.25C14.8023 6.2502 15.25 5.80253 15.25 5.25025V1.75C15.25 1.19772 14.8023 0.75 14.25 0.75H10.75C10.1977 0.75 9.75 1.19772 9.75 1.75V5.25025C9.75 5.80253 10.1977 6.2502 10.75 6.2502Z"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M10.75 15.2502H14.25C14.8023 15.2502 15.25 14.8025 15.25 14.2502V10.75C15.25 10.1977 14.8023 9.75 14.25 9.75H10.75C10.1977 9.75 9.75 10.1977 9.75 10.75V14.2502C9.75 14.8025 10.1977 15.2502 10.75 15.2502Z"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>

              <h4>Less wasted time and resources</h4>
              <p>
                Peace of mind that your embedded analytics is set up properly.
                No trial and error, head scratching, or chin stroking.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="customer-list">
        <div class="d-flex flex-row justify-content-center">
          <p class="paragraph-4-5 neutral-40 my-0 mb-3 py-0">
            <b>Metabase is trusted by over 80,000 companies </b>
          </p>
        </div>

        <a href="/case-studies" class="customer-logos-container">
          <img
            src="/images/logos/Huggingface.svg"
            alt="huggingface logo"
            loading="lazy"
          />

          <img
            src="/images/logos/mcdonalds.svg"
            alt="mcdonalds logo"
            loading="lazy"
          />

          <img src="/images/logos/huma.svg" alt="huma logo" loading="lazy" />

          <img
            src="/images/logos/capital-one.svg"
            alt="capital-one logo"
            loading="lazy"
          />

          <img
            src="/images/logos/home/airbyte.svg"
            alt="airbyte logo"
            loading="lazy"
          />

          <img
            src="/images/logos/betterment.svg"
            alt="betterment logo"
            loading="lazy"
          />

          <img
            src="/images/logos/deutsche-telekom.svg"
            alt="Deutsche Telekom logo"
            loading="lazy"
          />

          <img src="/images/logos/kong.svg" alt="kong logo" loading="lazy" />
        </a>
      </div>

      <div class="feature-container container">
        <div>
          <h2>
            Let your customers start running their own reports in weeks instead
            of months
          </h2>
          <p>
            From connecting your database, to configuring permissions and
            queries, we’ll have your back start-to-finish.
          </p>

          <ul class="checklist-outline">
            <li>
              <b>Reassurance that people only see what they need to.</b> Get help
              with setting SSO and row-level security for discrete multi-tenant analytics.
            </li>

            <li>
              <b>Make it look like your brand.</b> Training and work sessions to
              add your logo, colors, and fonts to your analytics.
            </li>

            <li>
              <b>Structure your data for ease of use.</b> From database set up to
              content moderation. Ensure you customers can get the data they need
              with minimal friction.
            </li>
          </ul>
        </div>

        <div>
          <video
            class="vjs-player lazy w-100 pause-observer autoplay-video"
            autoplay=""
            muted=""
            playsinline=""
            id="drill-through"
            poster="/images/landing-pages/drill-through.gif"
          >
            <source
              src="/images/landing-pages/drill-through.mp4"
              type="video/mp4"
            />

            <p class="vjs-no-js">
              To view this video please enable JavaScript and consider upgrading
              to a web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
              >
            </p>
          </video>
        </div>
      </div>

      <div class="feature-container container">
        <div>
          <h2>
            Full-scale support and backup from people who live in Metabase by
            day
          </h2>
          <p>And dream of data by night. Here's everything you get.</p>
        </div>

        <div>
          <ul class="checklist-outline">
            <li>
              <b>±30 hours of working sessions and training.</b> From kickoff to
              proof of concept.
            </li>

            <li>
              <b>Technical implementation.</b> Help with your data source, reference
              architecture, application DB - name it, we’re on it.
            </li>

            <li>
              <b>Training for the whole team.</b> Get up to speed on Metabase concepts
              and best practices for managing your analytics.
            </li>

            <li>
              <b>Built around your schedule.</b> Customized to fit your team.
            </li>

            <li>
              <b>Additional working sessions.</b> To cover maintenance, if you need
              it.
            </li>
          </ul>
        </div>
      </div>

      <section
        class="feature-container background-color-both-sides container landing-page__feature-and-rolling-testimonial"
      >
        <div>
          <h2>Help from our world-class success team</h2>
          <p>We don't like to brag, so we'll let our customers do it for us.</p>

          <p>
            <b>With onboarding, you'll get access to:</b>
          </p>

          <ul class="checklist-outline">
            <li>
              Support from actual technical experts. We're all avid Metabase
              users, so we've been in your shoes.
            </li>

            <li>
              Help with whatever your problem is, be it admin troubleshooting or
              advice on best practices.
            </li>

            <li>
              No chatbots, no hold lines, no customer service runaround. Just
              email us, we're right here.
            </li>
          </ul>
        </div>
        <div class="client-reviews">
          <div class="review-card-container">
            <div class="flex flex-column review-card-container">
              <div class="review-card-absolute-container px-8">
                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “The expertise and engagement of the Metabase team stands in
                    stark contrast to that which we've received from Looker over
                    the past 18+ months and, in previous lives, Tableau.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/dave-holmes-kinsella.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/synctera.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Dave Holmes-Kinsella</div>
                      <div class="review-title">
                        Head of Data Science, Synctera
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “10/10. Metabase support is the best in the industry and
                    serves as a shining example of what we try to achieve for
                    our own customers.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/philip-lorenzo.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/structionsite.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Philip Lorenzo</div>
                      <div class="review-title">
                        Head of Data, StructionSite
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “Johannes is a world class support engineer. I really give
                    him 5 stars for the help he provided. All responses were
                    very fast, to the point, and helpful. I couldn't ask for
                    better support. A true expert.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/chad-remesch.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/the-lobby.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Chad Remesch</div>
                      <div class="review-title">CTO, The Lobby</div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “I got excellent and timely response to my question. Thank
                    you for the level of detail you provided, you made me feel
                    that if we migrate our installation to your cloud service,
                    we will have your support.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/michael-masouras.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/motohunt.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Michael Masouras</div>
                      <div class="review-title">CEO, Motohunt</div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “Johannes is the best! He always gives thorough responses
                    and next steps that help us manage expectations with our end
                    users.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/meghan-maloy.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/datadog.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Meghan Maloy</div>
                      <div class="review-title">
                        Senior Analytics Engineer, Datadog
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “I really appreciated how fast Luis was to respond, and how
                    straightforward his recommendations are. You're awesome!”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/aimee-walker.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/revenue-io.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Aimée Walker</div>
                      <div class="review-title">
                        Technical Engineer, Revenue.io
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “The response was specific on all my raised points and it
                    came back very quickly!”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/andrea-mazza.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/breeze.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Andrea Mazza</div>
                      <div class="review-title">
                        Marine Data Analyst, Breeze
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="review-card-absolute-container secondary-animation px-8"
              >
                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “The expertise and engagement of the Metabase team stands in
                    stark contrast to that which we've received from Looker over
                    the past 18+ months and, in previous lives, Tableau.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/dave-holmes-kinsella.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/synctera.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Dave Holmes-Kinsella</div>
                      <div class="review-title">
                        Head of Data Science, Synctera
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “10/10. Metabase support is the best in the industry and
                    serves as a shining example of what we try to achieve for
                    our own customers.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/philip-lorenzo.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/structionsite.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Philip Lorenzo</div>
                      <div class="review-title">
                        Head of Data, StructionSite
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “Johannes is a world class support engineer. I really give
                    him 5 stars for the help he provided. All responses were
                    very fast, to the point, and helpful. I couldn't ask for
                    better support. A true expert.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/chad-remesch.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/the-lobby.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Chad Remesch</div>
                      <div class="review-title">CTO, The Lobby</div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “I got excellent and timely response to my question. Thank
                    you for the level of detail you provided, you made me feel
                    that if we migrate our installation to your cloud service,
                    we will have your support.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/michael-masouras.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/motohunt.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Michael Masouras</div>
                      <div class="review-title">CEO, Motohunt</div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “Johannes is the best! He always gives thorough responses
                    and next steps that help us manage expectations with our end
                    users.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/meghan-maloy.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/datadog.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Meghan Maloy</div>
                      <div class="review-title">
                        Senior Analytics Engineer, Datadog
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “I really appreciated how fast Luis was to respond, and how
                    straightforward his recommendations are. You're awesome!”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/aimee-walker.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/revenue-io.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Aimée Walker</div>
                      <div class="review-title">
                        Technical Engineer, Revenue.io
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “The response was specific on all my raised points and it
                    came back very quickly!”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/andrea-mazza.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/breeze.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Andrea Mazza</div>
                      <div class="review-title">
                        Marine Data Analyst, Breeze
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="try-metabase-footer">
        <div class="full-width-centered">
          <h3>Get your Metabase set up right the first time</h3>
          <p>Without getting stuck in the weeds</p>
          <a
            id="get-started-btn-home"
            class="fs-13 Button btn btn-primary rounded-3 ms-lg-2"
            href="/talk-to-a-person/"
          >
            Talk to sales
          </a>
        </div>
      </div>

      <div class="light-blue-footer-container">
        <div class="bootstrap"></div>
      </div>
    </div>
  </div>
</Base>
