---
import Base from "../../layouts/Base.astro";
const title = "Business Analytics Tools | Metabase";
const description =
  "Business analytics tools. Metabase provides best-in-class business analytics tools that let you leverage business intelligence, interactive dashboards, and visualize data.";
const seo = {
  title: "Business Analytics Tools | Metabase",
  description:
    "Business analytics tools. Metabase provides best-in-class business analytics tools that let you leverage business intelligence, interactive dashboards, and visualize data.",
  canonical: "/product/pro",
  og: {
    title: "Business Analytics Tools | Metabase",
    description:
      "Business analytics tools. Metabase provides best-in-class business analytics tools that let you leverage business intelligence, interactive dashboards, and visualize data.",
    image: "https://www.metabase.com/images/opengraph/metabase-pro-plan.jpg",
    url: "https://www.metabase.com/product/pro",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Business Analytics Tools | Metabase",
    description:
      "Business analytics tools. Metabase provides best-in-class business analytics tools that let you leverage business intelligence, interactive dashboards, and visualize data.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/opengraph/metabase-pro-plan.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <div class="responsive-page pro-page">
        <div class="hero-container">
          <div class="hero">
            <div id="gradient-background"></div>

            <div id="cloud-cover-left"></div>

            <div id="cloud-cover-right"></div>

            <div class="d-flex flex-column align-items-center">
              <h6>Metabase Pro</h6>
              <h1 class="fw-bold mb-5 text-center h3">
                Self-service analytics<br />on your terms
              </h1>
              <p
                class="paragraph-4 responsive neutral-40 mb-6 text-center subtitle"
              >
                The simple but powerful Metabase you love, with tighter security
                and permissions, interactive embedding, and a reasonable price
                tag.
              </p>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-4">
              <a
                id="get-started-btn-home"
                class="fs-13 Button btn btn-primary rounded-3"
                href="https://store.metabase.com/checkout">Get started</a
              >
              <a
                class="fs-13 Button btn btn-outline-blue rounded-3"
                href="/talk-to-a-person/">Contact us</a
              >
            </div>

            <div class="cards-container">
              <div class="card">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  ><path
                    stroke="#509EE3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M5.782 19.25h7.436c.565 0 1.009-.468.896-1.021C13.804 16.7 12.79 14 9.5 14s-4.304 2.701-4.615 4.229c-.112.553.332 1.021.897 1.021ZM15.75 14c2.079 0 2.93 2.148 3.274 3.696.185.836-.49 1.554-1.347 1.554h-.927M9.5 10.25a2.75 2.75 0 1 0 0-5.5 2.75 2.75 0 0 0 0 5.5ZM14.75 10.25c1.519 0 2.5-1.231 2.5-2.75s-.981-2.75-2.5-2.75"
                  ></path></svg
                >

                <h4>Manage people and access with ease</h4>
                <p>
                  Avoid sensitive data being seen by someone who shouldn’t with
                  more selective permissions, down to the row and column.
                </p>
              </div>
              <div class="card">
                <svg
                  width="24"
                  height="24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    d="M4.75 5.75a1 1 0 0 1 1-1h12.5a1 1 0 0 1 1 1v3.5a1 1 0 0 1-1 1H5.75a1 1 0 0 1-1-1v-3.5ZM4.75 14.75a1 1 0 0 1 1-1h12.5a1 1 0 0 1 1 1v3.5a1 1 0 0 1-1 1H5.75a1 1 0 0 1-1-1v-3.5ZM16.25 5v5M16.25 14v5"
                    stroke="#509EE3"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path></svg
                >

                <h4>Cloud or self-hosted: it’s your choice</h4>
                <p>
                  Migrate your data, questions, and groups smoothly to <a
                    href="/cloud/">Metabase Cloud</a
                  >. Keep it close to you with hosting options in the US,
                  Europe, Latin America, or Asia-Pacific.
                </p>
              </div>
              <div class="card">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  ><path
                    stroke="#509EE3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M12.003 4.75 4.753 8s-.75 11.25 7.25 11.25S19.253 8 19.253 8l-7.25-3.25Z"
                  ></path><path
                    stroke="#509EE3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="m9.75 12.75 1.25 1.5 3.25-4.5"></path></svg
                >

                <h4>SOC2 Type II compliance from the get-go</h4>
                <p>
                  Set up for the next stage in your company’s growth. Get
                  compliant, self-serve analytics without the manual
                  box-checking.
                </p>
              </div>
            </div>

            <div class="trusted-by">
              Metabase is trusted by over 80,000 companies
            </div>

            <div class="logos customer-logos-container">
              <img
                src="/images/logos/Huggingface.svg"
                alt="huggingface logo"
                loading="lazy"
              />

              <img
                src="/images/logos/mcdonalds.svg"
                alt="mcdonalds logo"
                loading="lazy"
              />

              <img
                src="/images/logos/huma.svg"
                alt="huma logo"
                loading="lazy"
              />

              <img
                src="/images/logos/capital-one.svg"
                alt="capital-one logo"
                loading="lazy"
              />

              <img
                src="/images/logos/home/airbyte.svg"
                alt="airbyte logo"
                loading="lazy"
              />

              <img
                src="/images/logos/betterment.svg"
                alt="betterment logo"
                loading="lazy"
              />

              <img
                src="/images/logos/deutsche-telekom.svg"
                alt="Deutsche Telekom logo"
                loading="lazy"
              />

              <img
                src="/images/logos/kong.svg"
                alt="kong logo"
                loading="lazy"
              />
            </div>
          </div>
        </div>

        <div class="product-intro">
          <div class="container py4 mt4 mobile-top-48">
            <div class="feature-container">
              <div>
                <h2>Manage people and groups with Single Sign-on</h2>
                <p>
                  We can’t make onboarding, offboarding and mapping people fun…
                  but we can make it less manual and boring.<br />Choose JWT,
                  SAML, or LDAP for permissions made easy.
                </p>
                <ul class="checklist-outline">
                  <li>
                    <b>Quickly onboard dozens (even hundreds) of people,</b> with
                    pre-mapped groups and permissions.
                  </li>
                  <li>
                    <b>Fine-tune privacy</b> and automatically set permissions per
                    group.
                  </li>
                </ul>
              </div>
              <div>
                <video
                  class="vjs-player pause-observer lazy"
                  id="manage-people-video"
                  poster="/images/product/pro/manage-people.gif"
                >
                  <source
                    src="/images/product/pro/manage-people.mp4"
                    type="video/mp4"
                  />
                  <source
                    src="/images/product/pro/manage-people.webm"
                    type="video/webm"
                  />
                  <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider
                    upgrading to a web browser that
                    <a
                      href="https://videojs.com/html5-video-support/"
                      target="_blank">supports HTML5 video</a
                    >
                  </p>
                </video>
              </div>
            </div>

            <div class="feature-container flex-row-reverse">
              <div>
                <h2>
                  Set Row-level permissions so people only see data they need to
                </h2>
                <p>
                  Make privacy a priority with more control over what to show
                  and what to hide in data sandboxes.
                </p>
                <ul class="checklist-outline">
                  <li>
                    <b>Oversee what people can see and do</b> with row-, and column-level
                    permissions.
                  </li>
                  <li>
                    <b>Manage group permissions</b> manually or via SSO to filter
                    their table views.
                  </li>
                  <li>
                    <b>Block whole groups of people</b> to keep data in selected
                    databases off-limits.
                  </li>
                </ul>
              </div>
              <div>
                <video
                  class="vjs-player pause-observer lazy"
                  id="row-level-permissions-video"
                  poster="/images/product/pro/row-level-permissions.gif"
                >
                  <source
                    src="/images/product/pro/row-level-permissions.mp4"
                    type="video/mp4"
                  />
                  <source
                    src="/images/product/pro/row-level-permissions.webm"
                    type="video/webm"
                  />
                  <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider
                    upgrading to a web browser that
                    <a
                      href="https://videojs.com/html5-video-support/"
                      target="_blank">supports HTML5 video</a
                    >
                  </p>
                </video>
              </div>
            </div>

            <div class="testimonial">
              <p>
                Advanced permissions and row filtering are essential features
                for us! They enable us to effortlessly create scalable
                dashboards that display only the information that a user is
                authorized to view. Metabase has become an essential tool in our
                workflow.
              </p>
              <img
                src="/images/profiles/arthur-benhamou.png"
                srcset="/images/profiles/arthur-benhamou.png 1x"
                alt="Photo of Arthur Benhamou"
                width="84px"
                loading="lazy"
              />
              <p class="author">Arthur Benhamou</p>
              <p class="company">Chief Operations Officer, Comptoir de L’or</p>
            </div>

            <div class="feature-container">
              <div>
                <h2>Highlight moderated data</h2>
                <p>
                  Guide people towards making good decisions with your data.
                </p>
                <p>
                  (And safeguard against those decisions that aren’t so wise.)
                </p>
                <ul class="checklist-outline">
                  <li>
                    <b>Official collections.</b> Group dashboards and visualizations
                    into official collections to make them easy to return to.
                  </li>
                  <li>
                    <b>Verified questions.</b> Mark models and questions as verified
                    so everyone knows it’s been moderated by someone in the know.
                  </li>
                </ul>
              </div>
              <div>
                <img
                  src="/images/product/pro/highlight-moderated-data.png"
                  class="max-100"
                  srcset="/images/product/pro/highlight-moderated-data.png 1x"
                  alt="Highlight moderated data"
                  loading="lazy"
                />
              </div>
            </div>

            <div class="testimonial">
              <p>
                We <b>love</b> official collections - between those and models, it
                tells people, “This is where you start. And this is <b>only</b> where
                you start!”
              </p>
              <img
                src="/images/profiles/dave-holmes.png"
                srcset="/images/profiles/dave-holmes.png 1x"
                alt="Photo of Dave Holmes-Kinsella"
                width="84px"
                loading="lazy"
              />
              <p class="author">Dave Holmes-Kinsella</p>
              <p class="company">Head of Data Science, Synctera</p>
            </div>

            <div
              class="feature-container flex-row-reverse background-color-both-sides"
            >
              <div>
                <div class="feature-title">
                  <svg
                    width="34"
                    height="34"
                    viewBox="0 0 34 34"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="1"
                      y="1"
                      width="32"
                      height="32"
                      rx="16"
                      fill="white"></rect>
                    <line
                      x1="11.3496"
                      y1="1.7998"
                      x2="11.3496"
                      y2="32.1998"
                      stroke="#F1F2F4"
                      stroke-width="1.5"></line>
                    <line
                      x1="32.2002"
                      y1="11.3501"
                      x2="1.8002"
                      y2="11.3501"
                      stroke="#F1F2F4"
                      stroke-width="1.5"></line>
                    <line
                      x1="22.9502"
                      y1="1.7998"
                      x2="22.9502"
                      y2="32.1998"
                      stroke="#F1F2F4"
                      stroke-width="1.5"></line>
                    <line
                      x1="32.2002"
                      y1="22.9502"
                      x2="1.8002"
                      y2="22.9502"
                      stroke="#F1F2F4"
                      stroke-width="1.5"></line>
                    <path
                      d="M21.2002 11.1997H12.8002C11.9165 11.1997 11.2002 11.9161 11.2002 12.7997V21.1997C11.2002 22.0834 11.9165 22.7997 12.8002 22.7997H21.2002C22.0839 22.7997 22.8002 22.0834 22.8002 21.1997V12.7997C22.8002 11.9161 22.0839 11.1997 21.2002 11.1997Z"
                      stroke="#509EE3"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M14.4004 16L16.4004 17.8L14.4004 19.6"
                      stroke="#509EE3"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <rect
                      x="1"
                      y="1"
                      width="32"
                      height="32"
                      rx="16"
                      stroke="#509EE3"
                      stroke-width="2"></rect>
                  </svg>

                  Embedded Analytics
                </div>
                <h2>In-product analytics in days, not sprints</h2>
                <ul class="checklist-outline">
                  <li>
                    <b>Power your product’s reporting</b> by embedding charts, dashboards
                    or all of Metabase
                  </li>
                  <li>
                    <b>Launch faster than you can pick a charting library</b> with
                    our iframe or JWT-signed embeds.
                  </li>
                  <li>
                    <b>Scales with you.</b> Start with simple charts, embed full
                    dashboards, or use the <a
                      href="/product/embedded-analytics-sdk">React SDK</a
                    > for advanced setups as your needs grow
                  </li>
                  <li>
                    <b>Manage with zero code.</b> Empower your data team (or any
                    non-dev teammates) to manage permissions, iterate on dashboards
                    and visualizations, and refine reports—without bugging devs
                  </li>
                  <li>
                    <b>Customizable to fit your product.</b> White-labeling, dynamic
                    styling, and interactive controls from view-only to full data
                    discovery
                  </li>
                </ul>
                <a href="/product/embedded-analytics"
                  >Learn more <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  /></a
                >
              </div>
              <div>
                <video
                  class="vjs-player pause-observer lazy"
                  id="sincera-video"
                  poster="/images/home/Sincera.gif"
                >
                  <source src="/images/home/Sincera.mp4" type="video/mp4" />
                  <source src="/images/home/Sincera.webm" type="video/webm" />
                  <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider
                    upgrading to a web browser that
                    <a
                      href="https://videojs.com/html5-video-support/"
                      target="_blank">supports HTML5 video</a
                    >
                  </p>
                </video>
              </div>
            </div>

            <div class="full-width-centered">
              <h3>Your look and feel</h3>
              <p>
                Whether you need internal or customer-facing analytics — or both
                — you can <a href="/features/white-label-analytics"
                  >white label</a
                > your instance with your own brand.
              </p>
              <p class="list-header">Customize your:</p>
              <ul class="inlined-checks">
                <li>Instance name</li>
                <li>Logo and favicon</li>
                <li>Font</li>
                <li>UI and visualization colors</li>
                <li>Landing page</li>
                <li>Loading message</li>
                <li>Help links</li>
              </ul>
            </div>

            <div class="full-width-colored-box">
              <img
                src="/images/product/pro/your-look-and-feel.png"
                srcset="/images/product/pro/your-look-and-feel.png 1x"
                alt="Your Look and Feel"
                width="656px"
                loading="lazy"
              />
            </div>

            <div class="testimonial">
              <p>
                White-labeling Metabase was a perfect fit for us at Lime
                Technologies. Why? The whole essence of our CRM software is
                simplicity and efficiency. Metabase follows the same principles,
                and it makes it easy for our customers to make sense of their
                CRM data and make strategic decisions.
              </p>
              <img
                src="/images/profiles/magnus-fagerlund.png"
                srcset="/images/profiles/magnus-fagerlund.png 1x"
                alt="Photo of Magnus Fagerlund"
                width="84px"
                loading="lazy"
              />
              <p class="author">Magnus Fagerlund</p>
              <p class="company">
                Product Marketing Manager, Lime Technologies
              </p>
            </div>

            <section class="feature-container background-color-both-sides">
              <div>
                <h2>Help from our world-class success team</h2>
                <p>
                  We don't like to brag, so we'll let our customers do it for
                  us.
                </p>
                <p>
                  <b>With Pro, you'll get access to:</b>
                </p>
                <ul class="checklist-outline">
                  <li>
                    Support from actual technical experts. We're all avid
                    Metabase users, so we've been in your shoes.
                  </li>
                  <li>
                    Help with whatever your problem is, be it admin
                    troubleshooting or advice on best practices.
                  </li>
                  <li>
                    No chatbots, no hold lines, no customer service runaround.
                    Just email us, we're right here.
                  </li>
                </ul>
              </div>
              <div class="client-reviews">
                <div class="review-card-container">
                  <div class="flex flex-column review-card-container">
                    <div class="review-card-absolute-container px-8">
                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “The expertise and engagement of the Metabase team
                          stands in stark contrast to that which we've received
                          from Looker over the past 18+ months and, in previous
                          lives, Tableau.”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/dave-holmes-kinsella.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/synctera.png"
                              loading="lazy"
                            />
                          </div>
                          <div
                            class="flex flex-column justify-content-around flex-grow-1"
                          >
                            <div class="review-name">Dave Holmes-Kinsella</div>
                            <div class="review-title">
                              Head of Data Science, Synctera
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “10/10. Metabase support is the best in the industry
                          and serves as a shining example of what we try to
                          achieve for our own customers.”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/philip-lorenzo.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/structionsite.png"
                              loading="lazy"
                            />
                          </div>
                          <div
                            class="flex flex-column justify-content-around flex-grow-1"
                          >
                            <div class="review-name">Philip Lorenzo</div>
                            <div class="review-title">
                              Head of Data, StructionSite
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “Johannes is a world class support engineer. I really
                          give him 5 stars for the help he provided. All
                          responses were very fast, to the point, and helpful. I
                          couldn't ask for better support. A true expert.”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/chad-remesch.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/the-lobby.png"
                              loading="lazy"
                            />
                          </div>
                          <div
                            class="flex flex-column justify-content-around flex-grow-1"
                          >
                            <div class="review-name">Chad Remesch</div>
                            <div class="review-title">CTO, The Lobby</div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “I got excellent and timely response to my question.
                          Thank you for the level of detail you provided, you
                          made me feel that if we migrate our installation to
                          your cloud service, we will have your support.”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/michael-masouras.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/motohunt.png"
                              loading="lazy"
                            />
                          </div>
                          <div
                            class="flex flex-column justify-content-around flex-grow-1"
                          >
                            <div class="review-name">Michael Masouras</div>
                            <div class="review-title">CEO, Motohunt</div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “Johannes is the best! He always gives thorough
                          responses and next steps that help us manage
                          expectations with our end users.”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/meghan-maloy.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/datadog.png"
                              loading="lazy"
                            />
                          </div>
                          <div
                            class="flex flex-column justify-content-around flex-grow-1"
                          >
                            <div class="review-name">Meghan Maloy</div>
                            <div class="review-title">
                              Senior Analytics Engineer, Datadog
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “I really appreciated how fast Luis was to respond,
                          and how straightforward his recommendations are.
                          You're awesome!”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/aimee-walker.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/revenue-io.png"
                              loading="lazy"
                            />
                          </div>
                          <div
                            class="flex flex-column justify-content-around flex-grow-1"
                          >
                            <div class="review-name">Aimée Walker</div>
                            <div class="review-title">
                              Technical Engineer, Revenue.io
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “The response was specific on all my raised points and
                          it came back very quickly!”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/andrea-mazza.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/breeze.png"
                              loading="lazy"
                            />
                          </div>
                          <div
                            class="flex flex-column justify-content-around flex-grow-1"
                          >
                            <div class="review-name">Andrea Mazza</div>
                            <div class="review-title">
                              Marine Data Analyst, Breeze
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="review-card-absolute-container secondary-animation px-8"
                    >
                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “The expertise and engagement of the Metabase team
                          stands in stark contrast to that which we've received
                          from Looker over the past 18+ months and, in previous
                          lives, Tableau.”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/dave-holmes-kinsella.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/synctera.png"
                              loading="lazy"
                            />
                          </div>
                          <div class="flex flex-column justify-content-around">
                            <div class="review-name">Dave Holmes-Kinsella</div>
                            <div class="review-title">
                              Head of Data Science, Synctera
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “10/10. Metabase support is the best in the industry
                          and serves as a shining example of what we try to
                          achieve for our own customers.”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/philip-lorenzo.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/structionsite.png"
                              loading="lazy"
                            />
                          </div>
                          <div class="flex flex-column justify-content-around">
                            <div class="review-name">Philip Lorenzo</div>
                            <div class="review-title">
                              Head of Data, StructionSite
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “Johannes is a world class support engineer. I really
                          give him 5 stars for the help he provided. All
                          responses were very fast, to the point, and helpful. I
                          couldn't ask for better support. A true expert.”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/chad-remesch.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/the-lobby.png"
                              loading="lazy"
                            />
                          </div>
                          <div class="flex flex-column justify-content-around">
                            <div class="review-name">Chad Remesch</div>
                            <div class="review-title">CTO, The Lobby</div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “I got excellent and timely response to my question.
                          Thank you for the level of detail you provided, you
                          made me feel that if we migrate our installation to
                          your cloud service, we will have your support.”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/michael-masouras.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/motohunt.png"
                              loading="lazy"
                            />
                          </div>
                          <div class="flex flex-column justify-content-around">
                            <div class="review-name">Michael Masouras</div>
                            <div class="review-title">CEO, Motohunt</div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “Johannes is the best! He always gives thorough
                          responses and next steps that help us manage
                          expectations with our end users.”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/meghan-maloy.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/datadog.png"
                              loading="lazy"
                            />
                          </div>
                          <div class="flex flex-column justify-content-around">
                            <div class="review-name">Meghan Maloy</div>
                            <div class="review-title">
                              Senior Analytics Engineer, Datadog
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “I really appreciated how fast Luis was to respond,
                          and how straightforward his recommendations are.
                          You're awesome!”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/aimee-walker.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/revenue-io.png"
                              loading="lazy"
                            />
                          </div>
                          <div class="flex flex-column justify-content-around">
                            <div class="review-name">Aimée Walker</div>
                            <div class="review-title">
                              Technical Engineer, Revenue.io
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “The response was specific on all my raised points and
                          it came back very quickly!”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/andrea-mazza.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/breeze.png"
                              loading="lazy"
                            />
                          </div>
                          <div class="flex flex-column justify-content-around">
                            <div class="review-name">Andrea Mazza</div>
                            <div class="review-title">
                              Marine Data Analyst, Breeze
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <div class="feature-container see-who-did-what">
              <div>
                <h2>
                  See who did what, when, with comprehensive usage analytics
                </h2>
                <p>
                  Analyze your Metabase usage directly in Metabase. Meet
                  compliance needs, and make better-informed decisions to enable
                  self-service.
                </p>
                <ul class="checklist-outline">
                  <li>
                    <b>A collection of dashboards, questions, and models.</b> See
                    trends on usage and performance, with interactive tools to drill
                    deeper.
                  </li>
                  <li>
                    <b>Set up subscriptions and alerts on user behavior.</b> Get
                    regular updates, or trigger an alert if something unusual happens.
                  </li>
                  <li>
                    <b>Housekeeping for your Metabase.</b> Make your most-used dashboards,
                    questions, and models easier to find. Cache or ditch slow and
                    unused content.
                  </li>
                </ul>
              </div>
              <div>
                <img
                  src="/images/product/pro/usage-analytics.png"
                  srcset="/images/product/pro/usage-analytics.png 1x"
                  alt="See who did what"
                  width="70%"
                />
              </div>
            </div>

            <div class="feature-container flex-row-reverse">
              <div>
                <h2>
                  Lightning quick answers to selected questions with advanced
                  caching
                </h2>
                <p>
                  Put the results for specific questions, databases, and
                  dashboards on ice so they’re ready when you need them.
                </p>
                <ul class="checklist-outline">
                  <li>
                    <b>Get answers faster for questions</b> with results that don’t
                    change that often.
                  </li>
                  <li>
                    <b>Avoid querying your database multiple times</b> for the same
                    outcome.
                  </li>
                </ul>
              </div>
              <div>
                <img
                  src="/images/product/pro/lightning-quick-answers.png"
                  srcset="/images/product/pro/lightning-quick-answers.png 1x"
                  alt="Lightning quick answers to selected questions"
                  loading="lazy"
                />
              </div>
            </div>

            <div class="feature-container">
              <div>
                <h2>
                  Export your instance configuration and content as YAML files
                </h2>
                <p>
                  Keep multiple environments in sync with serialization — an
                  easy way to convert content in your instance to YAML files for
                  self-hosted instance portability.
                </p>
                <ul class="checklist-outline">
                  <li>
                    <b>Save configuration settings to a file</b> to spin up new instances
                    from a template.
                  </li>
                  <li>
                    <b>Test things out in staging</b> before pushing to production.
                  </li>
                  <li>
                    <b>Enable git-based workflows</b> for content moderation.
                  </li>
                </ul>
              </div>
              <div class="no-background slider-comparison-container">
                <div
                  class="juxtapose"
                  data-showcredits="false"
                  data-showlabels="false"
                >
                  <img
                    src="/images/product/pro/serializable-code.png"
                    loading="lazy"
                  />
                  <img
                    src="/images/product/pro/serializable-code-2.png"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>

            <div class="feature-container flex-row-reverse">
              <div>
                <h2>
                  Grant row-level SQL permissions with connection impersonation
                </h2>
                <ul class="checklist-outline">
                  <li>
                    <b>Configure database-side roles</b> (think USE ROLE or SET ROLE)
                    when querying.
                  </li>
                  <li>
                    <b>Give a group access to the native/SQL editor</b>, while
                    restricting the group's access to data based on a specific
                    database role.
                  </li>
                  <li>
                    <b>Centralize your teams’ permissions on the database</b> (currently
                    available with Postgres, Redshift, and Snowflake).
                  </li>
                </ul>
              </div>
              <div>
                <img
                  src="/images/product/pro/impersonation.png"
                  srcset="/images/product/pro/impersonation.png 1x"
                  alt="Grant row-level SQL permissions"
                  loading="lazy"
                />
              </div>
            </div>

            <div class="testimonial">
              <p>
                Metabase Pro has been a game-changer for our team, providing us
                with the analytics capabilities our team and our clients need at
                a fraction of the cost of other solutions on the market.
              </p>
              <img
                src="/images/profiles/nicolas-rivas.png"
                srcset="/images/profiles/nicolas-rivas.png 1x"
                alt="Photo of Nicolás Rivas"
                width="84px"
                loading="lazy"
              />
              <p class="author">Nicolás Rivas</p>
              <p class="company">Head of Data and BI, KLog</p>
            </div>
          </div>
        </div>

        <div class="try-metabase-footer">
          <div class="full-width-centered">
            <h3>Try Metabase Pro 14 days free</h3>
            <p>
              Metabase Pro starts at $500 per month, including 10 users. Pay as
              you go, or get 10% off with an annual subscription.
            </p>
            <div class="d-flex">
              <a
                id="get-started-btn-home"
                class="fs-13 Button btn btn-primary rounded-3 ms-lg-2"
                href="https://store.metabase.com/checkout"
              >
                Get started
              </a>
              <a
                id="get-started-btn-home"
                class="fs-13 Button btn btn-primary btn-outline-blue rounded-3 ms-lg-2"
                href="/talk-to-a-person/"
              >
                Contact us
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="light-blue-footer-container">
    <div class="bootstrap"></div>
  </div>
</Base>
