---
import Base from "../../layouts/Base.astro";
const title = "Professional services | Metabase";
const description =
  "Get your Metabase set up with a fraction of the time and effort, with the help of technical experts who know Metabase inside and out.";
const seo = {
  title: "Professional services | Metabase",
  description:
    "Get your Metabase set up with a fraction of the time and effort, with the help of technical experts who know Metabase inside and out.",
  canonical: "/product/professional-services",
  og: {
    title: "Professional services | Metabase",
    description:
      "Get your Metabase set up with a fraction of the time and effort, with the help of technical experts who know Metabase inside and out.",
    image:
      "https://www.metabase.com/images/product/professional-services-ogg.jpeg",
    url: "https://www.metabase.com/product/professional-services",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Professional services | Metabase",
    description:
      "Get your Metabase set up with a fraction of the time and effort, with the help of technical experts who know Metabase inside and out.",
    card: "summary_large_image",
    image:
      "https://www.metabase.com/images/product/professional-services-ogg.jpeg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <div class="responsive-page professional-services-page">
        <div class="hero-container">
          <div class="hero">
            <div class="d-flex flex-column align-items-center">
              <h6>Professional Services</h6>
              <h1 class="fw-bold mb-5 text-center h3">
                Get expert guidance and<br />services from the team<br />that
                knows Metabase best
              </h1>
              <p
                class="paragraph-4 responsive neutral-40 mb-6 text-center subtitle"
              >
                Get personalized professional services from our team of expert
                data practitioners who know Metabase inside and out.
              </p>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="full-width-centered why-you-should-work-with-us">
            <p>
              <img
                alt="Curved Arrow"
                src="/images/icons/curved-arrow.svg"
                class="curved-arrow"
              /> Why you should work with us
            </p>
          </div>

          <div class="cards-container small-margin-top">
            <div class="card no-icon">
              <h4>Real-life data pros</h4>
              <p>
                Real advice from actual technical experts. We’re all real-life
                data practitioners and have years of hands-on experience solving
                problems like yours.
              </p>
            </div>

            <div class="card no-icon">
              <h4>Fluff-free services</h4>
              <p>
                Our packages are designed to get you up and running in no time.
                We do them all the time, so you benefit from our practiced
                playbooks.
              </p>
            </div>

            <div class="card no-icon">
              <h4>Metabase experts</h4>
              <p>
                We know and love Metabase, and talk to lots of customers every
                day. That means you get our first-hand knowledge of what works
                and what doesn’t.
              </p>
            </div>
          </div>

          <div class="full-width-centered what-we-can-help-you-with">
            <h3>What we can help you with</h3>
            <p>
              Whether you’re just getting started, or you’ve been using Metabase
              for years, we’ve got the perfect plan for your project.
            </p>
          </div>

          <div class="two-column-cards">
            <div>
              <span
                ><img
                  alt="Magnifying Glass"
                  src="/images/icons/magnifying-glass.svg"
                /></span
              >
              <h4>Discovery session</h4>
              <p>
                We’ll review your data stack and make recommendations for how to
                meet your goals
              </p>
              <div>
                <b>Best for</b>
                <span
                  >Evaluating Metabase or getting some expert help on your
                  existing stack</span
                >
              </div>
            </div>

            <div>
              <span
                ><img alt="Lightbulb" src="/images/icons/lightbulb.svg" /></span
              >
              <h4>Proof of concept</h4>
              <p>
                We’d set up Metabase for you, connect to your Data Warehouse,
                and create up to 3 Models and 3 dashboards for you.
              </p>
              <div>
                <b>Best for</b>
                <span>Trying Metabase</span>
              </div>
            </div>

            <div>
              <span
                ><img
                  alt="Person Plus Person"
                  src="/images/icons/person-plus-person.svg"
                /></span
              >
              <h4>Custom onboarding</h4>
              <p>
                We’ll help you connect Metabase to your database, train you on
                Metabase concepts, walk you through decision-making for
                permissions and authentication, and help you decide how to share
                your Metabase with customers or external parties. <a
                  href="/product/onboarding-professional-service">Learn more</a
                >.
              </p>
              <div>
                <b>Best for</b>
                <span>Getting started with Metabase</span>
              </div>
            </div>

            <div>
              <span><img alt="Shell" src="/images/icons/shell.svg" /></span>
              <h4>Self-hosted setup and ongoing maintenance</h4>
              <p>
                We’ll set up Metabase in your cloud environment (AWS/GCP/Azure)
                and help maintain it. If you prefer another cloud provider, just
                let us know and we can talk about it.
              </p>
              <div>
                <b>Best for</b>
                <span
                  >You want to host Metabase but don’t want to deal with it</span
                >
              </div>
            </div>

            <div>
              <span
                ><img
                  alt="Arrow Diagonal"
                  src="/images/icons/arrow-diagonal.svg"
                /></span
              >
              <h4>Self-service embedding reference architecture</h4>
              <p>
                We’ll set up a RDS—a Metabase instance, application database,
                and a reference embedding application in NodeJS. We also create
                up to 3 customer-facing data sets for you, as well as 3
                specified dashboards.
              </p>
              <div>
                <b>Best for</b>
                <span>Getting started with interactive embedding</span>
              </div>
            </div>

            <div>
              <span
                ><img alt="Bar Graph" src="/images/icons/bar-graph.svg" /></span
              >
              <h4>
                Performance-tuned self-service embedding reference architecture
              </h4>
              <p>
                All of Self-Service Embedding Reference Architecture plus we’ll
                maintain a dedicated datamart, ETL of data into it, as well as
                tuning the data model for the best customer experience.
              </p>
              <div>
                <b>Best for</b>
                <span
                  >Getting started with interactive embedding and letting
                  someone else maintain your data set up for you</span
                >
              </div>
            </div>

            <div>
              <span
                ><img alt="Bar Graph" src="/images/icons/bar-graph.svg" /></span
              >
              <h4>End-to-end set-up for a specific product</h4>
              <p>
                We’ll create a data warehouse for you in your cloud, set up ETL
                using Fivetran for a common product (like Shopify, Zendesk,
                Jira, or Hubspot), build Models for you for you to self-explore,
                and create your first 3 dashboards.
              </p>
              <div>
                <b>Best for</b>
                <span
                  >Letting someone else get you going for a specific product</span
                >
              </div>
            </div>

            <div>
              <span><img alt="Recycle" src="/images/icons/recycle.svg" /></span>
              <h4>Ongoing Services</h4>
              <p>
                Need some professional help on a recurring or one-time basis?
                We’re here for you.
              </p>
              <div>
                <b>Best for</b>
                <span>Getting some extra help when you need it</span>
              </div>
            </div>
          </div>

          <div
            class="pipedriveWebForms full-width-centered"
            data-pd-webforms="https://webforms.pipedrive.com/f/2VNepSMSBvsEkA7Wyn0Zwyvk3KiRPrDS3ga1D78shok42lckLgn5WjUC14wxa81Sr"
          >
          </div>
        </div>

        <div class="product-intro">
          <div class="container py4 mt4 mobile-top-48"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
