---
import Base from "../../layouts/Base.astro";
const title = "Metabase for small teams";
const description =
  "Small business analytics tools. Leverage powerful business analytics tools that empower small teams with actionable insights.";
const seo = {
  title: "Metabase for small teams",
  description:
    "Small business analytics tools. Leverage powerful business analytics tools that empower small teams with actionable insights.",
  canonical: "/product/starter",
  og: {
    title: "Metabase for small teams",
    description:
      "Small business analytics tools. Leverage powerful business analytics tools that empower small teams with actionable insights.",
    image:
      "https://www.metabase.com/images/opengraph/metabase-starter-plan.jpg",
    url: "https://www.metabase.com/product/starter",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Metabase for small teams",
    description:
      "Small business analytics tools. Leverage powerful business analytics tools that empower small teams with actionable insights.",
    card: "summary_large_image",
    image:
      "https://www.metabase.com/images/opengraph/metabase-starter-plan.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <div class="responsive-page starter-page">
        <div class="hero-container">
          <div class="hero">
            <div id="gradient-background"></div>

            <div id="cloud-cover-left"></div>

            <div id="cloud-cover-right"></div>

            <div class="cloud" id="cloud-1"></div>
            <div class="cloud" id="cloud-2"></div>
            <div class="cloud" id="cloud-3"></div>
            <div class="cloud" id="cloud-4"></div>

            <div class="d-flex flex-column align-items-center">
              <h6>Metabase Starter</h6>
              <h1 class="fw-bold mb-5 text-center h3">
                All the goodness of Metabase,<br />minus all the hosting work
              </h1>
              <p
                class="paragraph-4 responsive neutral-40 mb-6 text-center subtitle"
              >
                Starter has all the stuff you get in the open source version of
                Metabase, with hosting taken care of. And you get hands-on
                support from our expert customer success engineers.
              </p>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-4">
              <a
                id="get-started-btn-home"
                class="fs-13 Button btn btn-primary rounded-3"
                href="https://store.metabase.com/checkout">Get started</a
              >
              <a
                class="fs-13 Button btn btn-outline-blue rounded-3"
                href="/talk-to-a-person/">Contact us</a
              >
            </div>

            <div class="cards-container">
              <div class="card">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  ><path
                    stroke="#80B946"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="m8 15.86-3.25 2.39V5.75L8 8.14M19.25 12l-8.5-6.25v12.5l8.5-6.25Z"
                  ></path></svg
                >

                <h4>Get started in minutes</h4>
                <p>
                  Plug into your <a href="/data-sources/">data source</a>,
                  invite your team, and start asking questions.
                </p>
              </div>
              <div class="card">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.75 6.75C4.75 5.64543 5.64543 4.75 6.75 4.75H17.25C18.3546 4.75 19.25 5.64543 19.25 6.75V17.25C19.25 18.3546 18.3546 19.25 17.25 19.25H6.75C5.64543 19.25 4.75 18.3546 4.75 17.25V6.75Z"
                    stroke="#80B946"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M8.75 15.25V9.75"
                    stroke="#80B946"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M15.25 15.25V9.75"
                    stroke="#80B946"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M12 15.25V12.75"
                    stroke="#80B946"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>

                <h4>Let everyone learn from data</h4>
                <p>
                  Unlimited charts, dashboards, and questions—no SQL required.
                </p>
              </div>
              <div class="card">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  ><path
                    stroke="#80B946"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M12.003 4.75 4.753 8s-.75 11.25 7.25 11.25S19.253 8 19.253 8l-7.25-3.25Z"
                  ></path><path
                    stroke="#80B946"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="m9.75 12.75 1.25 1.5 3.25-4.5"></path></svg
                >

                <h4>SOC2 Type II compliance from the get-go</h4>
                <p>
                  Self-serve analytics without the box-checking.<br /><a
                    href="/security">We really care about security.</a>
                </p>
              </div>
            </div>

            <div class="trusted-by">
              Metabase is trusted by over 80,000 companies
            </div>

            <div class="logos customer-logos-container">
              <img
                src="/images/logos/Huggingface.svg"
                alt="huggingface logo"
                loading="lazy"
              />

              <img
                src="/images/logos/mcdonalds.svg"
                alt="mcdonalds logo"
                loading="lazy"
              />

              <img
                src="/images/logos/huma.svg"
                alt="huma logo"
                loading="lazy"
              />

              <img
                src="/images/logos/capital-one.svg"
                alt="capital-one logo"
                loading="lazy"
              />

              <img
                src="/images/logos/home/airbyte.svg"
                alt="airbyte logo"
                loading="lazy"
              />

              <img
                src="/images/logos/betterment.svg"
                alt="betterment logo"
                loading="lazy"
              />

              <img
                src="/images/logos/deutsche-telekom.svg"
                alt="Deutsche Telekom logo"
                loading="lazy"
              />

              <img
                src="/images/logos/kong.svg"
                alt="kong logo"
                loading="lazy"
              />
            </div>
          </div>
        </div>

        <div class="product-intro">
          <div class="container py4 mt4 mobile-top-48">
            <div class="feature-container">
              <div>
                <h2>Your Metabase, monitored, managed, and maintained by us</h2>
                <p>
                  Trustworthy, product-grade deployment with our specialist
                  cloud team who maintain thousands of Metabases like it’s their
                  job (because it is their job.)
                </p>
                <ul class="checklist-outline">
                  <li>
                    Automatic upgrades to the latest and greatest of Metabase
                    without having to worry about backups and downtime.
                  </li>
                  <li>
                    Secure multi-tenant environments that prioritize isolation.
                    Every customer gets their very own container.
                  </li>
                  <li>
                    Multi-region hosting lets you keep your Metabase close, with
                    hosting options in the US, Europe, Latin America, or
                    Asia-Pacific.
                  </li>
                </ul>

                <a href="/cloud/"
                  >Learn more about Metabase Cloud <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  /></a
                >
              </div>
              <div>
                <div
                  class="flex-half m-0 mt-11 m-lg-0 p-0 px-lg-13 w-100 hero__content-panel"
                  id="cloudHeroToggleList"
                >
                  <div
                    class="bg-white drop-shadow p-3 p-lg-6 rounded-4 rounded-lg-7 w-100 hero__content-panel__wrapper hero__content-panel__wrapper--animated"
                  >
                    <div
                      class="d-flex flex-column flex-nowrap align-center justify-content-center"
                    >
                      <input
                        class="d-none"
                        id="cloudHeroToggleCheckbox"
                        type="checkbox"
                      />
                      <label
                        class="align-center bg-blue-95 border--blue-90 cursor-pointer d-flex flex-nowrap flex-row justify-content-center mb-6 mb-lg-0 mt-0 mt-lg-8 order-0 order-lg-1 p-2 p-lg-4 rounded-3 rounded-lg-4 user-select-none w-100"
                        for="cloudHeroToggleCheckbox"
                        id="cloudHeroToggle"
                      >
                        <div
                          class="align-center d-inline-flex flex-nowrap flex-row justify-center m-0 hero__toggle__text"
                        >
                          <img
                            alt="Self-hosted"
                            src="/images/cloud/icon_toggle_self-hosted.svg"
                          />
                          <span class="neutral-40 ms-2 text-bold"
                            >Self-hosted</span
                          >
                        </div>
                        <div class="m-1 mx-sm-2 hero__toggle">
                          <div
                            class="align-center d-flex justify-center text-center hero__toggle__handle"
                          >
                            <svg
                              fill="none"
                              height="16"
                              viewBox="0 0 16 16"
                              width="16"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <g clip-path="url(#clip0_1994_4779)">
                                <path
                                  clip-rule="evenodd"
                                  d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                                  fill-rule="evenodd"
                                  fill="#ffffff"></path>
                              </g>
                              <defs>
                                <clipPath id="clip0_1994_4779">
                                  <rect fill="white" height="16" width="16"
                                  ></rect>
                                </clipPath>
                              </defs>
                            </svg>
                          </div>
                        </div>
                        <div
                          class="align-center d-inline-flex flex-nowrap flex-row justify-center m-0 hero__toggle__text"
                        >
                          <span class="blue-60 me-2 text-bold text-right"
                            >Metabase Cloud</span
                          >
                          <img
                            alt="Metabase Cloud"
                            src="/images/cloud/icon_toggle_cloud.svg"
                          />
                        </div>
                      </label>

                      <ul
                        class="list-unstyled m-0 p-0 order-1 order-lg-0 w-100 hero__list"
                      >
                        <li
                          class="m-0 mb-2 mb-lg-3 pb-2 pb-lg-3 hero__list__item"
                        >
                          <div
                            class="align-top d-flex flex-nowrap flex-row justify-content-start"
                          >
                            <div
                              class="flex-grow-1 flex-shrink-0 hero__tick me-2"
                            >
                              <svg
                                fill="none"
                                height="16"
                                viewBox="0 0 16 16"
                                width="16"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <g clip-path="url(#clip0_1994_4779)">
                                  <path
                                    clip-rule="evenodd"
                                    d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                                    fill-rule="evenodd"
                                    fill="#509EE3"></path>
                                </g>
                                <defs>
                                  <clipPath id="clip0_1994_4779">
                                    <rect fill="white" height="16" width="16"
                                    ></rect>
                                  </clipPath>
                                </defs>
                              </svg>
                            </div>
                            <p
                              class="m-0 neutral-40 text-bold w-100 hero__list__text"
                            >
                              Automatic backups and restores
                            </p>
                          </div>
                        </li>
                        <li
                          class="m-0 mb-2 mb-lg-3 pb-2 pb-lg-3 hero__list__item"
                        >
                          <div
                            class="align-top d-flex flex-nowrap flex-row justify-content-start"
                          >
                            <div
                              class="flex-grow-1 flex-shrink-0 hero__tick me-2"
                            >
                              <svg
                                fill="none"
                                height="16"
                                viewBox="0 0 16 16"
                                width="16"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <g clip-path="url(#clip0_1994_4779)">
                                  <path
                                    clip-rule="evenodd"
                                    d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                                    fill-rule="evenodd"
                                    fill="#509EE3"></path>
                                </g>
                                <defs>
                                  <clipPath id="clip0_1994_4779">
                                    <rect fill="white" height="16" width="16"
                                    ></rect>
                                  </clipPath>
                                </defs>
                              </svg>
                            </div>
                            <p
                              class="m-0 neutral-40 text-bold w-100 hero__list__text"
                            >
                              Automatic upgrades
                            </p>
                          </div>
                        </li>
                        <li
                          class="m-0 mb-2 mb-lg-3 pb-2 pb-lg-3 hero__list__item"
                        >
                          <div
                            class="align-top d-flex flex-nowrap flex-row justify-content-start"
                          >
                            <div
                              class="flex-grow-1 flex-shrink-0 hero__tick__wrapper me-2"
                            >
                              <div class="hero__tick">
                                <svg
                                  fill="none"
                                  height="16"
                                  viewBox="0 0 16 16"
                                  width="16"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <g clip-path="url(#clip0_1994_4779)">
                                    <path
                                      clip-rule="evenodd"
                                      d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                                      fill-rule="evenodd"
                                      fill="#509EE3"></path>
                                  </g>
                                  <defs>
                                    <clipPath id="clip0_1994_4779">
                                      <rect fill="white" height="16" width="16"
                                      ></rect>
                                    </clipPath>
                                  </defs>
                                </svg>
                              </div>
                            </div>
                            <p
                              class="m-0 neutral-40 text-bold w-100 hero__list__text"
                            >
                              Built-in network monitoring
                            </p>
                          </div>
                        </li>
                        <li
                          class="m-0 mb-2 mb-lg-3 pb-2 pb-lg-3 hero__list__item"
                        >
                          <div
                            class="align-top d-flex flex-nowrap flex-row justify-content-start"
                          >
                            <div
                              class="flex-grow-1 flex-shrink-0 hero__tick me-2"
                            >
                              <svg
                                fill="none"
                                height="16"
                                viewBox="0 0 16 16"
                                width="16"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <g clip-path="url(#clip0_1994_4779)">
                                  <path
                                    clip-rule="evenodd"
                                    d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                                    fill-rule="evenodd"
                                    fill="#509EE3"></path>
                                </g>
                                <defs>
                                  <clipPath id="clip0_1994_4779">
                                    <rect fill="white" height="16" width="16"
                                    ></rect>
                                  </clipPath>
                                </defs>
                              </svg>
                            </div>
                            <p
                              class="m-0 neutral-40 text-bold w-100 hero__list__text"
                            >
                              Enterprise grade compliance (SOC 2 Type II)
                            </p>
                          </div>
                        </li>
                        <li
                          class="m-0 mb-2 mb-lg-3 pb-2 pb-lg-3 hero__list__item"
                        >
                          <div
                            class="align-top d-flex flex-nowrap flex-row justify-content-start"
                          >
                            <div
                              class="flex-grow-1 flex-shrink-0 hero__tick me-2"
                            >
                              <svg
                                fill="none"
                                height="16"
                                viewBox="0 0 16 16"
                                width="16"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <g clip-path="url(#clip0_1994_4779)">
                                  <path
                                    clip-rule="evenodd"
                                    d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                                    fill-rule="evenodd"
                                    fill="#509EE3"></path>
                                </g>
                                <defs>
                                  <clipPath id="clip0_1994_4779">
                                    <rect fill="white" height="16" width="16"
                                    ></rect>
                                  </clipPath>
                                </defs>
                              </svg>
                            </div>
                            <p
                              class="m-0 neutral-40 text-bold w-100 hero__list__text"
                            >
                              Ultra-high, multi-zone availability
                            </p>
                          </div>
                        </li>
                        <li
                          class="m-0 mb-2 mb-lg-3 pb-2 pb-lg-3 hero__list__item"
                        >
                          <div
                            class="align-top d-flex flex-nowrap flex-row justify-content-start"
                          >
                            <div
                              class="flex-grow-1 flex-shrink-0 hero__tick me-2"
                            >
                              <svg
                                fill="none"
                                height="16"
                                viewBox="0 0 16 16"
                                width="16"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <g clip-path="url(#clip0_1994_4779)">
                                  <path
                                    clip-rule="evenodd"
                                    d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                                    fill-rule="evenodd"
                                    fill="#509EE3"></path>
                                </g>
                                <defs>
                                  <clipPath id="clip0_1994_4779">
                                    <rect fill="white" height="16" width="16"
                                    ></rect>
                                  </clipPath>
                                </defs>
                              </svg>
                            </div>
                            <p
                              class="m-0 neutral-40 text-bold w-100 hero__list__text"
                            >
                              Preconfigured SMTP Server
                            </p>
                          </div>
                        </li>
                        <li class="m-0 hero__list__item">
                          <div
                            class="align-top d-flex flex-nowrap flex-row justify-content-start"
                          >
                            <div
                              class="flex-grow-1 flex-shrink-0 hero__tick me-2"
                            >
                              <svg
                                fill="none"
                                height="16"
                                viewBox="0 0 16 16"
                                width="16"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <g clip-path="url(#clip0_1994_4779)">
                                  <path
                                    clip-rule="evenodd"
                                    d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                                    fill-rule="evenodd"
                                    fill="#509EE3"></path>
                                </g>
                                <defs>
                                  <clipPath id="clip0_1994_4779">
                                    <rect fill="white" height="16" width="16"
                                    ></rect>
                                  </clipPath>
                                </defs>
                              </svg>
                            </div>
                            <p
                              class="m-0 neutral-40 text-bold w-100 hero__list__text"
                            >
                              Unlimited support from engineers
                            </p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="testimonial">
              <p>
                Metabase's cloud-hosting minimizes our time spent managing
                infrastructure and allows us to focus on generating insights for
                our clients - a win-win solution. Plus, as a small business
                owner, cost is an important factor and Metabase's pricing is far
                better than other solutions on the market.
              </p>
              <img
                src="/images/profiles/josh-singer.png"
                alt="Photo of Josh Singer"
                width="84px"
                loading="lazy"
              />
              <p class="author">Josh Singer</p>
              <p class="company">CEO, JS Analytics</p>
            </div>

            <section class="feature-container background-color-both-sides">
              <div>
                <h2>Help from our world-class success team</h2>
                <p>
                  We don't like to brag, so we'll let our customers do it for
                  us.
                </p>
                <p>
                  <b>With Starter, you'll get access to:</b>
                </p>
                <ul class="checklist-outline">
                  <li>
                    Support from actual technical experts. We're all avid
                    Metabase users, so we've been in your shoes.
                  </li>
                  <li>
                    Help with whatever your problem is, be it admin
                    troubleshooting or advice on best practices.
                  </li>
                  <li>
                    No chatbots, no hold lines, no customer service runaround.
                    Just email us, we're right here.
                  </li>
                </ul>
              </div>
              <div class="client-reviews">
                <div class="review-card-container">
                  <div class="flex flex-column review-card-container">
                    <div class="review-card-absolute-container px-8">
                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “The expertise and engagement of the Metabase team
                          stands in stark contrast to that which we've received
                          from Looker over the past 18+ months and, in previous
                          lives, Tableau.”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/dave-holmes-kinsella.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/synctera.png"
                              loading="lazy"
                            />
                          </div>
                          <div
                            class="flex flex-column justify-content-around flex-grow-1"
                          >
                            <div class="review-name">Dave Holmes-Kinsella</div>
                            <div class="review-title">
                              Head of Data Science, Synctera
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “10/10. Metabase support is the best in the industry
                          and serves as a shining example of what we try to
                          achieve for our own customers.”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/philip-lorenzo.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/structionsite.png"
                              loading="lazy"
                            />
                          </div>
                          <div
                            class="flex flex-column justify-content-around flex-grow-1"
                          >
                            <div class="review-name">Philip Lorenzo</div>
                            <div class="review-title">
                              Head of Data, StructionSite
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “Johannes is a world class support engineer. I really
                          give him 5 stars for the help he provided. All
                          responses were very fast, to the point, and helpful. I
                          couldn't ask for better support. A true expert.”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/chad-remesch.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/the-lobby.png"
                              loading="lazy"
                            />
                          </div>
                          <div
                            class="flex flex-column justify-content-around flex-grow-1"
                          >
                            <div class="review-name">Chad Remesch</div>
                            <div class="review-title">CTO, The Lobby</div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “I got excellent and timely response to my question.
                          Thank you for the level of detail you provided, you
                          made me feel that if we migrate our installation to
                          your cloud service, we will have your support.”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/michael-masouras.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/motohunt.png"
                              loading="lazy"
                            />
                          </div>
                          <div
                            class="flex flex-column justify-content-around flex-grow-1"
                          >
                            <div class="review-name">Michael Masouras</div>
                            <div class="review-title">CEO, Motohunt</div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “Johannes is the best! He always gives thorough
                          responses and next steps that help us manage
                          expectations with our end users.”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/meghan-maloy.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/datadog.png"
                              loading="lazy"
                            />
                          </div>
                          <div
                            class="flex flex-column justify-content-around flex-grow-1"
                          >
                            <div class="review-name">Meghan Maloy</div>
                            <div class="review-title">
                              Senior Analytics Engineer, Datadog
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “I really appreciated how fast Luis was to respond,
                          and how straightforward his recommendations are.
                          You're awesome!”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/aimee-walker.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/revenue-io.png"
                              loading="lazy"
                            />
                          </div>
                          <div
                            class="flex flex-column justify-content-around flex-grow-1"
                          >
                            <div class="review-name">Aimée Walker</div>
                            <div class="review-title">
                              Technical Engineer, Revenue.io
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “The response was specific on all my raised points and
                          it came back very quickly!”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/andrea-mazza.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/breeze.png"
                              loading="lazy"
                            />
                          </div>
                          <div
                            class="flex flex-column justify-content-around flex-grow-1"
                          >
                            <div class="review-name">Andrea Mazza</div>
                            <div class="review-title">
                              Marine Data Analyst, Breeze
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="review-card-absolute-container secondary-animation px-8"
                    >
                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “The expertise and engagement of the Metabase team
                          stands in stark contrast to that which we've received
                          from Looker over the past 18+ months and, in previous
                          lives, Tableau.”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/dave-holmes-kinsella.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/synctera.png"
                              loading="lazy"
                            />
                          </div>
                          <div class="flex flex-column justify-content-around">
                            <div class="review-name">Dave Holmes-Kinsella</div>
                            <div class="review-title">
                              Head of Data Science, Synctera
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “10/10. Metabase support is the best in the industry
                          and serves as a shining example of what we try to
                          achieve for our own customers.”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/philip-lorenzo.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/structionsite.png"
                              loading="lazy"
                            />
                          </div>
                          <div class="flex flex-column justify-content-around">
                            <div class="review-name">Philip Lorenzo</div>
                            <div class="review-title">
                              Head of Data, StructionSite
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “Johannes is a world class support engineer. I really
                          give him 5 stars for the help he provided. All
                          responses were very fast, to the point, and helpful. I
                          couldn't ask for better support. A true expert.”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/chad-remesch.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/the-lobby.png"
                              loading="lazy"
                            />
                          </div>
                          <div class="flex flex-column justify-content-around">
                            <div class="review-name">Chad Remesch</div>
                            <div class="review-title">CTO, The Lobby</div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “I got excellent and timely response to my question.
                          Thank you for the level of detail you provided, you
                          made me feel that if we migrate our installation to
                          your cloud service, we will have your support.”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/michael-masouras.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/motohunt.png"
                              loading="lazy"
                            />
                          </div>
                          <div class="flex flex-column justify-content-around">
                            <div class="review-name">Michael Masouras</div>
                            <div class="review-title">CEO, Motohunt</div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “Johannes is the best! He always gives thorough
                          responses and next steps that help us manage
                          expectations with our end users.”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/meghan-maloy.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/datadog.png"
                              loading="lazy"
                            />
                          </div>
                          <div class="flex flex-column justify-content-around">
                            <div class="review-name">Meghan Maloy</div>
                            <div class="review-title">
                              Senior Analytics Engineer, Datadog
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “I really appreciated how fast Luis was to respond,
                          and how straightforward his recommendations are.
                          You're awesome!”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/aimee-walker.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/revenue-io.png"
                              loading="lazy"
                            />
                          </div>
                          <div class="flex flex-column justify-content-around">
                            <div class="review-name">Aimée Walker</div>
                            <div class="review-title">
                              Technical Engineer, Revenue.io
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="review-card p-6 drop-shadow mb-6">
                        <p class="review-quote">
                          “The response was specific on all my raised points and
                          it came back very quickly!”
                        </p>
                        <div class="flex flex-row">
                          <div class="review-headshot rounded-circle">
                            <img
                              alt="review headshot"
                              src="/images/reviews/profiles/andrea-mazza.jpg"
                              loading="lazy"
                            />
                          </div>
                          <div class="review-logo rounded-circle">
                            <img
                              alt="review logo"
                              src="/images/reviews/companies/breeze.png"
                              loading="lazy"
                            />
                          </div>
                          <div class="flex flex-column justify-content-around">
                            <div class="review-name">Andrea Mazza</div>
                            <div class="review-title">
                              Marine Data Analyst, Breeze
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <div class="full-width-centered">
              <h3>Wait, isn’t there a free version of Metabase?</h3>
              <p>
                Sometimes the best things in life are free, like unconditional
                love, and <a href="/start/oss/">awesome open source software</a
                >. And sometimes it’s worth paying a little extra for
                convenience and accessible technical support.
              </p>

              <div class="comparison-table">
                <table>
                  <thead>
                    <tr>
                      <th> &nbsp; </th>
                      <th class="pricing-tier-oss" style="width: 17%">
                        <span class="oss">Open Source</span>
                      </th>
                      <th class="pricing-tier-starter" style="width: 17%">
                        <span class="starter">Starter</span>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td data-label=" ">Unlimited questions</td>
                      <td data-label="Open Source"
                        ><svg
                          fill="none"
                          height="16"
                          viewBox="0 0 16 16"
                          width="16"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_1994_4779)">
                            <path
                              clip-rule="evenodd"
                              d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                              fill-rule="evenodd"
                              fill="#5a6072"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1994_4779">
                              <rect fill="white" height="16" width="16"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </td>
                      <td data-label="Starter"
                        ><svg
                          fill="none"
                          height="16"
                          viewBox="0 0 16 16"
                          width="16"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_1994_4779)">
                            <path
                              clip-rule="evenodd"
                              d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                              fill-rule="evenodd"
                              fill="#5a6072"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1994_4779">
                              <rect fill="white" height="16" width="16"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </td>
                    </tr>
                    <tr>
                      <td data-label=" ">Unlimited charts</td>
                      <td data-label="Open Source"
                        ><svg
                          fill="none"
                          height="16"
                          viewBox="0 0 16 16"
                          width="16"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_1994_4779)">
                            <path
                              clip-rule="evenodd"
                              d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                              fill-rule="evenodd"
                              fill="#5a6072"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1994_4779">
                              <rect fill="white" height="16" width="16"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </td>
                      <td data-label="Starter"
                        ><svg
                          fill="none"
                          height="16"
                          viewBox="0 0 16 16"
                          width="16"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_1994_4779)">
                            <path
                              clip-rule="evenodd"
                              d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                              fill-rule="evenodd"
                              fill="#5a6072"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1994_4779">
                              <rect fill="white" height="16" width="16"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </td>
                    </tr>
                    <tr>
                      <td data-label=" ">Unlimited dashboards</td>
                      <td data-label="Open Source"
                        ><img
                          class="check"
                          src="/images/check.svg"
                          alt="Yes"
                          title="Yes"
                        /></td
                      >
                      <td data-label="Starter"
                        ><img
                          class="check"
                          src="/images/check.svg"
                          alt="Yes"
                          title="Yes"
                        /></td
                      >
                    </tr>
                    <tr>
                      <td data-label=" ">15+ visualization types</td>
                      <td data-label="Open Source"
                        ><svg
                          fill="none"
                          height="16"
                          viewBox="0 0 16 16"
                          width="16"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_1994_4779)">
                            <path
                              clip-rule="evenodd"
                              d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                              fill-rule="evenodd"
                              fill="#5a6072"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1994_4779">
                              <rect fill="white" height="16" width="16"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </td>
                      <td data-label="Starter"
                        ><svg
                          fill="none"
                          height="16"
                          viewBox="0 0 16 16"
                          width="16"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_1994_4779)">
                            <path
                              clip-rule="evenodd"
                              d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                              fill-rule="evenodd"
                              fill="#5a6072"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1994_4779">
                              <rect fill="white" height="16" width="16"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </td>
                    </tr>
                    <tr>
                      <td data-label=" "
                        >Scheduled updates and alerts via email and Slack</td
                      >
                      <td data-label="Open Source"
                        ><svg
                          fill="none"
                          height="16"
                          viewBox="0 0 16 16"
                          width="16"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_1994_4779)">
                            <path
                              clip-rule="evenodd"
                              d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                              fill-rule="evenodd"
                              fill="#5a6072"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1994_4779">
                              <rect fill="white" height="16" width="16"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </td>
                      <td data-label="Starter"
                        ><svg
                          fill="none"
                          height="16"
                          viewBox="0 0 16 16"
                          width="16"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_1994_4779)">
                            <path
                              clip-rule="evenodd"
                              d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                              fill-rule="evenodd"
                              fill="#5a6072"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1994_4779">
                              <rect fill="white" height="16" width="16"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </td>
                    </tr>
                    <tr>
                      <td data-label=" "
                        >Connects to 20+ database types, including CSV upload</td
                      >
                      <td data-label="Open Source"
                        ><svg
                          fill="none"
                          height="16"
                          viewBox="0 0 16 16"
                          width="16"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_1994_4779)">
                            <path
                              clip-rule="evenodd"
                              d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                              fill-rule="evenodd"
                              fill="#5a6072"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1994_4779">
                              <rect fill="white" height="16" width="16"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </td>
                      <td data-label="Starter"
                        ><svg
                          fill="none"
                          height="16"
                          viewBox="0 0 16 16"
                          width="16"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_1994_4779)">
                            <path
                              clip-rule="evenodd"
                              d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                              fill-rule="evenodd"
                              fill="#5a6072"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1994_4779">
                              <rect fill="white" height="16" width="16"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </td>
                    </tr>
                    <tr>
                      <td data-label=" ">SOC2 Type II Compliance</td>
                      <td data-label="Open Source">&nbsp;</td>
                      <td data-label="Starter"
                        ><svg
                          fill="none"
                          height="16"
                          viewBox="0 0 16 16"
                          width="16"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_1994_4779)">
                            <path
                              clip-rule="evenodd"
                              d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                              fill-rule="evenodd"
                              fill="#5a6072"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1994_4779">
                              <rect fill="white" height="16" width="16"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </td>
                    </tr>
                    <tr>
                      <td data-label=" ">Unlimited technical support</td>
                      <td data-label="Open Source">&nbsp;</td>
                      <td data-label="Starter"
                        ><svg
                          fill="none"
                          height="16"
                          viewBox="0 0 16 16"
                          width="16"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_1994_4779)">
                            <path
                              clip-rule="evenodd"
                              d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                              fill-rule="evenodd"
                              fill="#5a6072"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1994_4779">
                              <rect fill="white" height="16" width="16"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </td>
                    </tr>
                    <tr>
                      <td data-label=" ">Fully managed cloud</td>
                      <td data-label="Open Source">&nbsp;</td>
                      <td data-label="Starter"
                        ><svg
                          fill="none"
                          height="16"
                          viewBox="0 0 16 16"
                          width="16"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_1994_4779)">
                            <path
                              clip-rule="evenodd"
                              d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                              fill-rule="evenodd"
                              fill="#5a6072"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1994_4779">
                              <rect fill="white" height="16" width="16"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </td>
                    </tr>
                    <tr>
                      <td data-label=" ">Automatic backups and upgrades</td>
                      <td data-label="Open Source">&nbsp;</td>
                      <td data-label="Starter"
                        ><svg
                          fill="none"
                          height="16"
                          viewBox="0 0 16 16"
                          width="16"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_1994_4779)">
                            <path
                              clip-rule="evenodd"
                              d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                              fill-rule="evenodd"
                              fill="#5a6072"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1994_4779">
                              <rect fill="white" height="16" width="16"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </td>
                    </tr>
                    <tr>
                      <td data-label=" ">Out-of-the-box SMTP server </td>
                      <td data-label="Open Source">&nbsp;</td>
                      <td data-label="Starter"
                        ><svg
                          fill="none"
                          height="16"
                          viewBox="0 0 16 16"
                          width="16"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_1994_4779)">
                            <path
                              clip-rule="evenodd"
                              d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                              fill-rule="evenodd"
                              fill="#5a6072"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1994_4779">
                              <rect fill="white" height="16" width="16"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <a href="/pricing/#compare" class="m-auto"
                >See all features <img
                  alt="Chevron Blue Right"
                  src="/images/chevron_blue_right.svg"
                /></a
              >
            </div>

            <div class="testimonial">
              <p>
                Metabase is an amazing tool for startups that want 90/10
                solutions to data analytics at a cost effective price. It
                continues to be the most effective way for us to build reporting
                efficiently.
              </p>
              <img
                src="/images/profiles/derrick-mar.png"
                alt="Photo of Derrick Mar"
                width="84px"
                loading="lazy"
              />
              <p class="author">Derrick Mar</p>
              <p class="company">CTO, Pathrise</p>
            </div>
          </div>
        </div>

        <div class="try-metabase-footer">
          <div class="full-width-centered">
            <h3>Try Metabase Starter 14 days free</h3>
            <p>Pay as you go, or get 10% off with an annual subscription.</p>
            <div class="d-flex">
              <a
                id="get-started-btn-home"
                class="fs-13 Button btn btn-primary rounded-3 ms-lg-2 mr-2"
                href="https://store.metabase.com/checkout"
              >
                Get started
              </a>
              <a
                id="get-started-btn-home"
                class="fs-13 Button btn btn-primary rounded-3 ms-lg-2 btn-outline-blue"
                href="/talk-to-a-person/"
              >
                Contact us
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="light-blue-footer-container">
    <div class="bootstrap"></div>
  </div>
</Base>
