---
import Base from "../layouts/Base.astro";
const title = "How companies use Metabase";
const description =
  "Learn how companies across industries use Metabase to simplify data analysis, implement customer-facing analytics fast, and empower teams with actionable insights.";
const seo = {
  title: "How companies use Metabase",
  description:
    "Learn how companies across industries use Metabase to simplify data analysis, implement customer-facing analytics fast, and empower teams with actionable insights.",
  canonical: "/case-studies",
  og: {
    title: "How companies use Metabase",
    description:
      "Learn how companies across industries use Metabase to simplify data analysis, implement customer-facing analytics fast, and empower teams with actionable insights.",
    image:
      "https://www.metabase.com/images/case-studies/case-studies-main-og.jpg",
    url: "https://www.metabase.com/case-studies",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "How companies use Metabase",
    description:
      "Learn how companies across industries use Metabase to simplify data analysis, implement customer-facing analytics fast, and empower teams with actionable insights.",
    card: "summary_large_image",
    image:
      "https://www.metabase.com/images/case-studies/case-studies-main-og.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <div class="container">
        <div class="mb-2 row justify-content-center">
          <h1 class="h3 mt-11 mb-3 text-centered">
            Real companies, real data, real stories
          </h1>
          <p
            class="paragraph-5 neutral-black text-center col-10 col-md-8 col-lg-6 col-xl-5"
          >
            Over 80,000 organizations use Metabase to make working with data
            easy for everyone on their team. Explore what real businesses have
            built with Metabase.
          </p>
        </div>
        <div class="pt-6 pb-8 row align-items-center">
          <div class="col-12 col-sm-6 mb-6 mb-sm-0">
            <img
              class="mb-4"
              src="/images/case-studies/gojek-logo.png"
              srcset="/images/case-studies/gojek-logo.png 1x"
              alt="Gojek logo"
              style="width: 142px"
            />
            <h3 class="mb-6">
              Gojek brings company-wide transparency to customer care with
              Metabase.
            </h3>
            <a
              href="/case-studies/go-jek"
              class="btn btn-primary btn-link"
              role="button">Read the case study</a
            >
          </div>
          <div class="col-12 col-sm-6">
            <img
              class="w-100 rounded-4"
              src="/images/case-studies/gojek2.jpg"
              srcset="/images/case-studies/gojek2.jpeg 1x"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
        <div class="my-9">
          <p id="filters-header" class="paragraph-5 neutral-40 text-centered">
            Explore customer stories by industry
          </p>
          <div class="row row-cols-auto g-3 justify-content-center">
            <div class="col">
              <div
                id="All Stories-filter"
                class="btn-base btn-base-toggle selected py-2 px-3 align-items-center justify-content-center rounded-3 fs-12"
              >
                All Stories
              </div>
            </div>

            <div class="col">
              <div
                id="Financial Services-filter"
                class="btn-base btn-base-toggle py-2 px-3 align-items-center justify-content-center rounded-3 fs-12"
              >
                Financial Services
              </div>
            </div>

            <div class="col">
              <div
                id="Venture Capital-filter"
                class="btn-base btn-base-toggle py-2 px-3 align-items-center justify-content-center rounded-3 fs-12"
              >
                Venture Capital
              </div>
            </div>

            <div class="col">
              <div
                id="Education-filter"
                class="btn-base btn-base-toggle py-2 px-3 align-items-center justify-content-center rounded-3 fs-12"
              >
                Education
              </div>
            </div>

            <div class="col">
              <div
                id="IT & Software-filter"
                class="btn-base btn-base-toggle py-2 px-3 align-items-center justify-content-center rounded-3 fs-12"
              >
                IT &amp; Software
              </div>
            </div>

            <div class="col">
              <div
                id="B2B SaaS-filter"
                class="btn-base btn-base-toggle py-2 px-3 align-items-center justify-content-center rounded-3 fs-12"
              >
                B2B SaaS
              </div>
            </div>

            <div class="col">
              <div
                id="Manufacturing-filter"
                class="btn-base btn-base-toggle py-2 px-3 align-items-center justify-content-center rounded-3 fs-12"
              >
                Manufacturing
              </div>
            </div>

            <div class="col">
              <div
                id="Logistics & Transportation-filter"
                class="btn-base btn-base-toggle py-2 px-3 align-items-center justify-content-center rounded-3 fs-12"
              >
                Logistics &amp; Transportation
              </div>
            </div>

            <div class="col">
              <div
                id="Nonprofit-filter"
                class="btn-base btn-base-toggle py-2 px-3 align-items-center justify-content-center rounded-3 fs-12"
              >
                Nonprofit
              </div>
            </div>

            <div class="col">
              <div
                id="Travel & Hospitality-filter"
                class="btn-base btn-base-toggle py-2 px-3 align-items-center justify-content-center rounded-3 fs-12"
              >
                Travel &amp; Hospitality
              </div>
            </div>

            <div class="col">
              <div
                id="eCommerce-filter"
                class="btn-base btn-base-toggle py-2 px-3 align-items-center justify-content-center rounded-3 fs-12"
              >
                eCommerce
              </div>
            </div>

            <div class="col">
              <div
                id="Banking & Finance-filter"
                class="btn-base btn-base-toggle py-2 px-3 align-items-center justify-content-center rounded-3 fs-12"
              >
                Banking &amp; Finance
              </div>
            </div>

            <div class="col">
              <div
                id="Transport Management System-filter"
                class="btn-base btn-base-toggle py-2 px-3 align-items-center justify-content-center rounded-3 fs-12"
              >
                Transport Management System
              </div>
            </div>

            <div class="col">
              <div
                id="Retail-filter"
                class="btn-base btn-base-toggle py-2 px-3 align-items-center justify-content-center rounded-3 fs-12"
              >
                Retail
              </div>
            </div>

            <div class="col">
              <div
                id="Internet of Things-filter"
                class="btn-base btn-base-toggle py-2 px-3 align-items-center justify-content-center rounded-3 fs-12"
              >
                Internet of Things
              </div>
            </div>
          </div>
        </div>
        <div id="case-list">
          <div class="row list g-6">
            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/alto-cover.jpg')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/alto-logo.png"
                        srcset="/images/case-studies/alto-logo.png 1x"
                        alt="Alto logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">Financial Services</div>
                    <p class="paragraph-5 my-3">
                      Alto uses Metabase for easy and effective company-wide
                      data analysis.
                    </p>
                    <a href="/case-studies/alto" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/angelist-bg.jpg')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/angelist-logo.png"
                        srcset="/images/case-studies/angelist-logo.png 1x"
                        alt="AngelList Venture logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">Venture Capital</div>
                    <p class="paragraph-5 my-3">
                      AngelList Venture enables everyone on their team to
                      explore data with Metabase.
                    </p>
                    <a href="/case-studies/angellist" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/aula-cover.png')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/aula-logo.png"
                        srcset="/images/case-studies/aula-logo.png 1x"
                        alt="Aula logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">Education</div>
                    <p class="paragraph-5 my-3">
                      Aula cuts support tickets by 87% with Metabase Embedded
                      Analytics.
                    </p>
                    <a href="/case-studies/aula" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/bdeo-cover.jpg')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/bdeo-logo.png"
                        srcset="/images/case-studies/bdeo-logo.png 1x"
                        alt="Bdeo logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">IT &amp; Software</div>
                    <p class="paragraph-5 my-3">
                      How Metabase helps every team at Bdeo get insights from
                      their data.
                    </p>
                    <a href="/case-studies/bdeo" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/buena-cover-3.png')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/buena-logo.png"
                        srcset="/images/case-studies/buena-logo.png 1x"
                        alt="Buena logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">IT &amp; Software</div>
                    <p class="paragraph-5 my-3">
                      How CaseWhen helped Buena to transform their data analysis
                      with Metabase.
                    </p>
                    <a href="/case-studies/buena" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/bunny-og.png')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/bunny-logo.png"
                        srcset="/images/case-studies/bunny-logo.png 1x"
                        alt="Bunny logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">B2B SaaS</div>
                    <p class="paragraph-5 my-3">
                      Bunny embeds Metabase in their SaaS platform to give
                      people easy-to-use analytics.
                    </p>
                    <a href="/case-studies/bunny" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/calcom-cover.png')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/calcom.png"
                        srcset="/images/case-studies/calcom.png 1x"
                        alt="Cal.com logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">IT &amp; Software</div>
                    <p class="paragraph-5 my-3">
                      Cal.com uses Metabase for quick, self-service analytics
                      without relying on engineering.
                    </p>
                    <a href="/case-studies/calcom" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/clockwise-illus.png')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/clockwise-logo.png"
                        srcset="/images/case-studies/clockwise-logo.png 1x"
                        alt="Clockwise logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">IT &amp; Software</div>
                    <p class="paragraph-5 my-3">
                      Metabase helps every team at Clockwise to get sense of
                      their data.
                    </p>
                    <a href="/case-studies/clockwise" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/cypress-image.png')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/cypress-logo.png"
                        srcset="/images/case-studies/cypress-logo.png 1x"
                        alt="Cypress logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">IT &amp; Software</div>
                    <p class="paragraph-5 my-3">
                      Cypress uses Metabase for data-driven decision-making.
                    </p>
                    <a href="/case-studies/cypress" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/dribbble-banner.jpg')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/dribbble-logo.png"
                        srcset="/images/case-studies/dribbble-logo.png 1x"
                        alt="Dribbble logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">IT &amp; Software</div>
                    <p class="paragraph-5 my-3">
                      Dribbble uses Metabase to democratize data across all
                      their teams.
                    </p>
                    <a href="/case-studies/dribbble" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/fabulous-banner.png')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/fabulous-logo.png"
                        srcset="/images/case-studies/fabulous-logo.png 1x"
                        alt="Fabulous logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">IT &amp; Software</div>
                    <p class="paragraph-5 my-3">
                      Fabulous builds an efficient system of business reporting
                      within the company with Metabase.
                    </p>
                    <a href="/case-studies/fabulous" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/faros.jpg')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/faros-logo.png"
                        srcset="/images/case-studies/faros-logo.png 1x"
                        alt="Faros AI logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">IT &amp; Software</div>
                    <p class="paragraph-5 my-3">
                      How Faros.ai embeds Metabase into their multi-tenant SaaS
                      product.
                    </p>
                    <a href="/case-studies/faros" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/floryn-image.jpg')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/floryn-logo.png"
                        srcset="/images/case-studies/floryn-logo.png 1x"
                        alt="Fabulous logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">Financial Services</div>
                    <p class="paragraph-5 my-3">
                      Metabase helps Floryn simplify their BI, reduce costs, and
                      empower teams to explore data easily.
                    </p>
                    <a href="/case-studies/floryn" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/gojek2.jpg')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/gojek-logo.png"
                        srcset="/images/case-studies/gojek-logo.png 1x"
                        alt="Gojek logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">IT &amp; Software</div>
                    <p class="paragraph-5 my-3">
                      Gojek brings company-wide transparency to customer care
                      with Metabase.
                    </p>
                    <a href="/case-studies/go-jek" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/griffin-marine-services-banner.jpg')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/griffin-marine-services-logo.png"
                        srcset="/images/case-studies/griffin-marine-services-logo.png 1x"
                        alt="Griffin Marine Services logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">Manufacturing</div>
                    <p class="paragraph-5 my-3">
                      Griffin Marine Services uses Metabase's built-in CSV
                      database for reporting.
                    </p>
                    <a
                      href="/case-studies/griffin-marine-services"
                      class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/hurb.jpg')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/hurb-logo.png"
                        srcset="/images/case-studies/hurb-logo.png 1x"
                        alt="Hurb logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">IT &amp; Software</div>
                    <p class="paragraph-5 my-3">
                      Hurb uses Metabase to improve their decision-making
                      process and increase earnings.
                    </p>
                    <a href="/case-studies/hurb" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/klog-cover.jpg')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/klog-logo.png"
                        srcset="/images/case-studies/klog-logo.png 1x"
                        alt="KLog logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">
                      Logistics &amp; Transportation
                    </div>
                    <p class="paragraph-5 my-3">
                      How KLog uses Metabase to deliver shipping reports to
                      their clients.
                    </p>
                    <a href="/case-studies/klog" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/kula.jpg')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/kula-logo.png"
                        srcset="/images/case-studies/kula-logo.png 1x"
                        alt="Kula Project logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">Nonprofit</div>
                    <p class="paragraph-5 my-3">
                      Kula and Standard Co team up to empower female
                      entrepreneurs with Metabase.
                    </p>
                    <a href="/case-studies/kula-project" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/lime-image.png')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/lime-logo.png"
                        srcset="/images/case-studies/lime-logo.png 1x"
                        alt="Lime Technologies logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">IT &amp; Software</div>
                    <p class="paragraph-5 my-3">
                      Lime Technologies white-labels Metabase to provide their
                      customers with answers about their business.
                    </p>
                    <a
                      href="/case-studies/lime-technologies"
                      class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/linstol-cover-2.jpg')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/linstol-logo.png"
                        srcset="/images/case-studies/linstol-logo.png 1x"
                        alt="Linstol logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">
                      Travel &amp; Hospitality
                    </div>
                    <p class="paragraph-5 my-3">
                      Metabase expert CaseWhen helps Linstol become more
                      data-driven.
                    </p>
                    <a href="/case-studies/linstol" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/marketfuel-cover.png')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/marketfuel-logo.png"
                        srcset="/images/case-studies/marketfuel-logo.png 1x"
                        alt="Marketfuel logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">eCommerce</div>
                    <p class="paragraph-5 my-3">
                      How Marketfuel got to proof of concept on their in-app
                      reporting in under 30 days
                    </p>
                    <a href="/case-studies/marketfuel" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/matter-banner.png')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/matter-logo.png"
                        srcset="/images/case-studies/matter-logo.png 1x"
                        alt="Matter logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">IT &amp; Software</div>
                    <p class="paragraph-5 my-3">
                      Matter saves 30% of their growth budget, making
                      data-informed decisions with Metabase.
                    </p>
                    <a href="/case-studies/matter" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/myagro-image.png')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/myagro-logo.png"
                        srcset="/images/case-studies/myagro-logo.png 1x"
                        alt="myAgro logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">Nonprofit</div>
                    <p class="paragraph-5 my-3">
                      Metabase helps myAgro enable true self-service analytics.
                    </p>
                    <a href="/case-studies/myagro" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/n26.png')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/n26-logo.png"
                        srcset="/images/case-studies/n26-logo.png 1x"
                        alt="N26 logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">
                      Banking &amp; Finance
                    </div>
                    <p class="paragraph-5 my-3">
                      N26 promotes data literacy in Europe's first mobile bank
                      with Metabase.
                    </p>
                    <a href="/case-studies/n26" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/onepark-banner.jpg')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/onepark.png"
                        srcset="/images/case-studies/onepark.png 1x"
                        alt="Onepark logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">IT &amp; Software</div>
                    <p class="paragraph-5 my-3">
                      Onepark cut ad hoc requests for data in half after picking
                      up Metabase.
                    </p>
                    <a href="/case-studies/onepark" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case_studies/owlery-cover.jpg')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case_studies/owlery-logo-dark.png"
                        srcset="/images/case_studies/owlery-logo-dark.png 1x"
                        alt="Owlery logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">
                      Transport Management System
                    </div>
                    <p class="paragraph-5 my-3">
                      How Owlery cut time iterating on Embedded Analytics from 2
                      Days of engineering to 2 hours in CS
                    </p>
                    <a href="/case-studies/owlery" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/reforge-cover.jpg')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/reforge-logo.jpg"
                        srcset="/images/case-studies/reforge-logo.jpeg 1x"
                        alt="Reforge logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">Education</div>
                    <p class="paragraph-5 my-3">
                      How Metabase became the single source of truth for the
                      Reforge team.
                    </p>
                    <a href="/case-studies/reforge" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/retargetly-banner.png')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/retargetly-logo.png"
                        srcset="/images/case-studies/retargetly-logo.png 1x"
                        alt="Retargetly logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">IT &amp; Software</div>
                    <p class="paragraph-5 my-3">
                      Retargetly builds a data culture with Metabase.
                    </p>
                    <a href="/case-studies/retargetly" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/sincera3.jpg')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/sincera-logo.png"
                        srcset="/images/case-studies/sincera-logo.png 1x"
                        alt="Sincera logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">IT &amp; Software</div>
                    <p class="paragraph-5 my-3">
                      How Sincera uses Metabase embedding to provide their
                      customers with digital advertising and media insights.
                    </p>
                    <a href="/case-studies/sincera" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/spocket-banner.png')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/spocket_logo.png"
                        srcset="/images/case-studies/spocket_logo.png 1x"
                        alt="Spocket logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">IT &amp; Software</div>
                    <p class="paragraph-5 my-3">
                      Spocket saves over 60 hours per month and avoids ad-hoc
                      requests of their data team.
                    </p>
                    <a href="/case-studies/spocket" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/SGF_metabase_01%402x.png')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/sunglassfix-logo-v3.png"
                        srcset="/images/case-studies/sunglassfix-logo-v3.png 1x"
                        alt="Sunglass Fix logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">Retail</div>
                    <p class="paragraph-5 my-3">
                      Sunglass Fix explores their business with Metabase.
                    </p>
                    <a href="/case-studies/sunglass-fix" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/synctera1.png')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/synctera_logo.png"
                        srcset="/images/case-studies/synctera_logo.png 1x"
                        alt="Synctera logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">
                      Banking &amp; Finance
                    </div>
                    <p class="paragraph-5 my-3">
                      Synctera uses Metabase to improve customer satisfaction
                      and self-service analytics.
                    </p>
                    <a href="/case-studies/synctera" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/treebo-banner.png')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/treebo-logo.png"
                        srcset="/images/case-studies/treebo-logo.png 1x"
                        alt="Treebo Hotels logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">
                      Travel &amp; Hospitality
                    </div>
                    <p class="paragraph-5 my-3">
                      Treebo Hotels makes metrics and KPIs a part of their daily
                      routine with Metabase.
                    </p>
                    <a href="/case-studies/treebo" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/uptime-photo.jpg')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/uptime-logo.png"
                        srcset="/images/case-studies/uptime-logo.png 1x"
                        alt="Uptime logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">Internet of Things</div>
                    <p class="paragraph-5 my-3">
                      Uptime keeps elevators moving with Metabase.
                    </p>
                    <a href="/case-studies/uptime" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-6 col-lg-4">
              <div class="hover-raise-sm">
                <div class="card overflow-visible border-0 pb-3">
                  <div
                    class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                    style="height: 167px"
                  >
                    <div
                      class="card-img-top fill-image h-100"
                      style="background-image: url('images/case-studies/usabilia-banner.png')"
                    >
                    </div>
                    <div
                      class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                      style="height: 56px; width: 114px"
                    >
                      <img
                        class="w-100"
                        src="/images/case-studies/usabilla-logo.png"
                        srcset="/images/case-studies/usabilla-logo.png 1x"
                        alt="Usabilla logo"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="d-none industry-name">IT &amp; Software</div>
                    <p class="paragraph-5 my-3">
                      Usabilla unlocks analytics for everybody with Metabase.
                    </p>
                    <a href="/case-studies/usabilla" class="stretched-link"
                      ><span class="chevron blue-small-right"
                        >Read the case study</span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row justify-content-center mt-11 mb-15">
            <ul class="pagination flex flex-row justify-content-center"></ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="rounded-4 no-overflow">
        <div class="get-started">
          <div class="container">
            <div class="pt0">
              <div class="text-centered bootstrap">
                <h2 class="large mt0 neutral-white" style="margin-bottom: 16px">
                  Get started with Metabase
                </h2>
                <div
                  class="d-flex justify-content-center align-items-center gap-2"
                >
                  <a
                    class="fs-13 Button Button--primary rounded-3 ms-lg-2 py-3 lh-base"
                    href="https://store.metabase.com/checkout">Get started</a
                  >
                </div>
                <ul class="horizontal-checklist mt-6">
                  <li>Free, no-commitment trial</li>
                  <li>Easy for everyoneno SQL required</li>
                  <li>Up and running in 5 minutes</li>
                </ul>
                <div class="img-placeholder ml-auto mr-auto"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
