---
import Base from "../layouts/Base.astro";
const title = "Community stories";
const description =
  "Practical stories and community advice about working with data.";
const seo = {
  title: "Community stories",
  description:
    "Practical stories and community advice about working with data.",
  canonical: "/community",
  og: {
    title: "Community stories",
    description:
      "Practical stories and community advice about working with data.",
    image: "https://www.metabase.com/images/opengraph/community-stories.jpg",
    url: "https://www.metabase.com/community",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Community stories",
    description:
      "Practical stories and community advice about working with data.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/opengraph/community-stories.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bg-off-white-gradient mb-3">
      <section class="container py3">
        <div class="flex flex-column align-center mb-4">
          <h1 class="text-brand mt-45 pr-4" style="font-size: 32px;">
            Community Stories
          </h1>
          <span class="dt text-centered" style="max-width: 450px;"
            >Practical stories and community advice about working with data. Got
            a story of your own? <a
              href="https://metabase.notion.site/1dc69354c9018085898ae2c703dedc60"
              target="_blank">Share it with us.</a
            ></span
          >
        </div>
        <div class="row flex mt-2 mb-4">
          <div class="col-xs-12 col-sm-6 p-25 mt-25 mb-25">
            <a
              class="small-card hover-card small-vertical-raise hover-shadow bg-white"
              href="/community-posts/user-journey-analysis-with-metabase-sankey-charts-and-sql"
            >
              <div class="flex flex-row justify-between align-center">
                <span class="category-tag">Working with Metabase</span>
                <p class="xs text-light-grey my0">5 minutes</p>
              </div>
              <p class="fw-900 mt-25 mb-2 xl">
                User journey analysis with Metabase sankey charts and SQL
              </p>
              <p class="small lt">
                Learn how to use Metabase Sankey charts and SQL to visualize
                user journey flows.
              </p>
              <div class="flex flex-row align-center">
                <img
                  class="circle mr05"
                  src="/images/community/thallys-batista.jpg"
                  srcset="/images/community/thallys-batista.jpeg 1x"
                  width="36px"
                  height="36px"
                  alt="photo of Thallys Batista"
                />
                <div class="flex flex-column justify-around py05">
                  <p class="xs dt my0"><strong>Thallys Batista</strong></p>
                  <p class="xs my0 text-dark">Konsi</p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-xs-12 col-sm-6 p-25 mt-25 mb-25">
            <a
              class="small-card hover-card small-vertical-raise hover-shadow bg-white"
              href="/community-posts/improve-your-quickbooks-analytics-with-metabase"
            >
              <div class="flex flex-row justify-between align-center">
                <span class="category-tag">Working with Metabase</span>
                <p class="xs text-light-grey my0">5 minutes</p>
              </div>
              <p class="fw-900 mt-25 mb-2 xl">
                Improve your QuickBooks analytics with Metabase
              </p>
              <p class="small lt">
                Explore and analyze your QuickBooks data with Metabase—track
                trends
              </p>
              <div class="flex flex-row align-center">
                <img
                  class="circle mr05"
                  src="/images/community/dan-yost.jpg"
                  srcset="/images/community/dan-yost.jpeg 1x"
                  width="36px"
                  height="36px"
                  alt="photo of Dan Yost"
                />
                <div class="flex flex-column justify-around py05">
                  <p class="xs dt my0"><strong>Dan Yost</strong></p>
                  <p class="xs my0 text-dark">Tri-8</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </section>
      <section class="container">
        <iframe
          id="community-stories-signup-form-1"
          src="community-stories-signup-form.html"
          width="100%"
          height="200px"
          onload="javascript:(function(o){
        o.style.height=o.contentWindow.document.getElementById('mc_embed_signup').offsetHeight+'px';

        const resizeObserver = new ResizeObserver(function(entries) {
            const $firstEntry = entries[0];
            if ($firstEntry && $firstEntry.borderBoxSize && $firstEntry.borderBoxSize[0]) {
                const $form = $firstEntry.borderBoxSize[0];
                if ($form) {
                    o.style.height = $form.blockSize + 'px';
                }
            }
        });
        resizeObserver.observe(o.contentWindow.document.getElementById('mc_embed_signup'));
    }(this));"
          style="border:none;overflow:hidden;"></iframe>

        <div>
          <p class="small text-light-grey text-centered mb-25 mt-5">
            Explore by Category
          </p>
          <div class="row filter-list flex flex-row center-xs">
            <span
              id="Most Recent-filter"
              class="category-tag filter-button filter-selected mr-25 mb-25 flex flex-row align-center"
            >
              Most Recent
              <span
                id="remove-filter"
                class="mini-circle-xs pointer-events-none bg-white text-brand-dark flex align-center justify-center ml-1"
                ><img
                  src="/images/close.svg"
                  alt="Close"
                  width="6"
                  height="6"
                  class="no-zoom"
                /></span
              >
            </span>

            <span
              id="Strategy-filter"
              class="category-tag filter-button mr-25 mb-25 flex flex-row align-center"
              >Strategy</span
            >

            <span
              id="Working with Metabase-filter"
              class="category-tag filter-button mr-25 mb-25 flex flex-row align-center"
              >Working with Metabase</span
            >

            <span
              id="Data culture-filter"
              class="category-tag filter-button mr-25 mb-25 flex flex-row align-center"
              >Data culture</span
            >

            <span
              id="Careers-filter"
              class="category-tag filter-button mr-25 mb-25 flex flex-row align-center"
              >Careers</span
            >

            <span
              id="Self-service analytics-filter"
              class="category-tag filter-button mr-25 mb-25 flex flex-row align-center"
              >Self-service analytics</span
            >

            <span
              id="Modeling-filter"
              class="category-tag filter-button mr-25 mb-25 flex flex-row align-center"
              >Modeling</span
            >

            <span
              id="Metrics-filter"
              class="category-tag filter-button mr-25 mb-25 flex flex-row align-center"
              >Metrics</span
            >

            <span
              id="Pipelines-filter"
              class="category-tag filter-button mr-25 mb-25 flex flex-row align-center"
              >Pipelines</span
            >

            <span
              id="Cleaning-filter"
              class="category-tag filter-button mr-25 mb-25 flex flex-row align-center"
              >Cleaning</span
            >

            <span
              id="Statistics-filter"
              class="category-tag filter-button mr-25 mb-25 flex flex-row align-center"
              >Statistics</span
            >

            <span
              id="Visualization-filter"
              class="category-tag filter-button mr-25 mb-25 flex flex-row align-center"
              >Visualization</span
            >

            <span
              id="Data teams-filter"
              class="category-tag filter-button mr-25 mb-25 flex flex-row align-center"
              >Data teams</span
            >
          </div>
        </div>
        <div id="story-list" class="mb-6">
          <div class="row list">
            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/who-is-hiring-hacker-news-visualizations-gpt-metabase"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Working with Metabase</span>
                  <p class="xs text-light-grey my0">4 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Find your dream gig faster on Who's Hiring Hacker News with
                  GPT and Metabase
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/matthew-profile.jpg"
                    srcset="/images/community/matthew-profile.jpg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Matthew Hefferon"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Matthew Hefferon</strong></p>
                    <p class="xs my0 text-light-grey">Metabase</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/user-journey-analysis-with-metabase-sankey-charts-and-sql"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Working with Metabase</span>
                  <p class="xs text-light-grey my0">5 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  User journey analysis with Metabase sankey charts and SQL
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/thallys-batista.jpg"
                    srcset="/images/community/thallys-batista.jpeg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Thallys Batista"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Thallys Batista</strong></p>
                    <p class="xs my0 text-light-grey">Konsi</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/improve-your-quickbooks-analytics-with-metabase"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Working with Metabase</span>
                  <p class="xs text-light-grey my0">5 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Improve your QuickBooks analytics with Metabase
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/dan-yost.jpg"
                    srcset="/images/community/dan-yost.jpeg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Dan Yost"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Dan Yost</strong></p>
                    <p class="xs my0 text-light-grey">Tri-8</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/managing-streaming-analytics-pipelines-with-dbt-materialize-and-metabase"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Working with Metabase</span>
                  <p class="xs text-light-grey my0">3 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Managing streaming analytics pipelines with dbt, Materialize
                  and Metabase
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/marta-paes.png"
                    srcset="/images/community/marta-paes.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Marta Paes"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Marta Paes</strong></p>
                    <p class="xs my0 text-light-grey">Materialize</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/how-to-structure-your-data-team-to-support-organizational-goals"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Data teams</span>
                  <p class="xs text-light-grey my0">4 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  How to structure your data team to support organizational
                  goals
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/danae-whitten.png"
                    srcset="/images/community/danae-whitten.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Danae Whitten"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Danae Whitten</strong></p>
                    <p class="xs my0 text-light-grey">BombBomb</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/streaming-analytics-with-materialize-and-metabase"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Working with Metabase</span>
                  <p class="xs text-light-grey my0">2 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Streaming Analytics with Materialize and Metabase
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/marta-paes.png"
                    srcset="/images/community/marta-paes.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Marta Paes"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Marta Paes</strong></p>
                    <p class="xs my0 text-light-grey">Materialize</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/what-is-the-difference-between-product-analytics-and-business-intelligence"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Metrics</span>
                  <p class="xs text-light-grey my0">4 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Business Intelligence vs Product Analytics
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/ali-baghshomali.png"
                    srcset="/images/community/ali-baghshomali.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Ali Baghshomali"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Ali Baghshomali</strong></p>
                    <p class="xs my0 text-light-grey">Mentat Analytics</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/what-is-a-metrics-layer-and-how-your-company-can-benefit-from-it"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Strategy</span>
                  <p class="xs text-light-grey my0">4 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  What is a metrics layer and how your company can benefit from
                  it
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/chris-nguyen.png"
                    srcset="/images/community/chris-nguyen.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Chris Nguyen"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Chris Nguyen</strong></p>
                    <p class="xs my0 text-light-grey">
                      Keller Williams Realty International
                    </p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/using-rfm-aum-and-k-means-clustering-customers-segmentation"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Working with Metabase</span>
                  <p class="xs text-light-grey my0">3 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Using RFM, AUM, and K-means clustering for customer
                  segmentation
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/uchechukwu-emmanuel.png"
                    srcset="/images/community/uchechukwu-emmanuel.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Uchechukwu Emmanuel"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0">
                      <strong>Uchechukwu Emmanuel</strong>
                    </p>
                    <p class="xs my0 text-light-grey">Cowrywise</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/using-notion-with-metabase"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Working with Metabase</span>
                  <p class="xs text-light-grey my0">3 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Using Notion with Metabase
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/Shao.jpg"
                    srcset="/images/community/Shao.jpeg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Ting-Shao Kuo"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Ting-Shao Kuo</strong></p>
                    <p class="xs my0 text-light-grey">Node</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/3-methods-for-solving-the-dirty-data-dilemma"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Working with Metabase</span>
                  <p class="xs text-light-grey my0">3 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Three methods for solving the dirty data dilemma
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/kyle-kaleidoscope-data.jpg"
                    srcset="/images/community/kyle-kaleidoscope-data.jpeg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Kyle Napierkowski"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Kyle Napierkowski</strong></p>
                    <p class="xs my0 text-light-grey">Kaleidoscope Data</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/3-common-ways-to-get-all-your-data-in-one-place"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Pipelines</span>
                  <p class="xs text-light-grey my0">3 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Three common ways to get all your data in one place
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/ali-baghshomali.png"
                    srcset="/images/community/ali-baghshomali.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Ali Baghshomali"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Ali Baghshomali</strong></p>
                    <p class="xs my0 text-light-grey">Mentat Analytics</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/ux-principles-for-beautiful-dashboards"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Visualization</span>
                  <p class="xs text-light-grey my0">2 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  UX principles for beautiful dashboards
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/Daria-Goncharenko.jpg"
                    srcset="/images/community/Daria-Goncharenko.jpeg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Daria Goncharenko"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Daria Goncharenko</strong></p>
                    <p class="xs my0 text-light-grey">N-ix</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/rule-based-recommendations"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Strategy</span>
                  <p class="xs text-light-grey my0">2 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Rule-based recommendations
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/Conor-Dewey.jpg"
                    srcset="/images/community/Conor-Dewey.jpeg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Conor Dewey"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Conor Dewey</strong></p>
                    <p class="xs my0 text-light-grey">Metabase</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/how-to-document-data"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Data culture</span>
                  <p class="xs text-light-grey my0">3 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">How to document data</p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/rick-radewagen.jpg"
                    srcset="/images/community/rick-radewagen.jpeg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Rick Radewagen"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Rick Radewagen</strong></p>
                    <p class="xs my0 text-light-grey">Snowboard Software</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/how-to-fix-broken-dashboards"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Visualization</span>
                  <p class="xs text-light-grey my0">3 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  How to fix broken dashboards
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/halynne-shi.png"
                    srcset="/images/community/halynne-shi.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Halynne Shi"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Halynne Shi</strong></p>
                    <p class="xs my0 text-light-grey">Shopback</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/a-data-catalog-endeavor-the-why-and-the-how"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Strategy</span>
                  <p class="xs text-light-grey my0">5 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  A data catalog endeavor: The Why and the How
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/juan-sebastian.jpg"
                    srcset="/images/community/juan-sebastian.jpeg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Juan Sebastián Suarez Valencia"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0">
                      <strong>Juan Sebastián Suarez Valencia</strong>
                    </p>
                    <p class="xs my0 text-light-grey">Meisterlabs</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/how-to-measure-the-success-of-new-product-features-and-why-it-is-important"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Metrics</span>
                  <p class="xs text-light-grey my0">4 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  How to measure the success of new product features and why it
                  is important
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/kedson-alves.jpg"
                    srcset="/images/community/kedson-alves.jpeg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Kedson Alves"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Kedson Alves</strong></p>
                    <p class="xs my0 text-light-grey">Panther</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/how-we-used-okrs-to-improve-our-data-stack"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Data culture</span>
                  <p class="xs text-light-grey my0">5 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  How we used OKRs for the data science team to improve our data
                  stack
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/thomas-schmidt.jpg"
                    srcset="/images/community/thomas-schmidt.jpeg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Thomas Schmidt"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Thomas Schmidt</strong></p>
                    <p class="xs my0 text-light-grey">Agrando</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/a-b-test-checklist"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Metrics</span>
                  <p class="xs text-light-grey my0">4 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">A/B test checklist</p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/olga_berezovsky.jpg"
                    srcset="/images/community/olga_berezovsky.jpeg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Olga Berezovsky"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Olga Berezovsky</strong></p>
                    <p class="xs my0 text-light-grey">MyFitnessPal</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/real-time-data-analytics-with-metabase-and-cratedb"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Working with Metabase</span>
                  <p class="xs text-light-grey my0">4 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Real-time data analytics with Metabase and CrateDB
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/matej-matkuliak.jpg"
                    srcset="/images/community/matej-matkuliak.jpeg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Matej Matkuliak"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Matej Matkuliak</strong></p>
                    <p class="xs my0 text-light-grey">Crate</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/tips-for-getting-started-with-business-intelligence-on-a-budget"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Strategy</span>
                  <p class="xs text-light-grey my0">2 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Tips for getting started with Business Intelligence on a
                  Budget
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/kayden-nelson.jpg"
                    srcset="/images/community/kayden-nelson.jpeg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Kayden Nelson"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Kayden Nelson</strong></p>
                    <p class="xs my0 text-light-grey">VIVBI</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/how-minimal-modeling-can-improve-self-service-analytics"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Working with Metabase</span>
                  <p class="xs text-light-grey my0">3 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  How minimal modeling can improve self-service analytics
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/olga-tatarinova.jpg"
                    srcset="/images/community/olga-tatarinova.jpeg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Olga Tatarinova"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Olga Tatarinova</strong></p>
                    <p class="xs my0 text-light-grey">Epoch8.co</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/when-should-you-invest-in-customer-data-platform-tool"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Strategy</span>
                  <p class="xs text-light-grey my0">3 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  When should you invest in Customer Data Platform (CDP) tool?
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/ali-baghshomali.png"
                    srcset="/images/community/ali-baghshomali.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Ali Baghshomali"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Ali Baghshomali</strong></p>
                    <p class="xs my0 text-light-grey">Mentat Analytics</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/self-service-analytics-advantages-and-pitfalls"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Self-service analytics</span>
                  <p class="xs text-light-grey my0">2 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Self-service analytics: advantages and pitfalls
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/john-thompson.png"
                    srcset="/images/community/john-thompson.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of John Thompson"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>John Thompson</strong></p>
                    <p class="xs my0 text-light-grey">Cargill</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/how-to-relate-teams-kpis-with-the-overlapping-okr-goals"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Metrics</span>
                  <p class="xs text-light-grey my0">3 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  How to relate team’s KPIs with the overlapping OKR goals
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/guilherme-souza.jpg"
                    srcset="/images/community/guilherme-souza.jpeg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Guilherme Souza"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Guilherme Souza</strong></p>
                    <p class="xs my0 text-light-grey">Cheesecake Labs</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/learning-sql-can-inleash-your-superpowers"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Careers</span>
                  <p class="xs text-light-grey my0">3 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Learning SQL can unleash your superpowers
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/alex-dou.png"
                    srcset="/images/community/alex-dou.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Alex Dou"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Alex Dou</strong></p>
                    <p class="xs my0 text-light-grey">Sana Benefits</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/how-i-used-metabase-with-mongodb-to-track-the-performance-of-my-slack-app"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Working with Metabase</span>
                  <p class="xs text-light-grey my0">3 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  How I used Metabase with MongoDB to track the performance of
                  my Slack app
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/adam-charvat.png"
                    srcset="/images/community/adam-charvat.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Adam Charvat"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Adam Charvat</strong></p>
                    <p class="xs my0 text-light-grey">MeetSlack</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/how-to-choose-the-right-data-to-monitor-your-growth"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Metrics</span>
                  <p class="xs text-light-grey my0">4 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  How to choose the right data to monitor your growth?
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/khalil-a-cassimally.png"
                    srcset="/images/community/khalil-a-cassimally.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Khalil A. Cassimally"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0">
                      <strong>Khalil A. Cassimally</strong>
                    </p>
                    <p class="xs my0 text-light-grey">The Conversation</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/how-underlying-data-can-distort-your-statistics-compression-values"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Statistics</span>
                  <p class="xs text-light-grey my0">3 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Why statistics do not always summarize data well
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/Matt-David.png"
                    srcset="/images/community/Matt-David.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Matt David"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Matt David</strong></p>
                    <p class="xs my0 text-light-grey">Datafold</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/running-metabase-on-aws-lightsail"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Working with Metabase</span>
                  <p class="xs text-light-grey my0">5 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Running Metabase on AWS Lightsail
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/Persevierance-Musaka.jpg"
                    srcset="/images/community/Persevierance-Musaka.jpeg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Percy Musaka"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Percy Musaka</strong></p>
                    <p class="xs my0 text-light-grey">Catalyst IT</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/what-skills-are-required-to-land-a-data-analyst-position"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Careers</span>
                  <p class="xs text-light-grey my0">3 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  What skills are required to land a Data Analyst position?
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/alexandre-dantec.png"
                    srcset="/images/community/alexandre-dantec.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Alexandre Dantec"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Alexandre Dantec</strong></p>
                    <p class="xs my0 text-light-grey">Qonto</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/how-i-built-the-data-angels-community-for-women-in-data"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Careers</span>
                  <p class="xs text-light-grey my0">4 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  How I built the Data Angels community for women in data
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/jessica-cherny.png"
                    srcset="/images/community/jessica-cherny.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Jessica Cherny"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Jessica Cherny</strong></p>
                    <p class="xs my0 text-light-grey">Ironclad</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/prepare-your-data-for-business-intelligence-analytics"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Cleaning</span>
                  <p class="xs text-light-grey my0">2 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Prepare your data for Business Intelligence Analytics
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/karolina-adamiec.png"
                    srcset="/images/community/karolina-adamiec.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Karolina Adamiec"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Karolina Adamiec</strong></p>
                    <p class="xs my0 text-light-grey">Netguru</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/self-service-product-analytics"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Working with Metabase</span>
                  <p class="xs text-light-grey my0">3 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Using Metabase for Self-service product analytics
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/karen-ksieh.png"
                    srcset="/images/community/karen-ksieh.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Karen Hsieh"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Karen Hsieh</strong></p>
                    <p class="xs my0 text-light-grey">KKFARM</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/why-you-should-invest-in-good-data-documentation"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Strategy</span>
                  <p class="xs text-light-grey my0">3 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Why you should invest in a data catalog
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/ali-baghshomali.png"
                    srcset="/images/community/ali-baghshomali.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Ali Baghshomali"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Ali Baghshomali</strong></p>
                    <p class="xs my0 text-light-grey">Mentat Analytics</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/here-is-what-i-learned-from-building-data-pipelines"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Pipelines</span>
                  <p class="xs text-light-grey my0">3 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Here's what I learned from creating Data Pipelines
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/srivamsi-sakirepalli.jpg"
                    srcset="/images/community/srivamsi-sakirepalli.jpeg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Srivamsi Sakirepalli"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0">
                      <strong>Srivamsi Sakirepalli</strong>
                    </p>
                    <p class="xs my0 text-light-grey">Lendingkart</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/setting-up-metabase-as-a-bi-layer-in-the-modern-data-stack"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Working with Metabase</span>
                  <p class="xs text-light-grey my0">2 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Setting up Metabase as a BI Layer in the Modern Data Stack
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/opeyemi-fabiyi.jpg"
                    srcset="/images/community/opeyemi-fabiyi.jpeg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Opeyemi Fabiyi"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Opeyemi Fabiyi</strong></p>
                    <p class="xs my0 text-light-grey">Data Culture</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/data-driven-pipelines-as-a-competitive-advantage"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Pipelines</span>
                  <p class="xs text-light-grey my0">4 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Data-driven pipelines as a competitive advantage
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/jp-urrutia.png"
                    srcset="/images/community/jp-urrutia.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of JP Urrutia"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>JP Urrutia</strong></p>
                    <p class="xs my0 text-light-grey">KPMG</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/forecasting-your-product-virality-with-the-k-factor"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Metrics</span>
                  <p class="xs text-light-grey my0">2 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  What is K-Factor? Forecasting your product virality
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/ruslan-nazarenko.jpg"
                    srcset="/images/community/ruslan-nazarenko.jpeg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Ruslan Nazarenko"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Ruslan Nazarenko</strong></p>
                    <p class="xs my0 text-light-grey">Braid</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/how-to-ensure-your-data-model-changes-do-not-make-the-world-explode"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Modeling</span>
                  <p class="xs text-light-grey my0">5 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  How to ensure your data model changes don’t make the world
                  explode
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/Kim-Streich.png"
                    srcset="/images/community/Kim-Streich.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Kim Streich"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Kim Streich</strong></p>
                    <p class="xs my0 text-light-grey">Infused Insight</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/know-what-you-are-measuring-before-you-start-measuring"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Working with Metabase</span>
                  <p class="xs text-light-grey my0">1 minute</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Measuring metrics performance starts before you start
                  measuring
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/TJ-Muehleman.png"
                    srcset="/images/community/TJ-Muehleman.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of TJ Muehleman"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>TJ Muehleman</strong></p>
                    <p class="xs my0 text-light-grey">Standard Co</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/setting-up-metabase-for-success-within-your-organization"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Working with Metabase</span>
                  <p class="xs text-light-grey my0">3 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Building a data-driven team to setup Metabase for success
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/George-Visniuc.png"
                    srcset="/images/community/George-Visniuc.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of George Visniuc"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>George Visniuc</strong></p>
                    <p class="xs my0 text-light-grey">YourCampus</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/making-product-data-accessible-fast"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Self-service analytics</span>
                  <p class="xs text-light-grey my0">1 minute</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Using product data to support your launch
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/Will-Sanderson.jpg"
                    srcset="/images/community/Will-Sanderson.jpg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Will Sanderson"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Will Sanderson</strong></p>
                    <p class="xs my0 text-light-grey">
                      MachineQ, a Comcast Company
                    </p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/metabase-for-shopify-merchants"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Working with Metabase</span>
                  <p class="xs text-light-grey my0">2 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Metabase visualizations and self-service analytics for Shopify
                  merchants
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/Harshdeep-Hura.png"
                    srcset="/images/community/Harshdeep-Hura.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Harshdeep Hura"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Harshdeep Hura</strong></p>
                    <p class="xs my0 text-light-grey">Heura Media</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/exploiting-data-to-deliver-trustworthy-metrics"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Working with Metabase</span>
                  <p class="xs text-light-grey my0">2 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Exploiting data to deliver trustworthy metrics
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/Frederic-Vion.jpg"
                    srcset="/images/community/Frederic-Vion.jpg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Frédéric Vion"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Frédéric Vion</strong></p>
                    <p class="xs my0 text-light-grey">Subclic</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/engage-your-business-leads-with-great-questions"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Careers</span>
                  <p class="xs text-light-grey my0">2 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Career Advice for Data Analysts
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/Rob-Glickman.png"
                    srcset="/images/community/Rob-Glickman.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Rob Glickman"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Rob Glickman</strong></p>
                    <p class="xs my0 text-light-grey">Cledara</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/anticipating-the-next-click"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Working with Metabase</span>
                  <p class="xs text-light-grey my0">1 minute</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Anticipating the next click
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/Ukrit-Wattanavaekin.jpg"
                    srcset="/images/community/Ukrit-Wattanavaekin.jpeg 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Ukrit Wattanavaekin"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0">
                      <strong>Ukrit Wattanavaekin</strong>
                    </p>
                    <p class="xs my0 text-light-grey">Metabase</p>
                  </div>
                </div>
              </a>
            </div>

            <div class="story col-xs-12 col-sm-6 col-md-4 p-25">
              <a
                class="small-card hover-card small-vertical-raise hover-shadow bg-white"
                href="/community-posts/community-stories-tips"
              >
                <div class="flex flex-row justify-between align-center">
                  <span class="category-tag">Strategy</span>
                  <p class="xs text-light-grey my0">3 minutes</p>
                </div>
                <p class="fw-900 mt-25 mb-2 small">
                  Tips for writing Community Stories
                </p>
                <div class="flex flex-row align-center">
                  <img
                    class="circle mr05"
                    src="/images/community/data-bytes-tips/metabot-greetings-data-bytes.png"
                    srcset="/images/community/data-bytes-tips/metabot-greetings-data-bytes.png 1x"
                    width="36px"
                    height="36px"
                    alt="photo of Metabot"
                  />
                  <div class="flex flex-column justify-around py05">
                    <p class="xs dt my0"><strong>Metabot</strong></p>
                    <p class="xs my0 text-light-grey">Metabase</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="flex flex-row justify-center align-baseline pt-2">
            <ul class="pagination flex flex-row justify-center"></ul>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
