---
import Base from "../layouts/Base.astro";
const title = "Metabase | See what’s possible with embedded analytics";
const description =
  "Take a live demo for a spin and see what you can build with embedded analytics.";
const seo = {
  title: "Metabase | See what’s possible with embedded analytics",
  description:
    "Take a live demo for a spin and see what you can build with embedded analytics.",
  canonical: "/embedding-demo",
  og: {
    title: "Metabase | See what’s possible with embedded analytics",
    description:
      "Take a live demo for a spin and see what you can build with embedded analytics.",
    image: "https://www.metabase.com/images/opengraph/embedding-demo-og.jpg",
    url: "https://www.metabase.com/embedding-demo",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Metabase | See what’s possible with embedded analytics",
    description:
      "Take a live demo for a spin and see what you can build with embedded analytics.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/opengraph/embedding-demo-og.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <div class="embedding-demo">
        <section class="demo">
          <h1>Embedding demo</h1>
          <p>Explore what’s possible with embedded Metabase</p>

          <div class="tabs-with-timer" data-disable-autoplay="">
            <div class="tabs-with-timer__container">
              <div class="tabs-with-timer__content">
                <p>
                  Explore Edumation’s internal app, powered by embedded
                  analytics from their Metabase instance.
                </p>

                <a
                  href="https://embedding-demo.metabase.com/"
                  class="block sm-inline-block px2 Button btn btn-subtle"
                  target="_blank"
                >
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6.1665 3.1665H4.49984C3.76346 3.1665 3.1665 3.76346 3.1665 4.49984V11.4998C3.1665 12.2362 3.76346 12.8332 4.49984 12.8332H11.4998C12.2362 12.8332 12.8332 12.2362 12.8332 11.4998V9.83317"
                      stroke="#5a6072"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M12.8335 6.1665V3.1665H9.8335"
                      stroke="#5a6072"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M12.6668 3.3335L7.8335 8.16683"
                      stroke="#5a6072"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>

                  <span class="ps-2">Open full-screen</span>
                </a>

                <div class="container">
                  <div class="iframe-container">
                    <div
                      class="py-2 px-4 p0 m-0 bg-neutral-95 rounded-top-3 d-flex align-items-center justify-content-start relative"
                    >
                      <img
                        alt="Browser Controls"
                        class="py-2"
                        src="/images/embedding/browser-controls.svg"
                      />
                      <div
                        class="address__bar rounded-3 bg-neutral-99 py-1 px-4 d-flex align-items-center justify-content-center absolute m-auto start-0 end-0 mt-1"
                      >
                        <span class="neutral-40">www.edumation.edu</span>
                        <img
                          alt="Refresh"
                          class="absolute end-12 address__bar--refresh"
                          src="/images/embedding/refresh.svg"
                          width="12"
                        />
                      </div>
                    </div>
                    <iframe
                      src="https://embedding-demo.metabase.com/"
                      height="700"
                      class="px-0"></iframe>
                  </div>
                </div>
              </div>

              <div class="tabs-with-timer__content">
                <p>
                  Explore Appytown’s developer dashboard, powered by Static
                  Embedding from their Metabase Starter instance.
                </p>
                <a
                  href="https://appytown.metabase.com/"
                  class="block sm-inline-block px2 Button btn btn-subtle"
                  target="_blank"
                >
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6.1665 3.1665H4.49984C3.76346 3.1665 3.1665 3.76346 3.1665 4.49984V11.4998C3.1665 12.2362 3.76346 12.8332 4.49984 12.8332H11.4998C12.2362 12.8332 12.8332 12.2362 12.8332 11.4998V9.83317"
                      stroke="#5a6072"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M12.8335 6.1665V3.1665H9.8335"
                      stroke="#5a6072"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M12.6668 3.3335L7.8335 8.16683"
                      stroke="#5a6072"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>

                  <span class="ps-2">Open full-screen</span>
                </a>

                <div class="container">
                  <div class="iframe-container">
                    <div
                      class="py-2 px-4 p0 m-0 bg-neutral-95 rounded-top-3 d-flex align-items-center justify-content-start relative"
                    >
                      <img
                        alt="Browser Controls"
                        class="py-2"
                        src="/images/embedding/browser-controls.svg"
                      />
                      <div
                        class="address__bar rounded-3 bg-neutral-99 py-1 px-4 d-flex align-items-center justify-content-center absolute m-auto start-0 end-0 mt-1"
                      >
                        <span class="neutral-40">www.appytown.com</span>
                        <img
                          alt="Refresh"
                          class="absolute end-12 address__bar--refresh"
                          src="/images/embedding/refresh.svg"
                          width="12"
                        />
                      </div>
                    </div>
                    <iframe
                      src="https://appytown.metabase.com/"
                      height="700"
                      class="px-0"></iframe>
                  </div>
                </div>
              </div>

              <div class="tabs-with-timer__content">
                <p>
                  Explore the ecommerce platform, with embedded analytics
                  powered by the React SDK.
                </p>
                <a
                  href="https://embedded-analytics-sdk-demo.metabase.com/admin/products/19"
                  class="block sm-inline-block px2 Button btn btn-subtle"
                  target="_blank"
                >
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6.1665 3.1665H4.49984C3.76346 3.1665 3.1665 3.76346 3.1665 4.49984V11.4998C3.1665 12.2362 3.76346 12.8332 4.49984 12.8332H11.4998C12.2362 12.8332 12.8332 12.2362 12.8332 11.4998V9.83317"
                      stroke="#5a6072"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M12.8335 6.1665V3.1665H9.8335"
                      stroke="#5a6072"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M12.6668 3.3335L7.8335 8.16683"
                      stroke="#5a6072"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>

                  <span class="ps-2">Open full-screen</span>
                </a>

                <div class="container">
                  <div class="iframe-container">
                    <div
                      class="py-2 px-4 p0 m-0 bg-neutral-95 rounded-top-3 d-flex align-items-center justify-content-start relative"
                    >
                      <img
                        alt="Browser Controls"
                        class="py-2"
                        src="/images/embedding/browser-controls.svg"
                      />
                      <div
                        class="address__bar rounded-3 bg-neutral-99 py-1 px-4 d-flex align-items-center justify-content-center absolute m-auto start-0 end-0 mt-1"
                      >
                        <span class="neutral-40">www.shoppy.com</span>
                        <img
                          alt="Refresh"
                          class="absolute end-12 address__bar--refresh"
                          src="/images/embedding/refresh.svg"
                          width="12"
                        />
                      </div>
                    </div>
                    <iframe
                      src="https://embedded-analytics-sdk-demo.metabase.com/admin/products/19"
                      height="700"
                      class="px-0"></iframe>
                  </div>
                </div>
              </div>

              <div>
                <a
                  href="/events/interactive-embedding-workshop"
                  class="in-page-promo"
                >
                  <img
                    alt="interactive-embedding-workshop"
                    class="no-zoom"
                    src="/images/events/categories/workshops.jpg"
                    loading="lazy"
                  />
                  <div>
                    <p>Build a working POC in just one hour.</p>
                    <p>Join our next Interactive Embedding Workshop.</p>
                    <p class="anchor-like">
                      Register now<svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>

        <section class="embedding-options">
          <h3>Not sure which embedding option is for you?</h3>

          <div class="container">
            <div>
              <h5>Interactive Embedding</h5>
              <h6>
                Available in <a class="pro" href="/product/pro">Pro</a> and
                <a class="enterprise" href="/product/enterprise">Enterprise</a> plans.
              </h6>
              <ul>
                <li>
                  Full, self-service report builder in in your app, with your
                  branding.
                </li>
                <li>
                  Set SSO permissions so customers can query, visualize, and
                  drill-down on the data they need, and nothing they don‘t.
                </li>
              </ul>
            </div>

            <div>
              <h5>Static Embedding</h5>
              <h6>Available in all Metabase plans.</h6>
              <ul>
                <li>Simple dashboard or chart embedded in your app.</li>
                <li>
                  Your users will see data, but won’t be able to click through
                  into it.
                </li>
              </ul>
            </div>

            <div>
              <h5>Embedded analytics SDK for React</h5>
              <h6>
                Available in <a class="pro" href="/product/pro">Pro</a> and
                <a class="enterprise" href="/product/enterprise">Enterprise</a> plans.
              </h6>
              <ul>
                <li>
                  Theme and embed individual React components for analytics
                  that’s fully integrated with your UI.
                </li>
                <li>
                  Manage permissions and interactivity at both the component-
                  and user-level.
                </li>
              </ul>
            </div>
          </div>
        </section>

        <div class="infinite-marquee-container container">
          <div id="infinite-marquee-left-mask"></div>
          <div id="infinite-marquee-right-mask"></div>
          <h3>
            Need inspiration? See what other people are building with Metabase
          </h3>
          <a href="/examples"
            >Check out examples <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="chevron"
            >
              <path
                opacity="0.9"
                d="M3 8.96338L16 21.9634L29 8.96338"
                stroke="#509ee3"
                stroke-width="5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>
          <div class="infinite-marquee-slider">
            <a
              href="/examples/uefa-euro-league-football-results-dashboard"
              class="entry"
              data-categories="Sport"
            >
              <img
                src="/images/examples/euro-2024-thumb-no-bg.png"
                alt="Metabase"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/open-startup-dashboard"
              class="entry"
              data-categories="Tech"
            >
              <img
                src="/images/examples/open-startup-thumb-no-bg.png"
                alt="Cal.com"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/media-safety-dashboard"
              class="entry"
              data-categories="Non-profit"
            >
              <img
                src="/images/examples/statistics-on-killed-journalists-thumb-no-bg.png"
                alt="UNESCO"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/education-economic-development-dashboard"
              class="entry"
              data-categories="Non-profit"
            >
              <img
                src="/images/examples/education-dashboard-thumb-no-bg.png"
                alt="UNESCO"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/community-survey-dashboard"
              class="entry"
              data-categories="Tech"
            >
              <img
                src="/images/examples/2023-data-stack-report-thumb-no-bg.png"
                alt="Metabase"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/uefa-euro-league-football-results-dashboard"
              class="entry"
              data-categories="Sport"
            >
              <img
                src="/images/examples/euro-2024-thumb-no-bg.png"
                alt="Metabase"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/open-startup-dashboard"
              class="entry"
              data-categories="Tech"
            >
              <img
                src="/images/examples/open-startup-thumb-no-bg.png"
                alt="Cal.com"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/media-safety-dashboard"
              class="entry"
              data-categories="Non-profit"
            >
              <img
                src="/images/examples/statistics-on-killed-journalists-thumb-no-bg.png"
                alt="UNESCO"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/education-economic-development-dashboard"
              class="entry"
              data-categories="Non-profit"
            >
              <img
                src="/images/examples/education-dashboard-thumb-no-bg.png"
                alt="UNESCO"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/community-survey-dashboard"
              class="entry"
              data-categories="Tech"
            >
              <img
                src="/images/examples/2023-data-stack-report-thumb-no-bg.png"
                alt="Metabase"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/uefa-euro-league-football-results-dashboard"
              class="entry"
              data-categories="Sport"
            >
              <img
                src="/images/examples/euro-2024-thumb-no-bg.png"
                alt="Metabase"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/open-startup-dashboard"
              class="entry"
              data-categories="Tech"
            >
              <img
                src="/images/examples/open-startup-thumb-no-bg.png"
                alt="Cal.com"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/media-safety-dashboard"
              class="entry"
              data-categories="Non-profit"
            >
              <img
                src="/images/examples/statistics-on-killed-journalists-thumb-no-bg.png"
                alt="UNESCO"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/education-economic-development-dashboard"
              class="entry"
              data-categories="Non-profit"
            >
              <img
                src="/images/examples/education-dashboard-thumb-no-bg.png"
                alt="UNESCO"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/community-survey-dashboard"
              class="entry"
              data-categories="Tech"
            >
              <img
                src="/images/examples/2023-data-stack-report-thumb-no-bg.png"
                alt="Metabase"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/uefa-euro-league-football-results-dashboard"
              class="entry"
              data-categories="Sport"
            >
              <img
                src="/images/examples/euro-2024-thumb-no-bg.png"
                alt="Metabase"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/open-startup-dashboard"
              class="entry"
              data-categories="Tech"
            >
              <img
                src="/images/examples/open-startup-thumb-no-bg.png"
                alt="Cal.com"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/media-safety-dashboard"
              class="entry"
              data-categories="Non-profit"
            >
              <img
                src="/images/examples/statistics-on-killed-journalists-thumb-no-bg.png"
                alt="UNESCO"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/education-economic-development-dashboard"
              class="entry"
              data-categories="Non-profit"
            >
              <img
                src="/images/examples/education-dashboard-thumb-no-bg.png"
                alt="UNESCO"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/community-survey-dashboard"
              class="entry"
              data-categories="Tech"
            >
              <img
                src="/images/examples/2023-data-stack-report-thumb-no-bg.png"
                alt="Metabase"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/uefa-euro-league-football-results-dashboard"
              class="entry"
              data-categories="Sport"
            >
              <img
                src="/images/examples/euro-2024-thumb-no-bg.png"
                alt="Metabase"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/open-startup-dashboard"
              class="entry"
              data-categories="Tech"
            >
              <img
                src="/images/examples/open-startup-thumb-no-bg.png"
                alt="Cal.com"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/media-safety-dashboard"
              class="entry"
              data-categories="Non-profit"
            >
              <img
                src="/images/examples/statistics-on-killed-journalists-thumb-no-bg.png"
                alt="UNESCO"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/education-economic-development-dashboard"
              class="entry"
              data-categories="Non-profit"
            >
              <img
                src="/images/examples/education-dashboard-thumb-no-bg.png"
                alt="UNESCO"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/community-survey-dashboard"
              class="entry"
              data-categories="Tech"
            >
              <img
                src="/images/examples/2023-data-stack-report-thumb-no-bg.png"
                alt="Metabase"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/uefa-euro-league-football-results-dashboard"
              class="entry"
              data-categories="Sport"
            >
              <img
                src="/images/examples/euro-2024-thumb-no-bg.png"
                alt="Metabase"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/open-startup-dashboard"
              class="entry"
              data-categories="Tech"
            >
              <img
                src="/images/examples/open-startup-thumb-no-bg.png"
                alt="Cal.com"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/media-safety-dashboard"
              class="entry"
              data-categories="Non-profit"
            >
              <img
                src="/images/examples/statistics-on-killed-journalists-thumb-no-bg.png"
                alt="UNESCO"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/education-economic-development-dashboard"
              class="entry"
              data-categories="Non-profit"
            >
              <img
                src="/images/examples/education-dashboard-thumb-no-bg.png"
                alt="UNESCO"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/community-survey-dashboard"
              class="entry"
              data-categories="Tech"
            >
              <img
                src="/images/examples/2023-data-stack-report-thumb-no-bg.png"
                alt="Metabase"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/uefa-euro-league-football-results-dashboard"
              class="entry"
              data-categories="Sport"
            >
              <img
                src="/images/examples/euro-2024-thumb-no-bg.png"
                alt="Metabase"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/open-startup-dashboard"
              class="entry"
              data-categories="Tech"
            >
              <img
                src="/images/examples/open-startup-thumb-no-bg.png"
                alt="Cal.com"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/media-safety-dashboard"
              class="entry"
              data-categories="Non-profit"
            >
              <img
                src="/images/examples/statistics-on-killed-journalists-thumb-no-bg.png"
                alt="UNESCO"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/education-economic-development-dashboard"
              class="entry"
              data-categories="Non-profit"
            >
              <img
                src="/images/examples/education-dashboard-thumb-no-bg.png"
                alt="UNESCO"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/community-survey-dashboard"
              class="entry"
              data-categories="Tech"
            >
              <img
                src="/images/examples/2023-data-stack-report-thumb-no-bg.png"
                alt="Metabase"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/uefa-euro-league-football-results-dashboard"
              class="entry"
              data-categories="Sport"
            >
              <img
                src="/images/examples/euro-2024-thumb-no-bg.png"
                alt="Metabase"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/open-startup-dashboard"
              class="entry"
              data-categories="Tech"
            >
              <img
                src="/images/examples/open-startup-thumb-no-bg.png"
                alt="Cal.com"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/media-safety-dashboard"
              class="entry"
              data-categories="Non-profit"
            >
              <img
                src="/images/examples/statistics-on-killed-journalists-thumb-no-bg.png"
                alt="UNESCO"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/education-economic-development-dashboard"
              class="entry"
              data-categories="Non-profit"
            >
              <img
                src="/images/examples/education-dashboard-thumb-no-bg.png"
                alt="UNESCO"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/community-survey-dashboard"
              class="entry"
              data-categories="Tech"
            >
              <img
                src="/images/examples/2023-data-stack-report-thumb-no-bg.png"
                alt="Metabase"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/uefa-euro-league-football-results-dashboard"
              class="entry"
              data-categories="Sport"
            >
              <img
                src="/images/examples/euro-2024-thumb-no-bg.png"
                alt="Metabase"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/open-startup-dashboard"
              class="entry"
              data-categories="Tech"
            >
              <img
                src="/images/examples/open-startup-thumb-no-bg.png"
                alt="Cal.com"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/media-safety-dashboard"
              class="entry"
              data-categories="Non-profit"
            >
              <img
                src="/images/examples/statistics-on-killed-journalists-thumb-no-bg.png"
                alt="UNESCO"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/education-economic-development-dashboard"
              class="entry"
              data-categories="Non-profit"
            >
              <img
                src="/images/examples/education-dashboard-thumb-no-bg.png"
                alt="UNESCO"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/community-survey-dashboard"
              class="entry"
              data-categories="Tech"
            >
              <img
                src="/images/examples/2023-data-stack-report-thumb-no-bg.png"
                alt="Metabase"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/uefa-euro-league-football-results-dashboard"
              class="entry"
              data-categories="Sport"
            >
              <img
                src="/images/examples/euro-2024-thumb-no-bg.png"
                alt="Metabase"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/open-startup-dashboard"
              class="entry"
              data-categories="Tech"
            >
              <img
                src="/images/examples/open-startup-thumb-no-bg.png"
                alt="Cal.com"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/media-safety-dashboard"
              class="entry"
              data-categories="Non-profit"
            >
              <img
                src="/images/examples/statistics-on-killed-journalists-thumb-no-bg.png"
                alt="UNESCO"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/education-economic-development-dashboard"
              class="entry"
              data-categories="Non-profit"
            >
              <img
                src="/images/examples/education-dashboard-thumb-no-bg.png"
                alt="UNESCO"
                loading="lazy"
              />
            </a>

            <a
              href="/examples/community-survey-dashboard"
              class="entry"
              data-categories="Tech"
            >
              <img
                src="/images/examples/2023-data-stack-report-thumb-no-bg.png"
                alt="Metabase"
                loading="lazy"
              />
            </a>
          </div>
        </div>

        <section class="ready-to-build-with-embedding">
          <div
            class="container px-8 py-8 row flex-row d-flex align-items-center justify-content-between bg-blue-60 rounded-3"
          >
            <div class="col-xs-12 col-md-5 px-0">
              <h4 class="neutral-white">Ready to build with embedding?</h4>
              <p class="neutral-white mb-0 paragraph-5">
                Get up and running in 5 minutes with a 14-day free trial. Or get
                in touch with our team to talk to an expert.
              </p>
            </div>
            <div
              class="col-xs-12 col-md-7 px-0 d-flex justify-content-start justify-content-md-end mt-4 mt-md-0"
            >
              <a
                href="https://store.metabase.com/checkout/login-details"
                class="block px2 Button bg-blue-25 neutral-white mr-3 embedding-demo__get-started"
                >Get started</a
              >
              <a
                href="/talk-to-a-person/"
                class="block px2 Button Button--light embedding-demo__talk-to-sales"
                >Contact Us</a
              >
            </div>
          </div>
        </section>

        <div class="embedding-page">
          <section class="mt-8 p-0 embedding-page__get-started">
            <div class="px-9 py-6 mb-10 d-flex align-items-center flex-column">
              <p class="paragraph-5-5 neutral-60">
                Great companies build with Metabase
              </p>
              <div class="customer-logos-container">
                <img
                  src="/images/logos/Huggingface.svg"
                  alt="huggingface logo"
                  loading="lazy"
                />

                <img
                  src="/images/logos/mcdonalds.svg"
                  alt="mcdonalds logo"
                  loading="lazy"
                />

                <img
                  src="/images/logos/huma.svg"
                  alt="huma logo"
                  loading="lazy"
                />

                <img
                  src="/images/logos/capital-one.svg"
                  alt="capital-one logo"
                  loading="lazy"
                />

                <img
                  src="/images/logos/home/airbyte.svg"
                  alt="airbyte logo"
                  loading="lazy"
                />

                <img
                  src="/images/logos/betterment.svg"
                  alt="betterment logo"
                  loading="lazy"
                />

                <img
                  src="/images/logos/deutsche-telekom.svg"
                  alt="Deutsche Telekom logo"
                  loading="lazy"
                />
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="light-blue-footer-container">
    <div class="bootstrap"></div>
  </div>
</Base>
