---
import Base from "../layouts/Base.astro";
const title = "Work at Metabase";
const description =
  "Discover remote career opportunities at Metabase and join our team to shape the future of open source data analytics.";
const seo = {
  title: "Work at Metabase",
  description:
    "Discover remote career opportunities at Metabase and join our team to shape the future of open source data analytics.",
  canonical: "/jobs",
  og: {
    title: "Work at Metabase",
    description:
      "Discover remote career opportunities at Metabase and join our team to shape the future of open source data analytics.",
    url: "https://www.metabase.com/jobs",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Work at Metabase",
    description:
      "Discover remote career opportunities at Metabase and join our team to shape the future of open source data analytics.",
    card: "summary",
    image: "https://www.metabase.com/images/twitter/default-share.png",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="container measure pb4">
      <div>
        <div class="mt4">
          <h1 id="hello-">Hello 👋</h1>

          <p>We’d love for you to join us.</p>

          <p>
            Metabase is bringing data tools with the elegance and simplicity of
            consumer products to the crufty world of enterprise business
            intelligence. We provide an opinionated open source starting point
            for how companies should measure, analyze, and share their data as
            well as a suite of tools to deal with the complexity that arises as
            they grow.
          </p>

          <h2 id="working-at-metabase">Working at Metabase</h2>

          <p>
            We’re small, engineering-led, and you’ll be joining at a pivotal
            time in the company. You’ll get:
          </p>

          <ul>
            <li>
              Amazing views from our beautiful <del
                >downtown San Francisco office</del
              > Zoom channel.
            </li>
            <li>
              Great benefits and substantial equity in a venture funded company.
            </li>
            <li>Folks who care about building a great product and team.</li>
          </ul>

          <h2 id="open-roles">Open Roles</h2>
        </div>
      </div>

      <div id="lever-jobs-container"></div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
