---
import Base from "../layouts/Base.astro";
const title = "Metabase Privacy Policies";
const description =
  "Learn how Metabase protects your data and ensures compliance with privacy regulations through transparent policies.";
const seo = {
  title: "Metabase Privacy Policies",
  description:
    "Learn how Metabase protects your data and ensures compliance with privacy regulations through transparent policies.",
  canonical: "/privacy-policies",
  og: {
    title: "Metabase Privacy Policies",
    description:
      "Learn how Metabase protects your data and ensures compliance with privacy regulations through transparent policies.",
    url: "https://www.metabase.com/privacy-policies",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Metabase Privacy Policies",
    description:
      "Learn how Metabase protects your data and ensures compliance with privacy regulations through transparent policies.",
    card: "summary",
    image: "https://www.metabase.com/images/twitter/default-share.png",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <div class="pb-17 centered-content">
        <div class="centered-content__header-container">
          <div class="container"></div>
        </div>

        <div class="container mt-8 mt-md-12">
          <div class="col-xs-12 col-lg-9">
            <article>
              <h2 id="website-privacy-policy">
                <a href="/privacy">Website Privacy Policy</a>
              </h2>

              <p>
                The <a href="/privacy">Website Privacy Policy</a> applies to the
                use of our website.
              </p>

              <h2 id="hosting-privacy-policy">
                <a href="/hosting/privacy_policy">Hosting Privacy Policy</a>
              </h2>

              <p>
                The <a href="/hosting/privacy_policy">Hosting Privacy Policy</a>
                applies to the use of our Metabase Cloud product.
              </p>

              <h2 id="self-hosted-product">
                <a href="/docs/latest/installation-and-operation/privacy"
                  >Self Hosted Product</a>
              </h2>

              <p>
                Use of our Self Hosted product, including Open Source is covered <a
                  href="/docs/latest/installation-and-operation/privacy">here</a
                > and <a
                  href="/docs/latest/installation-and-operation/information-collection"
                  >here</a
                >.
              </p>

              <h2 id="applicant-privacy-policy">
                <a href="/applicant-privacy-policy">Applicant Privacy Policy</a>
              </h2>

              <p>
                The <a href="/applicant-privacy-policy"
                  >Applicant Privacy Policy</a
                > applies to Metabase job applicants.
              </p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
