---
import Base from "../layouts/Base.astro";
const title = "Releases | What's New in Metabase";
const description =
  "Check out what's new in the latest version of Metabase. We're shipping new features to make it easier for your whole team to work with data.";
const seo = {
  title: "Releases | What's New in Metabase",
  description:
    "Check out what's new in the latest version of Metabase. We're shipping new features to make it easier for your whole team to work with data.",
  canonical: "/releases",
  og: {
    title: "Releases | What's New in Metabase",
    description:
      "Check out what's new in the latest version of Metabase. We're shipping new features to make it easier for your whole team to work with data.",
    url: "https://www.metabase.com/releases",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Releases | What's New in Metabase",
    description:
      "Check out what's new in the latest version of Metabase. We're shipping new features to make it easier for your whole team to work with data.",
    card: "summary",
    image: "https://www.metabase.com/images/twitter/default-share.png",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <div class="roadmap releases">
        <div class="container">
          <div class="releases-roadmap-nav">
            <a href="/releases" class="active">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                ><path
                  stroke="#509EE3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M16.283 12.26 15.5 15l-.783-2.74a4.333 4.333 0 0 0-2.975-2.976L9 8.5l2.74-.783a4.333 4.333 0 0 0 2.976-2.975L15.5 2l.783 2.74a4.333 4.333 0 0 0 2.975 2.976L22 8.5l-2.74.783a4.334 4.334 0 0 0-2.976 2.975l-.001.001ZM6.5 22l.591-1.774a3.375 3.375 0 0 1 2.135-2.135L11 17.5l-1.774-.591a3.375 3.375 0 0 1-2.135-2.134L6.5 13l-.591 1.774a3.375 3.375 0 0 1-2.134 2.135L2 17.5l1.775.591a3.375 3.375 0 0 1 2.134 2.134L6.5 22Z"
                ></path></svg
              >

              What’s new
            </a>
            <a href="/roadmap">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
              >
                <path
                  stroke="#8D93A5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="m4.75 6.75 4.5-2v12.5l-4.5 2V6.75ZM14.75 6.75l4.5-2v12.5l-4.5 2V6.75ZM14.75 6.75l-5.5-2v12.5l5.5 2V6.75Z"
                ></path>
              </svg>

              Roadmap
            </a>
          </div>

          <h1>Metabase updates and changes</h1>
        </div>

        <div class="roadmap__content container">
          <div class="roadmap__navigation">
            <div class="roadmap__navigation__slider">
              <button class="roadmap__navigation__2025 active">2025</button>
              <button class="roadmap__navigation__2024">2024</button>
              <button class="roadmap__navigation__2023">2023</button>
              <button class="roadmap__navigation__2022">2022</button>
              <button class="roadmap__navigation__2021">2021</button>
              <button class="roadmap__navigation__2020">2020</button>
              <button class="roadmap__navigation__2019">2019</button>
              <button class="roadmap__navigation__2018">2018</button>
              <button class="roadmap__navigation__2017">2017</button>
              <button class="roadmap__navigation__2016">2016</button>
              <button class="roadmap__navigation__2015">2015</button>
            </div>
          </div>
          <div class="roadmap__entries">
            <div class="roadmap__tiles roadmap__tiles__now">
              <div class="roadmap__entry year-2025 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a href="/releases/metabase-56" class="release-title">
                      Metabase 56
                    </a>

                    <span class="release-new-badge"> New </span>
                  </div>

                  <span class="release-date"> Aug 2025 </span>
                </div>

                <a href="/releases/metabase-56" class="release-subtitle">
                  Dashboard filters in more relevant places, time grouping for
                  native queries, a new way to embed, and more
                </a>

                <p>
                  Dashboard filters in more relevant places, time grouping for
                  native queries, a new way to embed, and more
                </p>

                <a href="/releases/metabase-56" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>

                <a
                  href="/releases/metabase-56#add-dashboard-filters-where-they-matter"
                  class="highlight"
                >
                  <div>
                    <p>Add dashboard filters where they matter</p>
                    <p>
                      Add filters to headers and directly on cards so filters
                      show up where they're relevant
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/dashboard-filters.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-56#time-grouping-parameters-can-be-applied-to-native-queries"
                  class="highlight"
                >
                  <div>
                    <p>
                      Time grouping parameters can be applied to native queries
                    </p>
                    <p>
                      Change time granularity on dashboard cards built with SQL,
                      just like for cards made with the query builder
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/time-grouping.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-56#embed-metabase-with-the-new-embedded-analytics-js-library"
                  class="highlight"
                >
                  <div>
                    <p>
                      Embed Metabase with the new Embedded analytics JS library
                    </p>
                    <p>
                      The Embedded Analytics JS makes embedding easier with more
                      flexibility and control
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/embedding-js.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-56#field-filters-play-nice-with-aliased-tables"
                  class="highlight"
                >
                  <div>
                    <p>Field filters play nice with aliased tables</p>
                    <p>
                      E.g., when you use `FROM product AS p`, you can reference
                      p when applying filters
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/aliased-tables.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-56#translate-content-for-static-embedding"
                  class="highlight"
                >
                  <div>
                    <p>Translate content for Static Embedding</p>
                    <p>
                      Upload a dictionary to translate data shown in tables and
                      charts
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/content-translation.jpg)"
                  >
                  </div>
                </a>
              </div>

              <div class="roadmap__entry year-2025 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a href="/releases/metabase-55" class="release-title">
                      Metabase 55
                    </a>
                  </div>

                  <span class="release-date"> Jun 2025 </span>
                </div>

                <a href="/releases/metabase-55" class="release-subtitle">
                  Data visualizer for dashboard cards, database connection
                  routing, development instances, and more
                </a>

                <p>
                  Data visualizer for dashboard cards, database connection
                  routing, development instances, and more
                </p>

                <a href="/releases/metabase-55" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>

                <a
                  href="/releases/metabase-55#faster-easier-way-to-visualize-data-even-across-sources"
                  class="highlight"
                >
                  <div>
                    <p>
                      Faster, easier way to visualize data (even across data
                      sources)
                    </p>
                    <p>
                      Get different cuts of the same data without writing a new
                      query
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/visualizer-highlight.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-55#native-support-for-one-database-per-tenant-setups"
                  class="highlight"
                >
                  <div>
                    <p>Native support for one-database-per-tenant setups</p>
                    <p>No more cloning dashboards and assets for each tenant</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/db-routing-highlight.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-55#keyboard-shortcuts-everywhere"
                  class="highlight"
                >
                  <div>
                    <p>Keyboard shortcuts everywhere</p>
                    <p>Get around Metabase faster with global shortcuts</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/keyboard-highlight.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-55#its-true-boolean-filter-widgets-for-dashboards-are-here"
                  class="highlight"
                >
                  <div>
                    <p>Boolean filter widgets for dashboards</p>
                    <p>It's true - these widgets will make your life easier</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/boolean-highlight.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-55#new-custom-expressions-for-type-casting"
                  class="highlight"
                >
                  <div>
                    <p>New custom expressions for type casting</p>
                    <p>
                      You can now work with data types more flexibly using new
                      functions
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/custom-expressions-highlight.jpg)"
                  >
                  </div>
                </a>
              </div>

              <div class="roadmap__entry year-2025 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a href="/releases/metabase-54" class="release-title">
                      Metabase 54
                    </a>
                  </div>

                  <span class="release-date"> Apr 2025 </span>
                </div>

                <a href="/releases/metabase-54" class="release-subtitle">
                  Table visualization improvements, smarter custom expression
                  editor, better alerts, and more
                </a>

                <p>
                  Table visualization improvements, smarter custom expression
                  editor, better alerts, and more
                </p>

                <a href="/releases/metabase-54" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>

                <a
                  href="/releases/metabase-54#better-table-visualization"
                  class="highlight"
                >
                  <div>
                    <p>Better table visualization, top to bottom</p>
                    <p>Wrap text, align column values, scroll without doom</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/wrap.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-54#smarter-custom-expression-editor"
                  class="highlight"
                >
                  <div>
                    <p>Smarter, bigger custom expression editor</p>
                    <p>
                      Multi-line expressions, auto-formatting, better
                      suggestions
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/expression-mode.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-54#more-control-over-alerts"
                  class="highlight"
                >
                  <div>
                    <p>More control over alerts</p>
                    <p>
                      By the minute, by the hour, or fine-tune with cron
                      expressions
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/alert.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-54#connect-directly-to-google-drive-to-analyze-google-sheets"
                  class="highlight"
                >
                  <div>
                    <p>Google Sheets in Metabase</p>
                    <p>
                      No ETL, or re-uploading CSVs. Connect and start
                      visualizing Sheets data
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/google-sheets.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-54#more-consistent-filtering"
                  class="highlight"
                >
                  <div>
                    <p>
                      Cleaner, more consistent filtering for tables and
                      visualizations
                    </p>
                    <p>
                      The full-screen filter modal has been replaced with a
                      filter dropdown menu
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/filters-in-chill.jpg)"
                  >
                  </div>
                </a>
              </div>

              <div class="roadmap__entry year-2025 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a href="/releases/metabase-53" class="release-title">
                      Metabase 53
                    </a>
                  </div>

                  <span class="release-date"> Feb 2025 </span>
                </div>

                <a href="/releases/metabase-53" class="release-subtitle">
                  Save questions to dashboards, dynamic iframe cards, preemptive
                  caching, and more
                </a>

                <p>
                  Dashboards, caching, models, and queries made more intuitive,
                  contextual, and performant
                </p>

                <a href="/releases/metabase-53" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>

                <a
                  href="/releases/metabase-53#save-questions-straight-to-dashboards"
                  class="highlight"
                >
                  <div>
                    <p>Save questions to dashboards</p>
                    <p>Cut down on collection clutter</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/save-to-dashboard.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-53#iframe-and-link-card-parameters-let-you-show-content-dynamically"
                  class="highlight"
                >
                  <div>
                    <p>Dynamic iframe and link cards</p>
                    <p>
                      Set variables on iframe and link cards to filter external
                      content
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/parameters-in-iframes.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-53#preemptive-caching-for-faster-queries"
                  class="highlight"
                >
                  <div>
                    <p>Preemptive caching</p>
                    <p>Faster queries with anticipated common query patterns</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/preemptive-caching.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-53#model-details-now-in-an-expandable-sidebar"
                  class="highlight"
                >
                  <div>
                    <p>Model details in the sidebar</p>
                    <p>Easier to find contextual metadata</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/model-sidebar.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-53#try-the-new-embedded-analytics-sdk-for-react-beta"
                  class="highlight"
                >
                  <div>
                    <p>Embedded analytics SDK for React (Beta)</p>
                    <p>
                      The React toolkit for fully integrated, customized in-app
                      reporting
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/embedding-sdk.jpg)"
                  >
                  </div>
                </a>
              </div>

              <div class="roadmap__entry year-2024 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a href="/releases/metabase-52" class="release-title">
                      Metabase 52
                    </a>
                  </div>

                  <span class="release-date"> Dec 2024 </span>
                </div>

                <a href="/releases/metabase-52" class="release-subtitle">
                  Sankey charts, faster search, connect dashboard filters to
                  columns at any stage of the query, and more
                </a>

                <p>
                  A lite Metabase release that still manages to pack a punch -
                  just in time for the end of the year!
                </p>

                <a href="/releases/metabase-52" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>

                <a href="/releases/metabase-52#sankey-charts" class="highlight">
                  <div>
                    <p>Sankey charts</p>
                    <p>For all your user-flow needs</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/Sankey-highlight.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-52#connect-dashboard-filters-to-columns-at-any-stage-of-the-query"
                  class="highlight"
                >
                  <div>
                    <p>
                      Connect dashboard filters to columns at any stage of the
                      query
                    </p>
                    <p>
                      Multiple stages in your queries? Custom columns? You're
                      covered
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/filter-highlight.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-52#faster-and-more-relevant-search-results"
                  class="highlight"
                >
                  <div>
                    <p>Faster search, more relevant results</p>
                    <p>
                      Think 3x! Plus refined rankers to give more relevant stuff
                      top spot
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/faster-search-highlight.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-52#dashboard-verification"
                  class="highlight"
                >
                  <div>
                    <p>Dashboard verification</p>
                    <p>
                      Dashboards join the ranks of content you can mark as
                      vetted and official
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/Verified-dashboards-highlight.jpg)"
                  >
                  </div>
                </a>
              </div>

              <div class="roadmap__entry year-2024 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a href="/releases/metabase-51" class="release-title">
                      Metabase 51
                    </a>
                  </div>

                  <span class="release-date"> Nov 2024 </span>
                </div>

                <a href="/releases/metabase-51" class="release-subtitle">
                  Improved visualizations, Databricks driver, iframes in
                  dashboards, and more.
                </a>

                <p>
                  A bunch of new stuff to help your team make the most of your
                  data: viz upgrades, revamped metrics, more tools to manage
                  accounts and keep your Metabase tidy, and a lot more.
                </p>

                <a href="/releases/metabase-51" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>

                <a
                  href="/releases/metabase-51#add-external-content-to-dashboards-with-iframe-cards"
                  class="highlight"
                >
                  <div>
                    <p>Add iframe cards to dashboards</p>
                    <p>
                      Include external content alongside your charts in Metabase
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/iframe-cards.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-51#revamped-metrics-are-now-more-functional-as-reusable-calculations"
                  class="highlight"
                >
                  <div>
                    <p>Revamped metrics</p>
                    <p>
                      Official, reusable calculations made easier to find and
                      use
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/revamped-metrics.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-51#new-time-grouping-widgets-let-people-view-dashboards-by-year-quarter-month-week-day-and-more"
                  class="highlight"
                >
                  <div>
                    <p>Let people change time granularity on dashboards</p>
                    <p>
                      View your KPIs by week, month, year, etc., with just a
                      click
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/time-granularity.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-51#its-official-databricks-driver-is-here"
                  class="highlight"
                >
                  <div>
                    <p>Databricks driver</p>
                    <p>
                      It's official, fully supported with help on offer when you
                      need it
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/Databricks.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-51#add-way-more-context-in-your-tooltips"
                  class="highlight"
                >
                  <div>
                    <p>Add way more context in your tooltips</p>
                    <p>Show more info when people hover on your charts</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/Tooltips.jpg)"
                  >
                  </div>
                </a>
              </div>

              <div class="roadmap__entry year-2024 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a href="/releases/metabase-50" class="release-title">
                      Metabase 50
                    </a>
                  </div>

                  <span class="release-date"> Aug 2024 </span>
                </div>

                <a href="/releases/metabase-50" class="release-subtitle">
                  Better caching, permissions, navigation, and more.
                </a>

                <p>
                  New features and improvements to query and present your data,
                  navigate to find and file stuff faster, manage permissions,
                  and keep everything organized.
                </p>

                <a href="/releases/metabase-50" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>

                <a
                  href="/releases/metabase-50#charts-in-subscriptions-look-the-same-as-they-do-in-metabase"
                  class="highlight"
                >
                  <div>
                    <p>
                      Charts in subscriptions look the same as they do in
                      Metabase
                    </p>
                    <p>
                      What you see is what you get in- and outside of Metabase
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/WYSIWYG-charts.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-50#better-caching-controls"
                  class="highlight"
                >
                  <div>
                    <p>Better caching controls</p>
                    <p>
                      More options to (in)validate cache or not, as well as
                      caching for questions and dashboards.
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/cache.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-50#improved-permissions-with-more-control-over-how-groups-view-and-query-data"
                  class="highlight"
                >
                  <div>
                    <p>Improved data access and querying permissions</p>
                    <p>More control over how groups view and query data</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/permissions.jpg)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-50#cmdk-your-way-around-metabase-with-the-command-palette"
                  class="highlight"
                >
                  <div>
                    <p>Command palette</p>
                    <p>Cmd+k your way around Metabase</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/command-palette.jpg)"
                  >
                  </div>
                </a>
              </div>

              <div class="roadmap__entry year-2024 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a href="/releases/metabase-49" class="release-title">
                      Metabase 49
                    </a>
                  </div>

                  <span class="release-date"> Apr 2024 </span>
                </div>

                <a href="/releases/metabase-49" class="release-subtitle">
                  Making it easier to get stuff done
                </a>

                <p>
                  This release is all about making it easier to get stuff done
                  in Metabase. Dashboard improvements make setup and editing
                  smoother. Improvements to trend charts are up 400%. You can
                  append data to CSV uploads. API keys. Serialization for
                  Metabase Cloud (take a breath!), and lots more.
                </p>

                <a href="/releases/metabase-49" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>

                <a
                  href="/releases/metabase-49#show-dashboard-filters-only-on-tabs-where-theyre-relevant"
                  class="highlight"
                >
                  <div>
                    <p>Dashboard improvements</p>
                    <p>Quicker dashboard set up and editing</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/dashboard-improvements.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-49#add-more-comparisons-to-trend-charts"
                  class="highlight"
                >
                  <div>
                    <p>Additional comparisons in Trend charts</p>
                    <p>
                      More options to configure time ranges and benchmarks in
                      trend charts
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/additional-comparisons-in-trend-charts.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-49#append-data-to-csv-uploads"
                  class="highlight"
                >
                  <div>
                    <p>Append data to CSV uploads</p>
                    <p>
                      Upload additional rows to an existing CSV-created model
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/append-data-to-csv-uploads.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-49#serialization-now-works-with-metabase-cloud"
                  class="highlight"
                >
                  <div>
                    <p>Serialization in Metabase Cloud</p>
                    <p>
                      API endpoints for serialization&nbsp;for import and
                      exporting application data.
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/serialization-in-metabase-cloud.png)"
                  >
                  </div>
                </a>
              </div>

              <div class="roadmap__entry year-2024 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a href="/releases/metabase-48" class="release-title">
                      Metabase 48
                    </a>
                  </div>

                  <span class="release-date"> Jan 2024 </span>
                </div>

                <a href="/releases/metabase-48" class="release-subtitle">
                  Keeping track of what’s happening in your Metabase
                </a>

                <p>
                  Metabase 48 gives you complete visibility into who's doing
                  what in your Metabase, plus a bunch of dashboard and search
                  improvements, and things to make your day-to-day life in
                  Metabase better.
                </p>

                <a href="/releases/metabase-48" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>

                <a
                  href="/releases/metabase-48#learn-whats-happening-in-your-metabase-using-metabase"
                  class="highlight"
                >
                  <div>
                    <p>Usage analytics</p>
                    <p>
                      Learn what’s happening in your Metabase… using Metabase
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/usage-analytics.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-48#new-cloud-hosting-options-in-europe-asia-pacific-and-latin-america"
                  class="highlight"
                >
                  <div>
                    <p>New regions for cloud-hosting</p>
                    <p>Move your cloud-hosted instance into your backyard</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/new-regions-for-cloud-hosting.png)"
                  >
                  </div>
                </a>
              </div>

              <div class="roadmap__entry year-2023 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a href="/releases/Metabase-47" class="release-title">
                      Metabase 47
                    </a>
                  </div>

                  <span class="release-date"> Sep 2023 </span>
                </div>

                <a href="/releases/Metabase-47" class="release-subtitle">
                  Better looking dashboards, CSVs, better serialization and more
                </a>

                <p>
                  This release has something for everyone. CSV uploads, PDF
                  downloads, searching, serialization, and more.
                </p>

                <a href="/releases/Metabase-47" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>

                <a
                  href="/releases/Metabase-47#dashboards-got-revamped"
                  class="highlight"
                >
                  <div>
                    <p>Revamped dashboards</p>
                    <p>
                      Lots of improvements big and small to make building and
                      viewing dashboards better
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/revamped-dashboard.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/Metabase-47#upload-and-analyze-data-from-csv"
                  class="highlight"
                >
                  <div>
                    <p>Upload CSVs</p>
                    <p>
                      Upload and start exploring from a CSV, no ETL required
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/upload-csvs.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/Metabase-47#powered-up-pro-features"
                  class="highlight"
                >
                  <div>
                    <p>Overhauled serialization</p>
                    <p>
                      Serious upgrades to serialization allow for git-based
                      workflows.
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/overhauled-serialization.png)"
                  >
                  </div>
                </a>
              </div>

              <div class="roadmap__entry year-2023 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a href="/releases/metabase-46" class="release-title">
                      Metabase 46
                    </a>
                  </div>

                  <span class="release-date"> Mar 2023 </span>
                </div>

                <a href="/releases/metabase-46" class="release-subtitle">
                  Ready, set, Action!
                </a>

                <p>
                  This release brings Actions—a way to write back to your
                  database straight from Metabase. It also includes serious
                  improvements to our MongoDB driver, along with a bunch of
                  quality of life improvements.
                </p>

                <a href="/releases/metabase-46" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>

                <a
                  href="/releases/metabase-46#actions-write-back-to-your-database-from-metabase"
                  class="highlight"
                >
                  <div>
                    <p>Actions</p>
                    <p>Write back to your database, from Metabase</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/actions.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-46#our-mongodb-driver-gets-a-humongous-upgrade"
                  class="highlight"
                >
                  <div>
                    <p>Humongous upgrades for MongoDB</p>
                    <p>Lots of improvements for our MongoDB driver</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/mongo-db.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-46#save-money-with-optimized-sync-and-fingerprinting"
                  class="highlight"
                >
                  <div>
                    <p>Optimized sync and fingerprinting</p>
                    <p>
                      Significant optimizations to reduce database loads and
                      data warehouse costs
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/optimized-sync.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-46#customize-filter-dropdown-menus"
                  class="highlight"
                >
                  <div>
                    <p>Customized filter drop downs</p>
                    <p>
                      Define a custom list, or choose an existing question, to
                      populate dropdown options in dashboard filters and SQL
                      queries.
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/customized-filter-dropdowns.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/metabase-46#more-info-about-your-models-in-one-place"
                  class="highlight"
                >
                  <div>
                    <p>Learn more about your Models</p>
                    <p>Get all the&nbsp;details on your model in one place.</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/learn-more-about-your-models.png)"
                  >
                  </div>
                </a>
              </div>

              <div class="roadmap__entry year-2022 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a href="/releases/Metabase-0" class="release-title">
                      Metabase 0.45
                    </a>
                  </div>

                  <span class="release-date"> Dec 2022 </span>
                </div>

                <a href="/releases/Metabase-0" class="release-subtitle">
                  Improvements for your day to day
                </a>

                <p>
                  For this release, we’ve focused on improving your day-to-day
                  Metabase experience. There’s a few cool things, but most of
                  our effort went into improving key features, with the goal of
                  making Metabase more reliable and easier to work with.
                </p>

                <a href="/releases/Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>

                <a
                  href="/releases/Metabase-0#metabase-now-supports-amazon-athena-as-an-official-data-source"
                  class="highlight"
                >
                  <div>
                    <p>Official Amazon Athena data source&nbsp;</p>
                    <p>Athena’s available for all plans on Metabase Cloud!</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/athena-data-source.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/Metabase-0#better-charts-and-a-new-visualization-settings-ui"
                  class="highlight"
                >
                  <div>
                    <p>Easier to work with charts&nbsp;</p>
                    <p>
                      Easier-to-work with viz settings, and improvements to
                      charts sent on Slack and email.
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/easier-to-work-with-charts.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/Metabase-0#vastly-improved-models"
                  class="highlight"
                >
                  <div>
                    <p>Better Models&nbsp;</p>
                    <p>
                      Easier to create, more reliable, and faster to to edit and
                      iterate on.
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/better-models.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/Metabase-0#new-datetime-functions-in-the-query-builder"
                  class="highlight"
                >
                  <div>
                    <p>New datetime functions in the query builder&nbsp;</p>
                    <p>
                      Extract datetime, do math with dates, and convertTimezone.
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/datetime-functions.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/Metabase-0#loading-metabase-from-a-config-file"
                  class="highlight"
                >
                  <div>
                    <p>Load an instance from a config file&nbsp;</p>
                    <p>
                      Pre-configure instances (including database connections)
                      in YAML.
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/load-instance-from-config-file.png)"
                  >
                  </div>
                </a>
              </div>

              <div class="roadmap__entry year-2022 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2022-08-04-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.44
                    </a>
                  </div>

                  <span class="release-date"> Aug 2022 </span>
                </div>

                <a
                  href="/releases/2022-08-04-Metabase-0"
                  class="release-subtitle"
                >
                  Fitting in
                </a>

                <p>
                  Lots of you embed Metabase in your products to offer
                  self-serve analytics to your customers. You sweat every detail
                  of your product; so this time we did the sweating to make sure
                  you can make Metabase fit right in with your product. We also
                  worked on better ways to help people explore data, added
                  additional database support, and more.
                </p>

                <a href="/releases/2022-08-04-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>

                <a
                  href="/releases/2022-08-04-Metabase-0#making-metabase-your-own"
                  class="highlight"
                >
                  <div>
                    <p>Making Metabase your own&nbsp;</p>
                    <p>
                      Customize your instances’ fonts and colors, and show and
                      hide UI elements.
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/making-metabase-your-own.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/2022-08-04-Metabase-0#new-filter-ui"
                  class="highlight"
                >
                  <div>
                    <p>Better filtering&nbsp;</p>
                    <p>
                      Redesigned filtering experience to make exploring easier.
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/better-filtering.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/2022-08-04-Metabase-0#model-caching"
                  class="highlight"
                >
                  <div>
                    <p>Model Caching&nbsp;</p>
                    <p>Keep models fast and smooth</p>
                  </div>

                  <div style="background-image: url()"></div>
                </a>
              </div>

              <div class="roadmap__entry year-2022 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2022-05-02-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.43
                    </a>
                  </div>

                  <span class="release-date"> May 2022 </span>
                </div>

                <a
                  href="/releases/2022-05-02-Metabase-0"
                  class="release-subtitle"
                >
                  Charting your course
                </a>

                <p>
                  Making you feel like a fearless explorer is the theme of this
                  release. We’ve made a bunch of improvements to help you stay
                  organized, keep track of your work, and find new areas to
                  explore.
                </p>

                <a href="/releases/2022-05-02-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>

                <a
                  href="/releases/2022-05-02-Metabase-0#redesigned-navigation-and-homepage"
                  class="highlight"
                >
                  <div>
                    <p>Redesigned navigation and homepage&nbsp;</p>
                    <p>
                      Overhauled navigation to make it easier to find things.
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/redesigned-navigation.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/2022-05-02-Metabase-0#bookmarks"
                  class="highlight"
                >
                  <div>
                    <p>Bookmarks&nbsp;</p>
                    <p>Bookmark&nbsp;your favorites to find them later.</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/bookmarks.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/2022-05-02-Metabase-0#events"
                  class="highlight"
                >
                  <div>
                    <p>Events&nbsp;</p>
                    <p>Save important moments and view them on time series.</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/events.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/2022-05-02-Metabase-0#revamped-date-and-time-filtering"
                  class="highlight"
                >
                  <div>
                    <p>Improved data and time filtering&nbsp;</p>
                    <p>
                      We made it a lot easier to filter for relative date and
                      time ranges.
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/date-and-time-filtering.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/2022-05-02-Metabase-0#feature-level-permissions"
                  class="highlight"
                >
                  <div>
                    <p>Feature-level permissions&nbsp;</p>
                    <p>Granular permission settings for features</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/feature-level-permissions.png)"
                  >
                  </div>
                </a>
              </div>

              <div class="roadmap__entry year-2022 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2022-02-08-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.42
                    </a>
                  </div>

                  <span class="release-date"> Feb 2022 </span>
                </div>

                <a
                  href="/releases/2022-02-08-Metabase-0"
                  class="release-subtitle"
                >
                  The answer to life, the universe, and modeling
                </a>

                <p>
                  This release brings models&nbsp;— a whole new way to make
                  exploring data easy for everyone. It also includes a new main
                  navigation, redesigned collections, and a lot of other cleanup
                  work and quality-of-life improvements.
                </p>

                <a href="/releases/2022-02-08-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>

                <a
                  href="/releases/2022-02-08-Metabase-0#models-are-here"
                  class="highlight"
                >
                  <div>
                    <p>Models&nbsp;</p>
                    <p>
                      Create and edit metadata-rich datasets ready for easy
                      exploration
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/models.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/2022-02-08-Metabase-0#custom-expressions"
                  class="highlight"
                >
                  <div>
                    <p>Improved custom expression editor&nbsp;</p>
                    <p>
                      An overhauled custom expressions editor, including faster,
                      easier-to-navigate suggestions
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/custom-expression-editor.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/2022-02-08-Metabase-0#selective-sync-for-multiple-schemas-starting-with-bigquery"
                  class="highlight"
                >
                  <div>
                    <p>Selective sync&nbsp;</p>
                    <p>Select which schemas you want to sync.</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/selective-sync.png)"
                  >
                  </div>
                </a>
              </div>

              <div class="roadmap__entry year-2021 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2021-10-06-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.41
                    </a>
                  </div>

                  <span class="release-date"> Oct 2021 </span>
                </div>

                <a
                  href="/releases/2021-10-06-Metabase-0"
                  class="release-subtitle"
                >
                  Exploration at scale
                </a>

                <p>
                  This release includes better subscriptions, tools for larger
                  organizations, and more.
                </p>

                <a href="/releases/2021-10-06-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>

                <a
                  href="/releases/2021-10-06-Metabase-0#revamped-subscriptions-and-alerts"
                  class="highlight"
                >
                  <div>
                    <p>Improved Subscriptions and Alerts&nbsp;</p>
                    <p>Much improved dashboard Subscriptions and Alerts.</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/improved-subscriptions.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/2021-10-06-Metabase-0#fully-redesigned-permissions-page-and-a-new-permission-level"
                  class="highlight"
                >
                  <div>
                    <p>Improved Permissions&nbsp;</p>
                    <p>
                      A revamped permissions page, along with a new block
                      permission level.
                    </p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/improved-permissions.png)"
                  >
                  </div>
                </a>

                <a
                  href="/releases/2021-10-06-Metabase-0#stay-organized-at-scale"
                  class="highlight"
                >
                  <div>
                    <p>Official collections, verified questions&nbsp;</p>
                    <p>Help users find official sources of information.</p>
                  </div>

                  <div
                    style="background-image: url(images/releases/highlights/official-collections.png)"
                  >
                  </div>
                </a>
              </div>

              <div class="roadmap__entry year-2021 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2021-07-08-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.40
                    </a>
                  </div>

                  <span class="release-date"> Jul 2021 </span>
                </div>

                <a
                  href="/releases/2021-07-08-Metabase-0"
                  class="release-subtitle"
                >
                  Dashboard improvements, data exploration, and more
                </a>

                <p>
                  This release includes easier-to-build dashboards, a more
                  intuitive way to explore SQL results, and more.
                </p>

                <a href="/releases/2021-07-08-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>

                <a
                  href="/releases/2021-07-08-Metabase-0#dashboards-just-got-a-lot-easier-to-build"
                  class="highlight"
                >
                  <div>
                    <p>Improved dashboard editing&nbsp;</p>
                    <p>Improved responsiveness and editing.</p>
                  </div>

                  <div style="background-image: url()"></div>
                </a>

                <a
                  href="/releases/2021-07-08-Metabase-0#improved-data-selection"
                  class="highlight"
                >
                  <div>
                    <p>Improved data selection&nbsp;</p>
                    <p>Overhauled search in data picker.</p>
                  </div>

                  <div style="background-image: url()"></div>
                </a>
              </div>

              <div class="roadmap__entry year-2021 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2021-03-26-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.39
                    </a>
                  </div>

                  <span class="release-date"> Apr 2021 </span>
                </div>

                <a
                  href="/releases/2021-03-26-Metabase-0"
                  class="release-subtitle"
                >
                  Improved search, custom expressions
                </a>

                <p>
                  Metabase 0.39 brings improved search and custom expressions,
                  along with a bunch of performance and security improvements.
                </p>

                <a href="/releases/2021-03-26-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2021 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2021-02-17-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.38
                    </a>
                  </div>

                  <span class="release-date"> Feb 2021 </span>
                </div>

                <a
                  href="/releases/2021-02-17-Metabase-0"
                  class="release-subtitle"
                >
                  Pivot tables, waterfall charts, dashboard subscriptions
                </a>

                <p>
                  Metabase 0.38 introduces pivot tables, waterfall charts, and
                  dashboard subscriptions, and includes a better way to navigate
                  collections.
                </p>

                <a href="/releases/2021-02-17-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2020 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2020-10-23-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.37
                    </a>
                  </div>

                  <span class="release-date"> Oct 2020 </span>
                </div>

                <a
                  href="/releases/2020-10-23-Metabase-0"
                  class="release-subtitle"
                >
                  Interactive dashboards
                </a>

                <p>
                  Metabase 0.37 adds new options for making your dashboards more
                  interactive, like custom click destinations, cross-filtering,
                  and linked filters.
                </p>

                <a href="/releases/2020-10-23-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2020 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2020-07-20-v36-release-announcement"
                      class="release-title"
                    >
                      Metabase 0.36
                    </a>
                  </div>

                  <span class="release-date"> Jul 2020 </span>
                </div>

                <a
                  href="/releases/2020-07-20-v36-release-announcement"
                  class="release-subtitle"
                >
                  SQL snippets, localization
                </a>

                <p>
                  Version 36 of Metabase contains the long-awaited SQL/native
                  query snippets feature, new localizations settings, better
                  value labels for charts, and more.
                </p>

                <a
                  href="/releases/2020-07-20-v36-release-announcement"
                  class="read-more"
                >
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2020 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a href="/releases/2020-03-30-0" class="release-title">
                      Metabase 0.35
                    </a>
                  </div>

                  <span class="release-date"> Mar 2020 </span>
                </div>

                <a href="/releases/2020-03-30-0" class="release-subtitle">
                  Filter expressions, new functions, question references in
                  native queries, and performance enhancements.
                </a>

                <p>
                  Filter expressions, new functions, question references in
                  native queries, and performance enhancements.
                </p>

                <a href="/releases/2020-03-30-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2019 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a href="/releases/2019-12-19-0" class="release-title">
                      Metabase 0.34
                    </a>
                  </div>

                  <span class="release-date"> Dec 2019 </span>
                </div>

                <a href="/releases/2019-12-19-0" class="release-subtitle">
                  Mongo variables, chart labels
                </a>

                <p>
                  Mongo variables, labels on chart points, and timezone fixes.
                </p>

                <a href="/releases/2019-12-19-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2019 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a href="/releases/2019-08-19-0" class="release-title">
                      Metabase 0.33
                    </a>
                  </div>

                  <span class="release-date"> Aug 2019 </span>
                </div>

                <a href="/releases/2019-08-19-0" class="release-subtitle">
                  A tale of two modes
                </a>

                <p>Two new ways to ask questions in Metabase</p>

                <a href="/releases/2019-08-19-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2019 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a href="/releases/2019-03-28-0" class="release-title">
                      Metabase 0.32
                    </a>
                  </div>

                  <span class="release-date"> Mar 2019 </span>
                </div>

                <a href="/releases/2019-03-28-0" class="release-subtitle">
                  Plug in for performance
                </a>

                <p>Plug in for performance</p>

                <a href="/releases/2019-03-28-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2018 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a href="/releases/2018-11-08-0" class="release-title">
                      Metabase 0.31
                    </a>
                  </div>

                  <span class="release-date"> Nov 2018 </span>
                </div>

                <a href="/releases/2018-11-08-0" class="release-subtitle">
                  Visualize yourself in a new version of Metabase
                </a>

                <p>
                  Gauge charts and smart numbers, currency support, global and
                  per-field formatting, and more.
                </p>

                <a href="/releases/2018-11-08-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2018 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a href="/releases/2018-08-08-0" class="release-title">
                      Metabase 0.30
                    </a>
                  </div>

                  <span class="release-date"> Aug 2018 </span>
                </div>

                <a href="/releases/2018-08-08-0" class="release-subtitle">
                  Room to grow
                </a>

                <p>
                  Redesigned collections, pinning, search, comparison x-rays,
                  and conditional formatting!
                </p>

                <a href="/releases/2018-08-08-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2018 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2018-05-01-metabase-0"
                      class="release-title"
                    >
                      Metabase 0.29
                    </a>
                  </div>

                  <span class="release-date"> May 2018 </span>
                </div>

                <a
                  href="/releases/2018-05-01-metabase-0"
                  class="release-subtitle"
                >
                  Exploration at scale
                </a>

                <p>Automated explorations, filter search, Spark SQL</p>

                <a href="/releases/2018-05-01-metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2018 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2018-01-27-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.28
                    </a>
                  </div>

                  <span class="release-date"> Feb 2018 </span>
                </div>

                <a
                  href="/releases/2018-01-27-Metabase-0"
                  class="release-subtitle"
                >
                  Text cards, CSVs in Pulses, multi-select filters
                </a>

                <p>
                  Now with dashboard text cards, CSVs in Pulses, multi-select
                  dashboard filters, and more.
                </p>

                <a href="/releases/2018-01-27-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2017 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2017-11-28-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.27
                    </a>
                  </div>

                  <span class="release-date"> Nov 2017 </span>
                </div>

                <a
                  href="/releases/2017-11-28-Metabase-0"
                  class="release-subtitle"
                >
                  Alerts
                </a>

                <p>
                  Explore the Metabase 0.27 release notes from November 28,
                  2017, highlighting new features and improvements.
                </p>

                <a href="/releases/2017-11-28-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2017 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2017-09-05-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.26
                    </a>
                  </div>

                  <span class="release-date"> Sep 2017 </span>
                </div>

                <a
                  href="/releases/2017-09-05-Metabase-0"
                  class="release-subtitle"
                >
                  X-Rays
                </a>

                <p>
                  A new version of Metabase is out! Read Metabase 0.26 release
                  notes.
                </p>

                <a href="/releases/2017-09-05-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2017 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2017-07-24-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.25
                    </a>
                  </div>

                  <span class="release-date"> Jul 2017 </span>
                </div>

                <a
                  href="/releases/2017-07-24-Metabase-0"
                  class="release-subtitle"
                >
                  Summer shandy
                </a>

                <p>
                  A new version of Metabase is out! Read Metabase 0.25 release
                  notes.
                </p>

                <a href="/releases/2017-07-24-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2017 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2017-05-10-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.24
                    </a>
                  </div>

                  <span class="release-date"> May 2017 </span>
                </div>

                <a
                  href="/releases/2017-05-10-Metabase-0"
                  class="release-subtitle"
                >
                  Action menu, drill through, caching
                </a>

                <p>
                  A new version of Metabase is out! Read Metabase 0.24 release
                  notes.
                </p>

                <a href="/releases/2017-05-10-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2017 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2017-03-13-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.23
                    </a>
                  </div>

                  <span class="release-date"> Mar 2017 </span>
                </div>

                <a
                  href="/releases/2017-03-13-Metabase-0"
                  class="release-subtitle"
                >
                  Public sharing, embedding
                </a>

                <p>
                  A new version of Metabase is out! Read Metabase 0.23 release
                  notes.
                </p>

                <a href="/releases/2017-03-13-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2017 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2017-01-03-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.22
                    </a>
                  </div>

                  <span class="release-date"> Jan 2017 </span>
                </div>

                <a
                  href="/releases/2017-01-03-Metabase-0"
                  class="release-subtitle"
                >
                  Collections, custom calculated expressions
                </a>

                <p>
                  A new version of Metabase is out! Read Metabase 0.22 release
                  notes.
                </p>

                <a href="/releases/2017-01-03-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2016 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2016-12-05-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.21
                    </a>
                  </div>

                  <span class="release-date"> Dec 2016 </span>
                </div>

                <a
                  href="/releases/2016-12-05-Metabase-0"
                  class="release-subtitle"
                >
                  Drivers, Date and time filtering
                </a>

                <p>
                  A new version of Metabase is out! Read Metabase 0.21 release
                  notes.
                </p>

                <a href="/releases/2016-12-05-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2016 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2016-10-11-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.20
                    </a>
                  </div>

                  <span class="release-date"> Oct 2016 </span>
                </div>

                <a
                  href="/releases/2016-10-11-Metabase-0"
                  class="release-subtitle"
                >
                  Permissions
                </a>

                <p>
                  A new version of Metabase is out! Read Metabase 0.20 release
                  notes.
                </p>

                <a href="/releases/2016-10-11-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2016 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2016-07-28-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.19
                    </a>
                  </div>

                  <span class="release-date"> Jul 2016 </span>
                </div>

                <a
                  href="/releases/2016-07-28-Metabase-0"
                  class="release-subtitle"
                >
                  Data Model Reference, SQL Templates, Google Single Sign On
                </a>

                <p>
                  A new version of Metabase is out! Read Metabase 0.19 release
                  notes.
                </p>

                <a href="/releases/2016-07-28-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2016 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2016-06-20-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.18
                    </a>
                  </div>

                  <span class="release-date"> Jun 2016 </span>
                </div>

                <a
                  href="/releases/2016-06-20-Metabase-0"
                  class="release-subtitle"
                >
                  Summer's Here
                </a>

                <p>
                  A new version of Metabase is out! Read Metabase 0.18 release
                  notes.
                </p>

                <a href="/releases/2016-06-20-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2016 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2016-05-03-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.17
                    </a>
                  </div>

                  <span class="release-date"> May 2016 </span>
                </div>

                <a
                  href="/releases/2016-05-03-Metabase-0"
                  class="release-subtitle"
                >
                  Just in time for spring cleaning
                </a>

                <p>
                  A new version of Metabase is out! Read Metabase 0.17 release
                  notes.
                </p>

                <a href="/releases/2016-05-03-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2016 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2016-03-29-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.16
                    </a>
                  </div>

                  <span class="release-date"> Mar 2016 </span>
                </div>

                <a
                  href="/releases/2016-03-29-Metabase-0"
                  class="release-subtitle"
                >
                  A dash of bots
                </a>

                <p>
                  A new version of Metabase is out! Read Metabase 0.16 release
                  notes.
                </p>

                <a href="/releases/2016-03-29-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2016 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2016-02-29-Metabase-0"
                      class="release-title"
                    >
                      Metabase 0.15
                    </a>
                  </div>

                  <span class="release-date"> Feb 2016 </span>
                </div>

                <a
                  href="/releases/2016-02-29-Metabase-0"
                  class="release-subtitle"
                >
                  A Leap Forward
                </a>

                <p>
                  A new version of Metabase is out! Read Metabase 0.15 release
                  notes.
                </p>

                <a href="/releases/2016-02-29-Metabase-0" class="read-more">
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2016 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2016-01-28-metabase-v14-is-out"
                      class="release-title"
                    >
                      Metabase 0.14
                    </a>
                  </div>

                  <span class="release-date"> Jan 2016 </span>
                </div>

                <a
                  href="/releases/2016-01-28-metabase-v14-is-out"
                  class="release-subtitle"
                >
                  Segments, Metrics
                </a>

                <p>
                  A new version of Metabase is out! Read Metabase 0.14 release
                  notes.
                </p>

                <a
                  href="/releases/2016-01-28-metabase-v14-is-out"
                  class="read-more"
                >
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>

              <div class="roadmap__entry year-2015 two-by-one show">
                <div class="roadmap__entry__header">
                  <div>
                    <a
                      href="/releases/2015-12-03-a-new-version-is-out"
                      class="release-title"
                    >
                      Metabase 0.13
                    </a>
                  </div>

                  <span class="release-date"> Dec 2015 </span>
                </div>

                <a
                  href="/releases/2015-12-03-a-new-version-is-out"
                  class="release-subtitle"
                >
                  Pulses
                </a>

                <p>
                  Explore Metabase 0.13's new features like Pulses for automated
                  metrics, SSL support, and expanded database compatibility.
                </p>

                <a
                  href="/releases/2015-12-03-a-new-version-is-out"
                  class="read-more"
                >
                  Read more
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>
            </div>
          </div>

          <div class="roadmap__right-sidebar">
            <div>
              <div>
                <p><b>Subscribe to updates</b></p>
                <p class="subtitle">
                  Stay in touch with updates and news from Metabase. No spam,
                  ever.
                </p>

                <form
                  action="http://metabase.us10.list-manage.com/subscribe/post?u=869fec0e4689e8fd1db91e795&id=b9664113a8"
                  class="validate"
                  id="mc-embedded-subscribe-form"
                  method="post"
                  name="mc-embedded-subscribe-form"
                  novalidate=""
                  target="_blank"
                >
                  <div class="mc-field-group">
                    <div>
                      <input
                        class="required email input input-small bordered mr-2"
                        id="mce-EMAIL"
                        name="EMAIL"
                        placeholder="Email address"
                        style="flex-grow: 1;"
                        tabindex="-1"
                        type="email"
                        value=""
                      />

                      <input
                        class="Button Button--primary Button--small"
                        id="mc-embedded-subscribe"
                        name="subscribe"
                        type="submit"
                        value="Sign up"
                      />
                    </div>
                    <div class="clear" id="mce-responses">
                      <div
                        class="response"
                        id="mce-error-response"
                        style="display:none"
                      >
                      </div>
                      <div
                        class="response"
                        id="mce-success-response"
                        style="display:none"
                      >
                      </div>
                    </div>
                  </div>

                  <div style="position: absolute; left: -5000px;">
                    <input
                      name="b_869fec0e4689e8fd1db91e795_b9664113a8"
                      tabindex="-1"
                      type="text"
                      value=""
                    />
                  </div>
                </form>
              </div>
              <div>
                <p><b>Looking for detailed release notes?</b></p>
                <a href="/changelog" target="_blank">
                  See changelog
                  <img
                    alt="Chevron Blue Right"
                    class="chevron-blue-right"
                    src="/images/chevron_blue_right.svg"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
