---
import Base from "../layouts/Base.astro";
const title = "";
const description = "";
const seo = {
  canonical: "/subscribe-to-ai-newsletter-righthandside",
  og: { url: "/subscribe-to-ai-newsletter-righthandside" },
  twitter: {},
};
---

<Base {title} {description} {seo}>
  <div class="bootstrap">
    <div id="feedback-widget-newsletter-ajax-form-container">
      <form
        action="https://metabase.us10.list-manage.com/subscribe/post?u=869fec0e4689e8fd1db91e795&id=23c5a8c98e&f_id=00041be2f0"
        class="validate mc-ajax-form feedback-widget-newsletter-ajax-form"
        id="mc-embedded-subscribe-form"
        method="post"
        name="mc-embedded-subscribe-form"
        novalidate=""
        target="_blank"
      >
        <div class="mc-field-group">
          <div>
            <input
              id="mce-EMAIL"
              name="EMAIL"
              placeholder="Email address"
              type="email"
              value=""
            />

            <input type="hidden" name="SIGNUP_PAT" id="mce-SIGNUP_PAT" />
            <input type="hidden" name="UTM_SOURCE" />
            <input type="hidden" name="UTM_MEDIUM" />
            <input type="hidden" name="UTM_CAMPAI" />
            <input type="hidden" name="UTM_TERM" />
            <input type="hidden" name="UTM_CONTEN" />
            <input type="hidden" name="UTM_ID" />

            <input
              class="Button Button--primary Button--small"
              id="mc-embedded-subscribe"
              name="subscribe"
              type="submit"
              value="Subscribe"
            />
          </div>
          <div class="clear" id="mce-responses">
            <div class="response" id="mce-error-response" style="display:none">
            </div>
            <div
              class="response"
              id="mce-success-response"
              style="display:none"
            >
            </div>
          </div>
        </div>

        <div style="position: absolute; left: -5000px;">
          <input
            name="b_869fec0e4689e8fd1db91e795_b9664113a8"
            tabindex="-1"
            type="text"
            value=""
          />
        </div>
      </form>
    </div>
  </div>
</Base>
