---
import Base from "../layouts/Base.astro";
const title = "";
const description = "";
const seo = {
  canonical: "/subscribe-to-ai-newsletter-bottom-of-article",
  og: { url: "/subscribe-to-ai-newsletter-bottom-of-article" },
  twitter: {},
};
---

<Base {title} {description} {seo}>
  <div class="bootstrap">
    <div id="newsletter-ajax-form-container-below-article">
      <div>
        <form
          action="https://metabase.us10.list-manage.com/subscribe/post?u=869fec0e4689e8fd1db91e795&id=23c5a8c98e&f_id=00041be2f0"
          class="validate mc-ajax-form"
          id="mc-embedded-subscribe-form"
          method="post"
          name="mc-embedded-subscribe-form"
          novalidate=""
          target="_blank"
          data-form-id="3"
        >
          <div>
            <h5>Enjoyed this article?</h5>
            <h4>
              Get actionable insights<br />on AI and data directly to your inbox
              every week
            </h4>
          </div>

          <div class="mc-field-group">
            <div>
              <input
                id="mce-EMAIL"
                name="EMAIL"
                placeholder="Email address"
                type="email"
              />

              <input
                type="hidden"
                name="SIGNUP_PAT"
                id="mce-SIGNUP_PAT"
                value="test signup path"
              />

              <input type="hidden" name="UTM_SOURCE" />
              <input type="hidden" name="UTM_MEDIUM" />
              <input type="hidden" name="UTM_CAMPAI" />
              <input type="hidden" name="UTM_TERM" />
              <input type="hidden" name="UTM_CONTEN" />
              <input type="hidden" name="UTM_ID" />

              <input
                class="Button Button--primary Button--small"
                id="mc-embedded-subscribe"
                name="subscribe"
                type="submit"
                value="Subscribe"
              />
            </div>
            <div class="clear" id="mce-responses">
              <div
                class="response"
                id="mce-error-response"
                style="display:none"
              >
              </div>
              <div
                class="response"
                id="mce-success-response"
                style="display:none"
              >
              </div>
            </div>
            <h6>
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.75 12C4.75 7.99594 7.99594 4.75 12 4.75C16.0041 4.75 19.25 7.99594
  19.25 12C19.25 16.0041 16.0041 19.25 12 19.25C7.99594 19.25 4.75 16.0041 4.75
  12Z"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M9.75 12.75L10.1837
  13.6744C10.5275 14.407 11.5536 14.4492 11.9564 13.7473L14.25 9.75"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
              No spam, forever
            </h6>
          </div>

          <div style="position: absolute; left: -5000px;">
            <input
              name="b_869fec0e4689e8fd1db91e795_b9664113a8"
              tabindex="-1"
              type="text"
              value=""
            />
          </div>
        </form>

        <a
          class="illustration-container"
          href="https://us10.campaign-archive.com/?e=__test_email__&u=869fec0e4689e8fd1db91e795&id=04e0de83ca"
          target="_blank"
        >
          <div class="see-preview">
            <svg
              width="15"
              height="18"
              viewBox="0 0 15 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.4163 10.2554L7.20956 16.1204L1.5 12.6445"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M6.60556
  14.3929C6.60556 14.3929 5.39062 12.8742 5.39062 6.19204C5.39062 -0.49012
  13.8952 1.63598 13.8952 1.63598"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            See preview
          </div>
          <img
            src="/images/subscribe-to-ai-newsletter/newsletter.png"
            alt="Subscribe to AI Newsletter"
          />
          <div class="arrow">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="17"
              height="16"
              fill="none"
              class="arrow-up-right"
            >
              <g
                fill="white"
                fill-rule="evenodd"
                clip-path="url(#a)"
                clip-rule="evenodd"
              >
                <path
                  d="M3.726 12.773a.75.75 0 0 1 0-1.06l8.485-8.486a.75.75 0 1 1 1.061 1.06l-8.485 8.486a.75.75 0 0 1-1.06 0Z"
                ></path>
                <path
                  d="M12.742 12.993a.75.75 0 0 1-.75-.75V4.507H4.256a.75.75 0 1 1 0-1.5h8.486a.75.75 0 0 1 .75.75v8.486a.75.75 0 0 1-.75"
                >
                </path></g
              >
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</Base>
