---
import Base from "../../layouts/Base.astro";
const title = "Metabase 55";
const description =
  "Data visualizer for dashboard cards, database connection routing, development instances, and more";
const seo = {
  title: "Metabase 55",
  description:
    "Data visualizer for dashboard cards, database connection routing, development instances, and more",
  canonical: "/releases/metabase-55",
  og: {
    title: "Metabase 55",
    description:
      "Data visualizer for dashboard cards, database connection routing, development instances, and more",
    image: "https://www.metabase.com/images/posts/metabase-55/metabase-55.png",
    url: "https://www.metabase.com/releases/metabase-55",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Metabase 55",
    description:
      "Data visualizer for dashboard cards, database connection routing, development instances, and more",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/posts/metabase-55/metabase-55.png",
    creator: "The Metabase Team",
  },
};
---

<Base {title} {description} {seo}>
  <div class="MB-Page page-content">
    <div class="progress-bar z1" id="progress-bar"></div>

    <div class="bootstrap">
      <div class="release container pt-4" id="post">
        <section class="row">
          <div class="d-none d-lg-block col-lg-3">
            <a
              id="back-button"
              class="chevron blue-small-left mb-8 fw-bold"
              href="/releases"
            >
              All releases
            </a>
            <div id="in-this-release" class="d-flex flex-column pe-12">
              <h5 class="mb-6">In this release</h5>
            </div>
          </div>
          <div class="content-container col-xs-12 col-lg-9">
            <a
              class="chevron blue-small-left fw-bold d-lg-none mb-8"
              href="/releases">All releases</a
            >
            <div id="release-content">
              <div class="col-xs-12 col-lg-12 mb-8 p-0">
                <h4>Metabase 55</h4>
                <h1>
                  Data visualizer for dashboard cards, database connection
                  routing, development instances, and more
                </h1>
                <div class="header-credits">
                  <img
                    class="circle me-2"
                    src="/images/posts/blog-authors/the-metabase-team.svg"
                    alt="The Metabase Team Portrait"
                    width="36"
                    height="36"
                  />
                  <span>The Metabase Team</span>
                  · Jun 11, 2025 · 9 min read
                </div>
              </div>

              <div class="col-lg-8">
                <div style="width: ; margin-bottom: 2em;">
                  <div
                    class="youtube-container"
                    style="position: relative;
                    width: 100%;
                    height: 0;
                    padding-bottom: 56.25%"
                  >
                    <iframe
                      class="youtube-video"
                      style="position: absolute;
                         top: 0;
                         left: 0;
                         width: 100%;
                         height: 100%;
                         border: 0"
                      allowfullscreen=""
                      src="https://www.youtube.com/embed/0wKoZR0zJ6Q"
                    >
                    </iframe>
                  </div>
                </div>

                <ul>
                  <li>
                    <strong
                      >If you’re hosted on <a href="/cloud/">Metabase Cloud</a
                      ></strong
                    >, we’ll be rolling out these new features automatically in
                    the next few weeks. If you’d like to get it sooner, just let
                    us know. Email help@metabase.com and we’ll upgrade you.
                  </li>
                  <li>
                    <strong>If you’re self-hosting Metabase</strong>, you (or
                    your admin) can follow the docs on <a
                      href="/docs/latest/installation-and-operation/upgrading-metabase"
                      >how to upgrade</a
                    >.
                  </li>
                </ul>

                <p>
                  Feel like you <em>just</em> finished an upgrade? <a
                    href="/upgrade/">Try Metabase Cloud for free</a
                  > to get automatic upgrades and excellent technical support.
                </p>

                <h2
                  id="faster-easier-way-to-visualize-data-even-across-sources"
                >
                  Faster, easier way to visualize data (even across sources)
                </h2>

                <p>
                  <img
                    src="/images/posts/metabase-55/visualizer.jpg"
                    alt="visualizer"
                  />
                </p>

                <p>
                  The new visualizer offers a quicker way to get different cuts
                  of the same data without writing a new query - or even leaving
                  the dashboard editor.
                </p>

                <p>
                  This new visualizer for dashboard cards is just the beginning.
                  For now it works with some chart types, but we’re working on
                  expanding its capabilities and adding more chart types, so
                  stay tuned.
                </p>

                <h2 id="native-support-for-one-database-per-tenant-setups">
                  Native support for one-database-per-tenant setups
                </h2>

                <p>
                  <img
                    src="/images/posts/metabase-55/db-routing.jpg"
                    alt="db-routing"
                  />
                </p>

                <p>
                  No more cloning dashboards and assets for each tenant. With
                  database routing, admins can build dashboards and questions in
                  a primary database, then route the queries to the right
                  database based on user attributes. Database routing is ideal
                  for embedded analytics with strict data separation needs,
                  where each customers’ data is siloed at the database level.
                </p>

                <p>
                  <a href="/docs/latest/permissions/database-routing"
                    >Learn more about database routing in our docs</a>
                </p>

                <h2
                  id="development-instances-with-friendlier-pricing-both-self-hosted-and-on-metabase-cloud"
                >
                  Development instances with friendlier pricing (both
                  self-hosted and on Metabase Cloud)
                </h2>

                <p>
                  On Pro and Enterprise plans, you can now purchase a
                  development instance for either self-hosted or Metabase Cloud
                  deployments. Dev instances are billed as a flat fee, so you
                  don’t have to pay per test user. Developer instances are
                  watermarked and can’t be used in production.
                </p>

                <p>
                  You (or your Metabase admin) can create new Development
                  instances in your <a href="https://store.metabase.com/"
                    >Store settings</a
                  > by clicking ‘+ New Instance’.
                </p>

                <h2 id="faster-more-relevant-search-results">
                  Faster, more relevant search results
                </h2>

                <p>
                  We shipped faster and more relevant search results in v52 as
                  an opt-in only feature. After receiving a bunch of positive
                  feedback, we’re rolling it out as the default search algorithm
                  for all Metabases. To recap - it’s much faster - think around
                  3x. Secondly, results are more relevant with full-text search
                  that includes partial matches. We’ve also refined the rankings
                  to give more weight to things like content that’s more
                  popular, been viewed more recently, and more.
                </p>

                <h2 id="keyboard-shortcuts-everywhere">
                  Keyboard shortcuts everywhere
                </h2>

                <p>
                  <img
                    src="/images/posts/metabase-55/shortcuts.jpg"
                    alt="shortcuts"
                  />
                </p>

                <p>
                  Get around Metabase faster with global shortcuts. Where the
                  command palette (cmd + k) makes it easier to navigate and find
                  assets, these shortcuts make it easier to start doing stuff.
                  Create a question just by hitting c&gt;q. Start a dashboard
                  with c&gt;d . Press ? to view them all. It’s snappier, smarter
                  navigation, and only getting better.
                </p>

                <h2 id="row-level-access-control-now-supported-in-mongodb">
                  Row-level access control now supported in MongoDB
                </h2>

                <p>
                  Data sandboxing, Metabase’s form of row-level security, lets
                  you restrict which rows people can see based on their group
                  and user attributes.
                </p>

                <p>
                  With this update, admins can now safely filter data for
                  different user groups using column-based rules or group
                  attributes for MongoDB, just like you can for Postgres or
                  MySQL (e.g., “only show customers where <code
                    class="language-plaintext highlighter-rouge"
                    >company_id = user.company_id</code
                  >”).
                </p>

                <blockquote>
                  <p>
                    Note: Advanced sandboxing using custom views isn’t supported
                    on MongoDB yet, but we may consider it based on demand.
                  </p>
                </blockquote>

                <p>
                  <a href="/docs/latest/permissions/data-sandboxes"
                    >Learn more about data sandboxes in our docs</a>
                </p>

                <h2
                  id="its-true-boolean-filter-widgets-for-dashboards-are-here"
                >
                  It’s true: boolean filter widgets for dashboards are here
                </h2>

                <p>
                  <img
                    src="/images/posts/metabase-55/boolean.jpg"
                    alt="boolean"
                  />
                </p>

                <p>
                  This upgrades a workaround which previously required hooking
                  up boolean fields to text filters with T/F string values.
                  Dedicated boolean filters now behave and display the way they
                  should, and support custom columns and native boolean fields.
                  Are we ashamed of that headline? False.
                </p>

                <h2 id="new-custom-expressions-for-type-casting">
                  New custom expressions for type casting
                </h2>

                <p>
                  <img
                    src="/images/posts/metabase-55/custom-expressions.jpg"
                    alt="custom-expressions"
                  />
                </p>

                <p>
                  You can now work with data types more flexibly using new
                  functions in custom expressions - no SQL required.
                </p>

                <ul>
                  <li>
                    Cast text to floats - turn text-based decimal values, like <code
                      class="language-plaintext highlighter-rouge">123.45</code
                    > into numbers with the new <code
                      class="language-plaintext highlighter-rouge">float()</code
                    > function. This lets you do math, aggregations, and analysis
                    on string-stored data (e.g., survey ratings).
                  </li>
                  <li>
                    Cast floats or text to integers - <code
                      class="language-plaintext highlighter-rouge"
                      >integer()</code
                    > rounds decimals like <code
                      class="language-plaintext highlighter-rouge">round()</code
                    >, but more importantly, it converts numeric text integers
                    (e.g., turn <code
                      class="language-plaintext highlighter-rouge">“123”</code
                    > or <code class="language-plaintext highlighter-rouge"
                      >123.45</code
                    > into <code class="language-plaintext highlighter-rouge"
                      >123</code
                    >) which was a common request for filters and aggregations.
                  </li>
                  <li>
                    More date casting - new <code
                      class="language-plaintext highlighter-rouge"
                      >datetime()</code
                    > and <code class="language-plaintext highlighter-rouge"
                      >date</code
                    > functions let you convert full ISO strings or truncate datetime
                    values.
                  </li>
                  <li>
                    Expanded type-casting and string functions for more DBs -
                    functions like <code
                      class="language-plaintext highlighter-rouge">text()</code
                    >, <code class="language-plaintext highlighter-rouge"
                      >integer()</code
                    >, <code class="language-plaintext highlighter-rouge"
                      >date()</code
                    >, and <code class="language-plaintext highlighter-rouge"
                      >splitPart()</code
                    > now work across more databases — including MySQL, BigQuery,
                    Redshift, ClickHouse, and Snowflake.
                  </li>
                  <li>
                    Use literal values like text strings, numbers, and booleans
                    directly in custom expressions - great for reusable
                    constants (e.g., a commission rate) or annotating charts.
                  </li>
                </ul>

                <h2 id="support-for-multiple-catalogs-in-databricks">
                  Support for multiple catalogs in Databricks
                </h2>

                <p>
                  Until now, Metabase treated each catalog in Databricks as if
                  it were a separate database, which meant you couldn’t query or
                  join across catalogs.
                </p>

                <p>
                  Now, with multi-catalog support you can connect to multiple
                  Databricks catalogs in a single Metabase connection. You can
                  choose which catalogs you sync and set a default catalog so
                  you don’t have to include catalog names in every SQL query.
                  You can also now join tables across catalogs (just like you
                  would across schemas).
                </p>

                <p>
                  You can toggle on multi-catalog support for Databricks in your <a
                    href="/docs/latest/databases/connections/databricks#edit-connection-details"
                    >connection settings</a
                  >.
                </p>

                <h2 id="more-control-over-the-number-of-ticks-on-the-y-axis">
                  More control over the number of ticks on the y-axis
                </h2>

                <p>
                  Manage the intervals on the y-axis of your charts for as much
                  - or as little - granularity in your charts as you like.
                </p>

                <h2 id="more-accurate-pivot-table-downloads">
                  More accurate pivot table downloads
                </h2>

                <p>
                  Your pivot downloads now respect the correct aggregations,
                  with totals matching what you see in Metabase. This update
                  resolves some formatting and correctness issues when exporting
                  results as a native Excel PivotTable. Starting now, Metabase
                  will export pivoted data in a more reliable, non-native
                  format. <a
                    href="/docs/latest/questions/exporting-results#exporting-pivot-tables"
                    >Learn more</a
                  >.
                </p>

                <h2 id="segments-are-easier-to-use-and-edit">
                  Segments are easier to use and edit
                </h2>

                <p>
                  Segments let you save a combination of filters you can apply
                  to any query—kind of like how metrics let you save important
                  aggregations. Segments now show you which table they’re built
                  on, as well as some other improvements to make them easier to
                  work with.
                </p>

                <h2
                  id="better-logs-and-tools-for-troubleshooting-sync-and-scan-issues"
                >
                  Better logs and tools for troubleshooting sync and scan issues
                </h2>

                <p>
                  We’ve made it easier to troubleshoot issues with syncs, scans,
                  and fingerprinting. We’ve improved log formatting, and you can
                  now adjust log levels without restarting your instance, as
                  well as filter and sort logs by status, duration, or start/end
                  time.
                </p>

                <h2
                  id="clearer-differentiation-between-data-types-and-semantic-types"
                >
                  Clearer differentiation between data types and semantic types
                </h2>

                <p>
                  Metabase now enforces clearer rules around semantic types: you
                  can only apply semantic types that match the field’s
                  underlying data type (e.g., numeric types only on numeric
                  fields).
                </p>

                <p>
                  If you need to convert text-based numbers into actual numeric
                  fields, that’s now handled explicitly via a new coercion
                  strategy in Table Metadata. This makes casting more
                  intentional, and separates formatting/labeling from actual
                  type conversion.
                </p>

                <hr />

                <h2 id="embedded-analytics">Embedded Analytics</h2>

                <h3
                  id="more-control-over-download-options-for-questions-and-dashboards"
                >
                  More control over download options for questions and
                  dashboards
                </h3>

                <p>
                  In v51 we introduced PDF export and results downloads on
                  static embedding and public links. Admins on Pro or Enterprise
                  plans could disable both, but not one or the other. Now you
                  can get more selective about whether to allow one or the other
                  (Or both. Or none). This update replaces the deprecated <code
                    class="language-plaintext highlighter-rouge"
                    >hide_downloads</code
                  > parameter, which we removed in this release.
                </p>

                <p>
                  Download buttons on embedded dashboard cards are now more
                  prominent and adapt to your layout for a smoother experience.
                </p>

                <h3
                  id="the-embedded-analytics-sdk-now-supports-saml-authentication-in-addition-to-jwt-sso"
                >
                  The Embedded Analytics SDK now supports SAML authentication in
                  addition to JWT SSO
                </h3>

                <p>
                  You can now handle both SAML or JWT authentication on the
                  frontend. Handling auth on the frontend makes the SDK easier
                  to integrate in your app, gives you more flexibility in how
                  you authenticate people, and allows for better session
                  tracking.
                </p>

                <p>
                  There is a breaking change for those already using JWT. <a
                    href="/docs/latest/embedding/sdk/authentication#upgrade-guide-for-jwt-sso-setups-on-sdk-version-54-or-below"
                    >Find more info in our docs</a
                  >.
                </p>

                <hr />

                <h2 id="breaking-changes">Breaking changes</h2>

                <ul>
                  <li>
                    <p>
                      If you’re using the Embedded analytics SDK, you’ll need to <a
                        href="/docs/latest/embedding/sdk/authentication#upgrade-guide-for-jwt-sso-setups-on-sdk-version-54-or-below"
                        >change your frontend and backend code</a
                      >.
                    </p>

                    <ul>
                      <li>
                        Remove <code
                          class="language-plaintext highlighter-rouge"
                          >authProviderUri</code
                        > from all <code
                          class="language-plaintext highlighter-rouge"
                          >defineMetabaseAuthConfig</code
                        > calls.
                      </li>
                      <li>
                        If using custom <code
                          class="language-plaintext highlighter-rouge"
                          >fetchRequestToken</code
                        >: Update function signature and hardcode authentication
                        endpoint URLs.
                      </li>
                      <li>
                        Update backend endpoint to return <code
                          class="language-plaintext highlighter-rouge"
                          >&amp;#123; jwt: "token" &amp;#125;</code
                        > JSON response for SDK requests.
                      </li>
                    </ul>

                    <p>
                      See our <a
                        href="/docs/latest/embedding/sdk/authentication#upgrade-guide-for-jwt-sso-setups-on-sdk-version-54-or-below"
                        >upgrade guide</a
                      > for more information and code samples.
                    </p>
                  </li>
                  <li>
                    XLSX exports of pivot tables now export data into a plain
                    XLSX file instead of Excel-native PivotTable format
                    <ul>
                      <li>
                        The data is still exported as pivoted (when the
                        appropriate option is selected during export), but the
                        XLSX file will no longer use the Excel PivotTable
                        interface.
                      </li>
                      <li>
                        This change is due to the fact that Excel PivotTable
                        doesn’t natively support all the Metabase aggregation
                        functions, which lead to correctness issues in XLSX
                        exports.
                      </li>
                      <li>
                        If you require the use of Excel PivotTable, export
                        unaggregated data instead and pivot it in Excel
                        directly.
                      </li>
                    </ul>
                  </li>
                  <li>
                    Remove support for deprecated hide_download_button hash
                    parameter in static embedding. Use the downloads parameter
                    instead.
                  </li>
                </ul>

                <h2 id="big-thanks-to-everyone-who-contributed">
                  Big thanks to everyone who contributed!
                </h2>

                <p>
                  Thanks to all those who submitted bug reports, feature
                  suggestions, translations, and pull requests. Metabase gets
                  better and better thanks to your efforts.
                </p>

                <p>
                  Hope you enjoy the release. If you want to get into the
                  nitty-gritty, check out our <a
                    href="https://github.com/metabase/metabase/releases/"
                    >release notes in GitHub</a
                  >. To see what other features we have in the works, see our <a
                    href="/roadmap">product roadmap</a
                  >.
                </p>

                <p>Cheers, The Metabase team</p>
              </div>

              <div class="d-flex flex-column mt-11 d-lg-none">
                <h5 class="mb-3 neutral-40">Share this release</h5>
                <div class="d-flex align-items-center gap-3">
                  <a
                    href="https://twitter.com/intent/tweet?url=https://metabase.com/releases/metabase-55"
                    target="popup"
                    onclick="window.open('https://twitter.com/intent/tweet?url=https://metabase.com/releases/metabase-55','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"
                  >
                    <svg
                      id=""
                      class="share-button"
                      width="22"
                      height="22"
                      viewBox="0 0 26 22"
                      fill="#C6C9D2"
                    >
                      <path
                        d="M24.9465693,3.43255605 C24.0654891,3.83264574 23.1186277,4.10304933 22.1248175,4.22466368 C23.1392117,3.60206278 23.9181606,2.61623318 24.2849927,1.44161435 C23.3357664,2.01802691 22.2843212,2.43668161 21.1652555,2.66233184 C20.2690219,1.68466368 18.9922044,1.07372197 17.5791825,1.07372197 C14.8658686,1.07372197 12.6661022,3.32600897 12.6661022,6.10403587 C12.6661022,6.49829596 12.709635,6.88224215 12.7933723,7.25040359 C8.71021898,7.0406278 5.09016058,5.03793722 2.6670365,1.99452915 C2.24414599,2.73748879 2.00186861,3.60161435 2.00186861,4.52349776 C2.00186861,6.26869955 2.86928467,7.80843049 4.18753285,8.71049327 C3.38213139,8.68439462 2.62464234,8.45811659 1.96218978,8.08134529 C1.96183942,8.10233184 1.96183942,8.12340807 1.96183942,8.14457399 C1.96183942,10.5818834 3.65532847,12.6150673 5.90283212,13.07713 C5.49054015,13.1921076 5.05652555,13.2535426 4.60840876,13.2535426 C4.29185401,13.2535426 3.98405839,13.2220628 3.68414599,13.1633184 C4.30928467,15.1618834 6.12364964,16.6162332 8.27348905,16.656861 C6.59208759,18.006009 4.47369343,18.8102242 2.1719708,18.8102242 C1.77544526,18.8102242 1.38435036,18.7864574 1,18.74 C3.17418978,20.1672646 5.75664234,21 8.53109489,21 C17.567708,21 22.5092555,13.3347982 22.5092555,6.68735426 C22.5092555,6.46923767 22.5045255,6.252287 22.4950657,6.03659193 C23.4548905,5.32735426 24.2878832,4.44134529 24.9465693,3.43255605"
                      >
                      </path>
                    </svg>
                  </a>
                  <a
                    href="https://www.linkedin.com/sharing/share-offsite/?url=https://metabase.com/releases/metabase-55"
                    target="popup"
                    onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url=https://metabase.com/releases/metabase-55','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"
                  >
                    <svg
                      id=""
                      class="share-button"
                      fill="#C6C9D2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 30 30"
                      width="30"
                      height="30"
                    >
                      <path
                        d="M24,4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18c1.105,0,2-0.895,2-2V6C26,4.895,25.105,4,24,4z M10.954,22h-2.95 v-9.492h2.95V22z M9.449,11.151c-0.951,0-1.72-0.771-1.72-1.72c0-0.949,0.77-1.719,1.72-1.719c0.948,0,1.719,0.771,1.719,1.719 C11.168,10.38,10.397,11.151,9.449,11.151z M22.004,22h-2.948v-4.616c0-1.101-0.02-2.517-1.533-2.517 c-1.535,0-1.771,1.199-1.771,2.437V22h-2.948v-9.492h2.83v1.297h0.04c0.394-0.746,1.356-1.533,2.791-1.533 c2.987,0,3.539,1.966,3.539,4.522V22z"
                      ></path>
                    </svg>
                  </a>
                  <a
                    class="copy-clip position-relative d-flex justify-content-center"
                    title="Copy to clipboard"
                  >
                    <svg
                      id=""
                      class="share-button"
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="#C6C9D2"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M19.2939 9.17106C19.5246 8.93228 19.8004 8.74183 20.1054 8.61081C20.4104 8.47978 20.7385 8.41082 21.0704 8.40793C21.4024 8.40505 21.7316 8.4683 22.0388 8.59401C22.3461 8.71971 22.6252 8.90534 22.8599 9.14007C23.0947 9.3748 23.2803 9.65393 23.406 9.96117C23.5317 10.2684 23.595 10.5976 23.5921 10.9296C23.5892 11.2615 23.5202 11.5896 23.3892 11.8946C23.2582 12.1996 23.0677 12.4754 22.8289 12.7061L19.0789 16.4561C18.6101 16.9247 17.9744 17.188 17.3114 17.188C16.6485 17.188 16.0128 16.9247 15.5439 16.4561C15.3082 16.2284 14.9924 16.1024 14.6647 16.1052C14.3369 16.1081 14.0234 16.2395 13.7917 16.4713C13.5599 16.703 13.4284 17.0166 13.4256 17.3443C13.4228 17.6721 13.5487 17.9878 13.7764 18.2236C14.7141 19.1609 15.9856 19.6875 17.3114 19.6875C18.6373 19.6875 19.9088 19.1609 20.8464 18.2236L24.5964 14.4736C25.5072 13.5305 26.0112 12.2675 25.9998 10.9566C25.9884 9.64557 25.4626 8.39151 24.5355 7.46447C23.6085 6.53743 22.3544 6.01158 21.0434 6.00019C19.7325 5.9888 18.4695 6.49277 17.5264 7.40356L15.6514 9.27856C15.5321 9.39387 15.4368 9.5318 15.3713 9.6843C15.3058 9.83681 15.2713 10.0008 15.2699 10.1668C15.2684 10.3328 15.3001 10.4974 15.3629 10.651C15.4258 10.8046 15.5186 10.9442 15.6359 11.0616C15.7533 11.1789 15.8929 11.2717 16.0465 11.3346C16.2001 11.3974 16.3647 11.4291 16.5307 11.4276C16.6967 11.4262 16.8607 11.3917 17.0132 11.3262C17.1657 11.2607 17.3036 11.1654 17.4189 11.0461L19.2939 9.17106ZM13.0439 15.4211C13.5128 14.9524 14.1485 14.6891 14.8114 14.6891C15.4744 14.6891 16.1101 14.9524 16.5789 15.4211C16.6942 15.5404 16.8322 15.6357 16.9847 15.7012C17.1372 15.7667 17.3012 15.8012 17.4672 15.8026C17.6332 15.8041 17.7978 15.7724 17.9514 15.7096C18.105 15.6467 18.2446 15.5539 18.3619 15.4366C18.4793 15.3192 18.5721 15.1796 18.635 15.026C18.6978 14.8724 18.7294 14.7078 18.728 14.5418C18.7266 14.3758 18.6921 14.2118 18.6266 14.0593C18.5611 13.9068 18.4658 13.7689 18.3464 13.6536C17.4088 12.7162 16.1373 12.1896 14.8114 12.1896C13.4856 12.1896 12.2141 12.7162 11.2764 13.6536L7.52644 17.4036C7.04889 17.8648 6.66798 18.4165 6.40593 19.0265C6.14389 19.6366 6.00596 20.2927 6.00019 20.9566C5.99442 21.6205 6.12093 22.2788 6.37233 22.8933C6.62374 23.5078 6.995 24.0661 7.46447 24.5355C7.93393 25.005 8.49219 25.3763 9.10667 25.6277C9.72115 25.8791 10.3796 26.0056 11.0434 25.9998C11.7073 25.994 12.3634 25.8561 12.9735 25.5941C13.5835 25.332 14.1352 24.9511 14.5964 24.4736L16.4714 22.5986C16.5908 22.4833 16.6861 22.3453 16.7516 22.1928C16.8171 22.0403 16.8516 21.8763 16.853 21.7103C16.8544 21.5443 16.8228 21.3797 16.76 21.2261C16.6971 21.0725 16.6043 20.9329 16.4869 20.8156C16.3696 20.6982 16.23 20.6054 16.0764 20.5425C15.9228 20.4797 15.7582 20.4481 15.5922 20.4495C15.4262 20.4509 15.2622 20.4854 15.1097 20.5509C14.9572 20.6164 14.8192 20.7117 14.7039 20.8311L12.8289 22.7061C12.5983 22.9448 12.3225 23.1353 12.0175 23.2663C11.7124 23.3973 11.3844 23.4663 11.0524 23.4692C10.7205 23.4721 10.3913 23.4088 10.0841 23.2831C9.77682 23.1574 9.49769 22.9718 9.26295 22.737C9.02822 22.5023 8.84259 22.2232 8.71689 21.9159C8.59118 21.6087 8.52793 21.2795 8.53082 20.9476C8.5337 20.6156 8.60267 20.2876 8.73369 19.9825C8.86471 19.6775 9.05517 19.4017 9.29394 19.1711L13.0439 15.4211Z"
                      ></path>
                    </svg>

                    <div class="copied-to-clipboard-wrapper visible invisible">
                      <div class="caret"></div>
                      <div class="copied-to-clipboard">Copied to clipboard</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-16">
              <iframe
                id="post-signup-form-1"
                src="../post-signup-form.html"
                width="100%"
                height="200px"
                onload="javascript:(function(o){
        o.style.height=o.contentWindow.document.getElementById('mc_embed_signup').offsetHeight+'px';

        const resizeObserver = new ResizeObserver(function(entries) {
            const $firstEntry = entries[0];
            if ($firstEntry && $firstEntry.borderBoxSize && $firstEntry.borderBoxSize[0]) {
                const $form = $firstEntry.borderBoxSize[0];
                if ($form) {
                    o.style.height = $form.blockSize + 'px';
                }
            }
        });
        resizeObserver.observe(o.contentWindow.document.getElementById('mc_embed_signup'));
    }(this));"
                style="border:none;overflow:hidden;"></iframe>
            </div>
          </div>
        </section>

        <section>
          <div class="d-flex flex-row justify-content-between">
            <h3 class="mb-0">See previous releases</h3>
            <a
              class="chevron blue-small-right fw-bold d-none d-lg-flex"
              href="/releases">All releases</a
            >
          </div>
          <div class="row mt-10 mt-lg-13">
            <div class="hover-raise-sm col-xs-12 col-lg-6 mb-8 mb-lg-0">
              <div
                class="card hover-shadow hover-pointer border-0 rounded-3 p-6"
              >
                <p class="paragraph-5 neutral-60 fw-bold mb-3">Apr 2025</p>
                <h4 class="mb-4">Metabase 54</h4>
                <p class="paragraph-5 neutral-60 mb-0">
                  New ways to explore, visualize, and manage your data: it’s all
                  here in Metabase 54. If you’re hosted on Metabase Cloud, we’ll
                  be rolling out these new features automatically in the next
                  few wee...
                </p>
                <a href="/releases/metabase-54" class="stretched-link h-0"></a>
              </div>
            </div>

            <div class="hover-raise-sm col-xs-12 col-lg-6 mb-8 mb-lg-0">
              <div
                class="card hover-shadow hover-pointer border-0 rounded-3 p-6"
              >
                <p class="paragraph-5 neutral-60 fw-bold mb-3">Feb 2025</p>
                <h4 class="mb-4">Metabase 53</h4>
                <p class="paragraph-5 neutral-60 mb-0">
                  We’re at it again with Metabase 53, making your dashboards,
                  queries, and—hopefully—your life more intuitive, contextual,
                  and performant. Let’s get into it. If you’re hosted on
                  Metabase Cloud, w...
                </p>
                <a href="/releases/metabase-53" class="stretched-link h-0"></a>
              </div>
            </div>
          </div>
          <a
            class="chevron blue-small-right fw-bold d-flex d-lg-none"
            href="/releases">All releases</a
          >
        </section>

        <section>
          <div class="rounded-4 no-overflow">
            <div class="get-started">
              <div class="container">
                <div class="pt0">
                  <div class="text-centered bootstrap">
                    <h2
                      class="large mt0 neutral-white"
                      style="margin-bottom: 16px"
                    >
                      Get started with Metabase
                    </h2>
                    <div
                      class="d-flex justify-content-center align-items-center gap-2"
                    >
                      <a
                        class="fs-13 Button Button--primary rounded-3 ms-lg-2 py-3 lh-base"
                        href="https://store.metabase.com/checkout"
                        >Get started</a
                      >
                    </div>
                    <ul class="horizontal-checklist mt-6">
                      <li>Free, no-commitment trial</li>
                      <li>Easy for everyone—no SQL required</li>
                      <li>Up and running in 5 minutes</li>
                    </ul>
                    <div class="img-placeholder ml-auto mr-auto"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
