---
import Base from "../../layouts/Base.astro";
const title = "Metabase 47";
const description =
  "This release has something for everyone. CSV uploads, PDF downloads, searching, serialization, and more.";
const seo = {
  title: "Metabase 47",
  description:
    "This release has something for everyone. CSV uploads, PDF downloads, searching, serialization, and more.",
  canonical: "/releases/Metabase-47",
  og: {
    title: "Metabase 47",
    description:
      "This release has something for everyone. CSV uploads, PDF downloads, searching, serialization, and more.",
    image: "https://www.metabase.com/images/posts/metabase-47/metabase-47.png",
    url: "https://www.metabase.com/releases/Metabase-47",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Metabase 47",
    description:
      "This release has something for everyone. CSV uploads, PDF downloads, searching, serialization, and more.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/posts/metabase-47/metabase-47.png",
    creator: "The Metabase Team",
  },
};
---

<Base {title} {description} {seo}>
  <div class="MB-Page page-content">
    <div class="progress-bar z1" id="progress-bar"></div>

    <div class="bootstrap">
      <div class="release container pt-4" id="post">
        <section class="row">
          <div class="d-none d-lg-block col-lg-3">
            <a
              id="back-button"
              class="chevron blue-small-left mb-8 fw-bold"
              href="/releases"
            >
              All releases
            </a>
            <div id="in-this-release" class="d-flex flex-column pe-12">
              <h5 class="mb-6">In this release</h5>
            </div>
          </div>
          <div class="content-container col-xs-12 col-lg-9">
            <a
              class="chevron blue-small-left fw-bold d-lg-none mb-8"
              href="/releases">All releases</a
            >
            <div id="release-content">
              <div class="col-xs-12 col-lg-12 mb-8 p-0">
                <h4>Metabase 47</h4>
                <h1>
                  Better looking dashboards, CSVs, better serialization and more
                </h1>
                <div class="header-credits">
                  <img
                    class="circle me-2"
                    src="/images/posts/blog-authors/the-metabase-team.svg"
                    alt="The Metabase Team Portrait"
                    width="36"
                    height="36"
                  />
                  <span>The Metabase Team</span>
                  · Sep 19, 2023 · 7 min read
                </div>
              </div>

              <div class="col-lg-8">
                <div style="width: ; margin-bottom: 2em;">
                  <div
                    class="youtube-container"
                    style="position: relative;
                    width: 100%;
                    height: 0;
                    padding-bottom: 56.25%"
                  >
                    <iframe
                      class="youtube-video"
                      style="position: absolute;
                         top: 0;
                         left: 0;
                         width: 100%;
                         height: 100%;
                         border: 0"
                      allowfullscreen=""
                      src="https://www.youtube.com/embed/QgIJQk4e87c"
                    >
                    </iframe>
                  </div>
                </div>

                <p>
                  Metabase 47 has got something in it for everyone—CSV uploads,
                  PDF downloads, searching, serialization, and more.
                </p>

                <ul>
                  <li>
                    <strong
                      >If you’re hosted on <a href="/pricing/">Metabase Cloud</a
                      ></strong
                    >, we’ll be rolling out these new features automatically
                    over the next few weeks.
                  </li>
                  <li>
                    <strong>If you’re self-hosting</strong>, you (or your admin)
                    can follow the docs on <a
                      href="/docs/latest/installation-and-operation/upgrading-metabase"
                      >how to upgrade</a
                    >.
                  </li>
                </ul>

                <p>
                  Tired of managing your instance? <a href="/upgrade/"
                    >Upgrade to a hosted plan</a
                  > and leave it to us.
                </p>

                <h2 id="dashboards-got-revamped">Dashboards got revamped</h2>

                <p>
                  <img
                    src="/images/releases/dashboard-short.gif"
                    alt="Dashboards"
                  />
                </p>

                <p>
                  If you spend any time at all in Metabase, a good chunk of that
                  time will be spent <a
                    href="/docs/latest/dashboards/introduction"
                    >playing around with dashboards</a
                  >, so we’ve made a LOT of improvements, big and small, to make
                  that experience better all around.
                </p>

                <ul>
                  <li>
                    <p>
                      <strong
                        >Download dashboards to PDF for reporting and sharing
                        made easier</strong
                      >
                      Skip the screenshots! One-click <a
                        href="/docs/latest/questions/exporting-results#exporting-results-of-a-dashboard"
                        >PDF export</a
                      > is now available for dashboards. For embedded dashboards,
                      only interactive embeds include PDF exports (PDF exports are
                      unavailable for static embeds). This expands on the recently
                      released PNG downloads for charts.
                    </p>
                  </li>
                  <li>
                    <strong
                      >Keep dashboards organized with tabbed navigation</strong
                    >
                    <a
                      href="/docs/latest/dashboards/introduction#dashboard-tabs"
                      >Chunk dashboards down</a
                    > into smaller sections to keep them easier to browse and absorb,
                    all while keeping everything in one page.
                  </li>
                  <li>
                    <strong
                      >Guide your team to the most valuable info by setting your
                      home page to a dashboard</strong
                    >
                    Provide a clearer path to self-service by putting the most relevant
                    dashboard right in front of people as soon as they open Metabase.
                    In addition to recently added <a
                      href="/docs/latest/dashboards/introduction#link-cards"
                      >link cards</a
                    >, it’s easier to shepherd people to the right data.
                  </li>
                  <li>
                    <strong
                      >Get more control over your dashboard setup with a more
                      granular grid</strong
                    >
                    We can’t make new space (physics or something), but we can give
                    you more flexibility over it by taking the grid from 18 squares
                    across to 24. Now you can get your dashboards closer to how you
                    want them to look, with more symmetry and precise placement.
                  </li>
                  <li>
                    <strong
                      >Choose when dashboards apply filters and reload</strong
                    >
                    Slow dashboards can become annoying when filters automatically
                    apply before you’re done making your selection. Now we’ll detect
                    if it’s a slow dashboard, and switch to only applying filters
                    once you say so. You can also configure this manually whenever
                    you want.
                  </li>
                  <li>
                    <strong
                      >Flow between dashboards and questions smoothly for
                      quicker edits</strong
                    >
                    Not only is there now a back button for a very easy path from
                    dashboard → question → dashboard, we cache results now for faster
                    load times and less hammering your DB. Jump directly from dashboard
                    edit mode to a question. And back again.
                  </li>
                  <li>
                    <strong
                      >Hide dashboard cards when they don’t return results</strong
                    >
                    Keep things tidy and easier to consume by setting cards to not
                    display if the results haven’t changed. This is especially useful
                    in an operational dashboard, like a customer view, where a list
                    may be empty.
                  </li>
                  <li>
                    <strong>Keep the flow when building dashboards</strong>
                    We’ll remember the last dashboard you viewed and suggest it as
                    the default to save a new question to. It’s the little things.
                  </li>
                  <li>
                    <strong
                      >Keep dashboards organized with full-width headings</strong
                    >
                    Pairs well with dashboard tabs for clear structure and readability.
                  </li>
                </ul>

                <p>
                  Our Head of Product Design, Maz Ameli, made a video
                  walkthrough of how to <a
                    href="/events/building-metabase-dashboards-like-a-pro"
                    >build dashboards like a pro</a
                  > using some of these new features (alongside some old favorites).
                </p>

                <h2 id="upload-and-analyze-data-from-csv">
                  Upload and analyze data from CSV
                </h2>

                <p>
                  <img
                    src="/images/posts/metabase-47/csv-upload.gif"
                    alt="csv-upload"
                  />
                </p>

                <p>
                  This long-awaited and heavily requested feature is finally
                  here! <a href="/product/csv-uploads">CSV upload</a> allows you
                  to bring together more data sources, faster, and apply the full
                  power of Metabase to your spreadsheets. Anyone can start analyzing
                  data without it having to be ETL’d in, and join with existing data
                  from a database. CSV uploads are supported for Postgres and MySQL
                  right now. CSVs are uploaded straight into collections, becoming
                  models, and admins can choose the schema where they go.
                </p>

                <p>
                  <a href="/docs/latest/databases/uploads"
                    >Find out more about CSV uploads and how to use them here</a
                  >.
                </p>

                <h2 id="powered-up-pro-features">Powered-up Pro features</h2>

                <p>
                  Our <a href="/product/pro">Pro</a> and <a
                    href="/product/enterprise">Enterprise</a
                  > plans ship with advanced buttons and levers to make lighter work
                  of managing your Metabase, people, and permissions.
                </p>

                <h3
                  id="we-overhauled-serialization-to-improve-exporting-and-importing-your-metabase-data"
                >
                  We overhauled serialization to improve exporting and importing
                  your Metabase data
                </h3>

                <p>
                  We’ve made some serious upgrades to <a
                    href="/docs/latest/installation-and-operation/serialization"
                    >serialization</a
                  > to get beyond just instance portability to enable <a
                    href="/learn/metabase-basics/administration/administration-and-operation/git-based-workflow"
                    >git-based workflows</a
                  >. Now you can go from development to git with <code
                    class="language-plaintext highlighter-rouge">export</code
                  >, and from git to production with <code
                    class="language-plaintext highlighter-rouge">import</code
                  >.
                </p>

                <p>
                  Headline changes that take serialization from 1.0 to 2.0
                  include: more selective serialization, loading internal
                  references, deduplication, better performance, and more.
                </p>

                <p>
                  This update comes with a few changes, including new commands
                  and differences in the <code
                    class="language-plaintext highlighter-rouge">export</code
                  > file structure. <a
                    href="/docs/latest/installation-and-operation/serialization"
                    >Learn more in our docs</a
                  >.
                </p>

                <h3
                  id="row-level-sql-permissions-with-connection-impersonation"
                >
                  Row-level SQL permissions with connection impersonation
                </h3>

                <p>
                  <img
                    src="/images/posts/metabase-47/SQL-Impersonation.jpg"
                    alt="connection-impersonation"
                  />
                </p>

                <p>
                  You can now <a href="/docs/latest/permissions/impersonation"
                    >configure database-side roles</a
                  > (think <code class="language-plaintext highlighter-rouge"
                    >USE ROLE</code
                  > or <code class="language-plaintext highlighter-rouge"
                    >SET ROLE</code
                  >) when querying. This means you can give a group access to
                  the native/SQL editor, while restricting the group’s access to
                  data based on a specific database role, centralizing
                  permissions on the DB. This is currently available with
                  Postgres and Snowflake to start.
                </p>

                <h2 id="fresh-new-icons">Fresh new icons</h2>

                <p>
                  <img
                    src="/images/posts/metabase-47/optimized-sync.jpg"
                    alt="icons"
                  />
                </p>

                <p>
                  New look, who ‘dis? You probably don’t need this one pointed
                  out, but we couldn’t not give it a little shout out. Icons got
                  prettier, but also clearer and more consistent.
                </p>

                <h2 id="other-things-that-got-better">
                  Other things that got better
                </h2>

                <ul>
                  <li>
                    <strong>Your data made more searchable:</strong>
                    Type in a customer’s name, like Acme, Inc. and we’ll surface
                    specific rows - not just the Customer model or table. This can
                    be defined in your model at the column level, allowing you to
                    bypass having to click into the model, collection, or table a
                    row exists in. We’re also no longer searching within SQL queries,
                    so search performance is now anywhere between 2 and 30 times
                    faster, depending on the contents of your instance.
                  </li>
                  <li>
                    <strong>Actions got some more love:</strong>
                    We’re continuing to iterate on the recently released <a
                      href="/docs/latest/actions/introduction">actions</a
                    > by making it easier to edit an action in place, and allowing
                    form fields to be hidden.
                  </li>
                  <li>
                    <strong
                      >Single-tenant hosting in our Enterprise tier:</strong
                    >
                    Your analytics on a proverbial desert island with no noisy neighbors.
                    Our <a href="/security"
                      >multi-tenant cloud-hosting already prioritizes isolation</a
                    >, with single-tenancy you get a dedicated database.
                  </li>
                  <li>
                    <strong>Drill-throughs are more intuitive:</strong>
                    We’ve changed up some of the language and symbols on the drill-through
                    modal to be clearer and more intuitive. Try clicking a cell in
                    a table or data point in a chart to see them in action.
                  </li>
                  <li>
                    <strong>X-ray models:</strong>
                    The same magic you get for tables, now also for models.
                  </li>
                  <li>
                    <strong>Metabase in Latvian!</strong>
                    Sveiki! Thanks to our contributors who have made Metabase in
                    Latvian a reality!
                  </li>
                </ul>

                <h2 id="fyi--breaking-changes">FYI / Breaking changes</h2>

                <ul>
                  <li>
                    We recently had a vulnerability which required all Metabase
                    instances to be upgraded. You can read a <a
                      href="/blog/vulnerability-post-mortem"
                      >full post-mortem on our blog</a
                    >. 47 includes all of the security patches. If you haven’t
                    yet upgraded, please do so immediately. We apologize for any
                    inconvenience this has caused.
                  </li>
                  <li>
                    We’re removing the <code
                      class="language-plaintext highlighter-rouge"
                      >POST /api/database/:id/sync</code
                    > API endpoint. If you’re using this endpoint to sync and scan
                    your database, we recommend using <code
                      class="language-plaintext highlighter-rouge"
                      >POST /api/notify/db/:id</code
                    >, or <code class="language-plaintext highlighter-rouge"
                      >POST /api/database/:id/sync_schema</code
                    > followed by <code
                      class="language-plaintext highlighter-rouge"
                      >POST /api/database/:id/rescan_values</code
                    >.
                  </li>
                  <li>
                    We removed two endpoints for bulk editing dashboard cards:
                    <code class="language-plaintext highlighter-rouge"
                      >DELETE /api/dashboard/:id/cards</code
                    >
                    <code class="language-plaintext highlighter-rouge"
                      >POST /api/dashboard/:id/cards</code
                    ><br />
                    To create, update, and delete dashboard cards in bulk, use <code
                      class="language-plaintext highlighter-rouge"
                      >PUT /api/dashboard/:id/cards</code
                    >. <a href="/docs/latest/api"
                      >More info in our documentation</a
                    >.
                  </li>
                  <li>
                    The Google Analytics driver will be removed with the next
                    release as Google is retiring GA3 and we’ve decided not to
                    build a GA4 driver.
                  </li>
                  <li>
                    <em>Data Model</em> in Admin Settings is now <em
                      >Table Metadata</em
                    >. This admin section was often confused with Models, so we
                    renamed it.
                  </li>
                </ul>

                <h2 id="take-a-tour-of-47-with-us">
                  Take a tour of 47 with us
                </h2>

                <p>
                  Join our product team on October 4 for a live walkthrough of
                  these new features. <a
                    href="/events/metabase-47-release-webinar"
                    >RSVP for the webinar here</a
                  > to make sure you don’t miss it.
                </p>

                <p>
                  Or if you want to get into the nitty-gritty, check out our
                  release notes to see everything we’ve been up to:
                </p>

                <ul>
                  <li>
                    <a
                      href="https://github.com/metabase/metabase/releases/tag/v0.47.2"
                      >OSS/Starter</a>
                  </li>
                  <li>
                    <a
                      href="https://github.com/metabase/metabase/releases/tag/v1.47.2"
                      >Pro/Enterprise</a>
                  </li>
                </ul>

                <h2 id="big-thanks-to-everyone-who-contributed">
                  Big thanks to everyone who contributed!
                </h2>

                <p>
                  Thanks to all those who submitted bug reports, feature
                  suggestions, translations, and pull requests. Metabase gets
                  better and better thanks to your efforts.
                </p>

                <p>
                  Hope you enjoy the release. To see what other features we have
                  in the works, check out our <a href="/roadmap"
                    >product roadmap</a
                  >.
                </p>

                <p>Cheers,</p>

                <p>The Metabase Team</p>
              </div>

              <div class="d-flex flex-column mt-11 d-lg-none">
                <h5 class="mb-3 neutral-40">Share this release</h5>
                <div class="d-flex align-items-center gap-3">
                  <a
                    href="https://twitter.com/intent/tweet?url=https://metabase.com/releases/Metabase-47"
                    target="popup"
                    onclick="window.open('https://twitter.com/intent/tweet?url=https://metabase.com/releases/Metabase-47','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"
                  >
                    <svg
                      id=""
                      class="share-button"
                      width="22"
                      height="22"
                      viewBox="0 0 26 22"
                      fill="#C6C9D2"
                    >
                      <path
                        d="M24.9465693,3.43255605 C24.0654891,3.83264574 23.1186277,4.10304933 22.1248175,4.22466368 C23.1392117,3.60206278 23.9181606,2.61623318 24.2849927,1.44161435 C23.3357664,2.01802691 22.2843212,2.43668161 21.1652555,2.66233184 C20.2690219,1.68466368 18.9922044,1.07372197 17.5791825,1.07372197 C14.8658686,1.07372197 12.6661022,3.32600897 12.6661022,6.10403587 C12.6661022,6.49829596 12.709635,6.88224215 12.7933723,7.25040359 C8.71021898,7.0406278 5.09016058,5.03793722 2.6670365,1.99452915 C2.24414599,2.73748879 2.00186861,3.60161435 2.00186861,4.52349776 C2.00186861,6.26869955 2.86928467,7.80843049 4.18753285,8.71049327 C3.38213139,8.68439462 2.62464234,8.45811659 1.96218978,8.08134529 C1.96183942,8.10233184 1.96183942,8.12340807 1.96183942,8.14457399 C1.96183942,10.5818834 3.65532847,12.6150673 5.90283212,13.07713 C5.49054015,13.1921076 5.05652555,13.2535426 4.60840876,13.2535426 C4.29185401,13.2535426 3.98405839,13.2220628 3.68414599,13.1633184 C4.30928467,15.1618834 6.12364964,16.6162332 8.27348905,16.656861 C6.59208759,18.006009 4.47369343,18.8102242 2.1719708,18.8102242 C1.77544526,18.8102242 1.38435036,18.7864574 1,18.74 C3.17418978,20.1672646 5.75664234,21 8.53109489,21 C17.567708,21 22.5092555,13.3347982 22.5092555,6.68735426 C22.5092555,6.46923767 22.5045255,6.252287 22.4950657,6.03659193 C23.4548905,5.32735426 24.2878832,4.44134529 24.9465693,3.43255605"
                      >
                      </path>
                    </svg>
                  </a>
                  <a
                    href="https://www.linkedin.com/sharing/share-offsite/?url=https://metabase.com/releases/Metabase-47"
                    target="popup"
                    onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url=https://metabase.com/releases/Metabase-47','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"
                  >
                    <svg
                      id=""
                      class="share-button"
                      fill="#C6C9D2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 30 30"
                      width="30"
                      height="30"
                    >
                      <path
                        d="M24,4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18c1.105,0,2-0.895,2-2V6C26,4.895,25.105,4,24,4z M10.954,22h-2.95 v-9.492h2.95V22z M9.449,11.151c-0.951,0-1.72-0.771-1.72-1.72c0-0.949,0.77-1.719,1.72-1.719c0.948,0,1.719,0.771,1.719,1.719 C11.168,10.38,10.397,11.151,9.449,11.151z M22.004,22h-2.948v-4.616c0-1.101-0.02-2.517-1.533-2.517 c-1.535,0-1.771,1.199-1.771,2.437V22h-2.948v-9.492h2.83v1.297h0.04c0.394-0.746,1.356-1.533,2.791-1.533 c2.987,0,3.539,1.966,3.539,4.522V22z"
                      ></path>
                    </svg>
                  </a>
                  <a
                    class="copy-clip position-relative d-flex justify-content-center"
                    title="Copy to clipboard"
                  >
                    <svg
                      id=""
                      class="share-button"
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="#C6C9D2"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M19.2939 9.17106C19.5246 8.93228 19.8004 8.74183 20.1054 8.61081C20.4104 8.47978 20.7385 8.41082 21.0704 8.40793C21.4024 8.40505 21.7316 8.4683 22.0388 8.59401C22.3461 8.71971 22.6252 8.90534 22.8599 9.14007C23.0947 9.3748 23.2803 9.65393 23.406 9.96117C23.5317 10.2684 23.595 10.5976 23.5921 10.9296C23.5892 11.2615 23.5202 11.5896 23.3892 11.8946C23.2582 12.1996 23.0677 12.4754 22.8289 12.7061L19.0789 16.4561C18.6101 16.9247 17.9744 17.188 17.3114 17.188C16.6485 17.188 16.0128 16.9247 15.5439 16.4561C15.3082 16.2284 14.9924 16.1024 14.6647 16.1052C14.3369 16.1081 14.0234 16.2395 13.7917 16.4713C13.5599 16.703 13.4284 17.0166 13.4256 17.3443C13.4228 17.6721 13.5487 17.9878 13.7764 18.2236C14.7141 19.1609 15.9856 19.6875 17.3114 19.6875C18.6373 19.6875 19.9088 19.1609 20.8464 18.2236L24.5964 14.4736C25.5072 13.5305 26.0112 12.2675 25.9998 10.9566C25.9884 9.64557 25.4626 8.39151 24.5355 7.46447C23.6085 6.53743 22.3544 6.01158 21.0434 6.00019C19.7325 5.9888 18.4695 6.49277 17.5264 7.40356L15.6514 9.27856C15.5321 9.39387 15.4368 9.5318 15.3713 9.6843C15.3058 9.83681 15.2713 10.0008 15.2699 10.1668C15.2684 10.3328 15.3001 10.4974 15.3629 10.651C15.4258 10.8046 15.5186 10.9442 15.6359 11.0616C15.7533 11.1789 15.8929 11.2717 16.0465 11.3346C16.2001 11.3974 16.3647 11.4291 16.5307 11.4276C16.6967 11.4262 16.8607 11.3917 17.0132 11.3262C17.1657 11.2607 17.3036 11.1654 17.4189 11.0461L19.2939 9.17106ZM13.0439 15.4211C13.5128 14.9524 14.1485 14.6891 14.8114 14.6891C15.4744 14.6891 16.1101 14.9524 16.5789 15.4211C16.6942 15.5404 16.8322 15.6357 16.9847 15.7012C17.1372 15.7667 17.3012 15.8012 17.4672 15.8026C17.6332 15.8041 17.7978 15.7724 17.9514 15.7096C18.105 15.6467 18.2446 15.5539 18.3619 15.4366C18.4793 15.3192 18.5721 15.1796 18.635 15.026C18.6978 14.8724 18.7294 14.7078 18.728 14.5418C18.7266 14.3758 18.6921 14.2118 18.6266 14.0593C18.5611 13.9068 18.4658 13.7689 18.3464 13.6536C17.4088 12.7162 16.1373 12.1896 14.8114 12.1896C13.4856 12.1896 12.2141 12.7162 11.2764 13.6536L7.52644 17.4036C7.04889 17.8648 6.66798 18.4165 6.40593 19.0265C6.14389 19.6366 6.00596 20.2927 6.00019 20.9566C5.99442 21.6205 6.12093 22.2788 6.37233 22.8933C6.62374 23.5078 6.995 24.0661 7.46447 24.5355C7.93393 25.005 8.49219 25.3763 9.10667 25.6277C9.72115 25.8791 10.3796 26.0056 11.0434 25.9998C11.7073 25.994 12.3634 25.8561 12.9735 25.5941C13.5835 25.332 14.1352 24.9511 14.5964 24.4736L16.4714 22.5986C16.5908 22.4833 16.6861 22.3453 16.7516 22.1928C16.8171 22.0403 16.8516 21.8763 16.853 21.7103C16.8544 21.5443 16.8228 21.3797 16.76 21.2261C16.6971 21.0725 16.6043 20.9329 16.4869 20.8156C16.3696 20.6982 16.23 20.6054 16.0764 20.5425C15.9228 20.4797 15.7582 20.4481 15.5922 20.4495C15.4262 20.4509 15.2622 20.4854 15.1097 20.5509C14.9572 20.6164 14.8192 20.7117 14.7039 20.8311L12.8289 22.7061C12.5983 22.9448 12.3225 23.1353 12.0175 23.2663C11.7124 23.3973 11.3844 23.4663 11.0524 23.4692C10.7205 23.4721 10.3913 23.4088 10.0841 23.2831C9.77682 23.1574 9.49769 22.9718 9.26295 22.737C9.02822 22.5023 8.84259 22.2232 8.71689 21.9159C8.59118 21.6087 8.52793 21.2795 8.53082 20.9476C8.5337 20.6156 8.60267 20.2876 8.73369 19.9825C8.86471 19.6775 9.05517 19.4017 9.29394 19.1711L13.0439 15.4211Z"
                      ></path>
                    </svg>

                    <div class="copied-to-clipboard-wrapper visible invisible">
                      <div class="caret"></div>
                      <div class="copied-to-clipboard">Copied to clipboard</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-16">
              <iframe
                id="post-signup-form-1"
                src="../post-signup-form.html"
                width="100%"
                height="200px"
                onload="javascript:(function(o){
        o.style.height=o.contentWindow.document.getElementById('mc_embed_signup').offsetHeight+'px';

        const resizeObserver = new ResizeObserver(function(entries) {
            const $firstEntry = entries[0];
            if ($firstEntry && $firstEntry.borderBoxSize && $firstEntry.borderBoxSize[0]) {
                const $form = $firstEntry.borderBoxSize[0];
                if ($form) {
                    o.style.height = $form.blockSize + 'px';
                }
            }
        });
        resizeObserver.observe(o.contentWindow.document.getElementById('mc_embed_signup'));
    }(this));"
                style="border:none;overflow:hidden;"></iframe>
            </div>
          </div>
        </section>

        <section>
          <div class="d-flex flex-row justify-content-between">
            <h3 class="mb-0">See previous releases</h3>
            <a
              class="chevron blue-small-right fw-bold d-none d-lg-flex"
              href="/releases">All releases</a
            >
          </div>
          <div class="row mt-10 mt-lg-13">
            <div class="hover-raise-sm col-xs-12 col-lg-6 mb-8 mb-lg-0">
              <div
                class="card hover-shadow hover-pointer border-0 rounded-3 p-6"
              >
                <p class="paragraph-5 neutral-60 fw-bold mb-3">Mar 2023</p>
                <h4 class="mb-4">Metabase 46</h4>
                <p class="paragraph-5 neutral-60 mb-0">
                  For this release, we’ve continued our focus on improving the
                  day-to-day Metabase experience. It’s a lot of stuff, so settle
                  in and let’s get through i...
                </p>
                <a href="/releases/metabase-46" class="stretched-link h-0"></a>
              </div>
            </div>

            <div class="hover-raise-sm col-xs-12 col-lg-6 mb-8 mb-lg-0">
              <div
                class="card hover-shadow hover-pointer border-0 rounded-3 p-6"
              >
                <p class="paragraph-5 neutral-60 fw-bold mb-3">Dec 2022</p>
                <h4 class="mb-4">Metabase 0.45</h4>
                <p class="paragraph-5 neutral-60 mb-0">
                  For this release, we focused on improving the day-to-day
                  Metabase experience. We added a few cool things, like the new
                  datetime functions available in...
                </p>
                <a href="/releases/Metabase-0" class="stretched-link h-0"></a>
              </div>
            </div>
          </div>
          <a
            class="chevron blue-small-right fw-bold d-flex d-lg-none"
            href="/releases">All releases</a
          >
        </section>

        <section>
          <div class="rounded-4 no-overflow">
            <div class="get-started">
              <div class="container">
                <div class="pt0">
                  <div class="text-centered bootstrap">
                    <h2
                      class="large mt0 neutral-white"
                      style="margin-bottom: 16px"
                    >
                      Get started with Metabase
                    </h2>
                    <div
                      class="d-flex justify-content-center align-items-center gap-2"
                    >
                      <a
                        class="fs-13 Button Button--primary rounded-3 ms-lg-2 py-3 lh-base"
                        href="https://store.metabase.com/checkout"
                        >Get started</a
                      >
                    </div>
                    <ul class="horizontal-checklist mt-6">
                      <li>Free, no-commitment trial</li>
                      <li>Easy for everyone—no SQL required</li>
                      <li>Up and running in 5 minutes</li>
                    </ul>
                    <div class="img-placeholder ml-auto mr-auto"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
