---
import Base from "../../layouts/Base.astro";
const title = "Metabase 48";
const description =
  "Metabase 48 gives you complete visibility into who's doing what in your Metabase, plus a bunch of dashboard and search improvements, and things to make your day-to-day life in Metabase better.";
const seo = {
  title: "Metabase 48",
  description:
    "Metabase 48 gives you complete visibility into who's doing what in your Metabase, plus a bunch of dashboard and search improvements, and things to make your day-to-day life in Metabase better.",
  canonical: "/releases/metabase-48",
  og: {
    title: "Metabase 48",
    description:
      "Metabase 48 gives you complete visibility into who's doing what in your Metabase, plus a bunch of dashboard and search improvements, and things to make your day-to-day life in Metabase better.",
    image: "https://www.metabase.com/images/posts/metabase-48/metabase-48.png",
    url: "https://www.metabase.com/releases/metabase-48",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Metabase 48",
    description:
      "Metabase 48 gives you complete visibility into who's doing what in your Metabase, plus a bunch of dashboard and search improvements, and things to make your day-to-day life in Metabase better.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/posts/metabase-48/metabase-48.png",
    creator: "The Metabase Team",
  },
};
---

<Base {title} {description} {seo}>
  <div class="MB-Page page-content">
    <div class="progress-bar z1" id="progress-bar"></div>

    <div class="bootstrap">
      <div class="release container pt-4" id="post">
        <section class="row">
          <div class="d-none d-lg-block col-lg-3">
            <a
              id="back-button"
              class="chevron blue-small-left mb-8 fw-bold"
              href="/releases"
            >
              All releases
            </a>
            <div id="in-this-release" class="d-flex flex-column pe-12">
              <h5 class="mb-6">In this release</h5>
            </div>
          </div>
          <div class="content-container col-xs-12 col-lg-9">
            <a
              class="chevron blue-small-left fw-bold d-lg-none mb-8"
              href="/releases">All releases</a
            >
            <div id="release-content">
              <div class="col-xs-12 col-lg-12 mb-8 p-0">
                <h4>Metabase 48</h4>
                <h1>Keeping track of what’s happening in your Metabase</h1>
                <div class="header-credits">
                  <img
                    class="circle me-2"
                    src="/images/posts/blog-authors/the-metabase-team.svg"
                    alt="The Metabase Team Portrait"
                    width="36"
                    height="36"
                  />
                  <span>The Metabase Team</span>
                  · Jan 16, 2024 · 8 min read
                </div>
              </div>

              <div class="col-lg-8">
                <div style="width: ; margin-bottom: 2em;">
                  <div
                    class="youtube-container"
                    style="position: relative;
                    width: 100%;
                    height: 0;
                    padding-bottom: 56.25%"
                  >
                    <iframe
                      class="youtube-video"
                      style="position: absolute;
                         top: 0;
                         left: 0;
                         width: 100%;
                         height: 100%;
                         border: 0"
                      allowfullscreen=""
                      src="https://www.youtube.com/embed/-HF_8Yf-5Lg"
                    >
                    </iframe>
                  </div>
                </div>

                <p>
                  Whether you need to put your data access under a magnifying
                  glass for compliance and auditing purposes, or you’re looking
                  for hard evidence on whether that dashboard your executive
                  team <em>needed, like, yesterday</em> is actually being used, the
                  new <strong>Metabase analytics</strong> collection has got you
                  covered. And there’s plenty besides in this release, with cloud-hosting
                  now available in a region near you, improvements to recently-launched
                  dashboard functionality, and more.
                </p>

                <ul>
                  <li>
                    <strong
                      >If you’re hosted on <a href="/pricing/">Metabase Cloud</a
                      ></strong
                    > we’ll be rolling out these new features automatically over
                    the next few weeks.
                  </li>
                  <li>
                    <strong>If you’re self-hosting Metabase</strong>, you (or
                    your admin) can follow the docs on <a
                      href="/docs/latest/installation-and-operation/upgrading-metabase"
                      >how to upgrade</a
                    >.
                  </li>
                </ul>

                <p>
                  Tired of managing your instance? <a href="/upgrade/"
                    >Upgrade to a hosted plan</a
                  > and leave it to us.
                </p>

                <h2 id="learn-whats-happening-in-your-metabase-using-metabase">
                  Learn what’s happening in your Metabase… using Metabase
                </h2>

                <video
                  class="vjs-player lazy w-100 pause-observer autoplay-video overflow-hidden rounded-3"
                  autoplay=""
                  muted=""
                  playsinline=""
                  id="meta-analytics"
                >
                  <source
                    src="/images/posts/metabase-48/interactive-meta-analytics.mp4"
                    type="video/mp4"
                  />

                  <p class="vjs-no-js">
                    To view this video please enable JavaScript and consider
                    upgrading to a web browser that
                    <a
                      href="https://videojs.com/html5-video-support/"
                      target="_blank">supports HTML5 video</a
                    >
                  </p>
                </video>

                <h3
                  id="the-metabase-analytics-collection-is-an-overhaul-of-auditing-tools-offering-new-dashboards-models-and-questions"
                >
                  The Metabase analytics collection is an overhaul of auditing
                  tools, offering new dashboards, models, and questions
                </h3>

                <div class="bootstrap">
                  <div
                    class="plans-blockquote bg-blue-95 rounded-3 p-6 d-flex flex-row border border-1 border-primary"
                  >
                    <svg
                      class=""
                      width="24"
                      height="24"
                      viewBox="0 0 26 26"
                      fill="none"
                    >
                      <path
                        d="M12 13V15"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke="#509EE3"></path>
                      <path
                        d="M12 10C12.5523 10 13 9.55228 13 9C13 8.44772 12.5523 8 12 8C11.4477 8 11 8.44772 11 9C11 9.55228 11.4477 10 12 10Z"
                        fill="#509EE3"></path>
                      <path
                        d="M12 19.25C16.0041 19.25 19.25 16.0041 19.25 12C19.25 7.99594 16.0041 4.75 12 4.75C7.99594 4.75 4.75 7.99594 4.75 12C4.75 16.0041 7.99594 19.25 12 19.25Z"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke="#509EE3"></path>
                    </svg>

                    <p class="m-0 ms-2 paragraph-5 neutral-40">
                      The Metabase analytics collection is only available on <a
                        class="fw-bold"
                        href="/product/pro">Pro</a
                      > and <a
                        class="fw-bold link-purple"
                        href="/product/enterprise">Enterprise</a
                      > plans (both self-hosted and on Metabase Cloud).
                    </p>
                  </div>
                </div>

                <p>
                  With <a href="/features/usage-analytics">this overhaul</a>,
                  you have better insight into your usage, configuration, and
                  performance of content in your Metabase, bringing audit tools
                  more in line with how we hope you’re able to use Metabase to
                  make more data-driven decisions across your org.
                </p>

                <h3
                  id="track-metabase-usage-performance-and-configuration-changes-logged-for-posterity-and-interactive-for-analysis"
                >
                  Track Metabase usage, performance, and configuration changes:
                  logged for posterity and interactive for analysis
                </h3>

                <p>
                  See everything that’s been going on in your Metabase with this
                  collection of dashboards, questions, and models. You can spot
                  overall trends in your Metabase usage, filter on whatever
                  you’re most interested in, and use the action menu, breakouts,
                  and X-rays to slice and dice the data or zero-in on the
                  details of specific records.
                </p>

                <p>
                  Know what your most used dashboards, questions, and models are
                  so you can make them more discoverable (in official
                  collections, on your Metabase homepage, or set up
                  subscriptions) so your data team isn’t tied up digging out the
                  same stuff on repeat.
                </p>

                <video
                  class="vjs-player lazy w-100 pause-observer autoplay-video overflow-hidden rounded-3"
                  autoplay=""
                  muted=""
                  playsinline=""
                  id="question-1"
                >
                  <source
                    src="/images/posts/metabase-48/meta-analytics-create.mp4"
                    type="video/mp4"
                  />

                  <p class="vjs-no-js">
                    To view this video please enable JavaScript and consider
                    upgrading to a web browser that
                    <a
                      href="https://videojs.com/html5-video-support/"
                      target="_blank">supports HTML5 video</a
                    >
                  </p>
                </video>

                <h3 id="create-custom-reports-based-on-dashboards-or-models">
                  Create custom reports based on dashboards or models
                </h3>

                <p>
                  The collection of ready-made analyses on your Metabase usage
                  data is pretty comprehensive, and should could everything
                  you’d want to know about how people are working with your
                  data. But you can also use the collection’s set of models to
                  ask your own questions, or make a copy of read-only dashboards
                  to customize their content.
                </p>

                <h3 id="set-up-alerts-and-subscriptions-on-metabase-analytics">
                  Set up alerts and subscriptions on Metabase analytics
                </h3>

                <p>
                  Get notified if something shady (or plain misguided) is afoot,
                  like someone downloading a 10,000 row table or signing in at
                  2am on a Saturday.
                </p>

                <video
                  class="vjs-player lazy w-100 pause-observer autoplay-video overflow-hidden rounded-3"
                  autoplay=""
                  muted=""
                  playsinline=""
                  id="question-2"
                >
                  <source
                    src="/images/posts/metabase-48/meta-analytics-alert.mp4"
                    type="video/mp4"
                  />

                  <p class="vjs-no-js">
                    To view this video please enable JavaScript and consider
                    upgrading to a web browser that
                    <a
                      href="https://videojs.com/html5-video-support/"
                      target="_blank">supports HTML5 video</a
                    >
                  </p>
                </video>

                <h3
                  id="admins-can-share-view-only-access-to-the-new-usage-analytics-with-other-groups"
                >
                  Admins can share view-only access to the new usage analytics
                  with other groups
                </h3>

                <p>
                  Give read-only access to the Metabase analytics collection to
                  anyone who needs it, without having to make everyone an admin.
                </p>

                <h2
                  id="new-cloud-hosting-options-in-europe-asia-pacific-and-latin-america"
                >
                  New cloud-hosting options in Europe, Asia Pacific and Latin
                  America
                </h2>

                <p>
                  <img
                    src="/images/posts/multi-region-hosting/Multi-region-hosting.jpg"
                    alt="Multi-region"
                  />
                </p>

                <p>
                  Speed up your Metabase by hosting it closer to you. Choose
                  your preferred hosting region when <a
                    href="https://store.metabase.com/checkout"
                    >setting up a new Metabase</a
                  >, or <a
                    href="/blog/choose-where-your-metabase-cloud-is-hosted"
                    >move your existing Metabase by logging into your store
                    account</a
                  >.
                </p>

                <h2 id="more-day-to-day-improvements">
                  More day-to-day improvements
                </h2>

                <p>
                  We’ve continued to iterate on some of our most popular recent
                  releases, like <a
                    href="/docs/latest/dashboards/introduction#dashboard-tabs"
                    >dashboard tabs</a
                  >, <a href="/product/csv-uploads">CSV uploads</a>, <a
                    href="/docs/latest/actions/introduction">actions</a
                  >, and expanded X-rays to make your every day experience in
                  Metabase better.
                </p>

                <video
                  class="vjs-player lazy w-100 pause-observer autoplay-video overflow-hidden rounded-3"
                  autoplay=""
                  muted=""
                  playsinline=""
                  id="dashboard"
                >
                  <source
                    src="/images/posts/metabase-48/move-card.mp4"
                    type="video/mp4"
                  />

                  <p class="vjs-no-js">
                    To view this video please enable JavaScript and consider
                    upgrading to a web browser that
                    <a
                      href="https://videojs.com/html5-video-support/"
                      target="_blank">supports HTML5 video</a
                    >
                  </p>
                </video>

                <h3 id="auto-wire-up-dashboard-field-filters">
                  Auto-wire up dashboard field filters
                </h3>

                <p>
                  We’ve made lighter work of hooking up filters to questions on
                  your dashboards so you don’t have to do it one-by-one anymore.
                  Connect a filter to a column on a dashboard card, and Metabase
                  will automatically connect that filter to every other card
                  with that column on the dashboard.
                </p>

                <h3 id="move-cards-between-dashboard-tabs">
                  Move cards between dashboard tabs
                </h3>

                <p>
                  Does what it says on the tin. Now you have more control over
                  where your chart goes in your multi-tabbed dashboard.
                </p>

                <h3
                  id="filter-search-results-to-get-closer-to-what-youre-looking-for"
                >
                  Filter search results to get closer to what you’re looking for
                </h3>

                <p>
                  Apply filters like content type, creator, last editor, and
                  more to search results. Get to more trustworthy stuff by
                  toggling on ‘Verified items only’, or filter by date created
                  or last edited for freshness.
                </p>

                <h3 id="new-table-settings-to-add-and-remove-columns-in-bulk">
                  New table settings to add and remove columns in bulk
                </h3>

                <p>
                  We’ve made it quicker and easier to get the columns you want
                  and hide the ones you don’t into your table visualization in
                  settings.
                </p>

                <h3 id="x-ray-indexed-records-in-a-model">
                  X-ray indexed records in a model
                </h3>

                <p>
                  Hot on the heels of <a
                    href="/releases/Metabase-47#other-things-that-got-better"
                    >X-rays being available for models in Metabase 47</a
                  >, the magic of X-rays can now be applied to <a
                    href="/docs/latest/data-modeling/models#surface-individual-records-in-search-by-matching-against-this-column"
                    >indexed records in a model</a
                  >. Think a specific customer’s name in a Customer table, like
                  Acme Inc. You can click the X-ray icon to generate an
                  automatic dashboard populated with charts just about Acme Inc.
                </p>

                <h3 id="were-working-more-usage-data-into-x-rays">
                  We’re working more usage data into X-rays
                </h3>

                <p>
                  <a href="/docs/latest/data-modeling/metrics">Metrics</a> that you
                  (or your admin) have defined for a table will now appear in X-rays
                  to show you more of what you care about. The X-rays mechanism now
                  also powers more helpful suggestions for aggregations and breakouts.
                </p>

                <p>
                  This is part of some ongoing work to make better use of how
                  you’ve already defined your data, and how you’ve interacted
                  with it (via models, queries, filtering, and more) to make
                  X-rays more relevant to you. Stay tuned.
                </p>

                <h3 id="auto-assign-a-primary-key-to-csv-uploads">
                  Auto-assign a primary key to CSV uploads
                </h3>

                <p>
                  You need a primary key to do a lot of cool stuff in Metabase,
                  but a lot of uploaded CSVs don’t have one. Now Metabase will
                  autogenerate a column with an ID for all CSV uploads. Metabase
                  will now also recognize timezone data for timestamps.
                </p>

                <h3 id="make-quicker-changes-to-actions">
                  Make quicker changes to Actions
                </h3>

                <p>
                  If you have basic actions enabled on the model, you can now
                  update and delete items directly via their object detail.
                </p>

                <h3
                  id="new-admin-setting-for-authenticating-embedding-users-across-domains"
                >
                  New admin setting for authenticating embedding users across
                  domains
                </h3>

                <p>
                  Setting up interactive embedding is now smoother for
                  cross-domain setups. The <a
                    href="/docs/latest/embedding/interactive-embedding#embedding-metabase-in-a-different-domain"
                    >same-site cookie admin setting</a
                  > lets you manage it on your own without requiring a restart.
                </p>

                <h3 id="metabase-in-finnish">Metabase in Finnish!</h3>

                <p>
                  Tuemme nyt suomea uutena kielenä! Thanks to our contributors
                  who got this over the Finnish line (sorry).
                </p>

                <h2 id="fyi--breaking-changes">FYI / Breaking changes</h2>

                <h3 id="changes-to-database-user-roles">
                  Changes to database user roles
                </h3>

                <p>
                  We’ve made some performance optimizations to our database
                  driver code and will no longer enforce read-only connections
                  as much as before (although, it was never a given). You may
                  not be affected, but we recommend checking out <a
                    href="/docs/latest/databases/users-roles-privileges"
                    >our guidance</a
                  >&nbsp;on managing database user roles and privileges in
                  Metabase.
                </p>

                <h3 id="mysql-as-app-db-for-metabase-must-be-8017-or-higher">
                  MySQL as app db for Metabase must be 8.0.17 or higher
                </h3>

                <p>
                  If you’re using MySQL as your application database for
                  Metabase, you’ll need to upgrade to MySQL version 8.0.17 or
                  higher before you upgrade your Metabase to 48.
                </p>

                <h3 id="postgres-as-app-db-for-metabase-must-be-95-or-higher">
                  Postgres as app db for Metabase must be 9.5 or higher
                </h3>

                <p>
                  If you’re using Postgres as your application database for
                  Metabase, you’ll need to upgrade to Postgres version 9.5 or
                  higher before you upgrade your Metabase to 48.
                </p>

                <h3 id="api-changes">API changes</h3>

                <ul>
                  <li>
                    <code class="language-plaintext highlighter-rouge"
                      >ordered_tabs</code
                    >&nbsp;key is now&nbsp;<code
                      class="language-plaintext highlighter-rouge">tabs</code
                    >.
                  </li>
                  <li>
                    <code class="language-plaintext highlighter-rouge"
                      >ordered_cards</code
                    >&nbsp;key is now&nbsp;<code
                      class="language-plaintext highlighter-rouge"
                      >dashcards</code
                    >.
                  </li>
                  <li>
                    We removed <code
                      class="language-plaintext highlighter-rouge"
                      >PUT /api/dashboard/:id/cards</code
                    >.
                  </li>
                </ul>

                <h3 id="pulses-will-be-removed-from-metabase-49">
                  Pulses will be removed from Metabase 49
                </h3>

                <p>
                  Pulses gave way to dashboard subscriptions way back in
                  Metabase 38 and have been chilling out in the background since
                  then. We’ll remove them in the next release (Metabase 49). But
                  worry not — if you’ve still got pulses lingering in your
                  Metabase, you can get the same outcome (but better) with <a
                    href="/docs/v0.52/questions/sharing/pulses"
                    >subscriptions and alerts</a
                  >.
                </p>

                <h2
                  id="join-our-product-team-on-january-24-for-a-live-walkthrough-of-these-new-features"
                >
                  Join our product team on January 24 for a live walkthrough of
                  these new features
                </h2>

                <p>
                  <a
                    href="/events/metabase-48-release-webinar3919?utm_source=mailchimp&utm_medium=email&utm_campaign=48"
                    >RSVP for the webinar here</a
                  > to make sure you don’t miss it.
                </p>

                <p>
                  Or if you want to get into the nitty-gritty, check out our
                  release notes to see everything we’ve been up to:
                </p>

                <ul>
                  <li>
                    <a
                      href="https://github.com/metabase/metabase/releases/tag/v0.48.3"
                      >OSS/Starter</a>
                  </li>
                  <li>
                    <a
                      href="https://github.com/metabase/metabase/releases/tag/v1.48.3"
                      >Pro/Enterprise</a>
                  </li>
                </ul>

                <h2 id="big-thanks-to-everyone-who-contributed">
                  Big thanks to everyone who contributed!
                </h2>

                <p>
                  Thanks to all those who submitted bug reports, feature
                  suggestions, translations, and pull requests. Metabase gets
                  better and better thanks to your efforts.
                </p>

                <p>
                  Hope you enjoy the release. To see what other features we have
                  in the works, check out our <a href="/roadmap"
                    >product roadmap</a
                  >.
                </p>

                <p>Cheers,</p>

                <p>The Metabase Team</p>
              </div>

              <div class="d-flex flex-column mt-11 d-lg-none">
                <h5 class="mb-3 neutral-40">Share this release</h5>
                <div class="d-flex align-items-center gap-3">
                  <a
                    href="https://twitter.com/intent/tweet?url=https://metabase.com/releases/metabase-48"
                    target="popup"
                    onclick="window.open('https://twitter.com/intent/tweet?url=https://metabase.com/releases/metabase-48','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"
                  >
                    <svg
                      id=""
                      class="share-button"
                      width="22"
                      height="22"
                      viewBox="0 0 26 22"
                      fill="#C6C9D2"
                    >
                      <path
                        d="M24.9465693,3.43255605 C24.0654891,3.83264574 23.1186277,4.10304933 22.1248175,4.22466368 C23.1392117,3.60206278 23.9181606,2.61623318 24.2849927,1.44161435 C23.3357664,2.01802691 22.2843212,2.43668161 21.1652555,2.66233184 C20.2690219,1.68466368 18.9922044,1.07372197 17.5791825,1.07372197 C14.8658686,1.07372197 12.6661022,3.32600897 12.6661022,6.10403587 C12.6661022,6.49829596 12.709635,6.88224215 12.7933723,7.25040359 C8.71021898,7.0406278 5.09016058,5.03793722 2.6670365,1.99452915 C2.24414599,2.73748879 2.00186861,3.60161435 2.00186861,4.52349776 C2.00186861,6.26869955 2.86928467,7.80843049 4.18753285,8.71049327 C3.38213139,8.68439462 2.62464234,8.45811659 1.96218978,8.08134529 C1.96183942,8.10233184 1.96183942,8.12340807 1.96183942,8.14457399 C1.96183942,10.5818834 3.65532847,12.6150673 5.90283212,13.07713 C5.49054015,13.1921076 5.05652555,13.2535426 4.60840876,13.2535426 C4.29185401,13.2535426 3.98405839,13.2220628 3.68414599,13.1633184 C4.30928467,15.1618834 6.12364964,16.6162332 8.27348905,16.656861 C6.59208759,18.006009 4.47369343,18.8102242 2.1719708,18.8102242 C1.77544526,18.8102242 1.38435036,18.7864574 1,18.74 C3.17418978,20.1672646 5.75664234,21 8.53109489,21 C17.567708,21 22.5092555,13.3347982 22.5092555,6.68735426 C22.5092555,6.46923767 22.5045255,6.252287 22.4950657,6.03659193 C23.4548905,5.32735426 24.2878832,4.44134529 24.9465693,3.43255605"
                      >
                      </path>
                    </svg>
                  </a>
                  <a
                    href="https://www.linkedin.com/sharing/share-offsite/?url=https://metabase.com/releases/metabase-48"
                    target="popup"
                    onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url=https://metabase.com/releases/metabase-48','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"
                  >
                    <svg
                      id=""
                      class="share-button"
                      fill="#C6C9D2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 30 30"
                      width="30"
                      height="30"
                    >
                      <path
                        d="M24,4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18c1.105,0,2-0.895,2-2V6C26,4.895,25.105,4,24,4z M10.954,22h-2.95 v-9.492h2.95V22z M9.449,11.151c-0.951,0-1.72-0.771-1.72-1.72c0-0.949,0.77-1.719,1.72-1.719c0.948,0,1.719,0.771,1.719,1.719 C11.168,10.38,10.397,11.151,9.449,11.151z M22.004,22h-2.948v-4.616c0-1.101-0.02-2.517-1.533-2.517 c-1.535,0-1.771,1.199-1.771,2.437V22h-2.948v-9.492h2.83v1.297h0.04c0.394-0.746,1.356-1.533,2.791-1.533 c2.987,0,3.539,1.966,3.539,4.522V22z"
                      ></path>
                    </svg>
                  </a>
                  <a
                    class="copy-clip position-relative d-flex justify-content-center"
                    title="Copy to clipboard"
                  >
                    <svg
                      id=""
                      class="share-button"
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="#C6C9D2"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M19.2939 9.17106C19.5246 8.93228 19.8004 8.74183 20.1054 8.61081C20.4104 8.47978 20.7385 8.41082 21.0704 8.40793C21.4024 8.40505 21.7316 8.4683 22.0388 8.59401C22.3461 8.71971 22.6252 8.90534 22.8599 9.14007C23.0947 9.3748 23.2803 9.65393 23.406 9.96117C23.5317 10.2684 23.595 10.5976 23.5921 10.9296C23.5892 11.2615 23.5202 11.5896 23.3892 11.8946C23.2582 12.1996 23.0677 12.4754 22.8289 12.7061L19.0789 16.4561C18.6101 16.9247 17.9744 17.188 17.3114 17.188C16.6485 17.188 16.0128 16.9247 15.5439 16.4561C15.3082 16.2284 14.9924 16.1024 14.6647 16.1052C14.3369 16.1081 14.0234 16.2395 13.7917 16.4713C13.5599 16.703 13.4284 17.0166 13.4256 17.3443C13.4228 17.6721 13.5487 17.9878 13.7764 18.2236C14.7141 19.1609 15.9856 19.6875 17.3114 19.6875C18.6373 19.6875 19.9088 19.1609 20.8464 18.2236L24.5964 14.4736C25.5072 13.5305 26.0112 12.2675 25.9998 10.9566C25.9884 9.64557 25.4626 8.39151 24.5355 7.46447C23.6085 6.53743 22.3544 6.01158 21.0434 6.00019C19.7325 5.9888 18.4695 6.49277 17.5264 7.40356L15.6514 9.27856C15.5321 9.39387 15.4368 9.5318 15.3713 9.6843C15.3058 9.83681 15.2713 10.0008 15.2699 10.1668C15.2684 10.3328 15.3001 10.4974 15.3629 10.651C15.4258 10.8046 15.5186 10.9442 15.6359 11.0616C15.7533 11.1789 15.8929 11.2717 16.0465 11.3346C16.2001 11.3974 16.3647 11.4291 16.5307 11.4276C16.6967 11.4262 16.8607 11.3917 17.0132 11.3262C17.1657 11.2607 17.3036 11.1654 17.4189 11.0461L19.2939 9.17106ZM13.0439 15.4211C13.5128 14.9524 14.1485 14.6891 14.8114 14.6891C15.4744 14.6891 16.1101 14.9524 16.5789 15.4211C16.6942 15.5404 16.8322 15.6357 16.9847 15.7012C17.1372 15.7667 17.3012 15.8012 17.4672 15.8026C17.6332 15.8041 17.7978 15.7724 17.9514 15.7096C18.105 15.6467 18.2446 15.5539 18.3619 15.4366C18.4793 15.3192 18.5721 15.1796 18.635 15.026C18.6978 14.8724 18.7294 14.7078 18.728 14.5418C18.7266 14.3758 18.6921 14.2118 18.6266 14.0593C18.5611 13.9068 18.4658 13.7689 18.3464 13.6536C17.4088 12.7162 16.1373 12.1896 14.8114 12.1896C13.4856 12.1896 12.2141 12.7162 11.2764 13.6536L7.52644 17.4036C7.04889 17.8648 6.66798 18.4165 6.40593 19.0265C6.14389 19.6366 6.00596 20.2927 6.00019 20.9566C5.99442 21.6205 6.12093 22.2788 6.37233 22.8933C6.62374 23.5078 6.995 24.0661 7.46447 24.5355C7.93393 25.005 8.49219 25.3763 9.10667 25.6277C9.72115 25.8791 10.3796 26.0056 11.0434 25.9998C11.7073 25.994 12.3634 25.8561 12.9735 25.5941C13.5835 25.332 14.1352 24.9511 14.5964 24.4736L16.4714 22.5986C16.5908 22.4833 16.6861 22.3453 16.7516 22.1928C16.8171 22.0403 16.8516 21.8763 16.853 21.7103C16.8544 21.5443 16.8228 21.3797 16.76 21.2261C16.6971 21.0725 16.6043 20.9329 16.4869 20.8156C16.3696 20.6982 16.23 20.6054 16.0764 20.5425C15.9228 20.4797 15.7582 20.4481 15.5922 20.4495C15.4262 20.4509 15.2622 20.4854 15.1097 20.5509C14.9572 20.6164 14.8192 20.7117 14.7039 20.8311L12.8289 22.7061C12.5983 22.9448 12.3225 23.1353 12.0175 23.2663C11.7124 23.3973 11.3844 23.4663 11.0524 23.4692C10.7205 23.4721 10.3913 23.4088 10.0841 23.2831C9.77682 23.1574 9.49769 22.9718 9.26295 22.737C9.02822 22.5023 8.84259 22.2232 8.71689 21.9159C8.59118 21.6087 8.52793 21.2795 8.53082 20.9476C8.5337 20.6156 8.60267 20.2876 8.73369 19.9825C8.86471 19.6775 9.05517 19.4017 9.29394 19.1711L13.0439 15.4211Z"
                      ></path>
                    </svg>

                    <div class="copied-to-clipboard-wrapper visible invisible">
                      <div class="caret"></div>
                      <div class="copied-to-clipboard">Copied to clipboard</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-16">
              <iframe
                id="post-signup-form-1"
                src="../post-signup-form.html"
                width="100%"
                height="200px"
                onload="javascript:(function(o){
        o.style.height=o.contentWindow.document.getElementById('mc_embed_signup').offsetHeight+'px';

        const resizeObserver = new ResizeObserver(function(entries) {
            const $firstEntry = entries[0];
            if ($firstEntry && $firstEntry.borderBoxSize && $firstEntry.borderBoxSize[0]) {
                const $form = $firstEntry.borderBoxSize[0];
                if ($form) {
                    o.style.height = $form.blockSize + 'px';
                }
            }
        });
        resizeObserver.observe(o.contentWindow.document.getElementById('mc_embed_signup'));
    }(this));"
                style="border:none;overflow:hidden;"></iframe>
            </div>
          </div>
        </section>

        <section>
          <div class="d-flex flex-row justify-content-between">
            <h3 class="mb-0">See previous releases</h3>
            <a
              class="chevron blue-small-right fw-bold d-none d-lg-flex"
              href="/releases">All releases</a
            >
          </div>
          <div class="row mt-10 mt-lg-13">
            <div class="hover-raise-sm col-xs-12 col-lg-6 mb-8 mb-lg-0">
              <div
                class="card hover-shadow hover-pointer border-0 rounded-3 p-6"
              >
                <p class="paragraph-5 neutral-60 fw-bold mb-3">Sep 2023</p>
                <h4 class="mb-4">Metabase 47</h4>
                <p class="paragraph-5 neutral-60 mb-0">
                  Metabase 47 has got something in it for everyone—CSV uploads,
                  PDF downloads, searching, serialization, and more. If you’re
                  hosted on Metabase Clou...
                </p>
                <a href="/releases/Metabase-47" class="stretched-link h-0"></a>
              </div>
            </div>

            <div class="hover-raise-sm col-xs-12 col-lg-6 mb-8 mb-lg-0">
              <div
                class="card hover-shadow hover-pointer border-0 rounded-3 p-6"
              >
                <p class="paragraph-5 neutral-60 fw-bold mb-3">Mar 2023</p>
                <h4 class="mb-4">Metabase 46</h4>
                <p class="paragraph-5 neutral-60 mb-0">
                  For this release, we’ve continued our focus on improving the
                  day-to-day Metabase experience. It’s a lot of stuff, so settle
                  in and let’s get through i...
                </p>
                <a href="/releases/metabase-46" class="stretched-link h-0"></a>
              </div>
            </div>
          </div>
          <a
            class="chevron blue-small-right fw-bold d-flex d-lg-none"
            href="/releases">All releases</a
          >
        </section>

        <section>
          <div class="rounded-4 no-overflow">
            <div class="get-started">
              <div class="container">
                <div class="pt0">
                  <div class="text-centered bootstrap">
                    <h2
                      class="large mt0 neutral-white"
                      style="margin-bottom: 16px"
                    >
                      Get started with Metabase
                    </h2>
                    <div
                      class="d-flex justify-content-center align-items-center gap-2"
                    >
                      <a
                        class="fs-13 Button Button--primary rounded-3 ms-lg-2 py-3 lh-base"
                        href="https://store.metabase.com/checkout"
                        >Get started</a
                      >
                    </div>
                    <ul class="horizontal-checklist mt-6">
                      <li>Free, no-commitment trial</li>
                      <li>Easy for everyone—no SQL required</li>
                      <li>Up and running in 5 minutes</li>
                    </ul>
                    <div class="img-placeholder ml-auto mr-auto"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
