---
import Base from "../../layouts/Base.astro";
const title = "Exasol";
const description = "An in-memory database built for analytics";
const seo = {
  title: "Exasol",
  description: "An in-memory database built for analytics",
  canonical: "/data-sources/exasol",
  og: {
    title: "Exasol",
    description: "An in-memory database built for analytics",
    url: "https://www.metabase.com/data-sources/exasol",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Exasol",
    description: "An in-memory database built for analytics",
    card: "summary",
    image: "https://www.metabase.com/images/twitter/default-share.png",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <div class="data-sources entry-page">
        <div>
          <a href="/data-sources/"
            ><svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="chevron"
            >
              <path
                opacity="0.9"
                d="M3 8.96338L16 21.9634L29 8.96338"
                stroke="#509ee3"
                stroke-width="5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            Browse data sources</a
          >

          <div>
            <img
              src="/images/datasources/circle/exasol.png"
              alt="Exasol"
              class="logo"
            />
            <h3>Exasol</h3>
            <p>An in-memory database built for analytics</p>

            <a
              href="https://store.metabase.com/checkout"
              class="btn btn-primary">Get started with Metabase</a
            >

            <h5>Read documentation</h5>
            <p>
              <a
                href="/docs/latest/developers-guide/community-drivers"
                target="_blank">Exasol + Metabase docs</a>
            </p>
            <hr />
            <h5>Type</h5>
            <p>
              <a
                href="/data-sources/#community-data-source-connectors"
                class="connector"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 19.25C16.0041 19.25 19.25 16.0041 19.25 12C19.25 7.99594 16.0041 4.75 12 4.75C7.99594 4.75 4.75 7.99594 4.75 12C4.75 16.0041 7.99594 19.25 12 19.25Z"
                    stroke="#509ee3"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M15.25 12C15.25 16.5 13.2426 19.25 12 19.25C10.7574 19.25 8.75 16.5 8.75 12C8.75 7.5 10.7574 4.75 12 4.75C13.2426 4.75 15.25 7.5 15.25 12Z"
                    stroke="#509ee3"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M5 12H12H19"
                    stroke="#509ee3"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>

                Community Connector
              </a>
            </p><p>
              Built and managed in collaboration between Metabase and partner,
              available in all editions
            </p>
            <p></p>
            <hr />
            <h5>Website</h5>
            <p>
              <a href="https://www.exasol.com/" target="_blank">exasol.com</a>
            </p>
            <hr />
            <h5>Support</h5>
            <p>
              Community drivers aren't officially supported by Metabase, so if
              something isn't working quite right, it's best to reach out to the
              author or check the driver's docs.
            </p>
          </div>
        </div>

        <div>
          <blockquote>
            <p>
              Built and managed by our open source community, available only
              when self-hosting, and not officially supported by Metabase.
            </p>
          </blockquote>

          <div class="title-text-and-checks">
            <h1>
              Make self-service analytics happen for your data in Exasol with
              Metabase
            </h1>

            <p>
              Metabase lets your whole team visualize and explore your data in
              Exasol with or without SQL.
            </p>

            <ul class="checklist-outline">
              <li>
                Analyze vast amounts of data with a querying layer that sits on
                top of your data warehouse so your reports run as quick as
                Exasol.
              </li>

              <li>
                Metabase lets everyone in your team visualize, query, and run
                reports without technical skills or needing to ask your data
                team for help.
              </li>
            </ul>
          </div>

          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide youtube">
                <div id="youtube-id-P6DFuwqSDmQ"></div>
              </div>

              <div class="swiper-slide">
                <img
                  src="/images/stats-dashboard.svg"
                  alt="Metabase Exasol analytics"
                  loading="lazy"
                />
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>

          <div class="title-text-and-checks">
            <h2>Easy-to-use data exploration tools for people of all levels</h2>
            <p>
              Get a BI tool with friendly UX that lets everyone make sense of
              your data in Exasol.
            </p>

            <ul class="checklist-outline">
              <li>
                Query data in plain English with <a href="/features/metabot-ai"
                  >Metabot</a
                >, your AI data assistant. Chat with your database, generate and
                debug SQL, get AI-generated summaries on charts, and more
              </li>
              <li>
                Interactive dashboards that load as fast as Exasol does with
                click-to-explore functionality.
              </li><li>
                Click to drill through on interactive charts and dashboards,
                zoom in on timelines or areas of interest, and break out for
                more context on a specific area.
              </li>
              <li>
                Ask questions with nothing more than clicks in the Query
                Builder—no SQL required (or use the SQL editor if that’s more
                your style).
              </li>
              <li>
                Set up models and metrics to give less technical teammates
                metadata-rich starting points, with trickier stuff like joins
                taken care of.
              </li>
            </ul>
          </div>

          <div class="title-text-and-checks">
            <h2>Give data access with granularity</h2>
            <p>Keep everyone in their own lane.</p>

            <ul class="checklist-outline">
              <li>
                Granular permissions for viewing and querying data, so people
                can see (and do) what they need to and nothing else.
              </li>
              <li>Map permissions to user groups and attributes with SSO.</li>
              <li>Detailed usage analytics lets you see who did what when.</li>
            </ul>
          </div>

          <div class="title-text-and-checks">
            <h2>
              Lots of options for sharing charts and dashboards with your
              team—or your customers
            </h2>
            <p>
              With as much interactivity and room to pull threads (or as little)
              as you want.
            </p>

            <ul class="checklist-outline">
              <li>
                Customer-facing analytics is just a snippet away. Embed all of
                Metabase in your app, or just a dashboard.
              </li>
              <li>
                Export charts and dashboards to PDF, CSV, or share via a public
                link.
              </li>
              <li>
                Set up subscriptions for regularly scheduled updates. Even to
                people without a Metabase login.
              </li>
              <li>Get alerts when things change unexpectedly.</li>
            </ul>
          </div>

          <div class="title-text-and-checks">
            <h2>Keep your data in Exasol</h2>
            <p>
              Metabase runs queries directly in Exasol, so your reports are
              always up-to-date.
            </p>
          </div>

          <div class="two-checklists">
            <h2>Metabase features with Exasol</h2>

            <hr />

            <h3>Available with all data sources</h3>

            <ul class="checklist-outline">
              <li>Unlimited queries, charts, and dashboards</li>
              <li>Send dashboards and reports via email and Slack</li>
              <li>Connect to multiple data sources and integrations</li>
              <li>Single sign on via SAML, LDAP, or JWT</li>
              <li>Interactive embedding with white label customization</li>
              <li>Granular row- and column level permissions</li>
            </ul>

            <hr />

            <a href="/pricing/#compare" class="see-all-features"
              >See all features <svg
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="chevron"
              >
                <path
                  opacity="0.9"
                  d="M3 8.96338L16 21.9634L29 8.96338"
                  stroke="#509ee3"
                  stroke-width="5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>

          <div class="faq-container">
            <h4 class="faq-headline">Frequently asked questions</h4>

            <div class="faq">
              <div class="faq-question">
                <div>
                  What’s the best business intelligence tool to connect to
                  Exasol?
                </div>
                <img
                  alt="Chevron Blue"
                  src="/images/chevron_blue.svg"
                  width="14"
                />
              </div>
              <div class="faq-answer">
                <div>
                  <p>
                    Exasol plays well with most reputable BI tools. Metabase is
                    the most effective way to let everyone in the team start
                    working with data. * Because of sophisticated but
                    easy-to-use data tools like the query builder, which lets
                    people ask questions without SQL, Metabase has a low
                    learning curve. Simple drill-through, zoom-in, and breakout
                    functionality lets people learn more from data with just a
                    few clicks.
                  </p><p>
                    You can set up and connect Metabase to Exasol in about 5
                    minutes and begin querying immediately, with drill-through
                    functionality automatically generated and ready for people
                    to start uncovering insights. Metabase is also open source
                    and affordable, with plans and pricing that scales with you.
                  </p>
                </div>
              </div>

              <div class="faq-question">
                <div>How does Metabase connect to Exasol?</div>
                <img
                  alt="Chevron Blue"
                  src="/images/chevron_blue.svg"
                  width="14"
                />
              </div>
              <div class="faq-answer">
                <div>
                  <p>
                    You can connect to Exasol when you’re setting up a new
                    Metabase instance, or add a database connection any time in
                    your admin settings:
                  </p><p>
                    To add a database connection, click on
                    the&nbsp;gear&nbsp;icon in the top right, and navigate
                    to&nbsp;Admin
                    settings&nbsp;&gt;&nbsp;Databases&nbsp;&gt;&nbsp;Add a
                    database.
                  </p><p>
                    <a href="https://github.com/exasol/metabase-driver"
                      >For the full details on connecting Metabase to Exasol,
                      check out our documentation</a
                    >.
                  </p>
                </div>
              </div>

              <div class="faq-question">
                <div>
                  Can I use permissions from my Exasol database in Metabase?
                </div>
                <img
                  alt="Chevron Blue"
                  src="/images/chevron_blue.svg"
                  width="14"
                />
              </div>
              <div class="faq-answer">
                <div>
                  <p>
                    Exasol permissions can't be impersonated in Metabase. (This
                    is currently possible for PostgreSQL, Redshift, ClickHouse
                    and Snowflake databases).
                  </p><p>
                    With granular row-level permissions and user group mapping,
                    you can effectively set up permissions to match those
                    applied in Exasol.
                  </p><p>
                    <a href="/docs/latest/permissions/start"
                      >Learn more about Metabase permissions in our
                      documentation.</a>
                  </p>
                </div>
              </div>

              <div class="faq-question">
                <div>How can you visualize tables in Exasol?</div>
                <img
                  alt="Chevron Blue"
                  src="/images/chevron_blue.svg"
                  width="14"
                />
              </div>
              <div class="faq-answer">
                <div>
                  <p>
                    Metabase fits with Exasol as a querying and visualization
                    layer on top of your data. With Metabase you can query data
                    in Exasol - with or without SQL - to create a broad range of
                    data visualizations and types and tell a story with
                    interactive dashboards. Viewers can filter and drill-through
                    to get what’s most relevant, and dig deeper on what’s
                    important to them. Visualizations and dashboards can even be
                    shared or embedded in your app.
                  </p>
                </div>
              </div>

              <div class="faq-question">
                <div>How can you query data in Exasol?</div>
                <img
                  alt="Chevron Blue"
                  src="/images/chevron_blue.svg"
                  width="14"
                />
              </div>
              <div class="faq-answer">
                <div>
                  <p>
                    Metabase makes it possible for everyone in the team to run
                    their own reports, without data skills or relying on someone
                    else to write SQL for them. People used to working in Excel
                    can leverage skills usually reserved for spreadsheets to get
                    the answers they need from data in Exasol.
                  </p>
                </div>
              </div>

              <div class="faq-question">
                <div>How to create dashboards using Exasol?</div>
                <img
                  alt="Chevron Blue"
                  src="/images/chevron_blue.svg"
                  width="14"
                />
              </div>
              <div class="faq-answer">
                <div>
                  <p>
                    Metabase lets you bring together charts, visualizations, and
                    questions into interactive dashboards that can be shared
                    with your team and customers.
                  </p><p>
                    The automatically generated drill-through menu lets people
                    click on charts to zero in on a particular category or
                    parameter for further analysis; view individual records, or
                    zoom in on a targeted date range. You can also add filters
                    to let people slice the data on what’s most important to
                    them, and add custom-click behaviors to guide data discovery
                    (e.g. send people to a related dashboard).
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="data-sources-footer">
        <div class="try-metabase-footer">
          <div class="full-width-centered">
            <h3>Try Metabase free for 14 days</h3>
            <p>
              Set up in 5 minutes, connect to your Exasol database, and start
              building dashboards.
            </p>
            <a
              id="get-started-btn-home"
              class="fs-13 Button btn btn-primary rounded-3 ms-lg-2"
              href="https://store.metabase.com/checkout"
            >
              Get started
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
