---
import Base from "../../layouts/Base.astro";
const title = "MongoDB";
const description =
  "A source-available, cross-platform, document-oriented database";
const seo = {
  title: "MongoDB",
  description: "A source-available, cross-platform, document-oriented database",
  canonical: "/data-sources/mongo-db",
  og: {
    title: "MongoDB",
    description:
      "A source-available, cross-platform, document-oriented database",
    image: "https://www.metabase.com/images/datasources/mongo-db.jpg",
    url: "https://www.metabase.com/data-sources/mongo-db",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "MongoDB",
    description:
      "A source-available, cross-platform, document-oriented database",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/datasources/mongo-db.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <div class="data-sources entry-page">
        <div>
          <a href="/data-sources/"
            ><svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="chevron"
            >
              <path
                opacity="0.9"
                d="M3 8.96338L16 21.9634L29 8.96338"
                stroke="#509ee3"
                stroke-width="5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            Browse data sources</a
          >

          <div>
            <img
              src="/images/datasources/circle/mongo-db.png"
              alt="MongoDB"
              class="logo"
            />
            <h3>MongoDB</h3>
            <p>
              A source-available, cross-platform, document-oriented database
            </p>

            <a
              href="https://store.metabase.com/checkout"
              class="btn btn-primary">Get started with Metabase</a
            >

            <h5>Read documentation</h5>
            <p>
              <a
                href="/docs/latest/databases/connections/mongodb"
                target="_blank">MongoDB + Metabase docs</a>
            </p>
            <hr />
            <h5>Type</h5>
            <p>
              <a
                href="/data-sources/#official-data-source-connectors"
                class="connector"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  ><path
                    stroke="#509EE3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="m14.25 8.75 4-4H5.75l4 4"></path><path
                    stroke="#509EE3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M17.25 14a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z"
                  ></path></svg
                >

                Official Connector
              </a>
            </p><p>Built and managed by Metabase, available in all editions</p>
            <p></p>
            <hr />
            <h5>Website</h5>
            <p>
              <a href="https://mongodb.com/" target="_blank">mongodb.com</a>
            </p>
            <hr />
            <h5>Support</h5>
            <p>Unlimited technical help available on paid plans.</p>
          </div>
        </div>

        <div>
          <div class="title-text-and-checks">
            <h1>Analyze data in your MongoDB</h1>

            <p>
              If you’re using MongoDB, you’re probably working with large,
              diverse - and possibly distributed - data sets. Metabase lets your
              whole team visualize and explore your data in Mongo. Run MongoDB
              native queries and analyze non-tabular data. With in-built schema
              inference and native syntax support, you can plug into MongoDB
              with no custom connectors required.
            </p>

            <ul class="checklist-outline">
              <li>
                Analyze vast amounts of data with a querying layer that sits on
                top of your data warehouse so your reports run as quick as
                Mongo.
              </li>

              <li>
                Metabase lets everyone in your team visualize, query, and run
                reports without technical skills or needing to ask your data
                team for help.
              </li>
            </ul>
          </div>

          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide youtube">
                <div id="youtube-id-3TU9IXRlH24"></div>
              </div>

              <div class="swiper-slide">
                <img
                  src="/images/stats-dashboard.svg"
                  alt="Metabase MongoDB analytics"
                  loading="lazy"
                />
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>

          <div class="title-text-and-checks">
            <h2>Easy-to-use data exploration tools for people of all levels</h2>

            <p>
              Get business intelligence tool with friendly UX that lets everyone
              make sense of your data in MongoDB.
            </p>

            <ul class="checklist-outline">
              <li>
                Interactive dashboards that load as fast as Mongo does with
                click-to-explore functionality.
              </li>

              <li>
                Metabase detects the shape of your data in MongoDB to anticipate
                visualization needs and drill throughs for things like
                time-series data.
              </li>

              <li>
                Set up models and metrics to let your team ask questions and
                learn from your data in MongoDB without unique syntax.
              </li>
            </ul>
          </div>

          <div class="title-text-and-checks">
            <h2>Give data access with granularity</h2>

            <p>
              Take control over data access and permissions to keep everyone in
              their own lane for maximum governance.
            </p>

            <ul class="checklist-outline">
              <li>
                Granular permissions for viewing and querying data, so people
                can see and do what they need to and nothing else.
              </li>

              <li>
                Manage permissions with SSO to map permissions to user groups
                and attributes.
              </li>

              <li>
                Detailed usage analytics lets you see who did what when, for
                compliance, performance.
              </li>
            </ul>
          </div>

          <div class="title-text-and-checks">
            <h2>Share data with your team or your customers, easily</h2>

            <p>
              Put dashboards and charts in front of people with as much
              interactivity and room to pull threads as you want.
            </p>

            <ul class="checklist-outline">
              <li>
                Customer-facing analytics is just a snippet away. Embed all of
                Metabase in your app, or just a dashboard.
              </li>

              <li>
                Export charts and dashboards to PDF, CSV, or share via a public
                link.
              </li>

              <li>
                Set up subscriptions for regularly scheduled updates. Even to
                people without a Metabase login.
              </li>

              <li>Get alerts when things change unexpectedly.</li>
            </ul>
          </div>

          <div class="title-text-and-checks">
            <h2>In-warehouse MongoDB analytics without extracting data</h2>

            <p>
              Metabase runs direct queries in your MongoDB without extracts, so
              your reports are always up-to-date with your MongoDB data.
            </p>
          </div>

          <div class="two-checklists">
            <h2>Metabase features with MongoDB</h2>

            <hr />

            <h3>Available with all data sources</h3>

            <ul class="checklist-outline">
              <li>Unlimited queries, charts, and dashboards</li>
              <li>Send dashboards and reports via email and Slack</li>
              <li>Connect to multiple data sources and integrations</li>
              <li>Single sign on via SAML, LDAP, or JWT</li>
              <li>Interactive embedding with white label customization</li>
              <li>Granular row- and column level permissions</li>
            </ul>

            <hr />

            <h3>
              Not available with MongoDB

              <span
                class="apply-tooltip"
                data-tippy-content="Some Metabase features aren’t available with MongoDB."
                data-tippy-placement="top"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 13V15"
                    stroke="#DADADA"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M12 10C12.5523 10 13 9.55228 13 9C13 8.44772 12.5523 8 12 8C11.4477 8 11 8.44772 11 9C11 9.55228 11.4477 10 12 10Z"
                    fill="#DADADA"></path>
                  <path
                    d="M12 19.25C16.0041 19.25 19.25 16.0041 19.25 12C19.25 7.99594 16.0041 4.75 12 4.75C7.99594 4.75 4.75 7.99594 4.75 12C4.75 16.0041 7.99594 19.25 12 19.25Z"
                    stroke="#DADADA"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </span>
            </h3>

            <ul class="checklist-outline not-available">
              <li>Pivot tables</li>

              <li>Saved questions as data sources</li>
            </ul>

            <hr />

            <a href="/pricing/#compare" class="see-all-features"
              >See all features <svg
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="chevron"
              >
                <path
                  opacity="0.9"
                  d="M3 8.96338L16 21.9634L29 8.96338"
                  stroke="#509ee3"
                  stroke-width="5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>

          <div class="title-text-and-checks">
            <h2>Keep everything in your own cluster</h2>

            <p>
              Self-host Metabase and MongoDB to keep everything on your terms.
              Get your token and go. Both are open source, with optional
              cloud-hosting.
            </p>
          </div>

          <div class="faq-container">
            <h4 class="faq-headline">Frequently asked questions</h4>

            <div class="faq">
              <div class="faq-question">
                <div>
                  What’s the best business intelligence tool to connect to
                  MongoDB?
                </div>
                <img
                  alt="Chevron Blue"
                  src="/images/chevron_blue.svg"
                  width="14"
                />
              </div>
              <div class="faq-answer">
                <div>
                  <p>
                    Metabase is one of the only business intelligence tools that
                    allows you to work with MongoDB without a custom connector.
                    Most business intelligence tools are designed to work with
                    tabular, row-and-column data. To work with data in MongoDB,
                    most of these tools require using Mongo’s Connector for BI.
                    Metabase connects to MongoDB directly with just a connection
                    string.
                  </p><p>
                    Metabase is the most effective way to let everyone in the
                    team start working with data. * Because of sophisticated but
                    easy-to-use data tools like the query builder, which lets
                    people ask questions without native queries, Metabase has a
                    low learning curve. Simple drill-through, zoom-in, and
                    breakout functionality lets people learn more from data with
                    just a few clicks.
                  </p><p>
                    You can set up and connect Metabase to MongoDB in about 5
                    minutes and begin querying immediately, with drill-through
                    functionality automatically generated and ready for people
                    to start uncovering insights. Metabase is also open source
                    and affordable, with plans and pricing that scales with you.
                  </p>
                </div>
              </div>

              <div class="faq-question">
                <div>How does Metabase connect to MongoDB?</div>
                <img
                  alt="Chevron Blue"
                  src="/images/chevron_blue.svg"
                  width="14"
                />
              </div>
              <div class="faq-answer">
                <div>
                  <p>
                    You can connect to MongoDB when you’re setting up a new
                    Metabase instance, or add a database connection any time in
                    your admin settings.
                  </p><p>
                    You can connect your Metabase to MongoDB by using Metabase
                    fields to input your connection details, or by pasting your
                    connection string.
                  </p><p>
                    To add a database connection, click on
                    the&nbsp;gear&nbsp;icon in the top right, and navigate
                    to&nbsp;Admin
                    settings&nbsp;&gt;&nbsp;Databases&nbsp;&gt;&nbsp;Add a
                    database.
                  </p><p>
                    <a href="/docs/latest/databases/connections/mongodb"
                      >For the full details on connecting Metabase to MongoDB,
                      check out our documentation</a
                    >.
                  </p>
                </div>
              </div>

              <div class="faq-question">
                <div>
                  Can I use permissions from the MongoDB database in Metabase?
                </div>
                <img
                  alt="Chevron Blue"
                  src="/images/chevron_blue.svg"
                  width="14"
                />
              </div>
              <div class="faq-answer">
                <div>
                  <p>
                    MongoDB permissions can't be impersonated in Metabase (This
                    is currently possible for PostgreSQL, Redshift, ClickHouse,
                    and Snowflake databases).
                  </p><p>
                    With granular row-level permissions and user group mapping,
                    you can effectively set up permissions to match those
                    applied in MongoDB.
                  </p><p>
                    <a href="/docs/latest/permissions/start"
                      >Learn more about Metabase permissions in our
                      documentation.</a>
                  </p>
                </div>
              </div>

              <div class="faq-question">
                <div>How can you visualize data in MongoDB?</div>
                <img
                  alt="Chevron Blue"
                  src="/images/chevron_blue.svg"
                  width="14"
                />
              </div>
              <div class="faq-answer">
                <div>
                  <p>
                    Metabase fits with MongoDB as a querying and visualization
                    layer on top of your data. With Metabase you can query data
                    in MongoDB - with or without native Mongo queries - to
                    create a broad range of data visualizations and types and
                    tell a story with interactive dashboards. Viewers can filter
                    and drill-through to get what’s most relevant, and dig
                    deeper on what’s important to them. Visualizations and
                    dashboards can even be shared or embedded in your app.
                  </p>
                </div>
              </div>

              <div class="faq-question">
                <div>How can you query data in MongoDB?</div>
                <img
                  alt="Chevron Blue"
                  src="/images/chevron_blue.svg"
                  width="14"
                />
              </div>
              <div class="faq-answer">
                <div>
                  <p>
                    MongoDB lets you store and analyze non-tabular, distributed
                    data sets - but you’ll likely need pretty advanced data and
                    technical skills to be able to do it.
                  </p><p>
                    Metabase makes it possible for everyone in the team to run
                    their own reports, without data skills or relying on someone
                    else to write SQL for them. People used to working in Excel
                    can leverage skills usually reserved for spreadsheets to get
                    the answers they need from data in MongoDB.
                  </p>
                </div>
              </div>

              <div class="faq-question">
                <div>How to create dashboards using MongoDB?</div>
                <img
                  alt="Chevron Blue"
                  src="/images/chevron_blue.svg"
                  width="14"
                />
              </div>
              <div class="faq-answer">
                <div>
                  <p>
                    Metabase lets you bring together charts, visualizations, and
                    questions into interactive dashboards that can be shared
                    with your team and customers.
                  </p><p>
                    The automatically generated drill-through menu lets people
                    click on charts to zero in on a particular category or
                    parameter for further analysis; view individual records, or
                    zoom in on a targeted date range. You can also add filters
                    to let people slice the data on what’s most important to
                    them, and add custom-click behaviors to guide data discovery
                    (e.g. send people to a related dashboard).
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="data-sources-footer">
        <div class="try-metabase-footer">
          <div class="full-width-centered">
            <h3>Try Metabase for 14 days free</h3>
            <p>
              Set up in 5 minutes, connect to your MongoDB database, and start
              building dashboards.
            </p>
            <a
              id="get-started-btn-home"
              class="fs-13 Button btn btn-primary rounded-3 ms-lg-2"
              href="https://store.metabase.com/checkout"
            >
              Get started
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
