---
import Base from "../../layouts/Base.astro";
const title = "Dashboard for Marketing Teams | Metabase";
const description =
  "A marketing team dashboard collects your team’s most important metrics in one easy-to-understand format.";
const seo = {
  title: "Dashboard for Marketing Teams | Metabase",
  description:
    "A marketing team dashboard collects your team’s most important metrics in one easy-to-understand format.",
  canonical: "/dashboards/marketing-teams",
  og: {
    title: "Dashboard for Marketing Teams | Metabase",
    description:
      "A marketing team dashboard collects your team’s most important metrics in one easy-to-understand format.",
    image:
      "https://www.metabase.com/images/opengraph/_dashboards/marketing-teams.jpg",
    url: "https://www.metabase.com/dashboards/marketing-teams",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Dashboard for Marketing Teams | Metabase",
    description:
      "A marketing team dashboard collects your team’s most important metrics in one easy-to-understand format.",
    card: "summary_large_image",
    image:
      "https://www.metabase.com/images/opengraph/_dashboards/marketing-teams.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="product-intro">
      <div class="container">
        <div class="">
          <div class="text-centered intro-block mt0" style="max-width: 540px;">
            <h1 class="xl my0">Dashboards for Marketing Teams</h1>
            <p class="xl my0">
              Metabase makes it easy for everyone to build a dashboard for
              Marketing Teams.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="relative">
      <div class="container relative">
        <div
          class="row my4 pb3 relative align-center"
          style="align-items: center;"
        >
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mt0 pt0 px0">
            <h2 class="my0">What’s a Marketing Teams dashboard?</h2>
            <p>
              A marketing team dashboard collects your team’s most important
              metrics in one easy-to-understand format.
            </p>
            <a
              class="block sm-inline-block px2 Button Button--primary"
              href="https://store.metabase.com/checkout">Get Started</a
            >
          </div>
          <div
            class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-lg-offset-2 bleed-off"
          >
            <div class="relative">
              <img
                src="/images/dashboards/marketing-teams/Dashboard.png"
                class="max-100"
                srcset="/images/dashboards/marketing-teams/Dashboard.png 1x"
                alt="Graphs of Marketing Teams"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container relative">
      <iframe
        src="https://metabase-public.metabaseapp.com/public/dashboard/725e094e-4961-43ba-a540-f63711fdf75c"
        height="2500"
        width="100%"
        style="border: none;"></iframe>
    </div>

    <div class="container relative">
      <div
        class="flex flex-column flex-column-reverse sm-flex-row mt5"
        style="align-items: center;"
      >
        <div class="relative col-xs-12 col-md-7">
          <h2>Why build a dashboard for Marketing Teams?</h2>
        </div>
      </div>
      <div
        class="flex flex-column flex-column-reverse sm-flex-row"
        style="align-items: center;"
      >
        <div class="relative col-xs-12 col-md-4">
          <div class="relative">
            <img
              src="/images/dashboards/email/everything-in-one-place.png"
              class="max-100"
              srcset="/images/dashboards/email/everything-in-one-place.png 1x"
              alt="Sales per source graph"
              loading="lazy"
            />
          </div>
          <h3 class="large mb05">Everything in one place</h3>
          <p class="mt0">
            Get everyone on the same page by collecting your most important
            metrics into a single view.
          </p>
        </div>
        <div class="relative col-xs-12 col-md-4">
          <div class="relative">
            <img
              src="/images/dashboards/email/sales-per-source.png"
              class="max-100"
              srcset="/images/dashboards/email/sales-per-source.png 1x"
              alt="Sales per source graph"
              loading="lazy"
            />
          </div>
          <h3 class="large mb05">Share your perspective</h3>
          <p class="mt0">
            Take your data wherever it needs to go by embedding it in your
            internal wikis, websites, and content.
          </p>
        </div>
        <div class="relative col-xs-12 col-md-4">
          <div class="relative">
            <img
              src="/images/dashboards/email/unlock-exploration.png"
              class="max-100"
              srcset="/images/dashboards/email/unlock-exploration.png 1x"
              alt="eCommerce orders filter"
              loading="lazy"
            />
          </div>
          <h3 class="large mb05">Unlock exploration</h3>
          <p class="mt0">
            Empower your team to measure their own progress and explore new
            paths to achieve their goals.
          </p>
        </div>
      </div>
    </div>

    <div class="product-intro">
      <div class="container py4 mt4 mobile-top-48">
        <div class="row my4 pb3 relative align-center">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <h2>What should I track on my dashboard for Marketing Teams?</h2>
            <p class="large">
              Every team is different, but sometimes it helps to start with some
              examples. Here are our top 8 Marketing Teams metrics to start
              tracking on your dashboards.
            </p>
          </div>
          <div
            class="col-xs-12 col-sm-6 col-md-6 col-lg-5 col-lg-offset-1 bootstrap"
          >
            <div class="top-list">
              <h3 id="top-8-marketing-team-metrics">
                Top 8 marketing team metrics
              </h3>

              <ul>
                <li>Unique Website Visitors</li>
                <li>Website Conversion Rate</li>
                <li>Bounce Rate</li>
                <li>List Growth Rate</li>
                <li>Net Promoter Score</li>
                <li>SEO Rankings</li>
                <li>Total Organic Reach</li>
                <li>Average Time on Page</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="relative mb4">
      <div class="container relative">
        <div class="flex flex-column flex-column-reverse sm-flex-row">
          <div class="relative col-xs-12 col-md-8 mb1">
            <h2>How to use Metabase to build Marketing Teams dashboards</h2>
          </div>
        </div>
        <div class="flex flex-column sm-flex-row">
          <div class="relative col-xs-12 col-md-4">
            <div class="relative">
              <img
                src="/images/dashboards/get-started.png"
                class="max-100"
                srcset="/images/dashboards/get-started.png 1x"
                alt="Get started"
                loading="lazy"
              />
            </div>
            <h3 class="large mb0">
              <span class="text-brand">Step 1.</span><br />
              Skip the custom quote
            </h3>
            <p class="mt0">
              That's right, no sales calls necessary—just sign up, and get
              running in under 5 minutes.
            </p>
          </div>
          <div class="relative col-xs-12 col-md-4">
            <div class="relative">
              <img
                src="/images/dashboards/plugin-database.png"
                class="max-100"
                srcset="/images/dashboards/plugin-database.png 1x"
                alt="types of databases"
                loading="lazy"
              />
            </div>
            <h3 class="large mb0">
              <span class="text-brand">Step 2.</span><br />
              Plugin your database
            </h3>
            <p class="mt0">
              We connect to the most popular production databases and data
              warehouses.
            </p>
          </div>
          <div class="relative col-xs-12 col-md-4">
            <div class="relative">
              <img
                src="/images/dashboards/build-dashboards.png"
                class="max-100"
                srcset="/images/dashboards/build-dashboards.png 1x"
                alt="dashboard example"
                loading="lazy"
              />
            </div>
            <h3 class="large mb0">
              <span class="text-brand">Step 3.</span><br />
              Build your dashboards
            </h3>
            <p class="mt0">
              Invite your team and start building dashboards—no SQL required.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="get-started">
      <div class="container">
        <div class="pt0">
          <div class="text-centered bootstrap">
            <h2 class="large mt0 neutral-white" style="margin-bottom: 16px">
              Get started with Metabase
            </h2>
            <div class="d-flex justify-content-center align-items-center gap-2">
              <a
                class="fs-13 Button Button--primary rounded-3 ms-lg-2 py-3 lh-base"
                href="https://store.metabase.com/checkout">Get started</a
              >
            </div>
            <ul class="horizontal-checklist mt-6">
              <li>Free, no-commitment trial</li>
              <li>Easy for everyone—no SQL required</li>
              <li>Up and running in 5 minutes</li>
            </ul>
            <div class="img-placeholder ml-auto mr-auto"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
