---
import Base from "../../layouts/Base.astro";
const title = "Business intelligence for startups";
const description =
  "Metabase is the intuitive business intelligence tool on a startup-friendly budget";
const seo = {
  title: "Business intelligence for startups",
  description:
    "Metabase is the intuitive business intelligence tool on a startup-friendly budget",
  canonical: "/lp/bi-for-startups-demo",
  og: {
    title: "Business intelligence for startups",
    description:
      "Metabase is the intuitive business intelligence tool on a startup-friendly budget",
    image: "https://www.metabase.com/images/features/query-builder-og.jpg",
    url: "https://www.metabase.com/lp/bi-for-startups-demo",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Business intelligence for startups",
    description:
      "Metabase is the intuitive business intelligence tool on a startup-friendly budget",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/features/query-builder-og.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="bootstrap">
    <div class="landing-page">
      <div class="landing-page__hero-a">
        <div class="mb-8">
          <div class="d-flex flex-column align-items-center">
            <h1 class="fw-bold mb-5 text-center h3">
              The affordable Business Intelligence tool for your startup
            </h1>

            <div class="row justify-content-center">
              <div class="col-xs-12 col-md-10 col-lg-8">
                <p
                  class="paragraph-4 responsive neutral-40 mb-6 text-center"
                  style="max-width: 840px;"
                >
                  Metabase is the easy-to-use, startup-friendly BI platform with
                  tools that let everyone - even your less techy teammates -
                  work with data. Analyze data, create visualizations, and serve
                  up real-time insights with or without SQL or a data analyst on
                  hand.
                </p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center gap-4">
            <a
              class="fs-13 Button btn btn-primary rounded-3 btn-primary"
              href="https://store.metabase.com/checkout">Get started</a
            >

            <a
              class="fs-13 Button btn btn-primary rounded-3 btn-outline-blue"
              href="/demo">Watch demo</a
            >
          </div>
        </div>
        <div
          class="mt-0 d-flex align-items-center justify-content-center dashboard--preview relative"
        >
          <div class="container d-flex justify-content-center">
            <div class="row justify-content-center">
              <div class="col-xs-12 p-0 relative overflow-hidden w-100">
                <video
                  class="vjs-player lazy w-100 pause-observer autoplay-video"
                  autoplay=""
                  muted=""
                  playsinline=""
                  id="hero-a"
                  poster="/images/landing-pages/hero-query-builder.gif"
                >
                  <source
                    src="/images/landing-pages/hero-query-builder.mp4"
                    type="video/mp4"
                  />

                  <p class="vjs-no-js">
                    To view this video please enable JavaScript and consider
                    upgrading to a web browser that
                    <a
                      href="https://videojs.com/html5-video-support/"
                      target="_blank">supports HTML5 video</a
                    >
                  </p>
                </video>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="hero-container landing-page__hero-c">
        <div class="hero">
          <div class="d-flex justify-content-center align-items-center gap-4">
          </div>

          <div class="cards-container">
            <div class="card">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="none"
                ><path
                  stroke="#509EE3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M8 15.25A7.25 7.25 0 1 0 8 .75a7.25 7.25 0 0 0 0 14.5Z"
                ></path><path
                  stroke="#509EE3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M10.25 4.75H7.375a1.625 1.625 0 1 0 0 3.25h1.25a1.625 1.625 0 1 1 0 3.25H5.75M8 3.75v.5M8 11.75v.5"
                ></path></svg
              >

              <h4>Get your BI tool set up and querying in 5 minutes</h4>
              <p>
                No specialist technical skills needed. Works with whatever’s
                already in your data stack with a number of straightforward data
                connectors.
              </p>
            </div>

            <div class="card">
              <svg
                width="14"
                height="16"
                viewBox="0 0 14 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2.75 15.25H11.25C12.3546 15.25 13.25 14.3546 13.25 13.25V5L9 0.75H2.75C1.64543 0.75 0.75 1.64543 0.75 2.75V13.25C0.75 14.3546 1.64543 15.25 2.75 15.25Z"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M13 5.25H8.75V1"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M4.75 11.25H9.25"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M4.75 8.25H9.25"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>

              <h4>Host it yourself—or let us do it for you</h4>
              <p>
                Containerized, multi-tenant cloud deployment prioritizes
                security. Hosted in a region near you to keep your business
                intelligence software and data management close.
              </p>
            </div>

            <div class="card">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.75 15.2502H5.25C5.80229 15.2502 6.25 14.8025 6.25 14.2502V1.75C6.25 1.19772 5.80229 0.75 5.25 0.75H1.75C1.19772 0.75 0.75 1.19772 0.75 1.75V14.2502C0.75 14.8025 1.19772 15.2502 1.75 15.2502Z"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M10.75 6.2502H14.25C14.8023 6.2502 15.25 5.80253 15.25 5.25025V1.75C15.25 1.19772 14.8023 0.75 14.25 0.75H10.75C10.1977 0.75 9.75 1.19772 9.75 1.75V5.25025C9.75 5.80253 10.1977 6.2502 10.75 6.2502Z"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M10.75 15.2502H14.25C14.8023 15.2502 15.25 14.8025 15.25 14.2502V10.75C15.25 10.1977 14.8023 9.75 14.25 9.75H10.75C10.1977 9.75 9.75 10.1977 9.75 10.75V14.2502C9.75 14.8025 10.1977 15.2502 10.75 15.2502Z"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>

              <h4>SOC 2 Type II Compliance for startups</h4>
              <p>
                Enterprise-level compliance with a price tag that makes sense
                for startups. Put smarter business-decisions in the hands of
                your whole team.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="customer-list">
        <div class="d-flex flex-row justify-content-center">
          <p class="paragraph-4-5 neutral-40 my-0 mb-3 py-0">
            <b>Metabase is trusted by over 80,000 companies </b>
          </p>
        </div>

        <a href="/case-studies" class="customer-logos-container">
          <img
            src="/images/logos/Huggingface.svg"
            alt="huggingface logo"
            loading="lazy"
          />

          <img
            src="/images/logos/mcdonalds.svg"
            alt="mcdonalds logo"
            loading="lazy"
          />

          <img src="/images/logos/huma.svg" alt="huma logo" loading="lazy" />

          <img
            src="/images/logos/capital-one.svg"
            alt="capital-one logo"
            loading="lazy"
          />

          <img
            src="/images/logos/home/airbyte.svg"
            alt="airbyte logo"
            loading="lazy"
          />

          <img
            src="/images/logos/betterment.svg"
            alt="betterment logo"
            loading="lazy"
          />

          <img
            src="/images/logos/deutsche-telekom.svg"
            alt="Deutsche Telekom logo"
            loading="lazy"
          />

          <img src="/images/logos/kong.svg" alt="kong logo" loading="lazy" />
        </a>
      </div>

      <div class="feature-container container">
        <div>
          <h2>Visualize your startup’s data with click-to-create charts</h2>
          <p>
            Go from tables to visualizations in a few clicks. Familiar
            spreadsheet functionality with way more telling outcomes. Click on
            column headers to filter and create visualizations, or choose from
            the menu to automate aggregations.
          </p>

          <ul class="checklist-outline">
            <li>
              <b
                >Uncover real-time trends, track KPIs, and make data-driven
                decisions.</b
              > Whether you need a simple bar graph, pivot tables, pie chart, interactive
              maps - and everything in between. Metabase will automatically pick
              a visualization that fits your data, or choose your own.
            </li>

            <li>
              <b>Over 15 data visualization types.</b> Whether you need a simple
              bar graph, pivot tables, pie chart, interactive maps - and everything
              in between. Metabase will automatically pick a visualization that fits
              your data, or choose your own.
            </li>

            <li>
              <b>Facilitate forecasting with business intelligence software.</b>
              that helps you predict future trends based on historical data.
            </li>
          </ul>
        </div>

        <div>
          <video
            class="vjs-player lazy w-100 pause-observer autoplay-video"
            autoplay=""
            muted=""
            playsinline=""
            id="visualizations"
            poster="/images/landing-pages/embedded-analytics/embedded_analytics-visualizations.gif"
          >
            <source
              src="/images/landing-pages/embedded-analytics/embedded_analytics-visualizations.mp4"
              type="video/mp4"
            />

            <p class="vjs-no-js">
              To view this video please enable JavaScript and consider upgrading
              to a web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
              >
            </p>
          </video>
        </div>
      </div>

      <div class="feature-container flex-row-reverse container">
        <div>
          <h2>
            Create and share interactive dashboards with or without a data team
          </h2>
          <p>
            Build your first dashboard in minutes with a wide range of data
            visualizations that tell a story. Connect your data sources with
            official, partner, and community drivers.
          </p>

          <ul class="checklist-outline">
            <li>
              <b>Share key metrics, KPIs and data analytics</b> with visual, easy-to-read
              and understand datasets for your team (or customers) to discover insights
              and learn more.
            </li>

            <li>
              <b>Customize your dashboards</b> for clearer data storytelling and
              straightforward decision-making and data discovery, with filters, tabs,
              text and link cards for deeper context.
            </li>

            <li>
              <b>Interactive drill-through functionality.</b> Click to zoom in and
              breakout data to get deeper context and insights without needing to
              ask the data team. Click to explore, discover, and create charts in
              minutes.
            </li>

            <li>
              <b>Set up subscriptions and alerts to send dashboards</b> to your teammates,
              customers, and external stakeholders.
            </li>
          </ul>
        </div>
        <div>
          <video
            class="vjs-player lazy w-100 pause-observer autoplay-video"
            autoplay=""
            muted=""
            playsinline=""
            id="drill-through"
            poster="/images/landing-pages/drill-through.gif"
          >
            <source
              src="/images/landing-pages/drill-through.mp4"
              type="video/mp4"
            />

            <p class="vjs-no-js">
              To view this video please enable JavaScript and consider upgrading
              to a web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
              >
            </p>
          </video>
        </div>
      </div>

      <div class="testimonial">
        <p>
          “It's the first time in my years working in data that I saw
          non-technical business users create their own dashboards and analytics
          in our BI platform, all made possible because of Metabase’s user
          friendly and intuitive data exploration and dashboarding
          capabilities.”
        </p>

        <p class="author">Dobo Radichkov</p>
        <p class="company">Chief Data Officer, Holland &amp; Barrett</p>
      </div>

      <div class="feature-container container">
        <div>
          <h2>
            Query data with or without SQL for true self-service data analytics
          </h2>
          <p>
            Convert spreadsheet experts to BI tool fans with easy-to-use data
            analytics that feels like home (but with more interesting outcomes).
          </p>

          <ul class="checklist-outline">
            <li>
              <b>Intuitive query builder with drag-and-drop functionality</b> that
              lets less data-savvy teammates put together their own questions without
              a lick of SQL (or a data team to help them). They won’t even miss Excel.
            </li>

            <li>
              <b>Provide the building blocks for new questions.</b> Models are meta-data
              enriched with complex stuff, like joins, already done.
            </li>

            <li>
              <b>Structure and highlight fresh and vetted content.</b> Organize related
              content in collections, and verify fresh, vetted content for use. Point
              people to optimize business decisions and empowered.
            </li>

            <li>
              <b>SQL editor for advanced analytics.</b> That your data team will
              actually like using, with reusable Snippets, and a handy data reference
              where you want it.
            </li>
          </ul>
        </div>

        <div>
          <video
            class="vjs-player lazy w-100 pause-observer autoplay-video"
            autoplay=""
            muted=""
            playsinline=""
            id="query-builder"
            poster="/images/features/models.png"
          >
            <source src="/images/features/models.mp4" type="video/mp4" />

            <p class="vjs-no-js">
              To view this video please enable JavaScript and consider upgrading
              to a web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
              >
            </p>
          </video>
        </div>
      </div>

      <div class="feature-container flex-row-reverse container">
        <div>
          <h2>Fast to set up and integrates with your preferred data tools</h2>
          <p>
            Set up in 5 minutes without engineering help. No code, technical
            skills, or developers required.
          </p>

          <ul class="checklist-outline">
            <li>
              <b>Go from data source to sharing your first dashboard</b> faster than
              it takes to sign up for a trial with other BI tools.
            </li>

            <li>
              <b>Connects to more than 20 data sources</b> via official, partner,
              and community drivers. Bring all your datasets together in a single
              analytics tool.
            </li>

            <li>
              <b>Work with your preferred data tools.</b> From transformation, data
              preparation to upstream data modeling, to curate your data and BI ecosystem
              with a powerful query and data visualization layer to turn raw data
              into insights.
            </li>

            <li>
              <b>Host it on-premises, or hand over hosting duties to us.</b> Super
              secure single tenant or air-gapped deployment is also available.
            </li>
          </ul>
        </div>
        <div>
          <video
            class="vjs-player lazy w-100 pause-observer autoplay-video"
            autoplay=""
            muted=""
            playsinline=""
            id="row-level-permissions"
            poster="/images/landing-pages/embedded-analytics/embedded_analytics-hero_animation.gif"
          >
            <source
              src="/images/landing-pages/embedded-analytics/embedded_analytics-hero_animation.gif"
              type="video/mp4"
            />

            <p class="vjs-no-js">
              To view this video please enable JavaScript and consider upgrading
              to a web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
              >
            </p>
          </video>
        </div>
      </div>

      <div class="feature-container container">
        <div>
          <h2>
            Customer-facing, embedded dashboards and data analytics in days, not
            sprints
          </h2>
          <p>
            As a startup, you’re probably wearing a million hats and agonizing
            over what gets priority. Make customer-facing dashboards and
            analytics one less thing to worry about. Embed the best of BI
            without having to do the hard work of building it yourself.
          </p>

          <ul class="checklist-outline">
            <li>
              <b
                >Give your customers as much for as little data analytics
                functionality as you choose.</b
              > From embedded real-time dashboards with interactive charts, to full
              querying power.
            </li>

            <li>
              <b>Get to proof of concept in a fraction of the time.</b> Compared
              to building it for yourself, and also most embedded analytics alternatives.
              You could have customer-facing analytics in your app within the month.
            </li>

            <li>
              <b>White-labeled to look like your brand.</b> Customize fonts, colors,
              logos, and hide any traces of Metabase. No one needs to know you brought
              store-bought business analytics to the bake sale.
            </li>

            <li>
              <b>Scalable, competitive pricing.</b> Whether you want to automate
              insights for your customers and let them run custom reports, or you
              just need to embed a few dashboards, embedding pricing is structured
              so you only pay for what you need.
            </li>
          </ul>
        </div>

        <div>
          <video
            class="vjs-player lazy w-100 pause-observer autoplay-video"
            autoplay=""
            muted=""
            playsinline=""
            id="white-labeling"
            poster="/images/landing-pages/embedded-analytics/embedded_analytics-white-labeling.gif"
          >
            <source
              src="/images/landing-pages/embedded-analytics/embedded_analytics-white-labeling.mp4"
              type="video/mp4"
            />

            <p class="vjs-no-js">
              To view this video please enable JavaScript and consider upgrading
              to a web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
              >
            </p>
          </video>
        </div>
      </div>

      <div class="feature-container flex-row-reverse container">
        <div>
          <h2>
            The business intelligence tool built to scale with your startup
          </h2>
          <p>
            As your startup grows, so will the amount of data, users, queries,
            and dashboards. Metabase will have your back from the early days
            through the Series B and beyond. Keep letting everyone self-serve
            analytics while ensuring your data stays private and secure.
          </p>

          <ul class="checklist-outline">
            <li>
              <b>Single sign-on, JWT and advanced LDAP.</b> Secure access, permission
              grouping and user mapping made simple.
            </li>

            <li>
              <b>Row- and column-level permissions.</b> Get really granular with
              what people see. Not a single cell unaccounted for.
            </li>

            <li>
              <b>Fine-grained usage analytics.</b> See who’s doing what, when. Stay
              on top of compliance, and optimize usage and data performance.
            </li>
          </ul>
        </div>
        <div>
          <video
            class="vjs-player lazy w-100 pause-observer autoplay-video"
            autoplay=""
            muted=""
            playsinline=""
            id="drill-through"
            poster="/images/landing-pages/drill-through.gif"
          >
            <source
              src="/images/landing-pages/drill-through.mp4"
              type="video/mp4"
            />

            <p class="vjs-no-js">
              To view this video please enable JavaScript and consider upgrading
              to a web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
              >
            </p>
          </video>
        </div>
      </div>

      <section
        class="feature-container background-color-both-sides container landing-page__feature-and-rolling-testimonial"
      >
        <div>
          <h2>Help from our world-class success team</h2>
          <p>We don't like to brag, so we'll let our customers do it for us.</p>

          <p>
            <b>With Metabase, you’ll get access to:</b>
          </p>

          <ul class="checklist-outline">
            <li>
              Support from actual technical experts. We're all avid Metabase
              users who are well versed in business analytics and business
              intelligence platforms, so we've been in your shoes.
            </li>

            <li>
              Help with whatever your problem is, be it admin troubleshooting or
              advice on best practices on everything from data analysis,
              structuring your datasets, data source connectors, data
              visualization, embedding in apps, real-time data visualization for
              KPIs and metrics, data modeling, and more.
            </li>

            <li>
              No chatbots, no hold lines, no customer service runaround. Just
              email us, we're right here.
            </li>
          </ul>
        </div>
        <div class="client-reviews">
          <div class="review-card-container">
            <div class="flex flex-column review-card-container">
              <div class="review-card-absolute-container px-8">
                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “The expertise and engagement of the Metabase team stands in
                    stark contrast to that which we've received from Looker over
                    the past 18+ months and, in previous lives, Tableau.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/dave-holmes-kinsella.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/synctera.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Dave Holmes-Kinsella</div>
                      <div class="review-title">
                        Head of Data Science, Synctera
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “10/10. Metabase support is the best in the industry and
                    serves as a shining example of what we try to achieve for
                    our own customers.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/philip-lorenzo.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/structionsite.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Philip Lorenzo</div>
                      <div class="review-title">
                        Head of Data, StructionSite
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “Johannes is a world class support engineer. I really give
                    him 5 stars for the help he provided. All responses were
                    very fast, to the point, and helpful. I couldn't ask for
                    better support. A true expert.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/chad-remesch.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/the-lobby.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Chad Remesch</div>
                      <div class="review-title">CTO, The Lobby</div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “I got excellent and timely response to my question. Thank
                    you for the level of detail you provided, you made me feel
                    that if we migrate our installation to your cloud service,
                    we will have your support.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/michael-masouras.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/motohunt.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Michael Masouras</div>
                      <div class="review-title">CEO, Motohunt</div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “Johannes is the best! He always gives thorough responses
                    and next steps that help us manage expectations with our end
                    users.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/meghan-maloy.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/datadog.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Meghan Maloy</div>
                      <div class="review-title">
                        Senior Analytics Engineer, Datadog
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “I really appreciated how fast Luis was to respond, and how
                    straightforward his recommendations are. You're awesome!”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/aimee-walker.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/revenue-io.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Aimée Walker</div>
                      <div class="review-title">
                        Technical Engineer, Revenue.io
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 mb-6">
                  <p class="review-quote">
                    “The response was specific on all my raised points and it
                    came back very quickly!”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/andrea-mazza.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/breeze.png"
                        loading="lazy"
                      />
                    </div>
                    <div
                      class="flex flex-column justify-content-around flex-grow-1"
                    >
                      <div class="review-name">Andrea Mazza</div>
                      <div class="review-title">
                        Marine Data Analyst, Breeze
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="review-card-absolute-container secondary-animation px-8"
              >
                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “The expertise and engagement of the Metabase team stands in
                    stark contrast to that which we've received from Looker over
                    the past 18+ months and, in previous lives, Tableau.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/dave-holmes-kinsella.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/synctera.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Dave Holmes-Kinsella</div>
                      <div class="review-title">
                        Head of Data Science, Synctera
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “10/10. Metabase support is the best in the industry and
                    serves as a shining example of what we try to achieve for
                    our own customers.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/philip-lorenzo.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/structionsite.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Philip Lorenzo</div>
                      <div class="review-title">
                        Head of Data, StructionSite
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “Johannes is a world class support engineer. I really give
                    him 5 stars for the help he provided. All responses were
                    very fast, to the point, and helpful. I couldn't ask for
                    better support. A true expert.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/chad-remesch.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/the-lobby.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Chad Remesch</div>
                      <div class="review-title">CTO, The Lobby</div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “I got excellent and timely response to my question. Thank
                    you for the level of detail you provided, you made me feel
                    that if we migrate our installation to your cloud service,
                    we will have your support.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/michael-masouras.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/motohunt.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Michael Masouras</div>
                      <div class="review-title">CEO, Motohunt</div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “Johannes is the best! He always gives thorough responses
                    and next steps that help us manage expectations with our end
                    users.”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/meghan-maloy.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/datadog.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Meghan Maloy</div>
                      <div class="review-title">
                        Senior Analytics Engineer, Datadog
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “I really appreciated how fast Luis was to respond, and how
                    straightforward his recommendations are. You're awesome!”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/aimee-walker.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/revenue-io.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Aimée Walker</div>
                      <div class="review-title">
                        Technical Engineer, Revenue.io
                      </div>
                    </div>
                  </div>
                </div>

                <div class="review-card p-6 drop-shadow mb-6">
                  <p class="review-quote">
                    “The response was specific on all my raised points and it
                    came back very quickly!”
                  </p>
                  <div class="flex flex-row">
                    <div class="review-headshot rounded-circle">
                      <img
                        alt="review headshot"
                        src="/images/reviews/profiles/andrea-mazza.jpg"
                        loading="lazy"
                      />
                    </div>
                    <div class="review-logo rounded-circle">
                      <img
                        alt="review logo"
                        src="/images/reviews/companies/breeze.png"
                        loading="lazy"
                      />
                    </div>
                    <div class="flex flex-column justify-content-around">
                      <div class="review-name">Andrea Mazza</div>
                      <div class="review-title">
                        Marine Data Analyst, Breeze
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="faq-container">
        <h4 class="faq-headline">Frequently asked questions</h4>

        <div class="faq">
          <div class="faq-question">
            <div>What is a BI solution?</div>
            <img alt="Chevron Blue" src="/images/chevron_blue.svg" width="14" />
          </div>
          <div class="faq-answer">
            <div>
              <p>
                Business intelligence tools (BI tools) are software applications
                designed to transform your raw data from databases, data
                warehouses, and spreadsheets into actionable insights. They do
                this by:
              </p><p>
                - Analyzing and summarizing data - BI tools can identify
                patterns, trends, and relationships within your data.
              </p><p>
                - Creating visualizations - They can present this information in
                easy-to-understand formats like charts, graphs, and dashboards.
              </p><p>
                - Providing alerts and notifications - BI tools can set up
                alerts to notify you of important changes or emerging trends in
                your data.
              </p><p>
                - Facilitating forecasting - These tools can help you predict
                future trends based on historical data.
              </p><p>
                Overall, BI tools empower you to make data-driven decisions by
                giving you a clear and comprehensive picture of your business
                performance.
              </p>
            </div>
          </div>

          <div class="faq-question">
            <div>
              What makes Metabase a good business intelligence solution for
              startups?
            </div>
            <img alt="Chevron Blue" src="/images/chevron_blue.svg" width="14" />
          </div>
          <div class="faq-answer">
            <div>
              <p>
                Founders, CTOs, Heads of Data, solo devs and more love how
                startup-friendly Metabase is:
              </p><p>
                - It’s super fast to set up without engineering or data team
                time. You can install and start querying within five minutes.
                Cloud hosting takes care of maintenance, backups and updates for
                you.
              </p><p>
                - The price is right for startups. BI can get expensive, but it
                doesn’t have to be that way. Metabase is an open source tool,
                with hosting and advanced governance features starting at a
                reasonable price.
              </p><p>
                - It gives everyone the tools to explore data on their own.
                Click on a chart to drillthrough on relevant data, ask a
                question without knowing SQL, or write native queries. Metabase
                caters to people of all levels of data literacy.
              </p><p>
                Startup life means you’re probably wearing a lot of hats. Hang
                up your Chief Reporting Officer fedora and let your team do
                their own data analysis.
              </p>
            </div>
          </div>

          <div class="faq-question">
            <div>
              Give it to me straight - which is the best business intelligence
              tool?
            </div>
            <img alt="Chevron Blue" src="/images/chevron_blue.svg" width="14" />
          </div>
          <div class="faq-answer">
            <div>
              <p>
                There’s no right or wrong answer here. It will generally depend
                on your use case, how much you want people to be able to learn
                from data and run reports on their own without depending on your
                data team; your preferred data stack, how fast you need to get
                up and running, your budget, and more.
              </p><p>
                Again, there’s no “right” answer, but just sayin’ - Metabase is
                user-friendly to let everyone on your team get real-time
                insights from data. It works well with all of your datasets and
                preferred data tools (from data sources, data preparation, and
                semantic layering tools). It gets up and running in 5 minutes
                flat. And pricing is suited to all budgets (and you can try it
                for free).
              </p><p>
                Teams who have used Tableau, Microsoft’s Power BI, Google’s
                Looker, Domo, Sisense and other business intelligence platforms
                in the past now choose Metabase as it lets their business users
                self-service analytics. User-friendly drag-and-drop data
                analytics lets people run ad hoc reports on their own and get
                actionable insights without needing SQL.
              </p>
            </div>
          </div>

          <div class="faq-question">
            <div>Does my whole team need to know SQL to use Metabase?</div>
            <img alt="Chevron Blue" src="/images/chevron_blue.svg" width="14" />
          </div>
          <div class="faq-answer">
            <div>
              <p>
                Metabase lets people ask questions with or without needing to
                know SQL. The intuitive Query Builder lets non-technical or data
                savvy people put together analyses with clicks - no SQL
                necessary. A promise made by many analytics tools, but not
                always delivered. Analysts and data people who prefer to write
                SQL can fill their boots in the SQL editor.
              </p>
            </div>
          </div>

          <div class="faq-question">
            <div>Who uses Metabase?</div>
            <img alt="Chevron Blue" src="/images/chevron_blue.svg" width="14" />
          </div>
          <div class="faq-answer">
            <div>
              <p>
                Metabase is trusted by over 80,000 companies with their data
                analytics, from startups who need their first business
                intelligence tool through to Enterprises.
              </p><p>
                Metabase open source is the go-to choice for founders and
                solo-developers to let their teams get answers from data on
                their own so they’re not running the same reports once a month.
                Metabase Pro and Enterprise is generally chosen by CTOs, CPOs,
                Heads of Data who have been there, done that with every other BI
                platform on the market and need a way to make self-service
                analytics actually happen.
              </p><p>
                You’ll have to take our word on this one, but Metabase is even
                used by several of our competitors (who have asked us not to
                show their logos, of course). Could we even make that up?
              </p>
            </div>
          </div>

          <div class="faq-question">
            <div>
              Can I use Metabase for data analysis with Excel or Google Sheets?
            </div>
            <img alt="Chevron Blue" src="/images/chevron_blue.svg" width="14" />
          </div>
          <div class="faq-answer">
            <div>
              <p>
                Yes, you can use Metabase for data analysis with Excel or Google
                Sheets. Here’s how:
              </p><p>
                - Upload CSV data to Metabase - Combine spreadsheet data with
                datasets in connected tables and data warehouses. It’s big data
                meets little data.
              </p><p>
                - Export Data - Use Metabase to query your data and then export
                the results directly to Excel or CSV format.
              </p><p>
                - Google Sheets Integration - Utilize third-party tools like the
                Metabase integration for Google Sheets to sync query results
                directly into your spreadsheets.
              </p><p>
                - API Access - Leverage Metabase’s API to automate data
                extraction into Excel or Google Sheets for dynamic updates.
              </p><p>
                - Scheduled Reports - Set up scheduled email reports from
                Metabase, sending query results to your inbox, which can be
                easily imported into Excel or Google Sheets.
              </p><p>
                Metabase’s capabilities in uploading data, exporting data, using
                third-party integrations, and providing API access make it
                flexible for combining powerful data analysis with familiar
                spreadsheet tools.
              </p>
            </div>
          </div>

          <div class="faq-question">
            <div>
              What are the best business intelligence tools for startups, and
              how does Metabase stack up?
            </div>
            <img alt="Chevron Blue" src="/images/chevron_blue.svg" width="14" />
          </div>
          <div class="faq-answer">
            <div>
              <p>
                Many large enterprises use BI platforms such as Microsoft
                PowerBI, Salesforce Tableau, or Google Looker. These BI
                platforms could be right for your organizations if you are doing
                complex data modeling and semantic layering and have a dedicated
                team - and significantly sized budget - to support it.
              </p><p>
                Metabase on the other hand is the leading open-source analytics
                platform which has been designed for all business users - not
                just dedicated data analysts. Data integration is simple and can
                be done with just the database connection string inside of 5
                minutes.
              </p><p>
                This makes Metabase the default choice for Saas startup
                co-founders and CTOs who install Metabase on day one to make
                data usable for everyone in the company to use business data to
                make decisions.
              </p>
            </div>
          </div>
        </div>

        <div class="bootstrap">
          <div class="faq-contact-us">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                ><path
                  stroke="#509EE3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M4.75 6.75a2 2 0 0 1 2-2h10.5a2 2 0 0 1 2 2v7.5a2 2 0 0 1-2 2h-2.625l-2.625 3-2.625-3H6.75a2 2 0 0 1-2-2v-7.5Z"
                ></path><path
                  stroke="#509EE3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9.5 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM12.5 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM15.5 11a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"
                ></path></svg
              >

              Have more questions? We’d be happy to help.
            </div>
            <a
              class="fs-13 Button btn btn-primary rounded-3 ms-lg-2"
              href="/talk-to-a-person/"
            >
              Talk to a person
            </a>
          </div>
        </div>
      </div>

      <div class="try-metabase-footer">
        <div class="full-width-centered">
          <h3>Try Metabase Starter 14 days free</h3>
          <p>Pay as you go, or get 10% off with an annual subscription.</p>
          <a
            id="get-started-btn-home"
            class="fs-13 Button btn btn-primary rounded-3 ms-lg-2"
            href="https://store.metabase.com/checkout"
          >
            Get started
          </a>
        </div>
      </div>

      <div class="light-blue-footer-container">
        <div class="bootstrap"></div>
      </div>
    </div>
  </div>
</Base>
