---
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
const { title = "", description = "" } = Astro.props;
---

<!doctype html>
<html prefix="og: https://ogp.me/ns#" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1"
      name="viewport"
    />
    <meta content="deny" http-equiv="X-Frame-Options" />
    <meta
      content="frame-ancestors 'none'"
      http-equiv="Content-Security-Policy"
    />

    <!-- Twitter cards -->
    <meta name="twitter:site" content="@metabase" />
    <meta content="no-referrer-when-downgrade" name="referrer" />
    <meta
      name="twitter:title"
      content="Open source Business Intelligence and Embedded Analytics"
    />
    <meta
      name="twitter:description"
      content="Metabase open source business intelligence and embedded analytics. Create and share dashboards. Dig deeper into your data with no-code tools for data visualization."
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image"
      content="https://www.metabase.com/images/opengraph/home-og.jpg"
    />
    <!-- end of Twitter cards -->

    <!-- Open Graph metadata -->
    <meta
      property="og:site_name"
      content="Metabase | Open source Business Intelligence and Embedded Analytics"
    />
    <meta property="og:type" content="article" />
    <meta
      name="title"
      property="og:title"
      content="Open source Business Intelligence and Embedded Analytics"
    />
    <meta property="og:url" content="https://www.metabase.com/" />
    <meta name="description" property="og:description" content={description} />
    <meta
      name="image"
      property="og:image"
      content="https://www.metabase.com/images/opengraph/home-og.jpg"
    />
    <!-- end of Open Graph metadata -->
    <link href="index.html" rel="canonical" />
    <link href="images/favicon.svg" rel="shortcut icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link href="gdpr-cookie-notice/dist/style.css" rel="stylesheet" />
    <link href="/css/docs.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/gdpr.css" rel="stylesheet" />
    <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
    <link
      href="feed.xml"
      rel="alternate"
      title="Metabase | Business Intelligence, Dashboards, and Data Visualization"
      type="application/rss+xml"
    />
    <!-- Syntax Highlighting -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/base16/atelier-sulphurpool-light.min.css"
      integrity="sha512-qrwjMzcPG1EHhhg9z2nH7VW7hj525RVx0o7GlxQc4ZhWkghp9slpnTjOUu5thnPaRfRqfAUlX7anvAqD9EonfQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>{title}</title>
  </head>
  <SiteHeader />
  <slot />
  <SiteFooter />
  <!-- <script type="text/javascript">
    const mcEmbeddedSubscribeForm = document.getElementById(
      "mc-embedded-subscribe-form-footer"
    );
    if (mcEmbeddedSubscribeForm) {
      mcEmbeddedSubscribeForm.action = `//metabase.us10.list-manage.com/subscribe/post?u=869fec0e4689e8fd1db91e795&amp;id=b9664113a8&SIGNUP=${window.location.href}`;
    }
  </script> -->

  <!-- statuses -->
  <script src="js/status.js" type="text/javascript"></script>
  <script src="js/github-stars.js" type="text/javascript"></script>

  <!-- show/hide logic for More Resources button -->
  <script type="text/javascript">
    const $moreResourcesButtons = document.querySelectorAll(".more-resources");
    $moreResourcesButtons.forEach(($button) => {
      $button.addEventListener("click", () => {
        $button.nextElementSibling.classList.toggle("hide");
        $button
          .querySelector(".more-resources-chevron")
          .classList.toggle("chevron-up");
      });
    });
  </script>

  <!-- forms -->
  <script
    type="text/javascript"
    src="https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
  ></script>
  <script type="text/javascript">
    (function () {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = "EMAIL";
      ftypes[0] = "email";
      fnames[1] = "FNAME";
      ftypes[1] = "text";
      fnames[2] = "LNAME";
      ftypes[2] = "text";
    })();
    var $mcj = jQuery.noConflict(true);
  </script>
  <script src="/js/navigation-header.js" defer></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"
  ></script>
  <script src="/js/promo-banner.js" defer></script>
  <!-- GDPR -->
  <script type="text/javascript" src="gdpr-cookie-notice/dist/script.js"
  ></script>
  <script type="text/javascript" src="/js/cookie-consent.js" defer></script>
  <script type="text/javascript" src="/js/add-params-to-anchors.js" defer
  ></script>
  <script
    type="text/javascript"
    src="/js/pass-referral-params-to-fillout-forms.js"
    defer></script>
  <script type="text/javascript" src="js/ai-newsletter-subscribe-form.js" defer
  ></script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://www.metabase.com/",
      "sameAs": [
        "https://github.com/metabase",
        "https://www.linkedin.com/company/metabase/",
        "https://x.com/metabase",
        "https://www.youtube.com/@metabasedata"
      ],
      "logo": "https://github.com/metabase/metabase.github.io/blob/master/images/metabase-logo.png?raw=",
      "name": "Metabase",
      "description": "Metabase is an open source Business Intelligence and Embedded Analytics tool. Connect to your data stack in 5 minutes to make queries, visualizations, and dashboards easy for everyone—no SQL required",
      "email": "hello@metabase.com",
      "foundingDate": "2015-02-01T00:00:00.000Z",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "9740 Campo Rd",
        "addressLocality": "Spring Valley",
        "addressCountry": "USA",
        "addressRegion": "CA",
        "postalCode": "91977"
      },
      "knowsAbout": [
        { "@type": "Thing", "name": "Business Intelligence" },
        { "@type": "Thing", "name": "Embedded Analytics" },
        { "@type": "Thing", "name": "Self-service analytics" },
        { "@type": "Thing", "name": "Open source Business Intelligence" }
      ]
    }
  </script>

  <script type="text/javascript" src="/js/contentloaded.min.js" defer></script>
  <script type="text/javascript" src="/js/lightbox.js" defer></script>
  <script type="text/javascript" src="/js/documentation.js" defer></script>
  <script type="text/javascript" src="/js/blog.js" defer></script>
  <script type="text/javascript" src="/js/syntax-highlight.js" defer></script>


</html>
