---
import Base from "../../layouts/Base.astro";
const title = "Building Metabase dashboards like a pro";
const description =
  "Learn how to create professional dashboards in Metabase with tabs, filters, and interactive features for effective data visualization.";
const seo = {
  title: "Building Metabase dashboards like a pro",
  description:
    "Learn how to create professional dashboards in Metabase with tabs, filters, and interactive features for effective data visualization.",
  canonical: "/events/building-metabase-dashboards-like-a-pro",
  og: {
    title: "Building Metabase dashboards like a pro",
    description:
      "Learn how to create professional dashboards in Metabase with tabs, filters, and interactive features for effective data visualization.",
    image:
      "https://www.metabase.com/images/events/how-to-build-mb-dashboards.jpg",
    url: "https://www.metabase.com/events/building-metabase-dashboards-like-a-pro",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Building Metabase dashboards like a pro",
    description:
      "Learn how to create professional dashboards in Metabase with tabs, filters, and interactive features for effective data visualization.",
    card: "summary_large_image",
    image:
      "https://www.metabase.com/images/events/how-to-build-mb-dashboards.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <div class="event">
        <div class="main-content">
          <div class="hero">
            <div>
              <div>
                <a class="back" href="/events/">
                  <img
                    alt="Chevron Blue Right"
                    src="/images/chevron_blue_right.svg"
                  />
                  <span
                    >Back to all<span class="desktop">&nbsp;events</span>
                  </span>
                </a>
              </div>
              <div>
                <img
                  alt="mastering-metabase"
                  src="/images/events/categories/mastering-metabase.jpg"
                />
                <h1>Building Metabase dashboards like a pro</h1>
                <h2 class="date-and-length">
                  <span data-date="2023-07-13" data-time="14:00"></span>

                  · 45 minutes
                </h2>

                <div class="countdown">
                  <div>
                    <span class="countdown-days">&nbsp;</span>
                    <span>days</span>
                  </div>
                  <div class="separator">
                    <span>:</span>
                  </div>
                  <div>
                    <span class="countdown-hours">&nbsp;</span>
                    <span>hours</span>
                  </div>
                  <div class="separator">
                    <span>:</span>
                  </div>
                  <div>
                    <span class="countdown-minutes">&nbsp;</span>
                    <span>minutes</span>
                  </div>
                  <div class="separator">
                    <span>:</span>
                  </div>
                  <div>
                    <span class="countdown-seconds">&nbsp;</span>
                    <span>seconds</span>
                  </div>
                </div>
              </div>
              <div>&nbsp;</div>
            </div>
          </div>

          <div class="video">
            <iframe
              src="https://www.youtube.com/embed/9ZQyS2ZEqa4"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen=""
            >
            </iframe>
          </div>

          <div class="intro">
            <h3>About this event</h3>

            <p>
              Learn how to to build interactive dashboards in Metabase so that
              you have all the needed information at your fingertips
            </p>
          </div>

          <div class="guests">
            <h4>Guest</h4>

            <div>
              <div>
                <img
                  src="/images/events/guests/maz-ameli.jpg"
                  alt="Maz Ameli"
                  loading="lazy"
                />
                <div class="name-and-title">
                  <p>Maz Ameli</p>
                  <p>Head of Design, Metabase</p>
                </div>
              </div>

              <p>
                Maz Ameli has been with Metabase since the early days as a lead
                Product Designer and makeshift UX researcher, and now serves as
                the Head of Product Design. Maz was previously a Lead Product
                Designer at Lookout Mobile Security. He's into baseball, bikes,
                and building products people love.
              </p>
            </div>
          </div>

          <div class="summary">
            <h3>Summary</h3>

            <p>
              In this event, Maz Ameli, Head of Product Design at Metabase,
              walks you through how to create a professional-level
              <a href="/docs/latest/dashboards/introduction"
                >Metabase dashboard</a
              >. See the full video to learn how to add tabs,
              <a
                href="/docs/latest/dashboards/introduction#adding-headings-or-descriptions-with-text-cards"
                >text cards</a
              >,
              <a
                href="/docs/latest/dashboards/interactive#customizing-click-behavior"
                >custom click behaviors</a
              >
              for interactivity, and more to your dashboards.
            </p>

            <p>
              Maz walks through how to set up a dashboard with tabs to serve as
              the central hub for your key performance indicators (KPIs). There
              is an overview of how you can create custom tables or views with
              <a href="/docs/latest/data-modeling/models">Metabase Models</a> so
              you create
              <a href="/docs/latest/questions/introduction"
                >Metabase questions</a
              > on the fly and enable self-service exploration of data.
            </p>

            <p>
              As an example, Maz adds self-created company revenue questions to
              the dashboard and shows you how to add and organize each
              question’s visualization between text cards used as dividers and
              headers. He also gives a quick preview of a new setting which
              hides a card in a dashboard if it does not return new results, a
              feature slated for an upcoming Metabase release.
            </p>

            <p>
              Maz pivots to creating new tabs in the dashboard so you can see
              how to organize your data by different company areas, such as
              revenue, orders, and customers. He walks through
              <a
                href="/docs/latest/questions/visualizations/visualizing-results"
                >visualizations</a
              >, like <a href="/glossary/time-series">time series</a> and
              <a href="/docs/latest/questions/visualizations/gauge">gauges</a>,
              and how they can help you track trends over time and visualize
              totals and scores, like month-over-month (MoM) revenue or net
              promoter score (<a
                href="/blog/create-and-analyze-a-nps-survey-the-right-way"
                >NPS</a
              >). There’s also an in-depth description of how the
              <a href="/docs/latest/questions/visualizations/map"
                >regions maps feature</a
              >
              permits linking to a geographical JSON file, and how Metabase can create
              <a href="/docs/latest/questions/visualizations/map">heatmaps</a> by
              binning latitude and longitude pairs to graph individual records.
            </p>

            <p>
              With all of the visualizations in place, Maz adds interactivity
              and flexibility to the dashboard by walking through how to add
              <a
                href="/learn/metabase-basics/querying-and-dashboards/dashboards/linking-filters"
                >filters</a
              >, like city and state. Once implemented, if you filter by a
              particular state, the dashboard will automatically update the
              charts to show you results based on that state.
            </p>

            <p>
              Last, Maz covers how Metabase Models have pagination built-in, so
              you can
              <a
                href="/learn/metabase-basics/querying-and-dashboards/dashboards/build-a-record-lookup-tool"
                >view a list of all of your records</a
              >
              by clicking on any record, and add these records as a card to your
              dashboard. Once you add a record card, you can add a text card containing
              a
              <a
                href="/learn/metabase-basics/querying-and-dashboards/sql-in-metabase/sql-variables"
                >variable</a
              >, like in SQL queries in Metabase, and pass a value to it. This
              is useful if you want to populate headers, like customer name,
              programmatically within the dashboard as you’re filtering and
              viewing records.
            </p>

            <p>
              Maz details how you can create
              <a
                href="/learn/metabase-basics/querying-and-dashboards/dashboards/custom-destinations"
                >custom click behavior</a
              >
              for any column in a table or a model. This custom click behavior is
              set to a specific destination and a specific dashboard, so the values
              you want are automatically passed over to the destination. The
              <a href="/docs/latest/dashboards/filters"
                >filters on the dashboard</a
              > are linked to an action, so when you click on a user in your records,
              it will automatically filter your dashboard, and vice versa. It allows
              interoperability between multiple features in Metabase so you don’t
              have to go to each individual place and apply filters and actions multiple
              times.
            </p>
          </div>

          <form
            action="http://metabase.us10.list-manage.com/subscribe/post?u=869fec0e4689e8fd1db91e795&id=b9664113a8"
            class="subscribe validate"
            id="mc-embedded-subscribe-form"
            method="post"
            name="mc-embedded-subscribe-form"
            novalidate=""
            target="_blank"
          >
            <h5>Don’t miss future live events</h5>
            <p>
              Stay in touch with updates and news from Metabase. No spam, ever.
            </p>

            <div>
              <input name="EMAIL" placeholder="Email address" type="email" />
              <input
                class="btn btn-primary"
                name="subscribe"
                type="submit"
                value="Sign up"
              />
            </div>

            <div id="mce-responses">
              <div class="response" id="mce-error-response"></div>
              <div class="response" id="mce-success-response"></div>
            </div>

            <div class="avoid-fake-signup">
              <input
                name="b_869fec0e4689e8fd1db91e795_b9664113a8"
                type="text"
                value=""
              />
            </div>
          </form>
        </div>

        <div class="watch-other-episodes">
          <div>
            <img
              src="/images/events/categories/mastering-metabase-tall.jpg"
              alt="Mastering Metabase"
              loading="lazy"
            />
            <h5>Mastering Metabase</h5>
            <p>Hone your Metabase skills with hands-on sessions.</p>
          </div>

          <div>
            <div class="events">
              <h3>
                Watch other episodes
                <img alt="Curved Arrow" src="/images/icons/curved-arrow.svg" />
              </h3>

              <a
                href="/events/metabase-for-beginners"
                class="events-entry"
                data-category="mastering-metabase"
              >
                <div>
                  <p data-date="2025-01-21" data-time="15:00">&nbsp;</p>

                  <h3>A tour of Metabase for beginners</h3>

                  <div href="metabase-for-beginners.html" class="watch">
                    <div>
                      <svg
                        id=""
                        class=""
                        width="33"
                        height="33"
                        viewBox="0 0 10 12"
                        fill="white"
                      >
                        <path
                          d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                        ></path>
                      </svg>
                    </div>
                    Watch now
                  </div>
                </div>
              </a>

              <a
                href="/events/maps-in-metabase-tips-and-tricks"
                class="events-entry"
                data-category="mastering-metabase"
              >
                <div>
                  <p data-date="2024-11-13" data-time="15:00">&nbsp;</p>

                  <h3>Maps in Metabase</h3>

                  <div
                    href="maps-in-metabase-tips-and-tricks.html"
                    class="watch"
                  >
                    <div>
                      <svg
                        id=""
                        class=""
                        width="33"
                        height="33"
                        viewBox="0 0 10 12"
                        fill="white"
                      >
                        <path
                          d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                        ></path>
                      </svg>
                    </div>
                    Watch now
                  </div>
                </div>
              </a>

              <a
                href="/events/getting-started-with-the-metabase-api"
                class="events-entry"
                data-category="mastering-metabase"
              >
                <div>
                  <p data-date="2024-10-22" data-time="15:00">&nbsp;</p>

                  <h3>Getting Started with the Metabase API</h3>

                  <div
                    href="getting-started-with-the-metabase-api.html"
                    class="watch"
                  >
                    <div>
                      <svg
                        id=""
                        class=""
                        width="33"
                        height="33"
                        viewBox="0 0 10 12"
                        fill="white"
                      >
                        <path
                          d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                        ></path>
                      </svg>
                    </div>
                    Watch now
                  </div>
                </div>
              </a>

              <a
                href="/events/visualizing-time-series-data-in-metabase"
                class="events-entry"
                data-category="mastering-metabase"
              >
                <div>
                  <p data-date="2024-10-16" data-time="15:00">&nbsp;</p>

                  <h3>Visualizing time-series data in Metabase</h3>

                  <div
                    href="visualizing-time-series-data-in-metabase.html"
                    class="watch"
                  >
                    <div>
                      <svg
                        id=""
                        class=""
                        width="33"
                        height="33"
                        viewBox="0 0 10 12"
                        fill="white"
                      >
                        <path
                          d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                        ></path>
                      </svg>
                    </div>
                    Watch now
                  </div>
                </div>
              </a>

              <a
                href="/events/line-and-bar-charts-in-metabase-tips-and-tricks"
                class="events-entry"
                data-category="mastering-metabase"
              >
                <div>
                  <p data-date="2024-09-25" data-time="15:00">&nbsp;</p>

                  <h3>Line &amp; bar charts in Metabase</h3>

                  <div
                    href="line-and-bar-charts-in-metabase-tips-and-tricks.html"
                    class="watch"
                  >
                    <div>
                      <svg
                        id=""
                        class=""
                        width="33"
                        height="33"
                        viewBox="0 0 10 12"
                        fill="white"
                      >
                        <path
                          d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                        ></path>
                      </svg>
                    </div>
                    Watch now
                  </div>
                </div>
              </a>

              <a
                href="/events/overview-of-customer-facing-analytics-with-metabase"
                class="events-entry"
                data-category="mastering-metabase"
              >
                <div>
                  <p data-date="2024-09-10" data-time="15:00">&nbsp;</p>

                  <h3>Overview of Customer-facing analytics with Metabase</h3>

                  <div
                    href="overview-of-customer-facing-analytics-with-metabase.html"
                    class="watch"
                  >
                    <div>
                      <svg
                        id=""
                        class=""
                        width="33"
                        height="33"
                        viewBox="0 0 10 12"
                        fill="white"
                      >
                        <path
                          d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                        ></path>
                      </svg>
                    </div>
                    Watch now
                  </div>
                </div>
              </a>

              <a
                href="/events/metabase-usage-analytics"
                class="events-entry"
                data-category="mastering-metabase"
              >
                <div>
                  <p data-date="2024-07-09" data-time="16:00">&nbsp;</p>

                  <h3>
                    Metabase usage analytics — what happens inside your instance
                  </h3>

                  <div href="metabase-usage-analytics.html" class="watch">
                    <div>
                      <svg
                        id=""
                        class=""
                        width="33"
                        height="33"
                        viewBox="0 0 10 12"
                        fill="white"
                      >
                        <path
                          d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                        ></path>
                      </svg>
                    </div>
                    Watch now
                  </div>
                </div>
              </a>

              <a
                href="/events/data-modeling-with-metabase"
                class="events-entry"
                data-category="mastering-metabase"
              >
                <div>
                  <p data-date="2024-06-05" data-time="15:00">&nbsp;</p>

                  <h3>Data Modeling with Metabase</h3>

                  <div href="data-modeling-with-metabase.html" class="watch">
                    <div>
                      <svg
                        id=""
                        class=""
                        width="33"
                        height="33"
                        viewBox="0 0 10 12"
                        fill="white"
                      >
                        <path
                          d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                        ></path>
                      </svg>
                    </div>
                    Watch now
                  </div>
                </div>
              </a>

              <a
                href="/events/a-tour-of-metabase-advanced"
                class="events-entry"
                data-category="mastering-metabase"
              >
                <div>
                  <p data-date="2023-12-20" data-time="16:00">&nbsp;</p>

                  <h3>A tour of Metabase - advanced</h3>

                  <div href="a-tour-of-metabase-advanced.html" class="watch">
                    <div>
                      <svg
                        id=""
                        class=""
                        width="33"
                        height="33"
                        viewBox="0 0 10 12"
                        fill="white"
                      >
                        <path
                          d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                        ></path>
                      </svg>
                    </div>
                    Watch now
                  </div>
                </div>
              </a>

              <a
                href="/events/visualizing-data-in-metabase-how-to-build-better-charts"
                class="events-entry"
                data-category="mastering-metabase"
              >
                <div>
                  <p data-date="2023-11-29" data-time="16:00">&nbsp;</p>

                  <h3>
                    Visualizing data in Metabase - how to build better charts
                  </h3>

                  <div
                    href="visualizing-data-in-metabase-how-to-build-better-charts.html"
                    class="watch"
                  >
                    <div>
                      <svg
                        id=""
                        class=""
                        width="33"
                        height="33"
                        viewBox="0 0 10 12"
                        fill="white"
                      >
                        <path
                          d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                        ></path>
                      </svg>
                    </div>
                    Watch now
                  </div>
                </div>
              </a>

              <a
                href="/events/best-practices-for-organizing-your-metabase"
                class="events-entry"
                data-category="mastering-metabase"
              >
                <div>
                  <p data-date="2023-10-26" data-time="15:00">&nbsp;</p>

                  <h3>Best practices for organizing your Metabase</h3>

                  <div
                    href="best-practices-for-organizing-your-metabase.html"
                    class="watch"
                  >
                    <div>
                      <svg
                        id=""
                        class=""
                        width="33"
                        height="33"
                        viewBox="0 0 10 12"
                        fill="white"
                      >
                        <path
                          d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                        ></path>
                      </svg>
                    </div>
                    Watch now
                  </div>
                </div>
              </a>

              <a
                href="/events/building-metabase-dashboards-like-a-pro"
                class="events-entry"
                data-category="mastering-metabase"
              >
                <div>
                  <p data-date="2023-07-13" data-time="14:00">&nbsp;</p>

                  <h3>Building Metabase dashboards like a pro</h3>

                  <div
                    href="building-metabase-dashboards-like-a-pro.html"
                    class="watch"
                  >
                    <div>
                      <svg
                        id=""
                        class=""
                        width="33"
                        height="33"
                        viewBox="0 0 10 12"
                        fill="white"
                      >
                        <path
                          d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                        ></path>
                      </svg>
                    </div>
                    Watch now
                  </div>
                </div>
              </a>

              <a
                href="/events/setting-up-customer-facing-analytics-with-metabase-why-when-and-how"
                class="events-entry"
                data-category="mastering-metabase"
              >
                <div>
                  <p data-date="2023-03-22" data-time="14:00">&nbsp;</p>

                  <h3>
                    Setting up customer-facing analytics with Metabase - why,
                    when and how
                  </h3>

                  <div
                    href="setting-up-customer-facing-analytics-with-metabase-why-when-and-how.html"
                    class="watch"
                  >
                    <div>
                      <svg
                        id=""
                        class=""
                        width="33"
                        height="33"
                        viewBox="0 0 10 12"
                        fill="white"
                      >
                        <path
                          d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                        ></path>
                      </svg>
                    </div>
                    Watch now
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="events">
          <div class="upcoming-events">
            <h2>Join an upcoming event</h2>

            <a
              href="/events/interactive-embedding-workshop"
              class="events-entry"
              data-category="workshops"
            >
              <img
                src="/images/events/categories/workshops.jpg"
                alt="workshops"
                loading="lazy"
              />

              <div>
                <p data-date="2025-09-03" data-time="15:00">&nbsp;</p>

                <h3>Interactive Embedding Workshop</h3>

                <div
                  href="interactive-embedding-workshop.html"
                  class="btn btn-primary"
                >
                  Register now
                </div>
              </div>
            </a>

            <a
              href="/events/embedded-analytics-sdk-for-react-workshop"
              class="events-entry"
              data-category="workshops"
            >
              <img
                src="/images/events/categories/workshops.jpg"
                alt="workshops"
                loading="lazy"
              />

              <div>
                <p data-date="2025-03-18" data-time="17:00">&nbsp;</p>

                <h3>Embedded Analytics SDK for React Workshop</h3>

                <div
                  href="embedded-analytics-sdk-for-react-workshop.html"
                  class="watch"
                >
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/introducing-the-embedded-analytics-sdk-for-react"
              class="events-entry"
              data-category="whats-new"
            >
              <img
                src="/images/events/categories/whats-new.jpg"
                alt="whats-new"
                loading="lazy"
              />

              <div>
                <p data-date="2025-03-11" data-time="17:00">&nbsp;</p>

                <h3>Introducing the Embedded Analytics SDK for React</h3>

                <div
                  href="introducing-the-embedded-analytics-sdk-for-react.html"
                  class="btn btn-primary"
                >
                  Register now
                </div>
              </div>
            </a>

            <a
              href="/events/metabase-53-release-webinar"
              class="events-entry"
              data-category="whats-new"
            >
              <img
                src="/images/events/categories/whats-new.jpg"
                alt="whats-new"
                loading="lazy"
              />

              <div>
                <p data-date="2025-02-25" data-time="16:00">&nbsp;</p>

                <h3>
                  Metabase 53 - Save questions to dashboards, dynamic iframe
                  cards, preemptive caching, and more
                </h3>

                <div href="metabase-53-release-webinar.html" class="watch">
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/metabase-for-beginners"
              class="events-entry"
              data-category="mastering-metabase"
            >
              <img
                src="/images/events/categories/mastering-metabase.jpg"
                alt="mastering-metabase"
                loading="lazy"
              />

              <div>
                <p data-date="2025-01-21" data-time="15:00">&nbsp;</p>

                <h3>A tour of Metabase for beginners</h3>

                <div href="metabase-for-beginners.html" class="watch">
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/how-to-build-a-product-dashboard-in-metabase"
              class="events-entry"
              data-category="working-with-data"
            >
              <img
                src="/images/events/categories/working-with-data.jpg"
                alt="working-with-data"
                loading="lazy"
              />

              <div>
                <p data-date="2024-12-11" data-time="15:00">&nbsp;</p>

                <h3>How to build a product dashboard in Metabase</h3>

                <div
                  href="how-to-build-a-product-dashboard-in-metabase.html"
                  class="watch"
                >
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/metabase-51-release-webinar"
              class="events-entry"
              data-category="whats-new"
            >
              <img
                src="/images/events/categories/whats-new.jpg"
                alt="whats-new"
                loading="lazy"
              />

              <div>
                <p data-date="2024-11-21" data-time="16:00">&nbsp;</p>

                <h3>
                  Metabase 51 - Improved visualizations, revamped metrics,
                  Databricks driver, and more
                </h3>

                <div href="metabase-51-release-webinar.html" class="watch">
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/maps-in-metabase-tips-and-tricks"
              class="events-entry"
              data-category="mastering-metabase"
            >
              <img
                src="/images/events/categories/mastering-metabase.jpg"
                alt="mastering-metabase"
                loading="lazy"
              />

              <div>
                <p data-date="2024-11-13" data-time="15:00">&nbsp;</p>

                <h3>Maps in Metabase</h3>

                <div href="maps-in-metabase-tips-and-tricks.html" class="watch">
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/getting-started-with-the-metabase-api"
              class="events-entry"
              data-category="mastering-metabase"
            >
              <img
                src="/images/events/categories/mastering-metabase.jpg"
                alt="mastering-metabase"
                loading="lazy"
              />

              <div>
                <p data-date="2024-10-22" data-time="15:00">&nbsp;</p>

                <h3>Getting Started with the Metabase API</h3>

                <div
                  href="getting-started-with-the-metabase-api.html"
                  class="watch"
                >
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/visualizing-time-series-data-in-metabase"
              class="events-entry"
              data-category="mastering-metabase"
            >
              <img
                src="/images/events/categories/mastering-metabase.jpg"
                alt="mastering-metabase"
                loading="lazy"
              />

              <div>
                <p data-date="2024-10-16" data-time="15:00">&nbsp;</p>

                <h3>Visualizing time-series data in Metabase</h3>

                <div
                  href="visualizing-time-series-data-in-metabase.html"
                  class="watch"
                >
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/line-and-bar-charts-in-metabase-tips-and-tricks"
              class="events-entry"
              data-category="mastering-metabase"
            >
              <img
                src="/images/events/categories/mastering-metabase.jpg"
                alt="mastering-metabase"
                loading="lazy"
              />

              <div>
                <p data-date="2024-09-25" data-time="15:00">&nbsp;</p>

                <h3>Line &amp; bar charts in Metabase</h3>

                <div
                  href="line-and-bar-charts-in-metabase-tips-and-tricks.html"
                  class="watch"
                >
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/overview-of-customer-facing-analytics-with-metabase"
              class="events-entry"
              data-category="mastering-metabase"
            >
              <img
                src="/images/events/categories/mastering-metabase.jpg"
                alt="mastering-metabase"
                loading="lazy"
              />

              <div>
                <p data-date="2024-09-10" data-time="15:00">&nbsp;</p>

                <h3>Overview of Customer-facing analytics with Metabase</h3>

                <div
                  href="overview-of-customer-facing-analytics-with-metabase.html"
                  class="watch"
                >
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/metabase-50-release-webinar"
              class="events-entry"
              data-category="whats-new"
            >
              <img
                src="/images/events/categories/whats-new.jpg"
                alt="whats-new"
                loading="lazy"
              />

              <div>
                <p data-date="2024-09-03" data-time="15:00">&nbsp;</p>

                <h3>
                  Metabase 50 - Better caching, permissions, visualizations
                  &amp; more
                </h3>

                <div href="metabase-50-release-webinar.html" class="watch">
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/euro-2024-dashboard"
              class="events-entry"
              data-category="working-with-data"
            >
              <img
                src="/images/events/categories/working-with-data.jpg"
                alt="working-with-data"
                loading="lazy"
              />

              <div>
                <p data-date="2024-07-23" data-time="15:00">&nbsp;</p>

                <h3>
                  How we turned EURO 2024 data into a cool visualization project
                </h3>

                <div href="euro-2024-dashboard.html" class="watch">
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/metabase-usage-analytics"
              class="events-entry"
              data-category="mastering-metabase"
            >
              <img
                src="/images/events/categories/mastering-metabase.jpg"
                alt="mastering-metabase"
                loading="lazy"
              />

              <div>
                <p data-date="2024-07-09" data-time="16:00">&nbsp;</p>

                <h3>
                  Metabase usage analytics — what happens inside your instance
                </h3>

                <div href="metabase-usage-analytics.html" class="watch">
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/data-modeling-with-metabase"
              class="events-entry"
              data-category="mastering-metabase"
            >
              <img
                src="/images/events/categories/mastering-metabase.jpg"
                alt="mastering-metabase"
                loading="lazy"
              />

              <div>
                <p data-date="2024-06-05" data-time="15:00">&nbsp;</p>

                <h3>Data Modeling with Metabase</h3>

                <div href="data-modeling-with-metabase.html" class="watch">
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/metabase-49-release-webinar"
              class="events-entry"
              data-category="whats-new"
            >
              <img
                src="/images/events/categories/whats-new.jpg"
                alt="whats-new"
                loading="lazy"
              />

              <div>
                <p data-date="2024-04-10" data-time="17:00">&nbsp;</p>

                <h3>
                  Metabase 49 - Making it easier to get stuff done in Metabase
                </h3>

                <div href="metabase-49-release-webinar.html" class="watch">
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/metabase-48-release-webinar"
              class="events-entry"
              data-category="whats-new"
            >
              <img
                src="/images/events/categories/whats-new.jpg"
                alt="whats-new"
                loading="lazy"
              />

              <div>
                <p data-date="2024-01-24" data-time="17:00">&nbsp;</p>

                <h3>
                  Metabase 48 - Usage analytics, plus improvements to dashboards
                  and search
                </h3>

                <div href="metabase-48-release-webinar.html" class="watch">
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/exploring-the-2023-metabase-community-state-of-the-data-stack"
              class="events-entry"
              data-category="fireside-chats"
            >
              <img
                src="/images/events/categories/fireside-chats.jpg"
                alt="fireside-chats"
                loading="lazy"
              />

              <div>
                <p data-date="2023-12-07" data-time="16:00">&nbsp;</p>

                <h3>
                  Exploring the 2023 Metabase Community State of the Data Stack
                </h3>

                <div
                  href="exploring-the-2023-metabase-community-state-of-the-data-stack.html"
                  class="watch"
                >
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/a-tour-of-metabase-advanced"
              class="events-entry"
              data-category="mastering-metabase"
            >
              <img
                src="/images/events/categories/mastering-metabase.jpg"
                alt="mastering-metabase"
                loading="lazy"
              />

              <div>
                <p data-date="2023-12-20" data-time="16:00">&nbsp;</p>

                <h3>A tour of Metabase - advanced</h3>

                <div href="a-tour-of-metabase-advanced.html" class="watch">
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/visualizing-data-in-metabase-how-to-build-better-charts"
              class="events-entry"
              data-category="mastering-metabase"
            >
              <img
                src="/images/events/categories/mastering-metabase.jpg"
                alt="mastering-metabase"
                loading="lazy"
              />

              <div>
                <p data-date="2023-11-29" data-time="16:00">&nbsp;</p>

                <h3>
                  Visualizing data in Metabase - how to build better charts
                </h3>

                <div
                  href="visualizing-data-in-metabase-how-to-build-better-charts.html"
                  class="watch"
                >
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/tracking-customer-support-metrics-in-metabase"
              class="events-entry"
              data-category="working-with-data"
            >
              <img
                src="/images/events/categories/working-with-data.jpg"
                alt="working-with-data"
                loading="lazy"
              />

              <div>
                <p data-date="2023-11-09" data-time="15:00">&nbsp;</p>

                <h3>Tracking Customer Support Metrics in Metabase</h3>

                <div
                  href="tracking-customer-support-metrics-in-metabase.html"
                  class="watch"
                >
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/best-practices-for-organizing-your-metabase"
              class="events-entry"
              data-category="mastering-metabase"
            >
              <img
                src="/images/events/categories/mastering-metabase.jpg"
                alt="mastering-metabase"
                loading="lazy"
              />

              <div>
                <p data-date="2023-10-26" data-time="15:00">&nbsp;</p>

                <h3>Best practices for organizing your Metabase</h3>

                <div
                  href="best-practices-for-organizing-your-metabase.html"
                  class="watch"
                >
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/metabase-47-release-webinar"
              class="events-entry"
              data-category="whats-new"
            >
              <img
                src="/images/events/categories/whats-new.jpg"
                alt="whats-new"
                loading="lazy"
              />

              <div>
                <p data-date="2023-10-04" data-time="15:00">&nbsp;</p>

                <h3>Metabase 47 - CSV uploads and dashboard improvements</h3>

                <div href="metabase-47-release-webinar.html" class="watch">
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/tracking-product-metrics-in-metabase"
              class="events-entry"
              data-category="working-with-data"
            >
              <img
                src="/images/events/categories/working-with-data.jpg"
                alt="working-with-data"
                loading="lazy"
              />

              <div>
                <p data-date="2023-09-28" data-time="15:00">&nbsp;</p>

                <h3>Tracking product metrics in Metabase</h3>

                <div
                  href="tracking-product-metrics-in-metabase.html"
                  class="watch"
                >
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/how-reforge-set-up-their-data-processes-with-metabase"
              class="events-entry"
              data-category="customer-stories"
            >
              <img
                src="/images/events/categories/customer-stories.jpg"
                alt="customer-stories"
                loading="lazy"
              />

              <div>
                <p data-date="2023-09-21" data-time="15:00">&nbsp;</p>

                <h3>How Reforge set up their data processes with Metabase</h3>

                <div
                  href="how-reforge-set-up-their-data-processes-with-metabase.html"
                  class="watch"
                >
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/building-metabase-dashboards-like-a-pro"
              class="events-entry"
              data-category="mastering-metabase"
            >
              <img
                src="/images/events/categories/mastering-metabase.jpg"
                alt="mastering-metabase"
                loading="lazy"
              />

              <div>
                <p data-date="2023-07-13" data-time="14:00">&nbsp;</p>

                <h3>Building Metabase dashboards like a pro</h3>

                <div
                  href="building-metabase-dashboards-like-a-pro.html"
                  class="watch"
                >
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/when-is-the-right-time-to-switch-to-a-data-warehouse"
              class="events-entry"
              data-category="fireside-chats"
            >
              <img
                src="/images/events/categories/fireside-chats.jpg"
                alt="fireside-chats"
                loading="lazy"
              />

              <div>
                <p data-date="2023-06-29" data-time="14:00">&nbsp;</p>

                <h3>When is the right time to switch to a data warehouse</h3>

                <div
                  href="when-is-the-right-time-to-switch-to-a-data-warehouse.html"
                  class="watch"
                >
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/preventing-churn-with-retention-analysis-in-metabase"
              class="events-entry"
              data-category="working-with-data"
            >
              <img
                src="/images/events/categories/working-with-data.jpg"
                alt="working-with-data"
                loading="lazy"
              />

              <div>
                <p data-date="2023-06-20" data-time="14:00">&nbsp;</p>

                <h3>Preventing churn with retention analysis in Metabase</h3>

                <div
                  href="preventing-churn-with-retention-analysis-in-metabase.html"
                  class="watch"
                >
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/white-labeling-metabase-for-branded-data-insights"
              class="events-entry"
              data-category="customer-stories"
            >
              <img
                src="/images/events/categories/customer-stories.jpg"
                alt="customer-stories"
                loading="lazy"
              />

              <div>
                <p data-date="2023-05-31" data-time="14:00">&nbsp;</p>

                <h3>
                  White labeling Metabase for branded data insights - Lime
                  Technologies’ story
                </h3>

                <div
                  href="white-labeling-metabase-for-branded-data-insights.html"
                  class="watch"
                >
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/metabase-46-ready-set-action"
              class="events-entry"
              data-category="whats-new"
            >
              <img
                src="/images/events/categories/whats-new.jpg"
                alt="whats-new"
                loading="lazy"
              />

              <div>
                <p data-date="2023-04-20" data-time="14:00">&nbsp;</p>

                <h3>Metabase 46 - Ready, Set, ACTION!</h3>

                <div href="metabase-46-ready-set-action.html" class="watch">
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/metabase-for-saas-how-to-automate-growth-and-customer-insights"
              class="events-entry"
              data-category="fireside-chats"
            >
              <img
                src="/images/events/categories/fireside-chats.jpg"
                alt="fireside-chats"
                loading="lazy"
              />

              <div>
                <p data-date="2023-02-09" data-time="14:00">&nbsp;</p>

                <h3>
                  Metabase for SaaS - How to Automate Growth &amp; Customer
                  Insights
                </h3>

                <div
                  href="metabase-for-saas-how-to-automate-growth-and-customer-insights.html"
                  class="watch"
                >
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/horror-data-stories-in-startups-and-how-to-avoid-them"
              class="events-entry"
              data-category="fireside-chats"
            >
              <img
                src="/images/events/categories/fireside-chats.jpg"
                alt="fireside-chats"
                loading="lazy"
              />

              <div>
                <p data-date="2022-10-20" data-time="14:00">&nbsp;</p>

                <h3>Horror data stories in startups and how to avoid them</h3>

                <div
                  href="horror-data-stories-in-startups-and-how-to-avoid-them.html"
                  class="watch"
                >
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>

            <a
              href="/events/building-a-better-data-culture-for-your-team"
              class="events-entry"
              data-category="fireside-chats"
            >
              <img
                src="/images/events/categories/fireside-chats.jpg"
                alt="fireside-chats"
                loading="lazy"
              />

              <div>
                <p data-date="2022-07-21" data-time="14:00">&nbsp;</p>

                <h3>Building a better data culture for your team</h3>

                <div
                  href="building-a-better-data-culture-for-your-team.html"
                  class="watch"
                >
                  <div>
                    <svg
                      id=""
                      class=""
                      width="33"
                      height="33"
                      viewBox="0 0 10 12"
                      fill="white"
                    >
                      <path
                        d="M9.0625 5.02572C9.8125 5.45873 9.8125 6.54127 9.0625 6.97428L2.3125 10.8714C1.5625 11.3044 0.625001 10.7631 0.625001 9.89711L0.625002 2.10289C0.625002 1.23686 1.5625 0.695594 2.3125 1.12861L9.0625 5.02572Z"
                      ></path>
                    </svg>
                  </div>
                  Watch now
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
