---
import Base from "../../layouts/Base.astro";
const title =
  "How Faros.ai embeds Metabase into their multi-tenant SaaS product.";
const description =
  "Faros AI is an engineering operations platform that brings all engineering data in one place to give engineering leaders a single-pane view of their entire software development lifecycle.";
const seo = {
  title: "How Faros.ai embeds Metabase into their multi-tenant SaaS product.",
  description:
    "Faros AI is an engineering operations platform that brings all engineering data in one place to give engineering leaders a single-pane view of their entire software development lifecycle.",
  canonical: "/case-studies/faros",
  og: {
    title: "How Faros.ai embeds Metabase into their multi-tenant SaaS product.",
    description:
      "Faros AI is an engineering operations platform that brings all engineering data in one place to give engineering leaders a single-pane view of their entire software development lifecycle.",
    image: "https://www.metabase.com/images/case-studies/faros.jpg",
    url: "https://www.metabase.com/case-studies/faros",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "How Faros.ai embeds Metabase into their multi-tenant SaaS product.",
    description:
      "Faros AI is an engineering operations platform that brings all engineering data in one place to give engineering leaders a single-pane view of their entire software development lifecycle.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/case-studies/faros.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="progress-bar z1" id="progress-bar"></div>

    <div class="bootstrap">
      <div class="container pt-4">
        <section class="row d-flex flex-column flex-md-row case-study-detail">
          <aside class="d-lg-block col-lg-3">
            <a
              class="chevron blue-small-left mb-8 mb-lg-0 fw-bold"
              href="/case-studies">Back to all Case Studies</a
            >
          </aside>
          <article id="case-study-content" class="col-12 col-md-8">
            <h1 class="h3 m-0 mb-lg-12">
              How Faros.ai embeds Metabase into their multi-tenant SaaS product.
            </h1>
          </article>
        </section>

        <section class="row d-flex flex-column flex-md-row case-study-detail">
          <aside class="d-lg-block col-lg-3">
            <div
              class="bg-neutral-99 rounded-3 p-5 pb-6 height-fit-content mb-8"
            >
              <div style="width: 142px">
                <img
                  class="w-100 pb-8"
                  src="/images/case-studies/faros-logo.png"
                  alt="Faros AI logo"
                />
              </div>
              <h5 class="fw-bold neutral-black">Company</h5>
              <p class="paragraph-5 mb-5">
                Faros AI is an engineering operations platform that brings all
                engineering data in one place to give engineering leaders a
                single-pane view of their entire software development lifecycle.
              </p>
              <h5 class="fw-bold neutral-black">Industry</h5>
              <p class="paragraph-5 mb-5">IT &amp; Software</p>
              <h5 class="fw-bold neutral-black">Employees</h5>
              <p class="paragraph-5 mb-5">20+</p>
              <h5 class="fw-bold neutral-black">Headquarters</h5>
              <p class="paragraph-5">San Francisco, California</p>

              <h5 class="fw-bold neutral-black">Key Usecases</h5>

              <a href="/product/embedded-analytics" class="mb-2"
                >Embedded Analytics</a
              >
            </div>
          </aside>
          <article id="case-study-content" class="col-12 col-md-8">
            <div
              class="overflow-hidden w-100 rounded-4 d-flex align-items-center mb-13"
              style="aspect-ratio: 3/1"
            >
              <img
                class="w-100"
                src="/images/case-studies/faros.jpg"
                alt=""
                loading="lazy"
              />
            </div>

            <div class="col-12 col-lg-9">
              <p>
                <strong>The Challenge: </strong> For Faros AI, Business Intelligence
                is the main channel through which their customers get value from
                the product. Faros AI was looking for a BI solution that would be
                not just embeddable in their application, but also support all their
                needs.
              </p>

              <p>
                <strong>The Solution: </strong> They chose Metabase due to its simplicity,
                easy integration, multi-tenancy support, and powerful visualization
                capabilities.
              </p>

              <p>
                <strong>The Results: </strong> Metabase helped Faros AI save engineering
                resources so they could focus on the core business of building a
                Connected Engineering Operations Platform.
              </p>

              <blockquote class="paragraph-3">
                "Metabase was easy to integrate, had first-class multi-tenancy
                support, and it quickly became the main way Faros AI customers
                interact with their SaaS Engineering Operations data platform. "
                <div class="row mb-6 mt-4">
                  <div class="flex flex-row align-center">
                    <div class="pe-3">
                      <img
                        src="/images/case-studies/thomas-gerber.jpg"
                        class="circle max-100"
                        style="width: 48px;"
                        alt=""
                        loading="lazy"
                      />
                    </div>
                    <div style="line-height: 0;">
                      <span class="neutral-15 paragraph-5">Thomas Gerber</span
                      ><br />
                      <span class="neutral-40 paragraph-5"
                        >Engineering Lead at Faros.ai</span
                      >
                    </div>
                  </div>
                </div>
              </blockquote>

              <h4 id="why-metabase">Why Metabase</h4>

              <p>
                The BI layer is the main channel for <a
                  href="https://www.faros.ai/?utm_source=Metabase&utm_medium=Referral&utm_campaign=MetabaseCaseStudy"
                  target="\_blank">Faros AI</a
                > to deliver value to its customers. As a data platform, they wanted
                people to be able to explore data, ask questions, build charts and
                dashboards, and share them on a daily basis.
              </p>

              <p>
                Faros AI looked at several BI solutions that could be embedded
                in their application, and they needed a solution that supported
                multi-tenancy. <em
                  >“For example, if you help people auto-complete certain
                  filters when they build their query, it’s important not to
                  leak values other tenants may have for that field.”</em
                > - says Thomas. With Metabase, Faros AI had a working, multi-tenant
                prototype they could experiment with in just a few days.
              </p>

              <p>
                <strong
                  >Since Metabase is open source, Faros AI looked under the hood
                  and felt confident that:</strong>
              </p>

              <ul>
                <li>
                  Metabase’s security model and multi-tenancy support were
                  robust.
                </li>
                <li>
                  They could contribute to Metabase’s open-source codebase if
                  they wanted to.
                </li>
                <li>
                  Metabase was constantly <a href="/releases" target="\_blank"
                    >adding new features</a
                  > that would benefit Faros AI customers as well.
                </li>
              </ul>

              <p>
                Previously, Faros AI’s leadership spent 5 years at Salesforce
                building its AI infrastructure, so they understand how hard
                multi-tenancy is to get right. Metabase’s first-class
                multi-tenant support is what convinced them to choose the tool.
              </p>

              <h4 id="the-data">The data</h4>

              <p>
                Faros AI provides ELT, APIs, BI, and automation for engineering
                operations data. Engineering Operations data covers everything
                software engineers interact with on a daily basis: Tasks, Epics,
                Pull Requests, Builds, Deployments, Incidents, Services, etc.
              </p>

              <p>
                Faros AI connects the dots between those engineering data
                sources, which gives visibility and insight into one’s
                engineering processes.
              </p>

              <p>
                They keep their data in a PostgreSQL database and use Airbyte
                for ELT, Hasura for GraphQL AP, and dbt for transformations.
              </p>

              <h4 id="how-faros-ai-uses-metabase">
                How Faros AI uses Metabase
              </h4>

              <p>
                Faros AI uses interactive embedding of Metabase for its
                multi-tenant SaaS product.
              </p>

              <p>
                <img
                  src="/images/case-studies/faros-embedding-gif.gif"
                  alt="how faros embeds metabase"
                />
              </p>

              <p>
                More specifically, Faros self-hosts a full, <a
                  href="/docs/latest/configuring-metabase/appearance"
                  target="\_blank">white-labaled</a
                > Metabase instance and <a
                  href="/docs/latest/embedding/interactive-embedding"
                  target="\_blank">embeds</a
                > it in their application. They set up <a
                  href="/docs/latest/people-and-groups/authenticating-with-jwt"
                  target="\_blank">SSO with JWT</a
                > to link users in their application with their embedded Metabase
                instance, and attached tenant and user attributes to signed tokens.
              </p>

              <p>
                Finally, they use those attributes to <a
                  href="/docs/latest/permissions/data-sandboxes"
                  target="\_blank">separate the data</a
                > in their tables to ensure users can only see the data:
              </p>

              <ul>
                <li>Of their own tenant,</li>
                <li>That they have permission to view.</li>
              </ul>

              <p>
                One of the main use cases of Faros AI EngOps platform is to
                provide visibility and insights into how engineering operations
                and processes are performing. For example, DORA metrics.
              </p>

              <p>
                <img
                  src="/images/case-studies/faros-2.png"
                  alt="how faros embeds metabase"
                />
              </p>

              <h4 id="the-results">The results</h4>

              <p><strong>Faros’ embedding of Metabase enabled:</strong></p>

              <ul>
                <li>
                  People to explore and query the data, and build relevant
                  dashboards that capture their company’s idiosyncrasies through
                  a simple UI interface.
                </li>
                <li>
                  Faros to create powerful dashboards for new product lines
                  (Value Stream Analysis, Engineering Productivity, etc.). These
                  dashboards act as templates that encourage different kinds of
                  customers–from analysts to executives to developers–to build
                  their own versions.
                </li>
              </ul>

              <p><strong>People use Faros.ai to:</strong></p>

              <ul>
                <li>
                  <a href="/docs/latest/dashboards/interactive" target="\_blank"
                    >Zoom into the underlying data</a
                  > by simply clicking on the charts.
                </li>
                <li>
                  <a href="/docs/latest/questions/introduction" target="\_blank"
                    >Create their own metrics and charts</a
                  > in Metabase from scratch or from the template charts, without
                  the need for SQL.
                </li>
              </ul>

              <p>
                Faros has spent very few engineering cycles on Metabase since
                its integration. Those resources were instead spent on its core
                business of building a Connected Engineering Operations
                Platform.
              </p>

              <p>
                <img
                  src="/images/case-studies/faros-3.png"
                  alt="how faros embeds metabase"
                />
              </p>

              <h4 id="advice-for-others">Advice for others</h4>

              <p>
                <em
                  >“Multi-tenancy/sandboxing is hard, and something you can’t
                  afford to get wrong. Do not slap multi-tenancy on top of an
                  existing BI product. Unless BI tools are your core business,
                  something will inevitably get past you. You’re better off
                  using a tool that has first-class support for it.”</em
                >, - says Thomas.
              </p>
            </div>
          </article>
        </section>
        <section>
          <div class="rounded-4 bg-neutral-99 py-11">
            <div
              class="d-flex flex-row align-items-center justify-content-between px-14"
            >
              <h3 class="m-0">Explore more customer stories</h3>
              <div class="d-flex flex-row">
                <button
                  id="more-stories-scroll-left"
                  class="btn-base btn-base-primary btn-base-circle chevron white-left disabled pe-1 me-1"
                ></button>
                <button
                  id="more-stories-scroll-right"
                  class="btn-base btn-base-primary btn-base-circle chevron white-right ps-1"
                ></button>
              </div>
            </div>
            <div
              id="more-stories"
              class="d-flex flex-row overflow-hidden px-14 pt-9"
            >
              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div class="hover-raise-sm">
                  <div
                    class="card bg-neutral-99 overflow-visible border-0 pb-3"
                  >
                    <div
                      class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                      style="height: 167px"
                    >
                      <div
                        class="card-img-top fill-image h-100"
                        style="background-image: url(../images/case-studies/alto-cover.jpg)"
                      >
                      </div>
                      <div
                        class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                        style="height: 56px; width: 114px"
                      >
                        <img
                          class="w-100"
                          src="/images/case-studies/alto-logo.png"
                          srcset="/images/case-studies/alto-logo.png 1x"
                          alt="Alto logo"
                          loading="lazy"
                        />
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-none industry-name">Financial Services</div>
                      <p class="paragraph-5 my-3">
                        Alto is an investment platform that helps individual
                        investors diversify their portfolios by offering access
                        to alternative assets, traditionally available only to
                        professional investors.
                      </p>
                      <a href="/case-studies/alto" class="stretched-link"
                        ><span class="chevron blue-small-right"
                          >Read the case study</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div class="hover-raise-sm">
                  <div
                    class="card bg-neutral-99 overflow-visible border-0 pb-3"
                  >
                    <div
                      class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                      style="height: 167px"
                    >
                      <div
                        class="card-img-top fill-image h-100"
                        style="background-image: url(../images/case-studies/angelist-bg.jpg)"
                      >
                      </div>
                      <div
                        class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                        style="height: 56px; width: 114px"
                      >
                        <img
                          class="w-100"
                          src="/images/case-studies/angelist-logo.png"
                          srcset="/images/case-studies/angelist-logo.png 1x"
                          alt="AngelList Venture logo"
                          loading="lazy"
                        />
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-none industry-name">Venture Capital</div>
                      <p class="paragraph-5 my-3">
                        AngelList Venture brings venture online with private,
                        professional fundraising tools for top quality startups
                        and investors.
                      </p>
                      <a href="/case-studies/angellist" class="stretched-link"
                        ><span class="chevron blue-small-right"
                          >Read the case study</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div class="hover-raise-sm">
                  <div
                    class="card bg-neutral-99 overflow-visible border-0 pb-3"
                  >
                    <div
                      class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                      style="height: 167px"
                    >
                      <div
                        class="card-img-top fill-image h-100"
                        style="background-image: url(../images/case-studies/aula-cover.png)"
                      >
                      </div>
                      <div
                        class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                        style="height: 56px; width: 114px"
                      >
                        <img
                          class="w-100"
                          src="/images/case-studies/aula-logo.png"
                          srcset="/images/case-studies/aula-logo.png 1x"
                          alt="Aula logo"
                          loading="lazy"
                        />
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-none industry-name">Education</div>
                      <p class="paragraph-5 my-3">
                        Aula is a digital learning platform designed to make
                        online education more engaging for both educators and
                        students. Over 200,000 students have used Aula so far.
                      </p>
                      <a href="/case-studies/aula" class="stretched-link"
                        ><span class="chevron blue-small-right"
                          >Read the case study</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div class="hover-raise-sm">
                  <div
                    class="card bg-neutral-99 overflow-visible border-0 pb-3"
                  >
                    <div
                      class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                      style="height: 167px"
                    >
                      <div
                        class="card-img-top fill-image h-100"
                        style="background-image: url(../images/case-studies/bdeo-cover.jpg)"
                      >
                      </div>
                      <div
                        class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                        style="height: 56px; width: 114px"
                      >
                        <img
                          class="w-100"
                          src="/images/case-studies/bdeo-logo.png"
                          srcset="/images/case-studies/bdeo-logo.png 1x"
                          alt="Bdeo logo"
                          loading="lazy"
                        />
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-none industry-name">IT &amp; Software</div>
                      <p class="paragraph-5 my-3">
                        Bdeo develops Visual Intelligence technology for the
                        insurance industry, both motor and home insurance, for
                        policy underwriting and claims management processes.
                      </p>
                      <a href="/case-studies/bdeo" class="stretched-link"
                        ><span class="chevron blue-small-right"
                          >Read the case study</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div class="hover-raise-sm">
                  <div
                    class="card bg-neutral-99 overflow-visible border-0 pb-3"
                  >
                    <div
                      class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                      style="height: 167px"
                    >
                      <div
                        class="card-img-top fill-image h-100"
                        style="background-image: url(../images/case-studies/buena-cover-3.png)"
                      >
                      </div>
                      <div
                        class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                        style="height: 56px; width: 114px"
                      >
                        <img
                          class="w-100"
                          src="/images/case-studies/buena-logo.png"
                          srcset="/images/case-studies/buena-logo.png 1x"
                          alt="Buena logo"
                          loading="lazy"
                        />
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-none industry-name">IT &amp; Software</div>
                      <p class="paragraph-5 my-3">
                        Buena is a modern, digital platform for managing
                        apartments (viewings, payments, maintenance) for both
                        landlords and tenants.
                      </p>
                      <a href="/case-studies/buena" class="stretched-link"
                        ><span class="chevron blue-small-right"
                          >Read the case study</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div
                  class="bg-neutral-95 rounded-3 px-6 d-flex justify-content-center h-100 d-flex flex-column"
                >
                  <h4 class="fw-bold mb-4">
                    Real companies,<br />real data,<br />real stories
                  </h4>
                  <a
                    href="/case-studies"
                    class="btn btn-primary btn-link"
                    role="button">See all stories</a
                  >
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="container rounded-4 no-overflow">
      <div class="get-started">
        <div class="container">
          <div class="pt0">
            <div class="text-centered bootstrap">
              <h2 class="large mt0 neutral-white" style="margin-bottom: 16px">
                Get started with Metabase
              </h2>
              <div
                class="d-flex justify-content-center align-items-center gap-2"
              >
                <a
                  class="fs-13 Button Button--primary rounded-3 ms-lg-2 py-3 lh-base"
                  href="https://store.metabase.com/checkout">Get started</a
                >
              </div>
              <ul class="horizontal-checklist mt-6">
                <li>Free, no-commitment trial</li>
                <li>Easy for everyone—no SQL required</li>
                <li>Up and running in 5 minutes</li>
              </ul>
              <div class="img-placeholder ml-auto mr-auto"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
