---
import Base from "../../layouts/Base.astro";
const title =
  "Hurb uses Metabase to improve their decision-making process and increase earnings.";
const description =
  "Hurb is a leading online travel platform based in Latin America that has over 25 million registered travelers all over the world.";
const seo = {
  title:
    "Hurb uses Metabase to improve their decision-making process and increase earnings.",
  description:
    "Hurb is a leading online travel platform based in Latin America that has over 25 million registered travelers all over the world.",
  canonical: "/case-studies/hurb",
  og: {
    title:
      "Hurb uses Metabase to improve their decision-making process and increase earnings.",
    description:
      "Hurb is a leading online travel platform based in Latin America that has over 25 million registered travelers all over the world.",
    image:
      "https://www.metabase.com/images/case-studies/hurb-uses-metabase-to-improve-their-decision-making-process-and-increase-earnings.jpg",
    url: "https://www.metabase.com/case-studies/hurb",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title:
      "Hurb uses Metabase to improve their decision-making process and increase earnings.",
    description:
      "Hurb is a leading online travel platform based in Latin America that has over 25 million registered travelers all over the world.",
    card: "summary_large_image",
    image:
      "https://www.metabase.com/images/case-studies/hurb-uses-metabase-to-improve-their-decision-making-process-and-increase-earnings.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="progress-bar z1" id="progress-bar"></div>

    <div class="bootstrap">
      <div class="container pt-4">
        <section class="row d-flex flex-column flex-md-row case-study-detail">
          <aside class="d-lg-block col-lg-3">
            <a
              class="chevron blue-small-left mb-8 mb-lg-0 fw-bold"
              href="/case-studies">Back to all Case Studies</a
            >
          </aside>
          <article id="case-study-content" class="col-12 col-md-8">
            <h1 class="h3 m-0 mb-lg-12">
              Hurb uses Metabase to improve their decision-making process and
              increase earnings.
            </h1>
          </article>
        </section>

        <section class="row d-flex flex-column flex-md-row case-study-detail">
          <aside class="d-lg-block col-lg-3">
            <div
              class="bg-neutral-99 rounded-3 p-5 pb-6 height-fit-content mb-8"
            >
              <div style="width: 142px">
                <img
                  class="w-100 pb-8"
                  src="/images/case-studies/hurb-logo.png"
                  alt="Hurb logo"
                />
              </div>
              <h5 class="fw-bold neutral-black">Company</h5>
              <p class="paragraph-5 mb-5">
                Hurb is a leading online travel platform based in Latin America
                that has over 25 million registered travelers all over the
                world.
              </p>
              <h5 class="fw-bold neutral-black">Industry</h5>
              <p class="paragraph-5 mb-5">IT &amp; Software</p>
              <h5 class="fw-bold neutral-black">Employees</h5>
              <p class="paragraph-5 mb-5">800+</p>
              <h5 class="fw-bold neutral-black">Headquarters</h5>
              <p class="paragraph-5">Rio de Janeiro, Brazil</p>

              <h5 class="fw-bold neutral-black">Key Usecases</h5>

              <a href="/product/business-intelligence" class="mb-2"
                >Business Intelligence</a
              >
            </div>
          </aside>
          <article id="case-study-content" class="col-12 col-md-8">
            <div
              class="overflow-hidden w-100 rounded-4 d-flex align-items-center mb-13"
              style="aspect-ratio: 3/1"
            >
              <img
                class="w-100"
                src="/images/case-studies/hurb.jpg"
                alt=""
                loading="lazy"
              />
            </div>

            <div class="col-12 col-lg-9">
              <p>
                <strong>The Challenge: </strong> Before Metabase, Hurb used their
                own Business Intelligence tool, built internally by their development
                team. This tool was good for building dashboards, but it was limited
                in allowing self-service analytics for everyone, and they thought
                that self-service was key to fostering a data-driven culture.
              </p>

              <p>
                <strong>The Solution: </strong> In 2019, Hurb started looking for
                a tool to promote self-service analytics in order to democratize
                data all over the company. They chose Metabase because it allowed
                both technical and non-technical team members to engage with data.
              </p>

              <p>
                <strong>The Results: </strong> Metabase has been a game-changer.
                It concentrates Hurb’s data and allows almost every team in the company
                to explore the data they need to make informed decisions.
              </p>

              <blockquote class="paragraph-3">
                "Using Metabase, we’ve allowed everyone in the company to get
                access to all data available to create, explore, and analyze
                anything they want. This surely is improving our decision-making
                process, resulting in an incalculable increase in our earnings.
                "
                <div class="row mb-6 mt-4">
                  <div class="flex flex-row align-center">
                    <div class="pe-3">
                      <img
                        src="/images/case-studies/testimonials/Hurb-Felipe-Amoedo-Hadba.jpg"
                        class="circle max-100"
                        style="width: 48px;"
                        alt=""
                        loading="lazy"
                      />
                    </div>
                    <div style="line-height: 0;">
                      <span class="neutral-15 paragraph-5"
                        >Felipe Amoedo Hadba</span
                      ><br />
                      <span class="neutral-40 paragraph-5"
                        >Head of Business Analytics at Hurb</span
                      >
                    </div>
                  </div>
                </div>
              </blockquote>

              <p>
                Their mission is to optimize travel through technology and
                optimize time through science. Hurb’s engineering team has about
                120 specialists, 20 of whom work on the Data &amp; Analytics
                team.
              </p>

              <h4 id="why-metabase">Why Metabase?</h4>

              <p>
                The Hurb team was looking for data visualization and exploration
                solutions in open-source communities. They chose Metabase due to
                its user-friendly interface and its a rich toolset for both
                technical and non-technical teams.
              </p>

              <h4 id="the-data">The data</h4>

              <p>
                Hurb uses BigQuery, populated by some open source tools like
                Airflow, Apache Beam, and Dataflow. They also use Fivetran for
                Customer Experience and Marketing data and Salesforce for
                customer relationship management.
              </p>

              <h4 id="how-hurb-team-uses-metabase">
                How Hurb team uses Metabase
              </h4>

              <p>
                The Hurb is trying to involve as many teams and departments as
                possible to create a tool that serves as the company’s single
                source of truth. They wanted Metabase to become the central data
                repository for data discovery and visualization.
              </p>

              <p>
                So far almost every department uses Metabase, but the heaviest
                users are marketing and customer experience teams. For example,
                the marketing team monitors the performance of web search
                engines on the metasearch platforms related to travel and
                hotels. The customer experience team uses Metabase to monitor
                the sales reports of travel packets, as well as sales by
                destination region, promoter type, billing, and revenue by date.
              </p>

              <h4 id="the-results">The results</h4>

              <p>
                Metabase has democratized data inside Hurb company, providing
                autonomy in analytics. Anyone can create their own dashboards
                and use a tool as a single source of truth within the company.
                Reading the official Metabase documentation and experimenting
                with different dashboards has helped them to level up a tool
                usage. What surprised Hurb is that some employees use the
                questions and query repositories to learn SQL, ask their own
                questions, and explore data.
              </p>

              <blockquote>
                <p>
                  <strong
                    >“Metabase for us is like a testing and learning
                    environment.”, - Marcel Mello, Analytics Engineer at Hurb.</strong>
                </p>
              </blockquote>

              <h4 id="advice-for-others">Advice for others</h4>

              <p>
                Two main pieces of advice from the Hurb Data Team are “Read the
                documentation” and “Find benchmarks on the market”. As far as
                best practices go, it is essential to document the data and
                provide great catalog and metadata information to organize and
                make data discovery work well.
              </p>
            </div>
          </article>
        </section>
        <section>
          <div class="rounded-4 bg-neutral-99 py-11">
            <div
              class="d-flex flex-row align-items-center justify-content-between px-14"
            >
              <h3 class="m-0">Explore more customer stories</h3>
              <div class="d-flex flex-row">
                <button
                  id="more-stories-scroll-left"
                  class="btn-base btn-base-primary btn-base-circle chevron white-left disabled pe-1 me-1"
                ></button>
                <button
                  id="more-stories-scroll-right"
                  class="btn-base btn-base-primary btn-base-circle chevron white-right ps-1"
                ></button>
              </div>
            </div>
            <div
              id="more-stories"
              class="d-flex flex-row overflow-hidden px-14 pt-9"
            >
              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div class="hover-raise-sm">
                  <div
                    class="card bg-neutral-99 overflow-visible border-0 pb-3"
                  >
                    <div
                      class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                      style="height: 167px"
                    >
                      <div
                        class="card-img-top fill-image h-100"
                        style="background-image: url(../images/case-studies/alto-cover.jpg)"
                      >
                      </div>
                      <div
                        class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                        style="height: 56px; width: 114px"
                      >
                        <img
                          class="w-100"
                          src="/images/case-studies/alto-logo.png"
                          srcset="/images/case-studies/alto-logo.png 1x"
                          alt="Alto logo"
                          loading="lazy"
                        />
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-none industry-name">Financial Services</div>
                      <p class="paragraph-5 my-3">
                        Alto is an investment platform that helps individual
                        investors diversify their portfolios by offering access
                        to alternative assets, traditionally available only to
                        professional investors.
                      </p>
                      <a href="/case-studies/alto" class="stretched-link"
                        ><span class="chevron blue-small-right"
                          >Read the case study</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div class="hover-raise-sm">
                  <div
                    class="card bg-neutral-99 overflow-visible border-0 pb-3"
                  >
                    <div
                      class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                      style="height: 167px"
                    >
                      <div
                        class="card-img-top fill-image h-100"
                        style="background-image: url(../images/case-studies/angelist-bg.jpg)"
                      >
                      </div>
                      <div
                        class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                        style="height: 56px; width: 114px"
                      >
                        <img
                          class="w-100"
                          src="/images/case-studies/angelist-logo.png"
                          srcset="/images/case-studies/angelist-logo.png 1x"
                          alt="AngelList Venture logo"
                          loading="lazy"
                        />
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-none industry-name">Venture Capital</div>
                      <p class="paragraph-5 my-3">
                        AngelList Venture brings venture online with private,
                        professional fundraising tools for top quality startups
                        and investors.
                      </p>
                      <a href="/case-studies/angellist" class="stretched-link"
                        ><span class="chevron blue-small-right"
                          >Read the case study</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div class="hover-raise-sm">
                  <div
                    class="card bg-neutral-99 overflow-visible border-0 pb-3"
                  >
                    <div
                      class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                      style="height: 167px"
                    >
                      <div
                        class="card-img-top fill-image h-100"
                        style="background-image: url(../images/case-studies/aula-cover.png)"
                      >
                      </div>
                      <div
                        class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                        style="height: 56px; width: 114px"
                      >
                        <img
                          class="w-100"
                          src="/images/case-studies/aula-logo.png"
                          srcset="/images/case-studies/aula-logo.png 1x"
                          alt="Aula logo"
                          loading="lazy"
                        />
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-none industry-name">Education</div>
                      <p class="paragraph-5 my-3">
                        Aula is a digital learning platform designed to make
                        online education more engaging for both educators and
                        students. Over 200,000 students have used Aula so far.
                      </p>
                      <a href="/case-studies/aula" class="stretched-link"
                        ><span class="chevron blue-small-right"
                          >Read the case study</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div class="hover-raise-sm">
                  <div
                    class="card bg-neutral-99 overflow-visible border-0 pb-3"
                  >
                    <div
                      class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                      style="height: 167px"
                    >
                      <div
                        class="card-img-top fill-image h-100"
                        style="background-image: url(../images/case-studies/bdeo-cover.jpg)"
                      >
                      </div>
                      <div
                        class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                        style="height: 56px; width: 114px"
                      >
                        <img
                          class="w-100"
                          src="/images/case-studies/bdeo-logo.png"
                          srcset="/images/case-studies/bdeo-logo.png 1x"
                          alt="Bdeo logo"
                          loading="lazy"
                        />
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-none industry-name">IT &amp; Software</div>
                      <p class="paragraph-5 my-3">
                        Bdeo develops Visual Intelligence technology for the
                        insurance industry, both motor and home insurance, for
                        policy underwriting and claims management processes.
                      </p>
                      <a href="/case-studies/bdeo" class="stretched-link"
                        ><span class="chevron blue-small-right"
                          >Read the case study</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div class="hover-raise-sm">
                  <div
                    class="card bg-neutral-99 overflow-visible border-0 pb-3"
                  >
                    <div
                      class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                      style="height: 167px"
                    >
                      <div
                        class="card-img-top fill-image h-100"
                        style="background-image: url(../images/case-studies/buena-cover-3.png)"
                      >
                      </div>
                      <div
                        class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                        style="height: 56px; width: 114px"
                      >
                        <img
                          class="w-100"
                          src="/images/case-studies/buena-logo.png"
                          srcset="/images/case-studies/buena-logo.png 1x"
                          alt="Buena logo"
                          loading="lazy"
                        />
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-none industry-name">IT &amp; Software</div>
                      <p class="paragraph-5 my-3">
                        Buena is a modern, digital platform for managing
                        apartments (viewings, payments, maintenance) for both
                        landlords and tenants.
                      </p>
                      <a href="/case-studies/buena" class="stretched-link"
                        ><span class="chevron blue-small-right"
                          >Read the case study</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div
                  class="bg-neutral-95 rounded-3 px-6 d-flex justify-content-center h-100 d-flex flex-column"
                >
                  <h4 class="fw-bold mb-4">
                    Real companies,<br />real data,<br />real stories
                  </h4>
                  <a
                    href="/case-studies"
                    class="btn btn-primary btn-link"
                    role="button">See all stories</a
                  >
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="container rounded-4 no-overflow">
      <div class="get-started">
        <div class="container">
          <div class="pt0">
            <div class="text-centered bootstrap">
              <h2 class="large mt0 neutral-white" style="margin-bottom: 16px">
                Get started with Metabase
              </h2>
              <div
                class="d-flex justify-content-center align-items-center gap-2"
              >
                <a
                  class="fs-13 Button Button--primary rounded-3 ms-lg-2 py-3 lh-base"
                  href="https://store.metabase.com/checkout">Get started</a
                >
              </div>
              <ul class="horizontal-checklist mt-6">
                <li>Free, no-commitment trial</li>
                <li>Easy for everyone—no SQL required</li>
                <li>Up and running in 5 minutes</li>
              </ul>
              <div class="img-placeholder ml-auto mr-auto"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
