---
import Base from "../../layouts/Base.astro";
const title =
  "Lime Technologies white-labels Metabase to provide their customers with answers about their business.";
const description =
  "Lime Technologies is a Customer Relationship Management supplier with offices in the Nordics, Netherlands, and Germany that delivers what they call “CRM with a twist” to make sure their clients exceed their customers’ expectations.";
const seo = {
  title:
    "Lime Technologies white-labels Metabase to provide their customers with answers about their business.",
  description:
    "Lime Technologies is a Customer Relationship Management supplier with offices in the Nordics, Netherlands, and Germany that delivers what they call “CRM with a twist” to make sure their clients exceed their customers’ expectations.",
  canonical: "/case-studies/lime-technologies",
  og: {
    title:
      "Lime Technologies white-labels Metabase to provide their customers with answers about their business.",
    description:
      "Lime Technologies is a Customer Relationship Management supplier with offices in the Nordics, Netherlands, and Germany that delivers what they call “CRM with a twist” to make sure their clients exceed their customers’ expectations.",
    image: "https://www.metabase.com/images/case-studies/lime-og.jpeg",
    url: "https://www.metabase.com/case-studies/lime-technologies",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title:
      "Lime Technologies white-labels Metabase to provide their customers with answers about their business.",
    description:
      "Lime Technologies is a Customer Relationship Management supplier with offices in the Nordics, Netherlands, and Germany that delivers what they call “CRM with a twist” to make sure their clients exceed their customers’ expectations.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/case-studies/lime-og.jpeg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="progress-bar z1" id="progress-bar"></div>

    <div class="bootstrap">
      <div class="container pt-4">
        <section class="row d-flex flex-column flex-md-row case-study-detail">
          <aside class="d-lg-block col-lg-3">
            <a
              class="chevron blue-small-left mb-8 mb-lg-0 fw-bold"
              href="/case-studies">Back to all Case Studies</a
            >
          </aside>
          <article id="case-study-content" class="col-12 col-md-8">
            <h1 class="h3 m-0 mb-lg-12">
              Lime Technologies white-labels Metabase to provide their customers
              with answers about their business.
            </h1>
          </article>
        </section>

        <section class="row d-flex flex-column flex-md-row case-study-detail">
          <aside class="d-lg-block col-lg-3">
            <div
              class="bg-neutral-99 rounded-3 p-5 pb-6 height-fit-content mb-8"
            >
              <div style="width: 142px">
                <img
                  class="w-100 pb-8"
                  src="/images/case-studies/lime-logo.png"
                  alt="Lime Technologies logo"
                />
              </div>
              <h5 class="fw-bold neutral-black">Company</h5>
              <p class="paragraph-5 mb-5">
                Lime Technologies is a Customer Relationship Management supplier
                with offices in the Nordics, Netherlands, and Germany that
                delivers what they call “CRM with a twist” to make sure their
                clients exceed their customers’ expectations.
              </p>
              <h5 class="fw-bold neutral-black">Industry</h5>
              <p class="paragraph-5 mb-5">IT &amp; Software</p>
              <h5 class="fw-bold neutral-black">Employees</h5>
              <p class="paragraph-5 mb-5">400+</p>
              <h5 class="fw-bold neutral-black">Headquarters</h5>
              <p class="paragraph-5">Lund, Sweden</p>

              <h5 class="fw-bold neutral-black">Key Usecases</h5>

              <a href="/product/business-intelligence" class="mb-2"
                >Business Intelligence</a
              >

              <a href="/product/interactive-dashboards" class="mb-2">
                Interactive dashboards</a
              >
            </div>
          </aside>
          <article id="case-study-content" class="col-12 col-md-8">
            <div
              class="overflow-hidden w-100 rounded-4 d-flex align-items-center mb-13"
              style="aspect-ratio: 3/1"
            >
              <img
                class="w-100"
                src="/images/case-studies/lime-image.png"
                alt=""
                loading="lazy"
              />
            </div>

            <div class="col-12 col-lg-9">
              <p>
                <strong>The Challenge: </strong> Lime Technologies had lots of data
                in their own Lime CRM application that they were analyzing with a
                complex BI-tool. However, the whole setup was too complicated, and
                they were looking for a way to make it easier for their teammates
                to dig into the data.
              </p>

              <p>
                <strong>The Solution: </strong> They came across Metabase and quickly
                realized that it offers the same vision Lime Technologies follow
                - to make it easy for people to access their data. They set Metabase
                up and it quickly became a tool to use across many teams.
              </p>

              <p>
                <strong>The Results: </strong> Metabase became not only their main
                internal tool for data analysis, but also a platform to provide Lime
                Technologies customers with data insights.
              </p>

              <blockquote class="paragraph-3">
                "White-labeling Metabase was a perfect fit for us at Lime
                Technologies. Why? The whole essence of our CRM software is
                simplicity and efficiency. Metabase follows the same principles,
                and it makes it easy for our customers to make sense of their
                CRM data and make strategic decisions. "
                <div class="row mb-6 mt-4">
                  <div class="flex flex-row align-center">
                    <div class="pe-3">
                      <img
                        src="/images/case-studies/magnus-fagerlund.png"
                        class="circle max-100"
                        style="width: 48px;"
                        alt=""
                        loading="lazy"
                      />
                    </div>
                    <div style="line-height: 0;">
                      <span class="neutral-15 paragraph-5"
                        >Magnus Fagerlund</span
                      ><br />
                      <span class="neutral-40 paragraph-5"
                        >Product Marketing Manager</span
                      >
                    </div>
                  </div>
                </div>
              </blockquote>

              <p>
                Over the years <a
                  href="https://www.lime-technologies.com/en/"
                  target="\_blank">Lime Technologies</a
                > has delivered their different CRM-solutions to over 6000 companies.
                Currently, they have over 400 employees. Unlike other CRM suppliers
                in the market, Lime sells, delivers, develops, and supports their
                software themselves, without any intermediaries.
              </p>

              <h4 id="why-metabase">Why Metabase?</h4>

              <p>
                Because Lime Technologies uses their own product, they’re able
                to quickly learn what’s working and what’s not. In their own
                CRM, they have lots of data: sales information (pipeline
                management, forecasts) and support information (number of
                tickets, tickets clustering, categories performance).
                Previously, Lime used a large, complex BI-tool to analyze all
                that data, but that tool required an engineer to create
                dashboards. For those without the technical skills to use the
                software, insights were hard to come by.
              </p>

              <p>
                Lime learned about Metabase by chance, but quickly understood
                that it was exactly what they were looking for. Not only was
                Metabase easy to use, but they also could relate to Metabase’s
                approach: make the data available to everyone. Metabase’s vision
                for making data more approachable was something the Lime
                Technologies team also relied on in their own product.
              </p>

              <h4 id="the-data">The data</h4>

              <p>
                Lime Technologies uses SQL-databases to store all data (one SQL
                database per customer) in Lime CRM. Since the unique selling
                proposition with Lime CRM is to provide custom solutions, data
                models are unique to each customer. All customer-facing tables
                and columns in the Lime CRM SQL database are synced to Metabase
                and automatically classified according to data type, which makes
                it easier for people to ask their own questions.
              </p>

              <h4 id="how-lime-technologies-team-uses-metabase">
                How Lime Technologies team uses Metabase
              </h4>

              <p>
                Lime Technologies started with an open source version of
                Metabase. They got that up and running internally and realized
                they could put Metabase in the hands of their sales and support
                managers without having to send a request for specific BI
                engineers to build the reports. That was a turning point.
              </p>

              <p>
                The number of people who could ask questions internally at Lime
                went from a handful of technical persons to department managers
                across all departments.
              </p>

              <p><strong>Lime used Metabase to visualize:</strong></p>

              <ul>
                <li>Sales forecasts (Sales department)</li>
                <li>Ticket closing rate over time (Support department)</li>
                <li>
                  Consultant utilization over time (Consultant department)
                </li>
                <li>Inbound lead statistics (Marketing department)</li>
              </ul>

              <p>
                Lime quickly understood that their customers would benefit from
                Metabase too. At the time, Lime had been using a complex BI
                add-on to Lime CRM, but the whole setup was overly complex. It
                required their customers to have an additional Windows server,
                and customers never got traction due to the complexity.
              </p>

              <p>
                Now, as a part of their CRM offering, Lime Technologies’ “Lime
                BI” uses a white-labelled Metabase to prepare dashboards and
                questions their customers would like to answer. Customers can
                also buy the full Lime BI add-on to get the full power of
                Metabase, which lets them as ask new questions of their data
                without involving any Lime Technologies consultants. Since Lime
                CRM is tailor-made for various customer types, usually depending
                on industry, the data and visualizations customers benefit
                differs from customer to customer. The flexibility in Lime CRM
                as a product pairs well with the flexibility in Metabase.
              </p>

              <p>
                <img
                  src="/images/case-studies/lime-2.gif"
                  alt="Metabase in Lime CRM"
                />
              </p>

              <p>
                <img
                  src="/images/case-studies/lime-1.gif"
                  alt="Metabase questions and dashboards in Lime CRM"
                />
              </p>

              <h4 id="typical-questions-lime-technologies-ask-in-metabase">
                Typical questions Lime Technologies ask in Metabase
              </h4>

              <p><strong>Sales:</strong></p>

              <ul>
                <li>Won deals this vs. last month</li>
                <li>Average deal size this vs. last year</li>
                <li>Hitrate won/lost deals</li>
                <li>Total forecast next six months</li>
                <li>Total forecast next twelve months vs goals</li>
                <li>Won deals vs. sales budget this year</li>
              </ul>

              <p><strong>Support:</strong></p>

              <ul>
                <li>Closed tickets this vs. past year/month</li>
                <li>Top ticket categories</li>
                <li>Time spent per ticket over time</li>
                <li>Coworker who closed the most tickets</li>
              </ul>

              <p><strong>Marketing:</strong></p>

              <ul>
                <li>Leads this month</li>
                <li>MQLs this month</li>
                <li>Conversion rate MQL → SQL</li>
                <li>Hit rate SQL → Won deals</li>
                <li>Leads lifecycle per month</li>
              </ul>

              <h4 id="the-results">The Results</h4>

              <p>
                When Lime Technologies adopted Metabase, they first had three or
                four people who would use it. Now fifty people have access to
                the tool, mostly managers from different departments (support,
                sales, and more). Internally, the benefit was huge; Metabase
                unlocked the power of the data for more people.
              </p>

              <p>
                Metabase has done the same for the Lime Tech customers,
                providing more value to their customers. Lime BI is now most
                often included in new customer implementations with a couple of
                default questions/dashboards, but a lot of the customers also
                see the extended value in the full Lime BI add-on. Lime BI makes
                it possible to upsell to an existing customer base, and it gives
                Lime an edge in new sales.
              </p>

              <h4 id="advice-for-others">Advice for others</h4>

              <p>
                White-labeling Metabase can add a lot of value to your product
                offering. And using Metabase internally gives you a better
                understanding of that value, which makes it easier to
                communicate to customers. Having a team of sales reps that
                actually use the product they are selling in their everyday life
                is unbeatable.
              </p>
            </div>
          </article>
        </section>
        <section>
          <div class="rounded-4 bg-neutral-99 py-11">
            <div
              class="d-flex flex-row align-items-center justify-content-between px-14"
            >
              <h3 class="m-0">Explore more customer stories</h3>
              <div class="d-flex flex-row">
                <button
                  id="more-stories-scroll-left"
                  class="btn-base btn-base-primary btn-base-circle chevron white-left disabled pe-1 me-1"
                ></button>
                <button
                  id="more-stories-scroll-right"
                  class="btn-base btn-base-primary btn-base-circle chevron white-right ps-1"
                ></button>
              </div>
            </div>
            <div
              id="more-stories"
              class="d-flex flex-row overflow-hidden px-14 pt-9"
            >
              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div class="hover-raise-sm">
                  <div
                    class="card bg-neutral-99 overflow-visible border-0 pb-3"
                  >
                    <div
                      class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                      style="height: 167px"
                    >
                      <div
                        class="card-img-top fill-image h-100"
                        style="background-image: url(../images/case-studies/alto-cover.jpg)"
                      >
                      </div>
                      <div
                        class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                        style="height: 56px; width: 114px"
                      >
                        <img
                          class="w-100"
                          src="/images/case-studies/alto-logo.png"
                          srcset="/images/case-studies/alto-logo.png 1x"
                          alt="Alto logo"
                          loading="lazy"
                        />
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-none industry-name">Financial Services</div>
                      <p class="paragraph-5 my-3">
                        Alto is an investment platform that helps individual
                        investors diversify their portfolios by offering access
                        to alternative assets, traditionally available only to
                        professional investors.
                      </p>
                      <a href="/case-studies/alto" class="stretched-link"
                        ><span class="chevron blue-small-right"
                          >Read the case study</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div class="hover-raise-sm">
                  <div
                    class="card bg-neutral-99 overflow-visible border-0 pb-3"
                  >
                    <div
                      class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                      style="height: 167px"
                    >
                      <div
                        class="card-img-top fill-image h-100"
                        style="background-image: url(../images/case-studies/angelist-bg.jpg)"
                      >
                      </div>
                      <div
                        class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                        style="height: 56px; width: 114px"
                      >
                        <img
                          class="w-100"
                          src="/images/case-studies/angelist-logo.png"
                          srcset="/images/case-studies/angelist-logo.png 1x"
                          alt="AngelList Venture logo"
                          loading="lazy"
                        />
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-none industry-name">Venture Capital</div>
                      <p class="paragraph-5 my-3">
                        AngelList Venture brings venture online with private,
                        professional fundraising tools for top quality startups
                        and investors.
                      </p>
                      <a href="/case-studies/angellist" class="stretched-link"
                        ><span class="chevron blue-small-right"
                          >Read the case study</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div class="hover-raise-sm">
                  <div
                    class="card bg-neutral-99 overflow-visible border-0 pb-3"
                  >
                    <div
                      class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                      style="height: 167px"
                    >
                      <div
                        class="card-img-top fill-image h-100"
                        style="background-image: url(../images/case-studies/aula-cover.png)"
                      >
                      </div>
                      <div
                        class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                        style="height: 56px; width: 114px"
                      >
                        <img
                          class="w-100"
                          src="/images/case-studies/aula-logo.png"
                          srcset="/images/case-studies/aula-logo.png 1x"
                          alt="Aula logo"
                          loading="lazy"
                        />
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-none industry-name">Education</div>
                      <p class="paragraph-5 my-3">
                        Aula is a digital learning platform designed to make
                        online education more engaging for both educators and
                        students. Over 200,000 students have used Aula so far.
                      </p>
                      <a href="/case-studies/aula" class="stretched-link"
                        ><span class="chevron blue-small-right"
                          >Read the case study</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div class="hover-raise-sm">
                  <div
                    class="card bg-neutral-99 overflow-visible border-0 pb-3"
                  >
                    <div
                      class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                      style="height: 167px"
                    >
                      <div
                        class="card-img-top fill-image h-100"
                        style="background-image: url(../images/case-studies/bdeo-cover.jpg)"
                      >
                      </div>
                      <div
                        class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                        style="height: 56px; width: 114px"
                      >
                        <img
                          class="w-100"
                          src="/images/case-studies/bdeo-logo.png"
                          srcset="/images/case-studies/bdeo-logo.png 1x"
                          alt="Bdeo logo"
                          loading="lazy"
                        />
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-none industry-name">IT &amp; Software</div>
                      <p class="paragraph-5 my-3">
                        Bdeo develops Visual Intelligence technology for the
                        insurance industry, both motor and home insurance, for
                        policy underwriting and claims management processes.
                      </p>
                      <a href="/case-studies/bdeo" class="stretched-link"
                        ><span class="chevron blue-small-right"
                          >Read the case study</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div class="hover-raise-sm">
                  <div
                    class="card bg-neutral-99 overflow-visible border-0 pb-3"
                  >
                    <div
                      class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                      style="height: 167px"
                    >
                      <div
                        class="card-img-top fill-image h-100"
                        style="background-image: url(../images/case-studies/buena-cover-3.png)"
                      >
                      </div>
                      <div
                        class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                        style="height: 56px; width: 114px"
                      >
                        <img
                          class="w-100"
                          src="/images/case-studies/buena-logo.png"
                          srcset="/images/case-studies/buena-logo.png 1x"
                          alt="Buena logo"
                          loading="lazy"
                        />
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-none industry-name">IT &amp; Software</div>
                      <p class="paragraph-5 my-3">
                        Buena is a modern, digital platform for managing
                        apartments (viewings, payments, maintenance) for both
                        landlords and tenants.
                      </p>
                      <a href="/case-studies/buena" class="stretched-link"
                        ><span class="chevron blue-small-right"
                          >Read the case study</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div
                  class="bg-neutral-95 rounded-3 px-6 d-flex justify-content-center h-100 d-flex flex-column"
                >
                  <h4 class="fw-bold mb-4">
                    Real companies,<br />real data,<br />real stories
                  </h4>
                  <a
                    href="/case-studies"
                    class="btn btn-primary btn-link"
                    role="button">See all stories</a
                  >
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="container rounded-4 no-overflow">
      <div class="get-started">
        <div class="container">
          <div class="pt0">
            <div class="text-centered bootstrap">
              <h2 class="large mt0 neutral-white" style="margin-bottom: 16px">
                Get started with Metabase
              </h2>
              <div
                class="d-flex justify-content-center align-items-center gap-2"
              >
                <a
                  class="fs-13 Button Button--primary rounded-3 ms-lg-2 py-3 lh-base"
                  href="https://store.metabase.com/checkout">Get started</a
                >
              </div>
              <ul class="horizontal-checklist mt-6">
                <li>Free, no-commitment trial</li>
                <li>Easy for everyone—no SQL required</li>
                <li>Up and running in 5 minutes</li>
              </ul>
              <div class="img-placeholder ml-auto mr-auto"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
