---
import Base from "../../layouts/Base.astro";
const title =
  "How Sincera uses Metabase embedding to provide their customers with digital advertising and media insights.";
const description =
  "Sincera is a modern verification service that helps companies accelerate their competitive velocity. It provides data and infrastructure to answer novel questions in media and advertising with hard, accurate data.";
const seo = {
  title:
    "How Sincera uses Metabase embedding to provide their customers with digital advertising and media insights.",
  description:
    "Sincera is a modern verification service that helps companies accelerate their competitive velocity. It provides data and infrastructure to answer novel questions in media and advertising with hard, accurate data.",
  canonical: "/case-studies/sincera",
  og: {
    title:
      "How Sincera uses Metabase embedding to provide their customers with digital advertising and media insights.",
    description:
      "Sincera is a modern verification service that helps companies accelerate their competitive velocity. It provides data and infrastructure to answer novel questions in media and advertising with hard, accurate data.",
    image: "https://www.metabase.com/images/case-studies/sincera-og.jpg",
    url: "https://www.metabase.com/case-studies/sincera",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title:
      "How Sincera uses Metabase embedding to provide their customers with digital advertising and media insights.",
    description:
      "Sincera is a modern verification service that helps companies accelerate their competitive velocity. It provides data and infrastructure to answer novel questions in media and advertising with hard, accurate data.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/case-studies/sincera-og.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="progress-bar z1" id="progress-bar"></div>

    <div class="bootstrap">
      <div class="container pt-4">
        <section class="row d-flex flex-column flex-md-row case-study-detail">
          <aside class="d-lg-block col-lg-3">
            <a
              class="chevron blue-small-left mb-8 mb-lg-0 fw-bold"
              href="/case-studies">Back to all Case Studies</a
            >
          </aside>
          <article id="case-study-content" class="col-12 col-md-8">
            <h1 class="h3 m-0 mb-lg-12">
              How Sincera uses Metabase embedding to provide their customers
              with digital advertising and media insights.
            </h1>
          </article>
        </section>

        <section class="row d-flex flex-column flex-md-row case-study-detail">
          <aside class="d-lg-block col-lg-3">
            <div
              class="bg-neutral-99 rounded-3 p-5 pb-6 height-fit-content mb-8"
            >
              <div style="width: 142px">
                <img
                  class="w-100 pb-8"
                  src="/images/case-studies/sincera-logo.png"
                  alt="Sincera logo"
                />
              </div>
              <h5 class="fw-bold neutral-black">Company</h5>
              <p class="paragraph-5 mb-5">
                Sincera is a modern verification service that helps companies
                accelerate their competitive velocity. It provides data and
                infrastructure to answer novel questions in media and
                advertising with hard, accurate data.
              </p>
              <h5 class="fw-bold neutral-black">Industry</h5>
              <p class="paragraph-5 mb-5">IT &amp; Software</p>
              <h5 class="fw-bold neutral-black">Employees</h5>
              <p class="paragraph-5 mb-5">10+</p>
              <h5 class="fw-bold neutral-black">Headquarters</h5>
              <p class="paragraph-5">Remote-first</p>

              <h5 class="fw-bold neutral-black">Key Usecases</h5>

              <a href="/product/embedded-analytics" class="mb-2"
                >Embedded Analytics</a
              >
            </div>
          </aside>
          <article id="case-study-content" class="col-12 col-md-8">
            <div
              class="overflow-hidden w-100 rounded-4 d-flex align-items-center mb-13"
              style="aspect-ratio: 3/1"
            >
              <img
                class="w-100"
                src="/images/case-studies/sincera3.jpg"
                alt=""
                loading="lazy"
              />
            </div>

            <div class="col-12 col-lg-9">
              <p>
                <strong>The Challenge: </strong> The Sincera team wanted to be able
                to provide their customers with rich datasets and give them the freedom
                to derive their own insights from the data. Building simple summary
                charts and providing raw data access was easy enough, but there was
                a “missing middle” that would enable their customers to dive deeper
                into data without needing to build out complex pivot tables or ingest
                data immediately into their own BI tool.
              </p>

              <p>
                <strong>The Solution: </strong> Instead of building their visualization
                solution from scratch, Sincera decided to focus on building their
                core product and hand off the challenges of embedded analytics. After
                researching several options, Sincera chose Metabase due to its advanced
                permissions, easy-to-setup SSO integrations (IdP and JWT), and approachable,
                intuitive UI/UX that complemented their existing application.
              </p>

              <p>
                <strong>The Results: </strong> With the help of Metabase, Sincera
                were able to easily present data to their customers. Customization
                helped match the look and feel of Sincera’s application and robust
                permissions allowed users to see the data they wanted and were entitled
                to without overwhelming them.
              </p>

              <blockquote class="paragraph-3">
                "Metabase was the embedded solution we were looking for -
                easy-to-integrate, customizable, and performant. It allowed us
                to free up resources to focus on other areas of product
                development while increasing customer satisfaction. "
                <div class="row mb-6 mt-4">
                  <div class="flex flex-row align-center">
                    <div class="pe-3">
                      <img
                        src="/images/case-studies/ian-meyers.png"
                        class="circle max-100"
                        style="width: 48px;"
                        alt=""
                        loading="lazy"
                      />
                    </div>
                    <div style="line-height: 0;">
                      <span class="neutral-15 paragraph-5">Ian Meyers</span><br
                      />
                      <span class="neutral-40 paragraph-5"
                        >Co-Founder at Sincera</span
                      >
                    </div>
                  </div>
                </div>
              </blockquote>

              <h4 id="why-metabase">Why Metabase</h4>

              <p>
                Writing SQL and providing custom CSVs over email was an
                unacceptable user experience for Sincera – they have a strong
                belief in transparency and self-service in their application, so
                they knew they needed to find a solution that would empower
                their customers to unlock their data.
              </p>

              <p>
                But Sincera didn’t want to build an analytics solution from
                scratch; they’d rather focus on developing their product. <em
                  >“To benefit our customers, we would prefer to spend time on
                  novel, domain-specific challenges rather than “solved”
                  problems.”</em
                >,- Ian Meyers, Co-Founder at Sincera.
              </p>

              <p>
                Sincera spent a lot of time researching options that would meet
                their use case. This research included running open-source
                projects, opening trials, and reading documentation and reviews
                of leading solutions.
              </p>

              <p><strong>They chose Metabase because of its:</strong></p>

              <ol>
                <li>Advanced permissions</li>
                <li>Intuitive UX</li>
                <li>SSO with JWT</li>
              </ol>

              <h4 id="the-data">The data</h4>

              <p>
                Sincera’s data is descriptive of the digital advertising and
                media landscape. The data covers everything from industry
                standards like <a
                  href="https://iabtechlab.com/ads-txt-about/"
                  target="\_blank">ads.txt</a
                > assets to novel datasets that describe the quality of consent collected
                by digital publishers. Sincera’s fleet of full-browser crawling engines
                and embeddable Javascript SDK load data into PostgreSQL databases.
              </p>

              <h4 id="how-sincera-uses-metabase">How Sincera uses Metabase</h4>

              <p>
                Sincera uses Metabase to quickly turn questions and ideas into
                answers that can be immediately consumed by their customers,
                many of whom are in business development, technical product
                management, or operational roles (account managers).
              </p>

              <p>
                Sincera’s customers work in media and advertising technology,
                and often have questions like:
              </p>

              <ul>
                <li>
                  What company should I partner with to build contextual
                  segments?
                </li>
                <li>Are my end users deploying my technology correctly?</li>
                <li>
                  How do publishers change their advertising based on geographic
                  region?
                </li>
                <li>
                  Are advertisers placing their ad creative in environments that
                  are safe from misinformation and ad clutter?
                </li>
              </ul>

              <p>
                To set up Metabase, Sincera created a new page in their Rails
                web application to host Metabase’s dynamic iframes. To
                authenticate known users, Sincera created a set of new routes
                that Metabase could interact with to obtain a JWT generated by
                the web application to create and provision accounts. This setup
                ensures that only people with registered accounts with
                sufficient permission can access the more granular data provided
                in Metabase. Further, by passing group membership information in
                the JWT, Sincera can provision data specific to a customer.
              </p>

              <p>
                Sincera initially seeded their Metabase instance with a number
                of dashboards and questions they thought could be interesting
                across their various data concentrations.
              </p>

              <p>
                <img
                  src="/images/case-studies/sincera-video-final.gif"
                  alt="how sincera embeds metabase"
                />
              </p>

              <p>
                Sincera’s customers tend to start simple, e.g., with a
                Sincera-defined dashboard, then become more comfortable using
                the data independently. For example, some customers consumed
                Sincera’s data about ad density (the number of advertisements on
                a single web page), then added their own additional filters to
                only look at publishers who deployed an up-to-date version of
                “header bidding” technology, and finally rebuilt the
                visualization from the ground up, tailored to their needs.
              </p>

              <h4 id="the-results">The results</h4>

              <p>
                Sincera’s customers were immediately pleased with the scale,
                accessibility, and speed of data assets in the application.
                Customization helped match the look and feel to Sincera’s
                application, so Metabase felt like just another component,
                rather than a clunky embed. Robust permissions allowed people to
                see their data without overwhelming them with irrelevant data.
              </p>

              <p>
                <em
                  >“Presenting data is now more or less a solved problem, so we
                  can focus on other areas of our business. “</em
                >, - Ian Meyers.
              </p>

              <h4 id="advice-for-others">Advice for others</h4>

              <p>
                It’s great to spend lots of time working on improving the
                readability and relationship between schemas – that planning and
                design will pay off in build mode. No one will be as familiar
                with your data schema as you are, so if you plan to allow for
                free exploration, you need to put in the work to ensure that the
                data model is approachable.
              </p>

              <p>
                <em
                  >“For us, one of the biggest ‘unlocks’ provided by Metabase
                  was less hand-holding, but to get to that point, we needed to
                  spend time on semantics, documentation and, where necessary,
                  refactoring.”</em
                >, - says Ian.
              </p>
            </div>
          </article>
        </section>
        <section>
          <div class="rounded-4 bg-neutral-99 py-11">
            <div
              class="d-flex flex-row align-items-center justify-content-between px-14"
            >
              <h3 class="m-0">Explore more customer stories</h3>
              <div class="d-flex flex-row">
                <button
                  id="more-stories-scroll-left"
                  class="btn-base btn-base-primary btn-base-circle chevron white-left disabled pe-1 me-1"
                ></button>
                <button
                  id="more-stories-scroll-right"
                  class="btn-base btn-base-primary btn-base-circle chevron white-right ps-1"
                ></button>
              </div>
            </div>
            <div
              id="more-stories"
              class="d-flex flex-row overflow-hidden px-14 pt-9"
            >
              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div class="hover-raise-sm">
                  <div
                    class="card bg-neutral-99 overflow-visible border-0 pb-3"
                  >
                    <div
                      class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                      style="height: 167px"
                    >
                      <div
                        class="card-img-top fill-image h-100"
                        style="background-image: url(../images/case-studies/alto-cover.jpg)"
                      >
                      </div>
                      <div
                        class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                        style="height: 56px; width: 114px"
                      >
                        <img
                          class="w-100"
                          src="/images/case-studies/alto-logo.png"
                          srcset="/images/case-studies/alto-logo.png 1x"
                          alt="Alto logo"
                          loading="lazy"
                        />
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-none industry-name">Financial Services</div>
                      <p class="paragraph-5 my-3">
                        Alto is an investment platform that helps individual
                        investors diversify their portfolios by offering access
                        to alternative assets, traditionally available only to
                        professional investors.
                      </p>
                      <a href="/case-studies/alto" class="stretched-link"
                        ><span class="chevron blue-small-right"
                          >Read the case study</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div class="hover-raise-sm">
                  <div
                    class="card bg-neutral-99 overflow-visible border-0 pb-3"
                  >
                    <div
                      class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                      style="height: 167px"
                    >
                      <div
                        class="card-img-top fill-image h-100"
                        style="background-image: url(../images/case-studies/angelist-bg.jpg)"
                      >
                      </div>
                      <div
                        class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                        style="height: 56px; width: 114px"
                      >
                        <img
                          class="w-100"
                          src="/images/case-studies/angelist-logo.png"
                          srcset="/images/case-studies/angelist-logo.png 1x"
                          alt="AngelList Venture logo"
                          loading="lazy"
                        />
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-none industry-name">Venture Capital</div>
                      <p class="paragraph-5 my-3">
                        AngelList Venture brings venture online with private,
                        professional fundraising tools for top quality startups
                        and investors.
                      </p>
                      <a href="/case-studies/angellist" class="stretched-link"
                        ><span class="chevron blue-small-right"
                          >Read the case study</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div class="hover-raise-sm">
                  <div
                    class="card bg-neutral-99 overflow-visible border-0 pb-3"
                  >
                    <div
                      class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                      style="height: 167px"
                    >
                      <div
                        class="card-img-top fill-image h-100"
                        style="background-image: url(../images/case-studies/aula-cover.png)"
                      >
                      </div>
                      <div
                        class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                        style="height: 56px; width: 114px"
                      >
                        <img
                          class="w-100"
                          src="/images/case-studies/aula-logo.png"
                          srcset="/images/case-studies/aula-logo.png 1x"
                          alt="Aula logo"
                          loading="lazy"
                        />
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-none industry-name">Education</div>
                      <p class="paragraph-5 my-3">
                        Aula is a digital learning platform designed to make
                        online education more engaging for both educators and
                        students. Over 200,000 students have used Aula so far.
                      </p>
                      <a href="/case-studies/aula" class="stretched-link"
                        ><span class="chevron blue-small-right"
                          >Read the case study</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div class="hover-raise-sm">
                  <div
                    class="card bg-neutral-99 overflow-visible border-0 pb-3"
                  >
                    <div
                      class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                      style="height: 167px"
                    >
                      <div
                        class="card-img-top fill-image h-100"
                        style="background-image: url(../images/case-studies/bdeo-cover.jpg)"
                      >
                      </div>
                      <div
                        class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                        style="height: 56px; width: 114px"
                      >
                        <img
                          class="w-100"
                          src="/images/case-studies/bdeo-logo.png"
                          srcset="/images/case-studies/bdeo-logo.png 1x"
                          alt="Bdeo logo"
                          loading="lazy"
                        />
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-none industry-name">IT &amp; Software</div>
                      <p class="paragraph-5 my-3">
                        Bdeo develops Visual Intelligence technology for the
                        insurance industry, both motor and home insurance, for
                        policy underwriting and claims management processes.
                      </p>
                      <a href="/case-studies/bdeo" class="stretched-link"
                        ><span class="chevron blue-small-right"
                          >Read the case study</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div class="hover-raise-sm">
                  <div
                    class="card bg-neutral-99 overflow-visible border-0 pb-3"
                  >
                    <div
                      class="w-100 card-hover-shadow rounded-4 overflow-hidden d-flex justify-content-center align-items-center position-relative"
                      style="height: 167px"
                    >
                      <div
                        class="card-img-top fill-image h-100"
                        style="background-image: url(../images/case-studies/buena-cover-3.png)"
                      >
                      </div>
                      <div
                        class="position-absolute bottom-0 end-0 bg-neutral-white p-3 m-3 rounded-3 d-flex justify-content-center align-items-center"
                        style="height: 56px; width: 114px"
                      >
                        <img
                          class="w-100"
                          src="/images/case-studies/buena-logo.png"
                          srcset="/images/case-studies/buena-logo.png 1x"
                          alt="Buena logo"
                          loading="lazy"
                        />
                      </div>
                    </div>
                    <div class="card-body p-0">
                      <div class="d-none industry-name">IT &amp; Software</div>
                      <p class="paragraph-5 my-3">
                        Buena is a modern, digital platform for managing
                        apartments (viewings, payments, maintenance) for both
                        landlords and tenants.
                      </p>
                      <a href="/case-studies/buena" class="stretched-link"
                        ><span class="chevron blue-small-right"
                          >Read the case study</span
                        ></a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-3">
                <div
                  class="bg-neutral-95 rounded-3 px-6 d-flex justify-content-center h-100 d-flex flex-column"
                >
                  <h4 class="fw-bold mb-4">
                    Real companies,<br />real data,<br />real stories
                  </h4>
                  <a
                    href="/case-studies"
                    class="btn btn-primary btn-link"
                    role="button">See all stories</a
                  >
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="container rounded-4 no-overflow">
      <div class="get-started">
        <div class="container">
          <div class="pt0">
            <div class="text-centered bootstrap">
              <h2 class="large mt0 neutral-white" style="margin-bottom: 16px">
                Get started with Metabase
              </h2>
              <div
                class="d-flex justify-content-center align-items-center gap-2"
              >
                <a
                  class="fs-13 Button Button--primary rounded-3 ms-lg-2 py-3 lh-base"
                  href="https://store.metabase.com/checkout">Get started</a
                >
              </div>
              <ul class="horizontal-checklist mt-6">
                <li>Free, no-commitment trial</li>
                <li>Easy for everyone—no SQL required</li>
                <li>Up and running in 5 minutes</li>
              </ul>
              <div class="img-placeholder ml-auto mr-auto"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
