---
import Base from "../../../../layouts/Base.astro";
const title = "Dashboard interactivity | Metabase Documentation";
const description =
  "Dashboard interactivity You can customize what happens when people click on questions in your dashboard. By default, when you create charts using Metabase’s graphical query builder, your charts automatically come with drill-through capabilities, which let folks click on a chart...";
const seo = {
  title: "Dashboard interactivity | Metabase Documentation",
  description:
    "Dashboard interactivity You can customize what happens when people click on questions in your dashboard. By default, when you create charts using Metabase’s graphical query builder, your charts automatically come with drill-through capabilities, which let folks click on a chart...",
  canonical: "/docs/latest/dashboards/interactive",
  og: {
    title: "Dashboard interactivity | Metabase Documentation",
    description:
      "Dashboard interactivity You can customize what happens when people click on questions in your dashboard. By default, when you create charts using Metabase’s graphical query builder, your charts automatically come with drill-through capabilities, which let folks click on a chart...",
    image: "https://www.metabase.com/images/docs/docs-og.png",
    url: "https://www.metabase.com/docs/latest/dashboards/interactive",
    type: "article",
    site_name:
      "Metabase | Business Intelligence, Dashboards, and Data Visualization",
  },
  twitter: {
    site: "@metabase",
    title: "Dashboard interactivity | Metabase Documentation",
    description:
      "Dashboard interactivity You can customize what happens when people click on questions in your dashboard. By default, when you create charts using Metabase’s graphical query builder, your charts automatically come with drill-through capabilities, which let folks click on a chart...",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/docs/docs-og.png",
  },
};
---

<Base {title} {description} {seo}>
  <div>
    <div class="bootstrap">
      <div class="learn docs blog-post MB-Page">
        <div class="learn-left-sidebar" id="main-navigation-content">
          <div class="docs-learn-toggler">
            <div class="hover-highlight"></div>
            <a href="/docs/latest/" class="active">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19.25 5.75C19.25 5.19772 18.8023 4.75 18.25 4.75H14C12.8954 4.75 12 5.64543 12 6.75V19.25L12.8284 18.4216C13.5786 17.6714 14.596 17.25 15.6569 17.25H18.25C18.8023 17.25 19.25 16.8023 19.25 16.25V5.75Z"
                  stroke="#8D93A5"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M4.75 5.75C4.75 5.19772 5.19772 4.75 5.75 4.75H10C11.1046 4.75 12 5.64543 12 6.75V19.25L11.1716 18.4216C10.4214 17.6714 9.40401 17.25 8.34315 17.25H5.75C5.19772 17.25 4.75 16.8023 4.75 16.25V5.75Z"
                  stroke="#8D93A5"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>

              <span>Docs</span>
            </a>

            <a href="/learn/">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 14.0929L20 9.42144L12 4.75L4 9.42144L12 14.0929ZM12 14.0929L17.4756 10.8957C18.196 12.8186 18.4005 14.4134 18.0667 16.45C15.8121 16.68 13.6864 17.6604 12 19.25C10.3138 17.6606 8.18852 16.6802 5.93422 16.45C5.60018 14.4134 5.80465 12.8185 6.52533 10.8957L12 14.0929Z"
                  stroke="#509EE3"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M12.5 9.5C12.5 9.7761 12.2761 10 12 10C11.7239 10 11.5 9.7761 11.5 9.5C11.5 9.2239 11.7239 9 12 9C12.2761 9 12.5 9.2239 12.5 9.5Z"
                  stroke="#509EE3"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>

              <span>Learn</span>
            </a>
          </div>

          <a href="/docs/latest/" class="learn-home"> Home </a>

          <h5>Analytics</h5>

          <ul>
            <li class="">
              <a href="/learn/metabase-basics/getting-started/" class="">
                Getting started
              </a>
            </li>

            <li class="">
              <a href="/learn/metabase-basics/overview/concepts" class="">
                Metabase concepts
              </a>
            </li>

            <li class="">
              <a href="/docs/latest/questions/start" class="">
                Queries and charts

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/docs/latest/questions/introduction" class="">
                    Introduction
                  </a>
                </li>

                <li class="">
                  <a href="#" class="">
                    Query builder

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/docs/latest/questions/query-builder/editor"
                        class=""
                      >
                        Editor
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/query-builder/filters"
                        class=""
                      >
                        Filtering
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/query-builder/summarizing-and-grouping"
                        class=""
                      >
                        Summarizing and grouping
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/query-builder/join"
                        class=""
                      >
                        Joining data
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/query-builder/expressions"
                        class=""
                      >
                        Custom expressions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/query-builder/expressions-list"
                        class=""
                      >
                        List of expressions
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a href="#" class="">
                    SQL and native queries

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/docs/latest/questions/native-editor/writing-sql"
                        class=""
                      >
                        SQL editor
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/native-editor/sql-parameters"
                        class=""
                      >
                        SQL parameters
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/native-editor/field-filters"
                        class=""
                      >
                        Field filters
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/native-editor/basic-sql-parameters"
                        class=""
                      >
                        Basic SQL parameters
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/native-editor/time-grouping-parameters"
                        class=""
                      >
                        Time grouping parameters
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/native-editor/optional-variables"
                        class=""
                      >
                        Optional variables
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/native-editor/filter-widgets"
                        class=""
                      >
                        Filter widgets
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/native-editor/referencing-saved-questions-in-queries"
                        class=""
                      >
                        Referencing models and questions
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/native-editor/snippets"
                        class=""
                      >
                        Snippets
                      </a>
                    </li>

                    <li>
                      <a href="/docs/latest/permissions/snippets" class="">
                        Snippet folder permissions
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a href="#" class="">
                    Visualizations

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/docs/latest/questions/visualizations/visualizing-results"
                        class=""
                      >
                        Overview
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/visualizations/combo-chart"
                        class=""
                      >
                        Combo chart
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/visualizations/detail"
                        class=""
                      >
                        Details chart
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/visualizations/funnel"
                        class=""
                      >
                        Funnel chart
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/visualizations/gauge"
                        class=""
                      >
                        Gauge chart
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/visualizations/line-bar-and-area-charts"
                        class=""
                      >
                        Line, bar, and area charts
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/visualizations/map"
                        class=""
                      >
                        Maps
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/visualizations/numbers"
                        class=""
                      >
                        Number chart
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/visualizations/pie-or-donut-chart"
                        class=""
                      >
                        Pie and sunburst charts
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/visualizations/pivot-table"
                        class=""
                      >
                        Pivot tables
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/visualizations/progress-bar"
                        class=""
                      >
                        Progress bar
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/visualizations/sankey"
                        class=""
                      >
                        Sankey chart
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/visualizations/scatterplot-or-bubble-chart"
                        class=""
                      >
                        Scatterplot
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/visualizations/table"
                        class=""
                      >
                        Table
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/visualizations/trend"
                        class=""
                      >
                        Trend chart
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/visualizations/waterfall-chart"
                        class=""
                      >
                        Waterfall chart
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/questions/visualizations/tooltips"
                        class=""
                      >
                        Tooltips
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a href="/docs/latest/questions/alerts" class=""> Alerts </a>
                </li>

                <li class="">
                  <a href="/docs/latest/questions/exporting-results" class="">
                    Exporting data
                  </a>
                </li>
              </ul>
            </li>

            <li class="expanded">
              <a href="/docs/latest/dashboards/start" class="">
                Dashboards

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/docs/latest/dashboards/introduction" class="">
                    Overview
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/dashboards/filters" class="">
                    Dashboard filters
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/dashboards/linked-filters" class="">
                    Linked filters
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/dashboards/interactive"
                    class="selected"
                  >
                    Dashboard interactivity
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/dashboards/multiple-series" class="">
                    Charts with multiple series
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/dashboards/subscriptions" class="">
                    Dashboard subscriptions
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/dashboards/actions" class="">
                    Actions on dashboards
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/docs/latest/ai/start" class="">
                AI

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/docs/latest/ai/metabot" class=""> Metabot AI </a>
                </li>

                <li class="">
                  <a href="/docs/latest/ai/settings" class="">
                    Metabot settings
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/docs/latest/data-modeling/start" class="">
                Data modeling

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/docs/latest/data-modeling/models" class="">
                    Models
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/data-modeling/model-persistence"
                    class=""
                  >
                    Model persistence
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/data-modeling/metrics" class="">
                    Metrics
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/data-modeling/metadata-editing"
                    class=""
                  >
                    Table metadata settings
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/data-modeling/field-types" class="">
                    Data and semantic types
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/data-modeling/formatting" class="">
                    Formatting defaults
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/data-modeling/json-unfolding" class="">
                    Working with JSON
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/data-modeling/segments" class="">
                    Segments
                  </a>
                </li>

                <li class="">
                  <a href="#" class="">
                    Actions

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a href="/docs/latest/actions/introduction" class="">
                        Overview
                      </a>
                    </li>

                    <li>
                      <a href="/docs/latest/actions/basic" class="">
                        Basic actions
                      </a>
                    </li>

                    <li>
                      <a href="/docs/latest/actions/custom" class="">
                        Custom actions
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="">
              <a
                href="/docs/latest/exploration-and-organization/start"
                class=""
              >
                Organization

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/docs/latest/exploration-and-organization/exploration"
                    class=""
                  >
                    Basic exploration
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/exploration-and-organization/keyboard-shortcuts"
                    class=""
                  >
                    Keyboard shortcuts
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/exploration-and-organization/collections"
                    class=""
                  >
                    Collections
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/exploration-and-organization/data-model-reference"
                    class=""
                  >
                    Data reference
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/exploration-and-organization/events-and-timelines"
                    class=""
                  >
                    Events and timelines
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/exploration-and-organization/x-rays"
                    class=""
                  >
                    X-rays
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/exploration-and-organization/content-verification"
                    class=""
                  >
                    Content verification
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/exploration-and-organization/history"
                    class=""
                  >
                    History
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/exploration-and-organization/delete-and-restore"
                    class=""
                  >
                    Delete and restore
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <h5>Embedding</h5>

          <ul>
            <li class="">
              <a href="/docs/latest/embedding/introduction" class="">
                Overview
              </a>
            </li>

            <li class="">
              <a href="/docs/latest/embedding/sdk/introduction" class="">
                Modular embedding

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/docs/latest/embedding/embedded-analytics-js"
                    class=""
                  >
                    Embedded analytics JS
                  </a>
                </li>

                <li class="">
                  <a href="#" class="">
                    Embedded analytics SDK

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/docs/latest/embedding/sdk/introduction"
                        class=""
                      >
                        Introduction
                      </a>
                    </li>

                    <li>
                      <a href="/docs/latest/embedding/sdk/quickstart" class="">
                        Quickstart
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/embedding/sdk/quickstart-cli"
                        class=""
                      >
                        Quickstart with CLI
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/embedding/sdk/quickstart-with-sample-app"
                        class=""
                      >
                        Quickstart with sample app
                      </a>
                    </li>

                    <li>
                      <a href="/docs/latest/embedding/sdk/questions" class="">
                        Questions
                      </a>
                    </li>

                    <li>
                      <a href="/docs/latest/embedding/sdk/dashboards" class="">
                        Dashboards
                      </a>
                    </li>

                    <li>
                      <a href="/docs/latest/embedding/sdk/collections" class="">
                        Collections
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/embedding/sdk/authentication"
                        class=""
                      >
                        Authentication
                      </a>
                    </li>

                    <li>
                      <a href="/docs/latest/embedding/sdk/appearance" class="">
                        Appearance
                      </a>
                    </li>

                    <li>
                      <a href="/docs/latest/embedding/sdk/config" class="">
                        Config
                      </a>
                    </li>

                    <li>
                      <a href="/docs/latest/embedding/sdk/next-js" class="">
                        Working with Next.js
                      </a>
                    </li>

                    <li>
                      <a href="/docs/latest/embedding/sdk/version" class="">
                        Versioning
                      </a>
                    </li>

                    <li>
                      <a href="/docs/latest/embedding/sdk/upgrade" class="">
                        Upgrading
                      </a>
                    </li>

                    <li>
                      <a href="/docs/latest/embedding/sdk/plugins" class="">
                        Plugins
                      </a>
                    </li>

                    <li>
                      <a href="/docs/latest/embedding/sdk/api/" class="">
                        API
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/docs/latest/embedding/static-embedding" class="">
                Static embedding

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/docs/latest/embedding/static-embedding" class="">
                    Overview
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/embedding/static-embedding-parameters"
                    class=""
                  >
                    Parameters for static embeds
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/embedding/translations" class="">
                    Translate embeds
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/docs/latest/embedding/interactive-embedding" class="">
                Interactive embedding

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/docs/latest/embedding/interactive-embedding"
                    class=""
                  >
                    Overview
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/embedding/interactive-embedding-quick-start-guide"
                    class=""
                  >
                    Quickstart
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/embedding/interactive-ui-components"
                    class=""
                  >
                    Parameters for interactive embeds
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/docs/latest/embedding/public-links" class="">
                Public links and embeds
              </a>
            </li>

            <li class="">
              <a href="/docs/latest/embedding/securing-embeds" class="">
                Securing embedded Metabase
              </a>
            </li>
          </ul>

          <h5>Administration</h5>

          <ul>
            <li class="">
              <a href="/docs/latest/installation-and-operation/start" class="">
                Installation

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="#" class="">
                    Installing Metabase

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/docs/latest/installation-and-operation/installing-metabase"
                        class=""
                      >
                        Installation overview
                      </a>
                    </li>

                    <li>
                      <a href="/docs/latest/cloud/start" class="">
                        Metabase Cloud
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/installation-and-operation/running-the-metabase-jar-file"
                        class=""
                      >
                        Running the JAR file
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/installation-and-operation/running-metabase-on-docker"
                        class=""
                      >
                        Running in Docker
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/installation-and-operation/installing-metabase#other-installation-options"
                        class=""
                      >
                        Other installation options
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/installation-and-operation/upgrading-metabase"
                    class=""
                  >
                    Upgrading Metabase
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/installation-and-operation/configuring-application-database"
                    class=""
                  >
                    Configuring the Metabase application database
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/installation-and-operation/activating-the-enterprise-edition"
                    class=""
                  >
                    Activating Enterprise features
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/installation-and-operation/migrating-from-h2"
                    class=""
                  >
                    Migrating to a production application database
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/docs/latest/databases/start" class="">
                Data sources

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/docs/latest/databases/connecting" class="">
                    Adding and managing databases
                  </a>
                </li>

                <li class="">
                  <a href="#" class="">
                    Supported databases

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/docs/latest/databases/connections/athena"
                        class=""
                      >
                        Athena
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/databases/connections/aws-rds"
                        class=""
                      >
                        Amazon RDS
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/databases/connections/bigquery"
                        class=""
                      >
                        BigQuery
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/databases/connections/clickhouse"
                        class=""
                      >
                        ClickHouse
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/databases/connections/databricks"
                        class=""
                      >
                        Databricks
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/databases/connections/druid"
                        class=""
                      >
                        Druid
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/databases/connections/mariadb"
                        class=""
                      >
                        MariaDB
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/databases/connections/mongodb"
                        class=""
                      >
                        MongoDB
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/databases/connections/mysql"
                        class=""
                      >
                        MySQL
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/databases/connections/oracle"
                        class=""
                      >
                        Oracle
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/databases/connections/postgresql"
                        class=""
                      >
                        PostgreSQL
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/databases/connections/presto"
                        class=""
                      >
                        Presto
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/databases/connections/redshift"
                        class=""
                      >
                        Redshift
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/databases/connections/snowflake"
                        class=""
                      >
                        Snowflake
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/databases/connections/sql-server"
                        class=""
                      >
                        SQL Server
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/databases/connections/sqlite"
                        class=""
                      >
                        SQLite
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/databases/connections/sparksql"
                        class=""
                      >
                        Spark SQL
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/databases/connections/starburst"
                        class=""
                      >
                        Starburst
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/databases/connections/vertica"
                        class=""
                      >
                        Vertica
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/developers-guide/community-drivers"
                        class=""
                      >
                        Community drivers
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/databases/users-roles-privileges"
                    class=""
                  >
                    Database users, roles, and privileges
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/databases/sync-scan" class="">
                    Syncing and scanning databases
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/databases/encrypting-details-at-rest"
                    class=""
                  >
                    Encrypting your database connection
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/databases/ssh-tunnel" class="">
                    SSH tunneling
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/databases/ssl-certificates" class="">
                    SSL certificate
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/databases/uploads" class="">
                    Setting up data uploads
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/exploration-and-organization/uploads"
                    class=""
                  >
                    Uploading data
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/cloud/storage" class="">
                    Metabase Cloud Storage
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/cloud/google-sheets" class="">
                    Sync Google Sheets
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/docs/latest/configuring-metabase/start" class="">
                Configuration

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/docs/latest/configuring-metabase/setting-up-metabase"
                    class=""
                  >
                    Setting up Metabase
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/configuring-metabase/settings" class="">
                    General settings
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/configuring-metabase/email" class="">
                    Set up email
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/configuring-metabase/slack" class="">
                    Set up Slack
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/configuring-metabase/webhooks" class="">
                    Webhooks
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/configuring-metabase/environment-variables"
                    class=""
                  >
                    Environment variables
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/configuring-metabase/config-file"
                    class=""
                  >
                    Configuration file
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/configuring-metabase/config-template"
                    class=""
                  >
                    Config file template
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/configuring-metabase/log-configuration"
                    class=""
                  >
                    Metabase log configuration
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/configuring-metabase/timezones"
                    class=""
                  >
                    Timezones
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/configuring-metabase/localization"
                    class=""
                  >
                    Languages and localization
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/configuring-metabase/appearance"
                    class=""
                  >
                    Appearance
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/configuring-metabase/fonts" class="">
                    Fonts
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/configuring-metabase/caching" class="">
                    Caching query results
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/configuring-metabase/custom-maps"
                    class=""
                  >
                    Custom maps
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/configuring-metabase/customizing-jetty-webserver"
                    class=""
                  >
                    Customizing the Metabase Jetty webserver
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/docs/latest/installation-and-operation/start" class="">
                Operations and monitoring

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/docs/latest/installation-and-operation/backing-up-metabase-application-data"
                    class=""
                  >
                    Backing up Metabase
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/installation-and-operation/development-instance"
                    class=""
                  >
                    Development instances
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/installation-and-operation/monitoring-metabase"
                    class=""
                  >
                    Monitoring your Metabase
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/installation-and-operation/observability-with-prometheus"
                    class=""
                  >
                    Observability with Prometheus
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/installation-and-operation/serialization"
                    class=""
                  >
                    Serialization
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/installation-and-operation/commands"
                    class=""
                  >
                    Commands
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/usage-and-performance-tools/usage-analytics"
                    class=""
                  >
                    Usage analytics
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/usage-and-performance-tools/tools"
                    class=""
                  >
                    Admin tools
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/docs/latest/people-and-groups/start" class="">
                Authentication

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a
                    href="/docs/latest/people-and-groups/account-settings"
                    class=""
                  >
                    Account settings
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/people-and-groups/changing-password-complexity"
                    class=""
                  >
                    Password complexity
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/people-and-groups/changing-session-expiration"
                    class=""
                  >
                    Session expiration
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/people-and-groups/google-sign-in"
                    class=""
                  >
                    Google Sign-In
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/people-and-groups/ldap" class="">
                    LDAP
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/people-and-groups/user-provisioning"
                    class=""
                  >
                    User provisioning
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/people-and-groups/api-keys" class="">
                    API keys
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/people-and-groups/start" class="">
                    Paid SSO options

                    <div>
                      <svg
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="chevron"
                      >
                        <path
                          opacity="0.9"
                          d="M3 8.96338L16 21.9634L29 8.96338"
                          stroke="#509ee3"
                          stroke-width="5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>

                  <ul>
                    <li>
                      <a
                        href="/docs/latest/people-and-groups/authenticating-with-jwt"
                        class=""
                      >
                        JWT-based authentication
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/people-and-groups/authenticating-with-saml"
                        class=""
                      >
                        SAML-based authentication
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/people-and-groups/saml-auth0"
                        class=""
                      >
                        SAML with Auth0
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/people-and-groups/saml-azure"
                        class=""
                      >
                        SAML with Microsoft Entra ID
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/people-and-groups/saml-google"
                        class=""
                      >
                        SAML with Google
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/people-and-groups/saml-keycloak"
                        class=""
                      >
                        SAML with Keycloak
                      </a>
                    </li>

                    <li>
                      <a
                        href="/docs/latest/people-and-groups/saml-okta"
                        class=""
                      >
                        SAML with Okta
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/docs/latest/permissions/start" class="">
                Permissions

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/docs/latest/permissions/introduction" class="">
                    Permissions introduction
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/people-and-groups/managing" class="">
                    Managing people and groups
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/permissions/data" class="">
                    Data permissions
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/permissions/collections" class="">
                    Collection permissions
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/permissions/application" class="">
                    Application permissions
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/permissions/row-and-column-security"
                    class=""
                  >
                    Row and column security
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/permissions/row-and-column-security-examples"
                    class=""
                  >
                    Row and column security examples
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/permissions/database-routing" class="">
                    Database routing
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/permissions/impersonation" class="">
                    Impersonation
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/permissions/snippets" class="">
                    Snippets folder permissions
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/permissions/notifications" class="">
                    Notification permissions
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/permissions/embedding" class="">
                    Configuring permissions for embedding
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <h5>Other resources</h5>

          <ul>
            <li class="">
              <a href="/docs/latest/api" class=""> API </a>
            </li>

            <li class="">
              <a href="/docs/latest/cloud/start" class="">
                Metabase Cloud

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/docs/latest/cloud/cloud-vs-self-hosting" class="">
                    Cloud vs self-hosted
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/cloud/custom-domain" class="">
                    Custom domain
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/cloud/limitations" class="">
                    Cloud limitations
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/cloud/change-region" class="">
                    Change region
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/cloud/ip-addresses-to-whitelist"
                    class=""
                  >
                    IP addresses to whitelist
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/cloud/migrate/guide" class="">
                    Migrate from self-hosted to Cloud
                  </a>
                </li>

                <li class="">
                  <a
                    href="/docs/latest/cloud/migrate/cloud-to-self-hosted"
                    class=""
                  >
                    Migrate from Cloud to self-hosted
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/cloud/migrate/heroku" class="">
                    Migrate from Heroku
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/docs/latest/cloud/how-billing-works" class="">
                Billing

                <div>
                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>

              <ul>
                <li class="">
                  <a href="/docs/latest/cloud/how-billing-works" class="">
                    How billing works
                  </a>
                </li>

                <li class="">
                  <a href="/docs/latest/cloud/accounts-and-billing" class="">
                    Accounts and billing
                  </a>
                </li>
              </ul>
            </li>

            <li class="">
              <a href="/docs/latest/troubleshooting-guide/" class="">
                Troubleshooting
              </a>
            </li>

            <li class="">
              <a href="/docs/latest/developers-guide/start" class="">
                Developer guide
              </a>
            </li>

            <li class="">
              <a href="/docs/latest/paid-features/" class="">
                Pro and Enterprise features
              </a>
            </li>

            <li class="">
              <a
                href="/docs/latest/installation-and-operation/accessibility"
                class=""
              >
                Accessibility
              </a>
            </li>

            <li class="">
              <a
                href="/docs/latest/installation-and-operation/supported-browsers"
                class=""
              >
                Supported browsers
              </a>
            </li>

            <li class="">
              <a
                href="/docs/latest/installation-and-operation/privacy"
                class=""
              >
                Privacy
              </a>
            </li>

            <li class="">
              <a
                href="/docs/latest/installation-and-operation/information-collection"
                class=""
              >
                About the anonymous usage data we collect
              </a>
            </li>
          </ul>
        </div>

        <article class="learn__post learn__article">
          <div class="top-bar">
            <div>
              <div class="learn-breadcrumb-trail">
                <div class="bootstrap"></div>
              </div>
            </div>

            <div>
              <div class="version__selector cursor-pointer">
                <span class="version__current">
                  v0.56

                  <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="chevron"
                  >
                    <path
                      opacity="0.9"
                      d="M3 8.96338L16 21.9634L29 8.96338"
                      stroke="#509ee3"
                      stroke-width="5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </span>
                <ul class="version__dropdown">
                  <li>
                    <a href="/docs/v0.55/"> v0.55 </a>
                  </li>

                  <li>
                    <a href="/docs/v0.54/"> v0.54 </a>
                  </li>

                  <li>
                    <a href="/docs/v0.53/"> v0.53 </a>
                  </li>

                  <li>
                    <a href="/docs/v0.52/"> v0.52 </a>
                  </li>

                  <li>
                    <a href="/docs/v0.51/"> v0.51 </a>
                  </li>

                  <li>
                    <a href="/docs/v0.50/"> v0.50 </a>
                  </li>

                  <li>
                    <a href="/docs/v0.49/"> v0.49 </a>
                  </li>

                  <li>
                    <a href="/docs/v0.48/"> v0.48 </a>
                  </li>

                  <li>
                    <a href="/docs/v0.47/"> v0.47 </a>
                  </li>

                  <li><a href="/docs/all">See more</a></li>
                </ul>
              </div>

              <a href="/releases" class="whats-new">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  ><path
                    stroke="#509EE3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M16.283 12.26 15.5 15l-.783-2.74a4.333 4.333 0 0 0-2.975-2.976L9 8.5l2.74-.783a4.333 4.333 0 0 0 2.976-2.975L15.5 2l.783 2.74a4.333 4.333 0 0 0 2.975 2.976L22 8.5l-2.74.783a4.334 4.334 0 0 0-2.976 2.975l-.001.001ZM6.5 22l.591-1.774a3.375 3.375 0 0 1 2.135-2.135L11 17.5l-1.774-.591a3.375 3.375 0 0 1-2.135-2.134L6.5 13l-.591 1.774a3.375 3.375 0 0 1-2.134 2.135L2 17.5l1.775.591a3.375 3.375 0 0 1 2.134 2.134L6.5 22Z"
                  ></path></svg
                >

                What’s new
              </a>

              <div id="inkeep"></div>
            </div>
          </div>

          <div class="learn__post__content">
            <div></div>

            <h1 id="dashboard-interactivity">Dashboard interactivity</h1>

            <p>
              You can customize what happens when people click on questions in
              your dashboard.
            </p>

            <p>
              By default, when you create charts using Metabase’s graphical
              query builder, your charts automatically come with <a
                href="/learn/metabase-basics/querying-and-dashboards/questions/drill-through"
                >drill-through capabilities</a
              >, which let folks click on a chart to explore further. But if you
              have a more customized click path in mind, Metabase allows you to
              customize what happens when a user clicks on a chart or table in
              your dashboard.
            </p>

            <p>You can set up a dashboard card to:</p>

            <ul>
              <li>
                Send the user to a <a href="#custom-destinations"
                  >custom destination</a
                >: a dashboard, question, or custom URL.
              </li>
              <li>
                <a href="#use-a-chart-to-filter-a-dashboard"
                  >Update a dashboard filter</a
                >.
              </li>
            </ul>

            <p>
              To configure this interactivity, you’ll use the <strong
                >click behavior</strong
              > option on a dashboard card.
            </p>

            <h2 id="customizing-click-behavior">Customizing click behavior</h2>

            <p>
              From your dashboard, first click on the <strong>pencil</strong> icon
              to enter dashboard edit mode.
            </p>

            <p>
              If you hover over the card that contains question you want to
              customize, Metabase will display a menu at the top right of that
              card containing these options, from left to right:
            </p>

            <ul>
              <li>
                <strong>Visualization options</strong>: This icon looks like a
                painter’s palette.
              </li>
              <li>
                <strong>Click behavior</strong>: This is the icon with the mouse
                cursor clicking on a card.
              </li>
              <li>
                <strong>Add series</strong>: If your question has a
                visualization to which you can add an <a
                  href="/docs/latest/dashboards/multiple-series"
                  >additional series</a
                > (like a line or bar chart), you’ll see this icon as a <strong
                  >+</strong
                > next to a small representation of that chart type. Not all cards
                will show this option.
              </li>
              <li>
                <strong>Remove</strong>: This icon is an <strong>X</strong>.
                Selecting this will remove your question from the dashboard.
              </li>
            </ul>

            <p>Select the <strong>Click behavior</strong> option.</p>

            <p>
              <img
                src="/docs/latest/dashboards/images/click-behavior-icon.png"
                alt="Click behavior icon"
              />
            </p>

            <p>
              Metabase will slide out the <strong>Click behavior sidebar</strong
              >:
            </p>

            <p>
              <img
                src="/docs/latest/dashboards/images/click-behavior-menu.png"
                alt="Click behavior menu"
              />
            </p>

            <p>
              For questions composed using the query builder, you can select
              from three options:
            </p>

            <ul>
              <li>Open the Metabase drill-through menu.</li>
              <li>Go to a custom destination.</li>
              <li>
                Update a dashboard filter (if the dashboard has a filter).
              </li>
            </ul>

            <p>
              SQL questions will only have the option to <strong
                >Go to a custom destination</strong
              >, and <strong>Update a dashboard filter</strong>.
            </p>

            <p>
              If your dashboard has a filter, you’ll also see an option to <a
                href="#use-a-chart-to-filter-a-dashboard">update the filter</a
              >.
            </p>

            <h2 id="open-the-drill-through-menu">
              Open the drill-through menu
            </h2>

            <p>
              For questions composed using the query builder, the default click
              behavior is to open the <strong>drill-through menu</strong>, which
              presents people with the option to <a
                href="/learn/metabase-basics/querying-and-dashboards/questions/drill-through"
                >drill through the data</a
              >:
            </p>

            <p>
              <img
                src="/docs/latest/dashboards/images/drill-through-menu.png"
                alt="Drill-through menu"
              />
            </p>

            <h2 id="custom-destinations">Custom destinations</h2>

            <p>
              You can set custom destinations for all questions, including SQL
              questions.
            </p>

            <p>
              <img
                src="/docs/latest/dashboards/images/custom-destination.png"
                alt="Custom destinations"
              />
            </p>

            <p>Possible destinations include:</p>

            <ul>
              <li>Dashboards</li>
              <li>Saved questions</li>
              <li>URLs</li>
            </ul>

            <p>
              Internal Metabase destinations (dashboards or saved questions)
              will load in the same browser tab or window. External URLs will
              open in a new tab or window.
            </p>

            <h2 id="passing-values-to-the-destination">
              Passing values to the destination
            </h2>

            <p>
              If you’re linking to a dashboard or a SQL question that has
              filters, you can pass values from the current dashboard to filters
              in the destination.
            </p>

            <p>
              For example, if you link to a dashboard that has a filter for <code
                class="language-plaintext highlighter-rouge">Category</code
              >, you can pass a value for <code
                class="language-plaintext highlighter-rouge">Category</code
              > from the origin question to the destination dashboard:
            </p>

            <p>
              <img
                src="/docs/latest/dashboards/images/pass-value.png"
                alt="Pass value to dashboard"
              />
            </p>

            <p>
              Once you select the column that contains the value you want to
              pass, the sidebar will display the column used to pass the value,
              as well as the target filter at the destination that Metabase will
              pass the value to:
            </p>

            <p>
              <img
                src="/docs/latest/dashboards/images/pass-category-to-filter.png"
                alt="Pass category to filter"
              />
            </p>

            <p>
              In the example above, when a user clicks on the <strong
                >Orders by product category</strong
              > card, Metabase will pass the clicked <code
                class="language-plaintext highlighter-rouge"
                >Product -&gt; Category</code
              > to the destination dashboard (“Interactive Dashboard”), which will
              then filter its cards by that <code
                class="language-plaintext highlighter-rouge">Category</code
              >.
            </p>

            <p>
              You can also send the currently selected value of a dashboard
              filter on the current dashboard to the destination. In <a
                href="/pricing/">some plans</a
              >, you can pass a user attribute provided by SSO to the
              destination, too. Those user attributes will show up as options
              when you click on one of the destination’s filters (provided the
              values are compatible with that filter).
            </p>

            <p>
              When displaying questions as tables, you can select different
              click behaviors for different columns in the table. You can also
              modify the contents of the cells in a given column, replacing the
              value with custom text. For example, if you had a column that
              listed categories, you could change the text in the cell to read:
              “Click for details about {{ Category }}”, where <code
                class="language-plaintext highlighter-rouge">Category</code
              > is the name of your column.
            </p>

            <p>
              You can also use values to construct URLs to external resources.
            </p>

            <p>
              <img
                src="/docs/latest/dashboards/images/enter-a-url.png"
                alt="Enter a URL"
              />
            </p>

            <p>
              From the <strong>Click behavior</strong> sidebar, select <strong
                >Go to a custom destination</strong
              > and link to <strong>URL</strong>. The <strong
                >Enter a URL to link to</strong
              > modal will pop up, allowing you to specify a URL, as well as a column
              or dashboard filter.
            </p>

            <p>
              What we need to do here is to type in the full URL of where a user
              should go when they click on a value in a card. But the really
              powerful thing we can do is to include variables in the URL. These
              variables will insert the value that the user clicks on into the
              URL.
            </p>

            <p>For example, we could type a URL like this:</p>

            <div class="language-plaintext highlighter-rouge">
              <div class="highlight">
                <pre
                  class="highlight">&lt;code&gt;https://www.metabase.com/search.html?query={{Category}}
&lt;/code&gt;</pre>
              </div>
            </div>

            <p>
              The important part is the <code
                class="language-plaintext highlighter-rouge"
                >{{ Category }}</code
              > bit. What we’re doing here is referring to the <code
                class="language-plaintext highlighter-rouge">Category</code
              > that the user clicked on. So if someone clicks on the <code
                class="language-plaintext highlighter-rouge">Widget</code
              > bar in our chart, the value of the <code
                class="language-plaintext highlighter-rouge">Category</code
              > column for that bar (<code
                class="language-plaintext highlighter-rouge">Widget</code
              >) would be inserted into our URL: <code
                class="language-plaintext highlighter-rouge"
                >https://www.metabase.com/search.html?query=Widget</code
              >. Your URL can use as many column variables as you want - you can
              even refer to the same column multiple times in different parts of
              the URL. To see which variables you can include in the URL, click
              on the dropdown menu <strong>Values you can reference</strong>.
            </p>

            <p>
              Next we’ll click <strong>Done</strong>, then <strong>Save</strong>
              our dashboard. Now when we click our chart, we’ll be taken to the URL
              that we entered above, with the value of the clicked bar inserted into
              the URL.
            </p>

            <p>
              To learn more, check out <a
                href="/learn/metabase-basics/querying-and-dashboards/dashboards/custom-destinations"
                >Custom destinations: choose what happens when people click on
                charts in your dashboard</a
              >.
            </p>

            <h2 id="use-a-chart-to-filter-a-dashboard">
              Use a chart to filter a dashboard
            </h2>

            <p>
              If your dashboard contains at least one filter, you can set things
              up so that clicking on a chart in the dashboard will update a
              filter.
            </p>

            <p>
              When a user clicks on, say, a bar in a bar chart, you could send
              the value of the clicked bar to the filter, and update cards
              across the dashboard. We call this functionality <strong
                >cross-filtering</strong
              >. You can use this cross-filtering to make a chart behave as kind
              of “navigation question” that filters data across other cards.
            </p>

            <p>
              For example, clicking on the <code
                class="language-plaintext highlighter-rouge">Widget</code
              > bar will update the current dashboard’s <strong>category</strong
              > filter to filter for <code
                class="language-plaintext highlighter-rouge">Widget</code
              >:
            </p>

            <p>
              <img
                src="/docs/latest/dashboards/images/cross-filter.png"
                alt="Cross-filtering"
              />
            </p>

            <p>
              To set up cross-filtering, choose a dashboard filter that you’d
              like to update on click, and a question to use to update that
              filter. You can think of this question as your “navigation
              question.” Instead of wiring this navigation question up to the
              filter, you’ll <a href="/docs/latest/dashboards/filters"
                >wire up every other question on the dashboard to the filter</a
              >.
            </p>

            <p>
              Below, we’ll use the <strong
                >Orders by product category question</strong
              > as our navigation question, so we’ll leave this question disconnected
              from the filter, and connect all the other questions to the <strong
                >Category</strong
              > filter.
            </p>

            <p>
              <img
                src="/docs/latest/dashboards/images/wiring-up-filter.png"
                alt="Wiring up filter"
              />
            </p>

            <p>
              With your filter wired up, stay in dashboard edit mode, and hover
              over the question you want to use as your navigation question to
              filter the dashboard. Click on the <strong>click behavior</strong>
              icon, then select the <strong>Update a dashboard filter</strong>.
            </p>

            <p>
              Metabase will list the filters you can update. Here we select the <strong
                >Category</strong
              > filter, and supply the value to that filter from the question’s <code
                class="language-plaintext highlighter-rouge"
                >Product -&gt; Category</code
              > column.
            </p>

            <p>
              <img
                src="/docs/latest/dashboards/images/update-a-dashboard-filter.png"
                alt="Update a dashboard filter"
              />
            </p>

            <p>
              Click <strong>Done</strong> in the sidebar, then <strong
                >Save</strong
              > your dashboard.
            </p>

            <p>
              Now we can use our navigation question (Orders by product
              category) to interactively filter the data across your dashboard.
              When people click on a value in the navigation question, Metabase
              will send the clicked value to the filter, and update every card
              on the dashboard by filtering them for the clicked value - every
              card except for the navigation question: Orders by product
              category. The reason we don’t want the navigation question to
              update is so that we can click on other bars to update the filter
              with a different value.
            </p>

            <p>
              To learn more, check out <a
                href="/learn/metabase-basics/querying-and-dashboards/dashboards/cross-filtering"
                >Cross-filtering: using a chart to update a dashboard filter</a
              >.
            </p>

            <div>
              <div class="widget-separator"></div>

              <p>
                Read docs for other <a href="/docs/all">versions of Metabase</a
                >.
              </p>
            </div>
          </div>

          <div class="learn__right-sidebar">
            <div id="sub-navigation-content"></div>
            <div id="was-this-helpful-widget">
              <div id="page-feedback">
                <h6>Was this helpful?</h6>
                <button id="page-feedback-vote-up" class="vote-button Button">
                  <svg
                    id=""
                    class="me-1"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.6667 7.33333H14.6367C14.9207 7.33334 15.2001 7.40595 15.4482 7.54427C15.6963 7.68259 15.9049 7.88202 16.0543 8.12364C16.2036 8.36525 16.2888 8.64104 16.3016 8.9248C16.3144 9.20857 16.2545 9.4909 16.1275 9.745L13.2108 15.5783C13.0724 15.8554 12.8595 16.0884 12.596 16.2512C12.3325 16.414 12.0289 16.5001 11.7192 16.5H8.37167C8.23583 16.5 8.1 16.4833 7.9675 16.45L4.83333 15.6667M10.6667 7.33333V3.16667C10.6667 2.72464 10.4911 2.30072 10.1785 1.98816C9.86595 1.67559 9.44203 1.5 9 1.5H8.92083C8.50417 1.5 8.16667 1.8375 8.16667 2.25417C8.16667 2.84917 7.99083 3.43083 7.66 3.92583L4.83333 8.16667V15.6667M10.6667 7.33333H9M4.83333 15.6667H3.16667C2.72464 15.6667 2.30072 15.4911 1.98816 15.1785C1.67559 14.866 1.5 14.442 1.5 14V9C1.5 8.55797 1.67559 8.13405 1.98816 7.82149C2.30072 7.50893 2.72464 7.33333 3.16667 7.33333H5.25"
                      stroke="#509ee3"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>

                  Yes
                </button>
                <button id="page-feedback-vote-down" class="vote-button Button">
                  <svg
                    id=""
                    class="rotate-180 me-1"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.6667 7.33333H14.6367C14.9207 7.33334 15.2001 7.40595 15.4482 7.54427C15.6963 7.68259 15.9049 7.88202 16.0543 8.12364C16.2036 8.36525 16.2888 8.64104 16.3016 8.9248C16.3144 9.20857 16.2545 9.4909 16.1275 9.745L13.2108 15.5783C13.0724 15.8554 12.8595 16.0884 12.596 16.2512C12.3325 16.414 12.0289 16.5001 11.7192 16.5H8.37167C8.23583 16.5 8.1 16.4833 7.9675 16.45L4.83333 15.6667M10.6667 7.33333V3.16667C10.6667 2.72464 10.4911 2.30072 10.1785 1.98816C9.86595 1.67559 9.44203 1.5 9 1.5H8.92083C8.50417 1.5 8.16667 1.8375 8.16667 2.25417C8.16667 2.84917 7.99083 3.43083 7.66 3.92583L4.83333 8.16667V15.6667M10.6667 7.33333H9M4.83333 15.6667H3.16667C2.72464 15.6667 2.30072 15.4911 1.98816 15.1785C1.67559 14.866 1.5 14.442 1.5 14V9C1.5 8.55797 1.67559 8.13405 1.98816 7.82149C2.30072 7.50893 2.72464 7.33333 3.16667 7.33333H5.25"
                      stroke="#509ee3"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>

                  No
                </button>
              </div>

              <div id="page-comment" class="flex flex-wrap full hide">
                <p id="page-feedback-question"></p>

                <form id="page-comment-form" class="flex full">
                  <textarea
                    id="feedback-comment-text"
                    name="comment"
                    placeholder="Type here…"></textarea>

                  <button
                    id="page-comment-submit"
                    class="Button flex align-center"
                  >
                    Send
                  </button>
                </form>
              </div>

              <div id="page-feedback-message" class="fs-18 hide">
                <h6 class="page-feedback-title">Thanks for your feedback!</h6>
              </div>

              <span
                class="paragraph-6 fs-13 neutral-60"
                id="page-feedback-footer"
              >
                Want to improve these docs? <a
                  href="https://github.com/metabase/metabase/blob/master/docs/dashboards/interactive.md"
                  target="_blank">Propose a change.</a
                >
              </span>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div class="bootstrap"></div>
</Base>
