---
import Base from "../../layouts/Base.astro";
const title = "Cloud | Metabase";
const description =
  "You have a choice for hosting your Metabase. Find out how cloud-hosting is optimized for trustworthy, production-grade deployment with none of the work.";
const seo = {
  title: "Cloud | Metabase",
  description:
    "You have a choice for hosting your Metabase. Find out how cloud-hosting is optimized for trustworthy, production-grade deployment with none of the work.",
  canonical: "/cloud/",
  og: {
    title: "Cloud | Metabase",
    description:
      "You have a choice for hosting your Metabase. Find out how cloud-hosting is optimized for trustworthy, production-grade deployment with none of the work.",
    image: "https://www.metabase.com/images/cloud/metabase-cloud.jpg",
    url: "https://www.metabase.com/cloud",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Cloud | Metabase",
    description:
      "You have a choice for hosting your Metabase. Find out how cloud-hosting is optimized for trustworthy, production-grade deployment with none of the work.",
    card: "summary_large_image",
    image: "https://www.metabase.com/images/cloud/metabase-cloud.jpg",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div class="bootstrap">
      <div class="cloud-page">
        <div class="container py4">
          <section class="m-0 p-0 center-xs max-width--sm mx-auto">
            <h2 class="fs-8 fw-bold mb-6">
              When it comes to hosting your Metabase, you always have a choice
            </h2>
            <p>
              For some setups, self-hosting may be more suitable, or even a
              necessity. But oftentimes it can be a lot of extra work you
              probably don't need, even just to host a minimal setup.
            </p>
            <p class="m-0">
              With Metabase Cloud, we'll take care of everything, and if you're
              on
              <a class="d-inline blue-link-hover text-bold" href="/pricing/"
                >Pro or Enterprise</a
              >, it won't cost any more than doing it yourself.
            </p>
          </section>

          <section class="m-0 mt-15 mt-lg-20 p-0">
            <div
              class="d-flex flex-column flex-lg-row flex-nowrap align-center justify-content-center"
            >
              <div class="flex-half max-width--sm pr-lg-12">
                <h2 class="fs-8 fw-bold mb-6">
                  Trustworthy, production-grade deployment by people who do this
                  stuff for a living
                </h2>
                <p class="m-0">
                  With the infrastructure, specialists, and thousands of
                  Metabases in our cloud, we've put a lot of thought and
                  resources into optimizing hosting.
                </p>
              </div>

              <div
                class="bg-neutral-98 border--blue-95 box-shadow-xs flex-half max-width--sm mt-8 mt-lg-0 p-8 p-lg-11 rounded-7"
              >
                <ul class="list-unstyled m-0 p-0">
                  <li>
                    <div
                      class="align-top d-flex flex-nowrap flex-row justify-content-start"
                    >
                      <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">
                        <img
                          alt="Get up and running in minutes"
                          src="/images/cloud/icon_get-up-and-running.svg"
                        />
                      </div>
                      <p class="fs-12 lh-base m-0 w-100">
                        Get up and running in minutes. All you have to do is
                        connect your database, invite your team, and start
                        asking questions.
                      </p>
                    </div>
                  </li>
                  <li>
                    <div
                      class="align-top d-flex flex-nowrap flex-row justify-content-start"
                    >
                      <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">
                        <img
                          alt="Stay up and running"
                          src="/images/cloud/icon_stay-up-and-running.svg"
                        />
                      </div>
                      <p class="fs-12 lh-base m-0 w-100">
                        Stay up and running —
                        <a
                          class="d-inline blue-link-hover text-bold"
                          href="https://status.metabase.com/"
                          target="_blank">check out our historical uptime</a
                        >.
                      </p>
                    </div>
                  </li>
                  <li>
                    <div
                      class="align-top d-flex flex-nowrap flex-row justify-content-start"
                    >
                      <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">
                        <img
                          alt="It'll scale with you"
                          src="/images/cloud/icon_scale-with-you.svg"
                        />
                      </div>
                      <p class="fs-12 lh-base m-0 w-100">
                        It'll scale with you. Add as many people, questions, and
                        as much traffic as you want. It'll keep a quick pace.
                      </p>
                    </div>
                  </li>
                  <li>
                    <div
                      class="align-top d-flex flex-nowrap flex-row justify-content-start"
                    >
                      <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">
                        <img
                          alt="Your own application database"
                          src="/images/cloud/icon_managed-by-us.svg"
                        />
                      </div>
                      <p class="fs-12 lh-base m-0 w-100">
                        Your own application database, managed by us (PostgreSQL
                        via AWS's RDS).
                      </p>
                    </div>
                  </li>
                  <li>
                    <div
                      class="align-top d-flex flex-nowrap flex-row justify-content-start"
                    >
                      <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">
                        <img
                          alt="Make it yours with a custom domain"
                          src="/images/cloud/icon_custom-domain.svg"
                        />
                      </div>
                      <p class="fs-12 lh-base m-0 w-100">
                        Make it yours with a custom domain.
                      </p>
                    </div>
                  </li>
                  <li class="m-0">
                    <div
                      class="align-top d-flex flex-nowrap flex-row justify-content-start"
                    >
                      <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">
                        <img
                          alt="Secure multi-tenant environments"
                          src="/images/cloud/icon_multi-tenants-env.svg"
                        />
                      </div>
                      <p class="fs-12 lh-base m-0 w-100">
                        Ensure people don't see anything they shouldn't with
                        secure multi-tenant environments. Our architecture
                        prioritizes isolation, so every hosted customer has
                        their own container. Need single-tenancy?
                        <a
                          class="d-inline blue-link-hover text-bold"
                          href="/talk-to-a-person/">Contact us.</a
                        >
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </section>

          <section class="m-0 mt-15 mt-lg-20 p-0">
            <div
              class="d-flex flex-column flex-lg-row flex-nowrap align-center justify-content-center"
            >
              <div
                class="bg-neutral-98 border--blue-95 box-shadow-xs center-xs flex-half max-width--sm mt-8 mt-lg-0 order-1 order-lg-0 p-8 p-lg-11 rounded-7"
              >
                <img
                  alt="We go above and beyond for your data security and privacy"
                  class="m-auto"
                  src="/images/cloud/data-and-security.jpg"
                  loading="lazy"
                />
              </div>

              <div class="flex-half max-width--sm order-0 order-lg-1 pl-lg-12">
                <h2 class="fs-8 fw-bold mb-6">
                  We go above and beyond for your data security and privacy
                </h2>

                <ul class="list-unstyled">
                  <li>
                    <div
                      class="align-top d-flex flex-nowrap flex-row justify-content-start"
                    >
                      <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">
                        <svg
                          fill="none"
                          height="16"
                          viewBox="0 0 16 16"
                          width="16"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_1994_4779)">
                            <path
                              clip-rule="evenodd"
                              d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                              fill-rule="evenodd"
                              fill="#509EE3"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1994_4779">
                              <rect fill="white" height="16" width="16"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </div>
                      <p class="fs-12 lh-base m-0 w-100">
                        <b
                          >Your data is kept on your servers as much as
                          possible.</b
                        >
                        Whatever we touch is encrypted in transit, and any identifiable
                        data is hashed.
                      </p>
                    </div>
                  </li>
                  <li>
                    <div
                      class="align-top d-flex flex-nowrap flex-row justify-content-start"
                    >
                      <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">
                        <svg
                          fill="none"
                          height="16"
                          viewBox="0 0 16 16"
                          width="16"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_1994_4779)">
                            <path
                              clip-rule="evenodd"
                              d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                              fill-rule="evenodd"
                              fill="#509EE3"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1994_4779">
                              <rect fill="white" height="16" width="16"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </div>
                      <p class="fs-12 lh-base m-0 w-100">
                        <b
                          >Data in transit is encrypted using TLS 1.2 or higher.</b
                        >
                        Sensitive data, like connection strings and settings is encrypted
                        at row-level AES256 + SHA512.
                      </p>
                    </div>
                  </li>
                  <li>
                    <div
                      class="align-top d-flex flex-nowrap flex-row justify-content-start"
                    >
                      <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">
                        <svg
                          fill="none"
                          height="16"
                          viewBox="0 0 16 16"
                          width="16"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_1994_4779)">
                            <path
                              clip-rule="evenodd"
                              d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                              fill-rule="evenodd"
                              fill="#509EE3"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1994_4779">
                              <rect fill="white" height="16" width="16"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </div>
                      <p class="fs-12 lh-base m-0 w-100">
                        <b>Penetration testing and vulnerability disclosure</b>
                        — Besides compliance audits, we have independent application
                        and infrastructure-level penetration tests a few times a
                        year, with test results prioritized and fixed fast.
                      </p>
                    </div>
                  </li>
                  <li>
                    <div
                      class="align-top d-flex flex-nowrap flex-row justify-content-start"
                    >
                      <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">
                        <svg
                          fill="none"
                          height="16"
                          viewBox="0 0 16 16"
                          width="16"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_1994_4779)">
                            <path
                              clip-rule="evenodd"
                              d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                              fill-rule="evenodd"
                              fill="#509EE3"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1994_4779">
                              <rect fill="white" height="16" width="16"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </div>
                      <p class="fs-12 lh-base m-0 w-100">
                        <b
                          >Systems are segmented into separate networks with
                          firewalls between networks.</b
                        >
                        All servers in our production fleet are hardened according
                        to CIS benchmarks.
                      </p>
                    </div>
                  </li>
                  <li>
                    <div
                      class="align-top d-flex flex-nowrap flex-row justify-content-start"
                    >
                      <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">
                        <svg
                          fill="none"
                          height="16"
                          viewBox="0 0 16 16"
                          width="16"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_1994_4779)">
                            <path
                              clip-rule="evenodd"
                              d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                              fill-rule="evenodd"
                              fill="#509EE3"></path>
                          </g>
                          <defs>
                            <clipPath id="clip0_1994_4779">
                              <rect fill="white" height="16" width="16"></rect>
                            </clipPath>
                          </defs>
                        </svg>
                      </div>
                      <p class="fs-12 lh-base m-0 w-100">
                        <b>SOC2 Type II compliant out of the box</b>
                        — no checkboxes required.
                      </p>
                    </div>
                  </li>
                </ul>

                <p class="fs-12 lh-base m-0">
                  We're scratching the surface here. Check out our
                  <a
                    class="d-inline blue-link-hover text-bold"
                    href="/security"
                    target="_blank">commitment to security</a
                  >.
                </p>
              </div>
            </div>
          </section>

          <section class="m-0 mt-15 mt-lg-20 p-0 center-xs">
            <h2 class="fs-8 fw-bold mb-4 mb-lg-6 mx-auto">
              Worry-free upgrades, backups, and more
            </h2>
            <p class="mx-auto my-0">
              Hand off time-consuming, manual hosting tasks. Here's what you
              get:
            </p>

            <div
              class="align-stretch d-flex flex-column flex-lg-row flex-nowrap gap-6 gap-lg-8 justify-content-between mt-8 mt-lg-13"
            >
              <div
                class="bg-white border--blue-95 box-shadow-xs m-0 p-4 p-lg-6 rounded-4 text-left"
              >
                <img
                  alt="Worry-free upgrades, backups, and more - Upgrades"
                  class="mb-4 mb-lg-6"
                  src="/images/cloud/icon_upgrades.svg"
                />
                <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4">Upgrades</h3>
                <p class="fs-12 lh-base m-0 neutral-60">
                  Automatically upgrade to the current version, so you're always
                  getting the latest and greatest of Metabase.
                </p>
              </div>

              <div
                class="bg-white border--blue-95 box-shadow-xs mt-0 p-4 p-lg-6 rounded-4 text-left"
              >
                <img
                  alt="Worry-free upgrades, backups, and more - Backups"
                  class="mb-4 mb-lg-6"
                  src="/images/cloud/icon_backups.svg"
                />
                <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4">Backups</h3>
                <p class="fs-12 lh-base m-0 neutral-60">
                  The way they should be: there when you need them, out of sight
                  and out of mind when you don't.
                </p>
              </div>

              <div
                class="bg-white border--blue-95 box-shadow-xs mt-0 p-4 p-lg-6 rounded-4 text-left"
              >
                <img
                  alt="Worry-free upgrades, backups, and more - SMTP server"
                  class="mb-4 mb-lg-6"
                  src="/images/cloud/icon_smtp-server.svg"
                />
                <h3 class="fs-12 fw-bold m-0 mb-2 mb-lg-4">SMTP server</h3>
                <p class="fs-12 lh-base m-0 neutral-60">
                  Even your alerts and dashboard subscriptions covered with a
                  preconfigured and managed SMTP server.
                </p>
              </div>
            </div>
          </section>
        </div>
        <section class="aws-region">
          <h2 class="fs-8 fw-bold mb-4 mb-lg-6 mx-auto">
            Hosted in your region
          </h2>

          <p class="mx-auto mt-0 mb-2 w-50">
            Keep your Metabase close to you, with the option to cloud host in
            the US (East Coast), EU (Frankfurt), LATAM (São Paulo), and APAC
            (Singapore).
          </p>

          <p class="mx-auto mt-0 w-50">
            Choose your preferred hosting region when you sign up for Metabase
            Cloud, or change it later in your account settings.
          </p>

          <div class="map-container interactive">
            <div class="aws-region-dot" data-region="us"></div>
            <div class="aws-region-dot" data-region="eu"></div>
            <div class="aws-region-dot" data-region="latam"></div>
            <div class="aws-region-dot" data-region="apac"></div>

            <div class="aws-region-label" data-region="us">North America</div>
            <div class="aws-region-label" data-region="eu">Europe</div>
            <div class="aws-region-label" data-region="latam">
              Latin America
            </div>
            <div class="aws-region-label" data-region="apac">Asia Pacific</div>
          </div>

          <div class="map-container static">
            <img
              src="/images/cloud/aws-regions.png"
              alt="AWS Regions Map"
              loading="lazy"
            />
          </div>
        </section>

        <div class="container py4">
          <section
            class="align-center bg-neutral-98 border--blue-95 box-shadow-xs d-flex flex-column flex-lg-row flex-nowrap justify-content-center m-0 mt-15 mt-lg-20 p-0 rounded-7 success-team"
          >
            <div
              class="flex-half m-0 max-width--sm p-8 pe-lg-12 ps-lg-14 py-lg-14"
            >
              <span
                class="fs-14 fw-bolder letter-spacing-005 text-brand text-uppercase"
                >Cloud hosting includes</span
              >

              <h2 class="fs-8 fw-bold m-0 mt-3">
                Help from our world-class success team
              </h2>

              <p class="fs-11 m-0 mt-3">
                We don't like to brag, so we'll let our customers do it for us.
              </p>

              <p class="fs-12 lh-base m-0 mt-8 text-bold w-100">
                You'll get access to:
              </p>
              <ul class="list-unstyled mb-0">
                <li>
                  <div
                    class="align-top d-flex flex-nowrap flex-row justify-content-start"
                  >
                    <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">
                      <svg
                        fill="none"
                        height="16"
                        viewBox="0 0 16 16"
                        width="16"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_1994_4779)">
                          <path
                            clip-rule="evenodd"
                            d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                            fill-rule="evenodd"
                            fill="#509EE3"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_1994_4779">
                            <rect fill="white" height="16" width="16"></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <p class="fs-12 lh-base m-0 w-100">
                      Support from actual technical experts. We're all avid
                      Metabase users, so we've been in your shoes.
                    </p>
                  </div>
                </li>
                <li>
                  <div
                    class="align-top d-flex flex-nowrap flex-row justify-content-start"
                  >
                    <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">
                      <svg
                        fill="none"
                        height="16"
                        viewBox="0 0 16 16"
                        width="16"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_1994_4779)">
                          <path
                            clip-rule="evenodd"
                            d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                            fill-rule="evenodd"
                            fill="#509EE3"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_1994_4779">
                            <rect fill="white" height="16" width="16"></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <p class="fs-12 lh-base m-0 w-100">
                      Help with whatever your problem is, be it admin
                      troubleshooting or advice on best practices.
                    </p>
                  </div>
                </li>
                <li class="m-0">
                  <div
                    class="align-top d-flex flex-nowrap flex-row justify-content-start"
                  >
                    <div class="flex-grow-1 flex-shrink-0 mr-2 w-auto">
                      <svg
                        fill="none"
                        height="16"
                        viewBox="0 0 16 16"
                        width="16"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_1994_4779)">
                          <path
                            clip-rule="evenodd"
                            d="M13.9132 2.85803C14.3906 2.38066 15.1646 2.38066 15.6419 2.85803C16.1193 3.3354 16.1193 4.10937 15.6419 4.58674L6.79055 13.4382C6.3132 13.9156 5.5392 13.9156 5.06185 13.4382L0.358029 8.73435C-0.119343 8.257 -0.119343 7.483 0.358029 7.00565C0.8354 6.52825 1.60937 6.52825 2.08674 7.00565L5.9262 10.8451L13.9132 2.85803Z"
                            fill-rule="evenodd"
                            fill="#509EE3"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_1994_4779">
                            <rect fill="white" height="16" width="16"></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                    <p class="fs-12 lh-base m-0 w-100">
                      No chatbots, no hold lines, no customer service runaround.
                      Just email us, we're right here.
                    </p>
                  </div>
                </li>
              </ul>
            </div>

            <div class="flex-half success-team__quotes">
              <div
                class="px-8 py-0 pe-lg-14 ps-lg-12 success-team__quotes-container"
              >
                <div class="m-0 p-0 w-100 success-team__quotes-animation">
                  <div class="m-0 p-0 pt-6">
                    <div
                      class="bg-white border--blue-95 mx-auto my-0 mx-lg-0 p-4 p-lg-6 rounded-4 text-left w-100"
                    >
                      <blockquote class="m-0 success-team__quote">
                        <p class="fs-13 lh-base m-0">
                          <cite
                            >“The expertise and engagement of the Metabase team
                            stands in stark contrast to that which we've
                            received from Looker over the past 18+ months and,
                            in previous lives, Tableau.”</cite
                          >
                        </p>
                        <div
                          class="align-center d-flex flex-nowrap flex-row justify-content-start m-0 mt-4 w-100"
                        >
                          <div class="success-team__quote__avatars">
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/profiles/dave-holmes-kinsella.jpg"
                              loading="lazy"
                            />
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/companies/synctera.png"
                              loading="lazy"
                            />
                          </div>
                          <p class="fs-13 lh-base m-0 ms-3">
                            <span class="fw-bold">Dave Holmes-Kinsella</span><br
                            />
                            <span>Head of Data Science, Synctera</span>
                          </p>
                        </div>
                      </blockquote>
                    </div>
                  </div>

                  <div class="m-0 p-0 pt-6">
                    <div
                      class="bg-white border--blue-95 mx-auto my-0 mx-lg-0 p-4 p-lg-6 rounded-4 text-left w-100"
                    >
                      <blockquote class="m-0 success-team__quote">
                        <p class="fs-13 lh-base m-0">
                          <cite
                            >“10/10. Metabase support is the best in the
                            industry and serves as a shining example of what we
                            try to achieve for our own customers.”</cite
                          >
                        </p>
                        <div
                          class="align-center d-flex flex-nowrap flex-row justify-content-start m-0 mt-4 w-100"
                        >
                          <div class="success-team__quote__avatars">
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/profiles/philip-lorenzo.jpg"
                              loading="lazy"
                            />
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/companies/structionsite.png"
                              loading="lazy"
                            />
                          </div>
                          <p class="fs-13 lh-base m-0 ms-3">
                            <span class="fw-bold">Philip Lorenzo</span><br />
                            <span>Head of Data, StructionSite</span>
                          </p>
                        </div>
                      </blockquote>
                    </div>
                  </div>

                  <div class="m-0 p-0 pt-6">
                    <div
                      class="bg-white border--blue-95 mx-auto my-0 mx-lg-0 p-4 p-lg-6 rounded-4 text-left w-100"
                    >
                      <blockquote class="m-0 success-team__quote">
                        <p class="fs-13 lh-base m-0">
                          <cite
                            >“Johannes is a world class support engineer. I
                            really give him 5 stars for the help he provided.
                            All responses were very fast, to the point, and
                            helpful. I couldn't ask for better support. A true
                            expert.”</cite
                          >
                        </p>
                        <div
                          class="align-center d-flex flex-nowrap flex-row justify-content-start m-0 mt-4 w-100"
                        >
                          <div class="success-team__quote__avatars">
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/profiles/chad-remesch.jpg"
                              loading="lazy"
                            />
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/companies/the-lobby.png"
                              loading="lazy"
                            />
                          </div>
                          <p class="fs-13 lh-base m-0 ms-3">
                            <span class="fw-bold">Chad Remesch</span><br />
                            <span>CTO, The Lobby</span>
                          </p>
                        </div>
                      </blockquote>
                    </div>
                  </div>

                  <div class="m-0 p-0 pt-6">
                    <div
                      class="bg-white border--blue-95 mx-auto my-0 mx-lg-0 p-4 p-lg-6 rounded-4 text-left w-100"
                    >
                      <blockquote class="m-0 success-team__quote">
                        <p class="fs-13 lh-base m-0">
                          <cite
                            >“I got excellent and timely response to my
                            question. Thank you for the level of detail you
                            provided, you made me feel that if we migrate our
                            installation to your cloud service, we will have
                            your support.”</cite
                          >
                        </p>
                        <div
                          class="align-center d-flex flex-nowrap flex-row justify-content-start m-0 mt-4 w-100"
                        >
                          <div class="success-team__quote__avatars">
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/profiles/michael-masouras.jpg"
                              loading="lazy"
                            />
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/companies/motohunt.png"
                              loading="lazy"
                            />
                          </div>
                          <p class="fs-13 lh-base m-0 ms-3">
                            <span class="fw-bold">Michael Masouras</span><br />
                            <span>CEO, Motohunt</span>
                          </p>
                        </div>
                      </blockquote>
                    </div>
                  </div>

                  <div class="m-0 p-0 pt-6">
                    <div
                      class="bg-white border--blue-95 mx-auto my-0 mx-lg-0 p-4 p-lg-6 rounded-4 text-left w-100"
                    >
                      <blockquote class="m-0 success-team__quote">
                        <p class="fs-13 lh-base m-0">
                          <cite
                            >“Johannes is the best! He always gives thorough
                            responses and next steps that help us manage
                            expectations with our end users.”</cite
                          >
                        </p>
                        <div
                          class="align-center d-flex flex-nowrap flex-row justify-content-start m-0 mt-4 w-100"
                        >
                          <div class="success-team__quote__avatars">
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/profiles/meghan-maloy.jpg"
                              loading="lazy"
                            />
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/companies/datadog.png"
                              loading="lazy"
                            />
                          </div>
                          <p class="fs-13 lh-base m-0 ms-3">
                            <span class="fw-bold">Meghan Maloy</span><br />
                            <span>Senior Analytics Engineer, Datadog</span>
                          </p>
                        </div>
                      </blockquote>
                    </div>
                  </div>

                  <div class="m-0 p-0 pt-6">
                    <div
                      class="bg-white border--blue-95 mx-auto my-0 mx-lg-0 p-4 p-lg-6 rounded-4 text-left w-100"
                    >
                      <blockquote class="m-0 success-team__quote">
                        <p class="fs-13 lh-base m-0">
                          <cite
                            >“I really appreciated how fast Luis was to respond,
                            and how straightforward his recommendations are.
                            You're awesome!”</cite
                          >
                        </p>
                        <div
                          class="align-center d-flex flex-nowrap flex-row justify-content-start m-0 mt-4 w-100"
                        >
                          <div class="success-team__quote__avatars">
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/profiles/aimee-walker.jpg"
                              loading="lazy"
                            />
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/companies/revenue-io.png"
                              loading="lazy"
                            />
                          </div>
                          <p class="fs-13 lh-base m-0 ms-3">
                            <span class="fw-bold">Aimée Walker</span><br />
                            <span>Technical Engineer, Revenue.io</span>
                          </p>
                        </div>
                      </blockquote>
                    </div>
                  </div>

                  <div class="m-0 p-0 pt-6">
                    <div
                      class="bg-white border--blue-95 mx-auto my-0 mx-lg-0 p-4 p-lg-6 rounded-4 text-left w-100"
                    >
                      <blockquote class="m-0 success-team__quote">
                        <p class="fs-13 lh-base m-0">
                          <cite
                            >“The response was specific on all my raised points
                            and it came back very quickly!”</cite
                          >
                        </p>
                        <div
                          class="align-center d-flex flex-nowrap flex-row justify-content-start m-0 mt-4 w-100"
                        >
                          <div class="success-team__quote__avatars">
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/profiles/andrea-mazza.jpg"
                              loading="lazy"
                            />
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/companies/breeze.png"
                              loading="lazy"
                            />
                          </div>
                          <p class="fs-13 lh-base m-0 ms-3">
                            <span class="fw-bold">Andrea Mazza</span><br />
                            <span>Marine Data Analyst, Breeze</span>
                          </p>
                        </div>
                      </blockquote>
                    </div>
                  </div>
                </div>

                <div class="m-0 p-0 w-100 success-team__quotes-animation">
                  <div class="m-0 p-0 pt-6">
                    <div
                      class="bg-white border--blue-95 mx-auto my-0 mx-lg-0 p-4 p-lg-6 rounded-4 text-left w-100"
                    >
                      <blockquote class="m-0 success-team__quote">
                        <p class="fs-13 lh-base m-0">
                          <cite
                            >“The expertise and engagement of the Metabase team
                            stands in stark contrast to that which we've
                            received from Looker over the past 18+ months and,
                            in previous lives, Tableau.”</cite
                          >
                        </p>
                        <div
                          class="align-center d-flex flex-nowrap flex-row justify-content-start m-0 mt-4 w-100"
                        >
                          <div class="success-team__quote__avatars">
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/profiles/dave-holmes-kinsella.jpg"
                              loading="lazy"
                            />
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/companies/synctera.png"
                              loading="lazy"
                            />
                          </div>
                          <p class="fs-13 lh-base m-0 ms-3">
                            <span class="fw-bold">Dave Holmes-Kinsella</span><br
                            />
                            <span>Head of Data Science, Synctera</span>
                          </p>
                        </div>
                      </blockquote>
                    </div>
                  </div>

                  <div class="m-0 p-0 pt-6">
                    <div
                      class="bg-white border--blue-95 mx-auto my-0 mx-lg-0 p-4 p-lg-6 rounded-4 text-left w-100"
                    >
                      <blockquote class="m-0 success-team__quote">
                        <p class="fs-13 lh-base m-0">
                          <cite
                            >“10/10. Metabase support is the best in the
                            industry and serves as a shining example of what we
                            try to achieve for our own customers.”</cite
                          >
                        </p>
                        <div
                          class="align-center d-flex flex-nowrap flex-row justify-content-start m-0 mt-4 w-100"
                        >
                          <div class="success-team__quote__avatars">
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/profiles/philip-lorenzo.jpg"
                              loading="lazy"
                            />
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/companies/structionsite.png"
                              loading="lazy"
                            />
                          </div>
                          <p class="fs-13 lh-base m-0 ms-3">
                            <span class="fw-bold">Philip Lorenzo</span><br />
                            <span>Head of Data, StructionSite</span>
                          </p>
                        </div>
                      </blockquote>
                    </div>
                  </div>

                  <div class="m-0 p-0 pt-6">
                    <div
                      class="bg-white border--blue-95 mx-auto my-0 mx-lg-0 p-4 p-lg-6 rounded-4 text-left w-100"
                    >
                      <blockquote class="m-0 success-team__quote">
                        <p class="fs-13 lh-base m-0">
                          <cite
                            >“Johannes is a world class support engineer. I
                            really give him 5 stars for the help he provided.
                            All responses were very fast, to the point, and
                            helpful. I couldn't ask for better support. A true
                            expert.”</cite
                          >
                        </p>
                        <div
                          class="align-center d-flex flex-nowrap flex-row justify-content-start m-0 mt-4 w-100"
                        >
                          <div class="success-team__quote__avatars">
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/profiles/chad-remesch.jpg"
                              loading="lazy"
                            />
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/companies/the-lobby.png"
                              loading="lazy"
                            />
                          </div>
                          <p class="fs-13 lh-base m-0 ms-3">
                            <span class="fw-bold">Chad Remesch</span><br />
                            <span>CTO, The Lobby</span>
                          </p>
                        </div>
                      </blockquote>
                    </div>
                  </div>

                  <div class="m-0 p-0 pt-6">
                    <div
                      class="bg-white border--blue-95 mx-auto my-0 mx-lg-0 p-4 p-lg-6 rounded-4 text-left w-100"
                    >
                      <blockquote class="m-0 success-team__quote">
                        <p class="fs-13 lh-base m-0">
                          <cite
                            >“I got excellent and timely response to my
                            question. Thank you for the level of detail you
                            provided, you made me feel that if we migrate our
                            installation to your cloud service, we will have
                            your support.”</cite
                          >
                        </p>
                        <div
                          class="align-center d-flex flex-nowrap flex-row justify-content-start m-0 mt-4 w-100"
                        >
                          <div class="success-team__quote__avatars">
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/profiles/michael-masouras.jpg"
                              loading="lazy"
                            />
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/companies/motohunt.png"
                              loading="lazy"
                            />
                          </div>
                          <p class="fs-13 lh-base m-0 ms-3">
                            <span class="fw-bold">Michael Masouras</span><br />
                            <span>CEO, Motohunt</span>
                          </p>
                        </div>
                      </blockquote>
                    </div>
                  </div>

                  <div class="m-0 p-0 pt-6">
                    <div
                      class="bg-white border--blue-95 mx-auto my-0 mx-lg-0 p-4 p-lg-6 rounded-4 text-left w-100"
                    >
                      <blockquote class="m-0 success-team__quote">
                        <p class="fs-13 lh-base m-0">
                          <cite
                            >“Johannes is the best! He always gives thorough
                            responses and next steps that help us manage
                            expectations with our end users.”</cite
                          >
                        </p>
                        <div
                          class="align-center d-flex flex-nowrap flex-row justify-content-start m-0 mt-4 w-100"
                        >
                          <div class="success-team__quote__avatars">
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/profiles/meghan-maloy.jpg"
                              loading="lazy"
                            />
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/companies/datadog.png"
                              loading="lazy"
                            />
                          </div>
                          <p class="fs-13 lh-base m-0 ms-3">
                            <span class="fw-bold">Meghan Maloy</span><br />
                            <span>Senior Analytics Engineer, Datadog</span>
                          </p>
                        </div>
                      </blockquote>
                    </div>
                  </div>

                  <div class="m-0 p-0 pt-6">
                    <div
                      class="bg-white border--blue-95 mx-auto my-0 mx-lg-0 p-4 p-lg-6 rounded-4 text-left w-100"
                    >
                      <blockquote class="m-0 success-team__quote">
                        <p class="fs-13 lh-base m-0">
                          <cite
                            >“I really appreciated how fast Luis was to respond,
                            and how straightforward his recommendations are.
                            You're awesome!”</cite
                          >
                        </p>
                        <div
                          class="align-center d-flex flex-nowrap flex-row justify-content-start m-0 mt-4 w-100"
                        >
                          <div class="success-team__quote__avatars">
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/profiles/aimee-walker.jpg"
                              loading="lazy"
                            />
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/companies/revenue-io.png"
                              loading="lazy"
                            />
                          </div>
                          <p class="fs-13 lh-base m-0 ms-3">
                            <span class="fw-bold">Aimée Walker</span><br />
                            <span>Technical Engineer, Revenue.io</span>
                          </p>
                        </div>
                      </blockquote>
                    </div>
                  </div>

                  <div class="m-0 p-0 pt-6">
                    <div
                      class="bg-white border--blue-95 mx-auto my-0 mx-lg-0 p-4 p-lg-6 rounded-4 text-left w-100"
                    >
                      <blockquote class="m-0 success-team__quote">
                        <p class="fs-13 lh-base m-0">
                          <cite
                            >“The response was specific on all my raised points
                            and it came back very quickly!”</cite
                          >
                        </p>
                        <div
                          class="align-center d-flex flex-nowrap flex-row justify-content-start m-0 mt-4 w-100"
                        >
                          <div class="success-team__quote__avatars">
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/profiles/andrea-mazza.jpg"
                              loading="lazy"
                            />
                            <img
                              alt="Nicolò Barbano"
                              class="success-team__quote__avatar"
                              src="/images/reviews/companies/breeze.png"
                              loading="lazy"
                            />
                          </div>
                          <p class="fs-13 lh-base m-0 ms-3">
                            <span class="fw-bold">Andrea Mazza</span><br />
                            <span>Marine Data Analyst, Breeze</span>
                          </p>
                        </div>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section
            class="m-0 mt-15 mt-lg-20 p-0 center-xs max-width--sm mx-auto"
          >
            <img
              alt="Switch from self-hosted to the cloud smoothly"
              class="mb-6 mb-lg-12"
              src="/images/cloud/switch-to-cloud.svg"
            />

            <h2 class="fs-8 fw-bold">
              Switch from self-hosted to the cloud smoothly
            </h2>

            <p class="m-0 mt-4 mt-lg-6">
              And back again if you need to. All of your existing questions and
              dashboards will be migrated over, so there's no need to start over
              from scratch.
            </p>

            <a
              class="align-baseline blue-link-hover d-inline-flex flex-nowrap flex-row fs-11 justify-center mb-0 mx-auto mt-4 mt-lg-6 text-bold"
              href="/docs/latest/cloud/migrate/guide"
            >
              <span class="me-2">Here are some migrations tips</span>
              <img
                alt="Here are some migrations tips"
                class="SidebarChevron m-0 no-zoom"
                height="14px"
                src="/images/chevron_blue.svg"
                width="14px"
              />
            </a>
          </section>

          <section
            class="border--blue-90--top m-0 mt-10 mt-lg-15 p-0 pt-10 pt-lg-15 center-xs max-width--sm mx-auto"
          >
            <h2 class="fs-8 fw-bold mb-6">When Cloud isn't the right choice</h2>

            <p class="m-0 mt-4 mt-lg-6">
              If you need any of the following, self-hosting is a better way to
              go:
            </p>

            <div
              class="bg-neutral-98 border--blue-95 box-shadow-xs m-0 mt-6 mt-lg-12 p-4 p-lg-6 rounded-4 text-left"
            >
              <ul class="list-unstyled m-0 mx-auto">
                <li class="mb-2 mb-lg-3">
                  <div
                    class="align-top d-flex flex-nowrap flex-row justify-content-start"
                  >
                    <div class="flex-grow-1 flex-shrink-0 mr-25 w-auto">
                      <svg
                        class="align-middle"
                        fill="none"
                        height="6"
                        viewBox="0 0 6 6"
                        width="6"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle cx="3" cy="3" fill="#509EE3" r="3"></circle>
                      </svg>
                    </div>
                    <p class="m-0 w-100">
                      An <a href="/product/air-gapping"
                        >air-gapped environment</a>
                    </p>
                  </div>
                </li>
                <li class="mb-2 mb-lg-3">
                  <div
                    class="align-top d-flex flex-nowrap flex-row justify-content-start"
                  >
                    <div class="flex-grow-1 flex-shrink-0 mr-25 w-auto">
                      <svg
                        class="align-middle"
                        fill="none"
                        height="6"
                        viewBox="0 0 6 6"
                        width="6"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle cx="3" cy="3" fill="#509EE3" r="3"></circle>
                      </svg>
                    </div>
                    <p class="m-0 w-100">
                      You're using a community or custom driver to connect to
                      your data source
                    </p>
                  </div>
                </li>
                <li class="mb-2 mb-lg-3">
                  <div
                    class="align-top d-flex flex-nowrap flex-row justify-content-start"
                  >
                    <div class="flex-grow-1 flex-shrink-0 mr-25 w-auto">
                      <svg
                        class="align-middle"
                        fill="none"
                        height="6"
                        viewBox="0 0 6 6"
                        width="6"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle cx="3" cy="3" fill="#509EE3" r="3"></circle>
                      </svg>
                    </div>
                    <p class="m-0 w-100">A custom build of Metabase</p>
                  </div>
                </li>
                <li class="mb-2 mb-lg-3">
                  <div
                    class="align-top d-flex flex-nowrap flex-row justify-content-start"
                  >
                    <div class="flex-grow-1 flex-shrink-0 mr-25 w-auto">
                      <svg
                        class="align-middle"
                        fill="none"
                        height="6"
                        viewBox="0 0 6 6"
                        width="6"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle cx="3" cy="3" fill="#509EE3" r="3"></circle>
                      </svg>
                    </div>
                    <p class="m-0 w-100">
                      <s>Data stored outside of the United States</s>. <i
                        >Metabase Cloud can now be hosted in the US, Europe,
                        Latin America, or Asia-Pacific!</i
                      >
                    </p>
                  </div>
                </li>
                <li class="m-0">
                  <div
                    class="align-top d-flex flex-nowrap flex-row justify-content-start"
                  >
                    <div class="flex-grow-1 flex-shrink-0 mr-25 w-auto">
                      <svg
                        class="align-middle"
                        fill="none"
                        height="6"
                        viewBox="0 0 6 6"
                        width="6"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle cx="3" cy="3" fill="#509EE3" r="3"></circle>
                      </svg>
                    </div>
                    <p class="m-0 w-100">
                      Or if you have specific regulations about how you run your
                      software (like HIPAA)
                    </p>
                  </div>
                </li>
              </ul>
            </div>

            <p class="m-0 mt-6 mt-lg-12">
              But if none of the above apply to you, Metabase Cloud will save
              you time, money, (maybe even tears).
            </p>
          </section>
        </div>

        <section
          class="bg-blue-99 m-0 mt-10 mt-lg-20 py-10 py-lg-15 border-card border-bottom-0"
        >
          <div class="container py4 mt4 mx-auto center-xs">
            <h3 class="fs-7 mb-6">
              Try Metabase Cloud<br class="d-md-none" /><span
                class="d-none d-md-inline">&nbsp;</span
              >14 days free
            </h3>

            <p class="mb-6 mx-auto mw--sm">
              Cloud-host your Metabase
              <a class="d-inline blue-link-hover text-bold" href="/pricing/"
                >on any plan</a
              >. For Pro and Enterprise, it's the same price as self-hosting.
            </p>

            <a
              class="btn btn-primary px-4 px-lg-5 py-3"
              href="https://store.metabase.com/checkout?deployment=cloud"
              id="get-started-btn-home"
            >
              Get started
            </a>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="light-blue-footer-container">
    <div class="bootstrap"></div>
  </div>
</Base>
