---
import Base from "../../layouts/Base.astro";
const title = "Log in to Metabase Cloud";
const description = "Log in to your Metabase Cloud instance";
const seo = {
  title: "Log in to Metabase Cloud",
  description: "Log in to your Metabase Cloud instance",
  canonical: "/cloud/login",
  og: {
    title: "Log in to Metabase Cloud",
    description: "Log in to your Metabase Cloud instance",
    url: "https://www.metabase.com/cloud/login",
    type: "article",
    site_name:
      "Metabase | Open source Business Intelligence and Embedded Analytics",
  },
  twitter: {
    site: "@metabase",
    title: "Log in to Metabase Cloud",
    description: "Log in to your Metabase Cloud instance",
    card: "summary",
    image: "https://www.metabase.com/images/twitter/default-share.png",
  },
};
---

<Base {title} {description} {seo}>
  <div class="no-overflow">
    <div id="Cloud-Login" class="flex justify-center align-center p2">
      <div id="Cloud-Login-Box" class="card"></div>
    </div>
  </div>
</Base>
